/* $Id$ - Black theme option for Milkyway */
body,
span.highlight {background: #333}
a:link, a:visited {color: #135cae}
a:hover {color: #0b3768}
table#main {background: #fff url(black/borderl.png) repeat-y;}
table#main > tbody {background: url(black/borderr.png) repeat-y 100% 0;}
td#leftborder {background: #2b2b2b url(black/borderl.png) repeat-y}
td#rightborder {background: url(black/borderr.png) repeat-y}
td#footer_td {background: url(black/footer_bottom.jpg) no-repeat 100% 100%;}
.footer {background: url(black/footer_bottom.jpg) no-repeat 0 100%;}
.footer_liner {background: url(black/footer_top.jpg) no-repeat 100% 0;}
.footerbgtrap {background: url(black/footer_top.jpg) no-repeat 0 0;}
.header {background: url(black/header.jpg) no-repeat 100% 0}
.header .wrapper {background: url(black/header.jpg) no-repeat}
.topbar_modules_container {background: url(black/topbar.jpg) no-repeat;
	background-position: right 0}
.topbar_modules_container > .wrapper {background: url(black/topbar.jpg) no-repeat;}
#Milkyway_topbar_menu .cssmenu_horiz li.menuLevel0 a:hover {background: /*#2b2b2b*/ url(black/mw_menu_active_bg.png) 0 0 repeat-x; color: #fff}
.bt {background: url(black/modbox.jpg) no-repeat 100% 0}
.bt div {background: url(black/modbox.jpg) no-repeat 0 0}
.bb {background: url(black/modbox.jpg) no-repeat 100% 100%}
.bb div {background: url(black/modbox.jpg) no-repeat 0 100%}
.i1 {background: url(black/modboxl.jpg) repeat-y 0 0}
.i2 {background: url(black/modboxr.jpg) repeat-y 100% 0}
.box-titlebottom {background: url(black/modboxtitlebottom.jpg) no-repeat 100% 0}
.box-titlebottom div {background: url(black/modboxtitlebottom.jpg) no-repeat 0 0}
.sf-sub-indicator {background: url(black/arrows-000.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only; */}

h3.box-title {
	background: #333333;
	color: #fff}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.submitbutton:hover,
.calbuttonBox:hover {
	background: /*#2b2b2b*/ url(black/mw_menu_active_bg.png) 0 0 repeat-x;
	color: #fff}

.adminanchors,
th,
td.heading,
tr.diffheader,
th a:link,
th a:visited,
td.heading a:link,
td.heading a:visited,
tr.diffheader a:link,
tr.diffheader a:visited {
	background: #333333;
	color: #fff
}

.tabmark a:hover,
.tabactive a:link,
.tabactive a:visited {
	background: url(black/mw_menu_active_bg.png) 0 0 repeat-x;
	color: #fff;
	text-decoration: none;
}