/* $Id$
	This TikiWiki CMS/Groupware file contains common design
	properties and, similar to lite.css and layout.css for
	layout properties, is to be imported by theme stylesheets.
*/

/***** XHTML Elements *****/
/* print mode only - to make sure print templates will use and print on seamless white bg color */
html#print {
	background: #fff;
	color: #000;
}

body.fullscreen {
	text-align: left;
	background: #fff;
}

/* FCKeditor contrast */
body.wikitext {
	background: #fff;
	color: #000;
}

fieldset {
	margin-bottom: 2px;
	padding: 0.3em;
}

/* margin and padding for span surrounding the "button" links, same definition for button form element */
button,
span.button,
span.button.highlight {
	margin: 1px 2px;
	padding: 2px;
}

span.button a,
span.button a:visited,
span.button a:hover,
span.button input,
.calbuttonBox a {
	padding: 1px 4px;
}

span#genPass span.button a,
span#genPass span.button a:visited,
span#genPass span.button a:hover {
	padding: 1px 4px !important;
}

input[type=reset],
input[type=submit],
input[type=reset]:hover,
input[type=submit]:hover {
	padding: 1px 4px;
	margin-right: 1px;
}

/* highlight on interface text to draw attention; also
highlight on "button" links, e.g. if there are some comments it highlights the "button" link in #page-bar under the content of the wiki pages */
.highlight,
span.button.highlight a {
	background: #FC0;
	color: #000;
}

/* Since button background is actually applied to the link within the button, apply button highlight to same bg area as normal button state . */
span.button.highlight {
	background: inherit;
}

/* Highlight effect is just visual distinction, so no need for block element. */
div.highlight {
	padding: 0 .3em;
}

input[type=checkbox],
input[type=radio] {
	border: 0;
}

/***** Site Header & Identity *****/

#header-top {
	position: relative;
}

#siteheader {
	background: transparent;
}

#customcodewith_ad {
	width: 400px;
}

#sitead.floatright {
	padding-right: 40px;
}

#sitead.floatleft {
	padding-left: 40px;
}

#sioptionscentered #sitead.floatleft {
	padding-left: 10px;
}

div#sitelogo img {
	margin: 1em;
}

#bannertopright {
	padding-right: 4px;
}

#sitelocbar {
	float: left;
	padding: 2px 2px 3px 10px;
}

#siteloginbar {
	text-align: right;
	position: absolute;
	bottom: 3px;
	right: 10px;
	font-size: 90%;
}

/* Center column */

.tellafriend {
	text-align: right;
}

a.flip,
a.flip:visited,
.tellafriend a,
.tellafriend a:visited,
a.flip:hover,
.tellafriend a:hover {
	font-size: 80%;
	text-decoration: none;
}

#power {
	font-size: .9em;
}

/****** Misc. Global Classes (layout and style) ****/

#edithelpzone code {
	font-size: 1.2em;
}

.attention {
	color: red;
}

.openid_url {
	background: #fff url(../../img/icons/login-OpenID-bg.gif) no-repeat;
	padding-left: 18px;
}

.bannertext {
	font-size: .95em;
	text-decoration: none;
}

div#debugconsole {
	background: #333;
	color: #fff;
	padding: 5px;
	border: 2px solid #aaa;
	font-size: 1em;
}
	
#debugconsole form {
	color: #dd6;
}

#debugconsole a {
	color: #ddd;
}

.cachedStatus,
.mini {
	font-size: .9em;
}

.prevnext {
	font-size: 1em;
	padding: 1px 6px;
}

#rss small {
	font-size: 1em;
}

/* For correct styling when RSS feed is put in botbar custom code */
#footer .rsslist {
	width: 190px;
	text-align: left;
	margin: auto;
}

.findtable {
  text-align: center;
  margin-bottom: 10px;
 }
 
.findtitle,
.findexactmatch,
.findnumrows,
.findtypes,
.findlang {
	margin: 0 1px;
}

.findtitle input {
	margin-left: 2px;
}

.findtable ul {
	list-style: none;
}

.alphafilter {
	display: block;
	margin: 10px 0;
	text-align: center;
}

.alphafilter a {
	font-size: 120%;
}

.alphafilter .highlight {
	font-weight: bold;
	font-size: 130%;
}

.top_actions {
	text-align: right;
	margin-top: 5px;
}

ul.categories {
	margin: 0;
	padding: 0;
}

ul.categories li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Todo: additional font family and bg color. */
.inline_syntax {
	font-family: "Lucida Console";
	color: #a52a2a;
}

/* New Toolbars */

.textarea-toolbar > div {
	background-color: #eee;
	border: #eee outset 1px;
}

.toolbars-picker {
	background: #fff;
	border: thin solid #000;
}

.toolbars-picker a {
	color: #000;
}

.toolbars-picker a:hover {
	background: #ccc;
	color: #000;
}

/* New Help section */

.help_fullscreen_icon {
	margin-right: 8px;
}

.help_close_icon {
	margin-right: 20px;
}

div.help_section_select {
	font-weight: bold;
	font-size: 120%;
	background: #e7e9ea;
	color: #000;
}

div.help_sections {
	padding:  2px;
	background: #aac9e9;
}

div.help_section {
	background: #eee;
	color: #000;
}
	
#site_report {
	text-align: center;
}

#site_report a {
	border-left: 1px solid #696969;
	border-right: 1px solid #696969;
	padding: 0 5px;
	font-size: smaller;
}

/* default look for editplugin icon links */
.editplugin {
	/*background: #fff; color: #000;*/
}
.plugin-desc {
	padding: 5px;
}

.plugin-sample {
	padding: 5px;
	font-family: monospace;
}

.plugin-sample .plugin-param {
	padding-left: 15px;
}

.plugin-form-float {
	background: white;
	color: black;
	padding: 10px;
	border: solid 2px black;
}

/***** Boxes *****/
/** Modules **/

.minichatdiv {
	font-size: .9em;
}
.box-switch_lang .box-data img.highlight {
	padding: .1em;
	border: .1em solid #f00;
}

.box-switch_lang .box-data span.highlight {
	border: .1em solid #f00;
}

.box-switch_lang li {
	list-style: none;
}

.box-switch_lang .box-data a.highlight {
	font-weight: bold;
}

.box-switch_lang ul {
	padding: 0 1em;
}

/* To display content without module-style background and border. */
.halffloat > div.box,
.wikitext .halffloat > div.box,
.thirdfloat > div.box,
.wikitext .thirdfloat > div.box,
.quarterfloat > div.box,
.wikitext .quarterfloat > div.box {
	background: none;
	border: none;
}

.cbox-title {
	padding: 3px 3px 0 3px;
}

.cbox-data {
	padding: 0 3px 3px 3px;
}

/* remarks boxes */

.rbox {
	margin: 1em .3em 2em .3em;
}
	
.rbox-title,
.rbox-data {
	padding: .3em .6em;
	border: 1px solid #000;
	background: #eee;
	color: #000;
}

.rbox-title {
	border-bottom-color: #eee;
	padding: 0.35em 0.9em 0.1em;
	font-weight: bold;
}
	
.comment .rbox-title,
.comment .rbox-data {}

.note .rbox-title,
.note .rbox-data {}

.tip .rbox-title,
.tip .rbox-data {}

.error .rbox-title,
.errors .rbox-title,
.warning .rbox-title {
	background: #ffc;
	color: #000;
	border-color: #f00;
	border-bottom-color: #ffc;
}

.error .rbox-data,
.errors .rbox-data,
.warning .rbox-data {
	background: #ffc;
	color: #000;
	border-color: #f00;
}

.error .rbox-data label {
	color: #000;
}

#error {
	background: yellow;
	color: red;
}

.warning a,
.warning a:link,
.warning a:visited {
	color: #b93c2e;
}

.simplebox {
	padding: 3px;
}

/* odd and even classes for tr, td, and li */
.odd {
	background: #f0f0f0;
	color: #000;
}

.even {
	background: #fff;
	color: #000;
}

/***** Tables, Tabs ****/
/** Tables **/

table.normal, 
table.admin {
	border-collapse: collapse;
}

td.normal,
.normal td,
.wikitable td,
.odd,
.even,
td.form,
.formcolor td,
.editblogform td {
	margin: 0;
	padding: 3px;
}

.normal td,
td.normal,
.wikitable td,
td.odd,
td.even {
	padding: 0.2em;
	border-collapse: collapse;
}
td.form {
	padding: 0.2em;
}

caption {
	font-weight: bold;
}

.numeric, td.numeric {
	text-align: right;
}
/** Tabs **/

.tabactive {
	border: solid 1px;
}

/***** Wiki *****/

#cachedpage {
	font-size: small;
}

body.tiki_wiki #comments {
	padding: 1em;
}

#wikihelp-tab table td {
	padding: 2px;
}

p.editdate {
	padding-bottom: 5px;
	padding-top: 10px;
	font-size: 0.9em;
	font-style: italic;
}

/* wikiplugin_fancylist */
.wikitext .fancylist {
	margin: .5em 0;
	padding: 0;
}

.wikitext .fancylist li {
	font: italic 2em Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 27px;
	list-style-position: inside;
	margin-left: 10px;
	padding: 6px 0 7px 15px;
}

.wikitext .fancylist li p {
	display: inline;
	font-size: 50%;
	font-style: normal;
	margin-left: 12px;
}

[class].wikitext .fancylist li p {
	margin-left: -3px;
}

/* wikiplugin remarksbox */
.wikitext .rbox-data ul {
	list-style-type: disc;
	margin-left: 15px;
	padding-left: 15px;	
}

/* wikiplugin tracker */
.mandatory_star {
	font-weight: bold;
	color: red;
}

.trackerplugindesc {
	color: #BEBCBC; font-style: italic
}

.charCount {
	color: #BEBCBC; font-style: italic
}

/* mouseover plugin */

.plugin-mouseover {
	background: #F5F5F5;
	border: 1px solid #bbb;
}

/* img plugin */
div.imgbox {
	    border: 1px solid #a9a9a9;
        background-color: #f9f9f9;
}

div.thumbcaption {
		font-size: 90%;
}

/* TOC */
ul.toc {
	padding-left: 2em;
	border-top: 1px dotted #a9a9a9;
	border-bottom: 1px dotted #a9a9a9;
	margin-bottom: 4px;
}

ul.toc * {
	border: none;
}

/* Wiki diff styles */
.diff td {
	border: 1px solid #696969;
}

.diff div {
	border-top: 1px solid #696969;
}

.diffbody {
	color: #000;
}

.diffadded {
	background: #ccffcc;
	color: #000;
	/*word-wrap:break-word;*/
	max-width: 400px;
}

.diffdeleted {
	background: #ffcccc;
	color: #000;
	text-decoration: line-through;
	/*word-wrap:break-word;*/
	max-width: 400px;
}

.diffinldel {
	background: #ffcccc;
	text-decoration: line-through;
}

.diffbody {
	background: #f2f4f5;
}

.diffchar {
	color: red;
}

.diffadded .diffchar {
	color: blue;
}

.plugin-desc {
	padding: 5px;
}

/***** Articles ****/

div.articlesource {
	margin-top: 5px;
	font-style: italic;
	font-size: 90%;
}

/***** Blogs *****/

div.breadcrumbs {
	font-size: 90%;
	font-style: italic;
}

div.blogdesc {
	padding: 8px;
	margin-top: 8px;
	margin-left: 6px;
}

div.blogtools {
	padding: 3px;
	text-align: right
}

a.blogt,
a.blog:visited {
	border: 0;
	text-decoration: none;
}

small.description {
	display: block;
}

/*body.tiki_blogs*/ .post .title {
	margin-top: 0;
}

/*body.tiki_blogs .post*/ .postfooter {
	margin-bottom: 2em;
}

/*body.tiki_blogs div*/.author_info {
	padding: 5px 0px 15px 0px;
}

/**** Image Galleries ****/

p.norecords {
	font-weight: bold;
}

div.imagetitle {
	font-weight: bold;
	font-size: 200%;
}

/***** File Galleries *****/

.opaque {
	border: 1px solid;
	background: #fff;
	color: #000;
}

.opaque .box-title {
	border-bottom: 1px solid;
	padding: 3px 3px 0 3px;
}

.opaque .box-data {
	padding: 0 3px 3px 3px;
}

/***** Trackers (etc.) *****/

div.multiselect li.odd,
div.multiselect div.odd {
	color: #000;
	background: #f4f6f7;
}

div.multiselect li.odd:hover,
div.multiselect div.odd:hover {
	background: #fff7e6;
}

div.multiselect li.even,
div.multiselect div.even {
	color: #000;
	background: #e7e9ea;
}

div.multiselect div.even:hover,
div.multiselect div.even:hover {
	background: #f0f2f3;
}

div.multiselect div.odd,
div.multiselect div.even {
	border: 1px solid #80b1e2;
}

div.multiselect div.selection {
	border: 1px solid #80b1e2;
	background: #fff;
}

/* transparent border added to keep content from shifting on hover */
div.multiselect,
div.multiselect div.selection {
	border: 1px solid transparent;
}

div.multiselect:hover,
div.multiselect div.selection:hover {
	border: 1px solid #80b1e2;
}

/***** Categories, Tags *****/

.catfeatures {
	font-weight: bold;
	list-style: none
}

.catfeatures li {
	text-transform: capitalize;
}

.catitems {
	margin-left: 15px;
	padding: 0;
	list-style: none;
}

.catitems li {
	margin-right: 7px;
}

/***** Tags (freetags) *****/

.freetaglist a {
	text-decoration: none;
}

.freetagitemlist div.type {
	font-weight: bold;
	font-size: 0.8em;
}

a.freetag,
a.freetag:hover {
	background: none;
	border: 0;
}

a.freetag_1 {
	text-decoration: none;
	font-size: .8em;
}

a.freetag_2 {
	text-decoration: none;
	font-size: .9em;
}
	
a.freetag_3 {
	text-decoration: none;
	font-size: 1em;
}

a.freetag_4 {
	text-decoration: none;
	font-size: 1.2em
}

a.freetag_5 {
	text-decoration: none;
	font-size: 1.4em;
}

a.freetag_6 {
	text-decoration: none;
	font-size: 1.6em;
}

a.freetag_7 {
	text-decoration: none;
	font-size: 1.8em;
}

.morcego_embedded {
	border: 1px solid;
	text-align: center;
}

/***** FAQs *****/

div.faqlistquestions {
	margin-bottom: 20px;
}

div.faqqa {
	margin-bottom: 20px;
}

div.faqquestion {
	font-weight: bold;
	padding: 2px 12px 0 12px;
}

div.faqanswer {
	padding: 0 12px 4px 12px;
}

/***** Quizzes *****/

div.questionblock {
	margin-bottom: 10px;
}

div.quizquestion {
	margin-bottom: 5px;
}

div.quizdescription {
	margin-bottom: 10px;
}

div.quizanswer {
	margin-bottom: 10px;
}

/***** Shoutbox *****/

div.shoutboxmsg {
	margin-bottom: 0;
	padding: 4px;
	padding-bottom: 1px;
}

div.shoutboxmodmsg {
	font-size: .95em;
	margin: 0 5px 4px 5px;
	padding-top: 5px;
	padding-bottom: 1px
}

textarea.tshoutbox{
	font-size: .95em;
	width: 90%;
}

/***** Directory *****/

div.dircategs {
	font-size: 95%;
}

.dirsublink {
	font-size: .95em;
}

div.dirsite {
	margin-bottom: 10px;
	padding: 4px;
}

span.dirsitetrail {
	font-size: 95%;
}

span.dirsitecats {
	font-size: 95%;
}

/***** Messages *****/

td.prio1,
td.prio2,
td.prio3,
td.prio4,
td.prio5 {
	border: 1px solid #a9a9a9;
	padding-left: 2px;
}

td.prio1 {
	background: #f7f9ca
}

td.prio2 {
	background: #f7f9ea;
}

td.prio3 {
	background: #f7f9fa;
}

td.prio4 {
	background: #f7f9fd;
}

td.prio5 {
	background: #f7f9ff;
}

div.messureadflag {
	background: #a9a9a9;
	padding-left: 5px;
}

div.messureadhead {
	background: #dcdcdc;
	margin-top: 2px;
}

div.messureadbody {
	margin-top: 5px;
	background: #dcdcdc;
}

.readlink {
	font-size: .95em;
	color: black;
}

/***** Admin *****/

.highlight_word_0 {
	color: #ffff66;
	background: #666;
}

.highlight_word_1 {
	color: #ff9999;
	background: #666;
}

.highlight_word_2 {
	color: #a0ffff;
	background: #666;
}

.highlight_word_3 {
	color: #ff66ff;
	background: #666;
}

.highlight_word_4 {
	color: #99ff99;
	background: #666;
}

/* Bullet on list items look inappropriate here. */
.tiki_admin .note .rbox-data li.even,
.tiki_admin .note .rbox-data li.odd {
	list-style: none;
}

/* admin boxes etc (.admbox) now defined in css/admin.css */

td.mods_revision {
	background: #b5cfb5;
	color: #000;
}

td.mods_update {
	background:#dcdeac;
	color: #000;
}

/* Cluetip - JQuery tooltips
   =cluetipClass: 'default' */

.cluetip-default {
	background: #bed8f1;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #bed8f1;
}
.cluetip-default h3#cluetip-title {
	background: #1b3a50;
	color: #fff;
	font-weight: bold;
}

.cluetip-default #cluetip-title a {
	color: #bed8f1;
	font-size: 0.95em;
}
  
.cluetip-default #cluetip-inner {
	padding: .9em;
}

div#cluetip-close { 
	background: #fff;
	color: #900;
}
	
.cluetip-fullhtml {
	margin: 0;
	padding: 0;
}

/* webmail & groupmail */
.webmail_item {
	font-size: .9em;
	border: #999 solid 1px;
	margin: 1px 0;
	padding: 0 1px;
}

.webmail_refresh_message {
	font-size: .8em;
}

.webmail_list .odd {
	background: #eee;
}

.webmail_list .button {
	background: #fff;
	border: 1px solid #666;
	padding: 0 2px;
}

.webmail_list .webmail_read {
	background: #aaa;
}

.webmail_list .webmail_replied {
	background: #888;
}

.webmail_list .webmail_taken {
	border: #900;
	color: #900;
}

.webmail_message {
	background: #fff;
}

.webmail_mono {
	font-size: 1.1em;
	font-family: "Courier New", Courier, monospace;
}

table.webmail_message_headers {
	background: #fff;
	width: 100%;
	padding: 0 5em .5em 0;
}

table.webmail_message_headers th {
	font-style: italic;
	text-align: right;
	border: none;
	background: transparent;
}

/* treeTable definitions - used in object-perms so far */

table.treeTable .checkBoxHeader {
	font-size: .8em;
}

table.treeTable .subHeader td {
	font-weight: bold;
}

table.treeTable .parent td {
	font-style: italic;
}

/* jq tablesorter */
.fancysort th.headerSortUp {
	background-repeat: no-repeat; background-position: right; background-image: url(../../pics/icons/resultset_up.png) !important;
}
.fancysort th.headerSortDown {
	background-repeat: no-repeat; background-position: right; background-image: url(../../pics/icons/resultset_down.png) !important;
}
.fancysort th.header {
	background-repeat: no-repeat; background-position: right; background-image: url(../../pics/icons/resultset.png);
}

 /* wikiplugin_tracker */
.mandatory_note {
	font-style: italic;
	color: red;
	margin-top: 10px;
}

#intertrans-indicator {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 40px;
	background-color: #add8e6;
}

#intertrans-form {
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
	overflow: auto;
	background-color: #90ee90;
	display: none;
	z-index: 2000;
}
#intertrans-form table {
	width: 98%;
}
#intertrans-form input {
	width: 100%;
}
.popup-backlinks {
	display: none;
	width: 100px;
}
 /* wikiplugin_tracker */
.trackerCategoryName {white-space:nowrap;}
/* End of file */

dl.note-list {
	padding: 5px;
	margin: 5px;
	background: white;
	color: black;
	border: solid thin black;
}
#captchaImg {
	border: 1px solid black;
}