/* $Id $ */

a.admbox {
	border : 2px solid #89d;
	height : 100px;
	width : 100px;
	text-align : center; 
	vertical-align : middle;
	overflow : hidden;
	float : left; 
	margin : 5px; 
	background-color: #9fff9f; background-position: center; background-repeat: no-repeat;
	padding : 0;
	padding-top: 0px;
	position: relative;
	text-decoration : none;
}
a.admbox img { 
	border: none; margin-top : 0px; width: 100px; height: 100px; position: absolute; top: 0; left: 0;
	z-index: 0;
}
a.admbox span { 
	position: absolute; bottom: 0; left: 0; width: 100%; margin-bottom: 1px;
}

a.admbox.off {
	/*background-color : #d0d0d0; */
	border : 2px solid #9f9f9f;
	color: #9f9f9f;
}
a.admbox.off img {
	background-image: url('../pics/overlay-disabled_item.png');
}
a.admbox:hover, a.admbox:focus, a.admbox:active {
	background-color: #9fff9f;
	padding : 0;
	margin : 5px;
	border : 2px solid #c00;
	color: #000;
}
a.admbox.off:hover, a.admbox.off:focus, a.admbox.off:active {
	border : 2px solid #9f9f9f;
	color: #333;
}

/* classes for admin preferences UI */
.adminoptionbox {
/*overall box */
	clear:both;
	padding: 0.5em;
	text-align:left;
	}
	
.adminoptionbox label, .adminoptionlabel {
/* text label and text field */
	text-align: left;
	}

.adminoptionbox label.above {
	display: block;
}

.adminoptionbox .checkbox, .adminoption {
/*check box */
	display: block;
	float:left;
	margin-right:1em;
	}

.adminoptionboxchild {
/*sub options */
	margin-left:3em;
	clear:both;
	}

.admin input.fullwidth {
	width: 100%;
}

.half_width {
	width: 49%;
	float: left;
	text-align: left;
}

.width_40em {
	width: 40em;
}

.width_30em {
	width: 30em;
}

.admin2cols label {
	display: block;
	float: left;
	min-width: 20%;
}

.admin legend img, .admin label img {
	margin-left: 1em;
	vertical-align: middle;
}

.admingroup {
	border: #aaa 1px solid;
	margin-bottom: .5em;
}

.q1 {
	min-width: 20%;
	display: block;
	float: left;
	clear: none;
	vertical-align: middle;
}
.q234 {
	min-width: 75%;
	float: left;
	clear: none;
}

div.adminanchors a {float: left}