/* $Id$ */

a.admbox {
	height: 100px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	float: left;
	margin: .4em;
	border: 1px #666 solid;
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	position: relative;
	text-decoration: none;
	color: #333;
}

a.admbox:hover,
a.admbox:focus,
a.admbox:active {
	border: 1px solid #333;
	background-color: #aaa;
	color: #fff;
}

a.admbox span { 
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: .1em;
}

a.admbox.off {
	border: 1px solid #a9a9a9;
	color: #9f9f9f;
}

a.admbox.off:hover,
a.admbox.off:focus,
a.admbox.off:active {
	border: 1px solid #a9a9a9;
	color: #666;
}

a.admbox.off img {
	border: none;
	margin-top: 0px;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../pics/overlay-disabled_item.png');
	opacity: .5;
}
/* Look & feel thumbnail */

#style_thumb_div {
	text-align: center;
}

.featurelist .adminoptionbox {
	float: left;
	width: 47%;
}

/* classes for admin preferences UI */
.adminoptionbox {
/*overall box */
	padding: 0.5em;
	text-align: left;
}
	
.adminoptionbox label, .adminoptionlabel {
/* text label and text field */
	text-align: left;
}

.adminoptionbox label.above {
	display: block;
}

.adminoptionbox .checkbox, .adminoption {
/*check box */
	display: block;
	float: left;
	margin-right: 1em;
}

.adminoptionboxchild {
/*sub options */
	margin-left:3em;
	clear:both;
	}

.admin input.fullwidth {
	width: 100%;
}

.half_width {
	width: 49%;
	float: left;
	text-align: left;
}

.width_40em {
	width: 40em;
}

.width_30em {
	width: 30em;
}

.admin2cols label {
	display: block;
	float: left;
	min-width: 20%;
}

.admin legend img, .admin label img {
	margin-left: 1em;
	vertical-align: middle;
}

.admingroup {
	border: #aaa 1px solid;
	margin-bottom: .5em;
}

.q1 {
	min-width: 20%;
	display: block;
	float: left;
	clear: none;
	vertical-align: middle;
}
.q234 {
	min-width: 75%;
	float: left;
	clear: none;
}

.adminanchors a {float: left;}

/* from ui-revamp branch, via coe branch - jb july 2009 */

.toolbars-admin .full {
	border: solid thin gray;
	float: left;
	height: auto;
	max-height: 400px;
	min-height: 16px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
}

.toolbars-admin .lists {
	padding: 1em 2em 1em 0;
	float: left;
	width: 28%;
	min-height: 10em;
}

.toolbars-admin .rows {
	width: 100%;
	float: left;
	clear: both;
	padding: 1em 2em 1em 0;
}

.toolbars-admin .selectDiv {
	float: left;
	clear: left;
}

.toolbars-admin .li {
	display: block;
	white-space: nowrap;
}
.toolbars-admin .full li {
	white-space: nowrap;
	padding: .1em .5em;
	overflow: hidden;
	border-top: 1px #eee solid;
	border-bottom: 1px #ccc solid;
}

.toolbar img.icon {
	vertical-align: middle;
	margin-right: 4px;
}

.toolbars-admin .toolbar {
	cursor: pointer;
	height: 1.5em;
	line-height: 1.2em;
}

.toolbars-admin .rows .row {
	width: 95%;
	min-height: 20px;
	min-width: 500px;
	overflow-y: hidden;
	overflow-x: hidden;
	border: solid thin gray;
	margin: 0;
	padding: 2px 4px 0;
	white-space: nowrap;
}

.toolbars-admin .rows .row-right {
	float: right;
	border: none;
	padding: 0;
	min-width: 16px;
	width: auto;
}

.toolbars-admin ul.full {
	list-style-type: none;
	display: inline;
	padding-left: 0pt;
	width: 100%;
}

.toolbars-admin .row li.toolbar {
	list-style-type: none;
	float: left;
}

.toolbars-admin .row li.toolbar > span {
	display: none;
}

.toolbars-admin .row li.qt-plugin {
	width: auto;
	background-color: #d4e483;
	margin: 0 6px 0 0;
	padding: 2px 0px 2px 3px;
	color: #030;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
}

.toolbars-placeholder, .placeholder {
	width: 18px;
	height: 18px;
	list-style-type: none;
	background-color: #ff0;
	float: left;
}

.qt-wys {
	font-style: italic;
}

.qt-wiki {
	font-weight: bold;
}

.qt-custom {
	background-color: #ff9;
}

.qt-noaccess {
	opacity: .4;
}

#toolbar_edit_div {
/*
	z-index: 2;
	float: left;
	position: absolute;
	top: 10px;
	left: 0;
	background-color: #fff;
	padding: 0 .5em .5em;
*/
}
#toolbar_edit_div label, #toolbar_edit_div input, #toolbar_edit_div select { display:block; }
#toolbar_edit_div input, #toolbar_edit_div select { clear: right; }
#toolbar_edit_div input.text { margin-bottom:12px; width:95%; padding: .4em; }
#toolbar_edit_div fieldset { padding:0; border:0; margin-top:25px; }

#toolbar_edit_div .adminoptionbox {
	text-align: right;
}

.assigned_modules {
	padding: 1em 2em 1em 0;
	width: 40%;
	min-height: 10em;
}

/* end from ui-revamp branch */

.module-placeholder {
	width: 160px;
	minHeight: 40px;
	list-style-type: none;
	background-color: #ff8;
	border: #884 2px solid;
	margin: 10px;
	padding: 10px;
}

#module_list li {
	list-style-image: url("../pics/icons/module.png");
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

