@import url("calendar.css");

div#header, 
div#col2, 
div#errors,
div#loadstats,
span#show-errors-button,
div.tabrow {
  display : none !important;
} 

#c1c2 #wrapper .marginleft {
	margin-left: 0 !important;
}

#middle {
	padding: 0 !important;
}
