@import url("calendar.css");

#header, 
#col2, 
#errors,
#loadstats,
#show-errors-button,
.tabrow {
  display : none !important;
} 

#c1c2 #wrapper .marginleft {
	margin-left: 0 !important;
}

#middle {
	padding: 0 !important;
}
