/** CSS (suckerfish) menus **/
.cssmenu,
.cssmenu ul,
.cssmenu_horiz,
.cssmenu_horiz ul,
.cssmenu_vert,
.cssmenu_vert ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	overflow: visible}

.cssmenu ul,
.cssmenu li,
.cssmenu_horiz li,
.cssmenu_vert,
.cssmenu_vert ul,
.cssmenu_vert li {width: 11em}

.cssmenu li,
.cssmenu_horiz li,
.cssmenu_vert,
.cssmenu_vert li,
.cssmenu_vert ul,
.cssmenu_vert ul li {float: left}

/* helpful for ie6 */
.cssmenu li,
.cssmenu_horiz li,
.cssmenu_vert li {
	position: relative;
	height: 100%;
	list-style: none}
	
.cssmenu_horiz li:hover,
.cssmenu_vert li:hover {/*background: #dedede*/}

.cssmenu ul,
.cssmenu_vert ul,
.cssmenu_horiz ul {
	position: absolute;
	left: -999em;
	z-index: 751}

.box-CSS_menu .box-data .cssmenu_vert li ul,
.cssmenu_vert li ul,
.cssmenu_vert li.sfhover ul { /* second-level lists */
	margin-left: 11em;
	margin-top: -1.35em;
	/*padding-bottom: 1px; enable border to show */}

/*.cssmenu li ul ul {left: -999em}*/

.cssmenu_vert li:hover ul ul {z-index: 752}	/* z-indexes needed at ui-revamp to prevent hidden dropdowns */
.cssmenu_horiz li ul ul {margin: -1em 0 0 10em}

/* dropdown menu hide-display */
.cssmenu li:hover ul ul,
.cssmenu li:hover ul ul ul,
.cssmenu_horiz li:hover ul ul,
.cssmenu_horiz li:hover ul ul ul,
.cssmenu_vert li:hover ul ul,
.cssmenu_vert li:hover ul ul ul,
.cssmenu li.sfhover ul ul,
.cssmenu li.sfhover ul ul ul,
.cssmenu_horiz li.sfhover ul ul,
.cssmenu_horiz li.sfhover ul ul ul,
.cssmenu_vert li.sfhover ul ul,
.cssmenu_vert li.sfhover ul ul ul {left: -999em}

.cssmenu li:hover ul,
.cssmenu li li:hover ul,
.cssmenu li li li:hover ul,
.cssmenu_horiz li:hover ul,
.cssmenu_horiz li li:hover ul,
.cssmenu_horiz li li li:hover ul,
.cssmenu_vert li:hover ul,
.cssmenu_vert li li:hover ul,
.cssmenu_vert li li li:hover ul,
.cssmenu li.sfhover ul,
.cssmenu li li.sfhover ul,
.cssmenu li li li.sfhover ul,
.cssmenu_horiz li.sfhover ul,
.cssmenu_horiz li li.sfhover ul,
.cssmenu_horiz li li li.sfhover ul,
.cssmenu_vert li.sfhover ul,
.cssmenu_vert li li.sfhover ul,
.cssmenu_vert li li li.sfhover ul {left: auto}

/* li hover bg color */
.cssmenu li ul,
.cssmenu_horiz li ul,
.cssmenu_vert li ul {
	/*border: 1px solid #acccdd;*/
	background: #fff}

/* selected and selected ascendant */
.cssmenu > li.selected,
.cssmenu_horiz > li.selected,
.cssmenu_vert > li.selected {font-style: italic}

.cssmenu li.selected li,
.cssmenu_horiz li.selected li,
.cssmenu_vert li.selected li {font-style: normal}

.cssmenu li.selectedAscendant,
.cssmenu_horiz li.selectedAscendant,
.cssmenu_vert li.selectedAscendant {/*font-weight: bold*/}

/* link styles */
.cssmenu a,	
.cssmenu_horiz a,
.cssmenu_vert a {
	text-decoration: none;
	display: block;
	padding: 3px 3px 3px 6px}
	
* html .cssmenu a,	
* html .cssmenu_horiz a,
* html .cssmenu_vert a {}

.cssmenu a:hover,
.cssmenu_vert a:hover,	
.cssmenu_horiz a:hover {/*color: darkviolet*/}

* html .cssmenu li ul a {background: none}

/* Top-item (menuSection) link background arrow img */
.cssmenu_vert .menuSection > a,
.cssmenu_vert .menuSection > a:hover,
.menuSection1 > a,
.menuSection2 > a,
.menuSection3 > a {background: url(../lib/phplayers/images/forward-galaxy.png) 94% center no-repeat !important}

.cssmenu_horiz .menuSection0 > a {background: url(../lib/phplayers/images/down-galaxy.png)  85% 65% no-repeat}

div#col2,
td#leftcolumn {overflow: visible !important}

.box-data .cssmenu_vert {z-index: 750}

#header .cssmenu_horiz {
	z-index: 800;
	position: relative}

#header .cssmenu_horiz {}
#header .cssmenu_horiz > li {}
#header .cssmenu_horiz > li > a {}
#header .cssmenu_horiz > li > a:hover {}
#header .cssmenu_horiz li:hover {}
#header ul.cssmenu_horiz li ul a {}
#header .cssmenu_horiz ul li a:hover {}

/* Special case in left column (to adjust menu width to column width)
.box-CSS_menu .cssmenu_vert,
.box-CSS_menu .cssmenu_vert > li { width: 172px }

.box-CSS_menu .cssmenu_vert li { padding:0 }
.box-CSS_menu .cssmenu_vert > li > ul > li > ul {margin-left: 9em }
.box-CSS_menu .cssmenu_vert > li > ul {margin-left: 172px}
.box-CSS_menu .cssmenu_vert li:hover { background: #b2b2b2 }
.box-CSS_menu .cssmenu_vert li:hover > a { color: #303030 }
*/
* html h3.box-title {position: static}