div.upspantext { position: absolute !important; }
form.upform { width: 100px; }
.cssmenu ul li {float: left; width: 100% }
.cssmenu h2, .cssmenu li {height: 1%}
.cssmenu a, .cssmenu h2 {font: bold 1em/1.4em arial, helvetica, sans-serif;}
.cssmenu { border-bottom: 1px solid #bbb}

.box a.flipmodtitle img { position: static !important; }

/* prevent css menu dropdowns from displaying under tabs and tab content */
.tabs,
.tabactive,
.tabinactive {position: static}
	
.tabcontent {z-index: none; position: static; margin-top: 2.4ex;}

/* IE6 doesn't do position fixed, override with absolute */
.plugin-form-float { position: absolute; width: 90%; }
