/* Layout, etc. styles for IE6 */
.findtable input {
	font-size: 1em;
}

span.button a:link,
span.button a:visited {
	text-decoration: none;
	border: 0;
	padding: 0 4px
}

#header-top {
	height: 1%;
}

#sitetitle {}

#tiki-top {
	font-size: 11px;
}

div.upspantext {
	position: absolute !important;
}

form.upform {
	width: 100px;
}
/*
.cssmenu ul li {
	float: left;
	width: 100%;
}

.cssmenu h2,
.cssmenu li {
	height: 1%;
}

.cssmenu a,
.cssmenu h2 {
	font: bold 1em/1.4em arial, helvetica, sans-serif;}

.cssmenu {
	border-bottom: 1px solid #bbb;
}
*/
#tiki-center {
	font-size: 1em;
}

h3.box-title {
	position: static;
	padding-right: 18px;
}

.moduleflip,
.wikitext .box-title span img.flipmodimage {
	position: static;
	float: right;
	margin-top: -16px;
}

.box a.flipmodtitle img {
	position: static !important;
}

.moduleflip {
	display: block !important;
}

img.flipmodimage {
	border: none;
}

.box-data table {
	width: 95%;
}

.box-data ol {
	margin-left: 0;
}

.box-data ul {
	margin-left: 1em;
}

.box-data ul {
	padding-left: .5em;
}

table.normal, 
table.admin {
	width: 97%;
	font-size: 11px;
}

table.normal td,
table.admin td {
	font-size: 11px;
}

/* prevent css menu dropdowns from displaying under tabs and tab content */
.tabs,
.tabactive,
.tabinactive {
	position: static;
}
	
.tabcontent {
	z-index: none;
	position: static;
	margin-top: 2.4ex;
}

.wikiactions .icons,
.wikiactions form {/*display: inline*/}

/* IE6 doesn't do position fixed, override with absolute */
.plugin-form-float {
	position: absolute;
	width: 90%;
}

div#tikihelp {
	position: absolute;
}

.bloginfo table {}
	
.post .postbody {}
.postbody table {}

table.galtable {
	width: 97%;
}

.fckeditzone {
	width: 510px;
}
/* End of file */