div#adminBar {
	width:100%;
	background: url("../img/gradient2.png");
	background-color: #99CCDD;
	font-size: 0.75em;
}

div#adminBar a {
	text-decoration: none;
	color: #666;
	font-weight: normal;
}

div#adminBar ul.topLevelAdmin li {
/*	22/09/08 MatWho Quick hack, changed this to make it neat in Safari */
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

ul.topLevelAdmin {
	margin:0px;
/*	22/09/08 MatWho Quick hack, changed this to make it neat in Safari, the 1px padding makes it work ok in IE */
	padding:1px 5px 0px 5px;
	border-bottom:1px solid rgb(60,118,214);
}

ul.topLevelAdmin li {
	display: inline;
	list-style-type: none;
/*	22/09/08 MatWho Quick hack, changed this to make it neat in Safari */
	padding:0px 8px 0px 8px;
}

ul.topLevelAdmin li.current {
/*	background-color: #B5DAE6; */
	background-color: rgb(170,211,226);
	border:1px solid rgb(60,118,214);
	border-bottom:1px solid rgb(170,211,226);
}
div#adminBar ul li.current a  {
	color: white;
}

ul.secondLevelAdmin {
	margin:0px;
	padding:5px;
	background: url("../img/gradient4.png");
/* 22/09/08 MatWho Quick hack, commented this out to make 2nd bar legible in Safari
	background-position-y: 20px; */

/*	background-color: #B5DAE6; */
}

ul.secondLevelAdmin li {
	display: inline;
	list-style-type: none;
	padding:5px;
}

ul.topLevelAdmin li.configureThis {
	background: url("../img/gradient3.png");
}

ul.secondLevelAdmin li.special {
	background: url("../img/gradient3.png");
}

#magicPanel label {
	display:inline
}
.formLabel {
	padding:3px;
}
.flag {

}
.featureLabel {
	display:inline;
	font-size: 0.8em;
	font-weight: normal;
	color: #bbb;
}
h4.feature {
	float:left;
	color:#fff;
	padding:5px;
}

div.featureHeader {
	background-color:#032936;
	margin:0px 0px 10px 0px;
	clear:both;
}

div.featureHeader a.goLink {
	background-color: green;
	color:#999;
	font-weight: normal;
	display: block;
	float: right;
	height: 100%;
}

h3.configSection {
	padding:20px 3px 0px 3px;
	width:30%;
	text-align: left;
	float:left;
	clear:both;
}

tr h4 {
	display:inline; 
	color:white;
}

.featureHeading.enabled td {background-color: #032936;}
.featureHeading.disabled td {background-color: #555;}

.subfeatureHeading.enabled td {background-color: #37555F;}
.subfeatureHeading.disabled td {background-color: #777;}

.configurationgroupHeading td {background-color: #37555F;}
.systemHeading td {background-color: #37555F;}
.containerHeading td {background-color: #37555F;}

tr.featureHeading td {vertical-align: middle; padding:5px;}
.enabled td.goLink {width:100px; background-color: #19422A; text-align: right; }
a.goLink {color:white; text-decoration: none;}
td.featureName {width:200px;}
td.featureEnabled {width:100px;}
td.useDefault {width:100px;}
td.featureHelp {width:100px;}
td.featureHelp a {text-decoration: none; color:white;}
tr > .tip {
	border-top:1px solid #777; 
	border-bottom:1px solid #777;
	background-color: #ccc;
	padding:2px;
}

table.configTable {clear: both;}
table.configTable td {padding:3px;} 
table.configTable tr.setting td {padding:3px 3px 10px 3px;}

div.configSetting {
	clear:both;
}

#magicPanel hr {
	clear:both;
}
#magicPanel .iconbar {
	float:right;
}

#masterFeatureList li {color: #777;}
#masterFeatureList li.container, #masterFeatureList li.configurationgroup {color:black;}
#masterFeatureList li.feature {color:#77F;}
#masterFeatureList li.system {color:#7F7;}
#masterFeatureList li.functionality {color:#F77;}

sub {display:none;}