@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
/* Readable theme newsletter stylesheet */
.margin-bottom-xs {
  margin-bottom: 6px;
}
.margin-bottom-sm {
  margin-bottom: 11px;
}
.margin-bottom-md {
  margin-bottom: 22px;
}
.margin-bottom-lg {
  margin-bottom: 44px;
}
body {
  background: #ffffff;
  color: #333333;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 15px;
}
a,
a:visited {
  color: #4582ec;
  text-decoration: underline;
}
a:hover {
  color: #134fb8;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: inherit;
}
.panel {
  margin-bottom: 22px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #ffffff;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-default {
  border-color: #dddddd;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
.panel-primary {
  border-color: #4582ec;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #4582ec;
  border-color: #4582ec;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #4582ec;
}
.panel-primary > .panel-heading .badge {
  color: #4582ec;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #4582ec;
}
.panel-success {
  border-color: #3fad46;
}
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #3fad46;
  border-color: #3fad46;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #3fad46;
}
.panel-success > .panel-heading .badge {
  color: #3fad46;
  background-color: #ffffff;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #3fad46;
}
.panel-info {
  border-color: #5bc0de;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #5bc0de;
}
.panel-info > .panel-heading .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #5bc0de;
}
.panel-warning {
  border-color: #f0ad4e;
}
.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #f0ad4e;
}
.panel-warning > .panel-heading .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #f0ad4e;
}
.panel-danger {
  border-color: #d9534f;
}
.panel-danger > .panel-heading {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d9534f;
}
.panel-danger > .panel-heading .badge {
  color: #d9534f;
  background-color: #ffffff;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d9534f;
}
