/* Version of TheNews theme for TikiWiki CMS/Groupware,
   with narrower left column and wider right column.
 * License: GNU/LGPL. */

#c1c2 #wrapper .marginleft {margin-left: 160px}
#c1c2 #wrapper .marginright {margin-right: 316px}

#c1c2 #col2 {
	width: 160px;
	overflow: hidden}

#col3 {
	margin-left: -316px;
	width: 316px}
	
* html #col2 .box {width: 158px}
* html #col3 .box { width: 300px}
	
/* left column width */
#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 130px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 130px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}