/* IE6 CSS rules for Smooth theme, TikiWiki CMS/Groupware  */

#header {}
#header-top {
	position: static;
}
#siteheader {
	height: 120px;
}
.wikitopline select {font-size: .9em}
#siteloginbar {position: static; float: right; margin-right: 40px}

#sitetitles {
	height: 5em;
}
	
#sitesubtitle {
	margin-top: 18px;
}

input[type=reset],
input[type=submit] {
	background: #7FE63C url(smooth/img05.gif) repeat-x 0 100%;
	color: #fff;
	border: 0;
	font-weight: bold}
	
.findtable input {font-size: 1em}

.horbaritem a {font-size: .8em}
#tiki-center {font-size: 1em}

#col2 .cssmenu_vert {
	margin-left: -1em;
	padding-left: 0;
	width: 150px;

}

.bloginfo table,	
.post .postbody,
.postbody table {font-size: 11px}

.addevent,
.calodd,
.caleven,
.caldark {padding: 0}