{
	"name": "tiki/tiki-custom",
	"description": "Tiki Wiki CMS Groupware",
	"license": "LGPL-2.1",
	"homepage": "https://tiki.org",
	"minimum-stability": "stable",
	"require": {
	},
	"config": {
		"process-timeout": 5000,
		"bin-dir": "bin"
	}
}
