/* $Id$ 
	Kiwi theme option for FiveAlive theme for
	TikiWiki CMS/Groupware.
*/

#header-top {
	background: url(kiwi/siteheader.png) no-repeat -250px 0
}

a,
a:visited,
tr.even a,
tr.even a:visited,
tr.odd a,
tr.odd a:visited {
	color: #638637;
}

a:active,
a:hover,
tr.even a:active,
tr.even a:hover,
tr.odd a:active,
tr.odd a:hover {
	color: #baba25;
}

fieldset {
	border: 1px solid #638637;
}

hr {
	color: #bcb923;
	background: #bcb923;
}

#header {
	background-image: url(kiwi/siteheadertile.png);
}

#top_modules {
	background: url(kiwi/siteheader.jpg) 0 0 no-repeat;
}

#sitetitle,
#sitesubtitle {
	text-shadow: #648637 3px 2px 0;
}

#footer .container {
	border-top: 1px solid #ebdc14;
	border-bottom: 1px solid #ebdc14;
}

#footer h3 {
	border-bottom: 1px dotted #ebdc14;
}

#loadstats {
	background: #ebdc14;
	color: #000;
}

#power a {
	color: #ebdc14;
}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.calbuttonBox a,
#genPass .button a,
#genPass .button a:visited,
.daterow {
	color: #fff;
	background: #bcb923;
	border-color: #f0e884 #b2a713 #b2a713 #f0e884;
	font-weight: bold;
}
	
.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.calbuttonBox:hover,
#genPass .button a:hover,
.daterow:hover {
	background: #baba25;
	border-color: #b2a713 #f0e884 #f0e884 #b2a713;
}

.highlight,
.button.highlight a,
.calfocuson {
	border: #f5fb86;
	color: #638637;
	background: #d4f9d5;
}

.button.highlight a {
	background: #f8f9d4;
	color: #638637;
}

.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
#header .cssmenu_horiz li ul a,
#header .cssmenu_horiz li:hover ul a  {
	background: #658838;
}

.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
#header .cssmenu_horiz li ul a:hover  {
	background: #e1d518;
}

#header .cssmenu_horiz li.selected a,
.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	color: #f0e884;
}

#header .cssmenu_horiz li.selected li a,
.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff;
}

.cssmenu_vert .sf-sub-indicator {
	background: url(kiwi/arrows-638637.png) no-repeat 10px 0;
}

select,
input[type="text"],
input[type="password"],
input[type="file"],
input#login-pass,
textarea,
.adminoptionbox option  {
	background: #f8f9d4;
	border-color: #f5fb86 #fbfbee #fbfbee #f5fb86;
}

.titlebar,
.rbox-title, 
.rbox-data {
	border: #bcb923;
	background: #f5f6c1;
	color: #648637;
}

.cbox {
	background: #f5f6c1;
	color: #648637;
}

.cbox-title {
	border-bottom: 3px solid #bcb923;
}

.simplebox {
	border: 2px solid #bcb923;
}

.adminanchors {
	background: #bcb923;
}

.normal,
.wikitable {
	border: 2px solid #dbd11a;
}

th,
td.heading,
tr.diffheader,
.calHeading,
.weeks {
	background: #dbd11a;
	color: #f8f9d4;
}

.calodd,
.caleven,
.wikicell {
	border: 2px solid #f5f6c1;
}

.odd,
.calodd {
	background: #f0e884;
}

.even,
.caleven {
	background: #f8f9d4;
}


.tabmark {
	border: 1px solid #f0e884;
	background: #baba25;
}

.tabmark a {
	color: #fff;
}

.tabinactive:hover,
.tabactive {
	border: 1px solid #f0e884;
	background: #ece7a8;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #648637;	
}

.tabcontent,
form.admin fieldset,
#siteloginbar_popup .cssmenu_horiz ul li {
	background: #ece7a8;
}

/* Quote plugin */
.quoteheader {
	border-bottom: 2px solid #f5f6c1;
}

.quotebody {
	border-left: 8px solid #f5f6c1;
}

.postbody-title {
	background: #e1d518 url(kiwi/siteheader.png) -550px -90px no-repeat;
}

.post .author,
.dirsite {
	background: #f5f6c1;
}

/* cluptip tooltips */

.cluetip-default {
	background: #F8F9D5;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #F8F9D5;
}
.cluetip-default h3#cluetip-title {
	background: #baba25;
	color: #fff;
}

.cluetip-default #cluetip-title a {
	color: #F8F9D5;
}
  
