/* $Id$ 
	Kiwi theme option for FiveAlive theme for
	TikiWiki CMS/Groupware.
*/
body {
	background: #fff url(kiwi/body.png) no-repeat 50% 0;
}

a:link,
a:visited {
	color: #638637;
}

a:active,
a:hover {
	color: #baba25;
}

fieldset {
	border: 1px solid #638637;
}

#sitetitle,
#sitesubtitle {
	text-shadow: #648637 3px 2px 0;
}

#footer {
	background: #597831;
	color: #f0e884;
}

#footer a,
#footer a:visited {
	color: #fff;
}

#header {
	background: url(kiwi/header.png) -375px 0 no-repeat;
}

span.button a,
span.button a:visited,
button,
input[type="reset"],
input[type="submit"],
span.button input,
.calbuttonBox a {
	color: #fff;
	background: #bcb923;
	border-color: #f0e884 #b2a713 #b2a713 #f0e884;
	font-weight: bold;
}
	
span.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
span.button input:hover,
.calbuttonBox:hover {
	background: #b1ae22;
	border-color: #b2a713 #f0e884 #f0e884 #b2a713;
}

.highlight,
span.highlight a {
	border: #f5fb86;
	color: #638637;
}

span.button.highlight a {
	background: #f8f9d4;
	color: #638637;
}

.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
#header .cssmenu_horiz li ul a,
#header .cssmenu_horiz li:hover ul a,
#tiki-top .cssmenu_horiz li ul a,
#tiki-top .cssmenu_horiz li:hover ul a  {
	background: #bcb923;
}

.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
#header .cssmenu_horiz li ul a:hover,
#tiki-top .cssmenu_horiz li ul a:hover  {
	background: #e1d516;
}

select,
option,
input[type="text"],
input#login-pass,
textarea {
	background: #f8f9d4;
	border-color: #f5fb86 #fbfbee #fbfbee #f5fb86;
}

.titlebar,
.rbox-title, 
.rbox-data {
	border: #bcb923;
	background: #f5f6c1;
	color: #648637;
}

th,
td.heading,
tr.diffheader {
	background: #dbd11a;
	color: #f8f9d4;
}

.tabmark {
	border: 1px solid #f0e884;
	background: #bcbb25;
}

.tabmark a {
	color: #fff;
}

.tabinactive:hover,
.tabactive {
	border: 1px solid #f0e884;
	background: #d8ca14;
}

.tabcontent {
	background: #d8ca14;
}

/* Quote plugin */
div.quoteheader {
	border-bottom: 2px solid #f5f6c1;
}

div.quotebody {
	border-left: 8px solid #f5f6c1;
}

.postbody-title {
	background: #e1d518 url(kiwi/header.png) -650px -90px;
}