/* $Id$ 
	Lemon theme option for FiveAlive theme for
	TikiWiki CMS/Groupware.
*/

a,
a:visited,
tr.even a,
tr.even a:visited,
tr.odd a,
tr.odd a:visited {
	color: #c75a28;
}
 
a:active, a:hover,
tr.even a:active,
tr.even a:hover,
tr.odd a:active,
tr.odd a:hover {
	color: #f9a013;
}

fieldset {
	border: 1px solid #c75a28;
}

hr {
	color: #ffc506;
	background: #ffc506;
}

.header_outer {
	background: url(lemon/siteheadertile.png) 0 0 no-repeat;
}

.header {
	background: url(lemon/siteheader.png) -250px 0 no-repeat;
}

#sitetitle,
#sitesubtitle {
	text-shadow: #c85a28 3px 2px 0;
}

.footer_liner {
	border-top: 1px solid #ffc506;
	border-bottom: 1px solid #ffc506;
}

#footer h3 {
	border-bottom: 1px dotted #ffc506;
}

#loadstats {
	background: #ffc506;
	color: #955208;
}

#power a {
	color: #ffc506;
}


.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.calbuttonBox a,
span#genPass .button a,
span#genPass .button a:visited,
.daterow {
	color: #fff;
	background: #ffc506;
	border-color: #ffc506 #c35627 #c35627 #ffc506;
	font-weight: bold;
}
	
.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.calbuttonBox:hover,
span#genPass .button a:hover,
.daterow:hover {
	background: #f68c1a;
	border-color: #c35627 #ffc506 #ffc506 #c35627;
}

.highlight,
.button.highlight a,
.calfocuson {
	border: #fee194;
	color: #c74b23;
	background: #f3fdd0;
}

.button.highlight a {
	background: #fdf1d0;
	color: #c74b23;
}

.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
.header .cssmenu_horiz li ul a,
.header .cssmenu_horiz li:hover ul a,
#topbar_modules .cssmenu_horiz li ul a,
#topbar_modules .cssmenu_horiz li:hover ul a  {
	background: #c75a29;
}

.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
.header .cssmenu_horiz li ul a:hover,
#topbar_modules .cssmenu_horiz li ul a:hover  {
	background: #f68c1a;
}

.header .cssmenu_horiz li.selected a,
#topbar_modules .cssmenu_horiz li.selected a,
.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	color: #fcebbc;
}

.header .cssmenu_horiz li.selected li a,
#topbar_modules .cssmenu_horiz li.selected li a,
.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff;
}


.cssmenu_vert .sf-sub-indicator {
	background: url(lemon/arrows-c75a28.png) no-repeat 10px 0;
}

select,
input[type="text"],
input[type="password"],
input[type="file"],
input#login-pass,
textarea,
.adminoptionbox option {
	background: #fdf1d0;
	border-color: #fee194 #fdfae9 #fdfae9 #fee194;
}

.titlebar,
.rbox-title, 
.rbox-data {
	border: #ffc506;
	background: #fcebbc;
	color: #c85a28;
}

.cbox {
	background: #fcebbc;
	color: #c85a28;
}

.cbox-title {
	border-bottom: 3px solid #ffc506;
}

.simplebox {
	border: 2px solid #ffc506; 
}

.adminanchors {
	background: #ffc506;
}

.normal,
.wikitable {
	border: 2px solid #ffc506;
}

th,
td.heading,
tr.diffheader,
.calHeading,
.weeks {
	background: #ffc506;
	color: #fdf1d0;
}

.calodd,
.caleven,
.wikicell {
	border: 1px solid #fcebbc;
}

.odd,
.calodd {
	background: #fdf1d0;
}

.even,
.caleven {
	background: #fcebbc;
}

.tabmark {
	border: 1px solid #ffc506;
	background: #f68c1a;
	color: #fff;
}

.tabmark a {
	color: #fff;
}

.tabinactive:hover,
.tabactive {
	border: 1px solid #ffc506;
	background: #fde197;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #c74b23;	
}

.tabcontent,
form.admin fieldset,
#siteloginbar_popup .cssmenu_horiz ul li {
	background: #fde197;	
}

/* Quote plugin */
.quoteheader {
	border-bottom: 2px solid #fcebbc;
}

.quotebody {
	border-left: 8px solid #fcebbc;
}

.postbody-title {
	background: #ffc506 url(lemon/siteheader.png) -550px -90px no-repeat;
}

.post .author,
.dirsite {
	background: #fcebbc;
}

/* cluptip tooltips */

.cluetip-default {
	background: #FFF1D1;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #FFF1D1;
}
.cluetip-default h3#cluetip-title {
	background: #FF8422;
	color: #fff;
}

.cluetip-default #cluetip-title a {
	color: #FFF1D1;
}
  
