/* $Id$
	This file is the fully-commented reference version
	of the layout.css file. It was 'forked' from layout.css
	at revision 20109 2009-07-14 10:13:25Z. 
	This file (layout.css) is designed to be imported
	by theme stylesheets, and has these sections:
	XHTML elements, Siteheader & Identity; Menus, Links;
	Misc. Center Col.; Misc. Global; Boxes; Tables, Tabs;
	Wiki (inc. plugins, etc.); Articles; Blogs; Forums;
	Galleries; Trackers; Categories, Tags; Polls; FAQs;
	Quizzes;	Shoutbox; Directory; Messages; TikiSheets;
	Calendar; Admin; and Ajax, jquery, etc. */

/***** XHTML Elements *****/
html {}
body {
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
}

/* For the edit iframe in FCKEditor          *
 * Safari/Chrome needs body defined as block *
 * *lite.css defines it as table-cell        */

html[dir=ltr]>body {
	display: block;
	padding: 1em .5em;
}

body.fullscreen {
	text-align: left;
	background: #fff;
}

fieldset {
	margin-bottom: 2px;
	padding: 0.3em;
}

button,
input,
label,
textarea,
option,
select {
	/*margin: 0.2em;
	vertical-align: middle;*/
}

.navbar{}

span.button {
	display: inline-block;
	margin: 1px 2px;
	padding: 2px;
}

/* Links in buttons */
span.button a,
span.button a:visited,
button,
span.button input,
.calbuttonBox a {
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}

/* Definitions below are the same as above, but are separated to make those above work in IE6 */
input[type=reset],
input[type=submit] {
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}
	
.button a:hover,
button:hover,
.button input:hover,
.calbuttonBox:hover {}

input[type=reset]:hover,
input[type=submit]:hover {}

.button a:active,
button:active,
.button input:active,
span.highlight a:link,
span.highlight a:visited {}

input[type=reset]:active,
input[type=submit]:active {}

span.highlight {
	background: aqua;
	padding: 0 !important;
	margin: 0;
}

/* submit buttons input type="submit" in a container */
.input_submit_container {
	/* allows easily align the buttons in the container, ex: text-align: right; */
}

div.iconmenu {
	display: inline;
}

select[multiple] {
	height: 10em;
}

#col2 select,
#col3 select,
#col3 input[type="text"],
#col2 input[type="text"] {
	width: 95%;
}

label {
	cursor: pointer;
	vertical-align: middle;
}

form {
	margin: 0;
	padding: 0;
}

input, legend {
	vertical-align: middle;
}

hr {
	width: 100%;
	height: 1px;
	border-width: 0;
	padding: 0;
}
	
img {
	border: 0;
}

/***** Site Header & Identity *****/
#siteheader {
/*	text-align: left;*/
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

#sioptionscentered {
	text-align: center;
}

#sioptionscentered #logo img {
	margin: auto;
}

div.floatright {
	float: right;
	clear: none;
}

div.floatleft {
	float: left;
	clear: none;
}

div#sitead {
	margin: auto;
}

#sitead.floatright {
	padding-right: 40px;
}

#sitead.floatleft {
	padding-left: 40px;
}

#sioptionscentered #sitead.floatleft {
	padding-left: 10px;
}

#bannertopright {
	padding-right: 4px;
}

.floatright img {}

#sitelocbar {
	float: left;
	padding: 2px 2px 3px 10px;
}

#sitelocbar a {}
#sitelocbar a:hover {}

#siteloginbar {
	text-align: right;
	position: absolute;
	bottom: 3px;
	right: 10px;
	font-size: 90%;
}
	
#siteloginbar #register{
	float: right;
	padding-left: 5px;
}

#siteloginbar #pass{
	float: right;
	padding-left: 5px;
}

#siteloginbar a,
#siteloginbar a:visited,
#siteloginbar a:hover {}
	
#siteloginbar * {
	white-space: nowrap;
}

#siteloginbar form {
	padding-right: 0;
}

#sl-login-user,
#sl-login-pass {}
#siteloginbar #pass {}
#siteloginbar .rme {}
#siteloginbar .register {}
#bannertopright {}
#siteloginbar input.wikiaction {}

/* Sitelogin Popup */
.tiki_register_login {
	bottom: 3px;
	position: absolute;
	right: 10px;
}

#siteloginbar_popup {
	bottom: 0;
	position: absolute;
	right: 4em;
}

#siteloginbar_popup .tabcontent fieldset {
	margin: 0;
	margin-left: -4px;
	border: none;
}

#siteloginbar_popup h1 {
	font-size: 1em;
	font-weight: normal;
	margin: auto;
}

li#register_link {
	margin-right: 5px;
}

.tabmark a.register_link,
.tabmark a.login_link {
	padding-right: 26px !important;
}

#siteloginbar_popup .cssmenu_horiz #register_link ul {
	margin-left: -5.5em;
}

#siteloginbar_popup .cssmenu_horiz #login_link ul {
	margin-left: -9em;
}

#siteloginbar_popup .cssmenu_horiz li#logout_link ul {
	margin-left: -2.5em;
}

#siteloginbar_popup #siteloginbar {
	bottom: auto;
	font-size: auto;
	position: static;
	right: auto;
	text-align: left;
}

#siteloginbar_popup #siteloginbar * {
	white-space: normal;
}

#siteloginbar_popup .cssmenu_horiz ul li {
	width: 100%;
	font-size: auto;
}

#siteloginbar_popup form {
	text-align: left;
	width: auto;
	white-space: normal !important;
}

#siteloginbar_popup .sl-login,
#siteloginbar_popup span.pass {
	display: block;
	width: auto;
	margin-bottom: 4px;
}

span.pass a,
span.pass a:visited,
span.pass a:hover,
span.register a,
span.register a:visited,
span.register a:hover,
div.logged-in a,
li.login_link ul li a {
	background: none !important;
}
	/*
li#login_link span.register {
	display: none;
}*/

li#logout_link a {
	padding-right: 40px;
}

#siteloginbar_popup input[type="text"],
#siteloginbar_popup input[type="password"] {
	width: 65%;	
}

/* from r27359 */
#siteloginbar_popup #logout_link .cbox {
	text-align: center;
}

#siteloginbar_popup .cssmenu_horiz div {
	
}

#siteloginbar_popup .cssmenu_horiz div a {
	display: inline;
}

#siteloginbar_popup .cbox {
	padding: 10px;
	margin: 2px 2px 3px 1px;
}

#siteloginbar_popup .cbox * {
	line-height: 14px;
	margin: 2px;
}

#siteloginbar_popup .cbox label {
	clear: both; float: left;
}

#siteloginbar_popup .cbox div {
	clear: both;
}

#siteloginbar_popup #sl-login-user, 
#siteloginbar_popup #sl-login-pass {
	float: right;
}

#siteloginbar_popup .rme {
	display: block;
	padding: 5px 0;
	text-align: right;
}

#siteloginbar_popup span.pass {
	display: inline;
}

#siteloginbar_popup .pass a {
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 30%;
}

#siteloginbar_popup .register a {
	float: right;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 30%;
}
#siteloginbar_popup .wikiaction {
	clear: both;
	float: right;
}
/* end from r27359 */

#sitetitles {}

#sitetitle,
#sitesubtitle {}

#sitetitle {}
#sitesubtitle {}

#header a,
#header a:visited {}

#header a:hover {}

#tiki-top {}

#tiki-top a {}

#tiki-top table {
	width: auto;
	white-space: nowrap;
}

#sitesearchbar {
	float: right;
	clear: left;
	padding-right: 4px;
	text-align: right;
	display: block;
	margin: 0;
}
	
#sitesearchbar form {}	
input#text
input.wikiaction {}
#sitesearchbar form button {}

select[name="where"],
input[name="search"] {}

#topbar_custom_code {}

/****** Menus_links ******/
/** CSS (suckerfish) menus **/

/** PHP Layers Menus **/
.horbar {} 

.horbar table {
	width: auto;
	text-align: left;
	white-space: nowrap;
}

.horbaritem {}
	
.horbaritem a,
.horbaritem a:link,
.horbaritem a:visited {
	white-space: nowrap;
	display: block;
}

.mdksubmenu {
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}

.mdksubmenu table {
	width: auto;
} 

.mdksubframe { /*decorate*/
	z-index: 1000;
	position: relative;
	display: block;
}

.mdkitem {
	position: relative;
	text-align: left;
	white-space: nowrap;
}
	
.mdkitem a {
	position: relative;
	display: block;
}

.mdkitem .mdkfwdarr {
	position: absolute;
	top: 5px;
	right: 12px;
} 

.treemenudiv {
	display: block;
	white-space: nowrap;
	overflow: hidden;
}
	
.phplmnormal,
a.phplmnormal:hover,
a.phplm:link,
a.phplm:visited,
a.phplm:hover,
a.phplm:active {}

a.phplm:visited {}
a.phplm:hover {}
a.phplm:active {}

a.phplmselected:link,
a.phplmselected:visited,
a.phplmselected:hover,
a.phplmselected:active {}

a.phplmselected:hover {}
.imgs {
	border: 0;
	width: 16px;
	height: 18px;
}
	
/** Links in other menus **/
div.separator, div.separatorline {}
.separator a:link,
.separator a:visited,
.separator a:hover {}

div.option a.linkmenu:hover {}
a.separator img {}
.option {}

div.optionline,
.option a {}

.option a:link,
.option a:visited,
a.linkmenu,
.rsslink,
.linkmenu:visited,
.rsslink:visited {}

.linkmenu,
.linkmenu:visited {
	/*display: block;*/
}

.linkmenu:hover {}

div.option a:hover,
div.option a:active {}

a.linkmodule {}
a.linkmodule:hover {}
.rsslist {}
.rssitem {}
.rssitem:first-child {}
.rssdate {}

div.menuSection div.menuSection,
div.menuSection div.separator {}

/***** Misc. *****/
/* Minimize Menus */
.minimize-modules-left #col1 {
	margin-left: 80px !important;
}

.minimize-modules-right #col1 {
	margin-right: 80px !important;
}

.minimize-modules-left #col2 .separatoricon-toggle,
.minimize-modules-left #col2 .box .menuText,
.minimize-modules-left #col2 .mdkfwdarr,
.minimize-modules-right #col3 .separatoricon-toggle,
.minimize-modules-right #col3 .box .menuText,
.minimize-modules-right #col3 .mdkfwdarr {
	display: none !important;
}

.minimize-modules-left #col2 .box .menuLevel1 .menuText,
.minimize-modules-left #col2 .separatoricon-url,
.minimize-modules-right #col3 .box .menuLevel1 .menuText,
.minimize-modules-right #col3 .separatoricon-url {
	display: inline !important;
}

.minimize-modules-left #col2 .box,
.minimize-modules-right #col3 .box {
	/*      overflow: hidden;*/ /* This conflicts with CSS Menus */
}

span.moduleflip-vert {
	display: block;
	top: 20px !important;
	right: 1% !important;
}

#col2 .moduleflip-vert .flipmodimage,
.minimize-modules-right #col3 .moduleflip-vert .flipmodimage {
	background-image: url(../../pics/icons/resultset_first.png) !important;
}

#col3 .moduleflip-vert .flipmodimage,
.minimize-modules-left #col2 .moduleflip-vert .flipmodimage {
	background-image: url(../../pics/icons/resultset_last.png) !important;
}

.minimize-modules-left #col2 div.separator,
.minimize-modules-right #col3 div.separator {
	padding: 0;
	background: transparent;
	border: none;
}

.minimize-modules-left #col2 div.box-shadow,
.minimize-modules-left #col2 div.box,
.minimize-modules-right #col3 div.box-shadow,
.minimize-modules-right #col3 div.box {
	width: 70px !important;
}

.minimize-modules-left #col2 .content,
.minimize-modules-right #col3 .content {
	margin: 0 !important;
}

.minimize-modules-left #col2 div.option,
.minimize-modules-left #col2 div.optionline,
.minimize-modules-right #col3 div.option,
.minimize-modules-right #col3 div.optionline {
	margin: 0 !important;
	padding: 0 !important;
}

/* Minimize PHPLayers Menus */
.mdkverbar-with-icons .mdkitem {
	background: none;
}

.mdkverbar-with-icons .mdkitem a {
	padding: 0;
	width: 175px;
}

.mdkverbar-with-icons .mdkitem img {
	vertical-align: middle;
}

.minimize-modules-left #col2 .mdkverbar-with-icons .mdkitem,
.minimize-modules-left #col2,
.minimize-modules-right #col3 .mdkverbar-with-icons .mdkitem,
.minimize-modules-right #col3 {
	width: 60px !important;
}

.minimize-modules-left #col2 .mdkverbar-with-icons .mdkitem a,
.minimize-modules-right #col3 .mdkverbar-with-icons .mdkitem a {
	width: 50px !important;
	overflow: hidden;
}

/* Minimize CSS Menus */
.minimize-modules-left #col2 .cssmenu_vert,
.minimize-modules-left #col2 .cssmenu_vert div > ul,
.minimize-modules-left #col2 .cssmenu_vert li.menuLevel0,
.minimize-modules-left #col2 .cssmenu_vert li.menuLevel0 > a,
.minimize-modules-right #col3 .cssmenu_vert,
.minimize-modules-right #col3 .cssmenu_vert div > ul,
.minimize-modules-right #col3 .cssmenu_vert li.menuLevel0,
.minimize-modules-right #col3 .cssmenu_vert li.menuLevel0 > a {
	width: 44px;
}

.minimize-modules-left #col2 .cssmenu_vert li.menuLevel0 > ul {
	margin-left: 55px;
}

.minimize-modules-right #col3 .cssmenu_vert li.menuLevel0 > ul {
	margin-right: 55px;
}

/* centercolumn */
#showhide_columns {}
	
a.flip,
a.flip:visited,
.tellafriend a,
.tellafriend a:visited,
a.flip:hover,
.tellafriend a:hover {
	font-size: 80%;
	text-decoration: none;
}

a.flip img {

}

.tellafriend {
	text-align: right;
}

.fullscreen .tellafriend {
	margin-right: 100px;
	margin-top: 2px;
}

#tiki-center {}

#rss {
	padding: 1em 1em 0;
}

#power {
	padding: 0 1em 1em;
	font-size: .9em;
}
	
#credits {
	display: inline;
}

div#loadstats {}

.error,
#error {
	background: yellow;
	color: red;
}

#show-errors-button {
	z-index: 1024;
}

#errors {
	z-index: 1023;
}

.error .rbox-data .adminoption,
.error .rbox-data .adminoptionlabel {
	display: inline;
}

/** off-screen **/
ul.jumplinks {
	font-size: 0.8em;
	list-style-type: none;
}
	
ul.jumplinks,
.jumplinks {
	position: absolute;
	top: -9000px;
	left: -9000px;
	z-index: 9;
}

ul.jumplinks a:focus,
ul.jumplinks a:active {
	position: absolute;
	top: 9010px;
	left: 9010px;
	background: #ffe4e1;
	color: #0000cd;
	padding: 5px;
	font-weight: bold;
	border: 2px solid #191970;
	width: 6em;
	z-index: 9;
}

.fullscreenbutton, 
#fullscreenbutton {
	position: absolute;
	top: 2px;
	right: 10px;
	z-index: 10;
	font-size: 80%;
}
	
#fullscreenbutton:hover {}

#tiki-clean {
	text-align: left;
	padding: 1em;
	background: #fff;
	color: #000;
}

/****** Misc. Global Classes (layout and style) ****/
.hidden {
	position: absolute;
	left: -10000px;
	top: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.floatlist {
	clear: left;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.floatlist li {
	float: left;
}

div#attzone,
div#comzone {
	display: none;
}

div#attzoneopen,
div#comzoneopen {
	display: block;
	margin-top: 10px;
}
	
div#attzone {
	margin-top: 10px;
}

div#edithelpzone {
	display: none
}

#edithelpzone code {}

#rules-copy-panel {
	display: none;
}

.clear,
#clear {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
	
.clearfix {
	display: inline-block
}

/* Hide from IE Mac \*/
.clearfix {
	display: block;
}
/* End hide from IE Mac */

#overdiv table {
	width: auto !important;
}

.attention {
	color: red;
}

.openid_url {
	background: #fff url(../../img/icons/login-OpenID-bg.gif) no-repeat;
	padding-left: 18px;
}

.bannertext {
	font-size: .95em;
	text-decoration: none;
}

.bannertext:hover {}

div.imagerank {
	margin: 10px 5px;
}

.link,
.gallink,
.bloglink,
.fgallink,
.trailer,
.admlink,
.forumbutlink {}

div.searchdate {}

div#debugconsole {
	position: absolute;
	background: #333;
	color: #fff;
	top: 0;
	left: 20px;
	right: 310px;
	height: auto;
	z-index: 1;
	padding: 5px;
	border: 1px solid #996600;
	font-size: 1em;
}
	
#debugconsole form {
	color: #000;
}

#debugconsole input[type="text"] {
	width: auto;
}

.mini {
	width: 100%;
	text-align: center;
	font-size: .9em;
	margin-left: auto;
	margin-right: auto;
}

.prevnext {
	font-size: 1em;
	padding: 1px 6px;
}

a.tikihelp,
a.tikihelp:visited {
	border: 0;
	vertical-align: text-top;
}

a.tikihelp:hover {
	cursor: help;
	vertical-align: text-top;
}

#rss img {
	vertical-align: middle;
}

#rss small {
	font-size: 1em;
}

/* To enable removing deprecated tag from img.icon and prevent border on a.icon. */
a.icon,
img.icon {
	border: 0 !important;
	background: transparent;
}

.iconmenutext {
	white-space: nowrap;
}

/** Find form **/
.findtable {
  text-align: center;
  margin-bottom: 10px;
 }
 
.findtitle,
.findexactmatch,
.findnumrows,
.findtypes,
.findlang {
	display: inline; 
	vertical-align: middle;
	margin: 0 1px;
}

.findtitle input {
	margin-left: 2px;
}
.findtable ul {
	list-style: none;
}

.findtable ul li {
	float: left;
}

.alphafilter {
	display: block;
	margin: 10px 0;
	text-align: center;
}

.alphafilter a {
	font-size: 120%;
}

.alphafilter .highlight {
	font-weight: bold;
	font-size: 130%;
}

.top_actions {
	text-align: right;
	margin-top: 5px;
}

input#findwhat {}
div.findsubmit {}

ul.categories{
	margin: 0;
	padding: 0;
}

ul.categories li{
	list-style: none;
	margin: 0;
	padding: 0;
}

/* New Toolbars */

.textarea-toolbar {	/* toolbars outer container */
	width: 99%;
}

.helptool-admin {	/* right justified section of toolbars */
	float: right;
	padding-left: 8px;
	margin-left: 8px;
	border-left: medium double #bfbfbf;
}

a.toolbar {			/* each tool button */
	padding: 4px 2px;
	display: inline-block;
}

.textarea-toolbar img.icon {
	vertical-align: middle;
	margin: 1px 3px;
}

span.toolbar-list {	/* groups of tools */
	padding: 0 0 0 .5em;
	line-height: 20px;
	border-left: medium double #bfbfbf;
}

.toolbars-picker {	/* colours, smilies etc */
	position: absolute;
	width: 300px;
	z-index: 300;
	background-color: #fff;
	color: #000;
}

.toolbars-picker a {
	padding: 4px 2px;
	display: inline-block;
}

/* To ensure that full width of wysiwyg toolbar displays in narrow themes. */
.fckeditzone {
	min-width: 510px;
}

/* New Help section */
div#tikihelp {
	position: absolute;
	height: 100%;
}

div.help_sections {
	width: 360px;
	overflow: hidden !important;	/* override jq-ui's scroll bar as we use one on the div inside so the tabs stay in view */
	height: 500px;
}

div.help_section {
}

div.help_sections h3 {
}

div.help_sections > div {
	font-size: .9em;
	height: 100%;
	overflow: auto;
}

#site_report {
	text-align: center;
}

#site_report a {
	border-left: 1px solid #696969;
	border-right: 1px solid #696969;
	padding: 0 5px;
	font-size: smaller;
}

.plugin-desc {
	padding: 5px;
}

.plugin-sample {
	padding: 5px;
	font-family: monospace;
}

.plugin-sample .plugin-param {
	padding-left: 15px;
}

.plugin-form-float {
	position: fixed;
	left: 5%;
	right: 365px;
	top: 5%;
	max-height: 90%;
	overflow: auto;
	z-index: 1000;
}

.icon_edit_section {
	float: right;
}

/***** Boxes *****/
/** Modules **/
.box-shadow {}

div.box {
	overflow: hidden;
}

h3.box-title {
	display: block;
	padding-top: 0;
}

.box-title a,
.box-title a:link {}

.moduleflip,
.wikitext .box-title span img.flipmodimage {
	display: none !important;
	position: absolute;
	right: 0;
	top: 0;
}

.box:hover .moduleflip,
.wikitext .box:hover .box-title span img.flipmodimage {
	display: block !important;
}

.box:hover img.flipmodimage {
	border: 1px solid transparent;
}


.flipmodimage:hover {}

#col2 h3.box-title {}
#col2 .box-title a,
#col2 .box-title a:link {}
.box-title a:hover {}
.box-data {}

.box-data table {
	width: 100%;
}

.box-data a.linkmenu {
	display: block;
}

.box-data ol,
.box-data ul {
	list-style-position: inside;
	padding-left: 1em;
	padding-right: .6em;
	margin-top: 0;
	margin-bottom: 0;
}

.box-footer {}

.modcontrols {
	display: block;
	float: right;
	width: 64px;
	height: 16px;
}
	
/* MiniChat  */
.box-minichat {
	width: 100%;
}

.minichatdiv {
	font-size: .9em;
}

.minichat,
.minichatdiv,
.minichatchan {
	overflow: auto;
}

/* mod-switch_lang */
.box-switch_lang .box-data img {
	padding: .2em;
	vertical-align: middle;
}

.box-switch_lang .box-data img.highlight {
	padding: .1em;
	border: .1em solid #f00;
}

.box-switch_lang .box-data span.highlight {
	border: .1em solid #f00;
}

.box-switch_lang li {
	list-style: none;
}

.box-switch_lang .box-data a.highlight {
	font-weight: bold;
}

.box-switch_lang ul {
	padding: 0 1em;
}

/** Other boxes **/
.cbox,
.cbox-data,
.rbox-title,
.rbox-data {
	overflow: hidden;
}

.cbox-title {}

.cboxlink {}

.cbox-data {}

/* remarks boxes */
.rbox {}

.rbox-title,
.rbox-data {}

.rbox-title {
	display: inline-block;
	width: auto;
	z-index: 1;
	position: relative;
	bottom: -1px;
}
	
.rbox img {
	vertical-align: middle;
}
	
.rbox-data {
	position: relative;
	z-index: 0;
}

.rbox-close {
	float: right;
	cursor: pointer;
}

.comment .rbox-title {}
.comment .rbox-data {}

.note .rbox-title {}
.note .rbox-data {}

.tip .rbox-title {}
.tip .rbox-data {}

.warning .rbox-title {}
.warning .rbox-data {}

div.simplebox {
	padding: 3px;
}

/* For wikitext or custom code areas, editors can add, for example, a div class="halffloat"
and put two modules or other divs between its tags;, each of these will use just under half of the width of the 
wikitext or custom content area. Similarly for three or four modules (or divs) across the page. */
.halffloat div.box,
.wikitext .halffloat div.box {
	float: left !important;
	clear: none;
	width: 48%;
	margin: 0 2% 0 0;
 }

.thirdfloat div.box,
.wikitext .thirdfloat div.box {
	float: left !important;
	clear: none;
	width: 31%;
	margin: 0 2% 0 0;
}

.quarterfloat div.box,
.wikitext .quarterfloat div.box {
	float: left !important; 
	clear: none; 
	width: 22%;
	margin: 0 2% 0 0;
}

/***** Tables, Tabs ****/
/** Tables **/
table {
	font-size: inherit;
}

table.normal, 
table.admin {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	width: 100%;
}

table.normalnoborder {
	width: 100%;
}

table.admin tr td div#page-bar {}

td {
	vertical-align: top;
}

td.normal,
.normal td,
.wikitable td,
td.odd,
td.even,
td.form,
.formcolor td,
.editblogform td {
	margin: 0;
	padding: 3px;
	vertical-align: top;
}

table.email {}
table.email td.body {}
table.email td.heading {}
table.email td.closeButton {}

tr.odd {}
tr.odd:hover {}
tr.even {}
tr.even:hover {}

tr.odd td,
td.odd {}

tr.even td,
td.even {}

td.third {
	text-align: center;
}

.normal td,
td.normal,
.wikitable td,
td.odd,
td.even {
	margin: 0;
	padding: 0.2em;
	vertical-align: top;
	border-collapse: collapse;
}

/* Headings */
th,
td.heading,
tr.diffheader {
	text-align: center;
}

form.admin {}
form.admin fieldset {}
form.admin legend.heading {}
form.admin legend.heading a {}
form.admin legend.heading a:hover {}
form.admin legend.heading a span {}
form.admin legend.heading a:hover span {}

/* Cells in tracker items display */
td.formlabel {}
td.formcontent {}
td.form {
	padding: 0.2em;
}

/** Tabs **/
.tabs {
	margin: 10px 3px -18px 3px;
	/*border-bottom: solid 1px #666;
	*/padding: 0;
	position: relative;
	z-index: 2;
}

.tabmark {
	display: inline;
	margin: 0;
	margin-right: 5px;
	padding: 1px 0;
	cursor: pointer;
}
	
.tabmark a {
	border-bottom :0;
	padding: 1px 5px;
	text-decoration: none;
}

.tabmark a:active {}
.tabmark a:hover {}
.tabactive {
	border: solid 1px /*#696969*/ !important;
	border-bottom: none;
	border-top-width: 2px;
	position: relative;
	top: -2px;
}
	
[class].tabactive {
	top: -1px;
}

.tabactive a {}

.tabinactive {
	/*border: solid 1px #666 !important;*/
	border-bottom: none/* !important*/;
	position: relative/* !important*/;
	top: -3px/* !important*/;
}
	
[class].tabinactive {
	top: -2px !important;
}

.tabinactive a,
.tabinactive a:visited {}

.tabcontent {
	z-index: 1;
	position: relative;
	padding: 2px;
	padding-top: 21px;
	margin-bottom: 25px;
	margin-top: -1px;
}

.tabcontent table {
	margin: 1% auto 2% auto; 
	text-align: left;
	width: 95%;
	background: transparent;
}

.tabcontent table td {
	padding: 5px;
}

table.admin div#content1 div.tabcontent div.cbox {
	background: transparent;
}

/***** Wiki *****/
h1.pagetitle a,
h1.pagetitle a:visited,
h1.pagetitle a:hover,
a.pagetitle,
a.pagetitle:visited,
a.pagetitle:hover {}

h1 a.pagetitle:hover {}
.wikitopline {}

div#description,
div.description {
	display: block;
}

#pageid {
	float: left;
	clear: both;
}

#cachedpage {
	float: right;
	font-size: small;
}

.wikiactions {
	white-space: nowrap !important;
}

.wikiactions .icons,
.wikiactions form {/*display: inline-block*/}

.wikitext {}
body.tiki_wiki #comments {
	padding: 1em;
}

.wikitext h2, 
.wikitext h3, 
.wikitext h4,
.wikitext h5 {}

.titlebar {}
.wikitext ul li {} 
.wikitext ul li ul li {}
.wikitext ol {}
table.wikitable {}
td.wikicell {}

div.split {
	clear: both;
}

.editdate {
	padding-bottom: 5px;
}

div#page-bar {
	display: block;
	margin-top: 0;
}

#page-bar > span {
	float: left;
}

div.cache {}
div.cachedpage {}
.wikicache, .wikicache:visited {}
.wikicache:hover {}
.wiki {}
.wikinew {}
.wiki-edithelp {
	display: none;
}

#wikihelp-tab table,
#wikihelp-tab table td {}

#wikihelp-tab table td {
	padding: 2px;
}

textarea.wikiedit {}

p.editdate {
	padding-top: 10px;
}

img.externallink {}

/* Needed esp. for light-on-dark theme */
div.toolbar {}
div.toolbar img,
#wikihelp-tab td img {}
div#helptool {}

/* Wiki plugins */
table.wikiplugin-split {
	border: none;
	clear: both;
}

table.wikiplugin-split .codelisting {
	width: 95%;
}

/* wikiplugin_footnotearea */
.footnotearea {
	margin-top: 2em;
	font-size: 0.9em;
}

/* wikiplugin_fancylist */
.wikitext .fancylist {
	margin: .5em 0;
	padding: 0;
}

.wikitext .fancylist li {
	font: italic 2em Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height: 27px;
	list-style-position: inside;
	margin-left: 10px;
	padding: 6px 0 7px 15px;
}

.wikitext .fancylist li p {
	display: inline;
	font-size: 50%;
	font-style: normal;
	margin-left: 12px;
}

[class].wikitext .fancylist li p {
	margin-left: -3px;
}

/* Versions plugin */
#tiki-center .versionav {
	padding: 0;
	border: 0;
	margin-bottom: -1px;
}
	
.versionav .button {
	margin-bottom: 0;
}

#tiki-center .versioncontent {
	padding: 1em;
}
	
/* wikiplugin edit */
.wikiplugin_edit textarea {
	width: 99%;
	height: 150px;
}

/* wikiplugin tracker */
.mandatory_star {
	font-weight: bold;
	color: red;
}

ul.floatleft {
	display: block;
	list-style: none;
	padding: 0;
	text-align: left;
	height: 20px;
	margin-top: 0;
}

ul.floatleft li {
	float: left;
	padding: 4px 2px;
}
	
.editdate ul.floatleft {
	margin-top: 8px;
}
	
/* mouseover plugin */

.plugin-mouseover {
	position: absolute;
	z-index: 500;
	display:none;
	padding: .4em;
}

/** Wiki tocs **/
div.tocnav {
	margin-bottom: 4px;
	clear: both;
}
 
#tocnavicons {
	float: left;
}

#tocnavaddpage {
	float: right;
}

#tocnavlinks {
	clear: both;
}

.fancytoclevel {
	list-style-image: url(../../img/icons/footprint.gif);
}

li.toclevel {}

/* TOC */
ul.toc {
	padding-left: 2em;
	border-top: 1px dotted #a9a9a9;
	border-bottom: 1px dotted #a9a9a9;
	margin-bottom: 4px;
}

ul.toc * {
	border: none;
}

/* Wiki diff styles */
.diff td {
	border: 1px solid #696969;
}

.diff div {
	border-top: 1px solid #696969;
}

.diffbody {
	color: #000;
}

.diffadded {
	background: #ccffcc;
	color: #000;
}

.diffdeleted {
	background: #ffcccc;
	color: #000;
}

.diffinldel {
	background: #ffcccc;
	text-decoration: line-through;
}

.diffbody {
	background: #f2f4f5;
}

.diffchar {
	color: red;
}

.plugin-desc {
	padding: 5px;
}

/***** Articles ****/
div.article {
	margin-bottom: 40px;
}

div.articletopline {}
div.articletitle {}

div.articletitle h2 {
	margin: 0;
}

span.titleb {} 
div.articlesubtitle {}
div.articleheading {}
div.articleheadingtext {}

img.topicimage,
img.articleimagenofloat,
img.articleimage {
	padding: 2px 0;
	margin-bottom: 10px;
}

img.articleimagefloat {
	margin-right: 4px;
	float: left;
	padding: 2px 0;
	margin-bottom: 10px;
}

img.articleimage {
	margin-right: 4px;
	float: left;
	clear: right;
	padding: 2px 0;
	margin-bottom: 10px
}

div.articletrailer {
	position: relative;
	text-align: center;
	margin-top: 1.1em
}
	
div.articletrailer img {}

div.articletrailer .wikitopline {
	float: left;
}

div.article .status {
	position: absolute;
	left: 0;
}

div.articletrailer span {
	display: inline-block;
	margin: auto;
	white-space: nowrap;
}

div.article .actions {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	white-space: nowrap;
}

/* To keep language form and actions icons on one line */
div.article .actions form {
	display: inline;
}

div.articlebody {}

div.articlesource {
	margin-top: 5px;
	font-style: italic;
	font-size: 90%;
}

div.articletrailer .wikitopline {}

/***** Blogs *****/
div.breadcrumbs {
	font-size: 90%;
	font-style: italic;
}

div.blogheading {
	display: block;
	width: 100%;
	clear: both;
}

div.blogtitle {}
body.tiki_blogs div.description {}
	
div.blogdesc {
	display: block;
	width: 40%;
	padding: 8px;
	margin-top: 8px;
	margin-left: 6px;
}

div.bloginfo {
	display: block;
}

div.blogtools {
	padding: 3px;
	text-align: right
}
	
.blogactions {
	float: right;
}

a.blogt,
a.blog:visited {
	border: 0;
	text-decoration: none;
}

a.blogt:hover {}

.postinfo {
	margin-bottom: 20px;
	margin-top: 10px;
}

.postinfo a {}

div.postinfo a.linkmodule {}

.postinfo div {
	margin-top: 30%;
}

small.description {
	display: block;
	font-size: .95em;
	font-style: italic;
}

div.posthead {
	text-align: left;
	padding: 3px;
}

span.posthead {
	display: block;
}

body.tiki_blogs .post .title {
	margin-top: 0;
}

body.tiki_blogs .post .title h2 {}

body.tiki_blogs div.postbody {}
body.tiki_blogs div.author_actions { }
body.tiki_blogs .actions {}
body.tiki_blogs .author_info {}
body.tiki_blogs .postbody-title {}

body.tiki_blogs .post .postfooter {
	clear: both;
	float: right;
	margin-bottom: 2em;
}

/***** Forums *****/
body.tiki_forums table.normal {
	margin: auto;
}

#forumpost {
	display: none;
}

#forumpostopen {
	display: block;
}

.post {}

.post .postbody {
	clear: both;
	margin: 0;
	margin-top: 5px;
	padding: 0;
}
	
.post .postbody .content {
	float: left;
	padding: 0 3px 3px 3px;
	margin: 0;
	text-align: left;
}
	
.post .postbody .content p {}

.post .postbody-title {
	overflow: hidden;
}

.top_post .post .postbody-title {}

.post .postbody-title .checkbox {
	float: left;
}

.post .postbody-title .title {
	float: left;
	margin-left: 5px;
	margin-top: 3px;
}
	
.postbody-title .title h2 {}
.postbody-title .title h3 {  }
.post .postbody-title .title a.link {}

.title .freetaglist,
.title a.freetag,
.title a.freetag:visited {/*color: #fff*/}

.postbody-title .title br.clear {}
.post .author_actions {}

.post .author {
	float: right;
	text-align: right;
	vertical-align: top;
}

.post .author_post_info {
	padding-left: 4px;
	padding-bottom: 4px;
}

.post .author_info .icons {
	display: block;
}

.post .author_info .icons .actions {
	margin-right: 10px;
}

.post .author_post_info_on {}
.post .author_info {}

.commentStyle_headers .author_info {
	float: left;
}

.post .postbody-title .actions {
	float: right;
}

.postbody-content {
	margin: 5px;
}

.post .postbody .attachments {
	clear: both;
	margin-top: 5px;
}

.post .postbody .attachments img {
	vertical-align: text-bottom;
}

.post .postfooter .actions,
.post .postfooter .status {
	display: inline;
	margin-left: 5px;
	vertical-align: top;
}

.post .postfooter .status {}

.post .postfooter {
	float: right;
	text-align: right;
}

.post .inner > .postfooter {
	clear: both;
}

.post .contribution {}

.post .avatar {
	float: right;
	margin-bottom: 5px;
	margin-left: 4px;
	padding: 3px
}

.sub_comment {
	padding-left: 20px;
}

.sub_comment_area {
	clear: both;
	background: url("../../img/edge.gif") no-repeat top left;
}

.forum_actions .actions {
	clear: both;
	padding: 3px;
	vertical-align: middle;
}

.forum_actions .actions .action {
	margin-right: 10px;
}

.forum_actions .headers {
	vertical-align: bottom;
}

.forum_actions .headers .title {
	float: left;
	border-bottom: 0;
	padding: 1px;
}

.forum_actions .headers .infos {
	float: right;
	padding-top: 2px;
}

.thread_pagination {
	text-align: center;
	margin-bottom: 10px;
}

.nb_replies {
	white-space: nowrap;
}
.post_preview, .top_post {
	margin-bottom: 15px;
}

/* Comments */
#comzone {
	display: none;
	margin: 5px 0;
	padding: 0;
}
 
#comzoneopen {
	display: block;
	margin: 5px 0;
	padding: 0;
}
 
span.commentstitle {
	font-weight: bold;
	font-size: 1.2em;
}

.subcomment {}

/* Comments moderation */
.post-approved-n {
	border-left: 3px dotted blue;
}

.post-approved-r {
	border-left: 3px double red;
}

.post-approved-r .content * {
	background: url(../../img/icons2/dots.gif);
}

textarea#editpost2 {
	width: 100%;
}

.subcomment {
	margin-left: 10px;
}

div.commentsedithelp {}

/**** Image Galleries ****/
table.galtable {
	width: 100%;
}


body.tiki_galleries table.findtable {
	display: inline;
}

td.oddthumb {
	border-collapse: collapse;
}

td.eventhumb {
	border-collapse: collapse;
}

td.eventhumb img {
	margin-left: 6px;
	margin-right: 6px;
}

div.thumbnailcontenerchecked div.thumbnail {}
div.thumbnails {}

div#browse_image {
	width: 100%;
}

img.athumb {
	border: 0;
	margin: auto
}

.caption {}

p.norecords {
	font-weight: bold;
}

div.imagetitle {
	font-weight: bold;
	font-size: 200%;
}

div.gallerylink { }
div#browse_image {}

div.showimage {
	margin: 5px 0;
	width: 100%;
	text-align: center;
	padding: 6px;
}

div.imgaldescr {
	margin: 10px
}

.sorttitle {
	margin-left: 10px;
}

div#browse_image {
	width: 100%
}

/* Random image module - top and bottom margin better
when module used without decorations. */
div#random_image {
	text-align: center;
	margin: 1em auto;
}

/***** File Galleries *****/
div.thumbnailcontener {}
div.thumbnail {}
div.thumbnamecontener, div.thumbimagecontener {}
div.thumbnamecontener {}
div.thumbname, div.thumbimage {}
div.thumbnamesub, div.thumbimagesub {}
div.thumbnail:hover {}
div.thumbnail:hover div.thumbnamecontener {}
div.thumbimage img {}
div.thumbinfos {}
div.thumbinfo {}
span.thumbinfoval {}
div.thumbname {}
div.thumbactions {}
div.thumbactions * {}
div.thumbactions input {}
div.thumbactions a {}
div.thumbdescription {}
div.thumbdescription + div.thumbinfo {}
div.thumbdescription span.thumbinfoname {}
a.namealias {}
div.gallerypath, div.gallerypath a {}
div.gallerypath a:hover {}
.fgalexplorer {/*border: 1px solid yellow*/}

.fgallisting table td {
	padding-left: 2px;
	padding-right: 2px;
}
	
.opaque {
	border: 1px solid yellow;
	background: white;
	color: black;
}

opaque .box-title,
.opaque .box-data {
	width: auto;
}

.opaque .box-title {
	border-bottom: 1px solid yellow;
	padding: 3px 3px 0 3px;
}

.opaque .box-data {
	padding: 0 3px 3px 3px;
}

.opaque .iconmenu {
	display: block;
	white-space: nowrap;
}

/***** Trackers (etc.) *****/
.statuson {
	padding: 1px;
	margin: 1px;
	vertical-align: middle;
}

.statusoff {
	padding: 1px;
	margin: 2px;
	vertical-align: middle;
}
	
/* also for categorize.tpl */
div.multiselect {
	vertical-align: middle;
	padding: 0;
	height: auto;
	overflow: visible;
}

div.multiselect table {
	width: 100%
}

div.multiselect div.option {
	white-space: nowrap;
	width: 33.33%;
	display: inline-block;
	overflow: hidden;
	margin: -1px;
}

div.multiselect div.selection span {
	display: inline;
}

div.multiselect li.odd,
div.multiselect div.odd {
	color: black;
	background: #F4F6F7;
}

div.multiselect li.odd:hover,
div.multiselect div.odd:hover {
	background: #FFF7E6;
}

div.multiselect li.even,
div.multiselect div.even {
	color: black;
	background: #E7E9EA;
}

div.multiselect div.even:hover,
div.multiselect div.even:hover {
	background: #F0F2F3;
}

div.multiselect div.odd,
div.multiselect div.even {
	border: 1px solid #80B1E2;
}

div.multiselect ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
}

div.multiselect li {
	margin-left: 3em;
}

div.multiselect  ul.root > li {
	margin: 0 1em 0.5em .5em;
	display: block;
	float: left;
}

div.multiselect img {
	vertical-align: middle;
}

div.multiselect div.selection {
	display: none;
	overflow: auto;
	position: relative;
	height: auto;
	max-height: 7em;
	z-index: 1000;
	width: 100%;
	left: -1px;
	border: 1px solid #80B1E2;
	background: #fff;
	float: left;
	margin: 0;
	padding: 0;
}

div.multiselect:hover,
div.multiselect div.selection:hover {
	border: 1px solid #80B1E2;
}
	
/***** Categories, Tags *****/
.treetitle {}
.treenode {}

span.categpath {
	display: block;
}

a.categpath {
	display: inline;
}

table.tcategpath {}
td.tdcategpath {}
table.subcats {}
td.tdsubcat {}
.categlink {}
table.catobjects {}

td.categobjectsnameeven,
td.categobjectsnameodd {}

td.categobjectsdataeven,
td.categobjectsdataodd {}

.catname {}
.catblock {}
.catlists {}
.catlists:hover {}
.cattitle {}
.catlists a.link {}
.catlists a.link:hover {}

.catfeatures {
	margin-left: 0;
	padding: 0;
	font-weight: bold;
	list-style: none
}

.catfeatures li {
	display: inline;
	margin-right: 7px;
	text-transform: capitalize;
}

.catitems {
	margin-left: 15px;
	padding: 0;
	list-style: none;
}

.catitems li {
	display: inline;
	margin-right: 7px;
}

.catitems li a.link {}

/***** Tags (freetags) *****/
.freetaglist {
	padding: 0 20px 8px;
	text-align: right;
}

.freetagsearch {
  margin: 10px 0;
  text-align: center;
 }

.freetagskeywords {
	margin: 10px 0;
}

.freetaglist a {
	text-decoration: none;
}

.freetagsort {
	margin: 10px 0;
}

.freetagresult {
	margin-left: 10%;
	width: 70%;
}

.freetagitemlist {
	margin-top: 10px;
	padding: 0;
	text-align: left;
}

.freetagitemlist h3 {
	margin: 0;
	padding: 0;
}

.freetagitemlist a {
	text-decoration: none;
}

.freetagitemlist img {
	float: right
}

.freetagitemlist a:hover {
	text-decoration: none;
}

.freetagitemlist div.type {
	font-weight: bold;
	font-size: 0.8em;
	margin-left: 10px;
}

a.freetag,
a.freetag:hover {/* freetags.css (line 8)*/
	background: none;
	border: 0;
	margin: auto;
}

li.freetag {
	list-style: none !important;
	display: inline !important;
	margin: 0;
	padding: 0;
}

ul.freetag {
	margin: 0;
	padding: 0;
	display: inline !important;
}

.freetag a {display: inline !important}

a.freetag_1 {
	text-decoration: none;
	font-size: .8em;
}

a.freetag_2 {
	text-decoration: none;
	font-size: .9em;
}
	
a.freetag_3 {
	text-decoration: none;
	font-size: 1em;
}

a.freetag_4 {
	text-decoration: none;
	font-size: 1.2em
}

a.freetag_5 {
	text-decoration: none;
	font-size: 1.4em;
}

a.freetag_6 {
	text-decoration: none;
	font-size: 1.6em;
}

a.freetag_7 {
	text-decoration: none;
	font-size: 1.8em;
}

div.freetagObjectOdd {
	margin: 2px;
	position: relative;
}

div.freetagObjectEven {
	margin: 2px;
	position: relative;
}

div.freetagObjectType {
	position: absolute;
	top: 0;
	right: 0;
}

div.freetagObjectName a {
	text-decoration: none;
}	

.searchresults {
	list-style: none;
	padding: 0;
	margin: 0;
}

.searchresults li {
	margin: 10px 0 0;
}

.freetaglist {
	padding: 0 20px;
	text-align: right;
}

a.freetag {} /* articles... */

.morcego_embedded {
	border: 1px solid yellow;
	text-align: center;
}

/*****  Polls  *****/
div.pollresults {}

table.pollresults {
	width: 100%;
}

td.pollr {}

#pollopen {
	display: block;
}

#pollzone {
	display: none;
}

#polledit {
	display: none;
}

.pollnav {}

/***** FAQs *****/
div.faqlistquestions {
	margin-bottom: 20px;
}

div.faqqa {
	margin-bottom: 20px;
}

div.faqquestion {
	font-weight: bold;
	padding: 2px 12px 0 12px;
}

div.faqanswer {
	padding: 0 12px 4px 12px;
}

/***** Quizzes *****/
div.questionblock {
	margin-bottom: 10px;
}

div.quizquestion {
	margin-bottom: 5px;
}

div.quizoptions {}

div.quizdescription {
	margin-bottom: 10px;
}

div.quizanswer {
	margin-bottom: 10px;
}

/***** Shoutbox *****/
div.shoutboxmsg {
	margin-bottom: 0;
	padding: 4px;
	padding-bottom: 1px;
}

div.shoutboxmodmsg {
	font-size: .95em;
	margin: 0 5px 4px 5px;
	padding-top: 5px;
	padding-bottom: 1px
}

textarea.tshoutbox{
	font-size: .95em;
	width: 90%;
}

/***** Directory *****/
div.dircategs {
	font-size: 95%;
}

.dirlink {}

.dirsublink {
	font-size: .95em;
}

div.dirlistsites {}

div.dirsite {
	margin-bottom: 10px;
	padding: 4px;
}

span.dirsitedesc {}

span.dirsitetrail {
	font-size: 95%;
}

span.dirsitecats {
	font-size: 95%;
}

.dirsitelink {}
div.dirrelated {}
td.dirfooter {}
div.dirfooter {}

/***** Messages *****/
td.prio1,
td.prio2,
td.prio3,
td.prio4,
td.prio5 {
	border: 1px solid #a9a9a9;
	padding-left: 2px;
}

td.prio1 {
	background: #f7f9ca
}

td.prio2 {
	background: #f7f9ea;
}

td.prio3 {
	background: #f7f9fa;
}

td.prio4 {
	background: #f7f9fd;
}

td.prio5 {
	background: #f7f9ff;
}

div.messureadflag {
	background: #a9a9a9;
	padding-left: 5px;
}

div.messureadhead {
	background: #dcdcdc;
	margin-top: 2px;
}

div.messureadbody {
	margin-top: 5px;
	background: #dcdcdc;
}

.readlink {
	font-size: .95em;
	color: black;
}

/***** TikiSheets *****/
.plugin-desc {
	padding: 5px;
}

.plugin-sample {
	padding: 5px;
	font-family: "Courier New", Courier, monospace;
}

.plugin-sample .plugin-param {
	padding-left: 15px;
}

.plugin-form-float {
	position: fixed;
	left: 5%;
	right: 365px;
	top: 5%;
	max-height: 90%;
	overflow: auto;
	background: #fff;
	color: #000;
	padding: 10px;
	border: solid 2px #000;
	z-index: 1000;
}

table.default thead td,
table.default tfoot td {}

table.default td {}

/***** Calendar *****/
/* Properties are in css/calendar.css, 
	which can be overridden
	in theme stylesheets.  */

/***** Admin *****/
.highlight_word_0 {
	color: #ffff66;
	background: #666;
}

.highlight_word_1 {
	color: #ff9999;
	background: #666;
}

.highlight_word_2 {
	color: #A0FFFF;
	background: #666;
}

.highlight_word_3 {
	color: #ff66ff;
	background: #666;
}

.highlight_word_4 {
	color: #99ff99;
	background: #666;
}

.center {
	text-align: center;
}

.justify {
	text-align: justify;
}

.right {
	text-align: right;
}

/* admin boxes etc (.admbox) now defined in css/admin.css */
td.mods_revision {
	background: #b5cfb5;
	color: #000;
}

td.mods_update {
	background:#dcdeac;
	color: #000;
}

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/
div#ajaxLoading {
	z-index: 10000;
	color: #fff;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 3px;
	color: #333;
	text-align: center;
	vertical-align: top;
	background: transparent url(../../img/loading-light.gif) no-repeat 50% 50%;
	height: 80px;
	width: 100px;
	margin-left: -50px;
	margin-top: -40px;
}

div#ajaxLoadingBG {
	z-index: 9999;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	background: transparent url(../../img/overlay-light.png);
	width: 100%;
	height: 100%;
}

/* Cluetip - JQuery tooltips
   =cluetipClass: 'default' */

.cluetip-default {
	background: #BED8F1;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #BED8F1;
}
.cluetip-default h3#cluetip-title {
	background: #1B3A50;
	color: #fff;
}

.cluetip-default #cluetip-title a {
	color: #BED8F1;
	font-size: 0.95em;
}
  
.cluetip-default #cluetip-inner {
	padding: .9em;
}

div#cluetip-close { 
	text-align: right;
	margin: 0;
	padding-right: .5em;
	background: #fff;
	color: #900;
}
	
.cluetip-fullhtml {
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}

/***** New (unsorted) *****/

/* webmail & groupmail */

.box-webmail_inbox img.icon {
	vertical-align: middle;
}

.webmail_item {
	font-size: .9em;
	border: #999 solid 1px;
	margin: 1px 0;
	padding: 0 1px;
}

.webmail_refresh_message {
	font-size: .8em;
}

.webmail_list .even {}

.webmail_list .odd {
	background: #eee;
}

.webmail_list .button {
	background: #fff;
	border: #666 solid 1px;
	display: inline-block;
	padding: 0 2px;
}

.webmail_list .webmail_read {
	background: #aaa;
}

.webmail_list .webmail_flagged {}

.webmail_list .webmail_replied {
	background: #888;
}

.webmail_list .webmail_taken {
	border: #900;
	color: #900;
}

.webmail_message {
	background: #fff;
}

.webmail_mono {
/*	max-width: 800px;
	white-space: pre;
	overflow: hidden;*/
	font-size: 1.1em;
	font-family: "Courier New", Courier, monospace;
}

table.webmail_message_headers {
	background: #fff;
	width: 100%;
	padding: 0 5em .5em 0;
}

table.webmail_message_headers th {
	width: 6em;
	font-style: italic;
	text-align: right;
	border: none;
	background: transparent;
}

@media print {
	.tikihelp, .navbar, .tabstoggle, .tabs, #show-errors-button {display:none;}
}

/* treeTable definitions - used in object-perms so far */

table.treeTable {}

table.treeTable .checkBoxHeader {
	font-size: .8em;
}

table.treeTable .subHeader td {
	font-weight: bold;
}

table.treeTable .parent td {
	font-style: italic;
}

/* treeTable definitions - used in object-perms so far */

table.treeTable {}

table.treeTable .checkBoxHeader {
	font-size: .8em;
}

table.treeTable .subHeader td {
	font-weight: bold;
}

table.treeTable .parent td {
	font-style: italic;
}

.thumbnailcontener { border: solid 1px lightgrey; margin: 1px; padding: 2px; text-align: center;}

/* jquery-ui dialogs help */

.ui-dialog label {
	display: block;
}

.ui-datepicker {
	z-index: 1024;
}

/* Preferencies        */
.pref_dependency {
	margin-left: 20px;
	font-size: 95%;
}

/* Perspecives (edit) */

.dropzone {
	color: #000;
	background-color: #fff;
	border: #999 solid 2px;
	border-bottom-color: #ccc;
	border-right-color: #ccc;
}

/* End of File */
