/* $Id$
	This file (layout.css) is to be imported by theme stylesheets. */

/***** XHTML Elements *****/
body {
	margin: 0;
	padding: 0;
	text-align: left;
	width: 100%;
}

body.db_error {
	background: none;
}

body.db_error #tiki-main {
	max-width: 800px;
	margin: 1em auto;
}

html[dir=ltr]>body {
	display: block;
	padding: 1em;
}

span.button {
	display: inline-block;
}

/* Links in buttons */
span.button a,
span.button a:visited,
button,
span.button input,
.calbuttonBox a {
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}

/* Definitions below are the same as above, but are separated to make those above work in IE6 */
input[type=reset],
input[type=submit] {
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}

/* submit buttons input type="submit" in a container */
.input_submit_container {
	padding: 1px;
}

div.iconmenu {
	display: inline;
}

/*
select[multiple] {
	height: 10em;
}
*/

#col2 select,
#col3 select,
#col3 input[type="text"],
#col2 input[type="text"] {
	width: 95%;
}

label {
	cursor: pointer;
	vertical-align: middle;
}

form {
	margin: 0;
	padding: 0;
}

input, legend {
	vertical-align: middle;
}

hr {
	width: 100%;
	height: 1px;
	border-width: 0;
	padding: 0;
}
	
img {
	border: 0;
}

/***** Site Header & Identity *****/
#siteheader {
/*	text-align: left;*/
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

#sioptionscentered {
	text-align: center;
}

#sioptionscentered #logo img {
	margin: auto;
}

div.floatright {
	float: right;
	clear: none;
}

div.floatleft {
	float: left;
	clear: none;
}

div#sitead {
	margin: auto;
}

div.sl-login {
	display: inline;
}

#siteloginbar #register,
#siteloginbar #pass {
	float: right;
	padding-left: 5px;
}
	
#siteloginbar * {
	white-space: nowrap;
}

#siteloginbar form {
	padding-right: 0;
}

/* Sitelogin Popup */
.tiki_register_login {
	bottom: 3px;
	position: absolute;
	right: 10px;
}

#siteloginbar_popup {
	bottom: 0;
	position: absolute;
	right: 4em;
}

#siteloginbar_popup .tabcontent fieldset {
	margin: 0;
	margin-left: -4px;
	border: none;
}

#siteloginbar_popup h1 {
	font-size: 1em;
	font-weight: normal;
	margin: auto;
}

li#register_link {
	margin-right: 5px;
}

.tabmark a.register_link,
.tabmark a.login_link {
	padding-right: 26px !important;
}

#siteloginbar_popup .cssmenu_horiz #register_link ul {
	margin-left: -5.5em;
}

#siteloginbar_popup .cssmenu_horiz #login_link ul {
	margin-left: -9em;
}

#siteloginbar_popup .cssmenu_horiz #logout_link ul {
	margin-left: -2.5em;
}

#siteloginbar_popup #siteloginbar {
	bottom: auto;
	font-size: inherit;
	position: static;
	right: auto;
	text-align: left;
}

#siteloginbar_popup #siteloginbar * {
	white-space: normal;
}

#siteloginbar_popup .cssmenu_horiz ul li {
	width: 100%;
	font-size: inherit;
}

#siteloginbar_popup form {
	text-align: left;
	width: auto;
	white-space: normal !important;
}

#siteloginbar_popup .sl-login,
#siteloginbar_popup span.pass {
	display: block;
	width: auto;
	margin-bottom: 4px;
}

#sitesubtitle { 
	line-height: 0.9em;
}

span.pass a,
span.pass a:visited,
span.pass a:hover,
span.register a,
span.register a:visited,
span.register a:hover,
div.logged-in a,
li.login_link ul li a {
	background: none !important;
}
	/*
li#login_link span.register {
	display: none;
}*/

li#logout_link a {
	padding-right: 40px;
}

/* from r27359 */
#siteloginbar_popup #logout_link .cbox {
	text-align: center;
}

#siteloginbar_popup .cssmenu_horiz div {
	
}

#siteloginbar_popup .cssmenu_horiz div a {
	display: inline;
}

#siteloginbar_popup .cbox {
	padding: 10px;
	margin: 2px 2px 3px 1px;
}

#siteloginbar_popup .cbox * {
	line-height: 14px;
	margin: 2px;
}

#siteloginbar_popup .cbox label {
	clear: both; float: left;
}

#siteloginbar_popup .cbox div {
	clear: both;
}

#siteloginbar_popup #sl-login-user,
#siteloginbar_popup #sl-login-pass {
	float: right;
	width: 60%;
}

#siteloginbar_popup .rme {
	display: block;
	padding: 5px 0;
	text-align: right;
}

#siteloginbar_popup span.pass {
	display: inline;
}

#siteloginbar_popup .pass a {
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 30%;
}

#siteloginbar_popup .register a {
	float: right;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 30%;
}
#siteloginbar_popup .wikiaction {
	clear: both;
	float: right;
}
/* end from r27359 */

/* end Sitelogin Popup */

#sitesearchbar {
	float: right;
	clear: left;
	padding-right: 4px;
	text-align: right;
	display: block;
	margin: 0;
}

#tiki-top form.findtable {
	margin-top: 0;
	margin-bottom: 0;
}

#tiki-top table {
	width: auto;
	white-space: nowrap;
}

/****** Menus_links ******/
/** CSS (suckerfish) menus **/

/** PHP Layers Menus **/
.horbar table {
	width: auto;
	text-align: left;
	white-space: nowrap;
}
	
.horbaritem a,
.horbaritem a:link,
.horbaritem a:visited {
	white-space: nowrap;
	display: block;
}

.mdksubmenu {
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}

.mdksubmenu table {
	width: auto;
} 

.mdksubframe { /*decorate*/
	z-index: 1000;
	position: relative;
	display: block;
}

.mdkitem {
	position: relative;
	text-align: left;
	white-space: nowrap;
}
	
.mdkitem a {
	position: relative;
	display: block;
}

.mdkitem .mdkfwdarr {
	position: absolute;
	top: 5px;
	right: 12px;
} 

.treemenudiv {
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

.imgs {
	border: 0;
	width: 16px;
	height: 18px;
}

ul.tree {
	list-style-type: none;
}

ul.tree li {
	white-space: nowrap;
}
	
/** Links in other menus **/

.linkmenu,
.linkmenu:visited {
	/*display: block;*/
}

/***** Misc. *****/
/* Minimize Menus */
.minimize-modules-left #col1 {
	margin-left: 80px !important;
}

.minimize-modules-right #col1 {
	margin-right: 80px !important;
}

.minimize-modules-left #col2 .separatoricon-toggle,
.minimize-modules-left #col2 .box .menuText,
.minimize-modules-left #col2 .mdkfwdarr,
.minimize-modules-right #col3 .separatoricon-toggle,
.minimize-modules-right #col3 .box .menuText,
.minimize-modules-right #col3 .mdkfwdarr {
	display: none !important;
}

.minimize-modules-left #col2 .box .menuLevel1 .menuText,
.minimize-modules-left #col2 .separatoricon-url,
.minimize-modules-right #col3 .box .menuLevel1 .menuText,
.minimize-modules-right #col3 .separatoricon-url {
	display: inline !important;
}

.minimize-modules-left #col2 .box,
.minimize-modules-right #col3 .box {
	/*      overflow: hidden;*/ /* This conflicts with CSS Menus */
}

span.moduleflip-vert {
	display: block;
	top: 20px !important;
	right: 1% !important;
}

#col2 .moduleflip-vert .flipmodimage,
.minimize-modules-right #col3 .moduleflip-vert .flipmodimage {
	background-image: url(../../pics/icons/resultset_first.png) !important;
}

#col3 .moduleflip-vert .flipmodimage,
.minimize-modules-left #col2 .moduleflip-vert .flipmodimage {
	background-image: url(../../pics/icons/resultset_last.png) !important;
}

.minimize-modules-left #col2 div.separator,
.minimize-modules-right #col3 div.separator {
	padding: 0;
	background: transparent;
	border: none;
}

.minimize-modules-left #col2 div.box-shadow,
.minimize-modules-left #col2 div.box,
.minimize-modules-right #col3 div.box-shadow,
.minimize-modules-right #col3 div.box {
	width: 70px !important;
}

.minimize-modules-left #col2 .content,
.minimize-modules-right #col3 .content {
	margin: 0 !important;
}

.minimize-modules-left #col2 div.option,
.minimize-modules-left #col2 div.optionline,
.minimize-modules-right #col3 div.option,
.minimize-modules-right #col3 div.optionline {
	margin: 0 !important;
	padding: 0 !important;
}

/* Minimize PHPLayers Menus */
.mdkverbar-with-icons .mdkitem {
	background: none;
}

.mdkverbar-with-icons .mdkitem a {
	padding: 0;
	width: 175px;
}

.mdkverbar-with-icons .mdkitem img {
	vertical-align: middle;
}

.minimize-modules-left #col2 .mdkverbar-with-icons .mdkitem,
.minimize-modules-left #col2,
.minimize-modules-right #col3 .mdkverbar-with-icons .mdkitem,
.minimize-modules-right #col3 {
	width: 60px !important;
}

.minimize-modules-left #col2 .mdkverbar-with-icons .mdkitem a,
.minimize-modules-right #col3 .mdkverbar-with-icons .mdkitem a {
	width: 50px !important;
	overflow: hidden;
}

/* Minimize CSS Menus */
.minimize-modules-left #col2 .cssmenu_vert,
.minimize-modules-left #col2 .cssmenu_vert div > ul,
.minimize-modules-left #col2 .cssmenu_vert li.menuLevel0,
.minimize-modules-left #col2 .cssmenu_vert li.menuLevel0 > a,
.minimize-modules-right #col3 .cssmenu_vert,
.minimize-modules-right #col3 .cssmenu_vert div > ul,
.minimize-modules-right #col3 .cssmenu_vert li.menuLevel0,
.minimize-modules-right #col3 .cssmenu_vert li.menuLevel0 > a {
	width: 44px;
}

.minimize-modules-left #col2 .cssmenu_vert li.menuLevel0 > ul {
	margin-left: 55px;
}

.minimize-modules-right #col3 .cssmenu_vert li.menuLevel0 > ul {
	margin-right: 55px;
}

/* centercolumn */
	
.fullscreen .tellafriend,
.fullscreen .share {
	margin-right: 100px;
	margin-top: 2px;
}

#rss {
	padding: 1em 1em 0;
}

#power {
	padding: 0 1em 1em;
}
	
#credits {
	display: inline;
}

#show-errors-button {
	z-index: 1024;
}

#errors {
	z-index: 1023;
}

.error .rbox-data .adminoption,
.error .rbox-data .adminoptionlabel {
	display: inline;
}

/** off-screen **/
ul.jumplinks {
	font-size: 0.8em;
	list-style-type: none;
}
	
ul.jumplinks,
.jumplinks {
	position: absolute;
	top: -9000px;
	left: -9000px;
	z-index: 9;
}

ul.jumplinks a:focus,
ul.jumplinks a:active {
	position: absolute;
	top: 9010px;
	left: 9010px;
	background: #ffe4e1;
	color: #0000cd;
	padding: 5px;
	font-weight: bold;
	border: 2px solid #191970;
	width: 6em;
	z-index: 9;
}

.fullscreenbutton, 
#fullscreenbutton {
	position: absolute;
	top: 2px;
	right: 10px;
	z-index: 10;
	font-size: 80%;
}
	
#tiki-clean {
	text-align: left;
	padding: 1em;
	background: #fff;
	color: #000;
}

/****** Misc. Global Classes (layout and style) ****/
.hidden {
	position: absolute;
	left: -10000px;
	top: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.floatlist {
	clear: left;
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

.floatlist li {
	float: left;
}

div#attzone,
div#comzone {
	display: none;
}

div#attzoneopen,
div#comzoneopen {
	display: block;
	margin-top: 10px;
}
	
div#attzone {
	margin-top: 10px;
}

div#edithelpzone {
	display: none
}

#rules-copy-panel {
	display: none;
}

.clear,
#clear {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
	
.clearfix {
	display: inline-block
}

/* Hide from IE Mac \*/
.clearfix {
	display: block;
}
/* End hide from IE Mac */

#overdiv table {
	width: auto !important;
}

div.imagerank {
	margin: 10px 5px;
}

div#debugconsole {
	position: absolute;
	top: 0;
	left: 20px;
	width: 60%;
	height: auto;
	z-index: 1000;
}
	
#debugconsole table {
	width: 100%;
}

#debugconsole input[type="text"] {
	width: auto;
}

.mini {
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

a.tikihelp,
a.tikihelp:visited {
	border: 0;
	vertical-align: text-top;
}

a.tikihelp:hover {
	cursor: help;
	vertical-align: text-top;
}

#rss img {
	vertical-align: middle;
}

a.icon,
img.icon {
	border: 0 !important;
	background: transparent;
	vertical-align: middle;
}

.iconmenutext {
	white-space: nowrap;
}

/** Find form **/
.findtable {
  text-align: center;
  margin-bottom: 10px;
 }
 
.findtitle,
.findexactmatch,
.findnumrows,
.findtypes,
.findlang {
	display: inline; 
	vertical-align: middle;
}

.findtable ul li {
	float: left;
}

.alphafilter {
	display: block;
	margin: 10px 0;
	text-align: center;
}

/* New Toolbars */

.textarea-toolbar {
	width: 99%;
}

.textarea-toolbar img.icon {
	vertical-align: middle;
	margin: 1px 3px;
}

.helptool-admin {	/* right justified section of toolbars */
	float: right;
	padding-left: 8px;
	margin-left: 8px;
	border-left: medium double #bfbfbf;
}

a.toolbar {			/* each tool button */
	padding: 4px 2px;
	display: inline-block;
}

span.toolbar-list {
	padding: 0 0 0 .5em;
	line-height: 20px;
	border-left: medium double #bfbfbf;
}

.toolbars-picker {	/* colours, smilies etc */
	position: absolute;
	width: 288px;
	z-index: 300;
	background-color: #fff;
	color: #000;
	line-height: 12px;
}

.toolbars-picker a {
	padding: 0;
	display: inline-block;
	border: #fff 1px solid;
}

.toolbars-picker a:hover {
	border: #f00 1px solid;
}

/* To ensure that full width of wysiwyg toolbar displays in narrow themes. */
.fckeditzone {
	min-width: 510px;
}

/* New Help section */
div#tikihelp {
	position: absolute;
	height: 100%;
}

div.help_sections {
	width: 360px;
	overflow: hidden !important;	/* override jq-ui's scroll bar as we use one on the div inside so the tabs stay in view */
	height: 500px;
}

div.help_section {
}

div.help_sections h3 {
}

div.help_sections > div {
	font-size: .9em;
	height: 100%;
	overflow: auto;
}

#site_report {
	text-align: center;
}

.plugin-form-float {
	position: fixed;
	left: 5%;
	right: 365px;
	top: 5%;
	max-height: 90%;
	overflow: auto;
	z-index: 1000;
}

.icon_edit_section {
	float: right;
}

/***** Boxes *****/
/** Modules **/
.box {
	overflow: hidden;
}

h3.box-title {
	display: block;
	padding-top: 0;
	position: relative; /* Needed for module shading icon to work. */
}

span.moduleflip,
.box-title span img.flipmodimage {
	display: none !important;
	/*float: right;
	position: relative;*/
	position: absolute;
	right: 1%;
	top: 0;
}

.box:hover span.moduleflip,
.box:hover .box-title span img.flipmodimage {
	display: block !important;
}

.box:hover img.flipmodimage {
	border: 1px solid transparent;
}

.box-data table {
	width: 100%;
}

.box-data a.linkmenu {
	display: block;
}

.box-data ol,
.box-data ul {
	padding-left: 2em;
	padding-right: .6em;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
}

.box-data ul {
	padding-left: 1.3em;
}

.modcontrols {
	display: block;
	float: right;
	width: 64px;
	height: 16px;
}
	
/* MiniChat  */
.box-minichat {
	width: 100%;
}

.minichat,
.minichatdiv,
.minichatchan {
	overflow: auto;
}

/* mod-switch_lang */
.box-switch_lang .box-data img {
	padding: .2em;
	vertical-align: middle;
}

.cbox,
.cbox-data,
.rbox-title,
.rbox-data {
	overflow: hidden;
}

/* remarks boxes */
.rbox-title {
	display: inline-block;
	width: auto;
	z-index: 1;
	position: relative;
	bottom: -1px;
}
	
.rbox-title .icon {
	padding: 0 .35em 0 0;
	vertical-align: top;
}
	
.rbox-data {
	position: relative;
	z-index: 0;
}

.rbox-close {
	float: right;
	cursor: pointer;
}

/* For wikitext or custom code areas, editors can add, for example, a div class="halffloat"
and put two modules or other divs between its tags;, each of these will use just under half of the width of the 
wikitext or custom content area. Similarly for three or four modules (or divs) across the page. */
.halffloat div.box,
.wikitext .halffloat div.box {
	float: left !important;
	clear: none;
	width: 48%;
	margin: 0 2% 0 0;
 }

.thirdfloat div.box,
.wikitext .thirdfloat div.box {
	float: left !important;
	clear: none;
	width: 31%;
	margin: 0 2% 0 0;
}

.quarterfloat div.box,
.wikitext .quarterfloat div.box {
	float: left !important; 
	clear: none; 
	width: 22%;
	margin: 0 2% 0 0;
}

/***** Tables, Tabs ****/
/** Tables **/

table.normal,
table.normalnoborder, 
table.admin {
	padding: 0;
	margin: 0;
	width: 100%;
}

td {
	vertical-align: top;
}

td.third,
th,
td.heading,
tr.diffheader {
	text-align: center;
}

/** Tabs **/
.tabs {
	margin: 10px 3px -1px 3px;
	padding: 0;
	position: relative;
	z-index: 2;
}

.tabs br {
	display: none;
}

.tabmark {
	display: inline;
	margin: 0;
	margin-right: 5px;
	padding: 1px 0;
	cursor: pointer;
}
	
.tabmark a {
	border-bottom: 0;
	padding: 1px 5px;
	text-decoration: none;
}

.tabactive {
	border-bottom: none;
	border-top-width: 2px;
	position: relative;
	top: 0;
}
	
.tabinactive {
	border-bottom: none;
	position: relative;
	top: 0;
}
	
.tabcontent {
	z-index: 1;
	position: relative;
	padding: 4px;
/*	padding-top: 21px;
	margin-bottom: 25px;
	margin-top: -1px;*/
}

.tabcontent table {
/*	margin: 1% auto 2% auto; */
	text-align: left;
	width: auto;
	background: transparent;
}

.tabcontent table td {
	padding: 5px;
}

table.admin div#content1 div.tabcontent div.cbox {
	background: transparent;
}

/***** Wiki *****/
div#description,
div.description {
	display: block;
}

#pageid {
	float: left;
	clear: both;
}

#cachedpage {
	float: right;
}

.wikiactions {
	white-space: nowrap !important;
}

div.split {
	clear: both;
}

div#page-bar {
	display: block;
	margin-top: 0;
}

#page-bar > span {
	float: left;
}

/*Information below the wiki content must not overlap the wiki 
		content that could contain floated elements */
.hrwikibottom {
	clear: both;
	height: 0px;
	visibility: hidden;
}

.wiki-edithelp {
	display: none;
}

/* Wiki plugins */
table.wikiplugin-split {
	border: none;
	clear: both;
}

table.wikiplugin-split .codelisting {
	width: 95%;
}

/* wikiplugin_footnotearea */
.footnotearea {
	margin-top: 2em;
	font-size: 0.9em;
}

/* Versions plugin */
#tiki-center .versionav {
	padding: 0;
	border: 0;
	margin-bottom: -1px;
}
	
.versionav .button {
	margin-bottom: 0;
}

#tiki-center .versioncontent {
	padding: 1em;
}
	
/* wikiplugin edit */
.wikiplugin_edit textarea {
	width: 99%;
	height: 150px;
}

ul.floatleft {
	display: block;
	list-style: none;
	padding: 0;
	text-align: left;
	height: 20px;
	margin-top: 0;
}

ul.floatleft li {
	float: left;
	padding: 4px 2px;
}
	
.editdate ul.floatleft {
	margin-top: 8px;
}

/* mouseover plugin */
.plugin-mouseover {
	position: absolute;
	z-index: 500;
	display:none;
	padding: .4em;
}

/* fancytable (sortable) plugin */

.fancysort .header {
	cursor: pointer;
}

/* img plugin */
div.imgbox {
        padding: 5px;
}

div.thumbcaption {
        padding: 2px;
}

div.magnify {
        float: right;
        padding-top: 0.1cm;
}

img.magnify {
        height: 12px;
        width: 12px;
}

/** Wiki tocs **/
div.tocnav {
	margin-bottom: 4px;
	clear: both;
}
 
#tocnavicons {
	float: left;
}

#tocnavaddpage {
	float: right;
}

#tocnavlinks {
	clear: both;
}

.fancytoclevel {
	list-style-image: url(../../img/icons/footprint.gif);
}

/* TOC */
ul.toc * {
	list-style: none;
}

/***** Articles ****/
div.article {
	margin-bottom: 40px;
}

div.articletitle h2 {
	margin: 0;
}

img.topicimage,
img.articleimagenofloat,
img.articleimage {
	padding: 2px 0;
	margin-bottom: 10px;
}

img.articleimagefloat {
	margin-right: 4px;
	float: left;
	padding: 2px 0;
	margin-bottom: 10px;
}

img.articleimage {
	margin-right: 4px;
	float: left;
	clear: right;
	padding: 2px 0;
	margin-bottom: 10px
}

div.articletrailer {
	position: relative;
	text-align: center;
	margin-top: 1.1em
}
	
div.articletrailer .wikitopline {
	float: left;
}

div.article .status {
	position: absolute;
	left: 0;
}

div.articletrailer span {
	display: inline-block;
	margin: auto;
	white-space: nowrap;
}

div.article .actions {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	white-space: nowrap;
}

/* To keep language form and actions icons on one line */
div.article .actions form {
	display: inline;
}

/***** Blogs *****/

div.blogheading {
	display: block;
	width: 100%;
	clear: both;
}
	
div.blogdesc {
	display: block;
	width: 40%;
}

div.bloginfo {
	display: block;
}

.blogactions {
	float: right;
}

.postinfo {
	margin-bottom: 20px;
	margin-top: 10px;
}

.postinfo div {
	margin-top: 30%;
}

small.description {
	display: block;
}

div.posthead {
	text-align: left;
	padding: 3px;
}

span.posthead {
	display: block;
}

body.tiki_blogs .post_single {
	padding-bottom: 30px;
}

body.tiki_blogs .post .postfooter {
	clear: both;
	float: right;
}

body.tiki_blogs div.author_actions {
	width: 100%;
	text-align: right;
}

/* Related content */
.related_posts {
	margin-top: 3em;
}

.related_posts h4 {
	margin: 0;
}

/***** Forums *****/
body.tiki_forums table.normal {
	margin: auto;
}

#forumpost {
	display: none;
}

#forumpostopen {
	display: block;
}

.post .postbody {
	clear: both;
	margin: 0;
	margin-top: 5px;
	padding: 0;
}
	
.post .postbody .content {
	padding: 0 3px 3px 3px;
	margin: 0;
	text-align: left;
}
	
.post .postbody-title {
	overflow: hidden;
}

.post .postbody-title .checkbox {
	float: left;
}

.post .postbody-title .title {
	float: left;
	margin-left: 5px;
	margin-top: 3px;
}
	
.post .author {
	float: right;
	text-align: right;
	vertical-align: top;
}

.post .author_post_info {
	padding-left: 4px;
	padding-bottom: 4px;
}

.post .author_info .icons {
	display: block;
}

.post .author_info .icons .actions {
	margin-right: 10px;
}

.commentStyle_headers .author_info {
	float: left;
}

.post .postbody-title .actions {
	float: right;
}

.postbody-content {
	padding: 3px;
}

.postbody .content {
	margin: 5px;
}

.post .postbody .attachments {
	clear: both;
	margin-top: 5px;
}

.post .postbody .attachments img {
	vertical-align: text-bottom;
}

.post .postfooter {
	float: right;
	text-align: right;
	width: 100%;
}
.post .postfooter .rating {
	display: inline;
}


.post .postfooter .actions,
.post .postfooter .status {
	display: inline;
	margin-left: 5px;
	vertical-align: top;
}

.post .inner > .postfooter {
	clear: both;
}

.post .avatar {
	float: right;
	margin-bottom: 5px;
	margin-left: 4px;
	padding: 3px
}

.postfooter .postfooter-nav {
	display: block;
	margin-top: 1em;
}

.postfooter .postfooter-nav .postfooter-nav-prev {
	text-align: left;
	float: left;
	width: 50%;
}

.postfooter .postfooter-nav .postfooter-nav-next {
	float: right;
	width: 50%;
}

.sub_comment {
	padding-left: 20px;
}

.sub_comment_area {
	clear: both;
	background: url("../../img/edge.gif") no-repeat top left;
}

.forum_actions .actions {
	clear: both;
	padding: 3px;
	vertical-align: middle;
}

.forum_actions .actions .action {
	margin-right: 10px;
}

.forum_actions .headers {
	vertical-align: bottom;
}

.forum_actions .headers .title {
	float: left;
	border-bottom: 0;
	padding: 1px;
}

.forum_actions .headers .infos {
	float: right;
	padding-top: 2px;
}

.thread_pagination {
	text-align: center;
	margin-bottom: 10px;
}

.nb_replies {
	white-space: nowrap;
}
.post_preview,
.top_post {
	margin-bottom: 15px;
}

/* Comments */
#comzone {
	display: none;
	margin: 5px 0;
	padding: 0;
}
 
#comzoneopen {
	display: block;
	margin: 5px 0;
	padding: 0;
}
 
span.commentstitle {
	font-weight: bold;
	font-size: 1.2em;
}

/* Comment Annotations */

dl.note-list {
	margin: .5em;
	background: #fff;
	color: #000;
	border: solid thin black;
}

#note-editor-comment {
	background-color: #fff;
	color: #000;
	border: #999 1px solid;
	padding: .5em;
}

.note-editor-text {
	background-color: #eee;
	color: #000;
}

.note-list .postbody-title {
	background-color: #ccc;
	color: #000;
	padding: .5em;
}

.note-list .title a {
	color: #000;
	font-size: larger;
	font-weight: bold;
}

.note-list .actions {
	float: right;
}


.note-list .author {
	font-size: smaller;
	text-align: right;
}

/* Comments moderation */
.post-approved-n {
	border-left: 3px dotted blue;
}

.post-approved-r {
	border-left: 3px double red;
}

.post-approved-r .content * {
	background: url(../../img/icons2/dots.gif);
}

textarea#editpost2 {
	width: 98%;
}

.subcomment {
	margin-left: 10px;
}

div.commentsedithelp {}

/**** Image Galleries ****/
table.galtable {
	width: 100%;
}

body.tiki_galleries table.findtable {
	display: inline;
}

td.oddthumb {
	border-collapse: collapse;
}

td.eventhumb {
	border-collapse: collapse;
}

td.eventhumb img {
	margin-left: 6px;
	margin-right: 6px;
}

div#browse_image {
	width: 100%;
}

img.athumb {
	border: 0;
	margin: auto
}

div.showimage {
	margin: 5px 0;
	width: 100%;
	text-align: center;
	padding: 6px;
}

div.imgaldescr {
	margin: 10px
}

.sorttitle {
	margin-left: 10px;
}

div#browse_image {
	width: 100%
}

/* Random image module - top and bottom margin better
when module used without decorations. */
div#random_image {
	text-align: center;
	margin: 1em auto;
}

/***** File Galleries *****/
.fgallisting table td {
	padding-left: 2px;
	padding-right: 2px;
}

opaque .box-title,
.opaque .box-data {
	width: auto;
}

.opaque .iconmenu {
	display: block;
	white-space: nowrap;
}

/***** Trackers (etc.) *****/
.statuson {
	padding: 1px;
	margin: 1px;
	vertical-align: middle;
}

.statusoff {
	padding: 1px;
	margin: 2px;
	vertical-align: middle;
}
	
/* also for categorize.tpl */
div.multiselect {
	vertical-align: middle;
	padding: 0;
	height: auto;
	overflow: visible;
}

div.multiselect table {
	width: 100%
}

div.multiselect div.option {
	white-space: nowrap;
	width: 33.33%;
	display: inline-block;
	overflow: hidden;
	margin: -1px;
}

div.multiselect div.selection span {
	display: inline;
}

div.multiselect ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
}

div.multiselect li {
	margin-left: 3em;
}

div.multiselect  ul.root > li {
	margin: 0 1em 0.5em .5em;
	display: block;
	float: left;
}

div.multiselect img {
	vertical-align: middle;
}

div.multiselect div.selection {
	display: none;
	overflow: auto;
	position: relative;
	height: auto;
	max-height: 7em;
	z-index: 1000;
	width: 100%;
	left: -1px;
	float: left;
	margin: 0;
	padding: 0;
}

div.trackerfilter-result {
	max-height: 50ex;
	overflow: auto;
}

/***** Categories, Tags *****/
span.categpath {
	display: block;
}

a.categpath {
	display: inline;
}

.catfeatures {
	margin-left: 0;
	padding: 0;
}

.catfeatures .catitems li {
	display: inline;
	margin-right: 7px;
}

.catitems li {
	display: inline;
}

/***** Tags (freetags) *****/
.freetaglist {
	padding: 0 20px 8px;
	text-align: right;
}

.freetagsearch {
  margin: 10px 0;
  text-align: center;
 }

.freetagskeywords {
	margin: 10px 0;
}

.freetagsort {
	margin: 10px 0;
}

.freetagresult {
	margin-left: 10%;
	width: 70%;
}

.freetagitemlist {
	margin-top: 10px;
	padding: 0;
	text-align: left;
}

.freetagitemlist h3 {
	margin: 0;
	padding: 0;
}

.freetagitemlist a {
	text-decoration: none;
}

.freetagitemlist img {
	float: right
}

.freetagitemlist a:hover {
	text-decoration: none;
}

.freetagitemlist div.type {
	margin-left: 10px;
}

a.freetag,
a.freetag:hover {/* freetags.css (line 8)*/
	margin: auto;
}

li.freetag {
	list-style: none !important;
	display: inline !important;
	margin: 0;
	padding: 0;
}

ul.freetag {
	margin: 0;
	padding: 0;
	display: inline !important;
}

.freetag a {display: inline !important}

div.freetagObjectOdd {
	margin: 2px;
	position: relative;
}

div.freetagObjectEven {
	margin: 2px;
	position: relative;
}

div.freetagObjectType {
	position: absolute;
	top: 0;
	right: 0;
}

div.freetagObjectName a {
	text-decoration: none;
}	

.searchresults {
	list-style: none;
	padding: 0;
	margin: 0;
}

.searchresults li {
	margin: 10px 0 0;
}

.freetaglist {
	padding: 0 20px;
	text-align: right;
}

/*****  Polls  *****/
table.pollresults {
	width: 100%;
}

#pollopen {
	display: block;
}

#pollzone {
	display: none;
}

#polledit {
	display: none;
}

/***** FAQs *****/
/***** Quizzes *****/
/***** Shoutbox *****/

.box-shoutbox table td {
	font-size: .8em;
}

/***** Directory *****/
/***** Messages *****/

/***** TikiSheets *****/
.tiki_sheet table td { /* override .tabcontent table td */
	padding: 0;
}

.plugin-desc {
	padding: 5px;
}

.plugin-sample {
	padding: 5px;
	font-family: "Courier New", Courier, monospace;
}

.plugin-sample .plugin-param {
	padding-left: 15px;
}

/***** Calendar *****/
/* Properties are in css/calendar.css, 
	which can be overridden
	in theme stylesheets.  */

/***** Admin *****/

.center {
	text-align: center;
}

.justify {
	text-align: justify;
}

.right {
	text-align: right;
}

/* admin boxes etc (.admbox) now defined in css/admin.css */

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/
div#ajaxLoading {
	z-index: 10000;
	color: #fff;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 3px;
	color: #333;
	text-align: center;
	vertical-align: top;
	background: transparent url(../../img/loading-light.gif) no-repeat 50% 50%;
	height: 80px;
	width: 100px;
	margin-left: -50px;
	margin-top: -40px;
}

div#ajaxLoadingBG {
	z-index: 9999;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	background: transparent url(../../img/overlay-light.png);
	width: 100%;
	height: 100%;
}

/* ColorBox */
#cboxTitle {
	background-color: #fff;
}
#cboxTitle div {
	overflow: auto;
	margin: 3px 100px 0;
}

/* Cluetip - JQuery tooltips
   =cluetipClass: 'default' */


div#cluetip-close { 
	text-align: right;
	margin: 0;
	padding-right: .5em;
}
	
.cluetip-fullhtml {
	margin: 0;
	padding: 0;
}

/***** New (unsorted) *****/

/* webmail & groupmail */

.box-webmail_inbox img.icon {
	vertical-align: middle;
}

.webmail_list .button {
	display: inline-block;
}

table.webmail_message_headers {
	width: 100%;
}

table.webmail_message_headers th {
	width: 6em;
}

@media print {
	.tikihelp, .navbar, categbar, .tabstoggle, .tabs, #show-errors-button {display:none;}
}

/* treeTable definitions - used in object-perms so far */

table.treeTable {
	padding-left: 19px;
}

table.treeTable .checkBoxHeader {
	font-size: .8em;
}

table.treeTable .subHeader td {
	font-weight: bold;
}

table.treeTable .parent td {
	font-style: italic;
}

.thumbnailcontener { border: solid 1px #d3d3d3; margin: 1px; padding: 2px; text-align: center;}

/* jquery-ui dialogs help */

.ui-dialog label {
	display: block;
}

.ui-datepicker {
	z-index: 1024;
}

.ui-accordion-header {
	padding-left: 28px;
}

/* Preferencies        */
.pref_dependency {
	margin-left: 20px;
	font-size: 95%;
}

/* Perspecives (edit) */

.dropzone {
	color: #000;
	background-color: #fff;
	border: #999 solid 2px;
	border-bottom-color: #ccc;
	border-right-color: #ccc;
}

.dropzone > div:hover {
	background-color: #eee;
} 

.podcast {
	margin-left: -25px;
}

.podcast div.moduledescription {
	margin-left: 25px;
}

/* page contribution by author / wikiplugin_author */

.author0 {
	color: black;
}

.author1 {
	color: blue;
}

.author2 {
	color: red;
}

.author3 {
	color: green;
}

.author4 {
	color: maroon;
}

.author5 {
	color: yellow;
	background-color: gray;
}

.author6 {
	color: aqua;
	background-color: gray;
}

.author7 {
	color: fuchsia;
	background-color: gray;
}

.author8 {
	color: teal;
}

.author9 {
	color: purple;
}

.author10 {
	color: white;
	background-color: navy;
}

.author11 {
	color: olive;
}

.author12 {
	color: gray;
}

.author13 {
	color: navy;
}

.author14 {
	color: silver;
	background-color: blue;
}

.author15 {
	color: lime;
	background-color: gray;
}

.deleted {
	text-decoration: line-through;
}

/* interactive translations */

#intertrans-indicator {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 40px;
	background-color: #ade;
	padding: 1em;
}

#intertrans-form {
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
	overflow: auto;
	background-color: #eff;
	display: none;
	z-index: 2000;
	padding: 1em;
	border: #799 solid 2px;
}
#intertrans-form table {
	width: 98%;
	padding: 1em;
}
#intertrans-form table input {
	width: 100%;
}

table.intertrans td {
	width: 50%;
}

/* End of File */
