/* 
    Document   : custom
    Created on : Mar 21, 2011, 4:57:36 PM
    Author     : jonny
    Description:
        Make the tracker calendar bigger for a start.
*/

/* header */

#tiki-top {
	top: 120px;
}

#siteheader {
	height: 120px;
}

.searchMenu {
	display: none;
}

#customcode {
	float: left;
	clear: none;
}

/* pagetop */

#custom_center_column_header {
	height: 36px;
}

.freetaglist, .tabstoggle {
	display: none;
}

/* calendar */

.box- {
	width: 100%;
}

.caltable td {
	height: 3em;
	vertical-align: middle;
	font-size: 3em !important;
}

#trackerFilter1 input[name=reset_filter] {
	display: none;
}

.calnavigation a.next {
	float: none;
}

.calnavigation {
	font-size: 2em;
	line-height: 2.2em;
}
.EventItem {
	text-align: left;
}

.calBox li {
	border: 1px solid #94BBC4;
	padding: 0.2em 0.6em;
	margin: 0.6em 0.2em;
}

.calBox ul {
	list-style: none;
	margin: 0;
	padding: 0 0.5em;
}

.calBox {
	background: #B1CFD6;
	padding: 0;
}

/* directory */

.trackerfilter-result > .floatright > .description,
.trackerfilter-result > .floatright > .wikitext > span {
	display: none;
}

.directoryItem {
	width: 100%;
	height: 200px;
	margin-right: 210px;
}

/* carousel */

.small_carousel {
	height: 120px;
	width: 180px;
	overflow: hidden;
	position: relative;
	padding: 0;
	margin: 0;
}

.small_carousel ul {
	position: relative;
	padding: 0;
	margin: 0;
}

.small_carousel li {
	display:inline;
	float:left;
	background-image: none;
	padding: 0;
}

/* modules */

.box-menupage > div {
	margin: 0;
	padding: 10px 0 0;
}

.rsslist {
	list-style: none;
}

.rssitem {
	font-size: 0.9em;
}

.rssitem a:hover {
	color: #004354;
}

#twitter_feed > p {
	display: none;
}


