@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
/* Flatly theme newsletter stylesheet */
.margin-bottom-xs {
  margin-bottom: 6px;
}
.margin-bottom-sm {
  margin-bottom: 11px;
}
.margin-bottom-md {
  margin-bottom: 21px;
}
.margin-bottom-lg {
  margin-bottom: 42px;
}
body {
  background: #ffffff;
  color: #2c3e50;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px;
}
a,
a:visited {
  color: #18bc9c;
  text-decoration: underline;
}
a:hover {
  color: #18bc9c;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: inherit;
}
.panel {
  margin-bottom: 21px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #ecf0f1;
  border-top: 1px solid #ecf0f1;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-default {
  border-color: #ecf0f1;
}
.panel-default > .panel-heading {
  color: #2c3e50;
  background-color: #ecf0f1;
  border-color: #ecf0f1;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ecf0f1;
}
.panel-default > .panel-heading .badge {
  color: #ecf0f1;
  background-color: #2c3e50;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ecf0f1;
}
.panel-primary {
  border-color: #2c3e50;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #2c3e50;
}
.panel-primary > .panel-heading .badge {
  color: #2c3e50;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #2c3e50;
}
.panel-success {
  border-color: #18bc9c;
}
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #18bc9c;
}
.panel-success > .panel-heading .badge {
  color: #18bc9c;
  background-color: #ffffff;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #18bc9c;
}
.panel-info {
  border-color: #3498db;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #3498db;
  border-color: #3498db;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #3498db;
}
.panel-info > .panel-heading .badge {
  color: #3498db;
  background-color: #ffffff;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #3498db;
}
.panel-warning {
  border-color: #f39c12;
}
.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #f39c12;
  border-color: #f39c12;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #f39c12;
}
.panel-warning > .panel-heading .badge {
  color: #f39c12;
  background-color: #ffffff;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #f39c12;
}
.panel-danger {
  border-color: #e74c3c;
}
.panel-danger > .panel-heading {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #e74c3c;
}
.panel-danger > .panel-heading .badge {
  color: #e74c3c;
  background-color: #ffffff;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #e74c3c;
}
