/*
	$Id$
	Mollio stylesheet for IE6.
*/
#main {
	font-size: 1.1em;
}

#c1c2 #wrapper .marginleft {
	margin-left: 216px;
}

#c1c2 #col2 {
	/*width: 2*/
	margin-right: -216px;
}

#tiki-center {
	font-size: 1em;
}

#header-top {
	height: 1%:
}

#siteloginbar {
	top: 5px;
}

#sitetitle,
#sitesubtitle {
	height: 40px;
	display: inline;
}

#tiki-top {
	height: 40px;
	position: relative;
}

#tiki-top .cssmenu_horiz {
	position: absolute;
	bottom: 0;
}

#tiki-top .cssmenu_horiz li a {
	font-size: 13px;
}