/*  "good" option by jonnyb for Jqui (jqui.css) for Tiki Wiki CMS Groupware.
	Visit http://themes.tiki.org for more information. */
a {
  color: #395bb0;
}
a:hover,
a:focus {
  color: #395bb0;
}
.btn-default {
  color: #395bb0;
  background-color: #395bb0;
  border-color: #395bb0;
}
.btn-default:focus,
.btn-default.focus {
  color: #395bb0;
  background-color: #2d4789;
  border-color: #1a2950;
}
.btn-default:hover {
  color: #395bb0;
  background-color: #2d4789;
  border-color: #2a4382;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #395bb0;
  background-color: #2d4789;
  border-color: #2a4382;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #395bb0;
  background-color: #24396f;
  border-color: #1a2950;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #395bb0;
  border-color: #395bb0;
}
.btn-default .badge {
  color: #395bb0;
  background-color: #395bb0;
}
.navbar-default {
  background-color: #395bb0;
  border-color: #2d4789;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e6e6e6;
  background-color: #395bb0;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #e6e6e6;
}
body {
  color: #395bb0;
}
a,
a.btn-link {
  color: #395bb0;
}
a:hover,
a.btn-link:hover,
a:focus,
a.btn-link:focus {
  color: #395bb0;
}
#col2 .panel a,
#col3 .panel a,
#bottom_modules .panel a,
#col2 .panel a:visited,
#col3 .panel a:visited,
#bottom_modules .panel a:visited {
  color: #395bb0;
}
.btn,
.btn-default,
input[type="reset"],
input[type="submit"],
.button input {
  text-transform: normal;
}
.btn.btn-link,
input[type="submit"].btn-link {
  background: none;
}
.btn:hover,
.btn-default:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
  background: inherit;
}
.topbar,
.topbar .navbar-default .navbar-nav > li,
.topbar .nav > li {
  color: #ffffff;
}
.topbar > a,
.topbar .navbar-default .navbar-nav > li > a,
.topbar .nav > li > a {
  color: #ffffff;
}
.topbar > a:hover,
.topbar .navbar-default .navbar-nav > li > a:hover,
.topbar .nav > li > a:hover,
.topbar > a:focus,
.topbar .navbar-default .navbar-nav > li > a:focus,
.topbar .nav > li > a:focus {
  color: inherit;
}
/*.navbar-nav > li > a {
  padding-top: none;
  padding-bottom: none;}

.navbar-nav > li > a {
  padding-bottom: 0;
  padding-top: 0;
}*/
.sf-arrows .sf-with-ul:after {
  border: 5px solid transparent;
  border-top-color: #395bb0;
}
.cssmenu_vert.sf-arrows li > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #395bb0;
  /* edit this to suit design (no rgba in IE8) */
}
.sf-arrows ul .sf-with-ul:after,
.cssmenu_vert.sf-arrows ul > li > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: inherit;
  /* edit this to suit design (no rgba in IE8) */
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: inherit;
}
.cssmenu_vert.sf-arrows li > .sf-with-ul:focus:after,
.cssmenu_vert.sf-arrows li:hover > .sf-with-ul:after,
.cssmenu_vert.sf-arrows .sfHover > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: inherit;
}
#col2 .cssmenu_vert.sf-arrows li > .sf-with-ul:after,
#col3 .cssmenu_vert.sf-arrows li > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #395bb0;
  /* edit this to suit design (no rgba in IE8) */
}
#col2 .cssmenu_vert.sf-arrows li > .sf-with-ul:focus:after,
#col3 .cssmenu_vert.sf-arrows li > .sf-with-ul:focus:after,
#col2 .cssmenu_vert.sf-arrows li:hover > .sf-with-ul:after,
#col3 .cssmenu_vert.sf-arrows li:hover > .sf-with-ul:after,
#col2 .cssmenu_vert.sf-arrows .sfHover > .sf-with-ul:after,
#col3 .cssmenu_vert.sf-arrows .sfHover > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #395bb0;
}
#page-data a {
  font-weight: bold;
}
#page-data {
  font-size: 115%;
}
.navbar-default,
.topbar,
.topbar .navbar-default .navbar-nav > li,
.topbar .nav > li,
.panel-heading,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background: #395bb0;
}
.topbar .nav > li > a {
  border-right: 1px solid #2d4789;
  font-weight: bold;
}
.topbar .nav > li:first-of-type > a {
  border-left: none;
}
.panel {
  border-radius: 2px;
}
.panel-default > .panel-heading {
  background: #395bb0;
  margin: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.panel-title {
  color: #ffffff;
}
.topbar .cssmenu_horiz.sf-arrows > .menuSection0 > .sf-with-ul::after {
  border: 5px solid transparent;
  border-top-color: #fff;
}
.topbar .cssmenu_horiz.sf-arrows > .menuSection0:hover > .sf-with-ul::after {
  border: 5px solid transparent;
  border-top-color: #e6e6e6;
}
