div.qindex {
	width: 100%;
	background-color: #eeeeff;
	border: 4px solid #eeeeff;
	text-align: center;
	margin-bottom: 2px;
}

a.qindex {
	text-decoration: none;
	font-weight: bold;
}

a.qindex:hover {
	text-decoration: none;
	background-color: #ddddff;
}

a.qindexHL {
	text-decoration: none;
	font-weight: bold;
	background-color: #6666cc;
	color: #ffffff
}

a.qindexHL:hover {
	text-decoration: none;
	background-color: #6666cc;
}

a.qindexRef {
	text-decoration: none;
	font-weight: bold;
}

a.qindexRef:hover {
	text-decoration: none;
	background-color: #ddddff;
}

a.qindexRefHL {
	text-decoration: none;
	font-weight: bold;
	background-color: #6666cc;
	color: #ffffff
}

a.qindexRefHL:hover {
	text-decoration: none;
	background-color: #6666cc;
}

a.el {
	text-decoration: none;
	font-weight: bold;
}

a.elRef {
	font-weight: bold;
}

a.code {
	text-decoration: none;
	font-weight: normal;
	color: #4444ee;
}

a.codeRef {
	font-weight: normal;
	color: #4444ee;
}

a:hover {
	text-decoration: none;
	background-color: #f2f2ff;
}

dl.el {
	margin-left: -1cm;
}

div.fragment {
	width: 98%;
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	padding-left: 4px;
	margin: 4px;
}

div.ah {
	background-color: black;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 3px;
	margin-top: 3px;
}

td.md {
	background-color: #f2f2ff;
	font-weight: bold;
}

td.mdname1 {
	background-color: #f2f2ff;
	font-weight: bold;
	color: #602020;
}

td.mdname {
	background-color: #f2f2ff;
	font-weight: bold;
	color: #602020;
	width: 600px;
}

div.groupHeader {
	margin-left: 16px;
	margin-top: 12px;
	margin-bottom: 6px;
	font-weight: bold;
}

div.groupText {
	margin-left: 16px;
	font-style: italic;
	font-size: smaller;
}

td.indexkey {
	background-color: #eeeeff;
	font-weight: bold;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0;
	margin-right   : 0;
	margin-top     : 2px;
	margin-bottom  : 2px;
}

td.indexvalue {
	background-color: #eeeeff;
	font-style: italic;
	padding-right  : 10px;
	padding-top    : 2px;
	padding-left   : 10px;
	padding-bottom : 2px;
	margin-left    : 0;
	margin-right   : 0;
	margin-top     : 2px;
	margin-bottom  : 2px;
}

tr.memlist {
	background-color: #f0f0f0;
}

p.formulaDsp {
	text-align: center;
}

img.formulaInl {
	vertical-align: middle;
}

span.keyword       { color: #008000 }
span.keywordtype   { color: #604020 }
span.keywordflow   { color: #e08000 }
span.comment       { color: #800000 }
span.preprocessor  { color: #806020 }
span.stringliteral { color: #002080 }
span.charliteral   { color: #008080 }

.mdTable {
	border: 1px solid #868686;
	background-color: #f2f2ff;
}

.mdRow {
	padding: 8px 20px;
}

.mdescLeft {
	font-size: smaller;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FAFAFA;
	padding-left: 8px;
	border-top: 1px none #E0E0E0;
	border-right: 1px none #E0E0E0;
	border-bottom: 1px none #E0E0E0;
	border-left: 1px none #E0E0E0;
	margin: 0;
}

.mdescRight {
	font-size:smaller;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	background-color:#FAFAFA;
	padding-left:4px;
	border-top:1px none #E0E0E0;
	border-right:1px none #E0E0E0;
	border-bottom:1px none #E0E0E0;
	border-left:1px none #E0E0E0;
	margin:0;
	padding-bottom:0;
	padding-right:8px;
}

.memItemLeft {
	padding:1px 0 0 8px;
	margin:4px;
	border-color:#E0E0E0;
	border-style:solid none none;
	border-width:1px;
	background-color:#FAFAFA;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
}

.memItemRight {
	padding:1px 0 0 8px;
	margin:4px;
	border-color:#E0E0E0;
	border-style:solid none none;
	border-width:1px;
	background-color:#FAFAFA;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:13px;
