/* $Id$
	Candii Clouds theme by Mark Schultz (izovwerwalter@yahoo.com),
	licensed Creative Commons Attribution 2.5 and adapted for
	Tiki Wiki CMS Groupware by Gary Cunningham-Lee. Because IE7
	does not support display:table, minimal HTML tables are needed for
	graphic treatment and column integrity.
 */

/* Import the default layout properties file: */
@import url("layout/layout.css");
@import url("layout/design.css");

/***** XHTML Elements (body tag here,
			others follow Layout) *****/
html {background: #ffe0ee}

body {
	display: table;
	background: #ffe0ee url(candiiclouds/piink.gif);
	font-family: Tahoma;
	font-size: 72%;
	font-weight: bold;
	color: #0076a3;
	width: 100%}

html>body {font-size: .7em !important}

 /***** Layout (overrides layout.css;
		also styling of page layout divs)  *****/
table#main {font-size: 1em}

td#leftmargin {
	width: 10%;
	background: url(candiiclouds/leftmarginbg.jpg) 100% 0 repeat-y}

td#header {background: #fff}

td#rightmargin {
	width: 10%;
	background: url(candiiclouds/rightmarginbg.jpg) 0 0 repeat-y;}

td#leftcolumn {
	width: 210px;
	background: #fff}

td#centercolumn {
	padding: 35px 10px 10px 10px;
	background: #fff url(candiiclouds/cloudsbdr.gif) no-repeat top center}

td#rightcolumn {
	width: 210px;
	background: #fff}

#footer {
	font-family: Tahoma;
	font-size: x-small;
	font-weight: bold;
	color: #f49ac1;
	background: #FFE0EE;
	text-align: center;
	margin-right: 1px;
	margin-left: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #FFCCE2}

/***** XHTML Elements (other than body tag) ******/
a,
a:visited,
a:hover,
a:active {text-decoration: none }

a:link {color: #00adef}

a:visited {
	color: #00adef;
	border-bottom: 1px dashed #00adef}

a:hover {
	border-bottom: 1px dashed #ec008c;
	color: #ec008c}

a:active {color: #9e005d}
fieldset {border: 1px solid #f06ea9}

h1, h2, h3, h4 {letter-spacing: normal}

h1 {
	font-size: 1.4em;
	border-bottom: 1px dashed #00adef}

h2 {font-size: 1.4em}
h3 {font-size: 1.2em}
h4 {font-size: 1.1em}
h5 {font-size: 1.05em}
h6 {font-size: 1em}
legend {color:#0076A3}

button,
input,
textarea,
option,
select {background: #ffe0ee;font-weight: bold;
	color: #0076a3}

* html .wikitopline select {font-size: .9em}

textarea,
body.cke_show_borders {
	background: #ffe0ee;
	color: #0076a3}

input[type=checkbox],
input[type=radio] {
	background: #ffe0ee;
	border: 0}

input {
	padding: 0.1em;
	margin-left: 2px;
	margin-right: 2px;
	vertical-align: middle}

input[type="text"],
input[type="password"] {padding: 0 .2em}


.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.submitbutton,
.calbuttonBox a,
input[type="file"],
select {
	background: #a7e6ff;
	border: 1px solid;
	border-color: #41cbe7 #223845 #223845 #41cbe7;
	color: #0076a3;
	font-size: 94%;
	font-weight: bold}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.submitbutton:hover,
.calbuttonBox a:hover {
	background: #ffcce2;
	color: /*#f06ea9*/#00adef}

* html input[type="reset"],
* html input[type="submit"],
* html input[type="file"] {
	background: #a7e6ff;
	border: 1px solid;
	border-color: #41cbe7 #223845 #223845 #41cbe7;
	color: #0076a3;
	font-size: 94%;
	font-weight: bold}

select[multiple] {height: 10em}
select[name="theme"] {width: 165px}

select[name="theme"],
select[name="time_control"],
.searchMenu select {
	border: 1px solid;
	border-color: #223845 #41cbe7 #41cbe7 #223845}

option {background: #a7e6ff}
label {cursor: pointer}

u {
	border-bottom: 1px dashed #00adef;
	text-decoration: none}

/***** Site Header & Identity *****/
#header-top {
	background: #fff;
	padding: 10px}

img#bcloud {
	float: left;
	clear: none;
	margin-right: 50px}

#siteheader {
	display: block;
	min-height: 120px}

div#sioptions  {background: url(candiiclouds/banstars.gif);}
#sioptionscentered {background: url(candiiclouds/banstars.gif);}
.floatright img {margin-right: 40px}

div#sitelogo {
	float: left;
	clear: none;
	margin: 0;
	padding: 0}

#sitelogo a {border-bottom: 0}
div#sitead {margin: 5px}
#sitead.floatright {padding-right: 100px}
#sitead.floatleft {padding-left: 100px}

#siteloginbar {
	right: 13px;
	bottom: 8px}

#siteloginbar_popup {
	bottom: 3px;
}

#sitetitle {
	text-indent: 42px;
	font-size: 3em;
	padding-top: 20px}

#sitetitle a,
#sitetitle a:visited {
	border-bottom: none;
}

#sitesubtitle {text-indent: 42px}

#sitesearchbar {border-left: 1px solid #fff}

input#fuser,
select[name="where"],
input[name="search"] {
	background: #a7e6ff;
	color: #00adef;
	font-weight: bold}

#tiki-top {background: #fff}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

/* typography, colors */
.cssmenu_horiz li ul li,
.cssmenu_vert li {
	background-color: #a7e6ff;
}

.cssmenu_vert li a   {
	background: #a7e6ff;
	color: #0076A3;
	text-decoration: none;
	padding: 5px 30px 5px 10px;
	border-bottom: 1px solid #ffcce2}

.cssmenu_vert li.selected > a {
	background: #FFCCE2 url(candiiclouds/star.gif) no-repeat;
	background-position: 7px center;
	color: #0076A3;
	padding-left: 30px;
	padding-right: 10px}

.cssmenu_vert li a:hover  {
	background: #ffcce2 url(candiiclouds/star.gif) no-repeat;
	background-position: 7px center;
	color: #f06ea9;
	padding-left: 30px;
	padding-right: 10px}

/* default link padding */
.cssmenu_horiz a,
.cssmenu_vert a {
	padding: 5px 30px 5px 10px;
}

/* ul ul top compensation for padding */
.cssmenu_horiz li:hover ul,
.cssmenu_horiz li.sfHover ul {
	top: 2em;
}

/* left column width */
td#leftcolumn .cssmenu_vert,
td#leftcolumn .cssmenu_vert li {
	width: 170px;
}

/* offset from left column (matches above) */
td#leftcolumn .cssmenu_vert li:hover ul,
td#leftcolumn .cssmenu_vert li.sfHover ul {
	left: 170px;
}

/* return ul ul ... to default */
td#leftcolumn .cssmenu_vert li:hover ul,
td#leftcolumn .cssmenu_vert li.sfHover ul,
td#leftcolumn .cssmenu_vert li:hover ul li,
td#leftcolumn .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
td#leftcolumn .cssmenu_vert li li:hover ul,
td#leftcolumn .cssmenu_vert li li.sfHover ul {
	left: 10em;
}


.sf-sub-indicator {background: url(candiiclouds/arrows-00adef.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only; */}

/** PHP Layers Menus **/
.horbar {
	margin-left: 0;
	height: 35px}

.horbaritem {margin-right: 10px}

.horbaritem a,
.horbaritem a:link,
.horbaritem a:visited {
	background: #A7E6FF;
	color: #0076A3;
	text-decoration: none;
	padding: 5px 30px 5px 10px;
	border-bottom: 1px solid #FFCCE2}

.horbaritem a:hover {
	background: #FFCCE2 url(candiiclouds/star.gif) no-repeat;
	background-position: 7px center;
	color: #f06ea9;
	padding-left: 30px;
	margin-right: 0;
	padding-right: 10px}

* html .horbaritem a {font-size: .8em}
.mdksubmenu {background: #fff}

.mdkitem a,
.mdkitem a:visited {
	background: #A7E6FF;
	color: #0076A3;
	text-decoration: none;
	padding: 5px 30px 5px 10px;
	border-bottom: 1px solid #FFCCE2}

.mdkitem a:hover,
.mdkitem a:active {
	background: #FFCCE2 url(candiiclouds/star.gif) no-repeat;
	background-position: 7px center;
	color: #f06ea9;
	padding-left: 30px;
	padding-right: 10px}

.phplmnormal,
a.phplmnormal:hover,
a.phplm:link,
a.phplm:visited,
a.phplm:hover,
a.phplm:active {
	font-size: 0.9em;
	background: #f0f9ff;
	color: #3f3f6f;
	text-decoration: none}

a.phplm:hover {
	font-size: 0.9em;
	background: #fff;
	color: #000;
	text-decoration: none}

a.phplm:active {color: #ff0000}

a.phplmselected:link,
a.phplmselected:visited,
a.phplmselected:hover,
a.phplmselected:active {
	font-size: 0.9em;
	text-decoration: none;
	background: #eee}

a.phplmselected:hover {
	font-size: 0.9em;
	text-decoration: none;
	background: #f0f9ff}

/** Links in other menus **/
.separator {
	background: #A7E6FF;
	color: #0076A3;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-bottom: 1px solid #FFCCE2}

.separator a:link,
.separator a:visited,
.separator a:hover {color: #0076A3}

.separator:hover {background: #FFCCE2}

.separator a:hover {
	background: #FFCCE2 url(candiiclouds/star.gif) no-repeat;
	background-position: 7px center;
	color: #f06ea9;
	padding-top: 5px;
	padding-left: 30px}

.optionline,
.option a,
a.linkmenu {
	background: #A7E6FF;
	display: block;
	color: #0076A3;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-bottom: 1px solid #FFCCE2}

.option a:hover,
.option a:active,
a.linkmenu:hover{
	background: #FFCCE2 url(candiiclouds/star.gif) no-repeat;
	background-position: 7px center;
	color: #f06ea9;
	padding-left: 30px}

/***** Misc. Center Col. *****/
#showhide_coloumns a {padding-top: 12px;}

#tiki-center {
	border: 1px solid #FFCCE2;
	background-image: url(candiiclouds/s-stars.gif)}

/****** Misc. Global ****/

/***** Boxes *****/
/** Modules **/
.box {
	margin-bottom: 10px;
	width: 210px}

.wikitext .box {width: auto}

h3.box-title {
	background: url(candiiclouds/sbihead.gif) no-repeat;
	height: 24px;
	width: 205px;
	margin-right: auto;
	margin-bottom: 4px;
	margin-left: auto;
	padding-top: 5px;
	font-family: "Times New Roman", Times, serif;
	font-size: small;
	text-indent: 45px;
	letter-spacing: -0.5px}

.wikitext h3.box-title {
	height: 30px;
	margin-bottom: 4px;
	padding: 5px 0 0 0;
}

.flipmodimage:hover {border: 1px solid #FFCCE2 !important}

.box-data {
	background: url(candiiclouds/s-stars.gif);
	border: 1px solid #FFCCE2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 180px}

* html .box-data {
	margin-left: 10px;
	margin-right: 10px}

.box-data ul,
ul.module,
ol.module {margin-left: -1em}

* html .box-data ul {margin-left: 1em }
*:first-child+html .box-data ul {margin-left: 1em}

.box-data ul.cssmenu_vert {margin-left: 0}

/** cbox **/
.cbox {
	background: #ffe0ee;
	border-color: #ffcce2;}
.cbox-title {border-bottom-color: #ffcce2;}
.cbox-data {}

.rbox-title,
.rbox-data {
	background: url(candiiclouds/bluu.gif);
	border-color: #00adef;
	color: #f06ea9}

.comment .rbox-title,
.comment .rbox-data {}

.note .rbox-title {}
.note .rbox-data {}

.tip .rbox-title,
.tip .rbox-data,
.tip .rbox-data {}

.warning .rbox-title {}
.warning .rbox-data {}

.simplebox {
	background: #cff1ff;
	border-color: #a7e6ff;
	color: #0076a3}

.halffloat .box,
.wikitext .halffloat .box {
	width: 48%;
}

.thirdfloat .box,
.wikitext .thirdfloat .box {
	width: 28%;
}

.quarterfloat .box,
.wikitext .quarterfloat .box {
	width: 19%;
}

/***** Tables, Tabs *****/
/** Tables **/

.normal,
.admin {
	border: 2px solid transparent;
	background: url(candiiclouds/banstars.gif)}

* html .normal,
* html .admin,
* html .bloglist {border: 0}

tr.odd td,
td.odd {	background: #FFE0EE}

tr.even td,
td.even {background: #FFCCE2}

th, .normal td.heading {
	font-size: 1em;
	background: transparent}

/** Tabs **/
/* reset what's in layout.css */

.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabs {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	padding: .2em .2em 0;
	margin:0 0.2em 1px 0;
	border-bottom: 1px solid #ccc}

.tabs br {
	display: none;
}

.tabs span {
	display: block;
	float: left;
}

.tabmark {
	font-size: .95em;
	background: #ffe0ee;
	border: 1px solid #f06ea9;
	border-bottom-width: 0 !important;
	margin: 0 .2em -1px 0;
	list-style-image: none;
	float: left;
}

.tabmark a {
	padding: 0.5em 1em;
	color: #0076a3;
	font-weight: bold}

.tabactive {
	color: #636466;
	border-bottom-width: 0;
	padding-bottom: 1px;
	background: url(candiiclouds/banstars.gif)
}
/*
.tabmark a:hover {
	color: #f06ea9;
	background: #ffcce2}*/

.tabcontent {
	padding: 2px;
	margin: 5px;
	margin-top: 0;
	background: url(candiiclouds/banstars.gif)}

/***** Wiki *****/
h1 a.pagetitle {
	display: block;
	background: url(candiiclouds/bluu.gif) repeat;
	border: 1px solid #FFCCE2;
	border-bottom: 0;
	margin-top: -20px;
	text-align: center;
	padding-top: 10px;
	font-size: medium;
	font-family: "Times New Roman", Times, serif;
	letter-spacing: -1px;
	padding-bottom: 10px}

h1 a.pagetitle {border-bottom: 0}

* html .wikitopline {}

div#description,
.description {
	font-size: .9em;
	font-style: italic}

#pageid {
	float: left;
	clear: both}

#cachedpage {
	float: right;
	font-size: small}

.pagetools {}

.wikitext {padding:10px}

.wikitext h1,
.wikitext h2,
.wikitext h3,
.wikitext h4 {
	margin: 0 0 15px;
	padding: 0}

.titlebar {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin:10px 0 10px 0}

.wikitext ul li {}
.wikitext ul li ul li {}
.wikitext ol {}

.wikitable {
	border: 1px solid #a9a9a9;
	border-collapse: collapse}

td.wikicell {
	padding: 3px;
	border: 1px solid #999;
	border-collapse: collapse}

.editdate {padding: 5px 10px}

div#page-bar {
	display: block;
	padding: 0 10px 5px}

#page-bar span {float: left}

ul.floatleft {
	display: block;
	list-style: none;
	padding: 0;
	text-align: left;
	height: 20px;
	margin-top: 0}

ul.floatleft li {
	float: left;
	padding: 4px 2px}

.editdate ul.floatleft {margin-top: 8px}

/* First of these from han.css - Check ?? */
.navbar .linkbut:hover,
.button2 a:hover, .button3 a:hover {}

/* From han.css - Check ?? */
#page-bar p .button2 {}
#page-bar table a.linkbut {}

.linkbut {
	/*font-size:90%;*/
}

.linkbut {}
.linkbut:hover {}
.cache {}
.cachedpage {}
.wikicache, .wikicache:visited {}
.wikicache:hover {}
.wiki {}
.wikinew {}
.wiki-edithelp {display: none}


#wikihelp-tab table,
#wikihelp-tab table td {
	border: solid 1px #909090;
	border-collapse: collapse}

#wikihelp-tab table td {padding: 2px}
textarea.wikiedit {font-size: 1.3em}
p.editdate {}
.wiki-edithelp {}
img.externallink {}

/* Needed esp. for light-on-dark theme */
.quicktag {}
.quicktag img,
#wikihelp-tab td img {}
div#helptool {}

/* Wiki plugins */

/* Code plugin  */
.code {
	font-size: 90%;
	padding: 3px;
	border: 1px dashed #ccc;
	font-family: "Courier New", Courier, monospace}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	margin: 4px;
	border: 1px dashed #ADACAF;
	overflow: auto;
   width: 500px}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #ADACAF;
	border-bottom: 0;
	margin: 0;
	font-weight: bold}

/* Quote plugin */
.quoteheader {margin-left: 20px}

.quotebody {
	padding: 10px;
	background-image: url(candiiclouds/bluu.gif);
	background-repeat: repeat;
	margin-left: 30px;
	border: 1px solid #00adef}

.wikiplugin-split {border: 0}

/* fancytable (sortable) plugin */
.fancysort .header:hover {
	/*color: #82AC78;*/
}

/** Wiki tocs **/
.tocnav {
	background: #EBEBEB;
	padding: 3px;
	margin-bottom: 4px;
	clear: both}

#tocnavicons {float: left}
#tocnavaddpage{float: right}
#tocnavlinks {clear: both}
.fancytoclevel {list-style-image: url(../img/icons/footprint.gif)}

/* TOC */
ul.toc {
	padding-left: 2em;
	margin-bottom: 4px}

ul.toc * {border: 0}

/* Wiki diff styles */
.diff td {border: 1px solid #A9B8C2}
.diff div {border-top: 1px solid #A9B8C2}
.diffheader {background: #A9B8C2; font-weight: bold}
.diffadded {background: #CCFFCC}
.diffdeleted {background: #FFCCCC}
.diffinldel {background: #FFCCCC; text-decoration: line-through}
.diffbody {background: #F2F4F5}
.diffchar {color: red}


/***** Articles ****/
.article {margin-bottom: 40px}

.articletopline {
	font-size: 90%;
	font-style: italic}

.articletitle {
	padding: 10px 4px 4px;
	margin-top: 6px;
	margin-bottom: 15px;
	background: url(candiiclouds/bluu.gif);
	border-bottom: 1px solid #ACCCDD}

.articletitle h2 {
	color: #0076a3;
	font-weight: bold;
	/*font-size: 1.2em;*/
	margin-top: 3px}

.articletitle h2 a,
.articletitle h2 a:visited {border-bottom: none}
.titleb {font-size: 1.0em}
.articlesubtitle {font-size: 0.9em}

.articleheading {
	margin-top: 6px;
	line-height: 1.15em}

.articleheadingtext {}

img.topicimage,
img.articleimagenofloat,
img.articleimage {
	padding: 2px 0;
	margin-bottom: 10px}

img.articleimagefloat {
	margin-right: 4px;
	float: left;
	padding: 2px 0;
	margin-bottom:10px}

img.articleimage {
	margin-right: 4px;
	float: left;
	clear: right;
	padding: 2px 0;
	margin-bottom: 10px}

.articletrailer {text-align: right}
.articletrailer .wikitopline {float: left}
.articlebody {line-height: 1.5em}

.articlesource {
	margin-top: 5px;
	font-style: italic;
	font-size: 90%}


/***** Blogs *****/
.blogtitle {
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
	margin-top: 10px;
	font-weight: bold;
	line-height: 80%}

.bloginfo {
	text-align: center;
	padding: 3px;
	line-height: 150%;
	text-transform: none}

* html .bloginfo table {font-size: 11px}

a.blogt:hover {
	color: #FFF;
	border-bottom: 1px dotted #FFF}

.postinfo {font-size: 1.2em}

.postinfo a {
	color: #9CF;
	text-decoration: none;
	border-bottom: 1px dotted #9CF}

.posthead {
	display: block;
	background: url(candiiclouds/bluu.gif) repeat;
	border: 1px solid #FFCCE2;
	text-align: center;
	padding-top: 10px;
	font-size: 1.1em;
	margin-bottom: 10px}

.posthead h3 {font-size: 1.2em}

.posthead a,
.posthead a:visited {
	color: #0076a3}

.postbody {
	margin-right: 6px;
	margin-left: 6px;
	line-height: 1.2em;
	margin-bottom: 1em}

.postfooter {
	clear: both;
	float: right;
	margin-bottom: 2em}

/***** Forums *****/
.post .postbody {
	padding: 4px;
	background: url(candiiclouds/s-stars.gif);
	font-size: 1.1em}

* html .post .postbody {font-size: 11px}

.post .postbody-title {
	display: block;
	background: url(candiiclouds/bluu.gif);
	border-bottom: 1px solid #ACCCDD;
	margin-bottom: 4px;
	padding-top: 2px}

.post .postbody-title .title {
	float: left;
	color: #0076a3;
	font-weight: bold;
	font-size: 1.2em;
	margin-left: 5px;
	margin-top: 3px}

.post .author_post_info {
	display: block;
	background: url(candiiclouds/sbihead.gif) repeat-x;
	height: 24px;
	/*width: 205px;*/
	margin-right: auto;
	margin-bottom: 4px;
	margin-left: auto;
	padding-top: 5px;
	font-family: "Times New Roman", Times, serif;
	font-size: small;
	text-indent: 45px;
	letter-spacing: -0.5px}

.post .author_post_info_by a.link {color: #000}
.post .author_post_info_on {font-style: italic}

.post .author_info {
	display: block;
	float: none;
	background: #ffe0ee;
	padding: 2px;
	margin-left: 0;
	border-left: none;
	border-bottom: none}

.commentStyle_headers .author_info {float: left}

.post .postbody-title .actions {
	float: right;
	font-size: 1em}

.post .postbody .content {color: #000}

.post .postbody .attachments {border-top: 1px dotted #D9D9D9}
.post .postfooter .status {font-size: 10px}

.post .contribution {
	background: #F0F8FF;
	border: 1px solid #D7E5F3;
	padding: 0 2px}

.post .avatar {
	border: 1px solid #ACCCDD;
	background: #E0EAF4}

.forum_actions .actions {
	border: 1px solid #00adef;
	background: #a7e6ff;
	margin-top: -1px}

.forum_actions .headers .title {
	background: #a7e6ff;
	border: 1px solid #00adef}

.forum_actions .headers .infos {font-size: smaller}

/**** Image Galleries ****/
.galtable {
	border-collapse: collapse;
	border: 1px solid #8cacbb;
	width: 100%}

* html body .galtable {width: 97%}
body.tiki_galleries .findtable {display: inline}

/* Check this one ?? */
.browsegallery {
	text-align: center;
	width: 100%}

td.oddthumb {border-collapse: collapse}
td.eventhumb {border-collapse: collapse}

td.eventhumb img {
	margin-left: 6px;
	margin-right: 6px}

/* Check next 2 ?? */
.thumbnails {}
div#browse_image {width: 100%}

img.athumb {
	border: 0;
	margin: auto}

.caption {color: black}
p.norecords {font-weight: bold}

.imagetitle {
	font-weight: bold;
	font-size: 200%}

.gallerylink {}
div#browse_image {} /* Check - from fluidindex ?? */
.showimage {
	text-align: center;
	margin: 5px 0;
	width: 100%;
	text-align: center;
	padding: 6px}

.imgaldescr {margin: 10px}
.sorttitle {margin-left: 10px}

/***** File Galleries *****/
.fgalexplorer {border: 1px solid #f06ea9}

.fgallisting table td {
	padding-left: 2px;
	padding-right: 2px}

/***** Trackers *****/

/***** Categories, Tags *****/

/***** Tags (freetags) *****/

/*****  Polls  *****/

/***** FAQs *****/

/***** Quizzes *****/

/***** Shoutbox *****/

.shoutboxmsg {
	margin-bottom: 0;
	padding: 4px;
	padding-bottom: 1px}

.shoutboxmodmsg {
	font-size: .95em;
	margin: 0 5px 4px 5px;
	padding-top: 5px;
	padding-bottom: 1px}

textarea.tshoutbox{
	font-size: .95em;
	width: 162px}

/***** Directory *****/

.dircategs {
	border: 1px solid #8cacbb;
	padding: 5px}

.dirlink {}
.dirsublink {font-size: .95em}

.dirlistsites {
	padding: 5px 0 10px 5px;
	margin-top: 10px}

.dirsite {
	margin-bottom: 10px;
	padding: 4px}

.dirsitedesc {}
.dirsitetrail {font-size: 95%}
.dirsitecats {font-size: 95%}
.dirsitelink {}

.dirrelated {
	margin-top: 10px;
	padding: 5px}

td.dirfooter {font-size: .95em}
.dirfooter {margin-top: 10px}

/***** Messages *****/
td.prio1,
td.prio2,
td.prio3,
td.prio4,
td.prio5 {
	border: 1px solid #8cacbb;
	padding-left: 2px}

td.prio1 {background: #F7F9CA}
td.prio2 {background: #F7F9EA}
td.prio3 {background: #F7F9FA}
td.prio4 {background: #F7F9FD}
td.prio5 {background: #F7F9FF}

.messureadflag {
	background: #ccc;
	padding-left: 5px}

.messureadhead {
	background: #DEDEDE;
	margin-top: 2px}

.messureadbody {
	margin-top: 5px;
	background: #DEDEDE}

.readlink {
	font-size: .95em;
	color: black}

/***** TikiSheets *****/

.default thead td,
.default tfoot td {
	font-weight: bold;
	text-align: center;
	background: black;
	color: #D8D8D8}

.default td {
	border: solid 1px #a9a9a9;
	background: black}


/***** Calendar *****/

.Cal0,
.Cal1,
.Cal2 {font-size: 90%}

.Calart,
.Calblog,
.Calchart,
.Caldir,
.Caleph,
.Calfaq,
.Calfgal,
.Calforum,
.Calgal,
.Calnl,
.Calquiz,
.Calsurv,
.Caltrack,
.Calwiki {font-size: 90%}

.Calart,
.Calart a,
.Calart a:visited {color: #FA8072}

.Calblog,
.Calblog a,
.Calblog a:visited {color: #DA70D6}

.Calchart,
.Calchart a,
.Calchart a:visited {color: #304F30}

.Caldir,
.Caldir a,
.Caldir a:visited {color: #800080}

.Caleph,
.Caleph a,
.Caleph a:visited {color: #008000}

.Calfaq,
.Calfaq a,
.Calfaq a:visited {color: #822222}

.Calfgal,
.Calfgal a,
.Calfgal a:visited {font-weight: normal}

.Calforum,
.Calforum a,
.Calforum a:visited {color: #808000}

.Calgal,
.Calgal a,
.Calgal a:visited {color: #8B4513}

.Calnl,
.Calnl a,
.Calnl a:visited {color: #708090}

.Calquiz,
.Calquiz a,
.Calquiz a:visited {color: #5F9EA0}

.Calsurv,
.Calsurv a,
.Calsurv a:visited {color: #DAA520}

.Caltrack,
.Caltrack a,
.Caltrack a:visited {color: #00BD02}

.Calweb {font-size: 90%}

.Calwiki,
.Calwiki a,
.Calwiki a:visited {color: #2C4B80}

.calfocus {
	font-size: 90%;
	background: inherit}
.calfocuson {font-size: 90%}

.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {color: #393e51}

.caltoggle {font-size: 90%}

.opaque {
	background: #ffe0ee;
   border-left: 1px solid #fff0f6;
  	border-top: 1px solid #fff0f6;
	border-right: 1px solid #ffb9da;
	border-bottom: 1px solid #ffb9da}

.opaque .box-title {border-bottom: 1px solid black}

.searchresults {display: inline}

#caltable .calfocuson,
.box-data td.fc a.today,
.box-data td a.today {
	background: #a7e6ff;
	border: 0}

#caltable .calfocuson a {color: #0076a3}

#caltable .calfocus a,
#caltable .calfocuson a {text-decoration:none}

.day, .day:visited {}
.today {}
.nav {}
.changedate {}
.date {}

.calinput {background: #3f3f3f}
.calfocuson + .calcontent {background: #F5F5F5}
.days {color: #0076a3}
#caltable .weeks {color: #0076a3}
.addevent {padding: 0 5px; float: right}
* html .addevent {padding: 0}
.calodd, .caleven {border: 1px solid #f06ea9}
.calodd {background: #FFE0EE}
* html .calodd {padding: 0}
.caleven {background: #FFCCE2}
* html .caleven {padding: 0}
.caldark {background: url(candiiclouds/bluu.gif)}
* html .caldark {padding: 0}
.caldark .calfocus {background: inherit}
.daterow {background: #a7e6ff}
.daterow:hover {background: #f06ea9}
.calnavigation a:hover {background: #ffcce2}

/***** Admin *****/
.adminanchors {
	background: url(candiiclouds/banstars.gif) !important}

a.admbox {
	border: 1px solid #aaa;
	background-color: #a7e6ff;
	color: #0076a3}

a.admbox:hover,
a.admbox:focus,
a.admbox:active {
	background-color: #ffcce2;
	border: 1px solid #f06ea9;
	color: #f06ea9}

a.admbox.off {border: 1px solid #9f9f9f}

a.admbox.off:hover,
a.admbox.off:focus,
a.admbox.off:active {border: 1px solid #9f9f9f}


/***** Ajax, jquery. etc. *****/
/***** Ajax *****/
div#ajaxLoading {
	display: none;
	position: absolute;
	top: 50px;
	right: 50%;
	padding: 3px;
	font-family: Verdana;
	font-size: 90%;
	text-align: center;
	background: transparent url(../lib/shadowbox/images/loading-light.gif) no-repeat 50% 100%;
	height: 43px;
	width: 50px}

#shadowbox_title {
	height: auto !important;
	padding: 0;
	overflow: visible}

#shadowbox_title_inner{
	height: auto !important;
	font-size: 1em !important;
	line-height: 1em !important;
	white-space: normal !important;
	padding: 5px 0 4px 8px}

/***** New (unsorted) *****/

/***** End New (unsorted) *****/

/* End of File */




