/* Jqui theme (jqui.css) Excitebike theme option (excitebike.css)
	Visit http://themes.tiki.org for more information.*/
a {
  color: #e69700;
}
a:hover,
a:focus {
  color: #9a6500;
}
.btn-default {
  color: #ffffff;
  background-color: #2293f7;
  border-color: #2293f7;
}
.btn-default:focus,
.btn-default.focus {
  color: #ffffff;
  background-color: #087ade;
  border-color: #055194;
}
.btn-default:hover {
  color: #ffffff;
  background-color: #087ade;
  border-color: #0874d4;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #087ade;
  border-color: #0874d4;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #ffffff;
  background-color: #0767bc;
  border-color: #055194;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #2293f7;
  border-color: #2293f7;
}
.btn-default .badge {
  color: #2293f7;
  background-color: #ffffff;
}
.navbar-default {
  background-color: #e69700;
  border-color: #e69700;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #e6e6e6;
}
.btn,
button,
input[type="reset"],
input[type="submit"],
.button input {
  background: url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_26_2293f7_40x40.png') 50% 50%;
}
.btn-default,
.panel .btn-default {
  color: #ffffff;
}
.btn:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
  background: url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png') repeat-x 50% 50%;
}
.btn-link,
.btn-link:hover {
  background: none;
  border: none;
}
.btn-success {
  color: #b5dfb5;
}
.btn-info {
  color: #c5e9f3;
}
.btn-warning {
  color: #f6ce95;
}
.btn-danger {
  color: #d9534f;
}
input[type="text"],
input[type="password"],
select,
textarea,
body.cke_show_borders {
  background: #ffffff;
  color: #000000;
}
.topbar,
.panel-heading,
.panel-primary > .panel-heading,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: 1px solid #E69700;
  font-weight: bold;
  color: #ffffff;
  outline: none;
  background: #E69700 url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') repeat 50% 50%;
}
.panel-primary .panel-title {
  color: #ffffff;
}
.panel-default > .panel-heading {
  color: #e69700;
}
.topbar .panel-heading,
.topbar .navbar-default .navbar-collapse,
.topbar .navbar-default .navbar-form {
  border: none;
  background-color: transparent !important;
}
.topbar a,
.topbar > a,
.topbar .navbar-default .navbar-nav > li > a,
.topbar .nav > li > a,
.topbar > a:hover,
.topbar .navbar-default .navbar-nav > li:hover > a,
.topbar .nav > li > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background: transparent;
}
.topbar > a:hover,
.topbar .navbar-default .navbar-nav > li > a:hover,
.topbar .nav > li > a:hover,
.topbar > a:focus,
.topbar .navbar-default .navbar-nav > li > a:focus,
.topbar .nav > li > a:focus,
.topbar .navbar-default .navbar-nav > li,
.topbar .nav > li {
  background: transparent;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.topbar .cssmenu_horiz li ul li > a:hover {
  background-color: #E69700;
  color: #ffffff;
  text-decoration: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #E69700;
}
.cssmenu_horiz a,
.cssmenu_vert a {
  background: none;
}
.topbar .cssmenu_horiz li:hover > a {
  text-decoration: underline;
}
.cssmenu_horiz li ul li,
.cssmenu_vert li ul li {
  background: #ffffff;
  border: none;
  font-weight: normal;
}
.cssmenu_vert li:hover ul li a,
.cssmenu_vert li.sfHover ul li a {
  color: #000000;
}
.topbar .cssmenu_horiz li:hover ul ul,
.topbar .cssmenu_horiz li.sfHover ul ul {
  top: 0;
}
.cssmenu_horiz li ul li:first-child,
.cssmenu_vert li ul li:first-child {
  border-top: none;
}
.topbar .sf-arrows .sf-with-ul:after {
  border: 5px solid transparent;
  border-top-color: #ffffff;
}
.cssmenu_vert.sf-arrows li > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #e69700;
  /* edit this to suit design (no rgba in IE8) */
}
.topbar .sf-arrows ul .sf-with-ul:after,
.topbar .cssmenu_vert.sf-arrows ul > li > .sf-with-ul:after {
  border-color: transparent;
  border-left-color: #222222;
  /* edit this to suit design (no rgba in IE8) */
}
.wikitext {
  border: #eee solid .5em;
  background: #eee url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_inset-hard_100_eeeeee_1x100.png') 50% bottom repeat-x;
}
h1.pagetitle {
  display: block;
  border: 1px solid #1484e6;
  color: #ffffff;
  background: #1484E6 url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png') repeat scroll 50% 50%;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
}
h1.pagetitle > a:link,
h1.pagetitle > a:visited,
h1.pagetitle > a:hover {
  color: #ffffff;
}
h1.pagetitle:hover,
h1.pagetitle > a:hover {
  color: #d1e7fa;
  text-decoration: none;
}
.panel {
  border: 1px solid #aaaaaa;
  color: #222222;
  background: #eee url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_inset-hard_100_eeeeee_1x100.png') 50% bottom repeat-x;
}
.panel a {
  color: #e69700;
}
.panel-title {
  font-weight: bold;
}
.panel-heading {
  background: #F9F9F9 url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_highlight-soft_100_f9f9f9_1x100.png') repeat-x 50% 50%;
  border: 1px solid #cccccc;
  text-align: center;
}
.panel-success > .panel-heading {
  background: #b5dfb5;
}
.panel-info > .panel-heading {
  background: #c5e9f3;
}
.panel-warning > .panel-heading {
  background: #f6ce95;
}
.panel-danger > .panel-heading {
  background: #d9534f;
  color: #ffffff;
}
.panel-default.panel-accordian > .panel-heading {
  background: #E69700 url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') 50% 50%;
  border: 1px solid #E69700;
}
.panel-default.panel-accordian > .panel-heading .panel-title > a {
  color: #ffffff;
}
.rbox-title,
.rbox-data,
.alert-box {
  background: url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-small_25_c5ddfc_40x40.png') repeat scroll 50% 50%;
  border: 1px solid #E69700;
  color: #0086E4;
}
.rbox-title a,
.rbox-data a {
  color: #003564;
}
.rbox-title {
  border-bottom: none !important;
  color: #003564;
}
.errors .rbox-title,
.errors .rbox-data,
.warning .rbox-title,
.warning .rbox-data {
  border: 1px solid #E69700;
  font-weight: bold;
  color: #ffffff;
  outline: none;
  background: #E69700 url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') 50% 50%;
}
.errors a,
.errors a:visited,
.warning a,
.warning a:visited {
  color: #ffffff;
  text-decoration: underline;
}
.normal {
  border: 1px solid #aaaaaa;
}
th,
td.heading,
tr.diffheader {
  border: 1px solid #e69700;
  font-weight: bold;
  color: #ffffff;
  background: #E69700 url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') repeat 50% 50%;
}
th a,
th a:link,
th a:visited,
td.heading a,
td.heading a:visited,
.caltable .days {
  color: #ffffff;
  font-weight: bold;
}
tr.odd td,
td.odd,
li.odd {
  background: #eeeeee;
}
tr.even td,
td.even,
li.even {
  background: #f8f8f8;
}
.nav-tabs {
  background: #f9f9f9 url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_highlight-soft_100_f9f9f9_1x100.png') 50% 50%;
  border: 1px solid #cccccc;
  color: #e69700;
  font-weight: bold;
  padding: 4px 4px 0 4px;
}
.nav-tabs > li > a {
  border: 1px solid #1484e6;
  font-weight: bold;
  color: #b8ec79;
  background: url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png') repeat-x 50% 50%;
}
.tabmark a {
  color: #ffffff;
  padding: 0.5em 1em;
  font-size: 10px;
  font-weight: bold;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 1px solid #e69700;
  font-weight: bold;
  color: #ffffff !important;
  outline: none;
  background: #E69700 url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') 50% 50%;
}
.tabactive a {
  color: #ffffff;
}
.tab-pane {
  border: 1px solid #aaaaaa;
  padding: 1em;
  margin-bottom: 1em;
  color: #222222;
  background: #eee url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_inset-hard_100_eeeeee_1x100.png') 50% bottom repeat-x;
}
.post .postbody-title .title a.link,
.postbody-title .panel-title {
  color: #ffffff;
}
.post .postbody {
  border: 1px solid #aaaaaa;
  color: #222222;
  background: #eee url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_inset-hard_100_eeeeee_1x100.png') 50% bottom repeat-x;
}
.postbody-title {
  border: 1px solid #E69700;
  font-weight: bold;
  color: #ffffff;
  outline: none;
  background: #E69700 url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_20_e69700_40x40.png') repeat 50% 50%;
}
.forum_actions {
  background: #C5DDFC url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-small_25_c5ddfc_40x40.png') 50% 50%;
  border: 1px solid #FFFFFF;
  color: #333333;
}
.caltable .even,
.caltable .odd {
  background: #1484E6 url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png') 50% 50%;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
}
.caltable .even:hover,
.caltable .odd:hover {
  background: url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_26_2293f7_40x40.png') repeat scroll 50% 50%;
  border: 1px solid #1484e6;
}
.caltable .even a:link,
.caltable .even a:visited,
.caltable .odd a:link,
.caltable .odd a:visited {
  color: #B8EC79;
}
.caltable td.calhighlight,
.caltable td.calhighlight a:link,
.caltable td.calhighlight a:visited,
td.calheadhighlight {
  background: #fcefa1;
  color: darkgreen;
}
.caltable td.calhighlight:hover,
.caltable td.calhighlight a:hover,
td.calheadhighlight {
  background: #fcefa1;
  opacity: 50;
  color: darkgreen;
}
.caltable .calborder {
  border: 1px solid #ffffff;
  color: darkgreen;
}
body.tiki_admin .simplebox,
a.admbox,
a.admbox.off {
  border: 1px solid #ffffff;
  background-color: #C5DDFC;
  color: #333333;
}
.footer_liner,
.wikitext,
h1.pagetitle,
h1 a.pagetitle,
.post .postbody {
  border-radius: 6px;
}
.siteloginbar_poppedup .tabcontent {
  background: lightyellow !important;
}
.footer_liner {
  display: block;
  border: 1px solid #1484e6;
  color: #ffffff;
  background: #1484E6 url('../../../../../vendor/jquery/jquery-ui-themes/themes/excite-bike/images/ui-bg_diagonals-thick_22_1484e6_40x40.png') 50% 50%;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
}
#footer a:link,
#footer a:visited {
  color: #ffffff;
}
