/* $Id$
	Darkroom theme selectors for IE6.
*/
body {
	font-size: 66%;
}

.findtable input {
	font-size: 1em;
}

.wikitopline select {
	font-size: .9em;
}

#siteloginbar {
	position: absolute;
	top: 10px;
	right: 10px;
}

#tiki-center {
	font-size: 1em;
}

#tiki-top .cssmenu_horiz li {
	background: transparent;
}

#tiki-top .cssmenu_horiz li ul li {
	background: #999;
}

.clearfix {
	height: 1%;
}

#tikihelp {
	position: absolute;
}

h3.box-title {
	position: static;
}

.moduleflip {
	position: static;
	float: right;
}

.moduleflip {
	display: block;
}

img.flipmodimage {
	border: none;
}

.box img.flipmodimage {
	border: none;
}

.normal, 
.admin,
.bloglist {
	width: 97%;
	font-size: 11px;
}

td {
	font-size: 11px;
}

.wikitopline table {
	font-size: 1.2em;
	width: 97%;
}

.post .postbody {
	font-size: 11px;
}

body .galtable {
	width: 97%;
}

.addevent {
	padding: 0;
}

.calodd {
	padding: 0;
}

.caleven {
	padding: 0;
}

.caldark {
	padding: 0;
}