/* $Id$
	Twist for TikiWiki CMS/Broupware 1.9 was created by Gary Griffin and
	contributed for downloading at http://themes.tiki.org.
	The Twist theme has been updated and
	committed to the Tiki Subversion repository by Gary Cunningham-Lee (chibaguy).
*/

/* Import the default layout files: */
@import url("lite/lite.css");
@import url("layout/layout.css");
@import url("layout/design.css");

/***** XHTML Elements (body tag here,
			others follow Layout) *****/
body {
	background: #0F1644 url(twist/background.gif);
	font: 76%/1.4em black Verdana, Geneva, Arial, Helvetica, sans-serif}

/* next two: fixed-width: 800px */
body.fixed_width .fixedwidth {
	margin-bottom: 20px;
	width: 800px !important;
	background: #fff;
}

body.cke_show_borders {
	background: #fff;
	color: #000;	
}

#main[id] {
	margin-top: 0;
}

*:first-child+html #c1c2 {
	margin-left: 0;
	padding-left: 0}

#middle {
	
}
	
#c1c2 {
	text-align: left;
	background: #fff;
}

#c1c2 #wrapper #col1 {
	border-top: 1px solid #ccc;
}
	
#c1c2 #wrapper #col1.marginleft  {
	margin-left: 190px;
}

#c1c2 #wrapper #col1.marginright {
	margin-right: 150px;
}

#c1c2 #wrapper #col1 .content {
	background: transparent}

#c1c2 #wrapper #col1 #tiki-center {
	padding: 0 40px}

* html #tiki-center {font-size: 1em}
	
#c1c2 #col2 {
	background: #fff;
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	vertical-align: top;
	width: 190px;
}

#c1c2 #col2 .content {
	/*margin: 0;
	padding: 0 4px 4px*/}

#col3 {
	background: #efefef;
	padding-top: 20px;
	vertical-align: top;
	width: 150px;
	margin-left: -150px;
}

#footer {
	clear: both;
	text-align: center;
	font-size: .9em;
	background: #efefef;
	margin-top: 0;
	padding-bottom: 8px;
	padding-top: 7px}

/***** XHTML Elements (other than body tag) ******/
a,
a:visited {text-decoration: none}
a:hover {text-decoration: underline}

h1 {
	margin-top: 30px;
	font-size: 1.8em;
	margin-bottom: 15px;
	color: #666699}

h2 {
	width: 98%;
	margin-top: 15px;
	font-weight: bold;
	font-size: 1.6em;
	margin-bottom: 4px;
	padding-bottom: 3px;
	color: #333;
	border-bottom: #999 1px dotted}

h3 {
	margin-top: 12px;
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: 3px;
	color: #990000}

h4 {
	margin-top: 12px;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 3px;
	color: #808080}

hr {
	width: 100%;
	height: 1px;
	background: #8cacbb;
	border-width: 0;
	padding: 0;
	color: #8cacbb}

p {
	margin-top: 9px;
	font-size: 1.1em;
	margin-bottom: 0;
	line-height: 18px}

fieldset {
	border: solid 1px #a9a9a9;
	padding: 10px}

input,
textarea,
option,
select {
	color: #000;
	padding: 0;
	margin: 2px 0 0 0;
	line-height: normal}


.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.submitbutton,
.calbuttonoff,
.calbuttonon {
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #fff;
	background: #1b5880 url(twist/header.jpg) -30px -40px no-repeat}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.submitbutton:hover {
	background: #619cc4 url(twist/header.jpg) -400px -40px no-repeat;
	color: #fff;
	text-decoration: none}

.button a:active,
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
.button input:active,
.submitbutton:active {border-color: #223845 #41cbe7 #41cbe7 #223845}

input[type=checkbox] {border: 0}
form.admin input[name="features"] {margin-bottom: 3px !important}
select[name="theme"] {width: 125px}

/***** Site Header & Identity *****/
#header {
	background: url(twist/header.jpg) no-repeat 100% 0;
	color: #fff;
	margin: 0;
	padding: 0}
	
#header a,
#header a:visited {color: #fff}

#header-top {
	height: 82px;
	margin: 0;
	padding: 0;
}
	
#siteheader  {
	background: url(twist/header.jpg) no-repeat 0 0;
	margin: 0;
	padding-left: 30px;
	margin-right: 22px;
}

#sioptionscentered {margin: 1em}
#sitelogo {padding: 0}

#sitead {
	margin: 5px;
	clear: 0;
	padding: 1em}

#sitead.floatright {padding-right: 100px}
#sitead.floatleft {padding-left: 100px}

#siteloginbar {
	color: #fff;
	bottom: auto;
	position: static;
	margin-right: 10px;
}

#siteloginbar a,
#siteloginbar a:visited {
	text-decoration: none;
	color: #fff;
}

#siteloginbar input,
#sitesearchbar input,
#sitesearchbar select {
	background: #185981;
	color: #fff;
	border: 1px solid #083c6e;
}

#siteloginbar_popup li {
	background: #eee;
}

#siteloginbar_popup .cssmenu_horiz li ul {
	margin-top: -6px;
}

#siteloginbar_popup ul ul li a,
#siteloginbar_popup ul ul li a:visited {
	color: #990066;
}

#siteloginbar_popup li.login_link,
#siteloginbar_popup li.login_link a:hover {
	background: none;
}

#sitesearchbar select option {
	color: #fff;
}

#sitetitles {
	position: absolute;
	left: 0;
	bottom: 0}

#sitetitle {
	font-size: 2.4em;
	color: #fff;
	padding-left: 20px}

#sitesubtitle {
	font-size: 1em;
	margin-top: 5px;
	padding-left: 20px;
	color: #fff}

#tiki-top {
	padding-right: 0;
	padding-left: 0;
	padding-top: 0;
	font-weight: bold;
	font-size: 11px;
	color: #fff;
	height: 26px}

#tiki-top a,
#tiki-top a:visited {
	color: black !important;
	text-decoration: none !important}
	
#tiki-top .findtable {
	margin-bottom: 0;
}

#sitesearchbar {
	padding-right: 4px;
	max-width: 360px;
	color: #fff;
	margin-right: 10px;
}

#topbar_custom_code {
	background: #fff;
	color: #000;
	border-right: 1px solid #354d65;
}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

/* default link padding */
.cssmenu_horiz a,
.cssmenu_vert a {
	padding: .25em 1em;
}

/* typography, colors */
.cssmenu_horiz li a:hover,
.cssmenu_horiz li.menuSection:hover {
	color: #fff;
	background: #ddd}
	
.cssmenu_horiz ul li:hover,
.cssmenu_vert ul li:hover,
.cssmenu_horiz li:hover li {
	color: #000;
	background: #fefefe}

.cssmenu_horiz ul li,
.cssmenu_vert ul li {
	border: #fdfefd 2px outset;
	background: #efefef;
	border-top: 0;
	margin-bottom: -2px;
}
	
#tiki-top .cssmenu_horiz {
	text-align: left;
	color: black;
	margin-top: 10px;
	margin-left: 305px;
	background: #efefef;
	white-space: nowrap}
	
#tiki-top .cssmenu_horiz li a {
	padding-top: 7px;
	padding-bottom: 7px;
}
	
/* left column width */
#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 146px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 146px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

.sf-sub-indicator {background: url(twist/arrows-000.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only; */}

#col2 a .sf-sub-indicator {
	top: .3em;
}

/** Links in other menus **/
.separator {
	padding-left: 20px;
	width: 90%;
	color: #003163;
	text-indent: -20px}

.separator,
.separator a:visited {
	font-size: 9px;
	color: #666;
	text-decoration: none}

.separator:active {
	color: #808080;
	text-decoration: none}

.separator:hover {
	color: black;
	text-decoration: none}

.separatorline {
	padding-left: 20px;
	width: 90%;
	color: #003163;
	text-indent: -20px}

.optionline {
	margin-top: 10px;
	margin-left: 3px;
	padding-bottom: 1px;
	padding-right: 1px;
	border-top: #efefef 1px solid;
	border-right: #efefef 1px dotted;
	border-bottom: #fff 1px solid;
	border-left: #fff 1px dotted;
	color: #003163}

.linkmenu {
	color: #990066;
	text-decoration: none}

.linkmenu:active {color: #990066}

.linkmenu:hover {
	color: black;
	background: #efefef}

.option {
	padding: 1px;
	margin-top: 3px;
	margin-left: 19px;
	color: #003163}

.linkmodule,
.linkmodule:visited {
	color: #990066;
	text-decoration: none}

.rsslist {
	border: #dadac9 1px solid;
	padding: 1px;
	margin: 0 10px 0 0;
	background: #efefef}

.rssitem {
	border-top: #dadac9 1px dashed;
	padding: 1px 6px}
	
.rssdate {
	color: #999;
	font-style: italic}

.rsslink,
.rsslink:active {
	font-size: 11px;
	background: #efefef;
	color: #00639c;
	text-decoration: none}

.rsslink:hover {color: red}

/***** Misc. Center Col. *****/
a.flip,
a.flip:visited,
.tellafriend a,
.share a,
.tellafriend a:visited,
.share a:visited {color: #ADBAC3}

a.flip:hover,
.tellafriend a:hover,
.share a:hover {color: #505050}

.fullscreen .tellafriend,
.fullscreen .share {
	margin-right: 100px;
	margin-top: 2px}

.fullscreen #tiki-center {
	padding-left: 3em;
	padding-right: 3em}

#tiki-center {padding: 10px}

/****** Misc. Global ****/

/***** Boxes *****/
/** Modules **/
.box {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

#leftcolumn .box,
#rightcolumn .box {
	width: 150px;
}

h3.box-title {
	border-top: #999 1px solid;
	margin-top: 0;
	font-weight: bold;
	color: #666;
	text-align: center;
	font-size: .9em}

.flipmodimage:hover {border: 1px solid #58A7D2 !important}

.box-data {
	font-size: .9em;
	color: #00639c}

.box-data ul {list-style: url(twist/bullet.gif)}

.box-data ul,
ul.module,
ol.module {
	margin-left: 0}
	
*:first-child+html .box-data ul {margin-left: 2em}
*:first-child+html .box-data ol {margin-left: 2.5em; padding-right: 0; margin-right: -2em}

.halffloat .box,
.wikitext .halffloat .box {
	width: 46%;
 }

.thirdfloat .box,
.wikitext .thirdfloat .box {
	width: 29%;
}

.quarterfloat .box,
.wikitext .quarterfloat .box {
	width: 20%;
}

/** Other boxes **/
.cbox {
	border: 1px solid #999;
	background: #efefef;
	padding-bottom: 10px;
	margin: 4px 8px 0 4px;
	width: 100%;
	font-size: 1em}
	
*:first-child+html .cbox {width: 95%}

.cbox-title {
	padding-right: 0;
	padding-left: 0;
	font-weight: bold;
	margin-bottom: 0;
	border-bottom: #efefef 1px solid}

.cboxtlink,
.cboxtlink:active {
	color: #00639c;
	text-decoration: none}

.cboxtlink:hover {
	color: red;
	text-decoration: underline}

.cbox-data {
	background: #efefef;
	margin-left: 5px;
	overflow: hidden;
	color: #00639c;
	margin-right: 5px}

.rbox {
	margin: 6px auto;
	padding: 5px}

.rbox-data {padding: 2px}

.rbox-title,
.warning .rbox-title {
	font-size: 1em;
	padding: 0 10px;
	margin: 0;
	font-weight: bold}

.rbox-data,
.warning .rbox-data {
	background: #eeee99;
	border: 1px solid #DDDDCC}
	
.note .rbox-title {background: #CCCCDD}

.note .rbox-data {
	background: #ECECEF;
	border: 1px solid #CCCCDD}

.comment .rbox-title,
.tip .rbox-title {
	background: #ECECEF;
	border: 1px solid #CCCCDD}

.comment .rbox-data,
.tip .rbox-data {
	background: #ECEFEC;
	border: 1px solid #CCDDCC}

.simplebox {
	border: 1px solid #999;
	padding: 2px;
	font-size: 11px;
	background: #efefef;
	margin: 5px 1px;
	color: #000}

/***** Tables, Tabs *****/
/** Tables **/

.normal {
	border: 0;
	background: #fff}

.normal,
.admin {
	border: #aaa 1px solid;
	background: white;
	width: 95%}

.wikitable td,
.normal td,
td.odd,
td.even {
	margin: 0;
	padding: 0.2em;
	vertical-align: top;
	border: solid 1px #909090;
	border-collapse: collapse}

tr.odd {
	color: black;
	background: #efefef;
	text-align: left}

tr.odd:hover {background: #fff7e6}

tr.odddark {
	padding: 2px;
	border: 1px solid #fff}

tr.even {
	color: black;
	background: #fff;
	text-align: left}

tr.even:hover {background: #fff7e6}

td.odd {
	vertical-align: middle;
	color: black;
	background: #efefef;
	text-align: left}

td.even {
	vertical-align: middle;
	color: black;
	background: #fff;
	text-align: left}

.normal td.heading {font-size: 1em}
.form {padding: 0.2em}

.form td {
	font-size: 9px;
	vertical-align: top;
	color: black;
	text-align: left}

.formcolor td {
	font-size: 9px;
	vertical-align: top;
	color: black;
	background: #fff;
	text-align: left;
	padding: 3px}

.tableheading {
	font-weight: bold;
	font-size: 1em;
	color: #fff;
	text-decoration: underline;
	vertical-align: bottom}

.tableheading:hover {
	color: #fff;
	text-decoration: underline}

td.heading,
th,
.heading,
.normal td.heading {
	padding-right: 2px;
	padding-left: 2px;
	font-weight: bold;
	font-size: 1em;
	background: #609ec7;
	color: #fff}

.heading a,
a.tablename,
a.galname,
a.imagename,
a.blogname,
a.fgalname,
a.artname,
a.forumname {
	font-weight: normal;
	font-size: 1em;
	padding-bottom: 9px;
	line-height: 150%;
	text-decoration: none}

a.sortheader,
a.sortheader:visited {
	color: white;
	text-decoration: underline;
	font-weight: bold}
	

.heading a.link,
.heading a.link:visited {
	color: #fff;
	text-decoration: underline}

.form {padding: 0.2em}

.findtable {
	margin-bottom: 20px;
	padding-bottom: 10px;
	width: 98%}

.findtable td {font-size: 1em}

/** Tabs **/
.tabs {border-bottom: solid 1px #225566}

.tabmark {
	font-size: 85%;
	background: #abcdef;
	border: 1px solid #abcdef}

.tabmark a {color: #000}

.tabmark a:active {
	background: #fff;
	color: red}

.tabmark a:hover {
	color: black;
	background: #f0f9ff}

.tabactive {border: solid 1px #225566 !important}
.tabactive a {background: #eee}

.tabinactive {border: solid 1px #666 !important}

.tabcontent {
	border: 1px solid #abcdef;
}

/***** Wiki *****/
h1 a.pagetitle,
h1 a.pagetitle:visited  {
	margin-top: 30px;
	font-size: 1em;
	margin-bottom: 15px;
	color: #990066;
	text-decoration: none}

a.pagetitle,
a.forumspagetitle {
	text-decoration: none;
	color: #990066}

a.pagetitle:hover,
a.forumspagetitle:hover {
	text-decoration: underline;
	color: #990066}
	
.wikitopline {
	background: #fff;
	text-align: right}

#description,
.description {
	font-size: .9em;
	font-style: italic}

.wikitext {
	padding: 0;
	margin: 0;
	font-size: 11px;
	background: #fff;
	color: #333;
	line-height: 15px;
	font-family: "Lucida Grande", Verdana, Geneva, Arial,  sans-serif}

.wikitext h1,
.wikitext h2,
.wikitext h3,
.wikitext h4 {
	margin: 7px 0 15px;
	padding: 0;
	line-height: 1.1;
}

.wikitext h2 {margin-bottom: 10px}

.titlebar {
	border: blue 1px solid;
	padding: 1px;
	font-weight: bold;
	background: #efefef;
	margin: 1px;
	width: 99%;
	color: #00639c}

.wikitable {
	border: 1px solid #a9a9a9;
	border-collapse: collapse}

.wikicell {
	padding: 3px;
	border: 1px solid #999;
	border-collapse: collapse}

/* Wiki plugin styles * */
/* code plugin  */
.code {
	font-size: 90%;
	padding: 3px;
	border: 1px dashed #ccc;
	background: #F5F5F5;
	font-family: "Courier New", Courier, monospace}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	background: #F5F5F5;
	margin: 4px;
	border: 1px dashed #ADACAF;
	overflow: auto;
   width: 500px}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #ADACAF;
	border-bottom: 0;
	margin: 0;
	color: #666;
	background: #F5F5F5;
	font-weight: bold}

/**** quote plugin *****/
.quoteheader {margin-left: 20px}
.quotebody {font-style: italic}

/* WIKI TOCS */
.tocnav {
	background: #EBEBEB;
	padding: 3px}

.toc {
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999}

/***** Articles ****/
.articletopline {
	font-size: 90%;
	font-style: italic}

.articletitle {
	margin-top: 6px;
	margin-bottom: 15px;
	text-align: left}

.articletitle h2 {
	font-size: 1.5em;
	font-weight: normal;
	color: #990066}

.titleb {font-size: 1.0em}
.articlesubtitle {font-size: 0.9em}
.articleheading {margin-top: 6px}
.articlebody {margin-top: 1em}

/***** Blogs *****/
.blogtitle {
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
	margin-top: 10px;
	font-weight: bold;
	line-height: 80%}

.bloginfo {
	text-align: center;
	padding: 3px;
	line-height: 150%;
	text-transform: 0}

.postinfo a {
	color: #9CF;
	text-decoration: none;
	border-bottom: 1px dotted #9CF}

a.blogt,
a.blog:visited {
	border: 0;
	text-decoration: none}

a.blogt:hover {
	color: #FFF;
	border-bottom: 1px dotted #FFF}

.postinfo div {margin-top: 30%}

.postinfo {
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1.2em}

.posthead {
	font-weight: bold;
	letter-spacing: .4pt}

.posthead h3 {font-size: 1.2em}

body.tiki_blogs .postbody {
	margin-right: 8px;
	line-height: 1.2em;
	margin-bottom: 1em}

/***** Forums *****/
.post .postbody {
	border: solid 1px #E7EAED;
	background: #F9FCFF}

.post .postbody .content {
	color: #000;
	height: 100%;
	width: 100%;
	padding: 0;
	text-align: left;
	width: 100%}
	
.post .postbody-title {
	display: block;
	background: #eee;
	border-bottom: 0;
	margin-bottom: 0;
	padding-top: 2px}
	
.post .postbody-title .title {
	float: none;
	color: #fff;
	font-weight: bold;
	font-size: 1em}
	
.postbody-title .title h2 {border-bottom: 0}

.title a.link {color: #000}

.post .author {
	float: left;
	text-align: left;
	vertical-align: top;
	width: 30%;
	margin-left: 0;
	margin-top: 0}

.post .author_post_info {
	display: block;
	background: #E0EAF4;
	padding: 0 2px 2px 2px}

.post .author_post_info_on {font-style: italic}

.post .author_info {
	float: right;
	background: #F0F8FF;
	padding: 0 2px 2px 2px;
	margin-right: 5px;
	border-right: 1px solid #D7E5F3;
	border-bottom: 1px solid #D7E5F3}

.post .postbody-title .actions {font-size: .9em}
.postbody-content {padding: 3px}

.post .postbody .attachments {border-top: 1px dotted #D9D9D9}
.post .postfooter .status {font-size: .9em}

.post .postfooter {float: none}

.post .contribution {
	background: #F0F8FF;
	border: 1px solid #D7E5F3;
	padding: 0 2px}

.post .avatar {
	float: none;
	border: 1px solid #ACCCDD;
	background: #E0EAF4}

.forum_actions .actions {
	border: 1px solid #A9B8C2;
	background: #eee;
	color: #000}

.forum_actions .headers .title {
	background: #C7D0D9;
	border: 1px solid #999}

.forum_actions .headers .infos {font-size: smaller}

/**** Image Galleries ****/
.galtable {
	border-collapse: collapse;
	border: 1px solid #696969}

/***** File Galleries *****/

/***** Trackers *****/

/***** Categories, Tags *****/
.tcategpath {
	margin-bottom: 40px;
	border: 1px solid #8cacbb;
	width: 100%;
	border-collapse: collapse}

.tdcategpath {
	font-weight: bold;
	padding: 0 3px;
	margin: 0px;
	border-spacing: 0px}

.categpath {}

.subcats {
	padding: 20px 0;
	width: 100%;
	border-spacing: 0px;
	margin-bottom: 10px;
	border: 1px solid #67ade7;
	border-collapse: collapse}

.tdsubcat {width: 25%}
.cattitle {font-weight: bold}
ul.catfeatures {list-style: none}

ul.catitems li {
	display: inline;
	margin-right: 7px}

/***** Tags (freetags) *****/
	
/*****  Polls  *****/

/***** FAQs *****/

/***** Quizzes *****/

/***** Shoutbox *****/
.userlink a {
	color: #990066;
	font-family: "Lucida Grande", Verdana, Geneva, Arial,  sans-serif;
	text-decoration: none}

/***** Directory *****/
.dircategs {
	border: 1px solid #8cacbb;
	padding: 5px}

.dirlistsites {
	padding: 5px 0 10px 5px;
	margin-top: 10px}

.dirsite {
	margin-bottom: 10px;
	padding: 4px}

.dirsitetrail {font-size: 95%}
.dirsitecats {font-size: 95%}

.dirrelated {
	margin-top: 10px;
	padding: 5px}

td.dirfooter {font-size: .95em}
.dirfooter {margin-top: 10px}

/***** Messages *****/
.prio1,
.prio2,
.prio3,
.prio4,
.prio5 {border: 1px solid #8cacbb}

.messureadflag {background: #ccc}
.messureadhead {background: #DEDEDE}
.messureadbody {background: #DEDEDE}

/***** TikiSheets *****/

/***** Calendar *****/
.Cal0,
.Cal1,
.Cal2 {font-size: 90%}

	
.Calart,
.Calblog,
.Calchart,
.Caldir,
.Caleph,
.Calfaq,
.Calfgal,
.Calforum,
.Calgal,
.Calnl,
.Calquiz,
.Calsurv,
.Caltrack,
.Calwiki {font-size: 90%}

.Calart,
.Calart a,
.Calart a:visited {color: #FA8072}

.Calblog,
.Calblog a,
.Calblog a:visited {color: #DA70D6}

.Calchart,
.Calchart a,
.Calchart a:visited {color: #304F30}
	
.Caldir,
.Caldir a,
.Caldir a:visited {color: #800080}

.Calfaq,
.Calfaq a,
.Calfaq a:visited {color: #822222}

.Calfgal,
.Calfgal a,
.Calfgal a:visited {}

.Calforum,
.Calforum a,
.Calforum a:visited {color: #808000}

.Calgal,
.Calgal a,
.Calgal a:visited {color: #8B4513}

.Calnl,
.Calnl a,
.Calnl a:visited {color: #708090}

.Calquiz,
.Calquiz a,
.Calquiz a:visited {color: #5F9EA0}

.Calsurv,
.Calsurv a,
.Calsurv a:visited {color: #DAA520}

Caltrack,
Caltrack a,
Caltrack a:visited {color: #00BD02}

.Calweb {font-size: .9em}

.Calwiki,
.Calwiki a,
.Calwiki a:visited {color: #2C4B80}

.calcontent a.linkmenu,
.calcontent a.linkmenu:hover {
	background: 0;
	padding: 0}

.calfocus {font-size: 90%}
.calfocuson {font-size: 100%}

.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {color: #393e51}

.caltoggle {font-size: 90%}
.opaque .box-title {border-bottom: 1px solid black}
.searchresults {display: inline}

.calnavigation a:hover {background: red}
#caltable .calfocuson,
.box-data .fc a.today,
.box-data td a.today {
	background: #D4D0C8;
	border: solid 1px #696969}
	
.caltable .calfocuson {
	background: #D4D0C8;
}

#caltable .calfocuson a {color: #000}
#caltable, #calscreen .normal {font-size: 1em}
#caltable .calfocus a,
#caltable .calfocuson a {text-decoration:none}
.calinput {background: #002C5E}
.calfocuson + .calcontent {background: #F5F5F5}

#caltable .days,
#caltable .weeks {
	background: #609ec7;
	color: #D8D8D8;
	font-size: 1em}

#caltable td {padding: 0}

.addevent {
	padding: 0 5px;
	float: right}

.calodd,
.caleven {border: 1px solid #999}
.
calodd {background: #efefef}
.caleven {background: white}
.caldark {background: #002C5E}
.caldark .calfocus {background: #002C5E}
.calnavigation a:hover {background: #85c4ed}

.calfocuson {
	background: #D4D0C8;
}

.calfocuson a {
	font-size: 90%;
}

.calHeadingOn, .calHeadingOn a {
	background: #D4D0C8;
}


/***** Admin *****/
a.admbox span {color: white}

a.admbox {
	border: 1px solid #aaa;
	background-color: #6C6C6C}

a.admbox:hover,
a.admbox:focus,
a.admbox:active  {
	background-color: #B2B2B2;
	border: 1px solid #9f9f9f}

a.admbox.off {border: 1px solid #9f9f9f}

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/
/***** New (unsorted) *****/

/***** End New (unsorted) *****/

/* End of File */




