/* $Id$ 
	Lemon theme option for FiveAlive theme for
	TikiWiki CMS/Groupware.
*/

#header-top {
	background: url(lemon/siteheader.png) no-repeat -250px 0
}

a:link,
a:visited,
tr.even a:link,
tr.even a:visited,
tr.odd a:link,
tr.odd a:visited {
	color: #c75a28;
}
 
a:active, a:hover,
tr.even a:active,
tr.even a:hover,
tr.odd a:active,
tr.odd a:hover {
	color: #f9a013;
}

fieldset {
	border: 1px solid #c75a28;
}

#header {
	background: url(lemon/siteheadertile.png) 900px 0 no-repeat;
}

#sitetitle,
#sitesubtitle {
	text-shadow: #c85a28 3px 2px 0;
}

#footer .container {
	border-top: 1px solid #ffc506;
	border-bottom: 1px solid #ffc506;
}

#footer h3 {
	border-bottom: 1px dotted #ffc506;
}

#loadstats {
	background: #ffc506;
	color: #955208;
}

#power a {
	color: #ffc506;
}


span.button a,
span.button a:visited,
button,
input[type="reset"],
input[type="submit"],
span.button input,
.calbuttonBox a,
span#genPass span.button a,
span#genPass span.button a:visited {
	color: #fff;
	background: #ffc506;
	border-color: #ffc506 #c35627 #c35627 #ffc506;
	font-weight: bold;
}
	
span.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
span.button input:hover,
.calbuttonBox:hover,
span#genPass span.button a:hover {
	background: #f68c1a;
	border-color: #c35627 #ffc506 #ffc506 #c35627;
}

.highlight,
span.highlight a {
	border: #fee194;
	color: #c74b23;
}

span.button.highlight a {
	background: #fdf1d0;
	color: #c74b23;
}

.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
#header .cssmenu_horiz li ul a,
#header .cssmenu_horiz li:hover ul a  {
	background: #c75a29;
}

.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
#header .cssmenu_horiz li ul a:hover  {
	background: #f68c1a;
}

#header .cssmenu_horiz li.selected a,
.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	color: #fcebbc;
}

#header .cssmenu_horiz li.selected li a,
.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff;
}


.cssmenu_vert .sf-sub-indicator {
	background: url(lemon/arrows-c75a28.png) no-repeat 10px 0;
}

select,
input[type="text"],
input[type="password"],
input[type="file"],
input#login-pass,
textarea,
.adminoptionbox option {
	background: #fdf1d0;
	border-color: #fee194 #fdfae9 #fdfae9 #fee194;
}

.titlebar,
.rbox-title, 
.rbox-data {
	border: #ffc506;
	background: #fcebbc;
	color: #c85a28;
}

.cbox {
	background: #fcebbc;
	color: #c85a28;
}

.cbox-title {
	border-bottom: 3px solid #ffc506;
}

table.normal {
	border: 2px solid #ffc506;
}

th,
td.heading,
tr.diffheader {
	background: #ffc506;
	color: #fdf1d0;
}

.wikicell {
	border: 2px solid #fcebbc;
}

.tabmark {
	border: 1px solid #ffc506;
	background: #f68c1a;
	color: #fff;
}

.tabmark a {
	color: #fff;
}

.tabinactive:hover,
.tabactive {
	border: 1px solid #ffc506;
	background: #fde197;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #c74b23;	
}

.tabcontent,
form.admin fieldset,
#siteloginbar_popup .cssmenu_horiz ul li {
	background: #fde197;	
}

/* Quote plugin */
div.quoteheader {
	border-bottom: 2px solid #fcebbc;
}

div.quotebody {
	border-left: 8px solid #fcebbc;
}

.postbody-title {
	background: #ffc506 url(lemon/header.png) -650px -90px;
}

.post .author,
div.dirsite {
	background: #fcebbc;
}

/* cluptip tooltips */

.cluetip-default {
	background: #FFF1D1;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #FFF1D1;
}
.cluetip-default h3#cluetip-title {
	background: #FF8422;
	color: #fff;
}

.cluetip-default #cluetip-title a {
	color: #FFF1D1;
}
  
