/*
 * $Header: /cvsroot/tikiwiki/_mods/themes/matrix/styles/matrix.light.css,v 1.1 2004-10-29 19:13:25 damosoft Exp $
 *
 * My first TIKI theme :)
 *
 */

@import "matrix/matrix-general.css";
@import "matrix/matrix-tc.css";
@import "matrix/matrix-wiki.l.css";
@import "matrix/matrix-box.l.css";
@import "matrix/matrix-table.l.css";
@import "matrix/matrix-categories.l.css";
@import "matrix/matrix-dir.l.css";
@import "matrix/matrix-other.l.css";
@import "matrix/matrix-debug.css";
@import "matrix/matrix-calendar.css";
.catblock {
  border: 1px solid #aaaaaa;
} 
.catlists {
  border-top: 1px solid #ffffff;
  padding: 1px 6px 1px 6px;
  background-color: transparent;
  color: #666666;
} 
.catlists:last-child {
  border-bottom: 1px solid #ffffff;
}
.catlists:hover {
  background-color: #dedede;
}
.cattitle {
  color: #000000; 
  background-color: transparent;
  font-weight: bold;
}
.catlists a.link {
  color: #666666; 
  background-color: transparent;
  padding: 0px 4px 0px 4px;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 6px;
}
.catlists a.link:hover {
  color: #000000;
  background-color: transparent;
} 
/* TikiIntegrator: By default copy rules dialog not shown */
div#rules-copy-panel {
    display: none;
}

/*
** JsCalendar wrapper
*/
#datrigger {
  border: 2px outset #666666;
  padding: 1px 3px 1px 5px;
  margin: 2px;
  cursor: pointer;
  font-weight:bold; 
}

TABLE.admin { width: 100%; }
table.commentinfo { width: 100%; background-color: #FFF7E6; }
div#loadstats {
  background-color: #dedede;
  font-size: 70%;
  color: #666666;
  padding: 5px;
}

/* phplayers style */
.box-data table {
  width: 100%; 
} 
.mdkverbar  {
  margin: 0px;
} 
.mdksubmenu {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FFFFFF;
  visibility: hidden;
}
.mdksubmenu table {
  width: auto;
}

.mdksubframe  {
  z-index: 1000;
  position: relative;
  display: block;
  border: 1px solid #000000;
}

.mdkitem  {
  border-top: 1px solid #dedede;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.mdkitem a  {
  padding: 2px 5px 2px 5px;
  position: relative;
  display: block;
}

.mdkitem a:visited  {
}

.mdkitem a:hover  {
  padding: 2px 5px 1px 5px;
}

.mdkitem a:active {
  color: #993300;
}

.mdkitem .mdkfwdarr {
  position: absolute;
  top: 5px;
  right: 12px;
}

.toc {
}
.toc li {
  margin-top: 3px;
}
.tocnav {
  background-color: #ededed;
  margin-bottom: 16px;
}
.tocnav table {
  width: 100%;
  background-color: #ffffff;
}
.tocnav a {
  font-size: 90%;
  color: #424242;
}
/* for jscalendar */
.calendar {
  z-index: 200;
}


/* ASSORTED  */

#clear {
	clear:both;
	}
	

/* tiki tabs */

.tabmark {
	display: inline;
	font-size: 85%;
	background-color: #dddddd;
	border: 1px solid #666666;
	margin: 0px;
	margin-right: 5px;
	padding: 1px 0px 1px 0px;
	-moz-border-radius : 5px 5px 0 0;  
}
.tabmark a { 
	-moz-border-radius : 5px 5px 0 0; 
	border-bottom : 0; 
	color: #666666;
	font-weight: bold !important;
	padding: 1px 5px 1px 5px;
}
.tabmark a:active {
	background-color: white;
	color: red;
}
.tabmark a:hover {
	color: black;
	background-color: #CCCCCC;
}

.tabcontent {
	z-index : 200;
	position: relative;
	border: 1px solid #999999;
	padding: 6px 2px 2px 2px;
	margin-bottom: 25px;
	background-color: #eeeeee;
	-moz-border-radius: 0px 4px 4px 4px;
}

/* trackers specific style */

.statuson {
  padding: 1px;
  margin: 1px;
  border: 1px inset #666666;
  -moz-border-radius: 20px;
  vertical-align: middle;
  background-color: #bbaa99;
}
.statusoff {
  padding: 1px;
  margin: 2px;
  vertical-align: middle;
}

/**** coloration for c o d e plugin *****/
.codelisting 
{ font-family : monospace; padding : 2ex;
background-color : #32CD32;
margin : 1ex; border : 1px dashed #adacaf; }

.wikitopline table{ width: 100%; }

/* wiki diff styles */
.diff div{border-top: 1px solid black;}
.diffheader{background-color:#a9b8c2; font-weight: bold;}
.diffadded {background-color:#ccffcc;}
.diffdeleted {background-color:#ffcccc;}
.diffbody{background-color:#F2F4F5}
.diffchar {color: red;}