/*	$Id$
	Greenblog stylesheet template (greenblog.css) for Tikiwiki CMS/Groupware.
	Visit http://themes.tikiwiki.org for more information.
*/

/* Import foundation CSS files. */
@import url("lite/lite.css");
@import url("layout/layout.css");
@import url("layout/design.css");

/***** XHTML Elements (body tag here,
			others follow Layout) *****/
body,
body.cke_show_borders {
	font: 76%/1.5em Arial, Helvetica, sans-serif;
	color: #f2e7ce;
	background: #000 url(greenblog/content_bg.jpg) no-repeat center 60px}

*:first-child+html body {font-size: 74% !important}

body.fullscreen * {
	background: #fff;
	background-image: none;
	border: none;
	color: #000}

body.fullscreen a:link,
body.fullscreen a:visited {
	color: blue;
	text-decoration: underline}


 /***** Layout (overrides layout.css;
		also styling of page layout divs)  *****/

#middle {padding-top: 30px}

#c1c2 {
	text-align: left;
	font-size: 1em;
	background: transparent}

#c1c2	#wrapper	#col1 {background: transparent}

#c1c2	#wrapper	#col1.marginleft  {margin-left: 200px}
#c1c2	#wrapper	#col1.marginright {margin-right: 300px}
#c1c2	#wrapper	#col1	.content {
	background: transparent}

#c1c2	#wrapper	#col1	.content {background: transparent}

#c1c2 #wrapper #col1 #tiki-center {
	padding: 0 40px}

#c1c2 #col2 {
	width: 200px;
	overflow: visible}

#c1c2 #col2 .content {
	/*margin: 0;
	padding: 0 4px 4px*/}

#col3 {
	width: 300px;
	margin-left: -300px;
	margin-bottom: 15px;
	font-size: 1em}

#col3 .content {}

#bottom_panel {
	background: #050702 url(greenblog/content_bottom.jpg) no-repeat center bottom;
	border-top: 1px solid #050702;
	margin: 0 auto;
	min-height: 250px}

#footer {
	background: #040500 url(greenblog/footer_bg.jpg) no-repeat scroll center top;
	border-top: 1px solid #141204;
	height: 50px;
	margin: 0 auto;
	width: 100%}

#credits {display: inline}

.footerbgtrap {background: transparent}


/***** XHTML Elements (other than body tag) ******/
a, a:visited {
	color: #ffc64a;
	text-decoration: none}

a:active, a:hover {
color: #ffff00;
text-decoration: underline}

.wikitext a.wiki,
.wikitext a.wiki:visited {
	color: #ffc64a !important;
	text-decoration: none}
	
h1, h2, h3, h4, h5 {
	line-height: 1.1;
}

h1 {
	margin: 0px;
	padding: 10px 0;
	font-size: 26px;
	color: #d77707;
	font-weight: normal}

h2 {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	font-size: 20px;
	color: #ff9d11;
	border-bottom: 1px dotted #663e17}

h3 {
	margin: 0 0 15px 0;
	padding: 0 0 10px 0;
	font-size: 20px;
	color: #ffc64a;
	border-bottom: 1px dotted #663e17}

hr {
	background: #000;
	color: #b6ba63}

p {
	margin: 0px;
	padding: 0 0 10px 0;
	text-align: justify}

input[type="text"],
input[type="password"] {
	background: #2f320e;
	border: 1px solid #b6ba63;
	color: #fff;
	font-size: 13px;
	font-variant: normal;
	height: 15px;
	line-height: normal;
	padding: 1px 4px}

textarea,
fieldset {
	background: none;
	border: 1px solid #b6ba63;
	color: #fff;
	font-size: 1em}
	
textarea.tshoutbox {font-size: 1em;}
textarea.wikiedit {font-size: 1.2em;}

select {
	background: #2f320e;
	color: #b6ba63;
	border: 1px solid #b6ba63}

legend {color: #f2e7ce}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.submitbutton,
.calbuttonBox,
#top_modules .siteloginbar_popup .tabmark > a {
	color: #ffc64a;
	background: #000;
	border: 1px solid;
	border-color: #b6ba63 #7d8135 #7d8135 #b6ba63;
	padding: 1px 4px;
	margin: 1px}

input[type="reset"],
input[type="submit"] {
	color: #ffc64a;
	background: #434504;
	border: 1px solid;
	border-color: #b6ba63 #7d8135 #7d8135 #b6ba63;
	padding: 1px 4px;
	margin-right: 1px}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.submitbutton:hover,
.calbuttonBox:hover,
#top_modules .siteloginbar_popup .tabmark > a:hover {
	color: #ffff00;
	border-color: #b6ba63;
	text-decoration: none}

.highlight {background: inherit; border: 1px solid yellow}


/***** Site Header & Identity *****/
#tiki-top {
	height: 59px;
	margin: 0 auto;
	padding: 0 0 0 30px;
	color: #fff;
	background:  url(greenblog/menu_panel_bg.jpg) no-repeat 0 100%;}

#sitetitles {padding: 30px 0 30px 30px}

#sitetitle,
#sitesubtitle {}

#sitetitle {font-size: 3em}

#sitesubtitle {
	margin-top: 1em;
	font-size: 1.8em}

#top_modules .siteloginbar_popup {
	position: absolute;
	right: 10px;
	bottom: 0;
	z-index: 1;
}

#top_modules ul.siteloginbar_poppedup {
	margin-top: -30px;
}

/****** Menus, Links ******/
/** CSS (suckerfish) and PHP Layers menus **/
#tiki-top > .cssmenu_horiz {padding-left: 20px}

/* default link padding */
.cssmenu_horiz a,
.cssmenu_vert a {
	padding: .75em 1em;
}

#tiki-top .cssmenu_horiz li a {
	padding: 14px 1em;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #fbe270;
	border-right: 1px solid #5f3b11}

#tiki-top .cssmenu_horiz li.menuSection0 a {
	padding-right: 2.5em;
}

#tiki-top .cssmenu_horiz li a:hover {
	color: #fff;
	text-decoration: none;
}
/* ul ul top compensation for padding */
.cssmenu_horiz li:hover ul,
.cssmenu_horiz li.sfHover ul {
	top: 4.2em;
}

#tiki-top .cssmenu_horiz li ul li a:hover {
	text-decoration: underline;
	color: #ffff00;
}

#tiki-top .cssmenu_horiz li ul li a {
	padding: .5em 1em;
	border-right: 0;
}

.cssmenu_horiz li.selected > a:link,
.cssmenu_vert li.selected > a:link,
.cssmenu_horiz li.selected > a:visited,
.cssmenu_vert li.selected > a:visited {color: #fff}

.cssmenu li ul,
.cssmenu_horiz li ul,
.cssmenu_vert li ul {
	background: #0b0c04 url(greenblog/right_section_bg.jpg) top center no-repeat !important;
	border: 1px solid #5f3b11}

/* left column width */
#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 170px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 170px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10.5em;
}

#tiki-top .cssmenu_horiz {
	margin-left: 30px;
	margin-right: 80px;
	padding-top: 8px;
}

#tiki-top .cssmenu_horiz li.menuSection a .sf-sub-indicator {top: 1.4em}
#tiki-top .cssmenu_horiz li ul li.menuSection a .sf-sub-indicator {top: .8em}

/** Links in other menus **/
.menuSection .linkmenu {padding-left: 20px}

/***** Misc. Center Col. *****/
/*
a.flip {color: #505603; text-decoration: none;font-size: 90%}
a.flip:hover {color: #ffc64a}*/

/****** Misc. Global ****/

/***** Boxes *****/
/** Modules **/
.box {
	padding: 15px 15px 10px 15px;
	margin-bottom: 30px;
	background: #0b0c04 url(greenblog/right_section_bg.jpg) top right no-repeat;
	border: 1px solid #191a0d}

#col2 .box {
	width: 178px;
	padding: 15px 0 10px 0}

#col3 .box {width: 248px}
a.flipmodtitle:hover img {border: 1px solid #ffc64a !important}

.cbox {
	border: 1px solid #ffc64a;
	background: #2f320e;
	color: #ffc64a}

.cbox-title {
	border-bottom: 1px solid #ffc64a;
	padding: 3px 3px 0 3px}

.rbox-title,
.rbox-data {border-color: #d77707}
.rbox-title {
	background: #d77707;
	color: #000}
	
.rbox-data {
	color: #ffc64a;
	background: #2f320e;	
}

.simplebox {
	color: #ffc64a;
	background: #2f320e;
	border: 1px dotted #ffc64a}

.halffloat .box,
.wikitext .halffloat .box {
	width: 41%;
}

.thirdfloat .box,
.wikitext .thirdfloat .box {
	width: 25%;
}

.quarterfloat .box,
.wikitext .quarterfloat .box {
	width: 16%;
}

/***** Tables, Tabs *****/
/** Tables **/

.normal/*,
.admin*/ {
	border: 1px solid #B6BA63;
	border-collapse: collapse}

.normal td/*,
.admin td*/ {
	  border: 1px dotted #663e17;
	  padding: 2px 3px}

th,
.normal td.heading,
tr.diffheader td {
	 background: url(greenblog/menu_panel_bg.jpg) center bottom no-repeat;
	 color: #fff}
	 
tr.odd td,
.odd {
	border-right: 1px solid #b6ba63;
	background: #2f320e;
	color: #f2e7ce;
}

tr.even td,
.even {
	background: #383b11;
	border-right: 1px solid #b6ba63;
	color: #f2e7ce;
}


/** Tabs **/
.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabs {
	padding: .2em .2em 0;
	margin:0 0.2em 0 0;
	border: none;
}

.tabs span {
	display: block;
	float: left;
}
.tabcontent {
	background: #0b0c04 url(greenblog/post_bg.jpg) no-repeat right top;
	border: 1px solid #191a0d}
	
.statuson {
	border: 1px solid #b6ba63;
}

/***** Wiki *****/
h1.pagetitle {
	color: #D77707;
	font-size: 26px;
	font-weight: bold;
	height: 50px;
	margin: 0 0 10px;
	padding: 20px 0 5px 0}

h1.pagetitle a,
h1.pagetitle a:visited,
h1.pagetitle a:hover {
	color: #d77707;
	text-decoration: none}

.wikitext {
	background: #0b0c04 url(greenblog/post_bg.jpg) no-repeat right top;
	border: 1px solid #191A0D;
	margin-bottom: 30px;
	padding: 0 30px 15px}

.code {
	font-size: 90%;
	padding: 3px;
	background: #2f320e;
	color: #b6ba63;
	border: 1px solid #b6ba63;
	font-family: "Courier New", Courier, monospace}

.codecaption {
	display: inline-block;
	width: auto;
	z-index: 1;
	position: relative;
	bottom: -1px;
	border: 1px solid #b6ba63;
	font-size: 90%;
	color: #b6ba63;
	background: #2f320e;
	font-weight: bold}

.codelisting {
	position: relative;
	z-index: 0;
	padding: 0 3px 3px 3px;
	font-family: "Courier New", Courier, monospace;
	background: #2f320e;
	color: #b6ba63;
	border: 1px solid #b6ba63;
	margin: 4px;
	overflow: auto;
   width: 500px}

div#textarea-toolbar {
	background: #fae371;
	border: 1px solid #b6ba63}

.help_sections {background: #656201}

/***** Articles ****/
.article {
	background: #0b0c04 url(greenblog/post_bg.jpg) no-repeat right top;
	border: 1px solid #191A0D;
	margin-bottom: 30px;
	padding: 0 0 10px}

.articletrailer span {
	display: inline-block;
	background: transparent url(greenblog/comment_icon.gif) no-repeat scroll left bottom;
	margin-left: 5px;
	padding-left: 20px;}

/***** Blogs *****/

.post {
	background: #0b0c04 url(greenblog/post_bg.jpg) no-repeat right top;
	border: 1px solid #191A0D;
	margin-bottom: 30px;
	padding: 0 5px 10px}

body.tiki_blogs .author_actions {
	display: block;
	text-align: right}

.post .author_info {
	float: none;
	background: none;
	padding: 2px;
	margin-right: 0}

.post .postbody-title {
	display: block;
	background: none;
	border-bottom: 0;
	padding: 0;
	margin: 0}


/***** Forums *****/
.post {
	background: #0b0c04 url(greenblog/post_bg.jpg) no-repeat right top;
	border: 1px solid #191A0D;
	margin-bottom: 30px;
	padding: 0 5px 10px}

.post .author {
	float: left;
	text-align: left;
	width: 30%;
	margin: -3px 3px 3px -3px;
	background: url(greenblog/right_section_bg.jpg) 100% 0;
	padding: 3px;
	position: relative}

.post .avatar {
	display: block;
	float: none;
	text-align: left;
	margin: 0;
	background: inherit}

.post .author_post_info {
	display: block;
	padding: 0}

.post .author_post_info:first-child {text-transform: capitalize}

.post .postbody-title .title a.link {
	font-size: 1.1em;
	font-weight: bold}

.post .author .icons {
	position: absolute;
	top: 3px;
	left: 50px}

/**** Image Galleries ****/

/***** File Galleries *****/
.thumbnailcontener {
	border: 1px solid #b6ba63;
}

.opaque {
	background: #000;
	border: 1px solid #b6ba63;
	padding: 3px;
	color: #ffc64a;
}

.opaque .box-title {
	padding-bottom: 2px;
	border-bottom: 1px solid #b6ba63;
}

/***** Trackers *****/

/***** Categories, Tags *****/

/***** Tags (freetags) *****/
.freetagitemlist {
	  background: #0b0c04 url(greenblog/post_bg.jpg) no-repeat right top;
	border: 1px solid #191A0D;
	margin-bottom: 30px;
	padding: 0 0 10px}

/***** Directory *****/
.dirsite {
	background: #0b0c04 url(greenblog/post_bg.jpg) no-repeat right top;
	border: 1px solid #191A0D;
	margin-bottom: 30px;
	padding: 0 0 10px}


/***** Calendar *****/
.caldark {
	background: none;
	border: 0}

.caldark .calfocus {background: none;}
.calodd, .caleven {border: 1px solid #b6ba63}
.calodd .calfocus {background: url(greenblog/menu_panel_bg.jpg) center top}
.caleven .calfocus, .caleven .calfocuson {background: url(greenblog/menu_panel_bg.jpg) center 30px}

/***** Admin *****/
a.admbox {
	background: #14160a no-repeat center center;
	border: 1px solid #b6ba63}

a.admbox:hover {
	background: #585400 no-repeat center center;
	border: 1px solid #b6ba63;
	color: #ffff00;
	text-decoration: none}

/* End of File */