/* $Id$
	Tikinewt theme selectors for IE6.
*/

#tiki-center {
	font-size: 1em;
}

.wikitopline select {
	font-size: .9em;
}
input[type=submit],
input[type=reset] {
	color: #223344;
	background: #c7d0d9;
	border: 1px solid #999;
	padding: 0 4px;
	margin-right: 1px;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	display: inline;
	outline: none;
	font: bold .95em/2em Verdana, Helvetica, Geneva, Arial, sans-serif;
}

.button a:link,
.button a:visited {
	text-decoration: none;
	border: 0;
	padding: 0 4px;
}

.horbaritem a {
	font-size: .8em;
}

.moduleflip {
	display: block !important;
}

td,
th {
	font-size: 11px;
}

td.third {
	font-size: 13px;
}

.wikitopline table {
	font-size: 1.2em;
	width: 97%;
}

.post .postbody {
	font-size: 11px;
}

body .galtable {
	width: 97%;
}

.thumbname,
.thumbimage {
	position: absolute;
}
