/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/matrix/matrix-debug.css,v 1.1 2003-07-13 00:09:14 zaufi Exp $
 *
 * Debug console used styles.
 *
 */

div#debugconsole
{
  position: absolute;
  background-color: #002000;
  color: #009000;
  margin: 5px;
  top: 20px;
  min-height: 400px;
  height: auto;
  min-width: 700px;
  max-width: 700px;
  width: auto;
  z-index: 1;
  padding: 5px;
  margin: 5px;
  border: 1px ridge #00A000;
  font-family: "Ghost Type b", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

span.on-option
{
  color: #00C000;
}
span.off-option
{
  color: #005000;
}
