/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/matrix/matrix-tc.css,v 1.1 2003-06-29 23:04:06 zaufi Exp $
 *
 */

/*
 * General TIKI layout
 */

/* This div encloses the whole Tiki application */
div#tiki-main { height: 100%; width: 100%; margin: 0px; }
/* This is the header */
div#tiki-top {}
/* This is the middle */
div#tiki-mid { margin-top: 10px; }
/* And this is the footer */
div#tiki-bot {}

/* The three columns */
td#leftcolumn   { vertical-align: top; width: 180px; }
td#rightcolumn  { vertical-align: top; width: 180px; }
td#centercolumn { vertical-align: top; width: auto;  }

/* And this is what lies inside the centercolumn */
div#tiki-center
{
  margin-left: 15px; margin-right: 5px;
  padding-left: 2px;
  padding-right: 0px;
  color: #00E000;
  width: auto;
}
