/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/matrix/matrix-categories.l.css,v 1.4 2003-08-03 00:34:39 zaufi Exp $
 *
 * Backgrounds for light version of 'Matrix' theme
 *
 */

/* Get styles w/o backgrounds */
@import "matrix-categories.css";

/*
 * Define backgrounds (the only difference between two themes)
 */

table.catobjects
{
  background: #507050;
}

table.tcategpath,
div.treenode:hover
{
  background: #404040;
}

div.tree#top,
div.catlists > div.cbox-title,
div.catlists > div.cbox-data
{
  background: #202020;
}
