/* $Id: $
	Jqui theme (jqui.css), Rising theme option (rising.css)
	for Tiki Wiki CMS Groupware 2013
	Visit http://themes.tiki.org for more information
*/

/* initially created in theme generator */

#col2 a, #col2 a:visited, #col3 a, #col3 a:visited {
	color: #000
}

#col2 a:active, #col2 a:hover, #col3 a:active, #col3 a:hover {
	color: #888
}

a, a:visited {
	color: #ba352b
}

a:active, a:hover {
	color: #c2251f
}

#top a, #top a:visited {
	color: #ba352b
}

#top a:active, #top a:hover {
	color: #c2251f
}

#cssmenu0 .selected a {
	color: #000;
}

h1, h2, h3, h4, h5, h6, #top .pagetitle
a {
	color: #c2251f
}

#top .pagetitle
a {
	color: #a31a1a
}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.calbuttonBox
a {
	border: 1px solid #777;
	font-weight: bold;
	color: #555
}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover, .calbuttonBox:hover {
	border: 1px solid #666;
	font-weight: bold;
	color: #212121;
	background-color: #f04d4d
}

/* layout */

.tabcontent {
     text-align: left;
}
.box-menupage > div {
  padding: .5em .3em;
}

li.cs_advanced {
	list-style: none;
	float: left;
	padding: 0 1em 0 0;
}

/* menus */

.sf-sub-indicator {
    background: url(rising/arrows-ea2e11.png) no-repeat -10px -100px;
}

/* mobile definitions needs to go in header_custom_css

.ui-body-c .ui-link {
	color: #ed1c24;
}
.ui-body-c .ui-link:hover {
	color: #FF2029;
}
.ui-body-c .ui-link:active {
	color: #ed1c24;
}

.ui-body-c .ui-link:visited {
    color: #9A1217;
}
.ui-btn-up-d {
	color: #2F3E46;
}
.ui-btn-hover-d {
	color: #2F3E46;
}
.ui-btn-down-d {
	color: #2F3E46;
}
 */
