/* $Id: trontastic.css 52247 2014-08-05 17:15:54Z jonnybradley $
	Jqui theme, Trontastic theme option.
	for Tiki Wiki CMS Groupware.
	Visit http://themes.tiki.org for more information.
	(This file was edited directly, not produced by the Less pre-compiler.)
*/

html {
	background: #1e1e1e;
}
body   {
	background: #9fda58;
	background-image: url(trontastic/images/ui-bg_diagonals-small_50_262626_40x40.png);
	background: url(trontastic/ui-bg_diagonals-small_50_262626_40x40.png) repeat;
	font-family: Segoe UI, Helvetica, Arial, sans-serif;
	color: #454545;
}

a,
a:visited {
	color: /*#B8EC79*/ #4a4a4a;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

#col1 a,
#col1 a:visited {
	color: #B8EC79;
}

#col1 a:hover {
	color: #B8EC79;
}

.nav-tabs > li > a,
.nav-pills > li.active > a,
.pagination > li > a,
.pagination > li > span,
.pager li > a, .pager li > span
.open .dropdown-toggle.btn-default,
.input-group-addon,
.btn-default,
.btn-default:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.calbuttonBox a,
a.icon {
	border: 1px solid #9fda58;
	box-shadow: 0px 0px 2px rgba(159, 218, 88, 0.506) inset;
	color: #9fda58;
    background: #696969;
    background: -moz-linear-gradient(top,  #696969 0%, #1b1613 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#696969), color-stop(100%,#1b1613));
    background: -webkit-linear-gradient(top,  #696969 0%,#1b1613 100%);
    background: -o-linear-gradient(top,  #696969 0%,#1b1613 100%);
    background: -ms-linear-gradient(top,  #696969 0%,#1b1613 100%);
    background: linear-gradient(to bottom,  #696969 0%,#1b1613 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696969', endColorstr='#1b1613',GradientType=0 );

}

.btn-default {
	background-color: #696969;
	background-image: -o-linear-gradient(top, #696969, #1B1613)	
}	

	
.nav-tabs > li > a {
	border-bottom: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #C6E99C;
}

/*.dropdown-menu li a,*/
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav > li > a:hover,
.nav > li > a:focus,

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,

.pager li > a:hover, .pager li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.calbuttonBox:hover {
	color: #9fda58;
    background: #1b1613;
    background: -moz-linear-gradient(top,  #1b1613 0%, #696969 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1b1613), color-stop(100%,#696969));
    background: -webkit-linear-gradient(top,  #1b1613 0%,#696969 100%);
    background: -o-linear-gradient(top,  #1b1613 0%,#696969 100%);
    background: -ms-linear-gradient(top,  #1b1613 0%,#696969 100%);
    background: linear-gradient(to bottom,  #1b1613 0%,#696969 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1613', endColorstr='#696969',GradientType=0 );
}

.dropdown-menu > li > a {
	color: #9fda58;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	border-color: #fcefa1;
}

.form-control,
input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="file"],
input[type="search"],
input[type="number"],
select,
textarea,
body.cke_show_borders {
	background: #c6e99c;
	color: #000;
}

.header {
	background: #c6e99c;
}

.navbar-default {
	background-color: #000;
	border-color: transparent;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: transparent;
	background: url(trontastic/ui-bg_gloss-wave_55_000000_500x100.png) 0 50% repeat-x;
	color: #c6e99c;
	font-size: 1.1em;
}

.nav > li > a,
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a {
	color: #c6e99c;
}

/*
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus { 
	background-color: green;
	border-color: red;
	color: #FFFFFF;
} */

#middle {
	background: #9fda58 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_85_9fda58_500x100.png) repeat-x;
}

.footerbgtrap {
	background: #000 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_55_000000_500x100.png) 50% 50% repeat-x;
	color: #c6e99c;
}

#footer a:link,
#footer a:visited  {
	color: #B8EC79;
}

.cssmenu_horiz a,
.cssmenu_vert a,
#tiki-top .cssmenu_horiz li ul li a,
#tiki-top .cssmenu_horiz li:hover ul li a {
	background: none;
}

.cssmenu_vert li ul li,
#secondary_site_menu .cssmenu_horiz li:hover ul li,
#secondary_site_menu .cssmenu_horiz li.sfHover ul li {
	background: #4a4a4a;
	border: none;
}

#secondary_site_menu .cssmenu_horiz li:hover ul li a,
#secondary_site_menu .cssmenu_horiz li.sfHover ul li a {
	color: #B8EC79;
}

#secondary_site_menu .cssmenu_horiz li:hover ul li:hover a,
#secondary_site_menu .cssmenu_horiz li.sfHover ul li:hover a {
	color: #9fda58;
}

#tiki-top .cssmenu_horiz li:hover ul ul,
#tiki-top .cssmenu_horiz li.sfHover ul ul,
#secondary_site_menu .cssmenu_horiz li:hover ul ul,
#secondary_site_menu .cssmenu_horiz li.sfHover ul ul {
	top: 0;
}

.cssmenu_horiz li ul li:first-child,
.cssmenu_vert li ul li:first-child {
	border-top: none;
}

.sf-sub-indicator {
	background: url(trontastic/arrows-000000.png) no-repeat -10px -100px;
}

#tiki-top .cssmenu_horiz li a .sf-sub-indicator {top: 1.2em}

#tiki-top .cssmenu_horiz li ul li  a .sf-sub-indicator {
	background: url(trontastic/arrows-000000.png) no-repeat;
	top: 0.5em;
}

#secondary_site_menu .cssmenu_horiz li ul li a .sf-sub-indicator,
.cssmenu_vert .sf-sub-indicator {
	background: url(trontastic/arrows-b8ec79.png) no-repeat 10px 0;
}

#col1 {
	background: #000;
	color: #f3fce8;
	border-radius: 4px;
	border: 1px solid #4a4a4a;
}

#col1,
.panel,
.panel-default,
.list-group-item {
	border: 1px solid #4a4a4a;
	background: #000 url(trontastic/ui-bg_gloss-wave_55_000000_500x100.png) 50% top repeat-x;
	color: #f3fce8;
}

a.list-group-item .list-group-item-heading {
	color: #f3fce8;
}

a.list-group-item:hover,
a.list-group-item:focus {
	background-color: #454545;
}

.panel-footer {
	background: #4a4a4a;
}

.panel-primary > .panel-heading {
	color: #000;
	background: url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_95_f6ecd5_500x100.png) 0 50% repeat-x;
}

.help-block,
.box legend {
	color: #f3fce8;
}

.jumbotron,
.well,
.dropdown-menu { 
	background-color: #696969;
	color: inherit;
	border-color: #9fda58;
}

.cbox a,
.box a {
	 color: #fff;
}

.breadcrumb {
	background: transparent;
}

.panel-default > .panel-heading,
.cbox-title,
h3.box-title,
th,
td.heading,
tr.diffheader {
	border: 1px solid #000;
	background: #9fda58 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_85_9fda58_500x100.png) 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
	color: #222;
}

th,
td.heading,
tr.diffheader {
	border: none;
}

.box-data a,
.box-data a:visited,
.wikitext a,
.wikitext a:visited,
.postbody a,
.postbody a:visited,
.headers a {
	color: #B8EC79;
}

a.alert-link,
a.alert-link:visited {
	color: #79ce13}


.post .postbody-title .title a.link {
	color: #222;
}

.box-data a:hover,
.wikitext a:hover  {
	color: #9fda58;
}

.rbox-title,
.rbox-data {
	background: #FBF9EE url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_95_f6ecd5_500x100.png) repeat-x 50% 50%;
	border: 1px solid #FCEFA1;
	color: #363636;
}

.rbox-title {
	border-bottom: none !important;
}

.highlight, .highlight a,
.warning .rbox-title,
.warning .rbox-data {
	background: #F1FBE5 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_95_f6ecd5_500x100.png) 50% 50% repeat-x;
	border:1px solid #fcefa1;
	color:#74736D;
}

.table {
	border: 1px solid #95da58;
	color: #000;
	background: #ade27e;
}


.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th,
tr.odd td,
td.odd,
li.odd,
table.normal tr:nth-child(2n+1),
.tablesorter tr.odd td {
	background: #c6e99c;
}

tr.even td,
td.even,
li.even,
table.normal tr:nth-child(2n),
.tablesorter tr.even td {
	background: #b0e077;
}

.tabs {
	border: 1px solid #d3d3d3;
	background:#9fda58 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_85_9fda58_500x100.png) 50% 50% repeat-x;
}

.tabmark,
.statuson {
	border: 1px solid #1b1613;
	background: #0a0a0a url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_glass_40_0a0a0a_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #b8ec79;
	outline: none;
}

.tabmark a {
	color: #b8ec79;
}

.tabactive {
	border: 1px solid #696969;
	background: #4c4c4c url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_flat_0_4c4c4c_40x100.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #fff !important;
	outline: none;
}

.tabactive a {
	color: #fff;
}

.adminoptionbox fieldset.table legend {padding-top: 28px;}

#tiki-top .cssmenu_horiz li {
	background:#9fda58 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_85_9fda58_500x100.png) 50% 50% repeat-x;
	margin-right: 5px;
}

.post .postbody {
	border: 1px solid #4a4a4a;
	background: #000000 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_55_000000_500x100.png) 50% top repeat-x;
	background: url(trontastic/ui-bg_gloss-wave_55_000000_500x100.png) 50% top repeat-x;
	color: #fff;
}

.postbody-title {
	background:#9fda58 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_85_9fda58_500x100.png) 50% 50% repeat-x;
	color: #222;
}

.caltable .even,
.caltable .odd {
	background: #0A0A0A url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_55_000000_500x100.png) repeat-x scroll 50% 50%;
	border:1px solid #1B1613;
	color:#B8EC79;
}

.caltable .even a:link,
.caltable .even a:visited,
.caltable .odd a:link,
.caltable .odd a:visited  {
	color: #B8EC79;
}

.caltable td.calhighlight,
.caltable td.calhighlight a:link,
.caltable td.calhighlight a:visited,
td.calheadhighlight {
	background: #9fda58 url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_85_9fda58_500x100.png) 50% 50% repeat-x;
	color: #000;
}

td.calheadhighlight,
td.calheadhighlight a:link,
td.calheadhighlight a:visited {
	background: #0A0A0A url(../../../vendor/jquery/jquery-ui-themes/themes/trontastic/images/ui-bg_gloss-wave_55_000000_500x100.png) repeat-x scroll 50% 50%;
	font-weight: bold;
	color: #b8ec79;
}

.caltable .calborder {
	border: 1px solid #1B1613;
}

.caltable .calmodfocus {
	text-decoration: underline;
}

body.tiki_admin .simplebox,
a.admbox,
a.admbox.off {
	border: 1px solid #4a4a4a;
	background-color: #000;
	color: #fff;
}

.cssmenu_horiz li ul li,
.cssmenu_vert li ul li,
.wikitext,
#tiki-top .cssmenu_horiz li {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}