
/* Mittwoch CSS for Internet Explorer 7 */
/* $Id$
	Additional rules for Tiki CMS/Groupware Mittwoch theme for IE7.
*/

body {
	font-size: 70%;
}

#main {
	font-size: .95em;
}

#tiki-top .cssmenu_horiz li ul {
	line-height: 1;
	margin-top: 6px;}

h1.pagetitle {
	min-width: 500px;
}

#c1c2 #wrapper #col1 .contentwrapper {
	/*margin: 0;*/
}

div.blogtitle {
/*width: 600px;*/
}

.code,
pre.codelisting,
.codelisting {
	width: 400px}
