@import url("https://fonts.googleapis.com/css?family=News+Cycle:400,700");
/* Journal theme newsletter stylesheet */
.margin-bottom-xs {
  margin-bottom: 6px;
}
.margin-bottom-sm {
  margin-bottom: 11px;
}
.margin-bottom-md {
  margin-bottom: 21px;
}
.margin-bottom-lg {
  margin-bottom: 42px;
}
body {
  background: #ffffff;
  color: #777777;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 15px;
}
a,
a:visited {
  color: #eb6864;
  text-decoration: underline;
}
a:hover {
  color: #e22620;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  color: #000000;
}
.panel {
  margin-bottom: 21px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-default {
  border-color: #dddddd;
}
.panel-default > .panel-heading {
  color: #777777;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #777777;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
.panel-primary {
  border-color: #eb6864;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #eb6864;
  border-color: #eb6864;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eb6864;
}
.panel-primary > .panel-heading .badge {
  color: #eb6864;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #eb6864;
}
.panel-success {
  border-color: #22b24c;
}
.panel-success > .panel-heading {
  color: #468847;
  background-color: #22b24c;
  border-color: #22b24c;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #22b24c;
}
.panel-success > .panel-heading .badge {
  color: #22b24c;
  background-color: #468847;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #22b24c;
}
.panel-info {
  border-color: #336699;
}
.panel-info > .panel-heading {
  color: #3a87ad;
  background-color: #336699;
  border-color: #336699;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #336699;
}
.panel-info > .panel-heading .badge {
  color: #336699;
  background-color: #3a87ad;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #336699;
}
.panel-warning {
  border-color: #f5e625;
}
.panel-warning > .panel-heading {
  color: #c09853;
  background-color: #f5e625;
  border-color: #f5e625;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #f5e625;
}
.panel-warning > .panel-heading .badge {
  color: #f5e625;
  background-color: #c09853;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #f5e625;
}
.panel-danger {
  border-color: #f57a00;
}
.panel-danger > .panel-heading {
  color: #b94a48;
  background-color: #f57a00;
  border-color: #f57a00;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #f57a00;
}
.panel-danger > .panel-heading .badge {
  color: #f57a00;
  background-color: #b94a48;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #f57a00;
}
