/* $Id$
	Feb12 theme selectors for IE6.
*/
#header-top {
	height: 98px;
}

.wikitopline select {
	font-size: .9em;
}

input[type=reset]:hover,
input[type=submit]:hover {
	background: url(feb12/header.jpg) repeat-x 0 100%;
	color: #F5F5F5;
	cursor: pointer;
}

span.button a,
span.button a:visited {
	background: url(feb12/header.jpg) repeat-x 0 -2px;
}

span.button a:hover {
	color: #F5F5F5;
	background: url(feb12/header.jpg) repeat-x 0 100%;
}

.findtable input {
	font-size: 1em;
}

#sitetitle {
	margin-bottom: 0;
}

#sitesubtitle {
	margin: 10px 0 5px 0;
}

#tiki-top {
	font-size: 11px;
}

#tiki-center {
	font-size: 1em;
}

.horbaritem a,
.horbaritem a:link,
.horbaritem a:visited {
	font-size: 1.3em;
}

.mdksubmenu {
	margin-top: 0;
}

.box-data table {
	width: 95%;
}

#tiki-top .cssmenu_horiz li a {
	font-size: 14px;
	padding: 6px 3px;
	display: block;
}

.clearfix {
	height: 1%;
}

div#tikihelp {
	position: absolute;
}

div.box {
	width: 200px;
}

h3.box-title {
	position: static;
}

.moduleflip {
	position: static;
	float: right;
}

.moduleflip {
	display: block;
}

img.flipmodimage {
	border: none;
}

.box img.flipmodimage {
	border: none;
}

#col2 img.flipmodimage,
#col3 img.flipmodimage {
	margin-top: -12px;
}

td {
	font-size: 100%;
}

.wikitopline table {
	width: 97%;
}

.post .postbody {
	font-size: 1em;
}

table.galtable {
	width: 97%;
}