/* Version of TheNews theme for TikiWiki CMS/Groupware,
   with narrower left column and wider right column.
 * License: GNU/LGPL. */

#c1c2 #wrapper .marginleft {margin-left: 160px}
#c1c2 #wrapper .marginright {margin-right: 316px}

#c1c2 #col2 {
	width: 160px;
	overflow: hidden}

#col3 {
	margin-left: -316px;
	width: 316px}
	
* html #col2 .box {width: 158px}
* html #col3 .box { width: 300px}
	
#col2 .cssmenu_vert > li {
	width: 130px;
	padding: 0 !important}
	
#col2 .cssmenu_vert li ul {margin-left: 130px}