/* $Id$ */

.box-data ol {
	margin-left: 0;
}

.box-data ul {
	margin-left: 1em;
}

#col2 .cssmenu_vert {
	margin-left: 0;
}

.wikiactions .icons,
.wikiactions form {/*display: inline*/}

.codelisting {
	padding-bottom: 1.8em;
}

form#editpageform {
	width: 520px;
}