@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
/* Simplex theme newsletter stylesheet */
.margin-bottom-xs {
  margin-bottom: 5px;
}
.margin-bottom-sm {
  margin-bottom: 9px;
}
.margin-bottom-md {
  margin-bottom: 18px;
}
.margin-bottom-lg {
  margin-bottom: 36px;
}
body {
  background: #fcfcfc;
  color: #777777;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px;
}
a,
a:visited {
  color: #d9230f;
  text-decoration: underline;
}
a:hover {
  color: #91170a;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #444444;
}
.panel {
  margin-bottom: 18px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #fcfcfc;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-default {
  border-color: #dddddd;
}
.panel-default > .panel-heading {
  color: #444444;
  background-color: #fcfcfc;
  border-color: #dddddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
.panel-default > .panel-heading .badge {
  color: #fcfcfc;
  background-color: #444444;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
.panel-primary {
  border-color: #d9230f;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #d9230f;
  border-color: #d9230f;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d9230f;
}
.panel-primary > .panel-heading .badge {
  color: #d9230f;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d9230f;
}
.panel-success {
  border-color: #469408;
}
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #469408;
  border-color: #469408;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #469408;
}
.panel-success > .panel-heading .badge {
  color: #469408;
  background-color: #ffffff;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #469408;
}
.panel-info {
  border-color: #029acf;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #029acf;
  border-color: #029acf;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #029acf;
}
.panel-info > .panel-heading .badge {
  color: #029acf;
  background-color: #ffffff;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #029acf;
}
.panel-warning {
  border-color: #9b479f;
}
.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #9b479f;
  border-color: #9b479f;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #9b479f;
}
.panel-warning > .panel-heading .badge {
  color: #9b479f;
  background-color: #ffffff;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #9b479f;
}
.panel-danger {
  border-color: #d9831f;
}
.panel-danger > .panel-heading {
  color: #ffffff;
  background-color: #d9831f;
  border-color: #d9831f;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d9831f;
}
.panel-danger > .panel-heading .badge {
  color: #d9831f;
  background-color: #ffffff;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d9831f;
}
