body {
background-color : #E9ECEF;
}

tt, pre {
	font-family:    Lucida Console, Courier New, Courier, monotype;
	font-size:   20px;
}

table {
	background-repeat:    no-repeat;
	background-position:   100% 100%;
}

h1 {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   36px;
	font-weight:   bold;
	margin : 0;
}

ul {
margin-top: 2px;
margin-bottom: 6px;
}

li:hover {
	color:    #FFFFFF;
	background:   #000000;
}

a, a:visited {
	color : #225566;
	font-weight: bold;
	text-decoration:    none;
}

h2 {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   24px;
	color:   #3333FF;
	margin : 0;
}
.maintable {
background-color : #E9ECEF;
width : 90%;
}
.title {
color : #225566;
background-color : #C7D0D9;
padding : 10px 30px 0 30px;
border-radius : 20px 20px 0 0;
-moz-border-radius : 20px 20px 0 0;
-khtml-border-radius : 20px 20px 0 0;
}
.Main {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   24px;
	color:   #000000;
	list-style-type:   circle;
	padding : 20px 30px;
	border : 3px solid #225566; 
}

.slidedata {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   24px;
	color:   #000000;
	list-style-type:   circle;
}

.links {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   18px;
}

.footer {
	background-color : #b7c0c9;
	color:   #447788;
	font-size:   18px;
}
.footer td {
padding : 3px 30px;
}
a.buttons, a.buttons:visited {
	color:   #225566;
}
