/* "TypeH" variation of Mollio theme - 
"Fixed width"
*/
body {
	background: #222;
}

#main {
	border: 1px solid #fff;
	position: relative;
	background: #fff;
	margin: 20px auto;
	text-align: left
	display: table; 
	width: 600px} 

*:first-child+html #c1c2 {
	margin-left: 0;
	padding-left: 0} 
}
