/* Type A option for Mollio theme, TikiWiki CMS/Groupware -
	One column, full page width.
*/

#c1c2 #col2,
html > body #col3[id],
#col3 {
	display: none !important;
}

#c1c2 #wrapper .marginleft {
	margin-left: 0;

}

#c1c2 #wrapper .marginright {
	margin-right: 0;
}


#c1c2 #wrapper #col1 #tiki-center {
	padding: 0 50px;
}