/* "Type F" version of Mollio layout - 
3 columns - Main + Right hand nav + Left Sidebar
*/
#c1c2	#wrapper .marginleft {
	border-left: none;
	margin-left: 235px;
}

#c1c2	#wrapper	.marginright {
	margin-right: 215px;
	border-right: 1px solid #ccc;
}

#c1c2 #col2 {
	width: 235px;
	margin-right: -235px;
	border-right: none;
}

#col3 {
	width: 215px;
	margin-left: -216px;
	border-left: 1px solid #ccc;
}

#col3 .content {
	margin-left: 25px;
	width:  235px;
}

#col2 .box {
	color: #333;
	padding: 0 20px 20px;
	border-top: 1px solid #d7d7d7;
	margin: 0 0 1.5em;
	background: #f6f6f6 url(../featurebox_bg.gif) no-repeat 100% 100%;
}

#col2 h3.box-title {
	display: block;
	border-bottom: 1px solid #c00;
	color:#c00}
	
#col3 .box {
	width: 165px;
	background: none;
	padding-left: 0;
}

#col3 .box-title {
	display: none;
}

#col3 .box-data {
	
}