/*
$Header: /cvsroot/tikiwiki/tiki/styles/transitions/1.8to1.9.css,v 1.10 2007-03-06 19:30:38 sylvieg Exp $

The following CSS classes were added to Tiki between v1.8.5 and v1.9.0
They should be added to themes (possibly with tweaks) to make the theme v1.9 ready
*/

/* wiki diff styles */
.diff td {          
  border: 1px solid #A9B8C2;
} 
.diff div {
  border-top : 1px solid #A9B8C2;
}
.diffheader {
  background-color : #A9B8C2;
  font-weight: bold;
}
.diffadded {            
  background-color : #CCFFCC;
}
.diffdeleted {
  background-color : #FFCCCC;
}
.diffinldel {
	background-color : #FFCCCC;
	text-decoration  : line-through;
}
.diffbody {
  background-color : #F2F4F5;
}
.diffchar {
  color : red;
}


/** rbox: remarks box (note/warning/tip/comment) */
/* split, so that it works with firefox and IE */
.rbox {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.rbox-title { 
  padding: 0 10px;
  font-size: small;
  position: relative;
  display: inline;
  margin: 0;
  font-weight: bold;
  background-color: #EEEE9C;
}
.rbox-title[name="warning"] {
  border-radius-topright : 1ex;
  -moz-border-radius-topright : 1ex;
  -khtml-border-radius-topright : 1ex;
  font-size: small;
  padding: 0 10px;   
  position: relative;
  display: inline;
  margin: 0;
  font-weight: bold;
  background-color: #EEEE9C;
}
.rbox-title[name="note"] {
  background-color: #EEEE9C;
}
.rbox-title[name="comment"], .rbox-title[name="tip"] {
  background-color: #EEEE9C;
}

.rbox-data {
  padding: 2px;
  margin: 1px;
  font-size: small;
  background-color: #EEEE9C;
  border: 1px solid #DDCCCC;
}
.rbox-data[name="warning"] {
  background-color: #EFECEC;
  border: 1px solid #DDCCCC;
}
.rbox-data[name="note"] {
  background-color: #ECECEF;
  border: 1px solid #CCCCDD;
}
.rbox-data[name="comment"], .rbox-data[name="tip"] {            
  background-color: #EEEE9C;
  border: 1px solid #DDCCCC;
}

/* (module) box styles */
div.box-title table {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-spacing: 0;
}

div.box-title table td {
  text-align: center;
}

.box-flipimage, .flipmodimage {
  border: 0px;
  float: right;
  margin-left: 0px;
}
/* these don't need defaults
span.box-titletext, a.flipmodtitle {}
 */


/** site identity styles */
/* these don't need defaults:
 * div#sitenavbar, div#sitelogo, div#sitead, div#sitesearchbar {}
 */

/** default size for text in Location bar when it isn't a title */
div#sitelocbar, a.crumblink {
  font-size: medium;
}

/* a generic div to enclose the linkbut buttons at the top of a page to avoid the <br /><br /> after the buttons */
div.navbar, div#navbar {margin-bottom: 20px;}

/* a generic div to enclose the description at the top of a page to avoid small and <br /><br /> after the description*/
/** style designers: by default make font style identical to H2 */
div.description, div#description {
  font-size: 18px;
}

/* changes to tikihelp */
a.tikihelp {
    vertical-align: text-top;
}

/* TOC: fancy toc */
.fancytoclevel {
        list-style-image: url(../img/icons/footprint.gif);
}

DIV.heading {
        margin: 3px 2px;
}

/* TikiSheet Default Style {{{1 */
table.default	thead	td,	table.default	tfoot	td
{
	font-weight:		bold;
	text-align:			center;
}

table.default	td
{
	border-style:		solid;
	border-width:		1px;
	border-color:		#000000;
}
/* }}}1 */

/* on the {maketoc} global ul
.toc {}
*/

.searchresults{
  text-align: left;
}

/*** style for 'advanced feature' divs ***/
.advanced {
  margin: 20px;
  padding: 5px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.advanced:before { content:url(../img/icons/mini_blue_diamond.gif)" "; }

div.menuSection div.menuSection, div.menuSection div.separator {
	padding-left: 5px;
}
/* end of css file */
