/*
$Header: /cvsroot/tikiwiki/tiki/styles/transitions/1.9to1.10.css,v 1.15.2.4 2008-03-16 01:02:39 nyloth Exp $

The following CSS classes were added to Tiki between v1.9 and v1.10
They should be added to themes (possibly with tweaks) to make the theme v1.10 ready
*/
/* editable wiki section */
div.split {
border: 1px dashed #A9B8C2;
clear:both;
}

a.freetag_1 { text-decoration: none; font-size: 8px; }
a.freetag_2 { text-decoration: none; font-size: 10px; }
a.freetag_3 { text-decoration: none; font-size: 12px; }
a.freetag_4 { text-decoration: none; font-size: 14px; }
a.freetag_5 { text-decoration: none; font-size: 16px; }
a.freetag_6 { text-decoration: none; font-size: 18px; }
a.freetag_7 { text-decoration: none; font-size: 20px; }

.freetaglist {
        background-color: #EEF5EE;
}
.freetaglist a {
        text-decoration: none;
}
.morcego_embedded {
        border: 1px solid;
        text-align: center;
}

div#ajaxLoading {
       display: none;
       background-color: #BB5555;
       position: absolute;
       top: 0px;
       right: 0px;
       border: 1px solid #000000;
       padding: 3px;
       font-family: Verdana;
       font-size: 10px;
}

.wikiplugin_trackerstat, .wikiplugin_tracker, .wikiplugin_trackerlist {} 

.tellafriend {text-align:right;}

.highlight_word_0{color:black;background-color: #ffff66;}
.highlight_word_1{color:black;background-color: #ff9999;}
.highlight_word_2{color:black;background-color: #A0FFFF;}
.highlight_word_3{color:black;background-color: #ff66ff;}
.highlight_word_4{color:black;background-color: #99ff99;}
.navbar{margin: 10px 0;}

/* Forums */
.post .postbody {
	clear: both;
	width: 100%;
	border-top: solid 1px gray;
	border-bottom: solid 1px #E7EAED;
	border-left: solid 1px #E7EAED;
	border-right: solid 1px #E7EAED;
	margin: 0;
	margin-top: 5px;
	padding: 3px 0px 3px 0px;
	background-color: #F9FCFF;
}
.post .postbody-title {
	display: block;
	background-color: #E0EAF4; 
	border-bottom: 1px solid #ACCCDD;
	margin-bottom: 4px;
	height: 100%;
	overflow: auto;
	padding-top: 2px;
}
.post .postbody-title .checkbox { float: left; }
.post .postbody-title .title {
	float: left;
	color: #29677B;
	font-weight: bold;
	font-size: 12px;
	margin-left: 5px;
	margin-top: 3px;
}
.post .author {	
	text-align: right;
	vertical-align: top;
}
.post .author_post_info {
	display: block;
	background-color: #E0EAF4;
	padding: 0 2px 2px 2px;
}
.post .author_info .icons { display: block; }
.post .author_info .icons .actions { margin-right: 10px; }

.post .author_post_info_on { font-style: italic; }
.post .author_info {
	float: right;
	background-color: #F0F8FF;
	padding: 0 2px 2px 2px;
	margin-left: 5px;
	border-left: 1px solid #D7E5F3;
	border-bottom: 1px solid #D7E5F3;
}
.commentStyle_headers .author_info { float: left; }
.post .postbody-title .actions {
	float: right;
	font-size: 10px;
}
.post .postbody .content {
	float: left;
	padding: 0px 3px 3px 3px;
	width: 100%;
	height: 100%;
	text-align: left;
	color: #000000;
}
.post .postbody .attachments {
	clear: both;
	border-top: 1px dotted #D9D9D9;
	margin-top: 5px; 
}
.post .postbody .attachments img { vertical-align: text-bottom; }
.post .postfooter .actions, .post .postfooter .status {
	display:inline;
	margin-left: 5px;
	vertical-align: top;
}
.post .postfooter .status { font-size: 10px; }
.post .postfooter {
	float: right;
	text-align: right;
}
.post .inner > .postfooter { clear: both; }
.post .contribution {
	background-color: #F0F8FF;
	border: 1px solid #D7E5F3;
	padding: 0 2px 0 2px;
}
.post .avatar {
	float: right;
	margin-bottom: 5px;
	margin-left: 4px;
	padding: 3px;
	border: 1px solid #ACCCDD;
	background-color: #E0EAF4;
}
.sub_comment { padding-left: 20px; }
.sub_comment_area {
	clear: both;
	background: url("../../img/edge.gif") no-repeat top left; 
}

.forum_actions .actions {
	clear: both;
	border: 1px solid #999999;
	background-color: #E1EBF5;
	padding: 3px 3px 3px 3px;
	vertical-align: middle;
}
.forum_actions .actions .action { 
	margin-right: 10px;
}
.forum_actions .headers { vertical-align: bottom; }
.forum_actions .headers .title {
	float: left;
	background-color: #C7D0D9;
	border: 1px solid #999999;
	border-bottom: 0;
	padding: 1px;
}
.forum_actions .headers .infos {
	float: right;
	font-size: smaller;
	padding-top: 2px;
}
.thread_pagination {
	text-align: center;
	margin-bottom: 10px;
}
.nb_replies { white-space: nowrap; }
.post_preview, .top_post { margin-bottom: 15px; }
/*.post .postbody .signature { float: left; }*/

/* Pagination for listings */
/* This class already exists in tiki v1.9 but has to be changed as follows */
/* to keep the same behaviour */
.mini {
        text-align :center;
}

/* OpenID  */
.openid_url {
background-image: url(../../img/icons/login-OpenID-bg.gif);
background-repeat: no-repeat;
background-attachment: scroll;
background-color: #ffffff;
padding-left: 18px;
}

/* Style for navbar buttons 
 *  This class has to be added in the main style sheet */
#highlight  {
	background-color : #eeee99 !important;
}

/* Style for sections in tiki-forums. Alignement "center" was inline before */
td.third {
  text-align: center;
}

/* Style for tikitabs */
.tabactive {
	border-color: black !important;
	border-width: 1px !important;
}

.tabinactive {
	border-color: transparent !important;
	border-width: 0px !important;
}
.iconmenutext { white-space: nowrap; }

/* Style for OverBox */
.opaque {
  background-color: #FFFFFF;
  width : auto;
  border : 1px solid #666666;
  border-radius : 10px;
  -moz-border-radius : 10px;
  -khtml-border-radius : 10px;
  padding : 5px;
}
.opaque .box-title,
.opaque .box-data {
  width: auto;
}

#site_report {
 text-align: center;
}
#site_report a {
 border-left: 1px solid #666666;
 border-right: 1px solid #666666;
 padding: 0px 5px;
 font-size: smaller;
}