/*
The following CSS classes were added to Tiki between v2.0 and v3.0
They should be added to themes (possibly with tweaks) to make the theme v3.0 ready
*/

.plugin-desc {
	padding: 5px;
}

.plugin-sample {
	padding: 5px;
	font-family: monospace;
}

.plugin-sample .plugin-param {
	padding-left: 15px;
}

.plugin-form-float {
	position: fixed;
	left: 5%;
	right: 365px;
	top: 5%;
	max-height: 90%;
	overflow: auto;
	background: white;
	color: black;
	padding: 10px;
	border: solid 2px black;
	z-index: 1000;
}

.icon_edit_section {
	float: right;
	margin-top: 1em;
}

h3.box-title {
	position: relative}
	
* html h3.box-title {
	position: static
}
	
.moduleflip {
	display: none;
	position: absolute;
	right: 0;
	top: 0
}

* html .moduleflip {
	position: static;
	float: right
}

* html .moduleflip,
.box:hover .moduleflip {display: block}

.box:hover img.flipmodimage {border: 1px solid transparent}
* html img.flipmodimage {border: none}
img.flipmodimage:hover {border: 1px solid #80B1E2 !important}

#shadowbox_content {
	background: white;
	color: black;
}

/* To enable removing deprecated tag from img.icon and prevent border on a.icon. */
a.icon,
img.icon {
	border: 0 !important;
	background: transparent
}

.post-approved-n { border-left: 3px dotted blue; }
.post-approved-r { border-left: 3px double red; }
.post-approved-r .content * { background-image: url(../../img/icons2/dots.gif); }

/* .post-approved-n .content, .post-approved-r .content,
.post-approved-n .title, .post-approved-r .title,
.post-approved-n .postfooter, .post-approved-r .postfooter,
tr.post-approved-n td span, tr.post-approved-r td span {
	opacity: 0.5;
}
tr.post-approved-n td span, tr.post-approved-r td span { opacity: 0.6; } VALIDATION ERROR */

/* multiselect section for categories for example */

div.multiselect {
	vertical-align: middle;
	padding: 0;
	border:1px solid #80B1E2;
	height: auto;
	overflow: visible;
}
div.multiselect table{
	width: 100%;
}
div.multiselect div.option {
	white-space:nowrap;
	width: 33.33%;
	display: inline-block;
	overflow : hidden;
	margin : -1px;
}

div.multiselect div.selection span {
	display: inline;
}
div.multiselect li.odd, div.multiselect div.odd {
	color: black;
	background-color : #F4F6F7;
}
div.multiselect li.odd:hover, div.multiselect div.odd:hover {
	background: #FFF7E6;
}
div.multiselect li.even, div.multiselect div.even {
	color: black;
	background-color: #E7E9EA;
}
div.multiselect div.even:hover, div.multiselect div.even:hover {
	background-color: #F0F2F3;
}

div.multiselect div.odd, div.multiselect div.even {
	border:1px solid #80B1E2;
}
div.multiselect ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	text-align: left;
	white-space: nowrap;
	margin:0;
	padding:0;
}
div.multiselect li {
	margin-left: 3em;
}
div.multiselect  ul.root > li {
	margin: 0 1em 0.5em .5em;
	display: block;
	float: left;
}

div.multiselect img {
	vertical-align: middle;
}

div.multiselect div.selection {
	display: none;
	/*overflow-y: auto;
	overflow-x: hidden; VALIDATION ERROR */
	overflow: auto;
	position: relative;
	height: auto;
	max-height: 7em;
	z-index: 1000;
	width: 100%;
	left: -1px;
	border:1px solid #80B1E2;
	background-color: #ffffff;
	float: left;
	margin:0;
	padding:0;
}

div.multiselect:hover, div.multiselect div.selection:hover {
	border:1px solid #80B1E2;
}

/* display PHP/Smarty errors on top */

#show-errors-button {
	z-index: 1024;
}

#errors {
	z-index: 1023;
}

/* New Help section */
div#tikihelp {
	position:fixed;
	right: 0;
	top: 3px;
	height: auto; /* if there was height specified it covered the right column content "invisibly" making part of it unclickable (from strasa) */
	max-width: 50%;
	padding:0;
	margin:0;
	border: none;
	background-color: transparent;
	z-index: 820;
}
* html div#tikihelp {position: absolute}

div.help_icon {
	border: 0;
	margin: 0;
	padding: 0;
	height: 48px;
	text-align: right;
}
div.help_icon a:hover {
	text-decoration: none;
}
div.help_icon img{
	vertical-align: middle;
	border: 0;
	margin: 0;
	padding: 0;
}
div.help_section_select {
	font-weight : bold;
	font-size: 120%;
	background-color : #E7E9EA;
	color: black;
	width: 100%;
	margin: 2px;
}
div.help_sections {
	width : 360px;
	padding:  2px;
	background-color: #AAC9E9;
	max-height : 95%;
	overflow: auto;
	height: 400px;
}
div.help_section {
	margin: 5px;
	padding: 5px;
	background-color: white;
	color: black;
}

.findtable ul {
	list-style: none;
}

.findtable ul li {
	float: left;
}
ul.categories{
	margin:0;
	padding:0;
}
ul.categories li{
	list-style:none;
	margin:0;
	padding:0;
}

.alphafilter {
	display: block;
	margin: 10px 0;
	text-align:center;
}

.alphafilter a {
	font-size: 120%;
}

#disp_trig {
	background-color: #88b6c3;
	color: #e8ffff;
}

img {border: 0}

.popup-group-watch {
	overflow: auto;
	width: 100px;
	max-width: 200px;
	border: solid thin black;
	background: white;
	color: black;
	display: none;
}

span.categpath {
	display: block;
}

p.editdate {
	padding-top: 10px;
}

.footnotearea {
	margin-top: 2em;
	font-size: 0.9em;
}

/* mod-switch_lang now does mode=menu|flags|words */
/* flags */

.box-switch_lang .box-data img {
  padding: .2em;
  vertical-align: middle;
}

.box-switch_lang .box-data img.highlight {
  padding: .1em;
  border: .1em solid #f00 !important;	/* too many !importants about! */
}

.box-switch_lang .box-data span.highlight {
  border: .1em solid #f00 !important;
}

/*.box-switch_lang .box-data img.unavailable,
.box-switch_lang .box-data span.unavailable  {
  opacity: .3;
} VALIDATION ERROR */

/* words */

.box-switch_lang li {
	list-style: none;
}

.box-switch_lang .box-data a.highlight {
  font-weight: bold;
}

/*.box-switch_lang .box-data a.unavailable  {
  opacity: .6;
} VALIDATION ERROR */

.box-switch_lang ul {
	padding: 0 1em;
}

/* for wikiplugin_fancylist */

.wikitext .fancylist {
	margin: .5em 0;
	padding: 0;
}

.wikitext .fancylist li {
	list-style-position: inside;
}

.wikitext .fancylist li p {
	display: inline;
	font-size: 1em;
}

[class].wikitext .fancylist li p {}

/***************************************
   Cluetip - JQuery tooltips
   =cluetipClass: 'default' 
-------------------------------------- */

.cluetip-default {
  background-color: #BED8F1;
  color: #000;
}
.cluetip-default #cluetip-outer {
  background-color: #BED8F1;
}
.cluetip-default h3#cluetip-title {
  background-color: #1B3A50;
  color: #fff;
}
.cluetip-default #cluetip-title a {
  color: #BED8F1;
  font-size: 0.95em;
}  
.cluetip-default #cluetip-inner {
  padding: .9em;
}
.cluetip-default div#cluetip-close { 
  text-align: right;
  margin: -10px 0 0 0;
  color: #900;
}

/* for admin section */

span.disabled {
	/*opacity: .5; VALIDATION ERROR */
	font-style: italic;
}

#style_thumb_div {
	text-align: center;
}

/***** TikiSheet Default Style *****/

table.default thead td,
table.default tfoot td {
	font-weight: bold;
	text-align:	center;
	background: #ABCDEF;
	color: #cce5ff}

table.default td {
	border: solid 1px #A9A9A9;
	background: white}

/*** blogs modules ***/

/* <small> on these modules contains the blog date
   and is more readable on separate line */

small.description {
	display: block;
	font-size: .95em;
	font-style: italic}

/*** for mods list ***/

td.mods_revision {
	background-color: #b5cfb5;
}

td.mods_update {
	background-color:#dcdeac;
}

/*td.mods_hilite {
	background-color:#;
} MISSING VALUE */

/* workaround for Safari when in FCKEditor */
html[dir=ltr]>body {
	display: block;
	margin: 1em .5em;
}

/* wikiplugin edit */
.wikiplugin_edit textarea {width: 99%; height: 150px}

/* wikiplugin tracker */
.mandatory_star {
	font-weight: bold;
	color: red;	
}
.mandatory_note{
	display: block;
	font-style: italic;
	margin-top: 10px;
}
