/*
The following CSS classes were added to Tiki between v2.0 and v3.0
They should be added to themes (possibly with tweaks) to make the theme v3.0 ready
*/

.plugin-desc {
	padding: 5px;
}

.plugin-sample {
	padding: 5px;
	font-family: monospace;
}

.plugin-sample .plugin-param {
	padding-left: 15px;
}

.plugin-form-float {
	position: fixed;
	left: 15%;
	right: 15%;
	top: 10%;
	max-height: 80%;
	overflow: auto;
	background: white;
	color: black;
	padding: 10px;
	border: solid 2px black;
}

.icon_edit_section {
	float: right;
	margin-top: 1em;
}

h3.box-title span.moduletitle {
  float: left;
}
h3.box-title span.moduleflip {
  float: right;
}

#shadowbox_content {
	background: white;
	color: black;
}

/* To enable removing deprecated tag from img.icon and prevent border on a.icon. */
a.icon,
img.icon {
	border: 0 !important;
	background: transparent
}

.post-approved-n { border-left: 3px dotted blue; }
.post-approved-r { border-left: 3px double red; }
.post-approved-r .content * { background-image: url(../../img/icons2/dots.gif); }

.post-approved-n .content, .post-approved-r .content,
.post-approved-n .title, .post-approved-r .title,
.post-approved-n .postfooter, .post-approved-r .postfooter,
tr.post-approved-n td span, tr.post-approved-r td span {
	opacity: 0.5;
}
tr.post-approved-n td span, tr.post-approved-r td span { opacity: 0.6; }

/* multiselect section for categories for example */

div.multiselect {
	vertical-align: middle;
	padding: 0;
	border:1px solid #80B1E2;
	height: 1.5em;
	overflow: visible;
}
div.multiselect table{
	width: 100%;
}
div.multiselect div.option {
	white-space:nowrap;
	width: 33.33%;
	display: inline-block;
	overflow : hidden;
	margin : -1px;
}

div.multiselect div.selection span {
	display: inline;
}
div.multiselect li.odd, div.multiselect div.odd {
	color: black;
	background-color : #F4F6F7;
}
div.multiselect li.odd:hover, div.multiselect div.odd:hover {
	background: #FFF7E6;
}
div.multiselect li.even, div.multiselect div.even {
	color: black;
	background-color: #E7E9EA;
}
div.multiselect div.even:hover, div.multiselect div.even:hover {
	background-color: #F0F2F3;
}

div.multiselect div.odd, div.multiselect div.even {
	border:1px solid #80B1E2;
}
div.multiselect ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	text-align: left;
	white-space: nowrap;
	margin:0;
	padding:0;
}
div.multiselect img {
	vertical-align: middle;
}

div.multiselect div.selection {
	display: none;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	height: auto;
	max-height: 7em;
	z-index: 1000;
	width: 100%;
	left: -1px;
	border:1px solid #80B1E2;
	background-color: #ffffff;
	float: left;
	margin:0;
	padding:0;
}

div.multiselect:hover, div.multiselect div.selection:hover {
	border:1px solid #80B1E2;
}

/* display PHP/Smarty errors on top */

#show-errors-button {
	z-index: 1024;
}

#errors {
	z-index: 1023;
}

/* New Help section */
div#tikihelp {
	position:fixed;
	_position:absolute;
	right: 0px;
	top: 15%;
	height: 80%;
	max-width: 50%;
	padding:0;
	margin:0;
	border: none;
	background-color: transparent;
	z-index: 2;
}
div.help_icon {
	border: 0;
	margin: 0;
	padding: 0;
}
div.help_icon img{
	vertical-align: middle;
	border: 0;
	margin: 0;
	padding: 0;
}
div.help_section_select {
	font-weight : bold;
	font-size: 120%;
	background-color : #E7E9EA;
	color: black;
	width: 100%;
	margin: 2px;
}
div.help_sections {
	padding:  2px;
	background-color: #AAC9E9;
	height : 100%;
	overflow: auto;
}
div.help_section {
	width : 340px;
	margin: 5px;
	padding: 5px;
	background-color: white;
	color: black;
}

.findtable ul {
	list-style: none;
}

.findtable ul li {
	float: left;
}
ul.categories{
	margin:0;
	padding:0;
}
ul.categories li{
	list-style:none;
	margin:0;
	padding:0;
}

.alphafilter {
	display: block;
	margin: 10px 0;
	text-align:center;
}

.alphafilter a {
	font-size: 120%;
}

#filtercal {
	z-index: 200 !important;
}
#exportcal {
	z-index: 200 !important;
	background: #FFF;
	position: absolute;
	border: 1px solid #000;
	right: 240px;
}
#exportcal .caltitle,
#exportcal .caltoggle,
#exportcal .calcheckbox {
	padding: 0 10px;
}
#exportcal .calinput {
	padding: 10px;
}

#prev {
	margin-left: 30px;
	float: left;
	position: relative;
	height: 20px;
	width: 20px;
}
#next {
	margin-left: 30px;
	float: left;
	position: relative;
	height: 20px;
	width: 20px;
}
.calbuttonBox {
	float: left;
	position: relative;
	height: 20px;
	width: 86px;
}
.calbuttonon,
.calbuttonoff {
	position: absolute;
	top: 0px;
	left: 3px;
	padding-top: 3px;
	text-align: center;
	font-size: 12px;
/*	font-family: Arial, sans-serif;*/
	height: 20px;
	width: 80px;
	border-style: solid;
	border-color: #999;
	border-width: 0px;
}
/*
.calbuttonoff a,
.calbuttonoff a:visited {
	color: #000;
}
*/
.calbuttonon a {
	text-decoration: underline;
}
.calbuttonLeft {
	float: left;
	width: 3px;
	height: 20px;
}
.calbuttonRight {
	position: absolute;
	top: 0px;
	right: 3px;
	float: right;
	width: 3px;
	height: 20px;
}
#caltable {
	border-collapse: collapse;
	border-bottom: 1px solid #cfd0d0;
}
#caltable .days {
	height: 20px;
	text-align: center;
/*	color: #483b3b;*/
}
#configlinks {
	width: 100%;
/*	background-color: #fff;*/
	padding: 5px;
}
.calnavigation {
	border-width: 0px;
	text-align: center;
	font-weight: bold;
	padding: 4px;
/*	color: #e8ffff;*/
}
.button2 .linkbut,
.button2 .linkbut:visited {
/*	color: #548ca5;*/
	padding: 3px 5px;
/*	background-color: #dfeaf0;*/
	border-width: 0px;
}
#disp_trig {
	background-color: #88b6c3;
	color: #e8ffff;
}
.caldark {
	background: #e0e0e0;
	border: 1px dotted #d6dbde;
}
.caldark,
.calfocus,
.calfocuson {
	height: 20px;
}
.calodd .calfocus,
.calodd .calfocuson,
.caleven .calfocus,
.caleven .calfocuson {
	background: none;
	border-width: 0px;
	padding-top: 2px;
	padding-left: 2px;
}
/*.calodd .calfocus a,
.calodd .calfocuson a,
.caleven .calfocus a,
.caleven .calfocuson a {
	color: #483b3b;
}*/
.calodd,
.caleven {
	background: none;
/*	border-color: #d6dbde;*/
}
.caldark .calfocus { background: none; border-width: 0px; }
.calcontent {
	padding-right: 0px;
	padding-left: 0px;
}
.calfocuson + .calcontent {
	background: none;
}

.Cal,
.Cal0,
.Cal1,
.Cal2 {
	font-weight: normal;
	border-width: 1px;
	border-style: solid;
}
.Cal0 a,
.Cal1 a,
.Cal2 a {
	font-weight: normal;
	text-decoration: none;
}
.calfocus a,
.calfocus a:visited {
	text-decoration: none;
	font-weight: normal;
/*	color: #000000;*/
}

.Cal {
	border-color: transparent;
}

/*.calfocuson {
	background-color: #ccf;
}*/

.calHeadingLeft {
	height: 36px;
	text-align: center;
	vertical-align: middle;
/*	color: #483b3b;
	border-bottom: 1px #cfd0d0 solid;*/
}
.calHeading,
.calHeadingOn {
	height: 36px;
	text-align: center;
	vertical-align: middle;
/*	color: #483b3b;
	border-bottom: 1px #cfd0d0 solid;*/
}
.calHeading a,
.calHeading a:visited {
/*	color: #483b3b;*/
	text-decoration: none;
}
.calHeadingOn a {
	color: #06f;
	text-decoration: none;
}
.calHeading a:hover,
.calHeadingOn a:hover {
	text-decoration: underline;
}
.calHours {
	vertical-align: middle;
	text-align: center;
	border-width: 1px 0px 0px 1px;
	border-color: #cfd0d0 #e0e0e0;
	border-style: solid;
}
.calDay {
	padding: 0px;
	border-width: 0px 1px 1px 1px;
/*	background-color: #fcfefd;
	border-color: #cfd0d0 #a1a19f;*/
	border-style: solid;
}
.calWeek {
	border-width: 1px 1px 0px 1px;
/*	background-color: #fcfefd;*/
	border-color: #cfd0d0 #e0e0e0;
	border-style: solid;
}
.opaque .box-title {
	text-decoration: underline;
}
#calscreen td {
	vertical-align: top;
	*height: 21px; /* fix for IE7 */
	_height: ; /* fix for IE6 */
}
#calscreen td a {
	text-decoration: none;
}
div.tabrow {
	position: relative;
	left: 0;
	font-size: 1em;
	height: 24px !important;
	width: 720px;
/*	padding-top:11px;*/
}
.tabrowLeft {
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	width: 23px;
	height: 24px !important;
}
.tabrowRight {
	position:absolute;
	top: 0;
	right: 0;
	float: left;
	width: 30px;
	height: 24px !important;
}

img {border: 0}

.popup-group-watch {
	overflow: auto;
	width: 100px;
	max-width: 200px;
	border: solid thin black;
	background: white;
	color: black;
	display: none;
}

span.categpath {
	display: block;
}

p.editdate {
	padding-top: 10px;
}

.footnotearea {
	margin-top: 2em;
	font-size: 0.9em;
}

/* mod-switch_lang now does mode=menu|flags|words */
/* flags */

.box-switch_lang .box-data img {
  padding: .2em;
  vertical-align: middle;
}

.box-switch_lang .box-data img.highlight {
  padding: .1em;
  border: .1em solid #f00 !important;	/* too many !importants about! */
}

.box-switch_lang .box-data span.highlight {
  border: .1em solid #f00 !important;
}

.box-switch_lang .box-data img.unavailable,
.box-switch_lang .box-data span.unavailable  {
  opacity: .3;
}

/* words */

.box-switch_lang li {
	list-style: none;
}

.box-switch_lang .box-data a.highlight {
  font-weight: bold;
}

.box-switch_lang .box-data a.unavailable  {
  opacity: .6;
}

.box-switch_lang ul {
	padding: 0 1em;
}

/* for wikiplugin_fancylist */

.wikitext .fancylist {
	margin: .5em 0;
	padding: 0;
}

.wikitext .fancylist li {
	list-style-position: inside;
}

.wikitext .fancylist li p {
	display: inline;
	font-size: 1em;
}

[class].wikitext .fancylist li p {}

/***************************************
   Cluetip - JQuery tooltips
   =cluetipClass: 'default' 
-------------------------------------- */

.cluetip-default {
  background-color: #BED8F1;
}
.cluetip-default #cluetip-outer {
  background-color: #BED8F1;
}
.cluetip-default h3#cluetip-title {
  background-color: #1B3A50;
  color: #fff;
}
.cluetip-default #cluetip-title a {
  color: #BED8F1;
  font-size: 0.95em;
}  
.cluetip-default #cluetip-inner {
  padding: .9em;
}
.cluetip-default div#cluetip-close { 
  text-align: right;
  margin: -10px 0 0 0;
  color: #900;
}

/* for admin section */

span.disabled {
	opacity: .5;
	font-style: italic;
}

#style_thumb_div {
	text-align: center;
}

/***** TikiSheet Default Style *****/

table.default thead td,
table.default tfoot td {
	font-weight: bold;
	text-align:	center;
	background: #ABCDEF;
	color: #cce5ff}

table.default td {
	border: solid 1px #A9A9A9;
	background: white}

/*** blogs modules ***/

/* <small> on these modules contains the blog date
   and is more readable on separate line */

.box-last_blog_posts small, 
.box-blog_last_comments small {
	display: block;
	font-size: .75em;
	color: #aaa;
}


