/* $Id$ 
	IE6 stylesheet for Underground theme, TikiWiki CMS/Groupware
*/

.wikitopline select {
	font-size: .9em;
}

input[type=reset],
input[type=submit] {
	margin: 0; 
	font: bolder 11px Arial, Sans-serif; 
	border: 1px solid #CCC; 
	background: #FFF;
	color: #CC0000;
}
	
.findtable input {
	font-size: 1em;
}

div#header-bottom {
	position: static;
	height: 51px;
}

#sitetitles {
	margin-top: -38px;
}

#tiki-center {
	width: auto !important;
	margin: 0 80px 0 20px;
	font-size: 1em;
}

.moduleflip {
	position: static;
	float: right;
}

.moduleflip,
.box:hover .moduleflip {
	display: block;
}

img.flipmodimage,
.box .flipmodimage {
	border: none;
}

#col3 .box img.flipmodimage {
	right: 22px;
}
	
#page-bar {
	width: 100%;
}

body table.galtable {
	width: 97%;
}

.addevent,
.calodd,
.caleven {
	padding: 0;
}