/*
 * $Header: /cvsroot/tikiwiki/_mods/themes/matrix/styles/matrix/matrix-other.l.css,v 1.1 2004-10-29 19:13:25 damosoft Exp $
 *
 * Backgrounds for light version of 'Matrix' theme
 *
 */

/* Get styles w/o backgrounds */
@import "matrix-other.css";

/*
 * Define backgrounds (the only difference between two themes)
 */
div.messureadhead {
    background: #202020;
}

div.messureadhead td[style = "font-weight:bold;"] {
    background: #507050;
}

div.shoutboxmsg,
div.messureadhead td[style = "font-weight:bold;"] + td {
    background: #404040;
}

div.messureadbody {
    background: #70B080;
}
