/*
 * $Header: /cvsroot/tikiwiki/_mods/themes/matrix/styles/matrix/matrix-wiki.f.css,v 1.1 2004-10-29 19:13:25 damosoft Exp $
 *
 * Backgrounds for full featured 'Matrix' theme
 *
 */

/* Get styles w/o backgrounds */
@import "matrix-wiki.css";

/*
 * Define backgrounds (the only difference between two themes)
 */
div.wikitext,
div.titlebar,
td.wikicell,
div.wiki-edithelp,
div.tocnav,
td.comform,
div.commentsedithelp,
div.commentstoolbar,
div.codelisting,
td.userstoryid,
td.userstorystatus,
td.userstorytitle {
    background: url(img/ltgreen.png) repeat;
}

/* Separate, because IE doesn't like Child selectors */
div.commentscomment > div.commentheader {
    background: url(img/ltgreen.png) repeat;
}

div.commenttext {
    background: url(img/dark.png) repeat;
}

td.userstoryidwarn {
    background: url(img/red.png) repeat;
}
