/*
 * $Header: /cvsroot/tikiwiki/_mods/themes/matrix/styles/matrix/matrix-box.css,v 1.1 2004-10-29 19:13:25 damosoft Exp $
 *
 */

/*
 * Boxes
 *
 * ... are used to present a box with a title bar and content,
 * they are used for modules and they are also used in the
 * rankings, admin screen etc.
 * The box class is used for modules while the cbox class is
 * used for other boxes
 *
 */

/* A simple box is just a div with a border around and some margin
 * used for example in the admin screen */
div.simplebox {
	color: #001000;
	background-color: transparent;
	margin: 1px 5px 1px 5px;
	padding: 5px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px ridge #00A000;
	font-family: "GOST type B", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
/* Change color to light if simplebox placed on tiki-center
 * which is darkest than usual ltgreen background...
 */
div#tiki-center > div.simplebox {
	margin: 10px 0px 40px 0px;
}

/* Boxes used for modules (modules are those boxes in the left/right columns) */
div.box {
	margin: 4px 4px 6px 4px;
	border: 1px outset #00A000;
	padding-bottom: 10px;
	width: 170px;
}

/* Boxes are divided in title and data, this is the title */
div.box-title {
	margin-top: 4px;
	margin-bottom: 6px;
	font-family: "Matrix_vs_miltown", Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #00E000;
	background-color: transparent;
}

div.box-title table {
    width: 100%;
}
/* And this is the data */
div.box-data {
	margin: 0px;
	padding: 4px;
	font-family: "GOST type B", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00B000;
	background-color: transparent;
}

/* When modules display a list of items each item is enclosed
 * in a cell with the following style
 */
td.module {
	font-family: "GOST type B", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00B000;
	background-color: transparent;
	text-align: left;
}

/* Links in modules */
.linkmodule, .linkmodule:active {
	color: #00E000;
	background-color: transparent;
	text-decoration: none;
}

.linkmodule:visited {
	color: #00B000;
	background-color: transparent;
	text-decoration: none;
}

.linkmodule:hover, .linkmodule:visited:hover {
	color: #00FF00;
	background-color: transparent;
	text-decoration: underline;
}

/* Now the boxes for the rest of Tiki (non-modules */
div.cbox {
	color: #001000;
	background-color: transparent;
	margin-top: 20px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 20px;
	border: 3px ridge #00B000;
	font-family: "GOST type B", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
div.cbox-data table {
    width: 100%;
}

div.cbox#error-box {
	color: red;
	background-color: transparent;
	margin: 20px 30px 20px 20px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 20px;
	border: 3px outset #A00000;
	font-family: "Urw Gothic l", Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
}

/* Boxes are divided in title and data, this is the title */
div.cbox-title {
	font-family: "Matrix_vs_miltown", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	text-align: left;
	margin-bottom: 20px;
	border-bottom: 1px;
	padding-left: 20px;
}

/* Links in cboxes */
.cboxtlink, .cboxtlink:active {
	color: #003000;
	background-color: transparent;
	text-decoration: none;
}

.cboxtlink:visited {
	color: #002000;
	background-color: transparent;
	text-decoration: none;
}

.cboxtlink:hover, .cboxtlink:visited:hover {
	color: #00FF00;
	background-color: transparent;
	text-decoration: underline;
}

/*
 * Menus
 */

/* Separators are used to sepparate menu areas
 * in the application menu and user created menus
 */
div.separator {
	margin: 3px;
	width: 95%;
}

div.separator:hover {
	margin: 3px;
	width: 95%;
}
/* submenu div */
div.separator + div[id] {
	margin: 2px 0px 5px 0px;
	padding-left: 3ex;
}

/* Links in menus */
.linkmenu, .linkmenu:active, .linkmenu:visited, .linkmenu:hover,
.separator, .separator:active, .separator:visited, .separator:hover {
	color: #00E000;
	background-color: transparent;
	text-decoration: none;
}
