/*
 * $Header: /cvsroot/tikiwiki/_mods/themes/matrix/styles/matrix/matrix-categories.f.css,v 1.1 2004-10-29 19:13:25 damosoft Exp $
 *
 * Backgrounds for full featured 'Matrix' theme
 *
 */

/* Get styles w/o backgrounds */
@import "matrix-categories.css";

/*
 * Define backgrounds (the only difference between two themes)
 */
table.catobjects {
    background: url(img/ltgreen.png) repeat;
}

div.tree#top,
div.treenode:hover,
table.tcategpath {
    background: url(img/grey.png) repeat;
}

/* Separate, because IE doesn't like Child selectors */
div.catlists > div.cbox-title,
div.catlists > div.cbox-data {
    background: url(img/grey.png) repeat;
}
