/* calendar styles */
#caltable
{
}
.Cal0, 
.Cal1, 
.Cal2
{
border-top:1px dashed #cccccc;
color: #425262;
font-size:10px;
padding-right:0px;
}
.Cal0:before
{
content: "? ";
}

.Cal1:before
{
content: "+ ";
background-color: #FFCC77;
}

.Cal2:before
{
content: "X ";
background-color: #eeeeaa;
}
/* misc cal styles */
.caltitle
{
font-weight: bold;
color: #425262;
}
.caltab
{
padding-left: 10px;
padding-right: 10px;
border: 1px solid #666666;
border-bottom: 2px solid #aeaeae;
margin-right: 6px;
color: #000000;
}
a.caltab
{
text-decoration: none;
font-weight: bold;
font-size: 11px;
background-color: #dedede;
color: #000000;
}
a.caltab:hover
{
background-color: #efefaf;
border-bottom: 2px solid #dedede;
}
.caltabon
{
padding-left: 10px;
padding-right: 10px;
background-color: #ffffff;
border: 1px solid #666666;
border-bottom: 2px solid #FFFFFF;
margin-right: 6px; 
color: #000000;
}
a.caltabon
{
text-decoration: none;
font-weight: bold;
font-size: 11px;
color: #000000;
}
a.caltabon:hover
{
background-color: transparent;
}
div#tab, div#tabcal, div#tabnav
{
margin-top: 10px;
margin-left: 29px;
}
div#tab
{
margin-bottom: 1px;
}
div.tabcal, div.tabnav
{
padding: 10px;
background-color: #ffffff;
border: 1px solid #666666;
border-bottom: 0;
font-size: 11px;
}
div.tabrow {
margin-left: 29px;
background-color: #efefef;
border: 1px solid #787878;
border-bottom: 0;
font-size: 11px;
}
td.middle {
	vertical-align: middle; 
}
.daterow {
	margin-left: 10px;
}
.mininotes {
	font-size: 80%;
	color:#666666;
}
/* checkboxes background is required for rollover display */
.calcheckbox
{
background-color: #ffffff;
}
.caltoggle
{
font-size: 9px;
margin-bottom: 7px;
}
.opaque
{
background-color: #ffffff;
width: auto;
border: 1px solid #666666;
padding: 1px; 
}
.opaque .box-title,
.opaque, .box-data 
{
width: auto;
}
.calfocus
{
font-size: 9px;
background-color: #e4e1d9;
}
.calfocus a
{
text-decoration: none;
color: #000000;
}
.calfocuson
{
font-size: 9px;
background-color: #f3e498;
}
.calfocuson a
{
text-decoration: none;
color: #000000;
}
.calcontent {
min-height: 60px;
}

.Calwiki
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
margin-top: 0;
}

.Calwiki a
{
color: #443F39;
}

.Calwiki:before
{
content: "w";
font-family: monospace;
background-color: #ffffff;
}

.Calblog
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
}

.Calblog a
{
color: #443039;
}

.Calblog:before
{
content: "b";
font-family: monospace;
background-color: #ffffff;
}

.Calgal
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
}

.Calgal a
{
color: #303F49;
}

.Calgal:before
{
content: "i";
font-family: monospace;
background-color: #ffffff;
}

.Calart
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
}

.Calart a
{
color: #304F30;
}

.Calart:before
{
content: "a";
font-family: monospace;
background-color: #ffffff;
}

.Calforum
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
}

.Calforum a
{
color: #304F30;
}

.Calforum:before
{
content: "o";
font-family: monospace;
background-color: #ffffff;
}

.Caldir
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
}

.Caldir a
{
color: #304F30;
}

.Caldir:before
{
content: "d";
font-family: monospace;
background-color: #ffffff;
}

.Calfgal
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
}

.Calfgal a
{
color: #304F30;
}

.Calfgal:before
{
content: "f";
font-family: monospace;
background-color: #ffffff;
}

.Calfaq
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
}

.Calfaq a
{
color: #304F30;
}

.Calfaq:before
{
content: "q";
font-family: monospace;
background-color: #ffffff;
}

.Calquiz
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
}

.Calquiz a
{
color: #304F30;
}

.Calquiz:before
{
content: "z";
font-family: monospace;
background-color: #ffffff;
}

.Caltrack
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
}

.Caltrack a
{
color: #304F30;
}

.Caltrack:before
{
content: "t";
font-family: monospace;
background-color: #ffffff;
}

.Calsurv
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
}

.Calsurv a
{
color: #304F30;
}

.Calsurv:before
{
content: "s";
font-family: monospace;
background-color: #ffffff;
}

.Calnl
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
}

.Calnl a
{
color: #304F30;
}

.Calnl:before
{
content: "n";
font-family: monospace;
background-color: #ffffff;
}

.Caleph
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
}

.Caleph a
{
color: #304F30;
}

.Caleph:before
{
content: "e";
font-family: monospace;
background-color: #ffffff;
}

.Calchart
{
border-top:1px dashed #cccccc;
font-size:10px;
padding-left:3px;
padding-right:3px;
}

.Calchart a
{
color: #304F30;
}

.Calchart:before
{
content: "c";
font-family: monospace;
background-color: #ffffff;
}

a.viewmodeon
{
margin: 0;
padding: 0;
}
a.viewmodeoff
{
margin: 0;
padding: 0;
}
a.viewmodeon img {
	margin: 0;
padding: 0;
}
a.viewmodeoff img {
	margin: 0;
padding: 0;
}

.viewmodeoff:hover
{
background-color: #FFFF00;
color: #000000;
}
.calweb
{
font-weight: bold;
font-size: 10px;
text-decoration: none;
padding-left: 3px;
padding-right: 3px;
color: #336699;
}
.calweb:hover
{
color: #996633;
}
#calprio
{
margin-left: 7px;
padding-left: 5px;
padding-right: 5px;
color: black;
}

.calprio1 { background-color: #DAE0E0; }
.calprio2 { background-color: #DADCDC; }
.calprio3 { background-color: #DAD0D0; }
.calprio4 { background-color: #DACACA; }
.calprio5 { background-color: #DAC0D0; }
.calprio6 { background-color: #DABABA; }
.calprio7 { background-color: #DAB0B0; }
.calprio8 { background-color: #DAAAAA; }
.calprio9 { background-color: #DA9A9A; }
.calprio1 a, .calprio2 a, .calprio3 a, .calprio4 a, .calprio5 a, 
.calprio6 a, .calprio7 a, .calprio8 a, .calprio9 a { color: #000000; }
/* style of the popup background in case of transparent styles */
#opaque
{
background-color: #ffffff;
}

