/*
 * $Header: /cvsroot/tikiwiki/_mods/themes/matrix/styles/matrix/matrix-dir.css,v 1.1 2004-10-29 19:13:25 damosoft Exp $
 *
 * Directory styles
 *
 */

span.dirsitetrail {
    font-size: 10px;
}

/* Footer with stats for the directory */
td.dirfooter {
    font-size: 9px;
    color: #001000;
	 background-color: transparent;
}

div.dirfooter {
    color: #001000;
	 background-color: transparent;
    border: 2px ridge #00B000;
    font-family: "GOST type B", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
