/*
 * $Header: /cvsroot/tikiwiki/_mods/themes/matrix/styles/matrix/matrix-debug.css,v 1.1 2004-10-29 19:13:25 damosoft Exp $
 *
 * Debug console used styles.
 *
 */

div.debugconsole {
    position: absolute;
    background-color: #002000;
    color: #00A000;
    top: 20px;
    left: 5px;
    min-height: 200px;
    max-height: 500px;
    height: 500px;
    min-width: 700px;
    max-width: 700px;
    width: 700px;
    z-index: 1;
    padding: 5px;
    border: 1px ridge #00A000;
    font-family: "GOST type B", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

div.debugger-tab {
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 99%;
    max-height: 72%;
    height: auto;
    overflow: auto;
    margin-top: 20px;
}

/* Tables that can appear in debugger console */
div.debugconsole table#watchlist,
div.debugconsole table#features,
div.debugconsole table#tikitables,
div.debugconsole table#log,
div.debugconsole table#sqltable,
div.debugconsole table#permissions {
    color: #00A000;
    border-left: none;
    border-right: none;
    background: none;
    border-collapse: collapse;
    border-spacing: 0px;
    border-bottom: 1px solid #00B000;
    border-top: 1px solid #00B000;
}

/*
 * Table elements in debugger console
 */
div.debugconsole td.heading {
    border-bottom: 1px solid #00B000;
    border-left: none;
    border-right: none;
    border-top: none;
    background-image: none;
    background-color: #002000;
    color: #00B000;
    vertical-align: top;
}

div.debugconsole td.even,
div.debugconsole td.odd {
    border-top: 1px solid #005000;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-image: none;
    background-color: #002000;
    color: #00A000;
    vertical-align: top;
}
/* Do not show any borders for first row */
div.debugconsole * td[id = "firstrow"] {
    border: none;
}
/* Internal vertical border in watch list table */
div.debugconsole table#watchlist td + td {
    border-left: 1px solid #005000;
    padding-left: 5px;
}

div.debugconsole table#sqltable td + td {
    border-left: 1px solid #005000;
}

/*
 * Permissions/Features table
 */

/* State of permission/feature in table */
span.on-option {
    color: #00C000;
	 background-color: transparent;
}

span.off-option {
    color: #005000;
	 background-color: transparent;
}

span.on-option:hover {
    color: #00F000;
	 background-color: transparent;
}

span.off-option:hover {
    color: #008000;
	 background-color: transparent;
}

/* Debugger error massage */
span.dbgerror {
    color: red;
	 background-color: transparent;
    display: block;
}

span.dbgerror:hover {
    color: black;
    background-color: #A00000;
}

/* make all text fields full sized */
div.debugconsole * input[type = text] {
    width: 99%;
    font: normal 12px courier, Fixed, monospace;
}
