/*
 * $Header: /cvsroot/tikiwiki/_mods/themes/matrix/styles/matrix/matrix-wiki.l.css,v 1.1 2004-10-29 19:13:25 damosoft Exp $
 *
 * Backgrounds for light version of 'Matrix' theme
 *
 */

/* Get styles w/o backgrounds */
@import "matrix-wiki.css";

/*
 * Define backgrounds (the only difference between two themes)
 */
div.wikitext,
td.comform,
div.commentsedithelp,
div.commentstoolbar,
div.commentscomment > div.commentheader {
    background: #507050;
}

div.titlebar,
td.wikicell,
div.wiki-edithelp,
div.tocnav,
div.codelisting,
td.userstoryid,
td.userstorystatus,
td.userstorytitle {
    background: #70B080;
}

td.userstoryidwarn {
    background: #300000;
}
