/*
 * $Header: /cvsroot/tikiwiki/_mods/themes/matrix/styles/matrix/matrix-table.css,v 1.1 2004-10-29 19:13:25 damosoft Exp $
 *
 */

/* General tables */

/*
 * These styles apply to tables used to display
 * common listings such as the wiki page listing,
 * last changes, listings in admin screens, etc.
 */

/* The table */
table.normal {
    width: 100%;
    border: 1px outset #00A000;
}

table.normalnoborder {
    width: 100%;
}
/* Do not show border if normaltab inside a simplebox */
div.simplebox table.normal {
    width: 100%;
    border: none;
}

/* Cells where nothing is specified */
td {
    vertical-align: top;
}

/* Cells in forms without background color (inside a div for example) */
td.form {
    font-family: "GOST type B", Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    vertical-align: top;
}
/* Cells in forms using a background color */
td.formcolor {
    color: #001000;
	 background-color: transparent;
    font-family: "GOST type B", Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: left;
    vertical-align: top;
    border: 1px outset #00A000;
}

/* Table headings */
td.heading {
    color: #001000;
	 background-color: transparent;	 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    border: 1px outset #00A000;
    height: 25px;
    padding-left: 2px;
    padding-right: 5px;
    vertical-align: middle;
}

td.button {
    text-align: center;
    vertical-align: middle;
}

/* Links in table headings */
.tableheading, .tableheading:active, .tableheading:hover {
    text-decoration: none;
}

.tableheading:visited:hover, .tableheading:visited {
    text-decoration: none;
    color: #00B000;
	 background-color: transparent;
}

/*
 * When a find button is provided for a listing the table
 *form is displayed in a table with the following style
 */
table.findtable {
    width: 100%;
    margin-bottom: 20px;
}

/* Tables odd rows */
td.odd {
    color: #90EE90;
	 background-color: transparent;
    border: 1px outset #00A000;
}

td.even {
    color: #90EE90;
	 background-color: transparent;
    border: 1px outset #00A000;
}

/*
 * Caption in tables.
 * Currently in Attachments and comments only.
 */
caption {
    color: #00E000;
	 background-color: transparent;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
}

table.wikitopline {
    width: 100%;
}

/* Input fields inside forms */
table.normal input[type="text"] {
    width: 100%;
}
