/*
 * $Header: /cvsroot/tikiwiki/_mods/themes/matrix/styles/matrix/matrix-general.css,v 1.1 2004-10-29 19:13:25 damosoft Exp $
 *
 * General HTML redefinitions
 * There is no Tiki related things -- just pure HTML redefinitions
 *
 */

/*
 * Following too notes I found at
 * http://www.w3schools.com/css/tryit.asp?filename=trycss_link
 *
 * Note: a:hover MUST come after a:link and a:visited in the CSS
 *       definition in order to be effective!!
 * Note: a:active MUST come after a:hover in the CSS definition
 *       in order to be effective!!
 */

/*
 * Document defaults
 */
body {
    color: #00B000;
    background-color: #001000;
    background-image: url(img/matrix.jpg);
    background-attachment: fixed;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

td {
    color: #00B000;
    background-color: transparent;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

a, a:visited, a.link, a.link:visited, :link, :link:visited {
    color: #00E000;
	 background-color: transparent;
    text-decoration: none;
}

a:visited:hover, a:hover, a.link:visited:hover, a.link:hover, :link:visited:hover, :link:hover {
    color: #00F000;
	 background-color: transparent;
    text-decoration: underline;
}

a.link:active, a:active, :link:active {
    color: #00E000;
	 background-color: transparent;
    text-decoration: none;
}

hr {
    color: #00A000;
	 background-color: transparent;
    border: 1px outset green;
}

h1 {
    font-family: "Matrix_vs_miltown", "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

h2 {
    font-family: "Matrix_vs_miltown", "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 25px;
}

h3 {
    font-family: "Matrix_vs_miltown", "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 20px;
}

/* Description on wiki pages */
small {
    font-family: "GOST type B", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* Prevent forms from generating unwanted padding or margins */
form {
    margin: 0px;
    padding: 0px;
}

/* General form elements */
input, textarea, select {
    color: #001000;
    background: #D8DFC8;
    font: normal 11px "Urw Gothic l", "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

div#leftcolumn * input,
div#rightcolumn * input {
    color: #00E000;
    background: transparent;
    border: 1px inset #00E000;
}

/* Warning background/color */
span.warn {
    color: red;
    background: #900000;
}

/* Code fragments */
pre, code {
    font: normal 12px courier, Fixed, monospace;
}

pre {
    white-space: pre;
}

/* No borders for images */
img {
    border: none;
}
/* Expand all text editors to max size */
textarea {
    width: 99%;
}

/* Make definition lists looks better */
dt {
    display: compact;
}
dd {
    margin-left: 4em;
}
