/*
 * $Header: /cvsroot/tikiwiki/_mods/themes/matrix/styles/matrix/matrix-tc.css,v 1.1 2004-10-29 19:13:25 damosoft Exp $
 *
 */


/*
 * General TIKI layout
 */

/* This div encloses the whole Tiki application */
div#tiki-main {
    height: 100%;
    width: 100%;
    margin: 0px;
}

/* This is the header */
div#tiki-top {
    text-align: right;
    position: absolute;
    right: 200px;
    margin-top: 0px;
    padding: 0px;
}

/* This is the middle */
div#tiki-mid {
    margin-top: 10px;
}

/* And this is the footer with table inside */
div#tiki-bot {
    margin-top: 10px;
    height: 100px;
    text-align: center;
}

div#tiki-bot > table {
    visibility: hidden;
    width: 100%;
}

div#tiki-bot > table td {
    vertical-align: middle;
    font-family: "GOST type B", Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

div#tiki-bot:hover > table {
    visibility: visible;
    width: 100%;
    font-size: small;
}

/* The three columns (now divs) */
div#leftcolumn {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 180px;
    padding: 4px;
}

div#rightcolumn {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 180px;
    padding: 4px;
}

/* And this is what lies inside the centercolumn
 * Note: side mardins are generated by Smarty!!!
 *       Look into tiki.tpl for details...
 */
div#tiki-center {
    padding-left: 2px;
    padding-right: 2px;
    color: #00E000;
	 background-color: transparent;
    width: auto;
}

div#tiki-center > table {
    width: 100%;
}