/*
 * $Header: /cvsroot/tikiwiki/_mods/themes/matrix/styles/matrix/matrix-table.l.css,v 1.1 2004-10-29 19:13:25 damosoft Exp $
 *
 * Backgrounds for light version of 'Matrix' theme
 *
 */

/* Get styles w/o backgrounds */
@import "matrix-table.css";

/*
 * Define backgrounds (the only difference between two themes)
 */
td.formcolor,
td.even,
td.heading,
td.button {
    background: #507050;
}

td.form:hover {
    background: #70B080;
}

td.odd {
    background: #404040;
}
