/* $Id$
	Business theme stylesheet (business.css) for Tikiwiki CMS/Groupware,
	based on the original by Eatlon.com (http://eatlon.com/work/business/).
	Visit http://themes.tiki.org for more information.

/* Import basic layout files: */
@import url("lite/lite.css");
@import url("layout/layout.css");
@import url("layout/design.css");

/***** XHTML Elements (body tag here, others follow Layout) *****/

body {
	font: 70% 1.4em #000 Verdana Geneva Arial Helvetica sans-serif;
	color: #848484;
}

/***** Layout (overrides layout.css;
also styling of page layout divs) *****/

#middle {
	padding: 40px;
}

#c1c2 {
	text-align: left;
	background: transparent;
}

#c1c2 #wrapper #col1 {
	background: #fbfbfb url(business/image1.jpg) repeat-x;
}

#c1c2 #wrapper #col1.marginleft {
	margin-left: 280px;
}

#c1c2 #wrapper #col1.marginright {
	margin-right: 280px;
}

#c1c2 #wrapper #col1 .content {
	background: transparent;
}

#c1c2 #wrapper #col1 #tiki-center {
	padding: 20px 30px;
}

#c1c2 #col2 {
	width: 280px;
	overflow: visible;
}

#col3 {
	width: 280px;
	margin-left: -280px;
	margin-bottom: ;
	font-size: 1em;
}

#footer {
	background: url(business/footer.gif) repeat-x;
	padding: 10px 7px 0;
}

/***** XHTML Elements (other than body tag) ******/

a:link,
a:visited {
	color: #0082e0;
	text-decoration: none;
}

a:active,
a:hover {
	color: #0082e0;
	text-decoration: underline;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1.15em;
}

h5 {
	font-size: 1em;
}

pre,
code {
	font-size: 11px;
}

fieldset {
	border: 1px solid #a9a9a9;
}

select {
	border: #dddddd 1px solid;
}

#col2 select,
#col3 select {
	width: 90%;
}

legend {
	color: #848484;
}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.calbuttonBox a {
	color: #fff !important;
	background: url(business/nav.gif) repeat-x;
	border: 1px solid;
	border-color: #3676c4 #1957aa #1957aa #3676c4;
	font: .8em helvetica, arial, sans-serif;
}

.button a:hover,
button:hover,
input[type="reset"] :hover,
input[type="submit"] :hover,
.button input:hover,
.calbuttonBox a:hover {
	background: url(business/nav_h.gif) repeat-x;
	border: 1px solid;
	border-color: #1957aa #3676c4 #3676c4 #1957aa;
	text-decoration: none;
}

.button a:active,
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
.button input:active,
.highlight a:link,
.highlight a:visited {
	border: 1px solid;
	border-color: #1957aa #3676c4 #3676c4 #1957aa;
}

input,
textarea {
	background: url(business/input.gif) repeat-x;
}

hr {
	background: #8cacbb;
	color: #8cacbb;
}

#col2 ul,
#col2 ol,
#col3 ol,
#col3 ul {
	list-style-position: inside;
}

/***** Site Header & Identity *****/
#header {
	color: #91bef5;
}

#header a,
#header a:visited {
	color: #91bef5;
}

#header-top {
	min-height: 72px;
	position: relative;
	background: #003371 url(business/header.png) repeat-x bottom;
}

	
* html #header-top {
	height: 72px;
}

#siteheader {
	margin: 0;
}

#sitetitle,
#sitesubtitle {
	display: inline-block;
}

* html #sitetitle,
* html #sitesubtitle {
	display: inline;
}

#sitetitle {
	margin-left: 23px;
	padding-top: 30px;
	font: bold 24px helvetica,arial,sans-serif;
}

#sitetitle a,
#sitetitle a:visited {
	color: #fff;
	text-decoration: none;
}

#sitesubtitle {
	color: #91bef5;
	font-style: italic;
	font-size: 1em;
	margin-left: 20px;
}

#tiki-top {
	background: #003371 url(business/header.png) repeat-x 0 0;
	position: relative;
}

#sitesearchbar {
	height: 59px;
	float: right;
	padding-right: 4px;
	text-align: right;
	display: block;
	margin: 0;
	margin-top: -10px;
	margin-right: 0 !important;
	background: url(business/magnify.png) no-repeat 0 -1px;
	padding-left: 29px;
	color: #fff;
	position: relative;
	z-index: 2;
}

#tiki-top #sitesearchbar form.findtable {
	margin-top: 16px;
	margin-left: -2px;
}

#tiki-top #sitesearchbar form input {
	border: none !important;
}

#sitesearchbar input#fuser {
	width: 150px;
	color: #696969;
	border: 0;
	padding: 8px 5px 7px 0;
	font: 12px helvetica;
	background: url(business/input.gif) repeat-x;
}

#siteloginbar {
	right: 10px;
}

#siteloginbar_popup .tabmark {
	background: none;
	border: none;
}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

/* default and topbar dropdown typography (colors) and padding */
.cssmenu_horiz a,
.cssmenu_vert a,
#header .cssmenu_horiz li ul li a,
#header .cssmenu_horiz li:hover ul li a {
	color: #0082e0;
	background: #fff;
	font-weight: normal;
	text-decoration: none;
	padding: .5em 1em;
}

.cssmenu_horiz a:hover,
.cssmenu_vert a:hover,
#header .cssmenu_horiz li ul li a:hover {
	text-decoration: underline;
	color: #0082e0;
}

/* default backgrounds */
/*.cssmenu_horiz li,*/
.cssmenu_vert li,
#header .cssmenu_horiz li:hover ul li,
#header .cssmenu_horiz li:hover ul li a {
	background: #fff;
}

.cssmenu_horiz ul li a {
	border-right: 0;
}

#tiki-top > .cssmenu_horiz {
	margin-left: 48px;
}

#header .cssmenu_horiz li a {
	text-decoration: none;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	background: url(business/nav.gif) repeat-x;
	padding: 15px 12px;
	border-left: 1px solid #3676c4;
	border-right: 1px solid #1957aa;
	text-transform: uppercase;
}

#header .cssmenu_horiz li:hover a {
	color: #fff;
	background: url(business/nav_h.gif) repeat-x;
	text-decoration: none;
}

#header .cssmenu_horiz li.menuSection a {
	padding-right: 20px !important;
}

#header .cssmenu_horiz li ul li a {
	border-left: 0;
	border-right: 0;
}

/* top compensation for tiki-top padding */
#header .cssmenu_horiz li ul,
#header .cssmenu_horiz li.sfHover ul {
	margin-top: 12px;
}

#header .cssmenu_horiz li ul ul,
#header .cssmenu_horiz li.sfHover ul ul,
.cssmenu_vert li ul ul {
	margin-top: -1px;
}

/* left column width */
#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 170px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 170px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

/*dropdown background and border */
.cssmenu_vert li ul li,
.cssmenu_horiz li ul li {
	border: 1px solid #3676c4;
	border-top: 0;
	margin-bottom: -1px;
}

.cssmenu_vert li ul,
.cssmenu_horiz li ul {
	border: 0;
}

.cssmenu_vert li ul li:first-child,
.cssmenu_horiz li ul li:first-child {
	border-top: 1px solid #3676c4;
}

/* theme-specific arrows and arrow top padding */
#header .cssmenu_horiz .sf-sub-indicator {
	top: 1.8em;
}

#header .cssmenu_horiz li ul li .sf-sub-indicator {
	top: .5em;
	background: url(business/arrows-467aa7.png) no-repeat;
}

.cssmenu_vert li a .sf-sub-indicator {
	top: .7em;
	background: url(business/arrows-467aa7.png) no-repeat;
}

/** PHP Layers Menus **/

.horbar table {
	margin-left: 48px;
}

.horbaritem a,
.horbaritem a:link,
.horbaritem a:visited {
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
	color: #fff !important;
	border-left: 1px solid #3676c4;
	border-right: 1px solid #1957aa;
	margin: 0;
	padding: 13px 12px;
}

* html .horbaritem a,
* html .horbaritem a:link,
* html .horbaritem a:visited {
	padding-top: 7px;
	padding-bottom: 7px;
}

.horbaritem a:hover {
	color: #fff;
	background: url(business/nav_h.gif);
	text-decoration: none;
}

.mdksubmenu {
	background: #fff;
}

.mdkverbar .mdksubframe {
	background: #fff;
}

.mdkitem a,
.mdkitem a:visited {
	color: #fff;
	background: url(business/nav.gif) repeat-x;
	border-bottom: none;
	font-weight: bold;
	text-decoration: none;
	font-size: 11px;
	padding: 4px 6px;
}

.mdkitem a:hover {
	background: url(business/nav_h.gif) repeat-x 0 0;
}

.phplmnormal,
a.phplmnormal:hover,
a.phplm:link,
a.phplm:visited,
a.phplm:hover,
a.phplm:active {
	font: 100% Verdana, Tahoma, Arial, sans-serif;
	color: #0082e0;
	text-decoration: underline;
	font-weight: normal;
}

a.phplm:visited {
	color: #0082e0;
}

a.phplm:hover,
a.phplm:active {
	color: #0082e0;
}

a.phplmselected:link,
a.phplmselected:visited,
a.phplmselected:hover,
a.phplmselected:active {
	font: 100% Verdana, Tahoma, Arial, sans-serif;
	color: #0082e0;
	text-decoration: underline;
	font-weight: normal;
}

a.phplmselected:hover {
	color: #000;
}

/** Links in other menus **/
.separator,
.option {
	margin-bottom: ;
}

.menusection .option {
	padding-left: ;
}

.option {
	padding-left: ;
}

.option a {
	padding: ;
	background: ;
}

/***** Misc. Center Col. *****/

a.flip {
	color: #adbac3;
}

/****** Misc. Global ****/
a.highlight,
.highlight {
	background: inherit;
	font-style: italic;
	font-weight: bold;
}

/***** Boxes *****/
/** Modules **/
.box {
	margin: 0 25px 25px 25px;
	background: #3475c6 url(business/title_bg.png) no-repeat 100% 0;
}

h3.box-title {
	padding: 9px 0 0 16px;
	margin: 0 5px 0 0;
	background: #3475c6 url(business/title_bg.png) no-repeat 0 0;
	border-bottom: none;
	font-size: 0.9em;
	font-weight: bold;
	color: #fff;
	min-height: 20px;
	text-transform: uppercase;
}

h3.box-title a,
h3.box-title a:visited {
	color: #fff;
}

.box-data {
	border: 1px solid #dddddd;
	background: #fff;
	border-top: none;
	padding: 15px 15px 10px;
}

.wikitext .halffloat > .box {
	background: none;
}

.halffloat .box,
.wikitext .halffloat .box {
	width: 47%
}

.thirdfloat .box,
.wikitext .thirdfloat .box {
	width: 31%;
}

.quarterfloat .box,
.wikitext .quarterfloat .box {
	width: 23%;
}

/** Other boxes **/
.cbox {
	border: 1px solid #ddd;
	background: inherit;
	color: inherit;
}

.cbox-title {
	color: #000;
	font-weight: bold;
	background: #dddddd;
	border: 1px solid #ddd;
}

.rbox-title,
.rbox-data {
	border-color: #2566bb;
}

.rbox-title {
	background: #003371 url(business/header.png) repeat-x;
	color: #fff;
}

.rbox-data {
	color: #848484;
	background: #fff;
}

.simplebox {
	color: #848484;
	background: #fff;
	border: 1px solid #ddd;
	padding: .8em;
}

/***** Tables, Tabs *****/
/** Tables **/

.normal,
.admin {
	border: 1px solid 1px solid #3273c4;
	border-collapse: collapse;
}

.normal td,
.admin td {
	border: ;
	padding: 0.2em;
}

.normal a.link,
.normal a {
	color: #0082e0;
}

th,
td.heading,
tr.diffheader {
	background: #3273c4;
	color: #fff;
}

.normal th a,
.normal th a:visited,
th a,
th a:visited,
td.heading a,
td.heading a:visited,
th a.sortheader,
th a.sortheader:visited {
	color: #fff;
}

.admin a.link,
.admin a {
	color: #0082e0;
}

tr.odd td,
td.odd {
	background: #f0f0f0;
	color: #000;
	border-right: 1px solid #3273c4;
}

tr.even td,
td.even {
	background: #dcdcdc;
	color: #000;
	border-right: 1px solid #3273c4;
}

tr.even td a, tr.even td a:visited
td.even a, td.even a:visited,
tr.odd td a, tr.odd td a:visited
td.odd a, td.odd a:visited {
	color: #3676c4;
}

/** Tabs **/

.tabs {
	margin: 0 2px;
}

/* reset layout.css */
.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {
	top: 0 !important;
}

.tabmark {
	background: #dddddd;
	border: .1em solid #666666;
	margin-right: .5em;
	padding: .2em .4em 0;
}

.tabmark a {
	color: #666666;
	font-weight: bold;
}

.tabmark a:hover {
	color: #333333;
	text-decoration: none;
}

.tabmark:hover {
	background: #fff;
}

.tabactive {
	border: solid 1px #cccccc !important;
	border-bottom: 1px solid #fff !important;
	background: #fff;
}

.tabinactive {
	border: solid .1em #abcdef !important;
	border-bottom: 1px solid #dddddd !important;
}

.statuson {
	background: #3778c9;
}

.tabcontent {
	border: 1px solid #abcdef;
	background: #fff;
}

fieldset.admin label,
.cbox fieldset.admin a,
.admin label {
	color: #848484;
}

/***** Wiki *****/
h1.pagetitle a,
h1.pagetitle a:visited,
h1.pagetitle a:hover {
	color: #000;
}

.code,
.codelisting {
	background: #f5f5f5;
	color: #666666;
	border: 1px solid 1px dashed #adacaf;
}

.codecaption {
	border: 1px solid 1px solid #adacaf;
	color: #666666;
	background: #f5f5f5;
}

#textarea-toolbar {
	background: ;
	border: 1px solid;
}

/***** Articles ****/
body.tiki_cms h1 a.pagetitle,
body.tiki_cms h1 a.pagetitle:visited,
body.tiki_cms h1 a.pagetitle:hover {
	border-bottom: 0;
}

.titleb {
	font-style: italic;
}

.articletrailer span {
	margin-left: 5px;
	padding-left: 20px;
}

.articletrailer .share {
	margin-left: 0;
	padding-left: 0;
}

/***** Blogs *****/
.blogtools {
	margin: 10px 0 15px;
}

body.tiki_blogs .post {
	border: 2px solid #fff;
	background: #f1f1f1;
	margin-top: 20px;
}

body.tiki_blogs .postbody {
	padding: 0 1em 1em;
}
/*
body.tiki_blogs .author_actions {
	width: 40%;
	float: right;
	border: 2px solid #fff;
	background: #fbfbfb;
	margin-right: -1em;
	margin-top: -6px;
}*/

/***** Forums *****/

.post {
	border: 2px solid #fff;
	background: #f1f1f1;
	margin-bottom: 20px;
}

.post .author {
	border: 2px solid #fff;
	background: #fbfbfb;
}

.post .author_post_info:first-child {
}

.post .postbody-title .title a.link {
	font-weight: bold;
	text-decoration: none;
}

/**** Image Galleries ****/
/***** File Galleries *****/

.opaque {
	color: #848484;
	background: url(business/title_bg.png) #fff no-repeat 100% 0;
	border: #dddddd;
	padding: 3px;
}

.opaque .box-title {
	padding-bottom: 2px;
	border-bottom: url(business/title_bg.png) no-repeat 0 0;
}

/***** Trackers *****/
/***** Categories, Tags *****/
/***** Tags (freetags) *****/
.freetagitemlist {
	background: ;
	border: 1px solid;
	margin-bottom: 30px;
	padding: 0 0 10px;
}

/***** Polls *****/
/***** FAQs *****/
/***** Quizzes *****/
/***** Shoutbox *****/
/***** Directory *****/
.dirsite {
	border: 1px solid;
	margin-bottom: 30px;
	padding: 0 0 10px;
}

/***** Messages *****/
/***** TikiSheets *****/
/***** Calendar *****/
.caldark {
	background: #2f70c3;
	border: 0;
}

.caldark .calfocus {
	background: inherit !important;
}

.calodd {
	background: #eeeeee;
}

.caleven {
	background: #f9f9f9;
}

.calfocuson {
	font-size: 100%; 
	background: #f3e498;
}

.calfocuson a {
	font-size: 90%;
}

.calHeadingOn, .calHeadingOn a {
	background: #f3e498;
}

/***** Admin *****/
a.admbox {
	background: #3778c9 no-repeat center center;
	border: 1px solid #aaa;
}

a.admbox span {
	color: #fff;
}

a.admbox:hover {
	background: #b2b2b2 no-repeat center center;
	border: 1px solid #292929;
	color: #fff;
	text-decoration: none;
}

/* Quote plugin */
.quoteheader {
	background : url('../images/quoteleft.gif') no-repeat;
	padding-left:50px;
	height:35px;
}

.quotebody {
	padding-left:46px;
}

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/
/***** New (unsorted) *****/
/***** End New (unsorted) *****/
/* End of File */
