/* 
 * Variation of utopian - only minimal changes here
 *
 * $Id$
 */

/***** XHTML Elements ******/

h1, h2, h3, h4, h5, h6 {
	color: #09c;
}

hr {
	background-color: #09c;
}


/***** Basic Page Layout 
	Including Site Header *****/

/** Look & Feel (Site Identity) **/

.sitetitles { color: #fff; }

.sitetitle a {
	color: #fff;
}

#header {
	background: #06a5d6; /* Old browsers */
	background: -moz-linear-gradient(top,  #06a5d6 0%, #53cbf1 40%, #87e0fd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#06a5d6), color-stop(40%,#53cbf1), color-stop(100%,#87e0fd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #06a5d6 0%,#53cbf1 40%,#87e0fd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #06a5d6 0%,#53cbf1 40%,#87e0fd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #06a5d6 0%,#53cbf1 40%,#87e0fd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #06a5d6 0%,#53cbf1 40%,#87e0fd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06a5d6', endColorstr='#87e0fd',GradientType=0 ); /* IE6-9 */
}

div#sitead {}

.siteloginbar {
	background-image:url(attainable/logged-out-cloud.png);
	background-position: right;
	background-repeat: no-repeat;
	width: 400px;
	height: 70px;
	color: #038;
}

.siteloginbar.logged-in {
	background-image:url(attainable/logged-in-cloud.png);
	width: 170px;
	height: 39px;
	color: #038;
}

.siteloginbar a {
	color: #038;
}

#sitesearchbar {
	color: #666;
	position: static;
	width: 176px;
	background-color: #eee;
}

#sitesearchbar input, #sitesearchbar select {
	font-size: .7em;
}
#header-top {
	height: 100px;
}

#tiki-top {
	background: #82DFFE;
}

#tiki-top a {
	color: #fff;
	background: #82DFFE;
}

/* globals */

#tiki-center {
	padding:0 1em 1em 2.3em;
}

/***** Feature-specific styles ****/
/***** Wiki ******/

body.wikitext a {
	color: #f90 !important;
}

body.wikitext a:hover {
	color: #f90 !important;
	/*background-color: #09c;*/
}

#tiki-center a {
	color: #f90 !important;
	font-weight: bold;
}

#tiki-center a:hover {
	color: #f90 !important;
}

#tiki-center h1 {
	color: #000 !important;
	font-size: 3em;
}

#tiki-center h1 a {
	color: #000 !important;
}

#tiki-center .tabmark a {
	color:#666 !important;
}

#tiki-center span.button a,
#tiki-center span.button a:visited,
#tiki-center .normal a,
#tiki-center .cbox a {
	color: #555 !important;
}

#tiki-center .button a:hover {
	color: #000 !important;
}


img.flipmodimage {
	width: 11px;
	height: 11px;
	padding: 4px 2px 0 0;
}


.wikitext {
	border-bottom: 1px #09c solid;
}

.wikitopline {
	float: right;
}

.wikitext li {
	list-style-image: url(attainable/bullet.gif);
}

.wikitext ul li ul li {
	list-style-image: url(attainable/bullet-grey.gif);
}

.wikitext div.articletrailer {
	display: none;
}

a.categpath {
	color: #038;
}

/*Definition lists*/
.wikitext dl {}

.wikitext dt {
	list-style-image: url(attainable/bullet.gif);
	color: #09c;
	font-style: italic;
}

.wikitext dd {}

/* css menus */

.cssmenu_horiz li a {}

.cssmenu_horiz li ul li > a {
	background: #eee;
	color: #fff;
}

.cssmenu_horiz li.selectedAscendant > a,
.cssmenu_horiz li.selected > a {
	background: #b5e5f3;
	color: #6ad !important;
}

.cssmenu_horiz li a:hover {
	background: #6ad;
	color: #fff !important;
}



/***** End of file ******/
