/* $Id$ 
	FiveAlive theme CSS rules for IE6.
*/

#header-top {
	height: 202px;
}

#siteloginbar_popup {
	top: 30px;
	left: 500px;
}

#sitesubtitle {
	height: 30px;
	padding-top: 8px;
	position: static;
}