
<IfModule mod_rewrite.c>
	RewriteEngine On

	# -- Always Allow These File Types -- #
	RewriteRule "\.(jpe?g|png|ico|gif|svgz?|ttf|eot|woff2?|otf|js|css)$" "-" [PT,L]

	# -- Allow Access to files used by Developer Dubugging Tools -- #
	RewriteRule "\.(map|less|scss)$" "-" [PT,L]

	# -- Default Exception List -- #
	# These rules may be deleted if the browser does not need to access them.
	#
	# *** Work in progress, add exceptions before release where needed ***
	#
	# New vendor libraries can add exemptions if there is a issue, but the
	#  likley senario is that it will not be needed.

	RewriteRule "^(jcapture-applet/).*/.*\.jar$" "-" [PT,L]
	RewriteRule "^(player/).*/.*\.swf$" "-" [PT,L]

	# -- Deny Everything Not Matched Above -- #
	RewriteRule "/*" "-" [F]

</IfModule>

# -- Prevent Directory Browsing -- #
Options -Indexes
