/* $Id$
	Andreas08 stylesheet template (andreas08.css) for Tiki Wiki CMS Groupware.
*/

/* Import the default properties files: */
@import url("lite/lite.css");
@import url("layout/layout.css");
@import url("layout/design.css");

/***** XHTML Elements (body tag here,
			others follow Layout) *****/
body {
	display: table;
	background: #fff;
	font: 76% Verdana,Tahoma,Arial,sans-serif;
	line-height: 1.4em;
	color: #303030}

 /***** Layout (overrides layout.css;
		also styling of page layout divs)  *****/

.fixed_width #fixedwidth {
	font-size: .9em;
	margin-top: 20px;
	width: 760px;
	color: #303030;
	border: 1px solid #a0a0a0}

#header_fixedwidth {
	background: #467aa7;
	color: #fff}
	
#c1c2 #wrapper #col1.marginleft  {
	margin-left: 180px;
}

#c1c2 #wrapper #col1.marginright {
	margin-right: 180px;
}

#col3 {
	background: #fff;
	width: 180px;
	margin-left: -180px;
}

#c1c2 #col2   {
	width: 180px;
	background: #fff;
}

#c1c2 #col2 > .content,
#col3 > .content {
	margin: 1em;
}

#col1 > .content {
	background: #fff;
	padding: 0 10px 10px 10px;
	border-left: 2px solid #a0a0a0;
	border-right: 2px solid #a0a0a0}
	
#showhide_columns {
	border-left: 2px solid #a0a0a0;
	border-right: 2px solid #a0a0a0
}


.footerbgtrap {
 	text-align: center;
	padding: 5px 0;
	margin: 0 1px;
	font-size: 0.9em;
	color: #f0f0f0;
	background: #467aa7}

#footer a {
	color: #f0f0f0;
	background: inherit;
	font-weight: bold}

#footer a:hover {
	color: #fff;
	background:inherit;
	text-decoration: underline}

/***** XHTML Elements (other than body tag) ******/

a,
a:visited {
	color: #467aa7;
	font-weight: bold;
	text-decoration: none;
	background: inherit}

a:hover {
	color: #2a5a8a;
	text-decoration: underline;
	background: inherit}

h1, h2, h3, h4, h5 {font-weight: normal}
h1 {font-size: 1.5em}
h2 {font-size: 1.4em}
h3 {font-size: 1.3em}
h4 {font-size: 1.2em}
h5 {font-size: 1.1em}

fieldset {
	border: solid 1px #303030;
	padding: 10px}

hr {
	color: #467aa7;
	background: #467aa7}

legend {color: #303030}
* html .wikitopline select {font-size: .9em}
* html .findtable input {font-size: 1em}
form.admin input[name="features"] {margin-bottom: 3px !important}

.button a,
.button a:visited,
button,
.button input,
.submitbutton,
.calbuttonBox a {
	border: solid 1px #fff;
	background: #467AA7;
	color: #fff;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: normal;
	font-size: .9em;
	padding: 1px 4px}

input[type="reset"],
input[type="submit"],
input[name="search"] {
	border: solid 1px #fff;
	background: #467AA7;
	color: #fff;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: normal;
	font-size: .9em;
	padding: 1px 4px}

.button:hover {background: 0}

.button:hover,
.button a:hover,
button:hover,
.button input:hover,
.submitbutton:hover,
.calbuttonBox a:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[name="search"]:hover {
	background: #578bb8;
}

select[name="where"] {
	font-size: .9em;
	background: #578BB8;
	color: #fff}


.highlight { }

textarea {font-size: 1em}
td textarea {font-size: 1.3em}


/***** Site Header & Identity *****/
#top_modules {min-height: 80px}

input[id="fuser"] {
	background: #578bb8;
	color: #fff;
	font-size: .9em}

.siteloginbar {text-transform: uppercase}

input[id="sl-login-user"],
input[id="sl-login-pass"] {
	background: #467aa7;
	color: #fff;
	text-transform: none;
	font-size: 1.3em}

.siteloginbar input.wikiaction {
	border: 1px solid white;
	background: #467aa7;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 90%}

#top_modules .siteloginbar_popup {
	position: absolute;
	bottom: 1px;
	right: 10px;
}


#sitetitle {
	padding-left: 20px;
	line-height: 1em;
	font-size: 2.4em;
	background: inherit;
	color: #fff;
	letter-spacing: -2px;
	font-weight: normal}

#sitesubtitle {
	margin: 10px 0 0 40px;
	font-size: 1.4em;
	background: inherit;
	color: #f0f2f4;
	letter-spacing: -1px;
	font-weight: normal}

#header a,
#header a:link,
#header a:visited {color: white}

#tiki-top {
	width: 100%;
	background: #578bb8;
	color: #fff;
	border-top: 1px solid #fff;
	text-transform: uppercase}

#tiki-top .findtable {
	margin-bottom: 0;
}

#topbar_modules .box-search {
	position: absolute;
	right:  10px;
	top: 0;
	padding-top: 3px;
	padding-left: 10px;
	font-size: 90%;
	border-left: 1px solid #fff}

.sitesearchbar br {display: none}
input#fuser {line-height: 90%}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

/* typography, colors */
.cssmenu_horiz a {
	color: #fff;
	border-right: 1px solid #fff;
/*	font-size: .9em;*/
}

.cssmenu_horiz ul li a {
	border-right: 0;
}

.cssmenu_horiz li ul li a,
.cssmenu_vert li a {
	color: #467aa7
}

.cssmenu_vert li ul li a {
	color: #fff;
}

.cssmenu_horiz li ul li,
.cssmenu_vert li ul li {
	background: #578bb8;
}

.cssmenu_horiz li ul li,
.cssmenu_vert li ul li {
	background: #578bb8;
	border: 1px solid #fff;
	border-top: 0;
	margin-bottom: -1px
}

.cssmenu_horiz li ul li:first-child,
.cssmenu_vert li ul li:first-child {
	border-top: 1px solid #fff;
}

/* default link padding */
.cssmenu_horiz a,
.cssmenu_vert a {
	padding: .75em 1em;
}

/* ul ul top compensation for padding */
.cssmenu_horiz li:hover ul,
.cssmenu_horiz li.sfHover ul {
	top: 2.3em;
}

#leftcolumn .cssmenu_vert a {
	padding: .3em 1em;
	font-weight: normal;
}

/* left column width */
td#leftcolumn .cssmenu_vert,
td#leftcolumn .cssmenu_vert li {
	width: 170px;
}

/* offset from left column (matches above) */
td#leftcolumn .cssmenu_vert li:hover ul,
td#leftcolumn .cssmenu_vert li.sfHover ul {
	left: 170px;
}

/* return ul ul ... to default */
td#leftcolumn .cssmenu_vert li:hover ul,
td#leftcolumn .cssmenu_vert li.sfHover ul,
td#leftcolumn .cssmenu_vert li:hover ul li,
td#leftcolumn .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
td#leftcolumn .cssmenu_vert li li:hover ul,
td#leftcolumn .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

/* special arrows and arrow top padding */
.cssmenu_vert li a .sf-sub-indicator {
	background: url(andreas08/arrows-467aa7.png) no-repeat 0 0;
}

.cssmenu_vert li ul li a .sf-sub-indicator {
	background: url(../lib/jquery/superfish/images/arrows-ffffff.png) no-repeat 0 0;
}

.cssmenu_vert li a .sf-sub-indicator {
	top: .3em;
}

#secondary_site_menu .cssmenu_horiz a {
	border-right: none;
}

/** Links in other menus **/

.option a.linkmenu {font-weight: normal}

/***** Misc. Center Col. *****/

a.flip,
a.flip:visited,
.tellafriend a,
.tellafriend a:visited {color: #ADBAC3}

a.flip:hover,
.tellafriend a:hover {color: #505050}

/****** Misc. Global Classes (layout and style) ****/

/***** Boxes *****/
/** Modules **/
.box {
	margin-bottom: 20px}

.wikitext .box {width: auto}

h3.box-title {
	margin: 0 0 16px 0;
	font-size: 1.3em;
	font-weight: normal;
	letter-spacing: -1px;
	color: #505050;
	background: inherit}

* html .box img.flipmodimage,
.box:hover img.flipmodimage {
	height: 13px;
	width: 13px;
	border: 1px solid transparent;
	background: #fff}

.box-data {background: #fff}

/** Other boxes **/
.middle .cbox,
.footer .cbox {
	margin: 0 0 20px 0;
	padding: 10px;
	border: 1px solid #c0c0c0;
	background: #fafbfc;
	color: #505050;
	line-height: 1.5em}

.cbox-title {
	font-weight: bold;
	border-bottom: 1px solid #c0c0c0}

.rbox-title {
	background: #DECDDE;
	border-color: #467aa7;
	border-bottom: none !important;
	font-size: 1em;
	padding: 0.2em 0.8em;
	line-height: 1.4em}

.rbox-data {
	background: #DECDDE;
	border-color: #467aa7;
	margin: 0;
	padding: 6px 2px 2px 2px}

.simplebox {
	margin: 0 0 20px 0;
	padding: 10px;
	border: 1px solid #c0c0c0;
	background: #fafbfc;
	color: #505050;
	line-height: 1.5em}

/***** Tables, Tabs *****/
/** Tables **/
.normal,
.admin {
	border-collapse: separate}

.admin tr td div#page-bar {
	margin-left: 5px;
	margin-bottom: 0;
	background: transparent}

.normal td.heading,
td.bloglistheading {
	font-size: 1em;
	background: #ABCDEF}

th, td.heading {
	background: #ABCDEF;
	text-align: center}

td.form {padding: 0.2em}

tr.odd td,
td.odd {
	background: #F0F0F0;
	color: #000}

tr.even td,
td.even {
	background: #DCDCDC;
	color: #000}

/** Tabs **/
tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}


.tabs {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	padding: .2em .2em 0;
	margin:0 0.2em 1px 0;
	border-bottom: solid 1px #d2e5f5 !important}

.tabs br {
	display: none;
}

.tabs span {
	display: block;
	float: left;
}

.tabmark {
	list-style-image: none;
	float: left;
	font-size: 85%;
	background: #abcdef;
	border: 1px solid #abcdef;
	border-bottom-width: 0 !important;
	margin: 0 .2em -1px 0;}

.tabmark a {
	padding: 0.5em 1em;
	color: #000;
}

#siteloginbar_popup .tabmark {
	background: #578bb8;
}


/*
.tabmark a:active {
	background: #fff;
	color: red}

.tabmark a:hover {
	color: black;
	background: #f0f9ff}
	*/
.tabactive {
	background: #67ade7;
	border: solid 1px #696969;
	border-bottom: solid 3px #d2e5f5}

.tabcontent {
	border: 1px solid #abcdef;
	background: #f0f9ff;
	color: #000;
}

/***** Wiki *****/

h1 a.pagetitle {
	display: block;
	margin: 0 0 16px 0;
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: -1px;
	color: #505050;
	background: inherit}

div#description,
.description {
	font-size: .9em;
	font-style: italic}

#pageid {
	float: left;
	clear: both}

#cachedpage {
	float: right;
	font-size: small}

.wikitext {line-height: 1.5em}

.wikitext h2,
.wikitext h2,
.wikitext h3,
.wikitext h4,
.wikitext h5 {
	margin: 0 0 15px;
	padding: 0}

.wikitext h3 {margin-bottom: 10px}

.titlebar {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin:10px 0 10px 0;
	background: #467AA7;
	color: #fff;
	padding-left: 1em}

.wikitable {
	border: 1px solid #a9a9a9;
	border-collapse: collapse}

td.wikicell {
	padding: 3px;
	border: 1px solid #999;
	border-collapse: collapse}

#wikihelp-tab table td {padding: 2px}
textarea.wikiedit {font-size: 1.3em}

/* Wiki plugins */

/* Code plugin  */
.code {
	font-size: 90%;
	padding: 3px;
	border: 1px dashed #ccc;
	font-family: "Courier New", Courier, monospace}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	margin: 4px;
	border: 1px dashed #ADACAF;
	overflow: auto;
	width: 400px}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #ADACAF;
	border-bottom: 0;
	margin: 0;
	font-weight: bold}

/* Quote plugin */
.quoteheader {margin-left: 20px}

/* fancytable (sortable) plugin */
.fancysort .header:hover {
	/*color: #82AC78;*/
}

/** Wiki tocs **/
.tocnav {
	background: #EBEBEB;
	padding: 3px}

/***** Articles ****/
.articletopline {
	font-size: 90%;
	font-style: italic}

.articletitle {
	padding-top: 16px;
	margin-top: 6px;
	margin-bottom: 15px;
	text-align: left}

.articletitle h2 {
	font-size: 1.5em;
	font-weight: normal}

.titleb {font-size: 1.0em}
.articlesubtitle {font-size: 0.9em}

.articleheading {
	margin-top: 6px;
	line-height: 1.15em}

.articlebody {line-height: 1.5em}

/***** Blogs *****/
.blogtitle {
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
	margin-top: 10px;
	font-weight: bold;
	line-height: 80%}

.bloginfo {
	text-align: center;
	padding: 3px;
	line-height: 150%;
	text-transform: none}

.postinfo div {margin-top: 30%}

.postinfo {
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1.2em}

.postinfo a {
	color: #9CF;
	text-decoration: none;
	border-bottom: 1px dotted #9CF}

.posthead {
	display: block;
	font-weight: bold;
	letter-spacing: .4pt}

.posthead h3 {font-size: 1.2em}

.postbody {
	margin-right: 8px;
	line-height: 1.2em;
	margin-bottom: 1em}

.postfooter {
	clear: both;
	float: right;
	margin-bottom: 2em}


/***** Forums *****/
.post .postbody {
	clear: both;
	border: solid 1px #E7EAED;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	background: #F9FCFF}

.post .postbody-title {
	display: block;
	background: #67ade7;
	border-bottom: 0;
	margin-bottom: 4px;
	padding-top: 2px}

.post .postbody-title .checkbox {float: left}

.post .postbody-title .title {
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	margin-left: 5px;
	margin-top: 3px}

.title a.link {color: #fff}

.post .postbody .content {
	color: #000;
	padding: 0 3px 3px;
	text-align: left;
	width: 100%}

.post .author {
	float: left;
	text-align: left;
	vertical-align: top;
	width: 30%;
	margin-left: 0;
	margin-top: 0}

.post .author_post_info {
	display: block;
	background: #E0EAF4;
	padding: 0 2px 2px 2px}

.post .author_info .icons {display: block}
.post .author_info .icons .actions {margin-right: 10px}

.post .author_post_info_on {font-style: italic}

.post .author_info {
	float: right;
	background: #F0F8FF;
	padding: 0 2px 2px 2px;
	margin-right: 5px;
	border-right: 1px solid #D7E5F3;
	border-bottom: 1px solid #D7E5F3}

.commentStyle_headers .author_info {float: left}

.post .postbody-title .actions {
	float: right;
	font-size: .9em}

.post .postbody .content {
	text-align: left;
	color: #000}

.post .postbody .attachments {
	clear: both;
	border-top: 1px dotted #D9D9D9;
	margin-top: 5px}

.post .postbody .attachments img {vertical-align: text-bottom}

.post .postfooter .actions, .post .postfooter .status {
	display: inline;
	margin-left: 5px;
	vertical-align: top}

.post .postfooter .status {font-size: .9em}

.post .postfooter {
	text-align: right}

.post .inner > .postfooter {clear: both}

.post .contribution {
	background: #F0F8FF;
	border: 1px solid #D7E5F3;
	padding: 0 2px}

.post .avatar {
	margin-bottom: 5px;
	margin-left: 4px;
	padding: 3px;
	border: 1px solid #ACCCDD;
	background: #E0EAF4;
	display: none}

.sub_comment {padding-left: 20px}

.sub_comment_area {
	clear: both;
	background: url("../../img/edge.gif") no-repeat top left}

.forum_actions .actions {
	clear: both;
	border: 1px solid #A9B8C2;
	background: #67ade7;
	padding: 3px;
	vertical-align: middle;
	color: #fff}

.forum_actions .actions .action {margin-right: 10px}

.forum_actions .headers {vertical-align: bottom}

.forum_actions .headers .title {
	float: left;
	background: #C7D0D9;
	border: 1px solid #999;
	border-bottom: 0;
	padding: 1px}

.forum_actions .headers .infos {
	float: right;
	font-size: smaller;
	padding-top: 2px}

.thread_pagination {
	text-align: center;
	margin-bottom: 10px}

.nb_replies {white-space: nowrap}
.post_preview, .top_post {margin-bottom: 15px}

/*.post .postbody .signature {float: left}*/

/* Comments */
#comzone {
	margin: 5px 0;
	padding: 0}

#comzoneopen {
	display: block;
	margin: 5px 0;
	padding: 0}

.commentstitle {
	font-weight: bold;
	font-size: 1.2em}

/* Find */
.subcomment {margin-left: 10px}

/* Help box*/
.commentsedithelp {}

/**** Image Galleries ****/

.galtable {width: 100%}
html>body .galtable {}

td.oddthumb {border-collapse: collapse}
td.eventhumb {border-collapse: collapse}

td.eventhumb img {
	margin-left: 6px;
	margin-right: 6px}



/***** File Galleries *****/

/***** Trackers *****/

/***** Categories, Tags *****/

.tcategpath {
	margin-bottom: 40px;
	border: 1px solid #8cacbb;
	width: 100%;
	border-collapse: collapse}

td.tdcategpath {
	font-weight: bold;
	padding: 0 3px;
	margin: 0;
	border-spacing: 0}

.subcats {
	padding: 20px 0;
	width: 100%;
	border-spacing: 0;
	margin-bottom: 10px;
	border: 1px solid #67ade7;
	border-collapse: collapse}

td.tdsubcat {width: 25%}
.catitems {padding-left: 20px}
.catfeatures {list-style: none}
.catfeatures > li {text-transform: capitalize}
.catblock {background: #f0f0f0}

.cattitle {
	font-weight: bold;
	background: #abcdef}

.catlists {
	height: 100px;
	overflow: auto;
	padding: 3px;
	margin-bottom: 6px}

/***** Tags (freetags) *****/
.freetagObjectOdd {background: #F7F9FA}
.freetagObjectEven {background: #E7E9EA}

/*****  Polls  *****/
/***** FAQs *****/

.faqlistquestions {
	background: #67ade7;
	color: #fff;
	padding: 2px}

.faqlistquestions a.link,
.faqlistquestions a.link:visited {
	color: #fff;
	text-decoration: none}

.faqlistquestions a.link:hover {text-decoration: underline}

.faqqa {
	background: #fff;
	color: black;
	border: 1px solid #8cacbb;
	margin-bottom: 20px}

.faqquestion {
	color: #fff;
	padding: 2px 12px;
	background: #67ade7}

/***** Quizzes *****/

.questionblock {
	border: 1px solid #8cacbb;
	background: white;
	padding: 4px}

.quizdescription,
.quizanswer {
	border: 1px solid #8cacbb;
	background: #fff}

/***** Shoutbox *****/

.shoutboxmsg {
	border: 1px solid #67ade7;
	border-bottom: 0;
	background: #fff}

.shoutboxmodmsg {font-size: 1em}

textarea.tshoutbox {
	background: #fff;
	border: 1px solid #67ade7;
	color: #000;
	font-size: 1.2em}

/***** Directory *****/

/***** Messages *****/
td.prio1,
td.prio2,
td.prio3,
td.prio4,
td.prio5 {
	border: 1px solid #8cacbb}

.messureadflag {background: #ccc}
.messureadhead {background: #DEDEDE}
.messureadbody {background: #DEDEDE}

/***** TikiSheets *****/
.default thead td,
.default tfoot td {
	font-weight: bold;
	text-align: center;
	background: black;
	color: #D8D8D8}

.default td {
	border: solid 1px #a9a9a9;
	background: black}

/***** Calendar *****/

.Cal0,
.Cal1,
.Cal2 {font-size: 90%}

.Calart,
.Calblog,
.Calchart,
.Caldir,
.Caleph,
.Calfaq,
.Calfgal,
.Calforum,
.Calgal,
.Calnl,
.Calquiz,
.Calsurv,
.Caltrack,
.Calwiki {
	font-size: 90%}

.Calart,
.Calart a,
.Calart a:visited {color: #FA8072}

.Calchart,
.Calchart a,
.Calchart a:visited {color: #304F30}

.Caldir,
.Caldir a,
.Caldir a:visited {color: #800080}

.Caleph,
.Caleph a,
.Caleph a:visited {color: #008000}

.Calfaq,
.Calfaq a,
.Calfaq a:visited {color: #822222}

.Calfgal,
.Calfgal a,
.Calfgal a:visited {color: #8B4513}

.Calforum,
.Calforum a,
.Calforum a:visited {color: #808000}

.Calgal,
.Calgal a,
.Calgal a:visited {color: #8B4513}

.Calnl,
.Calnl a,
.Calnl a:visited {color: #708090}

.Calquiz,
.Calquiz a,
.Calquiz a:visited {color: #5F9EA0}

.Calsurv,
.Calsurv a,
.Calsurv a:visited {color: #DAA520}

Caltrack,
Caltrack a,
Caltrack a:visited {color: #00BD02}

.Calweb {font-size: 90%}

.Calwiki,
.Calwiki a,
.Calwiki a:visited {color: #2C4B80}

.calfocus {font-size: 90%}
.calfocuson {font-size: 90%}

.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {color: #393e51}

.opaque {
	border-left: 1px solid #a9a9a9;
  	border-top: 1px solid #a9a9a9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969;
	background: #fff}

.opaque .box-title {border-bottom: 1px solid black}
.searchresults {display:inline}

#caltable .calfocuson,
.box-data td.fc a.today,
.box-data td a.today {
	background: #D4D0C8;
	border: solid 1px #696969}

#caltable .calfocuson a {color: #000}

#caltable .calfocus a,
#caltable .calfocuson a {text-decoration: none}

.calinput {background: #3f3f3f}
.calfocuson + .calcontent {background: #F5F5F5}
.days {color: #467aa7}
#caltable .weeks {color: #D8D8D8}

.addevent {
	padding: 0 5px;
	float: right}

* html .addevent {padding: 0}
.calodd, .caleven {border: 1px solid #999}

.calodd {
	background: #F0F0F0;
	color: #000}

* html .calodd {padding: 0}

.caleven {
	background: #DCDCDC;
	color: #000}

* html .caleven {padding: 0}
.caldark {background: #467aa7}
* html .caldark {padding: 0}
.caldark .calfocus {background: #467aa7}

.daterow {
	background: #578bb8;
	color: #fff}

.daterow:hover {background: #a9a9a9}
.calnavigation a:hover {background: #67ade7}

/***** Admin *****/
a.admbox {
	border: 1px solid #aaa;
	background: #578bb8 center center no-repeat;
	color: #c4d6e5}

a.admbox:hover, a.admbox:focus, a.admbox:active  {
	background-color: #B2B2B2;
	border: 1px solid #292929}

a.admbox.off {
	border: 1px solid #9f9f9f;
	color: #c4d6e5}

a.admbox.off:hover,
a.admbox.off:focus,
a.admbox.off:active {border: 1px solid #9f9f9f}

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/

.tab-wrapper {
	border: 1px solid #eee;
	padding: 0}

.tab-menu  {
	clear: both;
	line-height: 17px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 2px 0;
	margin-bottom: 6px;
	margin-top: 2px;
	width: 100%}

.tab-menu li {
	display: inline;
	margin: 0 2px;
	width: 200px;
	padding-right: 1.5em}

.tab-menu li img {vertical-align: middle}
.tab-menu li a:hover {}
.tab-menu li.tab-selected a {}

.admin div#content1 .tabcontent .cbox {background: transparent}

/***** New (unsorted) *****/

/***** End New (unsorted) *****/

/* End of File */
