body {
background-color : #ffffff;
}

tt, pre {
	font-family:    Lucida Console, Courier New, Courier, monotype;
	font-size:   20px;
}

h1 {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   36px;
	font-weight:   bold;
	margin : 0;
}
h2 {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   24px;
	color:   #3333FF;
	margin : 0;
}

ul {
margin-top: 2px;
margin-bottom: 6px;
}

li:hover {
	color:    #FFFFFF;
	background:   #000000;
}

a, a:visited {
	color : #427852;
	font-weight: bold;
	text-decoration:    none;
}

.maintable {
width : 100%;
}
.title {
color : #427852;
padding : 0px 30px 0 30px;
}
.Main {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   24px;
	color:   #000000;
	list-style-type:   circle;
	padding : 5px 10px;
	border : 2px solid #427852; 
}

.slidedata {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   24px;
	color:   #000000;
	list-style-type:   circle;
}

.links {
	font-family:    Verdana, Arial, Helvetica, sans-serif;
	font-size:   18px;
}

.footer {
	color:   #629872;
	font-size:   18px;
}
.footer td {
padding : 1px 10px;
}
a.buttons, a.buttons:visited {
	color:   #427852;
}
