// $Id$
// This file is for additional LESS rules beyond what are in variables.less.
// Image path example:
// @imagePath: ~"newtheme/images/";
// body {
//	background-image: url('@{imagePath}bg.jpg');
// }
//
// If Glyphicons should be rendered in a color other than the Bootstrap default or the theme default, uncomment and specify the color.
// .glyphicon {color: @gray-lighter;}
@import "../../../vendor/twitter/bootstrap/less/mixins.less";

.navbar-default,
.topbar,
	// .topbar .cssmenu_horiz ul,
.topbar .navbar-default .navbar-nav > li,
.topbar .nav > li,
.panel-heading,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	#gradient > .vertical(@start-color: #e3e3e3; @end-color: #ccc);
}

.panel-heading {
	margin: 3px;
}

.panel-title {
	font-weight: bold;
}

.btn-default {
	#gradient > .vertical(@start-color: #eee; @end-color: #f2f2f2);
}
