/* $Id$
	TheNews theme selectors for IE6.
*/

.wikitopline select {
	font-size: .9em;
}

.findtable input {
	font-size: 1em;
}

#header-top {
	height: 1%;
}

#c1c2 #wrapper .marginleft {
	margin-left: 216px;
}

#tiki-center {
	font-size: 1em;
}

.horbaritem a,
.mdkitem a {
	font-size: 1em;
}
.box-css_menu ul {
	margin-left: 0;
}
#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	margin-left: 0;
	padding-left: 0;
	width: 160px;
}
	
#col2 .cssmenu_vert li ul {
	margin-left: 160px;
}
/* End hide from IE Mac */
.clearfix {
	height: 1%;
}

#tikihelp {
	position: absolute;
}
#col2 .box,
#col3 .box {
	width: 181px;
}
h3.box-title {
	position: static;
}
.moduleflip {
	position: static;
	float: right;
	margin-top: -16px;
}
.moduleflip {
	display: block;
}
.box img.flipmodimage {
	height: 13px;
	width: 13px;
	border: 1px solid transparent;
	background: #fff;
}
#col2 img.flipmodimage {
	right: 8px;
}

#col3 img.flipmodimage {
	right: 20px;
}

.box img.flipmodimage {
	border: none;
}
.box-data {
	padding: 7px 7px 30px 7px;
}
/* IE */
.box-data ol {
	margin-left: 0;
}

.box-data ul {
	margin-left: 1em;
}

td {
	font-size: 11px;
}

.wikitext {
	font-size: 100%;
}

.wikitopline table {
	width: 97%;
}

.post .postbody {
	font-size: 11px;
}

.galtable {
	width: 97%;
}