/* $Id$
	Fixed width for Darkroom theme, TikiWiki CMS/Groupware.
*/

body {
	background: #474747 url(fixed_width/474747_5e5e5e_40.png);
}

#main {
	background: #0c0c0c;
}
#main[id] {
/*	border: 1px solid #696969;*/
	margin-top: 18px;
	margin-bottom: 5px;
}

#fixedwidth {
	display: table;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0px;
	width: 990px;
}
#fixedwidth[id] {
	height: auto;
}