#
AuthUserFile /PATH_TO_TIKI_PERMISSIONCHECK/.htpasswd
AuthName "permissioncheck prepare password protection first"
AuthType Basic
<Limit GET POST PUT>
require valid-user
</Limit>
#
<FilesMatch "\.(bak|inc|inc\.php|lib|sh|sql|tpl)$">
        order deny,allow
        deny from all
</FilesMatch>
#
