/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/matrix.light.css,v 1.11 2004-01-16 23:25:44 mose Exp $
 *
 * My first TIKI theme :)
 *
 */

@import "matrix/matrix-general.css";
@import "matrix/matrix-tc.css";
@import "matrix/matrix-wiki.l.css";
@import "matrix/matrix-box.l.css";
@import "matrix/matrix-table.l.css";
@import "matrix/matrix-categories.l.css";
@import "matrix/matrix-dir.l.css";
@import "matrix/matrix-other.l.css";
@import "matrix/matrix-debug.css";
@import "matrix/matrix-calendar.css";
.catblock {
  border: 1px solid #aaaaaa;
} 
.catlists {
  border-top: 1px solid #ffffff;
  padding: 1px 6px 1px 6px;
  background-color: none;
  color: #666666;
} 
.catlists:last-child {
  border-bottom: 1px solid #ffffff;
}
.catlists:hover {
  background-color: #dedede;
}
.cattitle {
  color: #000000; 
  font-weight: bold;
}
.catlists a.link {
  color: #666666; 
  padding: 0px 4px 0px 4px;
  border: 1px solid #aaaaaa;
  -moz-border-radius: 6px;
}
.catlists a.link:hover {
  color: #000000;
} 
/* TikiIntegrator: By default copy rules dialog not shown */
div#rules-copy-panel {
    display: none;
}

/*
** JsCalendar wrapper
*/
#datrigger {
  border: 2px outset #666666;
  padding: 1px 3px 1px 5px;
  margin: 2px;
  cursor: pointer;
  font-weight:bold; 
}

TABLE.admin { width: 100%; }
table.commentinfo { width: 100%; background-color: #FFF7E6; }
div#loadstats {
  background-color: #dedede;
  font-size: 70%;
  color: #666666;
  padding: 5px;
}

/* phplayers style */
.box-data table {
  width: 100%; 
} 
.mdkverbar  {
  margin: 0px;
} 
.mdksubmenu {
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #FFFFFF;
  visibility: hidden;
}
.mdksubmenu table {
  width: auto;
}

.mdksubframe  {
  z-index: 1000;
  position: relative;
  display: block;
  border: 1px solid #000000;
}

.mdkitem  {
  border-top: 1px solid #dedede;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.mdkitem a  {
  padding: 2px 5px 2px 5px;
  position: relative;
  display: block;
}

.mdkitem a:visited  {
}

.mdkitem a:hover  {
  padding: 2px 5px 1px 5px;
}

.mdkitem a:active {
  color: #993300;
}

.mdkitem .mdkfwdarr {
  position: absolute;
  top: 5px;
  right: 12px;
}

.toc {
}
.toc li {
  margin-top: 3px;
}
.tocnav {
  background-color: #ededed;
  margin-bottom: 16px;
}
.tocnav table {
  width: 100%;
  background-color: #ffffff;
}
.tocnav a {
  font-size: 90%;
  color: #424242;
}
/* for jscalendar */
.calendar {
  z-index: 200;
}


/* for tabs */
div.tabs {
	font-size: 11px;
	white-space: nowrap;
	cursor: default !important;
	font-weight: 700 !important;
	z-index: 100;
	}

.content {
	position: relative;
	border: 1px solid #666;
	width: 600px;
	padding: 10px;
	margin-bottom: 25px;
	z-index: 80;
	background-color: #f3f6f9;
	-moz-border-radius: 0px 4px 4px 4px;
	}
	
.tab {
	border: 1px solid #347;
	padding: 2px 5px 1px 5px;
	background-color: #bcd;
	color: #303036;
	z-index: 100;
	border-bottom-width: 0;
	-moz-border-radius: 4px 4px 0px 0px;
	}

.tabHover {
	background-color: #46596f;
	color:#fff;
	z-index: 90;
	border-bottom-width: 0;
	cursor: pointer;
	}

.tabActive { 
	padding: 3px 5px 2px 5px;
	color: #060610 ;
	background-color: #f3f6f9;
	z-index: 100;
	}
      
div.tabsClone .tab, div.tabsClone .tabActive {
	border-top-width: 0 !important;
	border-bottom-width: 1px !important;
	}

div.tabsClone .tabActive{
	top: -2px;
	}

a.removeTab{
	font-size: smaller;
	text-decoration: none;
	}


/* ASSORTED  */

#clear {
	clear:both;
	}
	

