/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme.css,v 1.14 2004-04-29 22:31:47 mose Exp $
 *
 * My second theme :)
 * The main feature of this theme -- NO COLORS AND BACKGROUNDS AT ALL :)
 * Used only system default colors which is user choose for desktop
 */

@import "notheme/notheme-general.css";
@import "notheme/notheme-tc.css";
@import "notheme/notheme-box.css";
@import "notheme/notheme-wiki.css";
@import "notheme/notheme-comments.css";
@import "notheme/notheme-table.css";
@import "notheme/notheme-categories.css";
@import "notheme/notheme-other.css";
@import "notheme/notheme-debug.css";
@import "notheme/notheme-dir.css";
@import "notheme/notheme-calendar.css";
@import "notheme/notheme-article.css";
@import "notheme/notheme-faq.css";

/* ASSORTED  */

#clear {
	clear:both;
	}
	

/* tiki tabs */

.tabmark {
	display: inline;
	font-size: 85%;
	background-color: #dddddd;
	border: 1px solid #666666;
	margin: 0px;
	margin-right: 5px;
	padding: 1px 0px 1px 0px;
	-moz-border-radius : 5px 5px 0 0;  
}
.tabmark a { 
	-moz-border-radius : 5px 5px 0 0; 
	border-bottom : 0; 
	color: #666666;
	font-weight: 700 !important;
	padding: 1px 5px 1px 5px;
}
.tabmark a:active {
	background-color: white;
	color: red;
}
.tabmark a:hover {
	color: black;
	background-color: #CCCCCC;
}

.tabcontent {
	z-index : 200;
	position: relative;
	border: 1px solid #999999;
	padding: 6px 2px 2px 2px;
	margin-bottom: 25px;
	background-color: #eeeeee;
	-moz-border-radius: 0px 4px 4px 4px;
}

/* trackers specific style */

.statuson {
  padding: 1px;
  margin: 1px;
  border: 1px inset #666666;
  -moz-border-radius: 20px;
  vertcal-align: middle;
  background-color: #bbaa99;
}
.statusoff {
  padding: 1px;
  margin: 2px;
  vertcal-align: middle;
}

