/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme.css,v 1.10 2004-02-16 20:01:40 mose Exp $
 *
 * My second theme :)
 * The main feature of this theme -- NO COLORS AND BACKGROUNDS AT ALL :)
 * Used only system default colors which is user choose for desktop
 */

@import "notheme/notheme-general.css";
@import "notheme/notheme-tc.css";
@import "notheme/notheme-box.css";
@import "notheme/notheme-wiki.css";
@import "notheme/notheme-comments.css";
@import "notheme/notheme-table.css";
@import "notheme/notheme-categories.css";
@import "notheme/notheme-other.css";
@import "notheme/notheme-debug.css";
@import "notheme/notheme-dir.css";
@import "notheme/notheme-calendar.css";
@import "notheme/notheme-article.css";
@import "notheme/notheme-faq.css";
/* for tabs */
div.tabs {
	font-size: 11px;
	white-space: nowrap;
	cursor: default !important;
	font-weight: 700 !important;
	z-index: 100;
	}

.content {
	position: relative;
	border: 2px outset WindowFrame;
	min-width: 400px;
	padding: 10px;
	margin-bottom: 25px;
	z-index: 80;
	}
	
.tab {
	border: 2px outset WindowFrame;
	padding: 2px 5px 1px 5px;
	color: WindowText;
	z-index: 100;
	border-bottom-width: 0;
	-moz-border-radius: 4px 4px 0px 0px;
	}

.tabHover {
	color: HighlightText;
	background-color: Highlight;
	z-index: 90;
	border-bottom-width: 0;
	cursor: pointer;
	}

.tabActive { 
	padding: 3px 5px 2px 5px;
	color: HighlightText;
	background-color: Highlight;
	z-index: 100;
	}
      
div.tabsClone .tab, div.tabsClone .tabActive {
	border-top-width: 0 !important;
	border-bottom-width: 1px !important;
	}

div.tabsClone .tabActive{
	top: -2px;
	}

a.removeTab{
	font-size: smaller;
	text-decoration: none;
	}


/* ASSORTED  */

#clear {
	clear:both;
	}
	

