BODY {
	background: #738C9C;
}

/* GENERAL LAYOUT PROPERTIES 
 *
 * The tiki application is enclosed as a whole in tiki-main
 * tiki-main contains three divs: tiki-top, tiki-mid and tiki-bot
 * that will be used for the header, application and footer.
 *
 * tiki-mid contains a 3-column table, the columns are 
 * called (ids) leftcolumn, centercolumn and rightcolumn
 * Finally centercolumn contains tiki-center where the main
 * area of the application is displayed.
 */

/* This div encloses the whole Tiki application */
DIV#tiki-main {
	background: #738C9C;
	height: 100%;
	width: 100%;
}

/* This is the header */
DIV#tiki-top {
	background: #000000;
	color: white;
	height: 22px;
	padding-right: 1px;
	width: 100%;
}

/* This is the middle */
DIV#tiki-mid {
  background: #738C9C;
  height: auto;
  padding-bottom: 0px;
}

/* And this is the footer */
DIV#tiki-bot {
  padding-top: 10px;
  margin-top: 0px;
  background: #738C9C;
  padding-bottom: 15px;
}



/* The columns */
TD#leftcolumn {
  vertical-align: top;
  background: #738C9C;
  width: 150px;
}
TD#rightcolumn {
  vertical-align: top;
  background: #738C9C;
  width: 150px;
}
TD#centercolumn {
  background: #738C9C;
  vertical-align: top;
  width: auto;
  
}

/* And this is what lies inside the centercolumn */
DIV#tiki-center {
  border: 0px solid black;
  margin-left: 5px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 10px;
  background: #738c9C;
}

/* LAYOUT ENDS AND STYLE BEGINS*/

/* BOXES (Those little boxes in the left and right bar) */
div.box {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 8px;
  margin-bottom: 0px;
  border: 1px solid black;
  background: #FFFFFF;
  padding-bottom: 10px;
  overflow: hidden;
  width: 140px;
}

/* Boxes but without margins */
div.boxnm {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 8px;
  margin-bottom: 0px;
  border: 1px solid black;
  background: #FFFFFF;
  padding-bottom: 0px;
  overflow: hidden;
  width: 140px;
}

/* Some boxes are identified by an ID, for example the
   boxes in the main application menu, we set display to
   none to make the menu appear collapsed initially, change
   this to 'block' if you want it to be extended fully */
#admmnu {
 display: none;
}   
#wikimenu {
 display: none;
}
#galmenu {
 display: none;
}
#cmsmenu {
 display: none;
}
#blogmenu {
 display: none;
}
#filegalmenu {
 display: none;
}


/* Boxes are divided in title and data, this is the title */
div.box-title {
  background: #CECECE;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: black;  
  font-weight: bold;
  border-bottom: 1px solid black;
  overflow: hidden;
  width: 140px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 2px;
}

/* The title without a margin */
div.box-titlenm {
  background: #CECECE;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: black;  
  font-weight: bold;
  border-bottom: 1px solid black;
  overflow: hidden;
  width: 140px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
}


/* And this is the data */
div.box-data {
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  width: 140px;
}

/* And the data without a margin */
div.box-datanm {
  overflow: hidden;
  margin-left: 0px;
  margin-right: 0px;
  width: 140px;
}

/* Separators are used to sepparate menu areas */
div.separator {
  background: #EFEFE7;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 6px;
  margin-bottom: 2px;
  /*font-weight: bold;*/
  width: 90%;
}

/* Links to extend/collapse menus */
.separator {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
 color : Black;
text-decoration: none;
}
.separator:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
 color : Black;
 text-decoration: none;
}
.separator:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
 color : Black;
 background-color : #CCCCCC;
 text-decoration: none;
}

/* Links to collapse menus */
.flip {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
 color : Black;
text-decoration: none;
}
.flip:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
 color : Black;
 text-decoration: none;
}
.flip:hover {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
 color : Black;
 text-decoration: none;
}

/* TEXT ADDS */
.bannertext {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
 color : Black;
text-decoration: none;
}
.bannertext:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
 color : Black;
 text-decoration: none;
}
.bannertext:hover {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
 color : Black;
 text-decoration: none;
}


/* Some boxes uses thumbnails this is the image style */
div.imagerank {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* A simple box is just a div with a border around and some margin 
 * used for example in the admin screen */
div.simplebox {
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  border: 1px solid black;
  background: #FFFFFF;
  width: 97%;
}

/* A cbox is like a box in the sidebars but without width restrictions
 * cboxes are used in the rankings and the admin screen among other places */
div.cbox {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 0px;
  border: 1px solid black;
  background: #FFFFFF;
  padding-bottom: 10px;
  overflow: hidden;
  width: 97%;
}

/* Cboxes are compunded by a cbox-title div followed by a cbox-data div */
div.cbox-title {
  background: #CECECE;
  color: black;  
  font-weight: bold;
  border-bottom: 1px solid black;
  overflow: hidden;
  font-size: 13px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 2px;
}


/* And this is the data */
div.cbox-data {
  overflow: hidden;
  text-aling: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 97%;
}


/* Buttons (LINKS IN BOXES) */
div.button {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color : Black;
  /*font-weight : bold;*/
  background: white;
  /* for NS4 */
  /*
  border: 1px solid black;
  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;
  */
  padding-left: 0.1em; 
  padding-right: 0.1em; 
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin: 0.0ex 0px;
/*  width: auto;*/
/* clear: both;*/
}

div.button2 {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color : Black;
  /*font-weight : bold;*/
  background: white;
  /* for NS4 */
  
  border: 1px solid black;
  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;
  
  padding-left: 0.1em; 
  padding-right: 0.1em; 
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin: 0.0ex 0px;
/*  width: auto;*/
/* clear: both;*/
}


/* Links in boxes (using a div with class="button") */

.linkbut {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color : Black;
	background: white;
	/*font-weight: bold;*/
}

.linkbut:active {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color : Black;
	background: white;
	/*font-weight: bold;*/
}
.linkbut:hover {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color : Black;
    /*background-color : #dddddd;*/
	/*font-weight: bold;*/
}

/* Search results display a date*/
div.searchdate {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
 color : #333333;
}


/* ***************  THE WIKI ****************** */

/* Cache link, a smaller text */
/* These styles are for the cached version of a page*/
div.cache {
  background: #EAEAEA;
  border: 1px solid black;
  padding-left: 0.1em; 
  padding-right: 0.1em; 
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin: 0.1ex 0px;
  width: 100%;
}

div.cachedpage {
  border: 1px solid black;
  padding-left: 0.1em; 
  padding-right: 0.1em; 
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin: 0.1ex 0px;
  width: 100%;
}


/* Links to cached pages (small) */
.wikicache {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color : Blue;
	text-decoration: none;
}

.wikicache:active {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color : Blue;
    text-decoration: none;
}
.wikicache:hover {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color : Blue;
    font-weight: bold;
    text-decoration: none;

}

div.text {
 width: 90%;
}

div.wikitext {
  background: white;
  border: 2px solid black;
  padding-left: 3px; 
  padding-right: 1px; 
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 0px;
  margin-right: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 99%;
  clear: both;
}

div.titlebar {
  background: blue;
  color: white;
  border: 1px solid white;
  padding-left: 1px; 
  padding-right: 1px; 
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 1px 1px;
  width: 94%;
  clear: both;
}

/* Wiki Links used also as the class for links to itself in pages */
a.wiki { text-decoration: none; }
.wiki, .named-wiki  { font-weight: bold; color:#1d42be; } /*blue*/

/* Titles in pages */
a.pagetitle { text-decoration: none; }
.pagetitle { font-weight: bold; color:black; } 


/* Date displayed for last modification date of pages */
p.editdate { font-size: smaller; margin-bottom: -1ex; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; }

/* Edit pages */
/* Make the textarea on the edit page full width */
textarea.wikiedit { width: 94%; margin-top: 1ex; }

div.wiki-edithelp .transclusion {
  font-size: smaller;
  background: inherit;
  padding: 0.5ex 0.5em;
  margin: 0.2ex 5%;
  width: 94%
}
div.wiki-edithelp .transclusion p {
  margin: 0;
  width: 94%;
}
div.wiki-edithelp {
  /* background: #fff url("images/bgpaper8.png"); */
  background: white;
  /* for NS4 */
  border: 1px solid black;

  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;
  width: 94%;
  font-size: smaller;
  padding: 6pt;
}


/* TABLES */
/*
TD { 
  color: Black;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  vertical-align: top;
}
*/
TD.form { 
  color: Black;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  vertical-align: top;
  text-align: left;
}


/* Table headings */
TD.heading {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color : Black;
	background: #BBBBBB;
	font-weight : bold;
}

/* Tables odd rows */
TD.odd {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color : Black;
	background: white;
	vertical-align: top;
}

/* Tables even rows */
TD.even {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
background: #EEEEEE;
color : Black;
vertical-align: top;
}


/* BOTTOM BAR */
DIV#page-bar {
	margin-left: 5px;
}

.mini {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
color : Black;
}

/* ADDITIONAL STYLES */



H1 {
	
}

H2 {
	
}

H3 {
	
}

.link {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;

}
.link:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;
}
.link:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;
 background-color : #CCCCCC;
}

/* prev & next buttons in pagination */
.prevnext {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;

}
.prevnext:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;
}
.prevnext:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;
 background-color : #CCCCCC;
}




/* Prevent forms from generating unwanted padding or margins */
FORM {
	margin : 0px 0px 0px 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
	padding-top : 0px;
}

/* BROWSE GALLERY & BROWSE IMAGE THEME */

/* GALLERY THEME */

.gallink {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;

}
.gallink:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;
}
.gallink:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;
 background-color : #CCCCCC;
}

.sortlink {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;

}
.sortlink:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;
}
.sortlink:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;
 background-color : #CCCCCC;
}





/* Container for the whole gallery */
div.browsegallery {
  background: White;
  padding-left: 6px;
  padding-right: 6px;
  border: 2px solid black;
}

/* You can set a different background color for odd and even rows in the thumbnails table */
/* Thumbnails in odd rows are shown inside oddthumb tds */
TD.oddthumb {
  background: #FFFFFF;	
}
/* Thumbnails in even rows */
TD.eventhumb {
  background: #EEEEFF;
}

/* Gallery description */
div.galdesc {
  background: white;
  border: 1px solid black;
  border-top:    1px solid #7c7c7c;
  border-left:   1px solid #c3c3c3;
  border-bottom: 1px solid #dddddd;
  border-right:  1px solid #c3c3c3;
  padding-left: 0.8em; 
  padding-right: 0.8em; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0.5ex 0px;
  width: 94%;
  clear: both;
}

/* Gallery Title */
div.gallerytitle {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-top : 5px;
  margin-bottom: 5px;
  color : Black;
  font-weight: bold;
}

div.adminoptions {
	
}

div.uploadimagelink {
	
}

div.sortoptions {
	
}

span.sorttitle {
	
}

span.sortoptions {
	
}

/* Container for thumbnails */
div.thumbnails {
  border : 1px solid Black;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Thumbnails images */
img.athumb {
  border : 1px solid Silver;	
}

.caption {

}

/* Pagination box */
div.pagination {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 9px;
  color : Black;
  text-align: center;
}

.paglink {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
 color : Black;

}
.paglink:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
 color : Black;
}
.paglink:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
 color : Black;
 background-color : #CCCCCC;
}


/* No records found text  (displayed in the table when no records */
p.norecords {
  font-weight : bold;
}

/* IMAGES */

.imglink {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;

}
.imglink:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;
}
.imglink:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 12px;
 color : Black;
 background-color : #CCCCCC;
}


div.browseimage {
  background: White;
  padding-left: 6px;
  padding-right: 6px;
  border: 2px solid black;
}

div.imagetitle {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-top : 5px;
  margin-bottom: 5px;
  color : Black;
  font-weight: bold;
}

div.gallerylink {

}

div.showimage {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.imageinfo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

td.imageinfo {

}


table.tableinfo {
  text-align: center; 
}

div.linksinfo {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 9px;
  color : Black;
  text-align: center;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* CALENDAR STYLES */

/* LINKS TO DAYS IN THE CALENDAR */

.day {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
text-decoration: none;
 color : Black;

}
.day:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
text-decoration: none;
 color : Black;
}
.day:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
color : Black;
text-decoration: none; 
background-color : Gray;
}
.day:link {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
text-decoration: none;
 color : Black;
}
.day:visited {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
text-decoration: none;
 color : Black;
}

/* LINKS FOR TODAY */

.today {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
text-decoration: none;
 color : Black;
font-weight : bold; 
text-decoration: none; 

}
.today:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
text-decoration: none;
 color : Black;
 font-weight : bold;
 text-decoration: none; 
}
.today:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
color : Black;
text-decoration: none; 
background-color : Gray;
font-weight : bold;
}

/* Links to change month, year or go to today */
.nav {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
text-decoration: none;
 color : Black;
font-weight : bold; 
text-decoration: none; 

}
.nav:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
text-decoration: none;
 color : Black;
 font-weight : bold;
 text-decoration: none; 
}
.nav:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
color : Black;
text-decoration: none; 
background-color : Gray;
font-weight : bold;
}

.changedate {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 8px;
color : Black;
font-weight : bold;
}

.date {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 9px;
color : Black;
font-weight : bold;
}

/* CMS STYLES */
div.articletitle {
  background: #CECECE;
  border: 1px solid black;
  border-bottom: 0px;
  padding-left: 0.8em; 
  padding-right: 0.8em; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 10px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 97%;
  clear: both;
}


div.articleheading {
  background: white;
  border: 1px solid black;
  padding-left: 0.8em; 
  padding-right: 0.8em; 
  padding-top: 0.4em;
  padding-bottom: 0.5em;
  border-bottom: 0px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 97%;
  clear: both;
}

div.articletrailer {
  background: #CECECE;
  border: 1px solid black;
  padding-left: 0.8em; 
  padding-right: 0.8em; 
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  margin-bottom: 0px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 97%;
  clear: both;
}


span.articleheading {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
div.articlebody {
  background: white;
  border: 1px solid black;
  border-top: 0px;
  padding-left: 0.8em; 
  padding-right: 0.8em; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0px 0px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 97%;
  clear: both;
}
span.titlea {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
span.titleb {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
}
span.trailer {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: bold;
}

.trailer {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
text-decoration: none;
color : Black;
}
.trailer:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
text-decoration: none;
 color : Black;
}
.trailer:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
color : Black;
text-decoration: none; 
background-color : Gray;
font-weight : bold;
}

/* BLOGS */
div.posthead {
  background: #CECECE;
  border: 1px solid black;
  border-bottom: 0px;
  padding-left: 0.8em; 
  padding-right: 0.8em; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 10px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 97%;
  clear: both;
}
span.posthead {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

div.postbody {
  background: white;
  border: 1px solid black;
  padding-left: 0.8em; 
  padding-right: 0.8em; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 97%;
  clear: both;
}

div.blogtitle {
  padding-left: 0.0em; 
  padding-right: 0.0em; 
  padding-top: 0.0em;
  padding-bottom: 0.0em;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Times,Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  clear: both;
}

div.bloginfo {
  background: white;
  border: 1px solid black;
  padding-left: 0.8em; 
  padding-right: 0.8em; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 97%;
  clear: both;
}

div.blogdesc {
  background: white;
  border: 1px solid black;
  padding-left: 0.8em; 
  padding-right: 0.8em; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 97%;
  clear: both;
}

div.blogtools {
  background: white;
  border: 1px solid black;
  padding-left: 0.8em; 
  padding-right: 0.8em; 
  padding-top: 0.0em;
  padding-bottom: 0.5em;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 97%;
  clear: both;
}

/* Links in the blog trailer and the tools */
.blog {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
color : Black;
}
.blog:active {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
 color : Black;
}
.blog:hover {
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 10px;
color : Black;
/*text-decoration: none; */
/*background-color : #CCCCCC;*/
}


/* COMMENTS */
/* This sets the styles for the comments used in several Tiki sections */

#comzone {
  display: none;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

#comzoneopen {
  display: block;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;

}

/* Post comment form */
div.commentspost {
 display: inherit;
 border: 1px solid black;
 margin-top: 10px;
 margin-right: 10px;
 padding-right: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 margin-bottom: 10px;
 border: 1px solid black;
}

/* Help box*/
div.commentsedithelp {
  background: white;
  border: 1px solid black;
  font-size: smaller;
}



/* The toolbar where the ordering number of comments and find box are found */
div.commentstoolbar {
  background: #CECECE;
  color: white;
  margin-bottom: 20px;
}
/* The comment title */
span.commentstitle {
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
/* The comment */
div.commentscomment {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
/* The header for a comment */
div.commentheader {
  background: #CECECE;
  font-size: 10px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}


/* The text */
div.commenttext {
  font-size: 12px;
  margin-left: 5px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* Links inside comment text */
.commentslink {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
}
.commentslink:active {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
}
.commentslink:hover {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
}
/* Links in the comment header (votes, remove) */
.commentshlink {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: black;
}
.commentshlink:active {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: black;
}
.commentshlink:hover {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: black;
}




