/* $Id$
	 IE6 rules for Kubrick theme for TikiWiki Groupware/CMS
*/
#header-top {
	height: 146px;
}

#siteheader {
	height: 171px;
}


input[type=reset],
input[type=submit] {
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #2277DD;
	background: #fff;
	border: 1px solid;
	border-color: #c1d3db #8cacbb #8cacbb #c1d3db}

th {font-size: 11px}
.wikitopline select {font-size: .9em}
.findtable input {font-size: 1em}
.addevent {padding: 0}
.calodd {padding: 0}
.caleven {padding: 0}
.caldark {padding: 0}