/* $Id$
	Fixed width for TheNews theme, TikiWiki CMS/Groupware.
*/

body {
	background: #f4f4f4;
}

#main {
	background: #fff;
}
#main[id] {
	border: 1px solid #aaaaaa;
	margin-top: 18px;
	margin-bottom: 5px;
}

#fixedwidth {
	display: table;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0px;
	width: 990px;
}
#fixedwidth[id] {
	height: auto;
}