/* $Id$
	MilkyWay stylesheet (milkyway.css) for TikiWiki CMS/Groupware.
	This is an implementation of the GPL Joomla theme by Rhuk.
	
/* Import the default layout properties file: */
@import "layout/layout.css";

/* And design defaults: */
@import "layout/design.css";
 
/***** XHTML Elements (body tag here,
			others follow Layout) *****/ 
body {
	background: #fff;
	text-align: left;
	width: 100%;
	color: #333;
	font: 76%/1.3em Helvetica,Arial,sans-serif;
	padding: 10px 0}

html>body {font-size: .76em !important}
body.fullscreen {background: #fff}

 /***** Layout (overrides layout.css;
		also styling of page layout divs)  *****/
table#main {
	background: #fff;
	color: #333}

td#leftmargin {width: 0}

td#main-header {
	margin: 0;
	padding: 0}

td#leftborder {
	width: 22px;
	background: #2b2b2b url(milkyway/options/white/borderl.png) repeat-y;
	padding: 0;
	margin: 0}

td#leftcolumn {
	width: 220px;
	padding: 8px;
	background: #fff;
	text-align: center;
	overflow: visible}
	
.colwrapper {
	margin: 0;
	padding: 0;
	text-align: left}

td#centercolumn {background: #fff}
div#centerwrapper {padding: 1em}
*:first-child+html td#centercolumn {padding: 0}

td#rightcolumn {
	width: 220px;
	padding: 8px;
	background: #fff;
	text-align: center}

td#rightborder {
	width: 22px;
	background: url(milkyway/options/white/borderr.png) repeat-y}

td#footer {
	background: url(milkyway/options/white/footer.jpg) no-repeat;
	height: 126px;
	padding: 0;
	margin: 0}
	
td#footer .wrapper {
	background: url(milkyway/options/white/footer.jpg) no-repeat;
	background-position: right;
	margin: 0;
	margin-left: 30px;
	text-align: center;
	height: 126px}

td#footer .content {padding-top: 20px}

/***** XHTML Elements (other than body tag) ******/

a,
a:link,
a:visited {
	color: #135cae;
	font-weight: normal;
	text-decoration: none}

a:hover {
	text-decoration: underline;
	font-weight: normal;
	color: #0b3768}

h1 {
	padding: 0;
	font-family:Helvetica ,Arial,sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	vertical-align: bottom;
	color: #135cae;
	text-align: left;
	width: 100%}

h2 {padding: 0;
	font-family: Arial, Helvetica,sans-serif;
	font-size: 1.4em;
	font-weight: normal;
	vertical-align: bottom;
	color: #333;
	text-align: left;
	width: 100%}

h3 {
	margin: 0;
	font-weight: bold;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 1.5em;
	padding-left: 0px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 1.3em}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 1.2em}

h5 {font-size: 1.1em}
h6 {font-size: 1.05em}

hr {
	background: #aaa;
	color: #333}

fieldset {border: solid 1px #333}

input, select {
	border: 1px solid #ccc;
	background: #fff}

* html .wikitopline select {font-size: .9em}


span.button a,
button,
input[type=reset],
input[type=submit],
span.button input,
.submitbutton,
.calbuttonBox a {
	background: url(milkyway/mw_menu_normal_bg.png) repeat-x;
	margin-right: 4px;
	margin-bottom: 3px;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	color: #000;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	padding: 2px 4px}

* html input[type=reset],
* html input[type=submit] {
	background: url(milkyway/mw_menu_normal_bg.png) repeat-x;
	margin-right: 4px;
	margin-bottom: 3px;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	color: #000;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	line-height: 24px;
	padding: 2px 4px}

.button a:hover,
button:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.button input:hover,
.submitbutton:hover,
.calbuttonBox a:hover {
	background: transparent url(milkyway/options/white/mw_menu_active_bg.png) repeat-x;
	text-decoration: none;
	color: #000}

form.admin input[name="features"] {margin-bottom: 3px !important}
select[name="theme"] {width: 145px}
small {font-size: .9em}
label {margin: 0 2px}

textarea,
body.wikitext {
	background: #fff;
	color: #333;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 100% !important;
	margin: 1px}

/***** Site Header & Identity *****/
div#header {
	background: url(milkyway/options/white/header.jpg) no-repeat;
	background-position: right 0;
	height: 122px;
	position: relative;
	overflow: hidden;}
	
#header .wrapper {
	background: url(milkyway/options/white/header.jpg) no-repeat;
	height: 102px !important;
	margin-right: 32px;
	margin-bottom: -1px;
	padding: 20px 0 0 20px}

#siteheader {
	text-align: left;
	background: transparent;
	vertical-align: middle;
	padding: 0 40px;
	margin: 0}

div#sioptions {
	width: 100%;
	margin: 0}

#sioptionscentered {text-align: center}


div#sitelogo {}
div#sitead {margin: auto}
#sitead.floatright {padding-right: 100px}
#sitead.floatleft {padding-left: 100px}
#sioptionscentered #sitead.floatleft {padding-left: 10px}
.floatright img {}

#siteloginbar {
	position: absolute;
	bottom: 20px;
	right: 20px}

input[id="sl-login-user"],
input[id="sl-login-pass"] {}

#bannertopright {}
#siteloginbar input.wikiaction {}
#sitelocbar {float: left}
#customcodewith_ad {width: 400px}

/* #header text selectors, if needed */

#sitetitle,
#sitesubtitle {}

#sitetitle {
	font-size: 300%;
	padding-top: 30px}
	
* html #sitetitle {}
#sitesubtitle {padding-top: 10px}

#header a,
#header a:visited {text-decoration: none}

#header a:hover {text-decoration: none}

/* tiki-top_bar.tpl - menu and search */

#tiki-top {
	height: 77px;
	background: url(milkyway/options/white/topbar.jpg) no-repeat;
	background-position: right 0;
	padding: 0;
	margin: 0}

* html #tiki-top {font-size: 11px}

#tiki-top .wrapper {
	background: url(milkyway/options/white/topbar.jpg);
	height: 77px;
	margin-right: 32px;
	margin-bottom: -1px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 0}
	
/* * html #tiki-top .wrapper {margin-bottom: -2px}*/

#tiki-top a {}
#tiki-top table {
	width: auto;
	margin: auto;
	text-align: left}

#sitesearchbar {
	float: right;
	padding-right: 4px;
	text-align: right;
	display: block;
	margin: 0;
	text-align: left}

input#fuser,
select[name="where"],
input[name="search"] {}

#topbar_custom_code {
	background: white url(milkyway/options/white/borderr.png) 100% 0 repeat-y;
	padding: 0;
	padding-right: 22px}

#topbar_cc_liner {
	background: white url(milkyway/options/white/borderl.png) repeat-y 0 0;
	padding-left: 22px;
	margin: 0}

/****** Menus, Links ******/

/* horizontal pill menu */
table.pill {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  padding: 0}

td.pill_l {
  background: url(milkyway/mw_menu_cap_l.png) no-repeat;
  width: 20px;
  height: 32px;
  padding: 0;
  margin: 0}
  
table.pill table {
	margin: 0;
	padding: 0}

td.pill_m {
  background: url(milkyway/mw_menu_normal_bg.png) repeat-x;
  padding: 0;
  margin: 0;
  width: auto}

td.pill_r {
  background: url(milkyway/mw_menu_cap_r.png) no-repeat 0 0;
  width:  19px;
  height: 32px;
  padding: 0;
  margin: 0}

/** CSS (suckerfish) menus **/

.cssmenu_vert li {
	padding: .3em 1em;
}

/* left column width */
td#leftcolumn ul.cssmenu_vert {
	padding-left: 0;
}

td#leftcolumn .cssmenu_vert,
td#leftcolumn .cssmenu_vert li {
	width: 165px;
}

/* offset from left column (matches above) */
td#leftcolumn .cssmenu_vert li:hover ul,
td#leftcolumn .cssmenu_vert li.sfHover ul {
	left: 170px;
}

/* return ul ul ... to default */
td#leftcolumn .cssmenu_vert li:hover ul,
td#leftcolumn .cssmenu_vert li.sfHover ul,
td#leftcolumn .cssmenu_vert li:hover ul li,
td#leftcolumn .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
td#leftcolumn .cssmenu_vert li li:hover ul,
td#leftcolumn .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

.cssmenu_vert li a,
.cssmenu_horiz li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-decoration: none}

.cssmenu_horiz li ul li,
.cssmenu_vert li ul li {
	border: 1px solid #dfdfdf;
	background: #fff;
	border-top: 0;
	margin-bottom: -1px;
}

.cssmenu_horiz li ul li:first-child,
.cssmenu_vert li ul li:first-child {
	border-top: 1px solid #dfdfdf;
}

/* compensate for 1px border */
.cssmenu_horiz li ul li ul,
.cssmenu_vert li ul li ul {
	top: -1px !important;
}

.cssmenu_vert li a {
	font-weight: normal;
	color: #135cae; 
}

#tiki-top .cssmenu_horiz {
	text-align: left;
	margin-top: 1px;
}

#tiki-top .cssmenu_horiz li ul li {
	background: #fff;
}

#tiki-top .cssmenu_horiz li a {
	padding: 6px 1em;
}

#tiki-top .cssmenu_horiz ul li a {
	padding-top: 4px;
	padding-bottom: 4px;
}

#tiki-top .cssmenu_horiz li.menuSection a {
	padding-right: 2.6em;
}

#tiki-top .cssmenu_horiz li.menuLevel0:hover {
	background: #fff url(milkyway/options/white/mw_menu_active_bg.png) repeat-x;
}

#tiki-top .cssmenu_horiz li.menuLevel0:hover {
	background: #fff url(milkyway/options/white/mw_menu_active_bg.png) repeat-x;
}

#tiki-top .cssmenu_horiz li ul {
	top: 2em;	
}

#tiki-top .cssmenu_horiz li ul li ul {
	top: 0;	
}

.cssmenu_horiz .sf-sub-indicator,
.cssmenu_vert .sf-sub-indicator {
	background: url(milkyway/arrows-000000.png) no-repeat -10px -100px;
}

a .sf-sub-indicator {
	top: .5em;
}

.cssmenu_vert li a .sf-sub-indicator {
	top: .2em;
}

/*.cssmenu_horiz ul .sf-sub-indicator,
.cssmenu_vert .sf-sub-indicator {
	background: url(milkyway/arrows-ffffff.png) no-repeat;
}*/

/** PHP Layers Menus **/

/* Text in the top level (visible by default) of the menu */
.horbaritem a:link,
.horbaritem a:visited {
	background: url(milkyway/mw_menu_separator.png) top right no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
	height: 24px;
	/*line-height: 24px;*/
	padding: 4px 20px;
	padding-bottom: 0;
	color: #000;
	text-decoration: none;
	white-space: nowrap} 

.horbaritem a:hover {
	background: /*#2b2b2b*/ url(milkyway/options/white/mw_menu_active_bg.png) 0 0 repeat-x;
	color: #fff;
	text-decoration: none;
	padding-bottom: 0} 

* html .horbaritem a {font-size: .8em}
.mdksubmenu {}

.mdksubframe {
	border: 1px solid #dfdfdf;
	background: #f9f9f9} 

.mdkitem a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display:block;
	height: 24px;
	line-height: 24px;
	padding: 0 20px;
	color: #000;
	text-decoration: none;
	white-space: nowrap} 

.mdkitem a:link {
	font-weight: normal;
	text-decoration: none} 

.mdkitem a:visited {text-decoration: none} 

.mdkitem a:hover {
	background: black url(milkyway/options/white/mw_menu_active_bg.png) 0 0 repeat-x;
	color: #fff;
	text-decoration: none} 

.mdkitem a:active {} 

/* Tree menu (also on Browse Categories */
.treemenudiv {
	display: block;
	white-space: nowrap}

.phplmnormal,
a.phplmnormal:hover,
a.phplm:link,
a.phplm:visited,
a.phplm:hover,
a.phplm:active {
	font: 100% Verdana, Tahoma, Arial, sans-serif;
	color: #135cae;
	text-decoration: none;
	font-weight: bold}

a.phplm:visited {color: #135cae}
a.phplm:hover {color: #0b3768}
a.phplm:active {color: #135cae}

a.phplmselected:link,
a.phplmselected:visited,
a.phplmselected:hover,
a.phplmselected:active {
	font: 100% Verdana, Tahoma, Arial, sans-serif;
	color: black;
	text-decoration: underline;
	font-weight: bold}

a.phplmselected:hover {color: #808080}

/** Links in other menus **/

.separator a:link,
.separator a:visited,
.separator a:hover {color: #0b3768}

.linkmenu:hover {color: #0b3768}

a.linkmodule:hover {color: #0b3768}


/* From Tikineat -- check */
div.menuSection div.menuSection,
div.menuSection div.separator {}
/* End from Tikineat */

/***** Misc. Center Col. *****/
a.flip,
a.flip:visited,
.tellafriend a,
.tellafriend a:visited {
	font-size: 80%}

a.flip:hover,
.tellafriend a:hover {text-decoration: none}

/****** Misc. Global ****/

span.highlight {
	background: #e7e7e7;
}

/***** Boxes *****/
/** Modules **/

.cb,
.box {text-align: left;
	margin-bottom: 10px}

.bt {
	background: url(milkyway/options/white/modbox.jpg) no-repeat 100% 0;
	margin: 0 0 0 14px;
	height: 14px}

/* Top left corner -- function replaced by div.topleft */
.bt div {
	height: 14px;
	width: 14px;
	position: relative;
	left: -14px;
	background: url(milkyway/options/white/modbox.jpg) no-repeat 0 0}

/* Bottom border and right corner */
.bb {
	background: url(milkyway/options/white/modbox.jpg) no-repeat 100% 100%;
	margin: 0 0 0 14px;
	height: 14px}

/* Bottom left corner */
.bb div {
	height: 14px;
	width: 14px;
	position: relative;
	left: -14px;
	background: url(milkyway/options/white/modbox.jpg) no-repeat 0 100%}

/* Left border */
.i1 {
	padding: 0 0 0 14px !important;
	background: url(milkyway/options/white/modboxl.jpg) repeat-y 0 0}
	
/* Right border */
.i2 {
	padding: 0 14px 0 0 !important;
	background: url(milkyway/options/white/modboxr.jpg) repeat-y 100% 0}

.i3 {
	padding: 0}	
	
* html .i1,
* html .i3 {height: 1px}

div.box {
	overflow: hidden;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	/*position: relative*/}

#leftcolumn .box,
#rightcolumn .box {width: 204px}

* html #leftcolumn .box,
* html #rightcolumn .box {width: 216px}
	
h3.box-title {
	display: block;
	position: relative;
	background: #e7e7e7;
	padding-top: 0;
	padding-bottom: 4px;
	padding-left: 10px;
	margin-top: 0;
	margin-bottom: 0;
	color: #000;
	font-size: 1em}

.box a.flipmodtitle img {display: none}

* html .box a.flipmodtitle img,
.box:hover a.flipmodtitle img {
	display: block;
	position: absolute;
	right: 6px;
	top: 0;
	border: 1px solid transparent}

* html .box a.flipmodtitle img {border: 0}
a.flipmodtitle:hover img {border: 1px solid #fff !important}

.box-title a,
.box-title a:link {
	color: white;
	font-weight: bold;
	text-decoration: underline}

.box-title a:hover {text-decoration: underline}

.box-titlebottom {
	background: url(milkyway/options/white/modboxtitlebottom.jpg) no-repeat 100% 0;
	margin: 0 0 0 14px;
	height: 6px}
	
* html .box-titlebottom {margin-bottom: -8px}

.box-titlebottom div {
	background: url(milkyway/options/white/modboxtitlebottom.jpg) no-repeat 0 0;
	height: 6px;
	width: 14px;
	position: relative;
	left: -14px}	
	
.box-data {background: #fff}

/** Other boxes **/
div.cbox {
	color: #909090;
	background: #fff;
	border: 1px solid #d1d1d1}

.cbox-title {
	padding: 3px 3px 0 3px;
	font-weight: bold}

.cbox-data {padding: 0 3px 3px 3px}

.rbox {margin: 5px 10px 5px}

.rbox-title,
.rbox-data {
	padding: 1px 3px;
	background: #f6f6f6}
	
.rbox-title {
	border: 1px solid #d1d1d1;
	font-weight: bold}

.rbox-data {
	border: 1px solid #d1d1d1}
	

div.simplebox {
	margin-bottom: 8px;
	padding: 3px;
	border: 1px solid #d1d1d1;
	background: #f9f9f9;
	color: #333}


/***** Tables, Tabs *****/
/** Tables **/
table.normal,
table.admin {
	margin: 5px;
	border: 1px solid #ccc;
	padding: 5px;
}

table.normal td,
table.admin td {
	border: 1px solid #ccc;
}

th,
td.heading,
tr.diffheader,
th a:link,
th a:visited,
td.heading a:link,
td.heading a:visited,
tr.diffheader a:link,
tr.diffheader a:visited {
	font-weight: bold;
}


/** Tabs **/

.tabmark a:link,
.tabmark a:visited {
	background: url(milkyway/mw_menu_normal_bg.png) repeat-x;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	color: #000;
	font-size: 11px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
}

.tabcontent {
	border: 1px solid #dcdcdc;
	background: #f4f4f4;
}
/***** Wiki *****/

body.tiki_wiki #comments {padding: 1em}

h1 a.pagetitle,
h1 a.pagetitle:visited {
	font-size: 1.2em;
	color: #333}

h1 a.pagetitle:hover {
	text-decoration: none}

.wikitopline {}

div#description,
div.description {
	font-size: .9em;
	font-style: italic}

.titlebar {
	padding: 0.1em;
	border-top: 1px solid #909090;
	border-bottom: 1px solid #909090;
	margin: 10px 0}

table.wikitable {
	border: 1px solid #a9a9a9;
	border-collapse: collapse}
 
td.wikicell {
	padding: 3px;
	border: 1px solid #a9a9a9;
	border-collapse: collapse}


/***** Articles ****/


/***** Blogs *****/


/***** Forums *****/

/**** Image Galleries ****/

/***** File Galleries *****/

/***** Trackers *****/

/***** Categories, Tags *****/

/***** Tags (freetags) *****/
	
/*****  Polls  *****/

/***** FAQs *****/

/***** Quizzes *****/

/***** Shoutbox *****/

/***** Directory *****/

/***** Messages *****/

/***** TikiSheets *****/


/***** Calendar *****/

/***** Admin *****/

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/

/***** New (unsorted) *****/

/***** End New (unsorted) *****/

/* End of File */




