/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme/notheme-II-article.css,v 1.2 2003-10-06 22:49:26 zaufi Exp $
 *
 * Styles used by articles subsystem
 *
 */

/* Div with title of article (abover heading) */
div#tiki-center div.articletitle:first-child {
    margin-top: 10px;
}

div.articletrailer img {
    visibility: hidden;
}

div.articletrailer:hover img {
    visibility: visible;
}
