/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme/notheme-comments.css,v 1.1 2003-11-15 06:42:15 zaufi Exp $
 * Styles for comments (wiki, forums)
 */

#comzone {
    display: none;
    margin-top: 10px;
}

#comzoneopen {
    display: block;
    margin-top: 10px;
}

div#comzone table.normal td.heading {
    font-size: small;
}

/* The comment title */
span.commentstitle {
    font-weight: bold;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* Links in comments and in the comment header */
.commentshlink, .commentshlink:active, .commentshlink:visited, .commentslink, .commentslink:active {
    text-decoration: none;
}

.commentslink:visited {
    text-decoration: none;
}

.commentshlink:hover, .commentshlink:visited:hover, .commentslink:hover, .commentslink:visited:hover {
    text-decoration: underline;
}

table#commentshelp {
    color: InfoText;
    background-color: InfoBackground;
    font-size: small;
    font-family: serif;
}
table#commentshelp td {
    padding: 10px;
}

/* Forums only styles (?) */
div.commentscomment {
    border: 2px ridge WindowFrame;
}

div.commentheader {
    color: InfoText;
    background-color: InfoBackground;
}
div.commenttext {
    color: WindowText;
    background-color: ThreeDHighlight;
    font-family: serif;
}

td.odd table.commentinfo {
    width: 100%;
}
