/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme/notheme-box.css,v 1.10 2003-10-20 01:16:55 zaufi Exp $
 *
 */

/*
 * Boxes
 *
 * ... are used to present a box with a title bar and content,
 * they are used for modules and they are also used in the
 * rankings, admin screen etc.
 * The box class is used for modules while the cbox class is
 * used for other boxes
 *
 */

/* A simple box is just a div with a border around and some margin
 * used for example in the admin screen */
div.simplebox {
	border: 2px ridge WindowFrame;
	font-size: small;
}

div#tiki-center > div.simplebox {
	color: InfoText;
	background-color: InfoBackground;
	padding: 5px;
}

/* Boxes used for modules (modules are those boxes in the left/right columns) */
div.box {
	color: MenuText;
	background-color: Menu;
	width: 176px;
	margin-top: 6px;
	border-top: 2px outset ThreeDLightShadow;
	border-left: 2px outset ThreeDLightShadow;
	border-bottom: 2px outset ThreeDShadow;
	border-right: 2px outset ThreeDShadow;
	font-size: small;
}
/* No margin at top for fist boxes at both sides */
div#leftcolumn  > div.box:first-child,
div#rightcolumn > div.box:first-child
{
    margin-top: 0px;
}

/* Boxes are divided in title and data, this is the title */
div.box-title {
	color: HighlightText;
	background-color: Highlight;
	margin-top: 2px;
	margin-bottom: 6px;
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 0.1em;
}
div.box-title table {
    width: 100%;
}

/* And this is the data */
div.box-data {
	margin: 0px;
	padding: 10px 4px 10px 4px;
}

/* Now the boxes for the rest of Tiki (non-modules */
div.cbox {
	color: WindowText;
	background-color: Window;
	margin-top: 20px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 20px;
	border-top: 2px outset ThreeDLightShadow;
	border-left: 2px outset ThreeDLightShadow;
	border-bottom: 2px outset ThreeDShadow;
	border-right: 2px outset ThreeDShadow;
}

div.cbox#error-box {
	margin: 20px;
	margin-top: 120px;
	margin-right: 30px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 20px;
	border: 3px ridge WindowFrame;
	text-align: center;
}

/* Boxes are divided in title and data, this is the title */
div.cbox-title {
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 20px;
	border-bottom: 1px;
	padding-left: 20px;
}

/* And this is the data */
div.cbox-data table {
    width: 100%;
}

/* When modules display a list of items each item is enclosed
 * in a cell with the following style
 */
td.module {
	color: MenuText;
	text-align: left;
}

div.separator {
	color: MenuText;
	margin: 3px;
	width: 95%;
}
/* submenu div */
div.separator + div[id] {
	margin: 2px 0px 5px 0px;
	padding-left: 2ex;
}

.linkmenu,   .linkmenu:visited,
.linkmodule, .linkmodule:visited,
.separator,  .separator:visited {
	color: MenuText;
	text-decoration: none;
}

.linkmenu:visited:hover,   .linkmenu:hover,
.linkmodule:visited:hover, .linkmodule:hover,
.separator:visited:hover,  .separator:hover {
	color: MenuText;
	text-decoration: underline;
}

.flip, .flip:visited, .flip:visited:hover, .flip:visited:hover, .flip:active {
	color: HighlightText;
	background-color: Highlight;
}

div.box-title img {
	/*  visibility: hidden; */
	display: none;
}

div.box-title:hover img {
	/*  visibility: visible; */
	display: inline;
}

div.box-title td {
	vertical-align: middle;
	text-align: center;
}

/* Repaint module placed on wiki page */
div.wikitext * div.box {
    margin: 0px;
    color: WindowText;
    background-color: ThreeDHighlight;
    border: none;
    width: 250px;
}
div.wikitext * div.box-title {
    margin: 0px;
    border: 2px ridge WindowFrame;
}
div.wikitext * div.box-data {
    margin: 0px;
    border: 2px ridge WindowFrame;
}
