/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme/notheme-dir.css,v 1.5 2003-08-14 00:46:57 zaufi Exp $
 *
 * Directory styles
 *
 */

/* The list of categories */
div.dircategs {
}

/* Links to categories */
.dirlink {
}

.dirlink:hover {
}

/* Links to subcategories */
.dirsublink {
}

.dirsublink:hover {
}

/* The list of sites in any category */
div.dirlistsites {
}

/* each site in the list of sites */
div.dirsite {
}

span.dirsitedesc {
}

span.dirsitetrail {
	font-size: 10px;
}

span.dirsitecats {
}

/* Links to sites */
.dirsitelink {
}

.dirsitelink:hover {
}

/* Related categories */
div.dirrelated {
}

/* Footer with stats for the directory */
td.dirfooter {
	font-size: 9px;
}

div.dirfooter {
	color: InfoText;
	background-color: InfoBackground;
	border: 2px ridge WindowFrame;
	font-family: sans-serif;
	font-size: small;
}
