/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme/notheme-faq.css,v 1.2 2003-10-06 22:48:29 zaufi Exp $
 *
 * Define styles for: FAQ
 *
 */

/* List of questions in this FAQ */
div.faqlistquestions {
}

/* Div around q&a */
div.faqqa {
    color: InfoText;
    background-color: InfoBackground;
    border: 1px outset WindowFrame;
    margin-bottom: 10px;
}

/* Div with question */
div.faqquestion {
    font-style: italic;
    margin: 4px 4px 10px 4px;
}

/* Div with answer */
div.faqanswer {
    margin: 4px 4px 10px 4px;
}

/* Div with suggeted questions and post form */
div.faq_suggestions#faqsugg {
    margin-bottom: 20px;
}
