/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme/notheme-III-box.css,v 1.7 2003-11-15 06:42:15 zaufi Exp $
 *
 */

/* Make modules buttons like by default */
div.box,
div.box-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* By default data block in module collapsed */
div.box-data {
    display: none;
}
/* Expand data in module on mouse over*/
div.box:hover div.box-data {
    display: block;
}

/* Left/right column depended expand effect */
div#leftcolumn div.box:hover {
    position: relative;
    width: 250px;
}
div#rightcolumn div.box:hover {
    position: relative;
    left: -80px;
    width: 256px;
}

/* Do not collapse modules on wiki page... */
/* Do not collapse modules in calendar tooltips */
div.wikitext * div.box-data,
div.box#opaque div.box-data {
    display: block;
}
