/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme/notheme-other.css,v 1.3 2003-08-07 04:34:19 rossta Exp $
 *
 * Define styles for:
 *  Messages, RSS, Shoutbox, Categories
 *
 */

/*
 * Messages
 */
td.prio1, td.prio2, td.prio3, td.prio4, td.prio5 {
	border:    1px outset WindowFrame;
	background-color:   Window;
}

/* Div containing links to flag/unflag messages when reading a message */
div.messureadflag {
	padding: 5px;
}

/* Header when reading a message */
div.messureadhead {
	border:    2px ridge WindowFrame;
	margin-top:   20px;
}

div.messureadhead td[style = "font-weight:bold;"] {
	border: 1px outset WindowFrame;
}

div.messureadhead > table {
	width: 100%;
}

div.messureadhead td[style = "font-weight:bold;"] + td {
	border:    1px outset WindowFrame;
	width:   100%;
}

/* Message body when reading */
div.messureadbody {
	background-color:    Window;
	border:   2px ridge WindowFrame;
	margin-top:   5px;
}

/* Links to read emails (the subject in the mailbox listing) */
.readlink, .readlink:visited {
	color:    WindowText;
	text-decoration:   none;
}

.readlink:hover, .readlink:visited:hover {
	color:    HighlightText;
	background-color:   Highlight;
	text-decoration:   none;
}

/*
 * RSS
 */
.rsslink, rsslink:visited {
	text-decoration: none;
}

rsslink:visited {
	text-decoration: none;
}

.rsslink:hover, .rsslink:visited:hover {
	color:    HighlightText;
	background-color:   Highlight;
	text-decoration:   none;
}

/*
 * Shoutbox
 */
div.shoutboxmsg {
	border:    1px outset WindowFrame;
	margin-top:   5px;
	padding:   5px;
}

div.shoutboxmodmsg {
/* Looks like transparent buggy in CVS konqueror */
/* border: 1px inset transparent; */
}

div.shoutboxmsg:hover /*,
div.shoutboxmodmsg:hover */
{
	border: 1px inset WindowFrame;
}

textarea.tshoutbox {
}

div.shoutboxmodmsg.linkmodule, div.shoutboxmodmsg.linkmodule:visited {
	/*  color: ;*/
	text-decoration: none;
}

/* Page m/n */
div.mini {
	font-size: small;
}

/* div with image previews */
div.thumbnails {
	color:    WindowText;
	background-color:   ThreeDHighlight;
	border:   3px ridge WindowFrame;
}
/* Image gallery info panel */
div.imgaldescr {
	color:    InfoText;
	background-color:   InfoBackground;
	border:   3px ridge WindowFrame;
	padding:   5px;
}