/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme/notheme-general.css,v 1.7 2003-11-15 06:42:15 zaufi Exp $
 *
 */

/*
 * Following too notes I found at
 * http://www.w3schools.com/css/tryit.asp?filename=trycss_link
 *
 * Note: a:hover MUST come after a:link and a:visited in the CSS
 *       definition in order to be effective!!
 * Note: a:active MUST come after a:hover in the CSS definition
 *       in order to be effective!!
 */

/*
 * General HTML redefinitions
 */
body {
    color: WindowText;
    background: Background;
    margin: 0px;
}

hr {
    background-color: ThreeDShadow;
    border-style: none;
    width: 100%;
    height: 1px;
}

/* Headers */
h1 {
    text-transform: uppercase;
}

h2, h3, h4 {
    font-variant: small-caps;
}

h5, h6 {
    font-weight: bold;
}

/* Description on wiki pages */
small {
    font-size: small;
}

/* Prevent forms from generating unwanted padding or margins */
form {
    margin: 0px;
    padding: 0px;
}

/* Code fragments */
pre {
    font-size: 12px;
    white-space: pre;
}
code {
    font-size: 14px;
}

/* No borders for images */
img {
    border: none;
}
/* Expand all text editors to max size */
textarea {
    width: 99%;
}

/* Make definition lists looks better */
dt {
    display: compact;
}
dd {
    margin-left: 4em;
}
