/* Darkroom theme newsletter stylesheet  */
.margin-bottom-xs {
  margin-bottom: 6px;
}
.margin-bottom-sm {
  margin-bottom: 11px;
}
.margin-bottom-md {
  margin-bottom: 22px;
}
.margin-bottom-lg {
  margin-bottom: 44px;
}
body {
  background: #474747;
  color: #d8d8d8;
  font-family: "Trebuchet MS", "Bitstream Vera Sans", sans-serif;
  padding: 15px;
}
a,
a:visited {
  color: #ababab;
  text-decoration: underline;
}
a:hover {
  color: #858585;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  color: inherit;
}
.panel {
  margin-bottom: 22px;
  background-color: #474747;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #474747;
  border-top: 1px solid #474747;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-default {
  border-color: #292929;
}
.panel-default > .panel-heading {
  color: #d8d8d8;
  background-color: #292929;
  border-color: #292929;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #292929;
}
.panel-default > .panel-heading .badge {
  color: #292929;
  background-color: #d8d8d8;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #292929;
}
.panel-primary {
  border-color: #ababab;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #ababab;
  border-color: #ababab;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ababab;
}
.panel-primary > .panel-heading .badge {
  color: #ababab;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ababab;
}
.panel-success {
  border-color: #547f31;
}
.panel-success > .panel-heading {
  color: #88c389;
  background-color: #529138;
  border-color: #547f31;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #547f31;
}
.panel-success > .panel-heading .badge {
  color: #529138;
  background-color: #88c389;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #547f31;
}
.panel-info {
  border-color: #1e7c8f;
}
.panel-info > .panel-heading {
  color: #84bad5;
  background-color: #247fad;
  border-color: #1e7c8f;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #1e7c8f;
}
.panel-info > .panel-heading .badge {
  color: #247fad;
  background-color: #84bad5;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #1e7c8f;
}
.panel-warning {
  border-color: #b37f13;
}
.panel-warning > .panel-heading {
  color: #cfb88f;
  background-color: #caad16;
  border-color: #b37f13;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #b37f13;
}
.panel-warning > .panel-heading .badge {
  color: #caad16;
  background-color: #cfb88f;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #b37f13;
}
.panel-danger {
  border-color: #843441;
}
.panel-danger > .panel-heading {
  color: #dda8a7;
  background-color: #963b3b;
  border-color: #843441;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #843441;
}
.panel-danger > .panel-heading .badge {
  color: #963b3b;
  background-color: #dda8a7;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #843441;
}
