/* $Id$
	FiveAlive theme grape option newsletter css (fivealive/options/grape/newsletter.css) for Tiki Wiki CMS/Groupware.
	Visit http://themes.tiki.org for more information.
*/
 
/***** XHTML Elements (body tag here,
			others follow Layout) *****/ 
body {
	background-color: #fff;
	font: 76%/1.5em Arial, Helvetica, sans-serif;
	color: #000;
}


/***** XHTML Elements (other than body tag) ******/
a,
a:visited,
tr.even a,
tr.even a:visited,
tr.odd a,
tr.odd a:visited {
	color: #8e286a;
}

a:active,
a:hover,
tr.even a:active,
tr.even a:hover,
tr.odd a:active,
tr.odd a:hover {
	color: #a02871;
}

fieldset {
	border: 1px solid #8e286a;
}

hr {
	color: #a82a76;
	background: #a82a76;
}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.calbuttonBox a,
#genPass .button a,
#genPass .button a:visited,
.daterow {
	color: #fff;
	background: #a82a76;
	border-color: #a82a76 #69285c #69285c #a82a76;
	font-weight: bold;
}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.calbuttonBox a:hover,
#genPass .button a:hover,
.daterow:hover {
	background: #9b286f;
	border-color: #69285c #a82a76 #a82a76 #69285c;
}

.highlight,
.button.highlight a,
.calfocuson {
	border: #e4afd3;
	color: #8e286a;
	background: #ddf4ef;
}

.button.highlight a {
	background: #f4dded;
	color: #8e286a;
}

select,
input[type="text"],
input[type="password"],
input[type="file"],
input#login-pass,
textarea,
.adminoptionbox option {
	background: #f4dded;
	border-color: #e4afd3 #faf1f8 #faf1f8 #e4afd3;
}

.cbox {
	background: #efcde5;
	color: #8b1932;
}

.cbox-title {
	border-bottom: 3px solid #a82a76;
}

.titlebar,
.rbox-title, 
.rbox-data {
	border: #a82a76;
	background: #efcde5;
	color: #8b1932;
}

.simplebox {
	border: 2px solid #a82a76;
}

/***** Tables, Tabs *****/
/** Tables **/

.normal,
.wikitable {
	border: 2px solid #a82a76;
}

.calodd,
.caleven,
.wikicell {
	border: 2px solid #efcde5;
}

.odd,
.calodd {
	background: #faf1f8;
}

.even,
.caleven {
	background: #f4dded;
}

/* End of File */
