.margin-bottom-xs {
  margin-bottom: 5px;
}
.margin-bottom-sm {
  margin-bottom: 10px;
}
.margin-bottom-md {
  margin-bottom: 20px;
}
.margin-bottom-lg {
  margin-bottom: 40px;
}
body {
  background: #ffffff;
  color: #333333;
}
