/* Moz4 theme (moz4.css) for Tikiwiki CMS/Groupware.
	Compatible with Tiki version 4. 
*/
 
/* Import layout foundation CSS file. */
/* If *litecss-based theme . . .  */
@import "lite/lite.css";

/* Then import the default layout properties file: */
 @import "layout/layout.css";
 
/* And design defaults: */
@import "layout/design.css";

/***** XHTML Elements (body tag here,
			others follow Layout) *****/
html {
	color: #000;
	background: #fff url(moz4/background-tile.png) 50%  -225px repeat-x;
}

html > body {
	font-size: 1em; /* override lite.css */
}

body {
	text-align: center;
	font-family: georgia, freeserif, serif;
	background: url(moz4/background-feature.jpg) center -225px no-repeat;
}

*:first-child+html body {font-size: 74% !important}

 /***** Layout (overrides layout.css;
		also styling of page layout divs)  *****/

#main {
/*	display: table; 
	margin: 0 auto; 
	width: 900px;*/
	font-size: 85%;
} 

*:first-child+html #c1c2 {
	margin-left: 0;
	padding-left: 0} 

#middle-shadow {
	display: table; 
	margin: 0 auto; 
	width: 950px;
}

#middle {
	font-size: 85%;
}

#c1c2 {
	text-align: left;
	font-size: 1em;
	background: transparent;
}
	
#c1c2 #wrapper {
	width: 723px;
	padding: 0;
}

#c1c2	#wrapper	#col1.marginleft {
	margin-left: 230px;
}

#c1c2	#wrapper	#col1.marginright {
	margin-right: 230px;
}

#c1c2	#wrapper	#col1	> .content {
	background: transparent;
}

#tiki-center-shadow {
	width: 720px;
}

#c1c2 #wrapper #col1 #tiki-center {
	margin: 12px 0 20px 0;
	padding: 10px 1em 1em;
	text-align: left;
}

* html #tiki-center {font-size: 1em}

#col1 {
	margin-top: 0 !important;
}

#c1c2 #col2 {
	width: 230px;
	overflow: visible;
}

#col3 {
	width: 230px;
	margin-left: -230px;
	margin-bottom: 15px;
	font-size: 1em;
	text-align: left;
}

#footer {
	background: #fff url(moz4/footer-border.png) top center repeat-x;
	text-align: center;
	color: #898378;
	font-family: verdana;
	font-size: 65%;
	min-height: 345px;
	min-width: 950px;
}

* html #footer { height: 345px; }

#footer a,
#footer a:visited {
	color: #898378;
	text-decoration: none;
}

#footer a:hover,
#footer a:active {
	color: #69645c;
	text-decoration: underline;
}

#footer-contents {
	width: 880px;
	text-align: left;
	margin: auto;
	padding: 0 35px 35px;
}

#footer-contents .box-switch_lang,
#footer-contents #switch_lang {
	float: right;
	width: 170px;
}

#footer-menu,
#footer-menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	left: auto;
}

#footer-menu ul ul {
	display: block;
	float: left;
}

#footer-menu li {
	margin: 0 15px 0 0;
	padding: 0;
	list-style-type: none;
	float: left;
	display: inline;
	font-weight: bold;
	background: none;
	position: relative;
	width: 105px;
}

#footer-menu li ul {
	margin: 0.5em 0 2em 0;
}

#footer-menu ul li {
	float: none;
	/*font-size: 85%;*/
	padding: 0 0 0.4em 0;
	margin: 0;
	font-weight: normal;
	display: block;
	width: auto;
}
#footer #cc-license {
	clear: both;
	background: url(moz4/cc.png) top left no-repeat;
	padding-top: 40px;
	/*font-size: 85%;*/
}

#footer #cc-license p {
	padding-top: 20px;
	margin-bottom: 3px;
}

#footer #cc-license a.wiki,
#footer #poweredby a.wiki {
	font-weight: bold !important;
/*	font-size: 100%;*/
}

#footer #footer-links {
	font-size: 85%;
	padding-bottom: 10px;
}


.footerbgtrap {background: transparent}


/***** XHTML Elements (other than body tag) ******/
a:link, a:visited {
	color: #0489B7;
	text-decoration: none;}
 
a:active, a:hover {
	color: /*linkhovercolor*/;
	text-decoration: underline}

h1,h2,h3,h4,h5 {
	color: /*headingscolor*/;
	font-weight: normal;
	font-family: georgia, freeserif, serif;
	margin: 1em 0 0.2em 0;
	padding: 0;}

h1 {

}

h1 a,
h1 a:visited {
	color: #4b4742;
}

h2 {font-size: 140%; font-weight: normal;}	
h3 {font-size: 130%; font-weight: normal;}	
h4 {font-size: 120%}
h5 {font-size: 110%}

hr {
	background: /*hrcolor*/;
	color: /*hrcolor*/}

p {}

input[type=text],
input[type=password] {}
	
textarea,
fieldset {}
	
textarea.wikiedit {}
	
select {
	background: /*selectbackground*/;
	color: /*selectcolor*/;
	border: 1px solid /*selectbordercolor*/}
	
legend {color: /*bodycolor*/}

span.button a,
span.button a:visited,
button,
input[type=reset],
input[type=submit],
span.button input,
.calbuttonBox a {
	color: /*buttoncolor*/;
	background: /*buttonbackground*/;
	border-color: /*buttonbordertopcolor*/ /*buttonborderrightcolor*/ /*buttonborderbottomcolor*/ /*buttonborderleftcolor*/;
}
	
* html input[type=reset],
* html input[type=submit] {
	}
	
.button a:hover,
button:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.button input:hover,
.calbuttonBox:hover {
	color: /*buttonhovercolor*/;
	background: /*buttonhoverbackgroundcolor*/;
	border-color: /*buttonhoverbordertopcolor*/ /*buttonhoverborderrightcolor*/ /*buttonhoverborderbottomcolor*/ /*buttonhoverborderleftcolor*/;
	text-decoration: none}
	
.button a:active,
button:active,
input[type=reset]:active,
input[type=submit]:active,
.button input:active,
span.highlight a:link,
span.highlight a:visited {
	color: /*buttonactivecolor*/;
	background: /*buttonactivebackgroundcolor*/;
	border-color: /*buttonactivebordertopcolor*/ /*buttonhoverborderrightcolor*/ /*buttonhoverborderbottomcolor*/ /*buttonhoverborderleftcolor*/;
}
	
span.highlight {color: /*spanhighlightcolor*/}

hr {
	background: /*hrcolor*/;
	color: /*hrcolor*/}

/***** Site Header & Identity *****/

#header-shadow {
	width: 950px;
	margin: auto;
}

#header {
	width: 950px;
	margin: 0 15px;
	background: #c2e0ea url(moz4/header-background.png) bottom left no-repeat;
	height: 56px;
	font-family: verdana;
	position: relative;
}
#tiki-top {}

#sitesearchbar {}

div#sitelogo {
	padding: 0;
}

#sitetitles {}

#sitetitle,
#sitesubtitle {}

#sitetitle {font-size: 100%}
#sitesubtitle {
	font-size: 100%;
	margin-top: 1em}

#siteloginbar {right: 40px}
	
/****** Menus, Links ******/
/** CSS (suckerfish) menus **/
.cssmenu ul,
.cssmenu_vert li ul,
.cssmenu_horiz li ul {
	background: /*submenubackgroundcolor*/;
	border-bottom: 1px /*.cssmenuborderbottomcolor*/ solid;
	border-left: 1px /*.cssmenuborderleftcolor*/ solid}

.cssmenu_horiz li:hover,
.cssmenu_vert li:hover {
	background: /*.cssmenulihoverbackgroundcolor*/;
 	color: /*cssmenulihovercolor*/;
	text-decoration: none}
	
.cssmenu a,	
.cssmenu_horiz a,
.cssmenu_vert a {

	color: /*cssmenuacolor*/;
	background: /*cssmenubackground*/}

#tiki-top .cssmenu_horiz {
	position: absolute;
	right: 200px;
	top: 0;
	height: 56px;
	background: transparent url(moz4/header-nav-divider.png) top left no-repeat;
	padding-left: 2px;
}

#tiki-top .cssmenu_horiz li a {
	padding: 20px 20px 0 20px;
	height: 35px;
/*	display: block;
	float: left;*/
	font-weight: bold;
	font-size: 95%;
	color: #fff;
	background: transparent url(moz4/header-nav-divider.png) top right no-repeat;
}

#tiki-top .cssmenu_horiz li a:link,
#tiki-top .cssmenu_horiz li a:visited {
	color: #fff;
	text-decoration: none;
}

#tiki-top .cssmenu_horiz li:hover,
#tiki-top .cssmenu_horiz li:active,
#tiki-top .cssmenu_horiz li.selected {
	color: #fff;
	font-style: normal;
	background: #31526f url(moz4/header-nav-menu-backgrounds.png) top right no-repeat;
}

#tiki-top .cssmenu_horiz li:hover a {
}

#tiki-top .cssmenu_horiz ul,
#tiki-top .cssmenu_horiz ul li {
	height: auto;
	border: 0;
}

#tiki-top .cssmenu_horiz ul {
	border-top: 0;
	background: url(moz4/header-nav-menu-backgrounds.png) bottom left no-repeat;
/*	padding: 8px 0;*/
	width: 190px;
}

#tiki-top .cssmenu_horiz ul li {
	width: 190px;
}
#tiki-top .cssmenu_horiz li ul li a,
#tiki-top .cssmenu_horiz li ul li a:link,
#tiki-top .cssmenu_horiz li ul li a:visited {
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 85%;
	font-weight: normal;
	border: 0;
	background-image: none;
}
	
#tiki-top .cssmenu_horiz li.menuSection a {padding-right: 20px}
#tiki-top .cssmenu_horiz ul li a {background: /*tikitopcssmenuliulliabackgroundcolor*/ !important}

#tiki-top .cssmenu_horiz ul li:hover a {
	background: /*tikitopcssmenuullihoverabackgroundcolor*/ !important;
 	color: /*tikitopcssmenuullihoveracolor*/;
	text-decoration: none}

#tiki-top .cssmenu_horiz ul li a .sf-sub-indicator {top: 1.2em}
	
.box-data .cssmenu_vert a {
	color: /*boxdatacssmenuvertacolor*/;
	font-weight: bold}

.box-data .cssmenu_vert a:hover {
	color: /*boxdatacssmenuvertahovercolor*/;
	text-decoration: underline}

.box-data .cssmenu_vert ul a {color: /*boxdatacssmenuvertulacolor*/}
.box-data .cssmenu_vert li:hover {background: none}

.box-data .cssmenu_vert ul a:hover {
	color: /*boxdatacssmenuvertulahovercolor*/;
	text-decoration: none}

.box-data .cssmenu_vert li ul li:hover {background: /*boxdatacssmenuvertliullihovercolor*/}

.cssmenu_vert ul,
.cssmenu_horiz ul {
	border-top: 0;
	background: url(moz4/header-nav-menu-backgrounds.png) bottom left no-repeat !important;
	padding: 8px 0;
	width: 190px;
}

/** Links in other menus **/
.separator,
.option {margin-bottom: 5px}
	
.menusection .option {padding-left: 20px}

.option a,
.separator a {}
	
.option {padding-left: 10px}

.option a {
	padding: 0 10px;
	background: /*optionabackgroundcolor*/}

/***** Misc. Center Col. *****/

a.crumblink {
	color: #0489b7;
	font-family: verdana;
	font-size: .7em;
	font-weight: bold;
	padding: 0;
	text-decoration: none;
	padding-bottom: 20px;
}

#showhide_columns,
.tellafriend,
#tiki-center {
	color: /*showhidcolumnstikicentercolor*/;
	background: /*showhidcolumnstikicenterbackgroundcolor*/;
	margin: 10px}

a.flip {}
a.flip:hover {}

div.feature-contents {
	padding-left: 40px;
	padding-top: 35px;
	text-align: left;
	width: 600px;
}

div.feature-contents h2 {
	color: #fff;
	font-family: georgia,freeserif,serif;
	font-size: 46px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

div.feature-contents p {
	color: #4b4742;
	font-family: georgia,freeserif,serif;
	font-size: 20px;
	line-height: 150%;
	padding-bottom: 20px;
}

div.searchlogo {
	padding-top: 5px;
	padding-left: 25px;
	height: 124px;
	float: left;
	width: 600px;
}

div.searchlogoform {
	height: 124px;
	width: 585px;
	background: url(moz4/searchbar.png) no-repeat;
	text-align: left;
}

.searchlogoform form {
	text-align: left;
	padding-left: 130px;
	padding-top: 10px;
}

.searchlogotitle {
	color: #E16601;
	font-size: 15px;
	font-family: georgia, freeserif, serif;
	font-weight: normal;
	padding-top: 38px;
	padding-left: 240px;
}
#searchsubmit {
	border: none;
	width: 21px;
	height: 22px;
	cursor: pointer;
	margin-left: -6px;
	background: url(moz4/searchsubmit.png) no-repeat left top;
}

body.tiki_wiki_page .wikitext {
	background: url(moz4/botbar-med.png) no-repeat bottom left;
}

#bottombar {
	background: url(moz4/botbar.png) no-repeat top left;
	height: 20px;
	margin-left: -20px;
	width: 723px;
}
	 
body.tiki_wiki_page #bottombar {
	background: none;
}
/****** Misc. Global ****/

/***** Boxes *****/
/** Modules **/
.box {
	clear: both;
	padding: 15px 15px 10px 15px;
	margin-bottom: 30px;
	background: none;	
	border: none}
	
.box-moz4_side_menu {
	float: right;
	font-family: verdana;
	font-size: 80%;
	left: auto;
	line-height: 1;
	list-style-type: none;
	margin: 20px 0 0 0;
	width: 170px;
}

.box-moz4_side_menu li {
	list-style-type: none;
	margin: 0;
	padding: 7px 5px 5px 5px;
	background: url(moz4/side-menu-divider.png) top center no-repeat;
}

.box-moz4_side_menu ul li:first-child { 
	font-family: georgia, freeserif, serif;
	font-size: 180%;
	background: none;
	color: #000;
}

.box-moz4_side_menu li ul {
	margin: 5px 0 0 0;
	left: auto;
}

.box-moz4_side_menu li ul li { padding-left: 8px }

.box-moz4_side_menu h3 {
	margin: 0;
	font-weight: normal;
}

.box-moz4_side_menu a:link,
.box-moz4_side_menu a:visited {
	color: #1E4262;
	text-decoration: none;
}

.box-moz4_side_menu a:hover {
	text-decoration: underline;
}
	
#col2 .box {}
#col1 .box {}

h3.box-title {

	border-bottom: none;
}

/** Other boxes **/
.cbox {
	border: 1px solid /*cboxbordercolor*/;
	background: /*cboxbackgroundcolor*/;
	color: /*cboxcolor*/}

.cbox-title {
	border-bottom: 1px solid /*cboxbordercolor*/;
	}

.rbox-title, 
.rbox-data {border-color: /*rboxbordercolor*/}

.rbox-title {
	background: /*rboxtitlebackgroundcolor*/;
	color: /*rboxtitlecolor*/}
	
.rbox-data {
	background: /*rboxdatabackgroundcolor*/}
	
div.simplebox {
	color: /*simpleboxcolor*/;
	background: /*simpleboxbackground*/;
	border: 1px solid /*simpleboxbordercolor*/}

/***** Tables, Tabs *****/
/** Tables **/

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table.normal/*,
table.admin*/ {
	border: none;
/*	border-collapse: collapse*/}
	
table.normal td/*,
table.admin td*/ {
	 /* border: 1px dotted *//*tablenormaltdbordercolor*/;
	  padding: 2px 3px}
	  
th,
td.heading,
tr.diffheader {
	background: /*tableheadingbackgroundcolor*/;
	 color: /*tableheadingcolor*/}
	 
table.normal a.link, 
table.normal a,
th a,
th a:visited,
td.heading a,
td.heading a:visited {
	color: /*tableheadingacolor*/;	
}

table.admin a.link,
table.admin a,
table.admin label,
fieldset.admin label,
.cbox fieldset.admin a {
	color: /*tableadminacolor*/;
}

tr.odd td,
td.odd {
	background: /*tdoddbackgroundcolor*/;
	border-right: 1px solid /*tdoddborderrightcolor*/;}

tr.even td,
td.even {
	background: /*tdevenbackgroundcolor*/;
	border-right: 1px solid /*tdevenborderrightcolor*/;}
	 
/** Tabs **/
.tabmark {
	background: /*tabmarkbackgroundcolor*/;
	color: /*tabmarkcolor*/;
}

.tabmark a:active {
	background: /*tabmarkaactivebackgroundcolor*/;
}

.tabmark a:hover {
	background: /*tabmarkahoverbackgroundcolor*/;
}

.tabactive {
	background: /*tabactivebackgroundcolor*/
	border: solid 1px /*tabmarkactivebordercolor*/ !important;}

.tabcontent {
	background: /*tabcontentbackgroundcolor*/;
	border: 1px solid /*tabcontentbordercolor*/ !important;
	border-top: none !important;}

/***** Wiki *****/

.navbar {
	height: 20px;
	margin-left: -20px;
	margin-top: 30px;
	width: 723px;
	background: url(moz4/topbar.png) no-repeat;
}

body.tiki_wiki_page #description {
	display: none;
}

div.wikitopline {
	background:#fafafa url(moz4/bodybox-top.png) no-repeat scroll center top;
	float: right;
	margin: 0 25px 0 12px;
	padding: 0 !important;
	position: relative;
	width: 240px;
	z-index: 10;
}

div.wikitopline-inner {
	background: url(moz4/bodybox-bot.png) no-repeat scroll center bottom;
	color: #4b4742;
	padding: 12px;
	width: 216px;
}

div.action-title {
	border-bottom: 1px solid #E3E2DF;
	font-size: 1.4em;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

ul.wikiactions {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.wikiactions li {
	line-height: 1.7em;
	width: 12em;
	font-size: .95em;
}

h1.pagetitle,
div.article h2 {
	color: #4b4742;
	display: block;
	font-size: 3em;
	padding-bottom: 5px;
	padding-left: 0;
	text-align: left;
	width: 100%;
	font-weight: normal;
}

h1.pagetitle strong {
	font-weight: normal;
}
	
h1.pagetitle a,
h1.pagetitle a:visited,
h1.pagetitle a:hover {
	color: #4b4742;
}

h1.pagetitle a.crumblink {
	font-size: inherit;
	font-weight: normal;
	font-family: georgia, freeserif, serif;
}

.wikitext {
	border: 0;
	text-align: left;
	font-size: 14px;
	color: #4b4742;
	padding-top: 0;
	margin: 10px;
	padding-left: 10px;
	line-height: 1.5em;
}

.wikitext h3 {
	font-size: 22px;
}
	
div.code,
.codelisting {
	background: /*codebackgroundcolor*/;
	color: /*codecolor*/;
	border: 1px solid /*codebordercolor*/}

.codecaption {
	border: 1px solid /*codecaptionbordercolor*/;
	color: /*codecaptioncolor*/;
	background: /*codecaptionbackgroundcolor*/}
	
.editdate {
	color: #afaba3;
	font-family: verdana;
	font-size: 0.8em;
	margin-top: 10px;
}

div#textarea-toolbar {
	background: /*textarea-toolbarbackgroundcolor*/;
	border: 1px solid /*textarea-toolbarbordercolor*/}
	
div.help_sections {background: /*help_sectionsbackgroundcolor*/}

/***** Articles ****/
body.tiki_cms h1 a.pagetitle,
body.tiki_cms h1 a.pagetitle:visited,
body.tiki_cms h1 a.pagetitle:hover {border-bottom: 0}

div.article {
	background: /*articlebackgroundcolor*/;
	border: 1px solid /*articlebordercolor*/;}
	
div.article h2 {color: /*pagetitlecolor*/}
	
div.articletrailer span {
	background: /*articletrailerspanbackgroundcolor*/;
	margin-left: 5px;
	padding-left: 20px;}

/***** Blogs *****/

body.tiki_blogs .post {
	background: /*(blog)postbackgroundcolor*/;
	border: 1px solid /*(blog)postbordercolor*/;}
	
body.tiki_blogs .post .title h2 {color: /*pagetitlecolor*/}

/***** Forums *****/
span.commentstitle {
	font-weight: bold;
	font-size: 12px;
}

.postbody {
	font-family:georgia,freeserif,serif;
line-height:1.2em;
}

.post .postbody-title .title {
	float: none;
}

.postbody-title h2 {
	color: #4b4742;
	font-size: 2em;
	margin-bottom: 8px;
	padding-left: 10px;
	line-height: 1em;
}

.postbody-title small {
	font-size: 12px;
	color: #807970;
	padding-left: 10px;
}

#thread-actions {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}
.post.odd, .post.odd .postfooter, td.odd {
	background: #f0f0f0;
}

.post, .post .postfooter {
	background: #fff;
}
.post {
	border: 1px solid #e4e4e4;
	border-width: 1px 0 1px 0;
	margin-top: -17px;
}

.top_post .post {
	margin-top: 0;
	border: none;
}

.post .postbody .postbody-title #post_header {
	float: none;
}

#post_header .author,
#post_header .posted-text {
	float: left;
	background: #f5f4f3;
	color: #afaba3;
	font-family: verdana;
	font-weight: bold;
	font-size: 10px;
	margin: 0 2px 0 0;
	border-bottom: solid 2px #e4e4e4;
	margin: 8px 0 0 0;
	padding: 25px 7px 7px 15px;
}

#post_header .author {
	margin-right: 1%;
	width: 21%;
}

#post_header .posted-text {
	width: 71%;
}

.post .author {	
	float: left;
	width: 25%;
	text-align: left;
	vertical-align: top;
}

.post .author_info .icons .actions {
	margin-right: 10px;
}

/* NEEDS TPL MOD */
.post .author_post_info {}

/* NEEDS TPL MOD
.post .author_post_info_on {
	width: 99%;
	border-top: solid 1px #e7e7e7;
	border-bottom: solid 1px #e7e7e7;
	font-family: verdana;
	font-size: 1em;
	color: #807970;
	padding: 10px 0 10px 15px;
}*/

.post .author_post_info_by {
	color: #1e4262;
	font-size: 1em;
	font-weight: bold;
}
.post .author_post_info_by a i {
	display: block;
	padding: 3px 0;
	text-decoration: none;
	font-style: normal;
}
.author_posts {
	color: #807970;
	font-style: italic;	
	font-weight: normal;
}

.commentStyle_headers .author_info { float: left; }
.post .content .actions {
	position: static;
	float: none;
	margin-top: 10px;
	margin-left: 15px;
	display: block;
	vertical-align: top;
}
.post .content .actions a {
	vertical-align: bottom;
}
.post .postbody .content {
	padding: 0 3px 10px 3px;
	text-align: left;
	color: #000000;
}

.post .postcontent p,
.post_preview p {
line-height:1.5em;
padding-bottom:20px;
}

.post .postbody-content, .post .author {
	padding: 10px 0;
}
.post .postbody-content {
	float: left;
	width: 72%;
	padding-left: 15px;
	margin: 0;
	color: #4b4742;
	font-size: 1.1em;
}

.post .postbody-content p, .post_preview p {
	padding-bottom: 20px;
	line-height: 1.5em;
}

.post .postbody-content h3 {
	font-size: 1.2em;
	font-weight: bold;
}

.post .postbody .attachments {
	clear: both;
	margin: 5px 0 0;
	padding: 13px 0 0 10px;
	border-top: 1px dotted #D9D9D9;
}
.post .postbody .attachments img { vertical-align: text-bottom; }
.post .postfooter .actions, .post .postfooter .status {
	font-family: verdana;
	display:inline;
	margin-left: 5px;
	vertical-align: top;
}
.post .postfooter {
	font-size: 10px;
	width: 100%;
	float: right;
	text-align: right;
	border-bottom: 1px solid #e4e4e4;
}
.post .inner > .postfooter { clear: both; }
.post .contribution {
	background-color: #F0F8FF;
	border: 1px solid #D7E5F3;
	padding: 0 2px 0 2px;
}

.post .avatar {
	margin-left: 15px;
	padding: 0;
}

.post .avatar img {
	width: 45px;
	height: 45px;
	border: 1px solid #000;
}
#editpost2 {
	width: 75%;
}

#commentshelp {
	float: right;
	width: 22%;
	color: #4b4743;
	margin-top: -30px;
}

#commentshelp h3 {
	font-size: 1.1em;
	font-weight: bold;
        margin-bottom: 5px;
}

#commentshelp p {
	font-size: 1em;
	line-height: 1.5em;
	padding-bottom: 5px;
}

#commentshelp p small {
	font-size: 0.9em;
}

.attach-file-area {
	padding-top: 20px;
}

.attach-file-area label, .post-comment-yourname label {
	color: #4b4742;
	font-size: 1.3em;
}

#attach-file, #anonymous_name {
	width: 220px;
}

.post-comment-actions {
	margin: 10px -19px 0 -16px;
	padding: 10px 19px 10px 16px;
	border-bottom: 1px solid #e4e4e4;
	border-top: 2px solid #fff;
	text-align: right;
	font-family: verdana;
	color: #4b4742;
}

.post-comment-actions #watch_thread {
	margin-top: -3px;
}

.post-comment-actions-label {
	color: #afaba3;
	font-size: 0.9em;
	padding-top: 3px;
	font-weight: bold;
	float: left;
}

.post-comment-actions img {
	vertical-align: middle;
}
.post-comment-yourname {
	margin-top: 2em;
	margin-bottom: 1em;
}
.post-comment-setthreadwatch {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 30px;
	line-height: 1.8em;
}
.post_preview {
	margin-bottom: 3em;
}
.post-new-thread-notice {
	color: #4b4742;
	font-size: 1.2em;
	line-height: 1.5em;
	display: block;
	padding-bottom: 20px;
}

#time_control {
	padding: 20px 0 10px 15px;
	font-family: verdana;
	font-size: 0.9em;
}

#time_control small {
	font-size: 0.9em;
	color: #afaba3;
	font-weight: bold;
	padding-right: 8px;
}

#forumpostopen {
	display: block;
	background: #edf7fa;
	margin-top: -10px;
	padding: 40px 19px 0 16px;
}

#forumpostopen h2 {
	font-size: 2em;
	font-weight: normal;
	color: #4b3742;
	margin: 0 0 15px;
	padding: 0;
}


/**** Image Galleries ****/

/***** File Galleries *****/
.opaque {
	color: /*opaquecolor*/;
	background: /*opaquebackgroundcolor*/;
	border: 1px solid /*opaquebordercolor*/;
	padding: 3px}

.opaque .box-title {
	padding-bottom: 2px;
	border-bottom: 1px solid /*opaquetitleborderbottomcolor*/}

/***** Trackers *****/

/***** Categories, Tags *****/

/***** Tags (freetags) *****/
div.freetagitemlist {
	background: /*freetagitemlistbackgroundcolor*/;
	border: 1px solid /*freetagitemlistbordercolor*/;
	margin-bottom: 30px;
	padding: 0 0 10px}

/*****  Polls  *****/

/***** FAQs *****/

/***** Quizzes *****/

/***** Shoutbox *****/

/***** Directory *****/
.dirsite {
	background: /*dirsitebackgroundcolor*/;
	border: 1px solid /*dirsitebordercolor*/;
	margin-bottom: 30px;
	padding: 0 0 10px}

/***** Messages *****/

/***** TikiSheets *****/


/***** Calendar *****/
.caldark {
	background: /*caldarkbackgroundcolor*/;
	border: 0}

.caldark .calfocus {background: /*caldarkcalfocusbackgroundcolor*/}
.calodd, .caleven {border: 1px solid /*caloddcalevenbordercolor*/}
.calodd .calfocus {background: /*caloddcalfocusbackgroundcolor*/}
/*.calodd .calfocus, .calodd .calfocuson*/
.caleven .calfocus, .caleven .calfocuson {background: /*calevencalfocusbackgroundcolor*/}

/***** Admin *****/
a.admbox {
	background: /*admboxbackgroundcolor*/ no-repeat center center;
	border: 1px solid /*admboxbordercolor*/}
	
a.admbox:hover {
	background: /*admboxhoverbackgroundcolor*/ no-repeat center center;
	border: 1px solid /*admboxhoverbordercolor*/;
	color: /*admboxhovercolor*/;
	text-decoration: none}

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/

/***** New (unsorted) *****/

/***** End New (unsorted) *****/

/* End of File */




