@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");
/* Spacelab theme newsletter stylesheet */
.margin-bottom-xs {
  margin-bottom: 5px;
}
.margin-bottom-sm {
  margin-bottom: 10px;
}
.margin-bottom-md {
  margin-bottom: 20px;
}
.margin-bottom-lg {
  margin-bottom: 40px;
}
body {
  background: #ffffff;
  color: #666666;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px;
}
a,
a:visited {
  color: #3399f3;
  text-decoration: underline;
}
a:hover {
  color: #3399f3;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #2d2d2d;
}
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-default {
  border-color: #dddddd;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #dddddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #dddddd;
}
.panel-primary {
  border-color: #446e9b;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #446e9b;
  border-color: #446e9b;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #446e9b;
}
.panel-primary > .panel-heading .badge {
  color: #446e9b;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #446e9b;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #468847;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #3a87ad;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.panel-warning {
  border-color: #fbeed5;
}
.panel-warning > .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #fbeed5;
}
.panel-warning > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #c09853;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #fbeed5;
}
.panel-danger {
  border-color: #eed3d7;
}
.panel-danger > .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eed3d7;
}
.panel-danger > .panel-heading .badge {
  color: #f2dede;
  background-color: #b94a48;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #eed3d7;
}
