/* $Id$
	Jqui theme (jqui.css), Element theme option (element.css)
	for Tiki Wiki CMS/Groupware.
	Thanks to garkpit for the random name.
	Visit http://themes.tiki.org for more information.
*/

a, a:visited {
	color: #000;
}
 
a:active, a:hover {
	color: #888;
}

#top a, #top a:visited {
	color: #2A5385;
}
 
#top a:active, #top a:hover {
	color: #7195C1;
}

h1,h2,h3,h4,h5,h6, #top .pagetitle a {
	color: #7195C1;
}

#top .pagetitle a {
	color: #4678B4;
}

span.button a,
span.button a:visited,
button,
input[type="reset"],
input[type="submit"],
span.button input,
.calbuttonBox a {
    border: 1px solid #777;
    font-weight: bold;
    color: #555555;
}

span.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
span.button input:hover,
.calbuttonBox:hover {
    border: 1px solid #666;
    font-weight: bold;
    color: #212121;
	background-color: #ea6;
}
    
#tiki-top {
	padding: 0 .3em 0;
	margin: 0.6em 0.9em 0.6em;
}

#tiki-top .cssmenu_horiz {
    line-height: 0;
}

