/* $Id$
	Jqui theme (jqui.css), Flat theme option (flat.css)
	for Tiki Wiki CMS/Groupware.
	Thanks to garkpit for the random name.
	Visit http://themes.tiki.org for more information.
	(This file was edited directly, not produced by the Less pre-compiler.)
*/

.btn,
.btn-default,
.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input {
	background-image: none;
}

.btn:hover,
.btn-default:hover,
.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
	background-image: none;
}
	
.highlight,
.highlight a {
	background-image: none;
}

#tiki-top,
.panel-heading,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	background-image: none;
}

.panel-default > .panel-heading,
h3.box-title,
.cbox-title {
	background-image: none;
}

.postbody-title {
	background-image: none;
}
	

/* End of File */