/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme/doxygen.css,v 1.2 2003-11-07 23:49:06 zaufi Exp $
 *
 */

/* Div with inlined doxygened documentation file */
div.integrated-page {
    color: WindowText;
    background-color: ThreeDHighlight;
    border: 2px ridge WindowFrame;
    padding: 4px;
}

/* Main (on page top) index */
div.integrated-page div.qindex {
    font-size: small;
    text-align: center;
    margin-bottom: 2px;
}

/* Links in main index */
div.integrated-page div.qindex a.qindex {
    text-decoration: none;
}
div.integrated-page div.qindex a.qindexHL {
    color: InfoText;
    background-color: InfoBackground;
    text-decoration: none;
}
/* Hilight links on mouse over */
div.integrated-page div.qindex a.qindex:hover,
div.integrated-page div.qindex a.qindexHL:hover {
    color: HighlightText;
    background-color: Highlight;
    text-decoration: none;
}

div.integrated-page td.indexkey {
    color: WindowText;
    background-color: Window;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    margin: 2px 0px 2px 0px;
}
div.integrated-page td.indexvalue {
    color: WindowText;
    background-color: Window;
    font-style: italic;
    padding: 2px 10px 2px 10px;
    margin: 2px 0px 2px 0px;
}

div.integrated-page td.memItemLeft,
div.integrated-page td.memItemRight,
div.integrated-page td.mdescLeft,
div.integrated-page td.mdescRight {
    font-size: small;
}

div.integrated-page span.keyword       { color: #0000b0 }
div.integrated-page span.keywordtype   { color: #604020 }
div.integrated-page span.keywordflow   { color: #0000b0; font-weight: bold; }
div.integrated-page span.comment       { color: #800000 }
div.integrated-page span.preprocessor  { color: #806020 }
div.integrated-page span.stringliteral { color: #002080 }
div.integrated-page span.charliteral   { color: #008080 }
