/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme/notheme-article.css,v 1.2 2003-10-06 22:48:29 zaufi Exp $
 *
 * Styles used by articles subsystem
 *
 */

/* Div with title of article (abover heading) */
div.articletitle {
    color: HighlightText;
    background-color: Highlight;
    padding: 4px;
    border: 3px ridge WindowFrame;
    border-bottom: none;
}
/* Line of title */
span.titlea {
    font-weight: bold;
}
/* Line of 'by' and 'when' */
span.titleb {
    font-family: sans-serif;
    font-size: small;
}
/* Heading of article (sarting text with picture) */
div.articleheading {
    color: WindowText;
    background-color: ThreeDHighlight;
    padding: 10px;
    border: 3px ridge WindowFrame;
    border-top: none;
}
div.articlebody {
    color: WindowText;
    background-color: ThreeDHighlight;
    padding: 10px;
    border: 3px ridge WindowFrame;
}

div.articletrailer {
    font-size: small;
    margin-bottom: 10px;
}
