/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme/notheme-debug.css,v 1.5 2003-08-09 18:47:12 zaufi Exp $
 *
 * Debug console used styles.
 *
 */

div#debugconsole {
	position: absolute;
	background-color: ThreeDShadow;
	color: ThreeDHighlight;
	top: 20px;
	left: 5px;
	min-height: 200px;
	max-height: 500px;
	height: 500px;
	min-width: 700px;
	max-width: 700px;
	width: 700px;
	z-index: 5;
	padding: 5px;
	border: 3px ridge WindowFrame;
	font-size: small;
}

div.debugger-tab {
	position: relative;
	bottom: 0px;
	right: 0px;
	width: 99%;
	max-height: 72%;
	height: auto;
	overflow: auto;
	margin-top: 20px;
}

/* Tables that can appear in debugger console */
div.debugconsole table#watchlist,
div.debugconsole table#features,
div.debugconsole table#tikitables,
div.debugconsole table#log,
div.debugconsole table#sqltable,
div.debugconsole table#permissions {
	color: ThreeDHighlight;
	border: 1px solid ThreeDLightShadow;
	border-left: none;
	border-right: none;
	background: none;
	border-collapse: collapse;
	border-spacing: 0px;
}

/*
 * Table elements in debugger console
 */
div.debugconsole td.heading {
	border: 1px solid ThreeDDarkShadow;
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: ThreeDShadow;
	color: ThreeDHighlight;
	vertical-align: top;
}

div.debugconsole td.even,
div.debugconsole td.odd {
	border: 1px solid ThreeDDarkShadow;
	border-left: none;
	border-right: none;
	border-bottom: none;
	background-color: ThreeDShadow;
	color: ThreeDHighlight;
	vertical-align: top;
}
/* Do not show any borders for first row */
div.debugconsole * td[id = "firstrow"] {
	border: none;
}
/* Internal vertical border in watch list table */
div.debugconsole table#watchlist td + td {
	border-left: 1px solid ThreeDDarkShadow;
	padding-left: 5px;
}

div.debugconsole table#sqltable td + td {
	border-left: 1px solid ThreeDDarkShadow;
}

/*
 * Permissions/Features table
 */

/* State of permission/feature in table */
span.on-option {
	color: ThreeDLightShadow;
}

span.off-option {
	color: ThreeDDarkShadow;
}

span.on-option:hover {
	color: ThreeDHighlight;
}

span.off-option:hover {
	color: ThreeDFace;
}

/* Debugger error massage */
span.dbgerror {
	color: red;
	display: block;
}

span.dbgerror:hover {
	color: black;
	background: #A00000;
}

/* make all text fields full sized */
div#debugconsole * input[type = text] {
	width: 99%;
	font: normal 12px courier, Fixed, monospace;
}

/* Close link */
div#debugconsole.separator,
div#debugconsole.separator:visited,
div#debugconsole.separator:hover,
div#debugconsole.separator:visited:hover {
	color: ThreeDLightShadow;
	text-decoration: none;
}

div#debugconsole td.formcolor {
	background-color: Window;
}
