/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme/notheme-general.css,v 1.5 2003-08-14 00:46:57 zaufi Exp $
 *
 */

/*
 * Following too notes I found at
 * http://www.w3schools.com/css/tryit.asp?filename=trycss_link
 *
 * Note: a:hover MUST come after a:link and a:visited in the CSS
 *       definition in order to be effective!!
 * Note: a:active MUST come after a:hover in the CSS definition
 *       in order to be effective!!
 */

/*
 * General HTML redefinitions
 */
body {
	color: WindowText;
	background: Background;
	margin: 0px;
}

hr {
	border: 1px outset ThreeDShadow;
/*  width: 100%;
  height: 2px;*/
}

/* Headers */
h1 {
	text-transform: uppercase;
}

h2, h3, h4 {
	font-variant: small-caps;
}

h5, h6 {
	font-weight: bold;
}

/* Description on wiki pages */
small {
	font-size: small;
}

/* Prevent forms from generating unwanted padding or margins */
form {
	margin: 0px;
	padding: 0px;
}

/* Code fragments */
pre, code {
	font: normal 12px courier, monospace;
}

pre {
	white-space: pre;
}

/* No borders for images */
img {
	border: none;
}
/* Expand all text editors to max size */
textarea {
	width: 99%;
}

/* Make definition lists looks better */
dt {
    display: compact;
}
dd {
    margin-left: 4em;
}
