/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme/notheme-tc.css,v 1.9 2003-11-15 06:42:15 zaufi Exp $
 *
 */

/*
 * General TIKI layout
 */

/* This div encloses the whole Tiki application */
div#tiki-main {
    height: 100%;
    width: 100%;
    margin: 0px;
}

/* This is the header */
div#tiki-top {
    text-align: right;
    position: absolute;
    right: 200px;
    margin-top: 0px;
    padding: 0px;
}

/* This is the middle */
div#tiki-mid {
    margin-top: 10px;
}

/* And this is the footer */
div#tiki-bot {
    margin-top: 10px;
    font-size: small;
}

div#tiki-bot > table {
    width: 100%;
}

div#tiki-bot > table td {
    vertical-align: middle;
}

/* The three columns (now divs) */
div#leftcolumn {
    position: absolute;
    color: WindowText;
    background: transparent;
    left: 0px;
    top: 5px;
    width: 180px;
    padding: 4px;
}

div#rightcolumn {
    position: absolute;
    color: WindowText;
    background: transparent;
    right: 0px;
    top: 5px;
    width: 180px;
    padding: 4px;
}

/* And this is what lies inside the centercolumn
 * Note: side margins are generated by Smarty!!!
 *       Look into tiki.tpl for details...
 */
div#tiki-center {
    /*  color: WindowText;
      background: AppWorkspace;*/
    padding-left: 2px;
    padding-right: 2px;
    width: auto;
}
div#tiki-center > table {
    width: 100%;
}