/* $Id$
	Adaptation for TikiWiki CMS/Groupware of the GPL-licensed
	LiteJazz theme by Roopletheme (http://roopletheme.com).
	Styling is provided for the topbar and bottombar custom code
	page sections, and there are three color variations available
	as theme options. Because IE7	does not support display:table,
	minimal HTML tables are needed for graphic treatment and column integrity.
	For more information, visit http://themes.tikiwiki.org or
	http://zukakakina.com.
 
	litejazz.css is comprised of these sections:
	XHTML elements, Siteheader & Identity; Menus, Links;
	Misc. Center Col.; Misc. Global; Boxes; Tables, Tabs;
	Wiki (inc. plugins, etc.); Articles; Blogs; Forums;
	Galleries; Trackers; Categories, Tags; Polls; FAQs;
	Quizzes;	Shoutbox; Directory; Messages; TikiSheets;
	Calendar; Admin; and Ajax, jquery, etc.
*/
 
/* Import the default layout properties file: */
 @import "layout/layout.css";

/* And design defaults: */
@import "layout/design.css";
 
/***** XHTML Elements (body tag here,
			others follow Layout) *****/ 
body {
	font: 76%/130% Verdana,Helvetica,Arial,sans-serif;
	color: #292929;
	background: #adadad url(litejazz/bg.png) 0 0 repeat-x}

body.fullscreen {background: #adadad url(litejazz/bg.png) 0 0 repeat-x}

body.fullscreen #tiki-center {
	background: #fff;
	padding: 3em;
	margin-right: 4em;
	margin-left: 4em}

 /***** Layout (overrides layout.css;
		also styling of page layout divs)  *****/
table#main {
	margin-top: 20px;
	margin-bottom: 40px;
	min-width: 760px;
	font-size: 1em}

td#leftmargin {width: 10%}
td#rightmargin {width: 10%}

td#main-header {
	background: #170808 url(litejazz/header.jpg) 100% 0 no-repeat;
	vertical-align: bottom}

tr#midrow {background: #fff url(litejazz/options/blue/body-bg.png) 0 0 repeat-x}

td#leftcolumn {
	width: 180px;
	padding-left: 20px;
	padding-top: 10px}
 
td#centercolumn {
	padding: 1em;
	padding-right: 3em}

td#rightcolumn {
	width: 180px;
	padding-top: 10px;
	padding-left: 10px}

#footer {
	text-align: center;
	font-size: .9em;
	background: #170808; 
	color: #fff}

td#footer .wrapper {padding: 1em}

#footer a:link,
#footer a:visited {color: #adadad}

.block {
	float: left;
	text-align: left}

#botbar_bottom {
	background: #170808 url(litejazz/footer.jpg) 100% 100% no-repeat;
	min-height: 15px}

#botbar_bottom > .wrapper {
	background: url(litejazz/footer.jpg) 0 100% no-repeat;
	margin-right: 15px}
	
#power a,
#power a:visited {color: #fff}

/***** XHTML Elements (other than body tag) ******/
a,
a:visited {
	color: #104A91;
	text-decoration: none;
	font-weight: bold}

a:hover {text-decoration: underline}

h2, h3, h4, h5 {
	padding-bottom: 5px;
	margin: 10px 0}

h1 {font-size: 160%;line-height: normal}
h2 {font-size: 145%}
h3 {font-size: 135%}
h4 {font-size:  110%}
h5 {font-size:  100%}

hr {
	background: #8cacbb;
	color: #8cacbb}

fieldset {
	border: solid 1px #a9a9a9;
	padding: 10px}
	
legend {color: #a9a9a9}

textarea,
body.wikitext {
	color: #292929;
	background: #fff}

input[id=fuser] {line-height: normal}


span.button a,
span.button a:visited,
button,
input[type=reset],
input[type=submit],
span.button input,
.submitbutton,
.calbuttonoff,
.calbuttonon {
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	font-size: 94%;
	font-weight: normal;
	color: #fff;
	background: url(litejazz/bg.png) repeat-x bottom}
	
* html input[type=reset],
* html input[type=submit] {
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	font-size: 94%;
	font-weight: normal;
	color: #fff;
	background: url(litejazz/bg.png) repeat-x bottom}

.button a:hover,
button:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.button input:hover,
.submitbutton:hover {
	background: url(litejazz/bg.png) repeat-x top;
	color: #fff}

* html .findtable input {font-size: 1em}
form.admin input[name="features"] {margin-bottom: 3px !important}
select[name="theme"] {width: 165px}
small {font-size: .9em}
pre {padding: 0.75em 1.5em}

/***** Site Header & Identity *****/
#header-top {
	margin-right: 15px;
	min-height: 78px}

div#sioptions {width: 100%}

div#sitelogo {
	width: 33%;
	margin: auto}

div#sitead {margin: auto}
#sitead.floatright {padding-right: 100px}
#sitead.floatleft {padding-left: 100px}
#siteloginbar {color: #fff}

#sitetitle,
#sitesubtitle {
	color: #fff;
	line-height: normal;
	display: block}

#sitetitle {
	font-size: 2.4em;
	margin-left: 20px;
	margin-top: 10px}

#sitesubtitle {
	font-size: 1.3em;
	margin-left: 20px;
	margin-bottom: 10px}

#tiki-top {
	font-size: 90%;
	background: #292929 url(litejazz/menu-bg.png) repeat-x;
	height: 30px !important}

#tiki-top a,
#tiki-top a:visited {color: white}
#tiki-top a:hover {color: white}

#sitesearchbar {color: #fff}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/
.cssmenu ul,
.cssmenu_vert li ul,
.cssmenu_horiz li ul {
	border-bottom: 1px #aaa solid;
	border-left: 1px #999 solid}
	
.cssmenu ul li,
.cssmenu_vert li ul li,
.cssmenu_horiz li ul li {
	background: #818181;
}
	/*
.cssmenu_vert ul {
	margin-left: 10.9em !important;
}*/

.cssmenu_horiz li:hover,
.cssmenu_vert li:hover {
	background: #104a91;
 	color: #fff;
	text-decoration: none}
	
.cssmenu a,	
.cssmenu_horiz a,
.cssmenu_vert a {
	font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
	display: block;
	text-decoration: none;
	padding: 3px 0 3px 6px;
	color: #fff}

#tiki-top .cssmenu_horiz li a {
	text-decoration: none;
	color: white;
	background: url(litejazz/menu-div.png) 100% 0 no-repeat;
	border-right: #999 solid 1px;
	margin: 0;
	display: block;
	padding: 8px 1em}

#tiki-top .cssmenu_horiz li:hover a {
	color: #fff;
	background: #818181 url(litejazz/menubg-over.png) repeat-x;
	text-decoration: none;
	border-right: #999 solid 1px}
	
#tiki-top .cssmenu_horiz li.menuSection a {padding-right: 20px}
#tiki-top .cssmenu_horiz ul li a {background: #818181 !important}

#tiki-top .cssmenu_horiz ul li:hover a {
	background: #104a91 !important;
 	color: #fff;
	text-decoration: none}
	
#tiki-top .cssmenu_horiz ul li a .sf-sub-indicator {top: 1.2em}
	
.box-data .cssmenu_vert a {
	color: #104A91;
	font-weight: bold}

.box-data .cssmenu_vert a:hover {
	color: #104A91;
	text-decoration: underline}

.box-data .cssmenu_vert ul a {color: #fff}
.box-data .cssmenu_vert li:hover {background: 0}
.box-data .cssmenu_vert ul a:hover {color: #fff; text-decoration: none}
.box-data .cssmenu_vert li ul li:hover {background: #104a91; }

.cssmenu_vert .sf-sub-indicator {
	background: url(litejazz/arrows-467aa7.png) no-repeat;
}

/** PHP Layers Menus **/
.horbar {
	bottom: 0;
	line-height: 30px} 

.horbaritem a,
.horbaritem a:visited {
	text-decoration: none;
	font-size: 1.2em;
	color: white;
	background: url(litejazz/menu-div.png) 100% 0 no-repeat;
	border-right: 1px solid transparent;
	margin: 0;
	line-height: 30px;
	padding-left: 1em;
	padding-right: 1em}

* html .horbaritem a,
* html .horbaritem a:visited {
	padding-top: 7px;
	padding-bottom: 7px}

.horbaritem a:hover {
	color: white;
	background: #818181 url(litejazz/menubg-over.png) repeat-x;
	text-decoration: none;
	border-right: #999 solid 1px} 

.mdksubmenu {background: #fff}

.mdkitem a {
	padding: 2px 10px;
	color: #fff;
	background: #818181;
	border-bottom: 1px #aaa solid;
	border-left: 1px #999 solid;
	font-weight: normal} 

.mdkitem a:link,
.mdkitem a:visited {
	font-weight: normal;
	text-decoration: none} 

.mdkitem a:hover {
	background: #104a91;
 	color: #fff;
	text-decoration: none}

.phplmnormal,
a.phplmnormal:hover,
a.phplm:link,
a.phplm:visited,
a.phplm:hover,
a.phplm:active {
	font: 100% Verdana, Tahoma, Arial, sans-serif;
	color: #303030;
	text-decoration: none;
	font-weight: bold}

a.phplm:visited {color: #726461}
a.phplm:hover {color: #808080}
a.phplm:active {color: #ff0000}

a.phplmselected:link,
a.phplmselected:visited,
a.phplmselected:hover,
a.phplmselected:active {
	font: 100% Verdana, Tahoma, Arial, sans-serif;
	color: black;
	text-decoration: underline;
	font-weight: bold}

a.phplmselected:hover {color: #808080}

/** Links in other menus **/

/***** Misc. Center Col. *****/
div#tiki-bot {
	text-align: center;
	font-size: .9em;
	background: #170808; 
	color:#fff}
	
a.flip,
a.flip:visited,
div.tellafriend a,
div.tellafriend a:visited {
	color: #ADBAC3;
	text-decoration: none}

a.flip:hover,
div.tellafriend a:hover {color: #505050}

.fullscreen .tellafriend {
	margin-right: 40px;
	margin-top: 1em}

/* LiteJazz top section */
#topbar_custom_code {
	background: #104A91 url(litejazz/topbar_custcode-blue.png) 0 0 repeat-x !important;
	color: #F0F0F0}

div#botbar_custom_code {
	background: #170808 url(litejazz/botbar_custcode.png) repeat-x;
	font-size: 1.2em}
	
* html div#botbar_custom_code {height: 50px}

#botbar_custom_code .codewrapper {
	min-height: 50px}

#topbar_custom_code .block,
#botbar_custom_code .block {
	float: left;
	clear: 0;
	display: block}

#topbar_custom_code .block .wrapper,
#botbar_custom_code .block .wrapper {
	padding: 20px 10px 15px 20px}

#topbar_custom_code h2,
#botbar_custom_code h2 {
	color: #fff;
	font-size: 1.3em}

#topbar_custom_code a,
#topbar_custom_code a:link,
#topbar_custom_code a:visited,
#botbar_custom_code a,
#botbar_custom_code a:link,
#botbar_custom_code a:visited {color: #FFCD06}

#topbar_custom_code #block_left {}
#topbar_custom_code #block_center {}
#topbar_custom_code #block_right {}
#botbar_custom_code #block_left {}
#botbar_custom_code #block_center {}
#botbar_custom_code #block_right {}


/****** Misc. Global ****/

/***** Boxes *****/
/** Modules **/
div.box {
	width: 170px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px}

h3.box-title {
	color: #104A91;
	position: relative}

.box-title a,
.box-title a:link {
	color: #104A91}

* html img.flipmodimage,
.box:hover img.flipmodimage {
	height: 13px;
	width: 13px;
	border: 1px solid transparent;
	background: #fff}

* html img.flipmodimage {border: 0}
img.flipmodimage:hover {border: 1px solid #aaa !important}

.box-data {margin-right: .5em}

/** Other boxes **/

.rbox {margin-bottom: 10px}

.rbox-title,
.rbox-data {
	border-color: #e1e1e1;
	background: url(litejazz/body-bg.png) repeat-x}
	
.rbox-title {}
.rbox-data {}

div.simplebox {
	margin-bottom: 8px;
	padding: 3px;
	border: 1px solid #a9a9a9;
	background: url(litejazz/options/blue/body-bg.png) repeat-x}

/***** Tables, Tabs *****/
/** Tables **/

table.normal, 
table.admin,
table.sortable,
table.admin tr td div#page-bar {
	border: 1px solid #909090;
	border-collapse: collapse;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	text-align: left}

/* Check ?? */
td#centercolumn table {width: 90%}

.findtable {font-size: 90%}

.findtable input,
.findtable select {font-size: inherit}

tr.odd td,
td.odd {
	background: #F5F5F5;
	border-right: 1px solid #DDDDDD}

tr.even td, 
td.even {
	background: #ECECEC;
	border-right: 1px solid #DDDDDD}

.normal td,
td.normal,
.sortable td,
.wikitable td {
	border: solid 1px #dddddd;
	border-collapse: collapse;
	margin: 0;
	padding: 0.2em;
	vertical-align: top}
	
th,
td.heading  {
	background: #DCDCDC;
	border: solid 1px #909090;
	border-collapse: collapse;
	font-size: 1em;
	font-weight: bold}

td.form {padding: 0.2em}

/** Tabs **/
.tabs {
	border-bottom: solid 1px #93c9db;
	margin-bottom: -18px}

.tabmark {
	background: #abcdef;
	border: 1px solid #225566;
	border-bottom: 1px solid #abcdef}

.tabmark a {color: #000}

.tabmark a:active {
	background: #fff;
	color: red}

.tabmark a:hover {
	color: black;
	background: #f0f9ff}
	
.tabactive {
	background: #104a91;
	border-color: #696969}
	
.tabactive a:hover {
	background: #abcdef;
	color: #fff}

.tabactive a {color: #fff}

.tabinactive {
	border-color: gray}

.tabcontent {
	padding-top: 18px;
	background: #f0f9ff}

.tabcontent table {
	margin: 1% auto 2% auto; 
	text-align: left;
	width: 95%}

.tabcontent table td {padding: 5px}

/***** Wiki *****/

body.tiki_wiki #comments {padding: 1em}

h1 a.pagetitle,
h1 a.pagetitle:visited {font-size: 1.2em}

h1 a.pagetitle:hover {}

#description,
.description {
	font-size: .9em;
	font-style: italic}

div.wikitopline {
	width: 90%;
	margin-bottom: 8px}

#pageid {
	float: left;
	clear: both}

#cachedpage {
	float: right;
	font-size: small}

.categpath {}
.wikitext {}

.wikitext h2, 
.wikitext h3, 
.wikitext h4,
.wikitext h5{
	margin: 0 0 15px;
	padding: 0}

.wikitext ul li {} 
.wikitext ul li ul li {}
.wikitext ol {}

.titlebar {
	padding: 0.1em;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin: 10px 0 10px 0}

table.wikitable {
	border: 1px solid #a9a9a9;
	border-collapse: collapse}
 
td.wikicell {
	padding: 3px;
	border: 1px solid #999;
	border-collapse: collapse}

.editdate {padding-bottom: 5px}

div#page-bar {
	display: block;
	margin-top: 0}

#page-bar span {float: left}

ul.floatleft {
	display: block;
	list-style: 0;
	padding: 0;
	text-align: left;
	height: 20px;
	margin-top: 0}

ul.floatleft li {
	float: left;
	padding: 4px 2px}

.editdate ul.floatleft {
	margin-top: 8px}
 
span.button2,
div.button2,
.button3 {margin-right: 5px}

/* First of these from han.css - Check ?? */
.navbar .linkbut:hover,
div.button2 a:hover, .button3 a:hover {}

/* From han.css - Check ?? */
#page-bar p span.button2 {} 
#page-bar table a.linkbut {}
 
.linkbut {}
.linkbut:hover {}
div.cache {}
div.cachedpage {}
.wikicache, .wikicache:visited {}
.wikicache:hover {}
.wiki {}
.wikinew {}

.wiki-edithelp {
  display: 0}

#wikihelp-tab table,
#wikihelp-tab table td {
	border: solid 1px #909090;
	border-collapse: collapse}

#wikihelp-tab table td {padding: 2px}

textarea.wikiedit {}
p.editdate {}
div.wiki-edithelp {}
img.externallink {}

/* Needed esp. for light-on-dark theme */
div.quicktag {}
div.quicktag img,
#wikihelp-tab td img {}
div#helptool {}

/* Wiki plugins */

/* code plugin  */
div.code {
	font-size: 90%;
	padding: 3px;
	border: 1px dashed #ccc;
	background: #F5F5F5;
	font-family: "Courier New", Courier, monospace}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	background: #F5F5F5;
	margin: 4px;
	border: 1px dashed #ADACAF;
	overflow: auto; 
   width: 500px}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #ADACAF;
	border-bottom: 0;
	margin: 0;
	color: #666;
	background: #F5F5F5;
	font-weight: bold}

/* Quote plugin */
div.quoteheader {margin-left: 20px}
div.quotebody {font-style: italic}
table.wikiplugin-split {border: 0}

/** Wiki tocs **/
div.tocnav {
	background: #EBEBEB;
	padding: 3px;
	margin-bottom: 4px;
	clear: both}
 
#tocnavicons {	float: left}
#tocnavaddpage{float: right}
#tocnavlinks {clear: both}
.fancytoclevel {list-style-image: url(../img/icons/footprint.gif)}
li.toclevel {margin-left: 2em}

/* TOC */
ul.toc {
	padding-left: 2em;
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
	margin-bottom: 4px}

ul.toc * {border: 0}

/* Wiki diff styles */
.diff td {border: 1px solid #A9B8C2}
.diff div {border-top: 1px solid #A9B8C2}
.diffheader {background: #A9B8C2; font-weight: bold}
.diffadded {background: #CCFFCC}
.diffdeleted {background: #FFCCCC}
.diffinldel {background: #FFCCCC; text-decoration: line-through}
.diffbody {background: #F2F4F5}
.diffchar {color: red}


/***** Articles ****/

div.article {margin-bottom: 40px}

div.articletopline {
	font-size: 90%;
	font-style: italic}

div.articletitle {
	margin-top: 6px;
	margin-bottom:	15px;
	text-align:	left}
 
div.articletitle h2 {
	font-size: 1.5em;
	font-weight: normal}

span.titleb {
	font-size: 0.9em;
	color: #104A91}
 
div.articlesubtitle {font-size: 0.9em}
div.articleheading {
	margin: 6px 0;
	border-bottom: 1px solid #f5f5f5}
div.articleheadingtext {}

img.topicimage,
img.articleimagenofloat,
img.articleimage {
	padding: 2px 0;
	margin-bottom: 10px}

img.articleimagefloat {
	margin-right: 4px;
	float: left;
	padding: 2px 0;
	margin-bottom: 10px}

img.articleimage {
	margin-right: 4px;
	float: left;
	clear: right;
	padding:2px 0;
	margin-bottom: 10px}

div.articletrailer {text-align: right}
div.articletrailer .wikitopline {float: left}
.trailer {}
.trailer:hover {}
div.articlebody {}
 
div.articlesource {
	margin-top: 5px;
	font-style: italic;
	font-size: 90%}


/***** Blogs *****/
div.blogheading {
	display: block;
	width: 100%;
	clear: both}

div.blogtitle {
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
	margin-top: 10px;
	font-weight: bold;
	line-height: 80%}

div.blogdesc {
	display: block;
	padding: 8px;
	margin-top: 8px;
	margin-left: 6px;
	border: 1px solid #dddddd}

div.bloginfo {
	text-align: center;
	display: block;
	padding: 3px;
	line-height: 150%;
	text-transform: 0}
	
* html .bloginfo table {font-size: 11px}

div.blogtools {
	padding: 3px;
	text-align: right}

.blogpost {}
 
/*.postinfo div a img,*/
a.blogt,
a.blog:visited {
	border: 0;
	text-decoration: none}

a.blogt:hover {
	color: #FFF;
	border-bottom: 1px dotted #FFF}

.postinfo {
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1.2em}

.postinfo a {
	color: #9CF;
	text-decoration: none;
	border-bottom: 1px dotted #9CF}

div.postinfo a.linkmodule {}
.postinfo div {margin-top: 30%}
.small {}

div.posthead {
	text-align: left;
	padding: 3px;
	color: #104A91}

span.posthead {
	display: block;
	font-weight: normal;
	font-size: 85%}
 
div.posthead h3 {
	/*font-size: 1.2em*/}
 
div.postbody {
	margin: 0}
	
* html .postbody table {font-size: 11px}

div.postfooter {
	clear: both;
	float: right;
	margin-bottom: 2em}


/***** Forums *****/
body.tiki_forums table.normal {margin: auto}
#forumpost {display: 0}
#forumpostopen {display: block}

.post {clear: both}

.post .postbody {
	clear: both;
	border: 1px solid #DDD;
	border-collapse: collapse;
	text-align: left}
	
* html .post .postbody {font-size: 11px}

.postbody .content {
	padding: .3em}
	
.postbody .content p {}
 
.post .postbody-title {
	display: block;
	background: #DCDCDC; 
	padding: 2px}

.post .postbody-title .checkbox {float: left}

.post .postbody-title .title {font-weight: bold}
.title h2 {padding: 0; margin: 0}
.postbody-title br.clear {height: 1px !important}

.post .postbody-title .title a.link {}

.post .author {
	float: left;
	background: #ECECEC;
	width: 30%;
	margin: -0.3em 10px 10px -0.3em;
	padding: .3em}

.post .author_post_info {}	
.post .author_post_info_by {font-weight: bold}
.post .author_info .icons {}
.post .author_info .icons .actions {}
.post .author_post_info_on {font-style: italic}
.post .author_info {}
.commentStyle_headers .author_info {}
.post .postbody-title .actions {text-align: right}
.postbody-content {padding: 6px}
.post .postbody .attachments {}
.post .postbody .attachments img {vertical-align: text-bottom}

.post .postfooter .actions,
.post .postfooter .status {}

.post .postfooter .status {}
.post .postfooter {}
.post .inner > .postfooter
.post .contribution
.post .avatar
.sub_comment {}
.sub_comment_area {}

.forum_actions {
	background: #ECECEC;
	padding: .3em;
	margin-bottom: 3px}

.forum_actions .actions {
	background: #ECECEC;
	padding: 3px;
	vertical-align: middle}

.forum_actions .actions .action {margin-right: 10px}
.forum_actions .headers {vertical-align: bottom}

.forum_actions .headers .title {
	float: left;
	background: #ddd;
	border: 1px solid #a9a9a9;
	border-bottom: 0;
	padding: 1px}

.forum_actions .headers .infos {
	float: right;
	font-size: smaller;
	padding-top: 2px}

.thread_pagination {
	text-align: center;
	margin-bottom: 10px}

.nb_replies {white-space: nowrap}
.post_preview, .top_post {margin-bottom: 15px}
/*.post .postbody .signature {float: left}*/

/* Comments */	

form#editpostform table.normal td {border: 0 !important}

#comzone {
	display: 0;
	margin: 5px 0;
	padding: 0}
 
#comzoneopen {
	display: block;
	margin: 5px 0;
	padding: 0}
 
span.commentstitle {
	font-weight: bold;
	font-size: 1em}
	
textarea#editpost2 {
	width: 100%}

/* Find */
.subcomment {margin-left: 10px}

/* Help box*/
div.commentsedithelp {}

/**** Image Galleries ****/
table.galtable {
	border-collapse: collapse;
	border: 1px solid #696969;
	width: 100%}

* html body table.galtable {width: 97%}
body.tiki_galleries table.findtable {display: inline}

div.browsegallery {
	text-align: center;
	width: 100%}

div#browse_image {width: 100%}

div.showimage {
	width: 100%;
	text-align: center;
	padding: 6px}

td.oddthumb {border-collapse: collapse}
td.eventhumb {border-collapse: collapse}

td.eventhumb img {
	margin-left: 6px;
	margin-right: 6px}

img.athumb {
	border: 0;
	margin: auto}

/***** File Galleries *****/

/***** Trackers *****/

/***** Categories, Tags *****/

/***** Tags (freetags) *****/
	
/*****  Polls  *****/

/***** FAQs *****/

/***** Quizzes *****/

/***** Shoutbox *****/
div.shoutboxmsg {margin-bottom: 0;padding: 4px;padding-bottom: 1px}
div.shoutboxmodmsg {margin: 0 5px 4px 5px;padding-top: 5px;padding-bottom: 1px}
textarea.tshoutbox{width: 162px}
.wiki-table {}
.wiki-tr-a td {border: 0}
.wiki-tr-b td {border: 0}

/***** Directory *****/
div.dircategs {
	border: 1px solid #8cacbb;
	padding: 5px}

.dirlink {}
.dirsublink {font-size: .95em}

div.dirlistsites {
	padding: 5px 0 10px 5px;
	margin-top: 10px}

div.dirsite {
	margin-bottom: 10px;
	padding: 4px}
span.dirsitedesc {}

span.dirsitetrail {
	font-size: 95%}

span.dirsitecats {
	font-size: 95%}

.dirsitelink {}
div.dirrelated {margin-top: 10px;padding: 5px}
td.dirfooter {font-size: .95em}
div.dirfooter {margin-top: 10px}

/***** Messages *****/

/***** TikiSheets *****/
table.default	thead	td,	table.default	tfoot	td {
	font-weight:		bold;
	text-align:			center;
	background: black;
	color: #D8D8D8}

table.default	td {
	border: solid 1px #a9a9a9;
	background: black}

/***** Calendar *****/
.calodd {background: #eee}
.caleven {background: #f9f9f9}

.Cal0, 
.Cal1, 
.Cal2 {
	color: #000;
	font-size: 90%}
	
.Calart,
.Calblog,
.Calchart,
.Caldir,
.Caleph,
.Calfaq,
.Calfgal,
.Calforum,
.Calgal,
.Calnl,
.Calquiz,
.Calsurv,
.Caltrack,
.Calwiki {
	font-size: 1em}

.Calart,
.Calart a,
.Calart a:visited {
	color: #FA8072}

.Calblog,
.Calblog a,
.Calblog a:visited {color: #DA70D6}

.Calchart,
.Calchart a,
.Calchart a:visited {color: #304F30}

.Caldir,
.Caldir a,
.Caldir a:visited {color: #800080}

.Calfaq,
.Calfaq a,
.Calfaq a:visited {color: #822222}

.Calfgal,
.Calfgal a,
.Calfgal a:visited {color: #8B4513}

.Calforum,
.Calforum a,
.Calforum a:visited {color: #808000}

.Calgal,
.Calgal a,
.Calgal a:visited {color: #8B4513}

.Calnl,
.Calnl a,
.Calnl a:visited {color: #708090}

.Calquiz,
.Calquiz a,
.Calquiz a:visited {color: #5F9EA0}

.Calsurv,
.Calsurv a,
.Calsurv a:visited {color: #DAA520}

Caltrack,
Caltrack a,
Caltrack a:visited {color: #00BD02}

.Calweb {font-size: 1em}
.Calweb:hover {color: #996633}

.Calwiki,
.Calwiki a,
.Calwiki a:visited {color: #2C4B80}

.calcontent a.linkmenu,
.calcontent a.linkmenu:hover {
	background: 0;
	padding: 0}

.calfocus {
	font-size: 90%;
	background: inherit}

.caldark .calfocus {background: inherit}

.calfocuson + .calcontent {background: #e6eff8}

.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {color: #393e51}


.caltoggle {font-size: 90%}

/* This version for light-colored backgrounds */
.opaque {
	background: #fff;
   border-left: 1px solid #a9a9a9;
  	border-top: 1px solid #a9a9a9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969}

.opaque .box-title {
	background: white;
	border-bottom: 1px solid black}

.opaque .box-data  {
	background: white}

.searchresults {
	display: inline}


#caltable .calfocuson,
.box-data td.fc a.today,
.box-data td a.today {
	background: #D4D0C8;
	border: solid 1px #696969}

#caltable .calfocuson a {
  color:#000}

#caltable .calfocus a,
#caltable .calfocuson a {
  text-decoration:none}

.day, .day:visited {}
.today {}
.nav {}
.changedate {}
.date {}
/* Override calendar.css */
.caleven {}
.calodd {}
.caldark .calfocus {}

/* Check these, from here... */
.calinput {background: #3f3f3f}
.calfocuson + .calcontent {background: #F5F5F5}
.days {color: #D8D8D8}
#caltable .weeks {color: #D8D8D8}
.addevent {padding: 0 5px; float: right}
* html .addevent {padding: 0}
.calodd, .caleven {border: 1px solid #999}
.calodd {background: #a9a9a9}
* html .calodd {padding: 0}
.caleven {background: #696969}
* html .caleven {padding: 0}
.caldark {background: #3f3f3f}
* html .caldark {padding: 0}
.caldark .calfocus {background: #3f3f3f}
/* ...to here. (from darkroom.css ) ?? */

/***** Admin *****/

a.admbox {
	border: 1px solid #aaa;
	background: #cfcfcf}

a.admbox:hover, a.admbox:focus, a.admbox:active  {
	background: #d3d3d3;
	border: 1px solid #292929}

a.admbox.off {
	border: 1px solid #9f9f9f;
	color: #9f9f9f}

a.admbox.off:hover, a.admbox.off:focus, a.admbox.off:active {
	border: 1px solid #9f9f9f}

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/

.tab-wrapper {
	border: 1px solid #eee;
	padding: 0}

.tab-menu  {
	clear: both;
	line-height: 17px;
	list-style-image: 0;
	list-style-position: outside;
	list-style-type: 0;
	padding: 2px 0;
	margin-bottom: 6px;
	margin-top: 2px;
	width: 100%}

.tab-menu li {
	display: inline;
	margin: 0 2px;
	width: 200px;
	padding-right: 1.5em}

.tab-menu li img {
	vertical-align: middle}
#tab-block-1 h5 {width: 120px; float: left}

.tab-wrapper {
	padding: 0; 
	border: 1px solid #eee; 
} 
.tab-menu {
	list-style: 0; 
	padding: 2px 0; 
	clear:  both; 
	line-height: 17px; 
	font-size: 12px; 
} 
.tab-menu li {
	width: 200px; 
	display: inline; 
	margin: 0 2px; 
} 
.tab-menu li a 	{
	padding: 1px 5px; 
	background: #f5f5f5; 
	color:  #222; 
	font-weight: bold; 
	text-decoration: none; 
} 
.tab-menu li a:hover, 
.tab-menu li a:focus {
	background: #FAEC8F; 
	border-bottom-color:    #999; 
} 
.tab-menu li a:hover {
	background: #FAEC8F; 
	border-bottom-color: #999; 
} 
.tab-menu li.tab-selected a {
	background: #BCEC8F; 
}

/***** New (unsorted) *****/

/***** End New (unsorted) *****/

/* End of File */




