/** CSS (suckerfish) menus **/
.cssmenu,
.cssmenu ul,
.cssmenu_horiz,
.cssmenu_horiz ul,
.cssmenu_vert,
.cssmenu_vert ul {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1;
	overflow: visible}

.cssmenu ul,
.cssmenu li,
.cssmenu_horiz ul,
.cssmenu_horiz ul li,
.cssmenu_vert,
.cssmenu_vert ul,
.cssmenu_vert li {width: 11em}

*:first-child+html body .cssmenu_horiz li {width: 11em}

.cssmenu li,
.cssmenu_horiz li,
.cssmenu_vert,
.cssmenu_vert li,
.cssmenu_vert ul,
.cssmenu_vert ul li {float: left}

/* helpful for ie6 */
.cssmenu li,
.cssmenu_horiz li,
.cssmenu_vert li {
	position: relative;
	height: 100%;
	list-style: none}
	
.cssmenu_horiz li:hover,
.cssmenu_vert li:hover {/*background: #dedede*/}

.cssmenu ul,
.cssmenu_vert ul,
.cssmenu_horiz ul {
	position: absolute;
	left: -999em;
	z-index: 751}
	
.box-data .cssmenu_vert {padding-right: 0 !important}

.cssmenu_vert li ul,
.cssmenu_vert li.sfhover ul,
.box-data .cssmenu_vert li ul { /* second-level lists */
	margin-left: 10.9em;
	margin-top: -1.5em;
	/*padding-bottom: 1px; enable border to show */}

/*.cssmenu li ul ul {left: -999em}*/

.cssmenu_vert li:hover ul ul {z-index: 752}	/* z-indexes needed at ui-revamp to prevent hidden dropdowns */
.cssmenu_horiz li ul ul {margin: -1.5em 0 0 10.9em}

/* dropdown menu hide-display */
.cssmenu li:hover ul ul,
.cssmenu li:hover ul ul ul,
.cssmenu_horiz li:hover ul ul,
.cssmenu_horiz li:hover ul ul ul,
.cssmenu_vert li:hover ul ul,
.cssmenu_vert li:hover ul ul ul,
.cssmenu li.sfhover ul ul,
.cssmenu li.sfhover ul ul ul,
.cssmenu_horiz li.sfhover ul ul,
.cssmenu_horiz li.sfhover ul ul ul,
.cssmenu_vert li.sfhover ul ul,
.cssmenu_vert li.sfhover ul ul ul {left: -999em}

.cssmenu li:hover ul,
.cssmenu li li:hover ul,
.cssmenu li li li:hover ul,
.cssmenu_horiz li:hover ul,
.cssmenu_horiz li li:hover ul,
.cssmenu_horiz li li li:hover ul,
.cssmenu_vert li:hover ul,
.cssmenu_vert li li:hover ul,
.cssmenu_vert li li li:hover ul,
.cssmenu li.sfhover ul,
.cssmenu li li.sfhover ul,
.cssmenu li li li.sfhover ul,
.cssmenu_horiz li.sfhover ul,
.cssmenu_horiz li li.sfhover ul,
.cssmenu_horiz li li li.sfhover ul,
.cssmenu_vert li.sfhover ul,
.cssmenu_vert li li.sfhover ul,
.cssmenu_vert li li li.sfhover ul {left: auto}

/* li hover bg color */
.cssmenu li ul,
.cssmenu_horiz li ul,
.cssmenu_vert li ul {
	/*border: 1px solid #acccdd;*/
	background: #fff}

/* selected and selected ascendant */
.cssmenu > li.selected,
.cssmenu_horiz > li.selected,
.cssmenu_vert > li.selected {font-style: italic}

.cssmenu li.selected li,
.cssmenu_horiz li.selected li,
.cssmenu_vert li.selected li {font-style: normal}

.cssmenu li.selectedAscendant,
.cssmenu_horiz li.selectedAscendant,
.cssmenu_vert li.selectedAscendant {/*font-weight: bold*/}

/* link styles */
.cssmenu a,	
.cssmenu_horiz a,
.cssmenu_vert a {
	text-decoration: none;
	display: block;
	padding: 3px 3px 3px 6px}
	
* html .cssmenu a,	
* html .cssmenu_horiz a,
* html .cssmenu_vert a {}

.cssmenu a:hover,
.cssmenu_vert a:hover,	
.cssmenu_horiz a:hover {/*color: darkviolet*/}

* html .cssmenu li ul a {background: none}

div#col2,
td#leftcolumn,
div.cssmenubox {overflow: visible !important}

.box-data .cssmenu_vert {z-index: 750}

#header .cssmenu_horiz {
	z-index: 800;
	position: relative}
	
.cssmenu_horiz li.menuLevel0 a {padding-right: 12px}
.cssmenu_horiz li.menuSection a {padding-right: 24px}
.cssmenu_horiz li.menuLevel1 a {padding-right: 12px}

#header .cssmenu_horiz {}
#header .cssmenu_horiz > li {}
#header .cssmenu_horiz > li > a {}
#header .cssmenu_horiz > li > a:hover {}
#header .cssmenu_horiz li:hover {}
#header .cssmenu_horiz li ul a {}
#header .cssmenu_horiz ul li a:hover {}

* html h3.box-title {position: static}

/*** arrows (from lib/jquery/superfish css )**/
.cssmenu_horiz a.sf-with-ul,
.cssmenu_vert a.sf-with-ul {
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position: absolute;
	display:	block;
	right: .75em;
	top: 1.05em; /* IE6 only */
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	background: url(../lib/jquery/superfish/images/arrows-ffffff.png)  no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only; */}

.cssmenu_vert .sf-sub-indicator,
.cssmenu_horiz ul .sf-sub-indicator {margin-top: -5px}	
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top: .8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {background-position: -10px -100px; /* arrow hovers for modern browsers*/
}


/* point right for anchors in subs */
.cssmenu_horiz ul .sf-sub-indicator,
.cssmenu_vert ul .sf-sub-indicator { background-position:  -10px 0; }
.cssmenu_horiz ul a > .sf-sub-indicator,
.cssmenu_vert ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.cssmenu_horiz ul a:focus > .sf-sub-indicator,
.cssmenu_vert ul a:focus > .sf-sub-indicator,
.cssmenu_horiz ul a:hover > .sf-sub-indicator,
.cssmenu_vert ul a:hover > .sf-sub-indicator,
.cssmenu_horiz ul a:active > .sf-sub-indicator,
.cssmenu_vert ul a:active > .sf-sub-indicator,
.cssmenu_horiz ul li:hover > a > .sf-sub-indicator,
.cssmenu_vert ul li:hover > a > .sf-sub-indicator,
.cssmenu_horiz ul li.sfHover > a > .sf-sub-indicator
.cssmenu_vert ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url(../lib/jquery/superfish/images/shadow.png) no-repeat bottom right}

.sf-shadow ul.sf-shadow-off {
	background: transparent}

/*** alter arrow directions ***/
.cssmenu_vert .sf-sub-indicator { background-position: -10px 0; } /* IE6 gets solid image only */
.cssmenu_vert a > .sf-sub-indicator { background-position: 0 0; } /* use translucent arrow for modern browsers*/

/* hover arrow direction for modern browsers*/
.cssmenu_vert a:focus > .sf-sub-indicator,
.cssmenu_vert a:hover > .sf-sub-indicator,
.cssmenu_vert a:active > .sf-sub-indicator,
.cssmenu_vert li:hover > a > .sf-sub-indicator,
.cssmenu_vert li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/}