// $Id$

form.simple label.error {
  background : url('../../img/icons/error.png') no-repeat 0 4px;
  color:red;
  padding: 4px 0 0 20px;
  margin-left: 0.5em;
}

form.simple label {
  clear: both;
  padding-top: 1em;
}

form.simple label.depends {
  padding-left: 20px;
}

form.simple label .description {
  padding-left: 20px;
}

form.simple label .warning {
  padding-top: 12px;
  color: #800;
}

form.simple textarea,
form.simple input[type="text"],
form.simple input[type="file"],
form.simple input[type="url"],
form.simple input[type="email"],
form.simple input[type="number"],
form.simple select {
  display: block;
  clear: left;
  width: 100%;
}

form.simple textarea.export {
  height: 320px;
}

// /* $.fn.modal */
.tiki-modal {
  position: absolute;
  text-align: center;
}
.tiki-modal .mask {
  position: absolute;
  background-color: #fff;
  display: none;
  width: 100%;
  height: auto;
}

.tiki-modal .dialog {
  position:absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
}
// /* end $.fn.modal */
