<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{title}</title>
	<link type="text/css" rel="stylesheet" href="styles/fivealive.css"/>
</head>
<body>
<div id="middle" class="clearfix fixedwidth middle" style="width: 990px;">
	<div id="c1c2">
		<div id="wrapper">
			<div id="col1">
				<div id="tiki-center" class="clearfix content">
					<h1>{title}</h1>
					<div class="clearfix rbox errors">
						<div class="rbox-data">{explanation}</div>
					</div>
					<p>{back}</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
