/* Planetfall theme for TikiWiki CMS/Groupware.
	This is an adaptation of the original GPL-licensed theme by Rhuk.
	See http://zukakakina.com or http://themes.tikiwiki.org for further
	information about and upgrades for this theme.
*/

/* Import the default layout properties file: */
@import "layout/layout.css";

/* And design defaults: */
@import "layout/design.css";
 
/***** XHTML Elements (body tag here,
			others follow Layout) *****/ 
body {
	background: #121A1D url(planetfall/back_fade.jpg) repeat-x;
	padding: 20px 0;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	color: #ccc}

html>body {font-size: .7em !important}

body.fullscreen {
	margin: 3em;
	color: #ccc;
	padding-right: 10em}

 /***** Layout (overrides layout.css;
		also styling of page layout divs)  *****/
table#main {
	font-size: 1em;
	text-align: left;
	color: #ccc;
	border-collapse: collapse}

td#leftmargin {width: 10%}
	
td#main-header {
	border: 1px solid #9DA6B3;
	background: url(planetfall/header_bg.jpg) no-repeat  0 10px #04030B;
	height: 111px}

td#rightmargin {/* why won't firefox respect this? */
	width: 10% !important;
	min-width: 40px !important}

td#leftborder {
	width: 1px !important;
	max-width: 1px;
	background: #9DA6B3}

td#centercolumn {
	vertical-align: top;
	text-align: left;
	padding: 1em;
	border-left: solid 1px #9DA6B3;
	border-right: solid 1px #9DA6B3}
	
/* In this theme, the left column is placed between the center and right columns. */
td#leftcolumn {
	padding-left: 0;
	padding-right: 0;
	vertical-align: top;
	width: 180px;
	border-left: solid 1px #9DA6B3;
	background: #2E4452 url(planetfall/menu2_fade.jpg) repeat-x}

td#rightcolumn {
	padding-right: 0;
	padding-left: 0;
	vertical-align: top;
	width: 180px;
	margin-right: 0;
	background: #293C43;
	border-left: solid 1px #9DA6B3;
	border-right: solid 1px #9DA6B3}
	
td#rightborder {
	width: 1px !important;
	max-width: 1px !important;
	background: #9DA6B3}
	
td#footer .content,
#tiki-bot {
	padding-top: 10px;
	padding-bottom: 5px;
	margin-top: 0;
	background: #293C43;
	border: 1px solid;
	border-color: #87ACBB #9DA6B3 #87ACBB #9DA6B3;
	font-size: 1.1em}
	
#footer a,
#footer a:visited {
	color: #ccc;
	border-bottom: 1px solid #ff6600}
	
#footer a:hover {border-bottom: 1px solid #9AB6C2}

/***** XHTML Elements (other than body tag) ******/
a,
a:visited {
	color: #ff6600;
	text-decoration: none;
	font-weight: bold}

a:hover {
	color: #9AB6C2;
	text-decoration: none;
	font-weight: bold}

caption {
  font-size: .9em;
  font-weight: bold}	
 
h1, h2, h3, h4, h5, h6 {color: #9AB6C2}

h1 {
	font-size: 1.4em;
	margin: 6px 0 8px 0}

h2 {
	font-size: 1.6em;
	margin: 3px 0 1px 0}

h3 {
	font-size: 1.5em;
	margin: 1px 0}

h4 {
	font-size: 1.4em;
	margin: 1px 0}

h5 {
	font-size: 1.2em;
	margin: 1px 0}
	
h6 {
	font-size: 1.1em;
	margin: 1px 0}

hr  {
	/*background: #999;
	height: 1px;
	border: 1px solid;*/}

fieldset {
	color: #9da6b3;
	border: 1px solid #9da6b3}

legend {color: #9da6b3}

button,
input,
textarea,
option,
select {
	background: Black/*#9DA7B3*/;
	color: #ccc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	border: thin solid #9DA6B3/*#697587*/}

* html .wikitopline select {font-size: .9em}
option {border: 0;
border-bottom: thin solid #9da6b3}

input {text-indent: 2px}

input[type=checkbox],
input[type=radio] {border: 0}

input[type=submit]:hover {cursor: pointer}

input[type=submit],
input[type=file],
input[type=reset] {
	color: #FF6600;
	background: #293B42;
	border: 1px solid #9DA6B3}

input.wikiaction {
	color: #FF6600;
	background: #293B42;
	border: 1px solid #9DA6B3}

body.tiki_forums table.normal input {
	border: 0;
	background: transparent}


span.button a,
span.button a:visited,
button,
input[type=reset],
input[type=submit],
span.button input,
.submitbutton,
.calbuttonoff,
.calbuttonon {
	color: #ff6600;
	font-size: 11px;
	border: thin solid #9DA6B3;
	background: #000;
	text-decoration: none;
	font-weight: bold}

* html input[type=reset],
* html input[type=submit] {
	color: #ff6600;
	font-size: 11px;
	border: thin solid #9DA6B3;
	background: #000;
	text-decoration: none;
	font-weight: bold}

.button a:hover,
button:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.button input:hover,
.submitbutton:hover {
	color: #9AB6C2;
	text-decoration: none;
	font-weight: bold}
	
input[type=checkbox] {border: 0}
* html .findtable input {font-size: 1em}
form.admin input[name="features"] {margin-bottom: 3px !important}

select {
	background: #293B42;
	color: #FF6600;
	border: 0;
	font-size: 10px}

select[multiple] {height: 10em}
select[name="theme"] {width: 145px}
small {font-size: .8em}
label {cursor: pointer}

ul {
	margin-top: 2px;
	margin-bottom: 6px}

li {
	line-height: 15px;
	padding-top: 0}

/***** Site Header & Identity *****/
#header {height: 111px}

/* Theme-specific selector to hold logo. */
div#silogo {
	height: 111px;
	background: url(planetfall/header_logo.jpg) no-repeat}

/* Theme-specific selector to style header module */
div#header_module {
	float: right;
	margin: 0;
	padding-left: 0;
	vertical-align: top;
	border-left: 1px solid silver;
	height: 111px}

#siteheader {
	background: url(planetfall/top_bar.jpg) repeat-x center 0;
	padding-top: 1em;
	margin: 0;
	width: 100%;
	text-align: left}
	
#sioptions  {padding: 1em}

#sitelogo {margin: auto !important}
div#sitead {margin: auto}
#sitead.floatright {padding-right: 100px}
#sitead.floatleft {padding-left: 100px}
#bannertopright {padding-right: 1em}

#siteloginbar {
	bottom: 2px;
	right: 0;
	font-size: 95%}

#siteloginbar input.wikiaction {margin: 1px 3px}
#sitelocbar {float: left}
#customcodewith_ad {width: 400px}

#sitetitle,
#sitesubtitle {
	color: #ff6600;
	font-weight: bold;
	padding-left: 30px}

#sitetitle {font-size: 2.6em}
#sitesubtitle {font-size: 1.3em}

#tiki-top {
	bottom: 0;
	height: 26px;
	background: url(planetfall/silver_bg.jpg) repeat-x}

* html #tiki-top {font-size: 11px}
#tiki-top table {width: auto}

#tiki-top .findtable {
	margin-bottom: 0;
}

#sitesearchbar {
	margin-top: 4px;
	color: #304651}
	
/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

/* default link padding */
.cssmenu_horiz li a,
.cssmenu_vert li a {
	padding: 2px 5px;
}

/* typography, colors, etc. */
.cssmenu_horiz li a,
.cssmenu_vert li a {
	color: #ccc;
}

.cssmenu_vert li a:hover {
	color: #ff6600;
}

td#leftcolumn .cssmenu_vert li a {
	color: #ff6600;
}

td#leftcolumn .cssmenu_vert li a:hover {
	color: #9AB6C2;
}

td#leftcolumn .cssmenu_vert li ul li a {
	color: #304651;
}

/* #header (topbar) menu top level */
#header .cssmenu_horiz li a {
	padding-top: 5px;
	padding-bottom: 6px;
	font-size: 12px;
	color: #293c43;
	border-right: 1px solid #9DA6B3;
}

#header .cssmenu_horiz li a:hover {
	color: #9ab6c2;
}

#header .cssmenu_horiz ul li a,
td#leftcolumn .cssmenu_vert li ul li a {
	border-right: 0;
	color: #ccc;
}

/* No shadow in planetfall since bg is dark */
.cssmenu_horiz li ul,
.cssmenu_vert li ul {
	background: #2E4452 url(planetfall/menu2_fade.jpg) repeat-x;
	border: 1px solid #999;
}

/* default link padding */
.cssmenu_horiz a,
.cssmenu_vert a {
	padding: .75em 1em;
}

/* ul ul top compensation for padding */
.cssmenu_horiz li:hover ul,
.cssmenu_horiz li.sfHover ul {
	top: 2.3em;
}

/* compensate for 1px border */
.cssmenu_horiz li ul li:hover ul,
.cssmenu_horiz li ul li.sfHover ul,
.cssmenu_vert li ul li:hover ul,
.cssmenu_vert li ul li.sfHover ul {
	top: -1px;
}

/* left column width */
td#leftcolumn .cssmenu_vert,
td#leftcolumn .cssmenu_vert li {
	width: 170px;
}

/* offset from left column (matches above) */
td#leftcolumn .cssmenu_vert li:hover ul,
td#leftcolumn .cssmenu_vert li.sfHover ul {
	left: 170px;
}

/* return ul ul ... to default */
td#leftcolumn .cssmenu_vert li:hover ul,
td#leftcolumn .cssmenu_vert li.sfHover ul,
td#leftcolumn .cssmenu_vert li:hover ul li,
td#leftcolumn .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
td#leftcolumn .cssmenu_vert li li:hover ul,
td#leftcolumn .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

#leftcolumn .cssmenu_vert a {
	padding: .3em 1em;
	font-weight: normal;
}

/* special arrows and arrow top padding */
.cssmenu_vert li a .sf-sub-indicator {
	background: url(andreas08/arrows-467aa7.png) no-repeat 0 0;
}

.cssmenu_vert li ul li a .sf-sub-indicator {
	background: url(../lib/jquery/superfish/images/arrows-ffffff.png) no-repeat 0 0;
}

.cssmenu_vert li a .sf-sub-indicator {
	top: .5em;
}

/** PHP Layers Menus **/
.horbaritem {
	margin: 0; 
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1em;
	line-height:24px;
	height: 26px;
	white-space: nowrap;
	border-right: 1px solid #9DA6B3}

.horbaritem a,
.horbaritem a:visited {color: #304651}

.horbaritem a:hover {color: #ff6600}
* html .horbaritem a {font-size: .8em}

.mdksubmenu {
	border: 1px solid #999;
	background: #2E4452 url(planetfall/menu2_fade.jpg) repeat-x}

.mdksubmenu table {width: 180px}

.mdkitem  {
	background-image: 0;
	font-size: 1em}

.mdkitem .mdkfwdarr {
	top: 6px;
	right: 8px}

.mdkitem a,
.mdkitem a:visited {
	padding: 2px 5px;
	color: #ccc;
	background: 0}
	
.mdksubmenu .mdkitem a {font-weight: normal}

.mdkitem a:hover {
	color: #9AB6C2;
	background: 0}
	
.imgs {background: #9ab6c2}

.phplmnormal,
a.phplmnormal:hover,
a.phplm:link,
a.phplm:visited,
a.phplm:hover,
a.phplm:active {
	font-size: 1em;
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
	color: #ff6600;
	font-weight: bold}

a.phplm:visited {color: #ff6600}
a.phplm:hover {color: #9AB6C2; background: inherit}
a.phplm:active {color: #ff6600}

a.phplmselected:link,
a.phplmselected:visited,
a.phplmselected:hover,
a.phplmselected:active {
	font: 100% Verdana, Tahoma, Arial, sans-serif;
	color: #ff6600;
	text-decoration: underline;
	font-weight: bold}

a.phplmselected:hover {color: #808080}

/** Links in other menus **/
div.separator, div.separatorline {}
div.separator + div {padding-left: 20px}
.separator a:link,
.separator a:visited {
/*	background: url(planetfall/menu_bullet.png) no-repeat;
*/	font-size: 1em;
	font-weight: bold;
	color: #ff6600;
	text-align: left;
	/*padding-left: 15px;
	margin-bottom: 1px*/}

.separator a:hover {
/*	background-position: 0 -20px;*/
	color: #9AB6C2}

div.separator a.separator img {/*display: 0*/}

/* These maybe conflicting were
also in 1.9 version 
.separator {
	font-size: 1em;
	color: #ccc;
	text-decoration: none}

.separator:active {
	font-size: 1em;
	text-decoration: none}

.separator:hover {
	font-size: 1em;
	color: #FF6600;
	text-decoration: none}*/

div.option a.linkmenu:hover {}
a.separator img {}
.option {}
div.optionline,
.option a {}
.option a:link,
.option a:visited,
a.linkmenu, .rsslink, .linkmenu:visited, .rsslink:visited {}
.linkmenu {
	font-size: 1em;
	color: #FF6600;
	text-decoration: none}

.linkmenu:hover {
	color: #9AB6C2;
	text-decoration: none}

a.linkmodule {
	background: url(planetfall/menu_bullet.png) no-repeat;
	font-size: 1em;
	font-weight: bold;
	color: #ff6600;
	text-align: left;
	padding-left: 15px;
	margin-bottom: 1px}
	
.shoutboxmodmsg a.linkmodule {
	background: 0;
	padding-left: 0}

a.linkmodule:hover {
	background-position: 0 -20px;
	color: #9AB6C2}
	
ol li a.linkmodule {
	background: 0;
	padding-left: 0}

.rsslink {
	font-size: 1em;
	color: #436976;
	text-decoration: none}

.rsslink:active {
	color: #436976;
	text-decoration: none}

.rsslink:hover {
	color: #9AB6C2;
	text-decoration: none}

.rsslist {
	list-style: 0;
	margin-left: 0}

.rssitem {
	background: url(planetfall/indent1.png) no-repeat;
	margin-left: 0;
	padding: 1px 6px 1px 16px;
	font-size: 1em;
	color: #335966}

.rssitem a:hover {
	text-decoration: none}

.rssdate {
	color: #436876;
	font-style: italic;
	text-decoration: none}

/***** Misc. Center Col. *****/
div#tiki-center table {width: 100%}
*:first-child+html #tiki-center {width: 95%}

#showhide_columns {}

a.flip,
a.flip:visited,
.tellafriend a,
.tellafriend a:visited {
	font-size: .9em;
	color: #3a5461;
	text-decoration: none}

a.flip:hover,
.tellafriend a:hover {
	color: #ff6600}

a.flip img {display: 0}
.tellafriend {text-align: right}

.fullscreen .tellafriend {
	margin-right: 100px;
	margin-top: 2px}

/* Also is .content */
div#tiki-center {
	font-size: 1em}

* html #tiki-center {
	font-size: 1em;
	width: 95%}

/****** Misc. Global ****/

/***** Boxes *****/
/** Modules **/
div.box { 
	padding-left: 4px;
	padding-right: 4px;
	width: 180px}

h3.box-title {
	background: url(planetfall/title_background.png) no-repeat;
	background: 	
	vertical-align: middle;
	font-size: 1em;
	font-weight: bold;
	color: #ccc;
	text-align: left;
	text-indent: 15px;
	width: 100%;
	text-transform: uppercase;
	padding-bottom: 6px;
	padding-top: 4px}

img.flipmodimage:hover {border: 1px solid #ff6600 !important}

.box-title a,
.box-title a:visited {color: #ccc}

div.box-data {
	text-align: left;
	font-size: 1em;
	padding: 0;
	font-weight: normal}
	
/* IE font-size fix. */
* html div.box-data table {
	font-size: 11px}

ul.module,
ol.module {list-style: 0}

/** Other boxes **/
.cbox { 
  margin: 4px 4px 0 4px;
  border: 1px solid #8cacbb;
  padding-bottom: 10px;
  font-size: 1em;
  overflow: hidden}

.cbox-title {
  background: #293C43;
  color: #ccc;
  border-bottom: 1px solid #8cacbb;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  overflow: hidden;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0}

.cboxtlink {
	color: black;
	text-decoration: none}

.cboxtlink:hover {
	color: black;
	text-decoration: none}

/* And this is the data */
div.cbox-data {
	background: #293C43;
	color: #CCC;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
	width: 100%;  /*xenfasa added to fix IE formating*/
}

.rbox-title,
.rbox-data {
	border-color: #ff6600;
	color: #9ab6c2}

.rbox-title {
	background: #ff6600;
	color: black;
	font-weight: bold}

div.simplebox  { 
	padding: 1ex;
	border: 1px solid #9DA6B3;  
	background: #293C43;  
	font-size: 1em}

/***** Tables, Tabs *****/
/** Tables **/

table.normal,
table.admin, 
table.sortable {
	background: #223138;
	border: solid 1px #43626D}

body.tiki_webmail table.normal {color: #436976}


/* Cells in forms using a background color */
.formcolor td,
.editblogform td {padding: 3px}

td.button {
	color: black;
	font-size: .9em;
	background: #293C43; 
	padding-left: 2px;
	padding-right: 5px;
	text-align: center; 
	vertical-align: middle}

table.findtable {
	width: 97%;
	margin-bottom: 1px;
	padding-bottom: 10px}

.findtable td {font-size: 1em}
td.form {font-size: 1em}

.normal td,
td.normal,
td.bloglist,
.wikitable td,
td.odd,
td.even  {
	/*border: 1px solid #43626D;*/
	background: #293C43;
	font-size: 1em;
	vertical-align: top;
	text-align: left}

tr.odd {
	background: #0D1315;
	padding: 2px}

tr.even {
	background: #151E22;
	padding: 2px}

tr.odd td,
td.odd {
	background: #0D1315;
	vertical-align: top;
	text-align: left}

tr.even td,
td.even {
	background: #151E22;
	vertical-align: top;
	text-align: left}

td.third {
	font-size: .9em;
	color: #ccc;
	background: #3D5963;
	vertical-align: top;
	text-align: left}

/* Table headings */
th, /*div.heading,*/
table.normal td.heading {
	background: #3D5963;
	color: #ccc;
	font-weight: bold;
	padding: 3px;
	font-size: 1em}

/** Tabs **/
.tabs {
	border-bottom: solid 1px #225566 !important;
	margin-top: 10px !important;
	margin-bottom: -18px}

.tabmark {
	display: inline;
	font-size: 85%;
	color: #ccc;
	border: 1px solid #abcdef;
	margin: 0;
	margin-right: 5px;
	padding: 1px 0 1px 0}

.tabmark a {
	border-bottom: 0;
	color: #ff6600;
	padding: 1px 5px;
	text-decoration: none}

.tabmark a:active {}

.tabmark a:hover {
	color: #9ab6c2;
	background: black}

.tabactive {
	border: solid 1px #225566 !important;
	border-bottom: 0 !important;
	border-top-width: 2px !important;
	position: relative; top: -2px}

[class].tabactive {top: -1px}
.tabactive a {background: #2c6e82}

.tabinactive {
	border: solid 1px #666 !important;
	border-bottom: 0 !important;
	position: relative !important;
	top: -3px !important}

[class].tabinactive {top: -2px !important}

.tabcontent {
	border: 1px solid #293C43;
	padding-top: 26px;
	margin-bottom: 25px;
	background: #293C43}

.tabcontent table {
	margin: 1% auto 2% auto; 
	text-align: left;
	width: 95%}

.tabcontent table td {padding: 5px}
.tabcontent h2 {color: #FF6600}

form fieldset.tabcontent {
	border: 1px solid #225566;
	border-top: 0 !important}

form.admin .tabs {
	border-bottom: solid 1px #225566 !important;
	margin: 10px 1px 0 0 !important;
	padding: 0 !important}

/***** Wiki *****/
h1.pagetitle {
	background: url(planetfall/title_background.png) no-repeat 0 4px;
	vertical-align: top; 
	padding-left: 15px;
	padding-top: 4px;
	font-size: 1.2em;
	font-weight: bold;
	color: #ccc;
	text-align: left;
	/*text-indent: 15px;*/
	width: 100%;
	height: 24px}
	
h1.pagetitle a,
h1.pagetitle a:visited {
	color: #ccc;
	text-decoration: none;
	font-size: 1.2em;
}

h1 a.pagetitle:hover {text-decoration: none}

div.wikitopline {}

.wikitopline table {width: 100%}

div#description {
	color: #436976;
	font-size: 1em;
	font-style: italic;
	padding-left: 22px}
	
#pageid {
	float: left;
	clear: both}

#cachedpage {
	float: right;
	font-size: small}

.categpath {}

div.wikitext {
	font-size: 1em;
	border: 1px solid #99bec6;
	clear: both;
	padding: 1em 2em}
	
.wikitext h1, 
.wikitext h2, 
.wikitext h3, 
.wikitext h4 {}

div.titlebar {
	background: #9DA7B3 url(planetfall/top_bar.jpg);
	background-position: center;
	background-repeat: repeat-y;
	text-align: center;
	color: #234956;
  	font-size: 1em;
	font-style: italic;
	font-weight: bolder;
	clear: both}

.wikitext ul li {} 
.wikitext ul li ul li {}
.wikitext ol {}

/* Be sure this doesn't conflict w/ other boxes.*/
.wikitext div.box {
	background: #2C434B}

/* called from tikilib.php */
table.wikitable {
	border-collapse: collapse;
	background: #121A1D}

td.wikicell {
	border-collapse: collapse;
	border: 1px solid #8cacbb;
	background: #121A1D}

p.editdate {font-size: .9em}

div#page-bar {
	display: block;
	float: 0;
	margin-left: 5px;
	margin-top: 5px}
	
ul.floatleft {
	display: block;
	list-style: 0;
	padding: 0;
	text-align: left;
	height: 20px;
	margin-top: 0}

ul.floatleft li {
	padding: 4px 2px}

.editdate ul.floatleft {margin-top: 8px}


.linkbut {font-size: 1em}
.linkbut:hover {}
/* When a cached version of an external link is displayed */
div.cache {
	background: #3d5963;
	border: 1px solid black;
	padding: 0.1em;
	margin: 0.1ex 0}

div.cachedpage {
	border: 1px solid black;
	padding: 0.1em; 
	margin: 0.1ex 0}

.wikicache {
	font-size: 9px;
	color: #225566}

.wikicache:active {
	font-size: 9px;
	color: #225566}

.wikicache:hover {
	font-size: 9px;
	color: #225566}

.wiki {
	color: #ff6600;
	font-weight: normal}

.wiki:hover {
	color: #9AB6C2;
	font-weight: normal}
	
.wikinew {
	color: #CC0000;
	text-decoration: underline;
	font-weight: bold}

.wikinew:hover {
	color: #CC0000;
	text-decoration: underline;
	font-weight: bold}

.wiki-edithelp {display: 0}
.wiki-edithelp {
	background: #121A1D;
	border: 1px solid black;
	font-size: .9em;
	padding: 6pt}

* html div.wiki-edithelp table {font-size: .9em}
textarea.wikiedit {width: 100%}

p.editdate {}
div.wiki-edithelp {}
img.externallink {
	margin-left: 3px;
	margin-right: 2px}

/* Needed esp. for light-on-dark theme */
div.quicktag {}
div.quicktag img,
#wikihelp-tab td img {}
div#helptool {}

/* Wiki plugins */

/* Code plugin  */
div.code {}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 2ex;
	padding-top: 2.5ex;
	background: #293C43;
	margin: 1ex;
	border: 1px dashed #adacaf;
	overflow: auto;
	width: 400px}

.codecaption {
	padding: .5ex 2ex;
	background: #121A1D;
	position: relative;
	bottom: -2ex;
	display: inline;
	border: 1px dashed #adacaf}

/* Version Plugin Style */

.versions {
	border-top: 1px dashed #999;
	border-bottom: 1px dashed #999;
	min-height: 142px}

.versionav:after {
	display: inline;
	float: right;
	border-left: 1px dashed #999}

.versionav .button2 {
	display: block;
	border: 0;
	border-bottom: 1px dashed #999;
	background: transparent}

.versionav .button2 .linkbut {
	border: 0;
	background: inherit;
	padding: 0 10px}

.versionav .highlight {
	background: #ccc;
	font-weight: bold}

.versiontitle:after {
	font-weight: bold;
	border-bottom: 1px dashed #999;
	border-left: 1px dashed #999;
	padding: 2px 30px;
	float: right}

/* Quote plugin */
.quoteheader {
	margin: 10px 5px 0 5px;
	padding: 4px;
	border: 1px solid #A9B8C2;
	border-bottom: 0;
	color: #ccc;
	font-weight: bold;
	background: #293C43;
	font-size: 8pt}

.quotebody {
	margin: 0 5px 10px 5px;
	padding: 5px;
	border: 1px solid #A9B8C2;
	border-top: 0;
	color: #ccc;
	background: #3D5963}

/** Wiki tocs **/
div.tocnav {
	width: 100%;
	font-size: .9em;
	border: 1px solid #8cacbb;
	color: black;
	background: #ededed;
	padding-bottom: 2px;
	padding-top: 2px;
	margin-bottom: 2px;
	margin-bottom: 16px}

.tocnav table {
	background: #1f363a}

.tocnavlink,
.tocnavlink:link {
	color:black;
	text-decoration: underline;
	font-size: 10px}

.tocnavlink:hover {
	font-size: .9em;
	color: black;
	text-decoration: underline}

.tocnav a {
	font-size: 90%;
	color: #424242}

#tocnavicons {float: left}
#tocnavaddpage {float: right}
#tocnavlinks {clear: both}
.fancytoclevel {list-style-image: url(../img/icons/footprint.gif)}
li.toclevel {}

/* TOC */
.toc {}
.toc li {margin-top: 3px}
li.toclevel {margin-left: 2em}

/* Wiki diff styles */
.diff td {border: 1px solid #A9B8C2}
.diff div {border-top: 1px solid #A9B8C2}
.diffheader {background: #A9B8C2; font-weight: bold}
.diffadded {background: #CCFFCC}
.diffdeleted {background: #FFCCCC}
.diffinldel {background: #FFCCCC; text-decoration: line-through}
.diffbody {background: #F2F4F5}
.diffchar {color: red}


/***** Articles ****/
div.articletopline {
	color: #ccc;
	padding-bottom: 3px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: .9em}

div.articletitle h2 {
	background: url(planetfall/title_background.png) no-repeat 0 1px;
	vertical-align: middle;
	font-size: 1.2em;
	font-weight: bold;
	color: #ccc;
	text-align: left;
	text-indent: 15px;
	width: 100%;
	text-transform: uppercase;
	padding-bottom: 6px;
	padding-top: 4px}
/*
div.articletitle h2 {}*/

span.titleb {
	font-size: .9em;
	color: #676767}

div.articlesubtitle {
	font-family: Georgia, Times, serif;
	font-style: italic;
	font-weight: lighter;
	text-indent: 20px;
	font-size: 1.1em;
	line-height: 14px;
	color: #404040}

div.articleheading {
	padding-right: 0.8em; 
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: 100%}

div.articleheadingtext {
	font-size: 1em; 
	display: inline;
	width: 100%}

div.articleheading img {
	margin-right: 22px;
	margin-left: 9px}

img.topicimage,
img.articleimagenofloat,
img.articleimage {}

img.articleimagefloat {
	margin-right: 4px;
	float: left;
	padding: 2px 0;
	margin-bottom:10px}

img.articleimage {
	margin-right: 4px;
	float: left;
	clear: right;
	padding:2px 0;
	margin-bottom:10px}

div.articletrailer {
	margin-bottom: 10px;
	font-size: .9em;
	width: 100%}

div.articletrailer .wikitopline {float: left} 

div.articlebody {
	padding-left: 2em; 
	padding-right: 2em; 
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 10px 0 10px 0;
	/* font-size: .9em;*/
	clear: both}

span.trailer {font-size: .95em}
div.articlebody {}
div.articlesource {}


/***** Blogs *****/
div.blogheading {
	display: block;
	width: 100%;
	clear: both}

div.blogtitle {
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 5px;
	margin-top: 10px;
	border: 1px solid #8cacbb;
	border-bottom: 0}

div.blogdesc {
	padding: 0.5em 0.8em;
	margin-bottom: 10px;
	font-size: 1.2em}

div.bloginfo {
	padding: 0.5em 0.8em;
	margin-bottom: 10px;
	font-size: 1em}


* html .bloginfo table {font-size: 11px}

div.blogtools {
	padding: 0.5em 0.8em;
	margin-bottom: 10px;
	font-size: .9em}

* html .blogtools table {font-size: 11px}

.blogpost {}

/*.postinfo div a img,*/
.blogt {
	font-size: 1em;
	/*color: #1f363a*/}

.blogt:hover {
	font-size: 1em;
	/*color: #1f363a;*/
	text-decoration: underline}

div.postinfo a.linkmodule {}
.postinfo div {margin-top: 30%}

.postinfo {
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1.2em}

.postinfo a {
	color: #9CF;
	text-decoration: none;
	border-bottom: 1px dotted #9CF}

.small {} /* Check ?? (from fluidindex */

div.posthead {
	background: url(planetfall/title_background.png) no-repeat;
	vertical-align: middle;
	text-align: left;
	text-indent: 15px;
	width: 100%;
	/*padding-bottom: 6px;
	padding-top: 4px;*/
	font-size: 1em;
	font-weight: bold;
	color: #CCC;
	text-transform: uppercase}
	
span.posthead {
	/*font-size: 1.2em;*/
	font-weight: bold;
	color: #ccc;
	text-transform: 0}
	
span.posthead small {
	font-size: 1em;
	color: #676767;
	font-weight: normal}

div.posthead h3 {
	font-size: 1em;
	color: #CCC}

div.posthead table {
	background: #293C43;
	margin-top: -1px}

div.posthead td[align=right] {
	vertical-align: bottom;
	margin-bottom: 0;
	padding-bottom: 0}

div.postbody {
	overflow: hidden;
	font-size: 1em;  
	padding-left: 5px;
	padding-top: 5px; 
	padding-bottom: 2px; 
	margin-bottom: 10px}

* html .postbody table {font-size: 11px}

div.postfooter {
	clear: both;
	float: right;
	margin-bottom: 2em}


/***** Forums *****/
body.tiki_forums table.normal {margin: auto}
#forumpost {display: 0}
#forumpostopen {display: block}

.post {
	clear: both;
	margin-top: 6px;
	background: #293c43;
	border: 1px solid #9da6b3;
	color: #ccc;
	width: 100%}

.post .postbody {
	clear: both;
	background: #151e22;
	width: 98%;
	min-width: 98%;
	margin: 0;
	border: 0;
	padding: 3px}

* html .post .postbody {font-size: 11px}
*:first-child+html .post .postbody {min-width: 100% !important}
	
.postbody>.content {
	color: #D8D8D8;
	border-color: transparent;
	background: transparent !important;
	float: left;
	padding: 0 3px 3px 3px !important;
	margin: 0 !important;
	width: 97%;
	min-width: 97% !important;
	height: 100%;
	text-align: left;
	color: #ccc}
	
#c1c2 #wrapper #col1 .content .post .postbody .content p {margin: 5px 10px}
		
.post .postbody-title {
	display: block;
	background: #0d1315;
	overflow: hidden;
	margin-bottom: 0;
	height: 100%;
	padding-top: 0;
	margin-top: 0}

.post .postbody-title .checkbox {float: left}

.post .postbody-title .title {
	/*float: left;*/
	color: #D8D8D8;
	font-weight: bold;
	font-size: 1.1em;
	margin-left: 5px;
	margin-top: 0}

.post .postbody-title .title h2 {font-size: 1em}

.post .postbody-title .title a.link {
	font-size: 90%;
	line-height: 90%}

.post .author {
	float: left;
	text-align: left;
	vertical-align: top;
	background: #0D1315;
	border: 1px solid #9da6b3;
	color: #ccc;
	width: 25%;
	height: 100%}

.post .author_post_info {
	display: block;
	border: 0;
	padding: 0 2px 2px 2px}
	
.post .author_info {
	background: #0D1315;
	border: 0}

.post .author_info .icons {display: block}
.post .author_info .icons .actions {margin-right: 10px}
.post .author_post_info {background: #0D1315}
.post .author_post_info_on {font-style: italic}

.commentStyle_headers .author_info {float: right}
.commentStyle_headers .author_info {float: left}

.post .postbody-title .actions {
	float: right;
	font-size: .9em}
	
.postbody-content {
	float: right;
	width: 70%;
	padding-left: 5px}
	
*:first-child+html .postbody-content {min-width: 73%}

.post .postbody .attachments {
	clear: both;
	border-top: 1px dotted #D9D9D9;
	margin-top: 5px}

.post .postbody .attachments img {vertical-align: text-bottom}

.post .postfooter .actions,
.post .postfooter .status {
	display: inline;
	margin-left: 5px;
	vertical-align: top}

.post .postfooter .status {font-size: 10px}

.post .postfooter {
	float: right;
	text-align: right}

.post .inner > .postfooter {clear: both}

.post .contribution {
	background: #F0F8FF;
	border: 1px solid #D7E5F3;
	padding: 0 2px}

.post .avatar {
	float: right;
	margin-bottom: 5px;
	margin-left: 4px;
	padding: 3px;
	border: 1px solid #d8d8d8;
	background: #303030}

.sub_comment {padding-left: 20px}

.sub_comment_area {
	clear: both;
	background: url("../../img/edge.gif") no-repeat top left}
	
.forum_actions {margin-bottom: 3px}

.forum_actions .actions {
	clear: both;
	border: 1px solid #9da6b3;
	background: #293c43;
	padding: 3px;
	vertical-align: middle}

.forum_actions .actions .action {margin-right: 10px}
.forum_actions .headers {vertical-align: bottom}

.forum_actions .headers .title {
	float: left;
	background: #696969;
	border: 1px solid #999;
	border-bottom: 0;
	padding: 1px}

.forum_actions .headers .infos {
	float: right;
	font-size: .9em;
	padding-top: 2px}

.thread_pagination {
	text-align: center;
	margin-bottom: 10px}

.nb_replies {white-space: nowrap}

.post_preview,
.top_post {margin-bottom: 15px}
/*.post .postbody .signature {float: left}*/

/* Comments */
#comzone {
	display: 0;
	margin: 5px 0;
	padding: 0}
 
#comzoneopen {
	display: block;
	margin: 5px 0;
	padding: 0}
 
span.commentstitle {
	font-weight: bold;
	font-size: 12px}

/* Find */
.subcomment {margin-left: 10px}

/* Help box*/
div.commentsedithelp {
	background: #ffcfcf;
	color: #D8D8D8;
	border: 1px solid #ff0000;
	text-align: center;
	font-weight: bold}
	
textarea#editpost2 {
	width: 100%;
	font-size: 1em}

/**** Image Galleries ****/
table.galtable {
	border-collapse: collapse;
	border: 1px solid #8cacbb;
	width: 100%}

* html body table.galtable {width: 97%}
body.tiki_galleries table.findtable {display: inline}

/* Check this one ?? */
div.browsegallery {
	text-align: center;
	width: 100%}

td.oddthumb {
	background: #0D1315;
	border-collapse: collapse}
	
td.eventhumb {
	background: #151E22;
	border-collapse: collapse}

td.eventhumb img {
	margin-left: 6px;
	margin-right: 6px}
	
/* From 1.9 -- Thumbnails images - trying to get hover to work as in module...*/
div.thumbnails table.galtable td.eventhumb a img.athumb {
	border: 1px solid #121A1D;
	padding: 3px;
	margin: 3px}

div.thumbnails table.galtable td.oddthumb a img.athumb {
	border: 1px solid #151E22;
	padding: 3px;
	margin: 3px}

div.thumbnails table.galtable td.eventhumb a:hover img.athumb {
	border: 1px solid #FF6600}

div.thumbnails table.galtable td.oddthumb a:hover img.athumb {
	border: 1px solid #FF6600}

/* Check next 2 ?? */
div.thumbnails {}
div#browse_image {width: 100%}

img.athumb {
	border: 0;
	margin: auto}

.caption {color: #CCC}
p.norecords {font-weight: bold}

div.imagetitle {
	font-weight: bold;
	font-size: 2.6em; 
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #CCC}

div.gallerylink {}
div#browse_image {} /* Check - from fluidindex ?? */
div.showimage {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px}

div.imgaldescr {margin: 10px}
.sorttitle {margin-left: 10px}

/***** File Galleries *****/

/***** Trackers *****/

/***** Categories, Tags *****/
div.navbar {font-size: .9em}

table.tcategpath {
	margin-bottom: 40px;
	border-color: #99bec6;
	border-style: solid;
	border-width: 1px;
	width: 97%}

td.tdcategpath {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #225566;
	font-size: 1.1em;
	font-weight: bold;
	background: #293C43;
	padding-left: 2px;
	margin: 0;
	padding-right: 5px}

.categpath {color: #225566}
.categpath:hover {color: #225566}

table.subcats {
	width: 97%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 0;
	margin-bottom: 10px;
	border: 1px solid #99bec6;
	background: #293C43;
	border-collapse: collapse}

td.tdsubcat {
	width: 25%;
	background: #293C43}

.categlink {
	font-size: 1em;
	color: #225566;
	font-weight: bold}

.categlink:active {
	font-size: 1em;
	color: #225566;
	font-weight: bold}

.categlink:hover {
	font-size: 1em;
	color: #225566;
	text-decoration: underline;
	font-weight: bold}

table.catobjects {
	width: 97%;
	border-spacing: 0;
	padding-right: 0;
	margin-bottom: 10px;
	border: 1px solid #8cacbb;
	border-collapse: collapse}

td.categobjectsnameeven,
td.categobjectsnameodd {
  font-size: 1em;
  color: black}

td.categobjectsdataeven,
td.categobjectsdataodd {
  font-size: 1em;
  background: #F7F9FA;
  color: black}

.catname {
	font-size: 1em;
	color: #ff6600;
	text-decoration: none}

.catname:active {
	font-size: 1em;
	color: #ff6600;
	text-decoration: none}

.catname:hover {
	font-size: 1em;
	color: #9AB6C2;
	text-decoration: underline}

.catblock {
	background: #293C43;
	padding-left: 4px}
/*
.catlists {
	padding: 1px 6px 1px 6px;
	color: #CCC;
	font-size: 1em}

.catlists:hover {color: #CCC}
.cattitle {font-weight: bold}
.catlists a.link {
	color: #666; 
	padding: 0 4px 0 4px;
	font-size: .9em}

.catlists a.link:hover {color: #000}
*/
ul.catfeatures {list-style: 0}
ul.catfeatures li {}
ul.catitems {}
ul.catitems li {
	display: inline;
	margin-right: 7px}

ul.catitems li a:link {color: #ff6600}
ul.catitems li a:hover {color: #9AB6C2}

/***** Tags (freetags) *****/
	
/*****  Polls  *****/
div.pollresults {
	background: #1f363a;
	border: 1px solid black;
	margin-top: 5px;
	font-size: 14px;
	padding-left: 5px}

table.pollresults {
	width: 97%}

td.pollr {
	font-size: 1em;
	color: black}

#pollopen {display: block}
#pollzone {display: 0}
#polledit {display: 0}
.pollnav {}

/***** FAQs *****/
div.faqlistquestions {
	background: #1f363a;
	color: black;
	font-size: 1em;
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px}

div.faqqa {
	background: #1f363a;
	color: black;
	font-size: 12px;
	border: 1px solid black;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px}

div.faqquestion {
	margin-bottom: 5px;
	font-size: 12px;
	background: #293C43}

div.faqanswer {
	font-size: 12px}

/***** Quizzes *****/
div.questionblock {
	border: 1px solid black;
	background: #1f363a;
	margin-bottom: 10px}

div.quizquestion {
	font-size: 1.2em;
	margin-bottom: 5px}

div.quizoptions {font-size: 1.2em}

div.quizdescription,
div.quizanswer {
	font-size: 1.2em;
	border: 1px solid black;
	background: #1f363a;
	margin-bottom: 10px}

/***** Shoutbox *****/
div.shoutboxmsg {
	border: 1px solid black;
	background: #1f363a;
	margin-bottom: 0;
	padding-bottom: 1px}

div.shoutboxmodmsg {
	font-size: 1em;
	margin-bottom: 4px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 1px}


textarea.tshoutbox {
	background: #000;
	border: thin solid #9da6b3;
	color: #ccc;
	font-size: 1em;
	width: 156px;
	margin-bottom: 3px}

/***** Directory *****/
div.dircategs {
	border: 0.5px solid #99bec6;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px}

* html .dircategs table td {font-size: 12px}

.dirlink {
	font-size: 1.1em;
	color: #FF6600;
	text-decoration: underline;
	font-weight: bold}

.dirlink:hover {
	color: #636363;
	text-decoration: underline;
	font-weight: bold}

.dirsublink {
	font-size: .9em;
	color: #FF6600}

.dirsublink:hover {
	font-size: .9em;
	color: #636363;
	text-decoration: underline}

div.dirlistsites {
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 10px;
	border: 0.5px solid #FF4500;
	margin-top: 10px}

div.dirsite {
	background: #0A0917;
	margin-bottom: 10px;
	padding: 5px}

span.dirsitedesc {}
span.dirsitetrail {font-size: .9em}
span.dirsitecats {}

.dirsitelink {
	color: #436976;
	font-size: 1.2em;
	text-decoration: none}

.dirsitelink:hover {
	color: #636363;
	text-decoration: underline}

div.dirrelated {
	background: #1f363a;
	margin-top: 10px;
	border: 0.5px solid #99bec6;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px}

td.dirfooter {font-size: .9em}

div.dirfooter {
	margin-top: 10px;
	border: 0.5px solid #99bec6}

/***** Messages *****/
td.prio1, td.prio2, td.prio3, td.prio4, td.prio5 {
	font-size: 1em;
	border: 1px solid #8cacbb;
	padding-left: 2px}

td.prio1 {background: #2D444C}
td.prio2 {background: #4E7682}
td.prio3 {background: #38545D}
td.prio4 {background: #2D444C}
td.prio5 {background: #A66A79}

div.messureadflag {padding-left: 5px}


div.messureadhead {margin-top: 2px}
* html .messureadhead table {font-size: 11px}
div.messureadbody {margin-top: 5px}
.readlink {}
.readlink:hover {}

/***** TikiSheets *****/


/***** Calendar *****/
.Cal0, 
.Cal1, 
.Cal2 {
	border-top: 1px dashed #ccc;
	color: #425262;
	font-size:10px;
	padding-right: 0px}

.Cal0:before {
	content: "? ";
	background: #ff6347} 

.Cal1:before {
	content: "+ ";
	background: #FFCC77}

.Cal2:before {
	content: "X ";
	background: #3f3f3f}

.Calart,
.Calblog,
.Calchart,
.Caldir,
.Caleph,
.Calfaq,
.Calfgal,
.Calforum,
.Calgal,
.Calnl,
.Calquiz,
.Calsurv,
.Caltrack,
.Calwiki {
	font-size: 1em;
	border-top: 0}

.Calart,
.Calart a,
.Calart a:visited {color: #FA8072}

.Calblog,
.Calblog a,
.Calblog a:visited {color: #edbfe7}

.Calchart,
.Calchart a,
.Calchart a:visited {color: #304F30}

.Caldir,
.Caldir a,
.Caldir a:visited {color: #800080}

.Caleph,
.Caleph a,
.Caleph a:visited {color: #008000}

.Calfaq,
.Calfaq a,
.Calfaq a:visited {color: #822222}

.Calfgal,
.Calfgal a,
.Calfgal a:visited {color: #8B4513}

.Calforum,
.Calforum a,
.Calforum a:visited {color: #808000}

.Calgal,
.Calgal a,
.Calgal a:visited {color: #8B4513}

.Calnl,
.Calnl a,
.Calnl a:visited {color: #708090}

.Calquiz,
.Calquiz a,
.Calquiz a:visited {color: #5F9EA0}

.Calsurv,
.Calsurv a,
.Calsurv a:visited {color: #DAA520}

Caltrack,
Caltrack a,
Caltrack a:visited {color: #00BD02}
	
.Calweb {color: #336699}
.Calweb:hover {color: #996633}

.Calwiki,
.Calwiki a,
.Calwiki a:visited {color: #BDCEC3}

.Calart a:hover,
.Calblog a:hover,
.Calchart a:hover,
.Caldir a:hover,
.Caleph a:hover,
.Calfaq a:hover,
.Calfgal a:hover,
.Calforum a:hover,
.Calgal a:hover,
.Calnl a:hover,
.Calquiz a:hover,
.Calsurv a:hover,
.Caltrack a:hover,
.Calwiki a:hover {color: #F5F5F5}

.Calart:before,
.Calblog:before,
.Calchart:before,
.Caldir:before,
.Caleph:before,
.Calfaq:before,
.Calfgal:before,
.Calforum:before,
.Calgal:before,
.Calnl:before,
.Calquiz:before,
.Calsurv:before,
.Caltrack:before,
.Calwiki:before {background: #292929}

.caltitle {
	font-weight: bold;
	color: #425262}

/*	
.daterow {
	background: black;
	font-weight: bold;
	margin-left: 3px;
	border: 1px outset black;
	padding: 1px 5px 1px 5px;
	font-size: .9em;
	cursor: pointer;
	color: #ff6600}*/

/* checkboxes background is required for rollover display */
.calcheckbox {
	background: #1f363a}

.caltoggle {
	font-size: 9px;
	margin-bottom: 7px}

.opaque {
	background: #1f363a;
	width: auto;
	border: 1px solid #666;
	padding: 1px; 
	max-width: 300px}

.opaque .box-title,
.opaque, .box-data {
	width: auto}

.calfocus {
	font-size: 9px;
	background: inherit}

.calfocus a {
	color: #ff6600;
	font-size: 1.2em}
	
.calfocus a:hover {
	border: 0;
	color: #9AB6C2;
	text-decoration: none}

.calfocuson {
	font-size: 9px;
	background: #638697}

.calfocuson a {	
	color: #000;
	font-size: 1.2em}

.calcontent {
	min-height: 60px}

.Calwiki {
	border-top:1px dashed #ccc;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
	margin-top: 0;
	color: #43626D}

.Calwiki a,
.Calwiki a:link,
.Calwiki a:visited,
.Calwiki a:hover {
	color: #ccc;
	font-weight: bold}

.Calwiki:before {
	content: "w";
	font-family: monospace;
	background: #1f363a}

.Calblog {
	border-top:1px dashed #ccc;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
	color: #43626D}

.Calblog a {
	color: #443039}

.Calblog:before {
	content: "b";
	font-family: monospace;
	background: #1f363a}

.Calgal {
	border-top: 1px dashed #ccc;
	font-size: .9em;
	padding-left: 3px;
	padding-right: 3px;
	color: #43626D}

.Calgal a {
	color: #303F49}

.Calgal:before {
	content: "i";
	font-family: monospace;
	background: #1f363a}

.Calart {
	border-top: 1px dashed #ccc;
	font-size: .9em;
	padding-left: 3px;
	padding-right: 3px;
	color: #43626D}

.Calart a {
	color: #304F30}

.Calart:before {
	content: "a";
	font-family: monospace;
	background: #1f363a}

.Calforum {
	border-top:1px dashed #ccc;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
	color: #43626D}

.Calforum a {
	color: #304F30}

.Calforum:before {
	content: "o";
	font-family: monospace;
	background: #1f363a}

.Caldir {
	border-top:1px dashed #ccc;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
	color: #43626D}

.Caldir a {
	color: #304F30}

.Caldir:before {
	content: "d";
	font-family: monospace;
	background: #1f363a}

.Calfgal {
	border-top:1px dashed #ccc;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
	color: #43626D}

.Calfgal a {
	color: #304F30}

.Calfgal:before {
	content: "f";
	font-family: monospace;
	background: #1f363a}

.Calfaq {
	border-top:1px dashed #ccc;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
	color: #43626D}

.Calfaq a {
	color: #304F30}

.Calfaq:before {
	content: "q";
	font-family: monospace;
	background: #1f363a}

.Calquiz {
	border-top:1px dashed #ccc;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
	color: #43626D}

.Calquiz a {
	color: #304F30}

.Calquiz:before {
	content: "z";
	font-family: monospace;
	background: #1f363a}

.Caltrack {
	border-top:1px dashed #ccc;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
	color: #43626D}

.Caltrack a	{
	color: #304F30}

.Caltrack:before {
	content: "t";
	font-family: monospace;
	background: #1f363a}

.Calsurv {
	border-top:1px dashed #ccc;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
	color: #43626D}

.Calsurv a {
	color: #304F30}

.Calsurv:before {
	content: "s";
	font-family: monospace;
	background: #1f363a}

.Calnl {
	border-top:1px dashed #ccc;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
	color: #43626D}

.Calnl a {
	color: #304F30}

.Calnl:before {
	content: "n";
	font-family: monospace;
	background: #1f363a}

.Caleph {
	border-top:1px dashed #ccc;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
	color: #43626D}

.Caleph a {
	color: #304F30}

.Caleph:before	{
	content: "e";
	font-family: monospace;
	background: #1f363a}

.Calchart {
	border-top:1px dashed #ccc;
	font-size:10px;
	padding-left:3px;
	padding-right:3px;
	color: #43626D}

.Calchart a {
	color: #304F30}

.Calchart:before {
	content: "c";
	font-family: monospace;
	background: #1f363a}

.calweb {
	font-weight: bold;
	font-size: .9em;
	
	padding-left: 3px;
	padding-right: 3px;
	color: #336699}

.calweb:hover {
	color: #996633}

#calprio {
	margin-left: 7px;
	padding-left: 5px;
	padding-right: 5px;
	color: black}

.calprio1 {background: #DAE0E0}
.calprio2 {background: #DADCDC}
.calprio3 {background: #DAD0D0}
.calprio4 {background: #DACACA}
.calprio5 {background: #DAC0D0}
.calprio6 {background: #DABABA}
.calprio7 {background: #DAB0B0}
.calprio8 {background: #DAAAAA}
.calprio9 {background: #DA9A9A}

.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a, 
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {
	color: #000}

#caltable {
	width: 100%;
	font-size: 1.2em}
	
#caltable td {padding: 0}

.day {
	font-size: .9em;
	color: black}

.day:link {}

.day:hover {
	font-size: .9em;
	color: black;
	text-decoration: none}

.day:visited {}

.today {
	font-size: .9em;
	color: black;
	font-weight: bold;
	text-decoration: none}

.today:hover {
	font-size: .9em;
	color: black;
	font-weight: bold}

.nav {
	font-size: .9em;
	color: black;
	font-weight: bold;
	text-decoration: none}

.nav:hover {
	font-size: .9em;
	color: black;
	font-weight: bold}

.changedate {
	font-size: .9em;
	color: black;
	font-weight: bold}

.date { 
	font-size: .9em;
	color: black;
	font-weight: bold}

.calinput {background: #121A1D}
.calfocuson + .calcontent {background: #597a8a}

.days {
	color: #ccc;
	text-align: center}

#caltable .weeks {
	background: #3d5963;
	color: #ccc}

.addevent {
	padding: 0 5px;
	float: right}

* html .addevent {padding: 0}
.calodd, .caleven {border: 1px solid #a9a9a9}
.calodd {background: #2e4452}
* html .calodd {padding: 0}
.caleven {background: #435f6d}
* html .caleven {padding: 0}
.caldark {background: #121A1D}
* html .caldark {padding: 0}
.caldark .calfocus {background: #121A1D}
.daterow {
	display: block;
	color: #ff6600;
	border: 1px solid #9da6b3 !important;
	background: #293b42}

.daterow:hover {
	color: #9ab6c2;
	background: #293b42}

.calnavigation a:hover {background: #9AB6C2}
/*
td.calnavigation {
	font-size: 12px;
	color: #43626D}

The button in calendar navigation panel
span.daterow {
	color: #43626D}*/

/***** Admin *****/
a.admbox {
	border: 1px solid #aaa;
	height: 100px;
	width: 100px;
	background: #6C6C6C;
	background-repeat: no-repeat;
	background-position: center}

a.admbox:hover, a.admbox:focus, a.admbox:active  {
	background: #B2B2B2;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: 1px solid #292929}

a.admbox.off {
	border: 1px solid #9f9f9f;
	color: #9f9f9f}

a.admbox.off:hover, a.admbox.off:focus, a.admbox.off:active {
	border: 1px solid #9f9f9f}

a.admbox.off img {
	background-image: url('../pics/overlay-disabled_item.png')}

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/
div#ajaxLoading {	display: 0;
	position: absolute;
	top: 50px;
	right: 50%;
	color: #fff;
	padding: 3px;
	font-family: Verdana;
	font-size: 90%;
	text-align: center;
	background: transparent url(../lib/shadowbox/images/loading-light.gif) no-repeat 50% 100%;
	height: 43px;
	width: 50px}


#shadowbox_title {
	height: auto !important;
	padding: 0;
	overflow: visible}

#shadowbox_title_inner {
	height: auto !important;
	font-size: 1em !important;
	line-height: 1em !important;
	white-space: normal !important;
	padding: 5px 0 4px 8px}

.tab-menu  {
	clear: both;
	line-height: 17px;
	list-style-image: 0;
	list-style-position: outside;
	list-style-type: 0;
	padding: 2px 0;
	margin-bottom: 6px;
	margin-top: 2px;
	width: 100%}

.tab-menu li {
	display: inline;
	margin: 0 2px;
	width: 200px;
	padding-right: 1.5em}

.tab-menu li img {vertical-align: middle}

.tab-wrapper {
	border: 1px s
/***** New (unsorted) *****/

/***** End New (unsorted) *****/

/* End of File */




