/* Mollio theme (mollio.css), an interpretation of
	the Mollio design (http://mollio.org) for Tikiwiki CMS/Groupware.
	Compatible with Tiki version 4.
	Visit http://themes.tikiwiki.org for more information.
*/
 
/* Import column layout foundation file: */
@import "lite/lite.css";

/* Import the default layout properties file: */
 @import "layout/layout.css";
 
/* And design defaults: */
@import "layout/design.css";

/***** XHTML Elements (body tag here,
			others follow Layout) *****/ 
body {
	font: 76%/1.5em Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff url(mollio/body_bg.gif) repeat-x 0 100%;
}
	
html>body {
	font-size: 100%;
}

 /***** Layout (overrides layout.css;
		also styling of page layout divs)  *****/
	
#main {
	font-size: 83%;
}

#middle {
	margin-top: 25px;
}

#c1c2 {
	text-align: left;
	font-size: 1em;
	background: transparent;
}

#c1c2 #wrapper .marginleft {
	margin-left: 215px;
	border-left: 1px solid #ccc;
}

#c1c2 #wrapper	.marginright {
	margin-right: 235px;
}

#c1c2 #wrapper	#col1 > .content {
	background: transparent}

#c1c2 #wrapper #col1 #tiki-center {
	padding: 0 10px}

#c1c2	#col2 {
	width: 215px;
	margin-right: -216px;
	border-right: 1px solid #ccc;
	text-align: center;
}

#col2 .content {
	width: 165px;
	margin: auto;
	border-top: 5px solid #999;
	padding-top: 1px;
	padding-bottom: 40px;
	text-align: left;
}

#col3 {
	width: 235px;
	margin-left: -235px;
	margin-bottom: 15px;
	font-size: 1em;
	text-align: left;
}

#col3 .content {
	border-top: 5px solid #999;
	padding-top: 1px;
	padding-bottom: 40px;
	margin-right: 25px;
}

#footer {
	clear:both;
	border-top: 1px solid #E3E8EE;
	font-size:86%;
	color:#999;
}

#footerbgtrap {
	padding: 10px 0 30px;
}

#footer p {
	margin: 0:
}

#footer a:link {
	color: #999;
}

#credits {
	display: inline;
}

.footerbgtrap {
	background: transparent;
}

/***** XHTML Elements (other than body tag) ******/

a,
a:hover {
	background: transparent;
	text-decoration: underline;
	cursor: pointer;
} 

a {
	color: #c00;
}
 
a:visited {
	color: #999;
} 

a:hover,
a:active {
	color: #069;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -1px;
	font-family: arial,verdana,sans-serif;
	margin: 1.2em 0 .3em;
	color: #000;
	border-bottom: 1px solid #eee;
	padding-bottom: .1em;
}

h1 {
	margin: 0;
}

h2 {
	font-size: 196%;
	margin-top:.6em;
}

h3 {
	font-size: 136%;
}

h4 {
	font-size: 126%;
}

h5 {
	font-size: 116%;
}

h6 {
	font-size: 106%;
}

.highlight {
	color: #e17000;
}

input{
	font-family: arial,tahoma,verdana,sans-serif;
	margin: 2px 0;
}

input[type=text],
input[type=password] {}

fieldset {
	border: 1px solid #999;
}

textarea,
fieldset {}
	
textarea.wikiedit {
/*	font-size: 110%;*/
}
	
select {}
	
legend {
	color: #333;
	font-weight: bold;
}

label {
	padding: 5px 0G
}

label br {
	clear:@leftG
}

span.button a,
span.button a:visited,
button,
input[type=reset],
input[type=submit],
span.button input,
.calbuttonBox a {
	font-weight: bold;
	color: #fff;
	background: #999;
	border-width: 1px;
	border-style:  solid;
	border-color: #f3f2f4 #89898b #89898b #f3f2f4;
}
	
* html input[type=reset],
* html input[type=submit] {
	}
	
span.button a:hover,
button:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.button input:hover,
.calbuttonBox:hover {
	color: #000;
	background: #999;
	border-width: 1px;
	border-style:  solid;
	border-color: #89898b #f3f2f4 #f3f2f4 #89898b;
	text-decoration: none}
	
.button a:active,
button:active,
input[type=reset]:active,
input[type=submit]:active,
.button input:active,
span.highlight a:link,
span.highlight a:visited {
	color: #fff;
	background: #999;
	border-color: /*buttonactivebordertopcolor*/ /*buttonhoverborderrightcolor*/ /*buttonhoverborderbottomcolor*/ /*buttonhoverborderleftcolor*/;
}

.highlight,
div.highlight a,
span.button.highlight a {
	color: #fff;
	background: #cc0000;
}

/*span.button.highlight {
	margin: 1px 2px;
	padding: 2px;
	background: inherit;
}*/

span.button.highlight a {
	border-bottom: 1px solid #990000;
	border-right: 1px solid #990000;
}

.highlight a:hover,
span.button.highlight a:hover {
	color: #000;
}

.findtable input[type=submit] {
	padding: 1px 3px;background:#666;color:#fff;font-weight:bold;font-size:96%
}

hr {
	background: #f2f2f2;
	color: #f2f2f2}
	
li {
	line-height: 1.4em;
}

/***** Site Header & Identity *****/
#siteheader {
	background: #666 url(mollio/sprites.gif) repeat-x 0 100%;
	margin: 0;
	padding: 0 0 8px;
	color: #ccc;
}

#header a,
#header a:link,
#headaer a:visited {
	color: #ccc;
}
/*
#sioptions {
	min-height: 100px;
}*/

#tiki-top {
	position: relative;
}

#sitesearchbar {}
#sitetitles {
	margin: 30px 0 0;
	padding: 3px 0;
	display: inline-block;
	height: 60px;
}

#sitetitle,
#sitesubtitle {
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
}

#sitetitle {
	font-size: 265%;
	letter-spacing: -.05em;
}

#sitetitle a,
#sitetitle a:visited {
	text-decoration: none;
}	
	
#sitesubtitle {
	font-size: 100%;
	margin-left: 16px;
}

#siteloginbar {
	right: 40px;
}
	
/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

/* typography, colors */
.cssmenu_horiz a,
.cssmenu_vert a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

.cssmenu_horiz a:hover,
.cssmenu_vert a:hover {
	text-decoration: none;
	color: #000;
}
.cssmenu_horiz li,
.cssmenu_vert li ul li {
	background: #999;
}

.cssmenu_horiz ul li a {
	border-right: 0;
}

.cssmenu_horiz li ul li a,
.cssmenu_vert li a {
	color: #467aa7
}

.cssmenu_vert li ul li a {
	color: #fff;
}

/* default link padding */
.cssmenu_horiz a,
.cssmenu_vert a {
	padding: 4px 10px 2px;
}

/* ul ul top compensation for padding */
.cssmenu_horiz li:hover ul,
.cssmenu_horiz li.sfHover ul {
	top: 2.3em;
}

#tiki-top .cssmenu_horiz {
	position: absolute;
	left: 30px;
	bottom: 0;
}

#tiki-top .cssmenu_horiz li {
	border-bottom: 3px solid #666;
	border-right: 3px solid #252525;
}

#tiki-top .cssmenu_horiz li.selected {
	background: #cc0000;
	border-bottom: 3px solid #cc0000;
}

#tiki-top .cssmenu_horiz li a {
	color: #fff;
}

#tiki-top .cssmenu_horiz li a:hover {
	color: #000;
}

#tiki-top .cssmenu_horiz li ul {
	top: 28px;
	background: #f6f6f6 url(mollio/featurebox_bg.gif) no-repeat 100% 100%;
	border-left: 1px solid #c00;
	width: 15.8em;
	font-weight: normal;
	padding: 0;
}

#tiki-top .cssmenu_horiz li.selected ul {
	border: none;
	background: #c00 url(mollio/featurebox2_bg.gif) no-repeat 100% 100%;
}

#tiki-top .cssmenu_horiz li.selected ul a {
	color: #fff;
}

#tiki-top .cssmenu_horiz li.selected ul a:hover {
	background: #333 !important;
	color: #fff;
}

#tiki-top .cssmenu_horiz li ul li {
	background: none;
	border: none;
	border-top: 1px solid #999;
}

#tiki-top .cssmenu_horiz li ul li:first-child {
	border-top: none;
}

#tiki-top .cssmenu_horiz li ul li a {
	font-weight: normal;
	font-size: .9em;
	padding-top: 4px;
	padding-bottom: 4px;
	display: block;
	color: #000;
}

#tiki-top .cssmenu_horiz li ul li a:hover {
	color: #fff;
	background: #cc0000;
	
}

#tiki-top .cssmenu_horiz li ul ul {
	top: -1px;
	left: 14.2em;
}

/* left column width */
#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 165px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 165px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

/* special arrows and arrow top padding */
.cssmenu_vert li a .sf-sub-indicator {
	background: url(mollio/arrows-cc0000.png) no-repeat 0 0;
}
/*
.cssmenu_vert li ul li a .sf-sub-indicator {
	background: url(../lib/jquery/superfish/images/arrows-ffffff.png) no-repeat 0 0;
}*/

.cssmenu_vert li a .sf-sub-indicator {
	top: .6em;
}

#tiki-top .cssmenu_horiz li ul li a .sf-sub-indicator {
	background: url(mollio/arrows-000000.png) no-repeat 0 0;
	top: .6em;
	right: 2em;
}

/** Links in other menus **/
.separator,
.option {margin-bottom: 5px}

div.separator {
	border-bottom: 1px solid #ccc;
}

div.option a {
	line-height: 1.5;
	background: url(mollio/sprites.gif) no-repeat 0 -798px;
	padding: 0 0 0 12px;
	font-weight: normal;
	width: auto;
	color: #000;
	width: 130px;
	display: block;
}

div.separator,
div.option a {
	font: normal 86% arial;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	line-height: 1.5;
	padding: 0 0 0 12px;
	color: #000;
}

div.separator {
	padding-left: 0;
}

a.separator {
	text-decoration: none;
}

a.separator:hover,
div.option a:hover {
	color: #cc0000;
	text-decoration: none 
}

div.separator div.option a {
	background: #fff url(mollio/sprites.gif) no-repeat 10px -695px;
}

a.separator span.menuText {
	color: #000;
}

a.separator:hover span.menuText {
	color: #cc0000;
	text-decoration: none;
}

a.separator img.icon {
	background: none;
	padding: 0;
}

div.menuSection div.option {
	padding-left: 20px;
}
	/*
.option {
	padding-left: 10px;
}*/

.option a {
	padding: 0 10px;
}

/***** Misc. Center Col. *****/
#showhide_columns,
.tellafriend,
#tiki-center {
	margin: 10px;
}

/****** Misc. Global ****/

a.crumblink,
a.crumblink:visited {
	color: #cc0000;
	text-decoration: none;
	font-size: 93%;
	font-weight: bold;
}

a.crumblink:hover,
a.crumblink:active {
	color:#069;
	text-decoration: underline;
}

div.mini {
	background: #f2f2f2;
	color: #666;
	padding: 4px;
	border: 1px solid #ddd;
	width: 40%;
	margin: auto;
	margin-top: 8px;
}

span.pagenums,
a.prevnext {
	text-decoration:none;background:#fff;padding:2px 5px;border: 1px solid #ccc
	
}

/***** Boxes *****/
/** Modules **/
.box {
	color: #333;
	padding: 0 20px 20px;
	border-top: 1px solid #d7d7d7;
	margin: 0 0 1.5em;
	background: #f6f6f6 url(mollio/featurebox_bg.gif) no-repeat 100% 100%;
}
	
#col2 .box,
#col2 .box-data {
	width: 165px;
	background: none;
	padding: 0;
	margin-bottom: 20px;
}
/*
#col2 h3.box-title {
	display: none;
	
}
*/
h3.box-title {
	border-bottom: 1px solid #c00;
	color:#c00;
}

#col2 ul.cssmenu_vert {
	padding-top:0;
	padding-left: 0;
	border-top: 1px solid #ccc;
	margin-top: 1px;
}

#col2 .cssmenu_vert li {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
}

#col2 .cssmenu_vert li ul li:first-child {
	border-top: 1px solid #ccc;
}

#col2 .cssmenu_vert li a {
	line-height: 1.8;
	padding: 5px 0 5px 23px;
	background: #fff url(mollio/sprites.gif) no-repeat 10px -695px;
	font: bold 86% arial;
	color: #000;
}

#col2 .cssmenu_vert li a:hover {
	color:#c00;
	background: #fee url(mollio/sprites.gif) no-repeat 10px -695px;
}

#col2 .cssmenu_vert li a:active,
#col2 .cssmenu_vert li.selected a {
	color: #c00;
}


#col3 .box {
	color: #333;
	padding: 0 20px 20px;
	border-top: 1px solid #d7d7d7;
	margin: 0 0 1.5em;
}

#col3 h3.box-title {
	border-bottom: 1px solid #c00;
	color: #c00;
}

/** Other boxes **/

.cbox {
	border: 2px solid #999;
}

.cbox-title {
	border-bottom: 1px solid #999;
}

.rbox-title, 
.rbox-data {border-color: #cc0000}

.rbox-title {
	background: #cc0000;
	color: #fff;
	font-weight: bold;
}
	
.rbox-data {
	background: #ddd}
	
div.simplebox {
	background: #f2f2f2;
	color: #666;
	padding: 4px 2px 4px 7px;
	border: 1px solid #ddd;
	margin: 0 0 1.5em;
}

.halffloat div.box,
.wikitext .halffloat div.box {
	width: 40.5%;
	margin-right: 1.5%;
	margin-left: 0;
 
}

.thirdfloat div.box,
.wikitext .thirdfloat div.box {
	width: 24.2%;
	margin-right: 1.3%;
	margin-left: 0;
}

.quarterfloat div.box,
.wikitext .quarterfloat div.box {
		width: 16%;
		margin-right: 1.1%;
		margin-left: 0;
}

/***** Tables, Tabs *****/
/** Tables **/

table.normal/*,
table.admin*/ {
	border: 2px solid #900;
	border-collapse: collapse;
	width: 100%;
}
	
table.normal td/*,
table.admin td*/ {
	  background: #fff url(mollio/sprites_td.png;
	  padding: 3px;
	  border: 1px solid #fff;
}

th {text-align:left;border: 1px solid #fff}

th,
td.heading,
table.normal td.heading,
tr.diffheader {
	color: #fff;
	background: #900 url(mollio/sprites.gif) repeat-x 0 -1300px;
	padding: 10px 6px;
}

table.normal th {
	color: #fff;
	/*font-size: 145%;*/
	background: #900 url(mollio/sprites.gif) repeat-x 0 -1300px;
	padding: 10px 6px;
}

table.normal tbody td.heading {
	color: #fff;
	font-size: 115%;
	background: #88b8db url(mollio/sprites.gif) repeat-x 0 -1400px;
	padding: 6px;
}

	 
table.normal a.link, 
table.normal a {
	
}
th a,
th a:visited,
td.heading a,
td.heading a:visited,
tr.diffheader a,
tr.diffheader a:visited,
.calHeading a,
.calHeadingOn a {
	color: #fff;
	text-decoration: none;
}

th a:hover,
td.heading a:hover
tr.diffheader a:hover {
	color: #fff;
	text-decoration: underline;
}

table.admin a.link,
table.admin a,
table.admin label,
fieldset.admin label,
.cbox fieldset.admin a {
}

tr.odd td,
td.odd {
	background: #f3f3f3 url(mollio/td_bg.gif) no-repeat 100% 100%;
/*	border-right: 1px solid /*tdoddborderrightcolor*/;}

tr.even td,
td.even {
	background: #fff url(mollio/td_bg_light.jpg) no-repeat 100% 100%;
/*	border-right: 1px solid *//*tdevenborderrightcolor*/;}
	 
/** Tabs **/
/* reset what's in layout.css */

form#editpageform {
	margin: 0 0 1.5em;
	width: 100%;
	padding: .5em 0;
	background: #f6f6f6 url(mollio/featurebox_bg.gif) no-repeat 100% 100%;
	border-top: 1px solid #d7d7d7;
}

form#editpageform table.normal {
	border: none;
}
.tabs {
	margin: 0 2px;
	margin-bottom: -3px;
}

/* reset what's in layout.css */
.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabmark {
	background: #ddd;
	border: .1em solid #666;
	margin-right: .5em;
	padding: .2em .4em 0;
}

.tabmark:hover {
	background: #fff;
}

.tabactive {
	border: solid 1px #ccc !important;
	border-bottom: 1px solid #eee !important;
	background: #eee;
}

.tabinactive {
	border: solid .1em #bbb !important;
	border-bottom: 1px solid #ddd !important;
}

.tabcontent {
	border-top: 4px solid #eee !important;
	padding: .5em;
	background: none;
}

/***** Wiki *****/
h1.pagetitle a,
h1.pagetitle a:visited,
h1.pagetitle a:hover {
	color: #000;
	text-decoration: none;
}

a.pagetitle,
a.pagetitle:visited,
a.pagetitle:hover {
	color: #000;
	text-decoration: none;
}

div.article h2 {
	color: #000;
	text-decoration: none;
}

.wikitext table {
	border: 2px solid #900;
	border-collapse: collapse;
	width: 100%;
}
.wikitext table td {
	background: #fff url(mollio/sprites_td.png) repeat-x;
	padding: 3px;
	border: 1px solid #fff;
}
	
div.code,
.codelisting {
	margin-top: 0;
	padding: 0 1em 1em;
	background: #f3f3f3 url(mollio/td_bg.gif) no-repeat 100% 100%;
	color: #666;
	border: none;
}

.codecaption {
	border-bottom: 1px solid #999;
	width: 25%;
	margin-bottom: 0;
	padding: .1em .3em 0;
	color: #4077d2/;
	background: #f3f3f3;
}

div#textarea-toolbar {
	background: /*textarea-toolbarbackgroundcolor*/;
	border: 1px solid /*textarea-toolbarbordercolor*/}
	
div.help_sections {background: /*help_sectionsbackgroundcolor*/}

/***** Articles ****/
body.tiki_cms h1 a.pagetitle,
body.tiki_cms h1 a.pagetitle:visited,
body.tiki_cms h1 a.pagetitle:hover {border-bottom: 0}

div.article {
	background: /*articlebackgroundcolor*/;
	border: none;
	margin-bottom: 70px;}
	
div.article h2 {font-size: 126%}

div.article a,
div.article a:visited {
	text-decoration: none;
	color: #000;
}

.titleb {
	font: bold 82% arial;color:#bbb;display:block;letter-spacing: 1px
}

div.articletrailer span {
	background: /*articletrailerspanbackgroundcolor*/;
	margin-left: 5px;
	padding-left: 20px;}
	
div.articletrailer div.status a {
	background: transparent url(mollio/sprites.gif) no-repeat 5px -500px;
	padding-left: 21px;
}

div.articletrailer div.status a:hover {
	background: transparent url(mollio/sprites.gif) 5px -400px
}

/***** Blogs *****/

body.tiki_blogs .post {
	background: /*(blog)postbackgroundcolor*/;
	border: 0;}
	
body.tiki_blogs .post .title h2 {color: /*pagetitlecolor*/}

.postfooter .actions a.link,
.postfooter .actions a.visited {
	background: transparent url(mollio/sprites.gif) no-repeat 5px -500px;
	padding-left: 21px;
}

.postfooter .actions a.linkhover {
	background: transparent url(mollio/sprites.gif) 5px -400px
}

/***** Forums *****/
.navbar {
	margin: 5px 0;
}
.postbody-title {
	display: block;
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 3px solid #999;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #000}
	
.post .postbody .content {
	float: none}

.post .author {
	float: none;
	text-align: left;
	font-size: 10px;
	margin: -10px 0 10px 0;
}

.post .author_info .icons {
	text-align: left;
}

.forum_actions {
	background: #333;
	color: #fff;
	padding: 3px;
}
.forum_actions span.title {
	font-weight: bold;
}

/**** Image Galleries ****/

/***** File Galleries *****/
.opaque {
	color: /*opaquecolor*/;
	background: /*opaquebackgroundcolor*/;
	border: 1px solid /*opaquebordercolor*/;
	padding: 3px}

.opaque .box-title {
	padding-bottom: 2px;
	border-bottom: 1px solid /*opaquetitleborderbottomcolor*/}

/***** Trackers *****/

/***** Categories, Tags *****/

/***** Tags (freetags) *****/
div.freetagitemlist {
	background: /*freetagitemlistbackgroundcolor*/;
	border: 1px solid /*freetagitemlistbordercolor*/;
	margin-bottom: 30px;
	padding: 0 0 10px}

/*****  Polls  *****/

/***** FAQs *****/

/***** Quizzes *****/

/***** Shoutbox *****/

/***** Directory *****/
.dirsite {
	background: /*dirsitebackgroundcolor*/;
	border: 1px solid /*dirsitebordercolor*/;
	margin-bottom: 30px;
	padding: 0 0 10px}

/***** Messages *****/

/***** TikiSheets *****/


/***** Calendar *****/
.caldark {
	background: /*caldarkbackgroundcolor*/;
	border: 0}

.caldark .calfocus {background: /*caldarkcalfocusbackgroundcolor*/}
.calodd, .caleven {border: 1px solid /*caloddcalevenbordercolor*/}
.calodd .calfocus {background: /*caloddcalfocusbackgroundcolor*/}
/*.calodd .calfocus, .calodd .calfocuson*/
.caleven .calfocus, .caleven .calfocuson {background: /*calevencalfocusbackgroundcolor*/}

.Calwiki, .Calblog, .Calgal, .Calart, .Calforum, .Caldir, .Calfgal, .Calfaq, .Calquiz, .Caltrack, .Calsurv, .Calnl, .Calchart {
font-size:11px;
font-weight: normal;
}


.box-data #caltable {
	margin-top: 0;
}

.weeks,
.calHeading,
.cal_title {
	color: #fff;
	font-size: 145%;
	background: #900 url(mollio/sprites.gif) repeat-x 0 -1300px;
	padding: 3px 2px;
}

.weeks,
.calHeading {
	font-size: 100%;
}

.weeks a,
.weeks a:visited,
.weeks a:hover,
.cal_title a,
.cal_title a:visited,
.cal_title a:hover {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
#calscreen > table,
#caltable {
	border: 2px solid #900;
	border-collapse:collapse;
}

#caltable th.days {
	color: #fff;
	border: 1px solid #FFFFFF;
	font-size: 115%;
	background: #88b8db url(mollio/sprites.gif) repeat-x 0 -1400px;
	padding: 2px;
	
}

td.caldark,
td.caleven,
td.calodd {
	background: #fff url(mollio/sprites.gif) repeat-x 0 -1600px;
	padding: 3px;
	text-align: center;
	border: 1px solid #ddd
}

.caldark .calfocus {
	background: #999;
}
/***** Admin *****/
div.admin {
	line-height: normal;
}

a.admbox {
	background: /*admboxbackgroundcolor*/ no-repeat center center;
	border: 1px solid #cc0000
	color: #cc0000;
	line-height: normal;
}

a.admbox span {
	color: #cc0000;
}
	
a.admbox:hover {
	background: /*admboxhoverbackgroundcolor*/ no-repeat center center;
	border: 1px solid #999;
	color: /*admboxhovercolor*/;
	text-decoration: none}
	
a.admbox:hover span {
	color: #069;
}

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/

/***** New (unsorted) *****/

/***** End New (unsorted) *****/

/* End of File */




