/* $Id$
	Coelesce theme selectors for IE6.
*/

body {
	font-size: 76%;
}

h1 {
	margin-bottom: auto;
}

.wikitopline select {
	font-size: .9em;
}

span.button a {
	background: #f5f5f5;
}

span.button a:link,
span.button a:visited {
	text-decoration: none;
	border: 0;
	padding: 0 4px;
}

#sitesearchbar {
	width: 180px;
}

#sitesearchbar .findtable {
	position: fixed;
	margin-top: -18px;
}

#sitetitles {
	display: inline;
	margin-top: 6px;
}

#sitetitle {
	height: 34px;
}

#sitesubtitle {
	font-size: 14px;
	height: 18px;
}

#tiki-top {
	font-size: 11px;
}

#tiki-center {
	font-size: 1em;
}

.clearfix {
	height: 1%;
}

div#tikihelp {
	position: absolute;
}

div.box {
	width: 205px !important;
}

h3.box-title {
	position: static;
}

.moduleflip {
	position: static;
	float: right;
}

.moduleflip {
	display: block;
}

img.flipmodimage {
	border: none;
}

#col2 div.cssmenubox .box-data {
	padding-right: 0 !important;
}

#col2 ul.cssmenu_vert {
	padding-left: 0;
	margin-left: 0;
	width: 160px;
}


table.normal, 
table.admin {
	width: 97%;
}

td {
	font-size: 11px;
}

th,
table.normal td.heading {
	height: 32px;
}

.tabinactive a:visited {
	color: #fff;
}

.tabinactive a:hover {
	color: #5a7ea2;
}

.wikiactions .icons,
.wikiactions form {
	display: inline;
}

div.articletitle h2 {
	height: 26px;
}

.postbody table {
	font-size: 11px;
}

.post .postbody {
	font-size: 11px;
}

table.galtable {
	width: 97%;
}

.addevent {
	padding: 0;
}

.calodd {
	padding: 0;
}

.caleven {
	padding: 0;
}

.caldark {
	padding: 0;
}

.bloginfo table {
	font-size: 11px;
}