@import "tikineat.css";

@font-face {
font-family: 1942;
font-style:normal;
font-weight: 700;
src: URL(../fonts/1942.ttf);
}
@font-face {
font-family: Felt Tip Roman;
font-style:normal;
font-weight: normal;
src: URL(../fonts/FeltTipRoman.ttf);
}
@font-face {
font-family: Felt Tip Roman;
font-style:  normal;
font-weight: normal;
src: url(../../../FELTTIP1.eot);
}
@font-face {
font-family: Felt Tip Roman Heavy;
font-style:  normal;
font-weight: normal;
src: url(../../../FELTTIP0.eot);
}

.outline {
  border: 1px solid #cccccc;
  /*
  background: #ffffff;
  */
	padding: 2px;
}

#buttons {
	float: right;
	margin: 0px;
	padding: 0px;
	width: 50%;
}


ul#mainlevel-nav
{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 1em;
}

ul#mainlevel-nav li
{
	display: block;
	background-image: none;
	padding-left: 0px;
	padding-right: 0px;
	float: right;
	margin: 0;
	width: auto !important;
  width: 15%;
	font-size: small;
	line-height: 21px;
	white-space: nowrap;
	border-left: 1px solid #cccccc;
}

ul#mainlevel-nav li a
{
	width: 100%;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	color: #333333;
	background: transparent;
}

#buttons>ul#mainlevel-nav li a { width: auto; }

	ul#mainlevel-nav li a:hover
{
	color: #ffcc00;
	background: #D84203;
}


#left_outer {
  float: left;
	margin: 0px;
	width: 100px;
}

#left_inner {
  border: 1px solid #cccccc;
	padding: 2px;
  float: none !important;
  float: left;
}

#content_outer {
	padding: 0px;
	margin-top: 0px;
	margin-left: 2px;
	/** border: 1px solid #cccccc; **/
	float: left;
	width: 635px;
}

#content_inner{
  float: none !important;
  float: left;
  padding: 0;
  padding-top: 2px;
  margin: 0;
}

table.content_table {
  width: 100%;
	padding: 0px;
	margin: 0px;
}

table.content_table td {
	padding: 0px;
	margin: 0px;
}


.body_outer {
	padding: 2px;
	border: 1px solid #cccccc;
}

.maintitle {
	color: #ffffff;
	font-size: large;
	padding-left: 15px;
	padding-top: 20px;
}

.error {
  font-style: italic;
  text-transform: uppercase;
  padding: 5px;
  color: #cccccc;
  font-size: small;
  font-weight: bold;
}

/** old stuff **/

.back_button {
	float: left;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  border: 3px double #cccccc;
  width: auto;
  background: url(napkin/images/button_bg.png) repeat-x;
  padding: 0px 10px;
  line-height: 20px;
  margin: 1px;
}

#footer {
	text-align: center;
	padding: 3px;
}

ul
{
margin: 0;
padding: 0;
list-style: none;
}

li
{
line-height: 15px;
padding-left: 15px;
padding-top: 0px;
background-image: url(napkin/images/arrow.png) ;
background-repeat: no-repeat;
background-position: 0px 3px;
}


td {
	text-align: left;
	font-size: medium;
}



body {
	margin: 15px;
	height: 100%;
	padding: 0px;
	font-family: FeltTip, "Felt-Tip", "FeltTipRoman", "Felt Tip Roman", augie, "aescr5b", "1942", Blippo, Oldtown, Brushstroke, fantasy, cursive;
	/*
	font-family: FeltTip, "Felt-Tip", "FeltTipRoman", "Felt Tip Roman", augie, "aescr5b", "1942", Blippo, Oldtown, Brushstroke, cursive;
	*/
	font-size: medium;
	color: #333333;
        background: url(napkin/images/napkin) repeat;
}

a:link, a:visited {
	color: #ff0000; text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #C43C03;	text-decoration: none;
	font-weight: bold;
}

table.contentpaneopen {
  width: 100%;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px;
}

table.contentpaneopen td {
   padding-right: 5px;
}

table.contentpaneopen td.componentheading {
	padding-left: 4px;
}



table.contentpane {
  width: 100%;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px;
}

table.contentpane td {
	margin: 0px;
	padding: 0px;
}

table.contentpane td.componentheading {
	padding-left: 4px;
}

.button {
  color: #ff0000;
  font-family: Arial, Hevlvetica, sans-serif;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  border: 3px double #cccccc;
  width: auto;
  background: url(napkin/images/button_bg.png) repeat-x;
  padding: 0px 5px;
  line-height: 18px !important;
  line-height: 16px;
  height: 26px !important;
  height: 24px;
  margin: 1px;
}

.inputbox {
	padding: 2px;
	border:solid 1px #cccccc;
	/*
	background-color: #ffffff;
	*/
}

.componentheading {
	background: url(napkin/images/subhead_bg.png) repeat-x;
	color: #666666;
	text-align: left;
	padding-top: 4px;
	padding-left: 4px;
	height: 21px;
	font-weight: bold;
	font-size: small;
	text-transform: uppercase;

}

.contentcolumn {
	padding-right: 5px;
}

.contentheading {
	height: 30px;
	background: url(napkin/images/contenthead.png) top left repeat-x;
	color: #666666;
	text-indent: 15px;
	font-weight: bold;
	font-size: 11px;
	white-space: nowrap;
}



.contentpagetitle {
	font-size: 13px;
	font-weight: bold;
	color: #cccccc;
	text-align:left;
}

table.searchinto {
	width: 100%;
}

table.searchintro td {
	font-weight: bold;
}

table.moduletable {
	width: 100%;
	margin-bottom: 5px;
	padding: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

table.moduletable th {
	background: url(napkin/images/subhead_bg.png) repeat-x;
	color: #666666;
	text-align: left;
	padding-top: 4px;
	padding-left: 4px;
	height: 21px;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
}

table.moduletable td {
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}

table.pollstableborder td {
  padding: 2px;
}

.sectiontableheader {
  font-weight: bold;
  background: #f0f0f0;
  padding: 4px;
}

.sectiontablefooter {

}

.sectiontableentry1 {
/*
	background-color : #ffffff;
	*/
}

.sectiontableentry2 {
	background-color : #f9f9f9;
}

.small {
	color: #999999;
	font-size: 11px;
	font-weight: bold;
}

.createdate {
	height: 15px;
	padding-bottom: 10px;
	color: #999999;
	font-size: 11px;
	font-weight: bold;
}

.modifydate {
	height: 15px;
	padding-top: 10px;
	color: #999999;
	font-size: 11px;
	font-weight: bold;
}

table.contenttoc {
  border: 1px solid #cccccc;
  padding: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
}

table.contenttoc td {
  padding: 2px;
}

table.contenttoc th {
  background: url(napkin/images/subhead_bg.png) repeat-x;
  color: #666666;
	text-align: left;
	padding-top: 2px;
	padding-left: 4px;
	height: 21px;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
}

a.mainlevel:link, a.mainlevel:visited {
	display: block;
	background: url(napkin/images/menu_bg.png) no-repeat;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-align: left;
	padding-top: 5px;
	padding-left: 18px;
	height: 20px !important;
	height: 25px;
	width: 100%;
	text-decoration: none;
}

a.mainlevel:hover {
	background-position: 0px -25px;
	text-decoration: none;
	color: #333333;
}

a.sublevel:link, a.sublevel:visited {
	padding-left: 1px;
	vertical-align: middle;
	font-size: 11px;
	font-weight: bold;
	color: #ff6600;
	text-align: left;
}

a.sublevel:hover {
	color: #C43C03;
	text-decoration: none;
}
.highlight {
	background-color: Yellow;
	color: Blue;
	padding: 0;
}
.code {
	background-color: #ddd;
	border: 1px solid #bbb;
}

form {
/* removes space below form elements */
	margin: 0;
 	padding: 0;
}
