a.admbox {
	border : 2px solid #89d;
	height : 100px;
	width : 100px;
	text-align : center; 
	vertical-align : middle;
	overflow : hidden;
	float : left; 
	margin : 5px; 
	background-color: #9fff9f; background-position: center; background-repeat: no-repeat;
	padding : 0;
	padding-top: 0px;
	position: relative;
	text-decoration : none;
}
a.admbox img { 
	border: none; margin-top : 0px; width: 100px; height: 100px; position: absolute; top: 0; left: 0;
	z-index: 0;
}
a.admbox span { 
	position: absolute; bottom: 0; left: 0; width: 100%; margin-bottom: 1px;
}

a.admbox.off {
	/*background-color : #d0d0d0; */
	border : 2px solid #9f9f9f;
	color: #9f9f9f;
}
a.admbox.off img {
	background-image: url('../pics/overlay-disabled_item.png');
}
a.admbox:hover, a.admbox:focus, a.admbox:active {
	background-color: #9fff9f;
	padding : 0;
	margin : 5px;
	border : 2px solid #c00;
	color: #000;
}
a.admbox.off:hover, a.admbox.off:focus, a.admbox.off:active {
	border : 2px solid #9f9f9f;
	color: #333;
}
