/*** CSS (suckerfish) menus ***/
/** essential styles **/
.cssmenu_horiz,
.cssmenu_horiz *,
.cssmenu_vert,
.cssmenu_vert *,
.cssmenu_vert ul {
	margin: 0;
	padding: 0;
	padding-left: 0;
	padding-right: 0;
	list-style: none;
}

.cssmenu_horiz,
.cssmenu_vert {
	line-height: 1;
}

.cssmenu_horiz ul,
.cssmenu_vert ul {
	position: absolute;
	top: -999em;
	width: 10em; /* left offset of submenus need to match (see below) */
	z-index: 751;
}

.cssmenu_horiz ul li,
.cssmenu_vert ul li {
	width: 100%;
}

.cssmenu_horiz li:hover,
.cssmenu_vert li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}

.cssmenu_horiz li,
.cssmenu_vert li {
	float: left;
	position: relative;
}

.cssmenu_horiz a,
.cssmenu_vert a {
	display: block;
	position: relative;
}

.cssmenu_horiz li:hover ul,
.cssmenu_horiz li.sfHover ul,
.cssmenu_vert li:hover ul,
.cssmenu_vert li.sfHover ul {
	left: 0;
	top: 2.5em; /* match top ul list item height */
	z-index: 752;
}

.cssmenu_horiz li:hover li ul,
.cssmenu_horiz li.sfHover li ul,
.cssmenu_vert li:hover li ul,
.cssmenu_vert li.sfHover li ul {
	top: -999em;
}

.cssmenu_horiz li li:hover ul,
.cssmenu_horiz li li.sfHover ul,
.cssmenu_vert li li:hover ul,
.cssmenu_vert li li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}

.cssmenu_horiz li li:hover li ul,
.cssmenu_horiz li li.sfHover li ul,
.cssmenu_vert li li:hover li ul,
.cssmenu_vert li li.sfHover li ul {
	top: -999em;
}

.cssmenu_horiz li li li:hover ul,
.cssmenu_horiz li li li.sfHover ul,
.cssmenu_vert li li li:hover ul,
.cssmenu_vert li li li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}

/* Suggested style */
.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	font-style: italic;
}

.cssmenu_horiz li.selected ul li a,
.cssmenu_vert li.selected ul li a {
	font-style: normal;
}

/*** (demo skin removed) ***/

/*** arrows **/
.cssmenu_horiz a.sf-with-ul,
.cssmenu_vert a.sf-with-ul {
	padding-right: 2.25em;
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}

.sf-sub-indicator {
	position: absolute;
	display: block;
	right: .75em;
	bottom: 1.05em; /* IE6 only */
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	/* 8-bit indexed alpha png. IE6 gets solid image only. use url(arrows-000000.png) for black arrows */
	background: url(../lib/jquery/superfish/images/arrows-ffffff.png) no-repeat -10px -100px; 
}

a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	bottom: .8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}

/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.cssmenu_horiz ul .sf-sub-indicator { background-position: -10px 0; }
.cssmenu_horiz ul a > .sf-sub-indicator { background-position: 0 0; }

/* apply hovers to modern browsers */
.cssmenu_horiz ul a:focus > .sf-sub-indicator,
.cssmenu_horiz ul a:hover > .sf-sub-indicator,
.cssmenu_horiz ul a:active > .sf-sub-indicator,
.cssmenu_horiz ul li:hover > a > .sf-sub-indicator,
.cssmenu_horiz ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
ul.sf-shadow ul {
	background: url(../lib/jquery/superfish/images/shadow.png) no-repeat bottom right;
	padding: 0 8px 9px 0;
}

ul.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

/*** vertical menus ***/
.cssmenu_vert,
.cssmenu_vert li {
	width: 10em;
}

.cssmenu_vert li:hover ul,
.cssmenu_vert li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}

/*** alter arrow directions ***/
.cssmenu_vert .sf-sub-indicator {
	background-position: -10px 0; 
} /* IE6 gets solid image only */

.cssmenu_vert a > .sf-sub-indicator {
	background-position: 0 0;
} /* use translucent arrow for modern browsers*/

/* hover arrow direction for modern browsers*/
.cssmenu_vert a:focus > .sf-sub-indicator,
.cssmenu_vert a:hover > .sf-sub-indicator,
.cssmenu_vert a:active > .sf-sub-indicator,
.cssmenu_vert li:hover > a > .sf-sub-indicator,
.cssmenu_vert li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

#col2,
#leftcolumn,
#col3,
#rightcolumn,
.cssmenubox,
.box-menustructure,
.box-data ul.cssmenu_vert,
.box-data ul.cssmenu_vert li ul {
	overflow: visible !important;
}

/*** adding a parent div.sf-navbar to .cssmenu_horiz to create an all-horizontal nav-bar menu ***/
.navbar .cssmenu_horiz {
	background: #BDD2FF;
	height: 2.5em;
	padding-bottom: 2.5em;
	position: relative;
}

.navbar .cssmenu_horiz li {
	background: #AABDE6;
	position: static;
}

.navbar .cssmenu_horiz a {
	border-top: none;
}

.navbar .cssmenu_horiz li ul {
	width: 44em; /*IE6 soils itself without this*/
}

.navbar .cssmenu_horiz li li {
	background: #BDD2FF;
	position: relative;
}

.navbar .cssmenu_horiz li li ul {
	width: 13em;
}

.navbar .cssmenu_horiz li li li {
	width: 100%;
}

.navbar .cssmenu_horiz ul li {
	width: auto;
	float: left;
}

.navbar .cssmenu_horiz a,
.navbar .cssmenu_horiz a:visited {
	border: none;
}

.navbar .cssmenu_horiz li.current {
	background: #BDD2FF;
}

.navbar .cssmenu_horiz li:hover,
.navbar .cssmenu_horiz li.sfHover,
.navbar .cssmenu_horiz li li.current,
.navbar .cssmenu_horiz a:focus,
.navbar .cssmenu_horiz a:hover,
.navbar .cssmenu_horiz a:active {
	background: #BDD2FF;
}

.navbar .cssmenu_horiz ul li:hover,
.navbar .cssmenu_horiz ul li.sfHover,
.navbar .cssmenu_horiz ul li:hover li,
.navbar .cssmenu_horiz ul li.sfHover li,
.navbar .cssmenu_horiz ul a:focus,
.navbar .cssmenu_horiz ul a:hover,
.navbar .cssmenu_horiz ul a:active {
	background: #D1DFFF;
}

.navbar ul.cssmenu_horiz li li li:hover,
.navbar ul.cssmenu_horiz li li li.sfHover,
.navbar .cssmenu_horiz li li.current li.current,
.navbar .cssmenu_horiz ul li li a:focus,
.navbar .cssmenu_horiz ul li li a:hover,
.navbar .cssmenu_horiz ul li li a:active {
	background: #E6EEFF;
}

.navbar ul.cssmenu_horiz .current ul,
.navbar ul.cssmenu_horiz ul li:hover ul,
.navbar ul.cssmenu_horiz ul li.sfHover ul {
	left: 0;
	top: 2.5em; /* match top ul list item height */
}

.navbar ul.cssmenu_horiz .current ul ul {
	top: -999em;
}

.navbar .cssmenu_horiz li li.current > a {
	font-weight: bold;
}

/*** point all arrows down ***/
/* point right for anchors in subs */
.navbar .cssmenu_horiz ul .sf-sub-indicator {
		background-position: -10px -100px;
}

.navbar .cssmenu_horiz ul a > .sf-sub-indicator { 
	background-position: 0 -100px; 
}

/* apply hovers to modern browsers */
.navbar .cssmenu_horiz ul a:focus > .sf-sub-indicator,
.navbar .cssmenu_horiz ul a:hover > .sf-sub-indicator,
.navbar .cssmenu_horiz ul a:active > .sf-sub-indicator,
.navbar .cssmenu_horiz ul li:hover > a > .sf-sub-indicator,
.navbar .cssmenu_horiz ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/*** remove shadow on first submenu ***/
.navbar .cssmenu_horiz > li > ul {
	background: transparent;
	padding: 0;
}
