.fg-upload-close { display: none; }
.fg-dialog .fg-upload-close, .fg-upload .fg-upload-close, .fg-folder-dialog .fg-upload-close, .fg-insert .fg-upload-close { display: block !important; }

.fg-dialog a { cursor: pointer; }
/*
.fg-dialog { position: relative; border: 1px solid #999999; width: 700px; height: 633px; font-family: Arial; background: white; }
.fg-dialog h1 { position: absolute; left: 14px; top: 8px; font-size: 14px; font-weight: bold; text-transform: uppercase; color: #525252; }
*/
.fg-quick-insert-button { position: absolute; left: 14px; top: 46px; display: block; width: 174px; height: 19px; text-align: center; padding-top: 5px; text-decoration: none; color: white !important; background: #7BBA45; font-size: 11px; z-index: 350; }
/* .fg-tip-icon { position: absolute; right: 35px; top: 9px; z-index: 400; } */
.fg-watch-icon { position: absolute; right: 79px; top: 9px; z-index: 400; }
.fg-rss-icon { position: absolute; right: 10px; bottom: 10px; z-index: 400; }
.fg-info-icon { position: absolute; right: 104px; top: 9px; z-index: 400; }
.fg-tip { position: absolute; left: 189px; top: 27px; background: url(../images/file_gallery/tip.gif) no-repeat; width: 502px; height: 63px; display: none; }
.fg-tip h4 { font-size: 11px; margin: 0px; padding: 0px; position: absolute; left: 10px; top: 0px; }
.fg-tip p { font-size: 10px; font-style: italic; position: absolute; left: 10px; top: 13px; display: block; width: 480px; line-height: 90%; color: #6a6a6a; }
.fg-galleries { float:left; margin-top: 0px; width: 190px; }
.fg-galleries-hidden { display: none; }
.fg-files { margin-left: 190px; width: 510px; margin-top: 0px; height: 537px; }
.fg-files-wide { margin-left: 0px !important; width: 701px !important; position: relative !important; left: -1px !important; }
.fg-files-wide .fg-files-list { width: 700px; }
.fg-files-wide .fg-files-list table { width: 100%; }
.fg-pane { height: 22px; color: #ffffff; font-size: 14px; font-weight: bold; padding: 6px 0px 0px 16px; background: url(../images/file_gallery/pane-bg.gif) left top repeat; }
.fg-toolbar { height: 29px; background: url(../images/file_gallery/toolbar-bg.gif); position: relative; }
.fg-toolbar-left { padding: 5px 0px 0px 5px; height: 23px; }
.fg-files .fg-toolbar-left { padding: 5px 0px 0px 5px; border-left: #a7a7a7 1px solid; }
.fg-toolbar-left h2 { font-size: 14px; font-weight: bold; margin: 0px; padding: 2px 0px 0px 10px; }
.fg-toolbar-right { position: absolute; right: 5px; top: 3px; }
.fg-toolbar-icon { display: block; float: left; height: 16px; }
.fg-toolbar-left .fg-toolbar-icon { margin-right: 7px; }
.fg-toolbar-right .fg-toolbar-icon { margin-left: 7px; margin-top: 4px; }
.fg-files .fg-toolbar-left .fg-toolbar-icon { padding-top: 3px; }
.fg-galleries-list { padding: 7px; line-height: normal; }
.fg-galleries-list h3 { margin: 9px 0px 6px 0px; font-weight: bold; font-size: 12px; padding: 2px 0px 0px 20px; background: url(../images/file_gallery/icon-folders.gif) left center no-repeat; color: #4b4b4b; font-weight: bold; }
.fg-gallery { display: block; height: 14px; font-size: 11px; padding-left: 40px; padding-top: 5px; background: url(../images/file_gallery/icon-folder.gif) 20px 5px no-repeat; color: black; text-decoration: none; }
.fg-gallery-open { }
.fg-gallery-closed { }
.fg-gallery-kids { padding-left: 18px; }
.fg-gallery-selected { font-weight: bold; }
input.fg-toolbar-search-input { width: 147px; height: 21px; border: 0px; background: url(../images/file_gallery/search.gif) no-repeat; float: left; padding: 4px 4px 0px 4px; font-size: 11px; color: #999999; display: block; }
.fg-toolbar-search-submit { display: block; padding: 4px 3px 0px 6px; float: left; }
.fg-files-tools { border-bottom: #d6d6d6 1px solid; height: 20px; position: relative; font-size: 11px; border-left: #a7a7a7 1px solid; }
.fg-files-stats { padding: 4px 0px 0px 5px; }
.fg-files-count { position: absolute; right: 0px; top: 0px; padding: 2px 5px 0px 0px; width: 190px; height: 19px; border-left: #d6d6d6 1px solid; text-align: right; color: #717171; }
#fg-files-count-input { border: #7a7a7a 1px solid; font-size: 10px; width: 35px; height: 12px; color: #7a7a7a; font-size: 10px; }
.fg-files-buttons { border-left: #a7a7a7 1px solid; padding: 15px 0px 25px 8px; height: 23px; }
.fg-files-button-mode { display: block; border: #b0b0b0 1px solid; padding: 3px 3px 3px 33px; font-size: 11px; background: url(../images/file_gallery/icon-images.gif) 9px 4px no-repeat; float: left; color: black; text-decoration: none; margin-right: 8px; }
.fg-files-button-upload { display: block; border: #b0b0b0 1px solid; padding: 3px; background: #01B8E0; float: left; font-size: 11px; font-weight: bold; text-align: center; }
.fg-files-list { width: 510px; height: 396px; border-left: #a7a7a7 1px solid; position: relative; overflow-y: auto; overflow-x: hidden; }
.fg-list-view { }
.fg-files-list table { width: 509px; }
.fg-files-list th { color: #515151; font-size: 11px; text-align: left; height: 20px; vertical-align: top; border-bottom: #d6d6d6 1px solid; background: white; font-weight: bold; }
.fg-files-list th a { color: #515151; text-decoration: none; }
.fg-files-list tr.odd td { background: #efefef; }
.fg-files-list tr.even td { background: #d6d6d6; }
.fg-files-list td { font-size: 11px; height: overflow: hidden; vertical-align: top; padding: 5px 2px; }
.fg-files-list td.fg-file-checkbox { padding: 3px 2px; }
.fg-files-list td.fg-file-tools { padding: 5px 2px; }
.fg-files-list td.fg-file-icon { padding: 5px 2px; }
.fg-files-list td.fg-file-name { padding: 6px 0px; font-size: 11px; font-weight: bold; }
.fg-files-list td.fg-file-name div { width: 193px; overflow: hidden; height: 15px; }
.fg-files-list td.fg-file-size { width: 63px; padding-left: 6px; border-left: #a9a9a9 1px solid; }
.fg-files-list td.fg-file-lastModif { width: 123px; padding-left: 6px; border-left: #a9a9a9 1px solid; border-right: #a9a9a9 1px solid; }
.fg-files-list td.fg-file-info { text-align: right; padding-right: 6px; border-left: #a9a9a9 1px solid; }
.fg-files-list a { color: black; font-weight: bold; }
.fg-actions { padding-top: 10px; font-size: 11px; position: absolute; left: 10px; }
.fg-actions span { display: block; float: left; color: #878787; }
.fg-actions a { display: block; float: left; margin-left: 7px; }
.fg-pager { position: absolute; right: 10px; padding-top: 10px; font-size: 11px; color: #808080; width: 100px; }
.fg-pager span { color: black; }
.fg-pager a { color: #808080; text-decoration: none; }
.fg-pager a.fg-pager-current { color: black; font-weight: bold; }
.fg-pager .mini { font-size: auto; } /* fix */
.fg-pager a span { display: none; } /* fix */
.fg-pager .pagenums { display: none; } /* fix */
.fg-pager br { display: none; } /* fix */
.fg-pager .prevnext { padding: 0; font-size: 11px; } /* fix */
.fg-gallery-view { border-top: #d5d5d5 1px solid; }
.fg-gallery-view td { border: #d5d5d5 solid; border-width: 0px 1px 1px 0px; }
.fg-gallery-view td.fg-last { border-right: 0px; }
.fg-gallery-view-tools { padding: 8px; float: left; width: 16px; }
.fg-gallery-view-entry { margin-left: 32px; position: relative; height: 150px; width: 132px; }
.fg-gallery-view-image { padding: 7px 0px 0px 4px; text-align: center; width: 127px; }
.fg-gallery-view-name { position: absolute; top: 128px; left: 0px; width: 127px; text-align: center; font-weight: bold; }
.fg-gallery-view-info { border: #e1e1e1 1px solid; background: url(../images/file_gallery/gallery-info.gif); padding: 5px; color: #505050; width: 265px; z-index: 500; text-align: left; }
.fg-hover .fg-gallery-view-info { display: block; }
.fg-gallery-view-info h3 { margin: 0; padding: 0; font-size: 12px; }
.fg-gallery-view-info b { color: black; }

.fg-upload { width: 585px; height: 395px; position: relative; font-family: Arial; border: 1px solid #999999; }
.fg-upload-extra { height: 525px; }
.fg-upload #progress { position: absolute; top: 8px; right: 32px; color: #999999; font-size: 12px; }
.fg-upload h2 { font-size: 17px; height: 30px; margin: 0px; padding: 0px; border-bottom: #a9a9a9 1px solid; padding: 10px 0px 0px 15px; }
.fg-upload-close { position: absolute; right: 10px; top: 10px; cursor: pointer; z-index: 400; }
.fg-upload table { margin: 21px 0px 0px 18px; }
.fg-upload table td { vertical-align: top; }
.fg-upload label { width: 150px; font-weight: bold; text-align: right; padding: 3px 10px 12px 0px; font-size: 12px; display: block; }
#fg-upload-title { width: 312px; }
#fg-upload-description { width: 312px; margin-bottom: 6px; }
.fg-upload-unzip { font-size: 11px; text-align: right; font-weight: bold; }
#fg-upload-submit { display: block; width: 144px; height: 37px; font-weight: bold; color: white;  background-color: #74B03F !important; text-align: center; border: 0px; margin-left: 182px; margin-top: 10px; }
.fg-upload-hint { height: 25px; border: #e1e1e1 1px solid; background: url(../images/file_gallery/upload-hint.gif); font-size: 11px; color: #555555; font-style: italic; width: 526px; position: absolute; left: 22px; bottom: 19px; padding-top: 10px; padding-left: 15px; }

.fg-insert { width: 585px; height: 337px; position: relative; font-family: Arial; border: 1px solid #999999; }
.fg-insert h2 { font-size: 18px; height: 42px; padding: 10px 0px 0px 20px; margin: 0; }
.fg-insert-choose { padding-left: 62px; height: 54px; border-bottom: #a9a9a9 1px solid; }
.fg-insert-choose a { width: 144px; height: 27px; display: block; float: left; background: #d6d6d6; text-align: center; color: #a8a8a8; font-weight: bold; text-decoration: none; margin-left: 58px; padding-top: 10px; font-size: 14px; }
.fg-insert-choose a.fg-insert-active { background: #74B03F; color: white; }
.fg-insert-form { padding: 18px 22px 0px 22px; }
.fg-insert-thumb { float: left; width: 140px; }
.fg-insert-details { margin-left: 140px; font-size: 11px; color: #555555; }
.fg-insert-details b { color: black; }
.fg-insert-details h3 { font-size: 13px; margin: 0; padding: 0; color: black; }
#fg-insert-as-image { margin-left: 110px; margin-top: 12px; }
#fg-insert-as-image label { font-size: 11px; font-weight: bold; height: 16px; padding-top: 4px; padding-left: 5px; display: block; }
.fg-insert-size { width: 40px; font-size: 11px; }
#fg-insert-as-link { margin-left: 110px; margin-top: 12px; display: none; }
#fg-insert-as-link label { width: 60px; font-weight: bold; display: block; height: 16px; padding-top: 4px; padding-right: 10px; font-size: 11px; }
.fg-insert-submit { width: 144px; height: 37px; font-weight: bold; color: white; background: #74B03F; text-align: center; border: 0px; margin-left: 94px; margin-top: 23px; }

.fg-upload .fg-insert-choose { padding-left: 182px; border: 0px; height: 34px; }
.fg-upload .fg-insert-choose a { width: 144px; height: 23px; margin-right: 28px; margin-left: 0px; padding-top: 6px; font-size: 13px; }
.fg-upload .fg-insert-form { border: #bdbdbd 1px solid; margin: 5px 0px 0px 182px; padding: 12px; width: 276px; }
.fg-upload .fg-insert-form table { margin: 0px; }
.fg-upload .fg-insert-form table td { font-size: 12px; }
.fg-upload .fg-insert-form label { text-align: left; padding: 2px 0px 0px 3px; width: auto; height: auto; text-align: left; }
.fg-upload #fg-insert-as-image { margin-left: 0px; margin-top: 0px; }
.fg-upload #fg-insert-as-image label { height: auto; padding-top: 3px; padding-bottom: 5px; }
.fg-upload #fg-insert-as-link { margin-left: 0px; margin-top: 0px; }
.fg-upload #fg-insert-as-link label { width: 60px; font-weight: bold; display: block; height: 16px; padding-top: 4px; padding-right: 10px; font-size: 11px; }

.fg-folder-dialog { height: 600px; width: 498px; font-size: 11px; border: 1px solid #A7A7A7; }
#fg-folder-form { width: 498px; height: 550px; overflow: auto; }
.fg-folder-dialog h1 { padding-left: 14px; padding-top: 8px; padding-bottom: 20px; margin: 0; font-size: 14px; font-weight: bold; text-transform: uppercase; color: #525252; }
.fg-folder-dialog textarea { border: 1px solid #A7A7A7; }
.fg-folder-dialog input[type='text'] { border: 1px solid #A7A7A7; }
.fg-folder-dialog .fg-submit-container { padding: 5px; }

.fg-tabheads { list-style-type: none; margin: 0px; padding: 0px 0px 0px 10px; }
.fg-tabheads li { display: block; float: left; padding: 3px 10px 3px 10px; background: #e8e8e8; margin-left: 3px; }
.fg-tabheads a { color: black; text-decoration: none; cursor: pointer; }
.fg-tabheads li.fg-tabheads-active { background: #01B8E0; }
.fg-tabheads li.fg-tabheads-active a { color: white; font-weight: bold; }
.fg-tabs { clear: both; }
.fg-tab { }
#fg-tab-display { display: none; }

/*
.ui-dialog, .ui-widget, .ui-widget-content, .ui-corner-all { -moz-border-radius-bottomleft:0; -moz-border-radius-bottomright:0; -moz-border-radius-topleft:0; -moz-border-radius-topright:0; -moz-background-clip:auto; -moz-background-inline-policy:auto; -moz-background-origin:auto; background:white !important; border:0 !important; color:black !important; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif !important; font-size:0.75cm !important; padding:0 !important; }
*/
/*
.ui-dialog .ui-dialog-titlebar, .ui-widget .ui-dialog-titlebar, .ui-widget-content .ui-dialog-titlebar, .ui-corner-all .ui-dialog-titlebar { position: absolute; z-index: 300; background: transparent !important; width: 100%; display: block; height: 100px; left: 0px; top: 0px; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close, .ui-widget .ui-dialog-titlebar .ui-dialog-titlebar-close, .ui-widget-content .ui-dialog-titlebar .ui-dialog-titlebar-close, .ui-corner-all .ui-dialog-titlebar .ui-dialog-titlebar-close { display: none; }
*/
.ui-dialog .ui-dialog-content, .ui-widget .ui-dialog-content, .ui-widget-content .ui-dialog-content, .ui-corner-all .ui-dialog-content { background: transparent !important; border: 0 !important; overflow: hidden !important; padding: 0 !important; }
/*
.ui-dialog .ui-dialog-content input, .ui-widget .ui-dialog-content input, .ui-widget-content .ui-dialog-content input, .ui-corner-all .ui-dialog-content input,
.ui-dialog .ui-dialog-content button, .ui-widget .ui-dialog-content button, .ui-widget-content .ui-dialog-content button, .ui-corner-all .ui-dialog-content button,
.ui-dialog .ui-dialog-content select, .ui-widget .ui-dialog-content select, .ui-widget-content .ui-dialog-content select, .ui-corner-all .ui-dialog-content select,
.ui-dialog .ui-dialog-content textarea, .ui-widget .ui-dialog-content textarea, .ui-widget-content .ui-dialog-content textarea, .ui-corner-all .ui-dialog-content textarea { font-size: 12px !important; background: auto !important; }
.smalltitlebar .ui-dialog-titlebar { height: 43px !important; }
*/
div[aria-labelledby='ui-dialog-title-fg-jquery-upload-dialog'] { -moz-border-radius-bottomleft:0; -moz-border-radius-bottomright:0; -moz-border-radius-topleft:0; -moz-border-radius-topright:0; -moz-background-clip:auto; -moz-background-inline-policy:auto; -moz-background-origin:auto; background:white; border:0; color:black; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:0.75cm; padding:0; }
div[aria-labelledby='ui-dialog-title-fg-jquery-upload-dialog'] .ui-dialog-titlebar { position: absolute; z-index: 300; background: transparent !important; width: 100%; display: block; height: 43px !important; }
div[aria-labelledby='ui-dialog-title-fg-jquery-upload-dialog'] .ui-dialog-titlebar .ui-dialog-titlebar-close { display: none; }
div[aria-labelledby='ui-dialog-title-fg-jquery-upload-dialog'] .ui-dialog-content { background: transparent; border: 0; overflow: hidden; padding: 0; }
div[aria-labelledby='ui-dialog-title-fg-jquery-upload-dialog'] .ui-dialog-content input,
div[aria-labelledby='ui-dialog-title-fg-jquery-upload-dialog'] .ui-dialog-content button,
div[aria-labelledby='ui-dialog-title-fg-jquery-upload-dialog'] .ui-dialog-content select,
div[aria-labelledby='ui-dialog-title-fg-jquery-upload-dialog'] .ui-dialog-content textarea { font-size: 12px; background: auto; }

div[aria-labelledby='ui-dialog-title-fg-jquery-dialog'] { -moz-border-radius-bottomleft:0; -moz-border-radius-bottomright:0; -moz-border-radius-topleft:0; -moz-border-radius-topright:0; -moz-background-clip:auto; -moz-background-inline-policy:auto; -moz-background-origin:auto; background:white; border:0; color:black; font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:0.75cm; padding:0 }
div[aria-labelledby='ui-dialog-title-fg-jquery-dialog'] .ui-dialog-titlebar { position: absolute; z-index: 300; background: transparent !important; width: 100%; display: block; height: 100px; }
div[aria-labelledby='ui-dialog-title-fg-jquery-dialog'] .ui-dialog-titlebar .ui-dialog-titlebar-close { display: none; }
div[aria-labelledby='ui-dialog-title-fg-jquery-dialog'] .ui-dialog-content { background: transparent; border: 0; overflow: hidden; padding: 0; }
div[aria-labelledby='ui-dialog-title-fg-jquery-dialog'] .ui-dialog-content input,
div[aria-labelledby='ui-dialog-title-fg-jquery-dialog'] .ui-dialog-content button,
div[aria-labelledby='ui-dialog-title-fg-jquery-dialog'] .ui-dialog-content select,
div[aria-labelledby='ui-dialog-title-fg-jquery-dialog'] .ui-dialog-content textarea { font-size: 12px; background: auto; }

.fg-upload .tip { display: none; font-size: 12px; }

.fg-standalone { width: 100% !important; height: auto !important; padding-bottom: 20px; border-color: white !important; }
.fg-standalone .fg-upload-close { display: none !important; }
.fg-standalone .fg-files { width: auto !important; height: auto !important; }
.fg-standalone .fg-files-list { width: auto !important; height: auto !important; overflow: visible !important; }
.fg-standalone .fg-files-list table { width: auto !important; }
.fg-standalone .fg-tip { left: auto !important; right: 20px !important; }
.fg-standalone .fg-upload-hint { position: static !important; width: 100% !important; margin-top: 10px; }
.fg-standalone .fg-pane { height: auto; padding-bottom: 4px; }
.fg-standalone .fg-toolbar { height: auto; }
.fg-standalone .fg-files-tools { height: auto; }

.fg-custom-dialog { width: 400px; height: 140px; background: white; border: 1px solid #999999; font-family: Arial; background: white; }
.fg-custom-dialog .icon { display: none; }
.fg-custom-dialog .cbox { border: 0; }
.fg-custom-dialog .cbox-title { text-align: left; background: white; color: #666666; font-size: 14px; font-weight: bold; padding: 10px;}
.fg-custom-dialog .cbox-title .button a { background: #74B03F; color: white; border: 0; padding: 5px; margin: 0px 5px 5px 0px; float: left; }
