/* $Id$
	Fixed width for Fluid Index theme, TikiWiki CMS/Groupware.
*/

body {
	background: #242424;
}

#main {
	background: /*#fff*/;
}
#main[id] {
	border: 1px solid #4c4c4c;
	margin-top: 18px;
	margin-bottom: 5px;
}

#fixedwidth {
	display: table;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0px;
	width: 990px;
}
#fixedwidth[id] {
	height: auto;
}