/* $Id$
	Twist theme CSS for IE6
*/

body {font-size: 12px}

input[type="reset"],
input[type="submit"] {
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #fff;
	background: #1b5880 url(twist/header.jpg) -30px 0 no-repeat}

td#main-header,
.header {height: 108px;}
#header-top {height: 82px}

#sitetitles {
	width: 300px;
	padding-top: 35px}
	
#sitesubtitle {
	margin-top: 8px;
}
	
.articletrailer {width: 95%}
.findtable input {font-size: 1em}
.box-data ul {margin-left: 0}
.galtable {width: 97%}

.calodd,
.caleven,
.caldark {padding: 0}