<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Tiki database connection lost</title>
	<link href="favicon.png" rel="icon">
	<link rel="stylesheet" href="themes/base_files/css/tiki_base.css" type="text/css">
	<link rel="stylesheet" href="themes/default/css/default.css" type="text/css">
</head>
<body>
<div id="middle" class="container">
	<div>
		<div id="col1" style="margin: 4em; text-align: center;">
			<p><img src="img/tiki/tikilogo.png"/></p>
			<h1>Lost Tiki database connection</h1>
			<article id="top">
				<p>
					Sorry but there seems to be a problem connecting to the system's database </p>
				<p></p>
				<p>
					This may only be a temporary problem, so please wait a while and click
					<a href="./" class="btn btn-default btn-link">retry</a> to try and go back to the home page </p>
				<p>
					If it persists you should contact your system administrator </p>
			</article>
		</div>
	</div>
</div>
</body>
</html>
