/* 
 * Coelesce theme (coelesce.css) for TikiWiki CMS/Groupware,
 * original design by Patrick Allard. Distributed under the LGPL license. 
 * This is a *litecss-based theme, so import lite/lite.css. */
 @import "lite/lite.css"; 
 
/***** XHTML Elements ******/

body {
	text-align: left;
	font: 76%/1.4em Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-family: Arial, Helvetica, sans-serif;}

html>body {font-size: .7em !important}
/* workaround for Safari when in FCKEditor */
html[dir=ltr]>body {
	display: block;
	margin: 1em .5em;
}
body.fullscreen {}

a,
a:link,
a:visited {
	color: #295c8e;
	text-decoration: none}

a:hover {
	text-decoration: underline;
	color: #82a7c8}

caption {}
div {}
h1, h2, h3, h4, h5 {}

h1 {
	font-weight: bold;
	font-size: 1.8em;
	margin: 0;
	padding-left: 14px}
	
* html h1 {margin-bottom: auto}
	
h2 {font-size: 1.5em}
h3 {font-size: 1.4em}
h4 {font-size: 1.3em}
h5 {font-size: 1.2em}
h6 {font-size: 1.1em}

hr {
	width: 100%;
	height: 1px;
	background: #aaa;
	border-width: 0;
	padding: 0;
	color: #2d2d2d}

p {}
img {border: 0}

fieldset {
	border: solid 1px #527ca6;
	padding: 10px}

form {
	margin: 0;
	padding: 0}

legend {color: #3f6383}

input,
textarea,
option,
select,
body.wikitext {
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	font-size: 100% !important;
	background: #ecf5ff;
	color: #4a6a90;
	margin: 1px}
	
textarea {
	border: 1px solid #89a3c2;
	color: #2d2d2d}

pre {
	font-size: 1.2em;
}

.simplebox pre, .simplebox p {
	padding: 0;
	margin: 0;
}

* html .wikitopline select {font-size: .9em}

input[type=checkbox],
input[type=radio] {border: 0}

input[type=text],
input[type=password] {}

input[type=file],
input[type=reset],
select {}

.navbar{
	margin: 10px 0;
	line-height: 20px;
}

.categbar{
	margin: 10px 0;
	line-height: 20px;
}

span.button {
	display: inline-block;
	margin: 1px 2px;
	padding: 2px}

/* Links in buttons */
span.button a,
span.button a:visited,
button,
span.button input,
.calbuttonBox a {
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	font-size: .95em;
	font-weight: bold;
	color: #449cd0;
	background: #ededed;
	border: 1px solid #c5c5c5;
	padding: 1px 4px;
	margin-right: 1px;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer}

input[type=reset],
input[type=submit] {
	font-family: Verdana, Helvetica, Geneva, Arial, sans-serif;
	font-size: .95em;
	font-weight: bold;
	color: #449cd0;
	background: #ededed;
	border: 1px solid #c5c5c5;
	padding: 1px 4px;
	margin-right: 1px;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer}
	
* html span.button a {background: #f5f5f5}
	
* html span.button a:link,
* html span.button a:visited {
	text-decoration: none;
	border: 0;
	padding: 0 4px}

.button a,
.button a:visited {padding: 1px 4px}

.button a:hover,
button:hover,
.button input:hover,
.calbuttonBox a:hover {background: white}

input[type=reset]:hover,
input[type=submit]:hover {background: white}

.button a:active,	
button:active,
.button input:active,
span.highlight a:link,
span.highlight a:visited {
	color: #449cd0;
	background: #dbdbdb;
	border: 1px solid #527ca6;}

input[type=reset]:active,
input[type=submit]:active {
	color: #449cd0;
	background: #dbdbdb;
	border: 1px solid #527ca6;}

div.iconmenu {display: inline}

/* * html .findtable input {font-size: 1em}*/
form.admin input[name="features"] {margin-bottom: 3px !important}
select {}
select[multiple] {height: 10em}
select[name="theme"] {width: 145px}
small {font-size: .9em}
label {margin:0 2px}
ol {}
ul {}
li {}

/***** Page Layout *****/

/** off-screen **/
ul.jumplinks {
	font-size: 0.8em;
	list-style-type: none}
	
ul.jumplinks,
.jumplinks {
	position: absolute;
	top: -9000px; left: -9000px;
	z-index: 9}

ul.jumplinks a:focus,
ul.jumplinks a:active {
	position: absolute;
	top: 9010px;
	left: 9010px;
	background: #c3d3e5;
	color: #517ea7;
	padding: 5px;
	font-weight: bold;
	border: 2px solid #000;
	width: 6em;
	z-index: 9}

#fullscreenbutton {
	position: absolute;
	top: 2px;
	right: 10px;
	z-index: 10;
	font-size: 80%}
	
#fullscreenbutton:hover {color: #82a7c8}

#tiki-clean {
	text-align: left;
	padding: 1em}

/*** Type 1 (*litecss-based) layout 
	(overrides lite.css) ***/

#main {
	text-align: left;
	background: #fff;
	color: #2d2d2d;
	font-size: 1.05em;}
	
#header {
	text-align: left;
	background: #96bce3;}

#middle {
	background: white;
	margin-top: 28px;
	margin-bottom: 20px}
	
#c1c2 {}
#c1c2 #wrapper {}

.fullscreen #col1 {
	margin-left: 30px !important;
	margin-right: 30px !important}

#c1c2 #wrapper .marginleft {margin-left: 230px}
#c1c2 #wrapper .marginright {margin-right: 230px}

#c1c2 #wrapper #col1 {/*position: relative*/}

#c1c2 #wrapper #col1 #tiki-center {
	background: url(coelesce/tiki-centerbg.jpg) repeat-x;
	color: #2d2d2d;
	margin-left: 30px;
	margin-right: 30px}
	
body.tiki_wiki_page #c1c2 #wrapper #col1 > .content {position: relative}
body.tiki_cms #c1c2 #wrapper #col1 #tiki-center,
body.tiki_wiki_page #c1c2 #wrapper #col1 #tiki-center {background: none !important}
body.manage #c1c2 #wrapper #col1 #tiki-center {
	background: url(coelesce/tiki-centerbg.jpg) repeat-x !important;
}

#c1c2 #col2 {
	width: 230px;
	overflow: visible;}

#c1c2 #col2 .content {
	padding-left: 18px;
	padding-top: 1px}

#col3 {
	margin-left: -230px;
	width: 230px;
	text-align: left}

#col3 .content {
	margin-left: 0;
	padding-top: 1px}

#footer {
	text-align: right;
	font-size: .9em;
	border-top: 1px solid #517ba5}

#footer a:link,
#footer a:visited {}
#footer a:hover {}
.footerbgtrap {
	border-top: 1px solid #ebf5ff;
	background: #ccdceb;}
/* end Type 1 layout divs, etc. */

/*** Error page ***/
div#tiki-mid {}
div#tiki-main #tiki-top {}

/* To center cbox */
div#tiki-main #tikimidtbl {
	margin: auto;
	width: auto}

div#tiki-bot {}

/* Site Header & Identity */

#header-top {
	position: relative;
	background: url(coelesce/pagebg.jpg) repeat-x bottom;
	height: 80px}
	
#header-top[id] {
	height: auto;
	min-height: 80px}

#siteheader {
	text-align: left;
	background: transparent;
	vertical-align: middle;
	padding: 0;
	margin: 0}

div#sioptions {
	width: 100%;
	padding: 0}

#sioptionscentered {
	text-align: center;
	margin: 1em}

div.floatright {
	float: right;
	clear: none;
	margin-right: 8px}

div.floatleft {
	float: left;
	clear: none;
	margin-left: 8px}

div#sitelogo {
	padding-top: 8px;
	white-space: nowrap;
	overflow: hidden
}

div#sitead {margin: auto}
#sitead.floatright {padding-right: 40px}
#sitead.floatleft {padding-left: 40px}
#sioptionscentered #sitead.floatleft {padding-left: 10px}
.floatright img {}

#login_search {
	display: block;
	position: absolute;
	right: 30px;
	bottom: 12px;
	text-align: right;
	color: #fff}
	
#login_search a,
#login_search a:visited {color: #fff}
	
#login_language {display: none/*inline*/}

#sitesearchbar {
	display: block;
	float: right;
	margin: 3px 0 0 0;
	padding: 0 0 0 15px;
	height: 33px;
	min-width: 180px;
	text-align: left;
	background: url(coelesce/search_wide.jpg) no-repeat;
	color: #517ea7;}
	
* html #sitesearchbar {width: 180px}

#sitesearchbar .wrapper {
	height: 33px;
	background: url(coelesce/search_wide.jpg) 100% 0 no-repeat;
	margin: 0;
	padding: 0 35px 0 0;
	}

#sitesearchbar form {
	padding-top: 8px;
	margin-right: 8px;
	font-size: 12px;
	white-space: nowrap;
	}

#sitesearchbar form input.wikiaction {}
	
#sitesearchbar select[name="where"] {}
#sitesearchbar ul.cssmenu * {
	width: 40px;
	/*line-height: 1;
	float: left*/}
	
* html #sitesearchbar .nohighlight {
	margin-top: -18px;
}

#sitesearchbar .nohighlight ul.cssmenu {
	position: absolute;
	top: 6px;
	right: 40px;
	width: 50px;
	margin-left: 4px;
	cursor: pointer;
	color: #2d2d2d;}
	
#sitesearchbar ul.cssmenu > li { }

#sitesearchbar .searchhighlight input {
	border: none;
}
.cbox-data .nohighlight {
	position: static;
	height: 30px;
	white-space: nowrap;}
	
.cbox-data .nohighlight form {display: inline}

.cbox-data .nohighlight ul.cssmenu {
	margin-left: 5px;
	width: 40px}
	
.nohighlight ul.cssmenu li ul {
	background: none;
	border: none }

.nohighlight .cssmenu li ul {margin: -23px 0 0 6px}

input#fuser,
select[name="where"] {border: none}

input#fuser,
select[name="where"],
input[name="search"] {display: inline}
	

input[id="sl-login-user"],
input[id="sl-login-pass"] {}

#bannertopright {}
#siteloginbar input.wikiaction {}
#sitelocbar {float: left}
#customcodewith_ad {width: 400px}

/* #header text selectors, if needed */

#sitetitles {
	color: #fff;
	display: inline;
	height: 97px;
	line-height: 97px;
	overflow: hidden;
	vertical-align: bottom;
	}

* html #sitetitles {
	display: inline;
	margin-top: 6px;
	}

#sitetitle,
#sitesubtitle {
	display: inline;
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin:0;
	padding:0;
	margin-bottom: 30px;
	}

#sitetitle {
	color: #9eb8d5;
	font-size: 34px;
	display: inline}

* html #sitetitle {height: 34px }

* html #sitesubtitle {
	font-size: 14px;
	height: 18px}

#sitetitle a,
#sitetitle a:link,
#sitetitle a:visited,
#sitetitle a:hover {
	 color: #9eb8d5;
	 text-decoration: none}
	 
#sitesubtitle {
	display: inline;
	margin-left: 14px;
	color: white;
	font-size: 14px;
	font-weight: normal}

#header a,
#header a:visited {}

#header a:hover {}

/* tiki-top_bar.tpl - menu and search */

#tiki-top {
	background: url(coelesce/pagebg.jpg) repeat-x;
	padding-top: 2px;
	clear: both;
}

* html #tiki-top { font-size: 11px }
*:first-child+html #tiki-top {
	height: 32px}

#tiki-top a {}
#tiki-top table {width: auto}

#topbar_custom_code {background: #fff}

/* end header */

/* centercolumn */

#showhide_columns {min-width: 100%}
*:first-child+html #showhide_columns {}

a.flip,
a.flip:visited,
.tellafriend a,
.tellafriend a:visited {
	font-size: 80%;
	color: silver}

a.flip:hover,
.tellafriend a:hover {
	color: #517ea7;
	text-decoration: none}

a.flip img {display: none}

.tellafriend {
	padding: 0 30px;
	text-align: right}

.fullscreen .tellafriend {}

/* Also is .content */
#tiki-center {}
* html #tiki-center {font-size: 1em}
#rss {padding: 1em 1em 0}

#power {
	padding: 0 1em 1em;
	font-size: .9em}
	
#credits {display: inline}

.error,
#error {
	background: #f5f5f5 !important;
	color: #2d2d2d}

/* display PHP/Smarty errors on top */
#show-errors-button {z-index: 1024}
#errors {z-index: 1023}

/* end layout divs, etc. */
/** Border boxes (if any) **/

/****** Menus ******/

/** Links in menus **/
div.separator, div.separatorline {}
.separator a:link,
.separator a:visited,
.separator a:hover {
	color: #314e6f;
	font-weight: bold}

div.option a.linkmenu:hover {}
a.separator img {}
.option {}

div.optionline,
.option a {
	color: #295c83;
	font-weight: bold}

.option a:link,
.option a:visited,
a.linkmenu,
.rsslink,
.linkmenu:visited,
.rsslink:visited {}

.linkmenu,
.linkmenu:visited {display: block}

.linkmenu:hover {color: #82a7c8}

div.option a:hover,
div.option a:active {}

a.linkmodule {}
a.linkmodule:hover {color: #82a7c8}


.rsslist {}
.rssitem {}
.rssitem:first-child {}
.rssdate {}

/* From Tikineat -- check */
div.menuSection div.menuSection,
div.menuSection div.separator {}
/* End from Tikineat */

/** PHP Layers Menus **/

.horbar { width: 100% } 

.horbar table {
	width: auto;
	text-align: left;
	border-left: 1px solid #2e5276;
	border-right: 1px solid #acc4e0;}

/* Text in the top level (visible by default) of the menu */
.horbaritem a,
.horbaritem a:visited {
	white-space: nowrap;
	display: block;
	padding: 6px 10px;
	font-weight: bold;
	text-decoration: none;
	background: inherit;
	color: #cfe3fb;
	font-size: 12px;
	border-left: 1px solid #9eb8d5;
	border-right: 1px solid #264062}
	
.horbaritem a:hover {
	color: #fff !important;
	text-decoration: none} 

.mdkverbar {} 

.mdksubmenu {
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	background: white;
	visibility: hidden;
	margin-top: 0}

.mdksubmenu table {width: auto} 

.mdksubframe {
	z-index: 1000;
	position: relative;
	display: block;
	border: 1px solid #5a7ea2;
	background: #ccdceb}
	
.mdkitem {
	position: relative;
	text-align: left;
	white-space: nowrap} 

.mdkitem .mdkfwdarr {
	position: absolute;
	top: 7px;
	right: 12px} 

.mdkitem a {
	padding: 3px 6px;
	position: relative;
	display: block;
	font-weight: normal;
	font-size: 1.2em} 

.mdkitem a:link {
	font-weight: normal;
	text-decoration: none} 

.mdkitem a:visited {text-decoration: none} 

.mdkitem a:hover {
	color: #82a7c8;
	text-decoration: none;
	background: #eff8ff} 

.mdkitem a:active {} 

/* Tree menu (also on Browse Categories) */
.treemenudiv {
	display: block;
	white-space: nowrap;
	}

.phplmnormal,
a.phplmnormal:hover,
a.phplm:link,
a.phplm:visited,
a.phplm:hover,
a.phplm:active {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	color: #295c8e;
	text-decoration: none;
	font-weight: normal}

a.phplm:visited {color: #295c8e}

a.phplm:hover {
	color: #82a7c8;
	text-decoration: underline;
	background: none}

a.phplm:active {color: #82a7c8}

a.phplmselected:link,
a.phplmselected:visited,
a.phplmselected:hover,
a.phplmselected:active {
	font: 100% Verdana, Tahoma, Arial, sans-serif;
	color: #2d2d2d;
	text-decoration: underline;
	font-weight: bold}

a.phplmselected:hover {color: #808080}

/* layerstreemenu-hidden.css */
.imgs {
	border: 0;
	width: 16px;
	height: 18px}
	
/** CSS (suckerfish) menus **/

.cssmenu li ul,
.cssmenu_horiz li ul,
.cssmenu_vert li ul {border: 1px solid #5a7ea2}

.cssmenu_vert li ul {margin-left: 11em}

.cssmenu_horiz li:hover ul,
.cssmenu_vert li:hover ul,
.cssmenu_horiz li.sfhover ul,
.cssmenu_vert li.sfhover ul {
	background: #ccdceb;
	color: #5a7ea2;}

#col2 .cssmenu_vert {width: 180px}
#col2 .cssmenu_vert li ul {margin-left: 177px}
#col2 .cssmenu_vert li ul li ul {margin-left: 11em}

.cssmenu_vert,
.cssmenu_vert li {background: #ccdceb !important}

#col2 .cssmenu_vert li {width: 180px}
#col2 .cssmenu_vert li ul li {width: 11em}
	
.cssmenu_horiz ul li {
	text-align: left;
	color: #5a7ea2}
	
.cssmenu_horiz li:hover ul li:hover,
.cssmenu_horiz li.sfhover ul li.sfhover {
	background: #eff8ff;
	color: #5a7ea2;}

.cssmenu_horiz li a:link,
.cssmenu_horiz li a:visited {
	white-space: nowrap;
	display: block;
	padding: 6px 1em;
	font-weight: bold;
	text-decoration: none;
	background: inherit;
	color: #cfe3fb;
	font-size: 12px}
	
.cssmenu_horiz li.selected > a {background: inherit}
	
.cssmenu_vert li a {
	padding: 3px 6px;
	font-size: 1em;
	color: #295C83;
	font-weight: bold;
	text-decoration: none} 

.sf-sub-indicator {background: url(coelesce/arrows-295c8e.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only; */}

.cssmenu_vert li a:hover {
	color: #82a7c8;
	text-decoration: none}
	
#tiki-top .cssmenu_horiz li:hover,
#tiki-top .cssmenu_horiz li.sfhover {background: url(coelesce/pagebg.jpg) 0 -2px repeat-x }

#tiki-top > .cssmenu_horiz {
	padding-left: 20px;
	border-left: 1px solid #2E5276;
	border-right: 1px solid #ACC4E0}

#tiki-top .cssmenu_horiz ul li:hover,
#tiki-top .cssmenu_horiz ul li.sfhover {background: #ecf5ff;}

#tiki-top .cssmenu_horiz ul li a {color: #5a7ea2}

#tiki-top .cssmenu_horiz li a {
	border-left: 1px solid #acc4e0;
	border-right: 1px solid #2e5276;
	padding: 9px 1em 10px 1em}
	
#tiki-top .cssmenu_horiz li.menuSection a {padding-right: 2.6em}

#tiki-top .cssmenu_horiz li.menuLevel1 a {
	border: 0;
	padding: 6px 1em;
	background: #ccdceb}
	
#tiki-top > .cssmenu_horiz > li > a:hover {color: #fff}

.cssmenu_horiz ul .sf-sub-indicator,
.cssmenu_vert ul .sf-sub-indicator {background: url(coelesce/arrows-467aa7.png) no-repeat}

/****** Misc. Global Classes (layout and style) ****/
.hidden {
	position: absolute;
	left: -10000px;
	top: 0;
	width: 1px;
	height: 1px;
	overflow: hidden}

.floatlist {
	clear: left;
	list-style-type: none;
	margin: 0;
	padding-left: 0}

.floatlist li {float: left}

div#attzone,
div#comzone {
	display: none}

div#attzoneopen,
div#comzoneopen {
	display: block;
	margin-top: 10px}

div#edithelpzone {display: none}
#edithelpzone code {font-size: 1.2em}
#rules-copy-panel {display: none}
.clear, #clear {clear: both}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden}
	
.clearfix {display: inline-block}
/* Hide from IE Mac \*/
.clearfix {display: block}
/* End hide from IE Mac */

* html .clearfix {height: 1%}
#overdiv table {width: auto !important}
.attention {color: red}

.highlight,
#highlight {}

.openid_url {
	background: #fff url(../img/icons/login-OpenID-bg.gif) no-repeat;
	padding-left: 18px}

.bannertext {
	font-size: .95em;
	text-decoration: none}

.bannertext:hover {color: #82a7c8}

.link,
.gallink,
.bloglink,
.fgallink,
.trailer,
.opencomlink,
.commentslink,
.admlink,
.forumbutlink {}

div.searchdate {}
div#debugconsole {}

.mini {
	width: 100%;
	text-align: center;
	font-size: .9em;
	margin-left: auto;
	margin-right: auto;
}

.prevnext {
	font-size: 1em;
	padding: 1px 6px}

a.tikihelp,
a.tikihelp:visited {
	border: 0;
	vertical-align: text-top}

a.tikihelp:hover {
	cursor: help;
	vertical-align: text-top}

#rss img {vertical-align: middle}
div.adminanchors {}

/* To enable removing deprecated tag from img.icon and prevent border on a.icon. */
a.icon,
img.icon {
	border: 0 !important;
	background: transparent}

.iconmenutext {white-space: nowrap}

/** Find form **/

.findtable {
  text-align: center;
  margin-bottom: 10px}

.findtitle {
	display: inline; 
	vertical-align: middle;
	margin: 0 1px}

.findtitle, .findexactmatch, .findnumrows, .findtypes, .findlang {
	white-space: nowrap;
}

.findtitle input {margin-left: 2px}

.top_actions {
	text-align: right;
	margin-top: 5px}

input#findwhat {} /* text input */
div.findsubmit {}

/* New Help section */
div#tikihelp {
	position:fixed;
	right: 0;
	top: 3px;
	height: auto; /* if there was height specified it covered the right column content "invisibly" making part of it unclickable (from strasa) */
	max-width: 50%;
	padding:0;
	margin:0;
	border: none;
	background-color: transparent;
	z-index: 820;
}

* html div#tikihelp {position: absolute}

div.help_icon {
	border: 0;
	margin: 0;
	padding: 0;
	height: 48px;
	text-align: right;
}
div.help_icon a:hover {
	text-decoration: none;
}
div.help_icon img{
	vertical-align: middle;
	border: 0;
	margin: 0;
	padding: 0;
}
div.help_section_select {
	font-weight : bold;
	font-size: 120%;
	background-color : #E7E9EA;
	color: black;
	width: 100%;
	margin: 2px;
}
div.help_sections {
	width : 360px;
	padding:  2px;
	background-color: #AAC9E9;
	max-height : 95%;
	overflow: auto;
	height: 400px;
}
div.help_section {
	margin: 5px;
	padding: 5px;
	background-color: white;
	color: black;
}

#site_report {text-align: center}

#site_report a {
	border-left: 1px solid #696969;
	border-right: 1px solid #696969;
	padding: 0 5px;
	font-size: smaller}

.findtable ul {list-style: none}
.findtable ul li {float: left}

ul.categories {
	margin: 0;
	padding: 0}

ul.categories li {
	list-style: none;
	margin: 0;
	padding: 0}

/** Modules **/
.box-shadow {}

div.box {
	background: #ccdceb;
	border: 1px solid #527ca6;
	margin-top: -1px;
	text-align: left;
	overflow: hidden}
	
* html div.box {width: 205px !important}

h3.box-title {
	padding-top: 0;
	padding-left: 15px;
	margin: 0;
	font-size: 1.1em;
	color: #3f6383;
	border: 1px solid #ebf5fe;
	border-bottom: 0;
	height: 18px;
	position: relative}
	
* html h3.box-title {position: static}

.box-title a,
.box-title a:link {color: #3f6383}

.moduleflip {
	display: none;
	position: absolute;
	right: 0;
	top: 0}
	
* html .moduleflip {
	position: static;
	float: right}

* html .moduleflip,
.box:hover .moduleflip {display: block}

.box:hover img.flipmodimage {border: 1px solid transparent}
* html img.flipmodimage {border: none}
img.flipmodimage:hover {border: 1px solid #58A7D2 !important}

.box-data {
	padding: 10px;
	border: 1px solid #ebf5fe;
	border-top: 0}

.box-data table {width: 100%}

.box-data ol,
.box-data ul {padding-right: .6em}
/*
.box-data ol {padding-left: 2em; margin-top: 0; margin-bottom: 0}
.box-data ul {padding-left: .5em; margin-top: 0; margin-bottom: 0; list-style: none;}
* html .box-data ol {margin-left: 0em}
* html .box-data ul {margin-left: 1em}
.box-data ul.cssmenu_vert {padding-left: 0}
*:first-child+html .box-data ol {margin-left: 0}
*:first-child+html .box-data ul {margin-left: 1em}*/
.box-footer {}

/* Check on this ?? */
.modcontrols {
	display: block;
	float: right;
	width: 64px;
	height: 16px}

/** Other boxes **/
div.cbox {
	color: #2d2d2d;
	background: #fff;
	border: 0;
	overflow: hidden}

.cbox-title {
	background: #ccdceb;
	color: #607999;
	font-weight: bold;
	line-height: 1em;
	padding: 2px 3px}

.cbox-title img,
.pagetitle img {
	margin-left: 5px;
	vertical-align: middle}

.cboxlink {}
.cbox-data {
	background: #f5f5f5;
	overflow: hidden;
	padding: 2px 3px}

.rbox {
	margin: 5px 10px 5px;
	color: #2d2d2d;
	/*background: #fff*/}
	
.rbox-title,
.rbox-data {
	padding: 1px 3px;
	background: #abcdef}

.rbox-title {display: inline-block;
	margin-bottom: -1px;
	border: 1px solid #4a6a90;
	border-bottom: transparent}
	
.rbox-data {
	display: block;
	border: 1px solid #4a6a90}

.comment .rbox-title,
.comment .rbox-data {}

.note .rbox-title {}
.note .rbox-data {}

.tip .rbox-title,
.tip .rbox-data {}

.warning  .rbox-title {}
.warning .rbox-data {}

div.simplebox {
	border: 1px solid #527ca6;;
	background: #fff;
	padding: 1em}

.highlight {}

/***** Tables, Tabs and Lists ****/
/** Tables **/

table {font-size: 1em}

table.normal, 
table.admin {
	padding: 0;
	margin: 0;
	border: 0;
	background: #fff;
	width: 100%}

* html table.normal, 
* html table.admin {width: 97%}

table.admin tr td div#page-bar {}
td {vertical-align: top}
* html td {	font-size: 11px}
tr.odd {background: #dddfdf}
tr.even {background: #f0f0f0}
td.odd {background: #dddfdf}
td.even {background: #f0f0f0}

.normal td.third {
	padding: 20px 0 5px 20px;
	font-weight: bold;
	font-size: 120%;
	color: #527DA8;
	background-color: #F7F7F7;
}

.normal td,
td.normal,
td.bloglist,
.wikitable td,
td.odd,
td.even {
	margin: 0;
	padding: 3px;
	vertical-align: top}

 /* headings */
th, table.normal td.heading {
	font-size: 1em;
	font-weight: bold;
	color: #607993;
	background: #c3d3e5;
	min-height: 32px;
	text-align: center}
	
* html th,
* html table.normal td.heading {height: 32px}
	
.formcolor td {padding: 3px}

/* cells in tracker items display */
td.formlabel {}
td.formcontent {}

/* links to view an object from a table listing objects can be generalized to this link */
a.fgalname {}
a.fgalname:hover {}
 
a.tablename,
a.galname,
a.imagename,
a.blogname,
a.fgalname,
a.artname,
a.forumname {
	color: #314E6F;
	font-weight: bold}

a.forumnameread { color: #517ea7}

/** Tabs **/

.tabs {
	margin: 10px 0 -18px 0 !important;
	background: #5a7ea2;
	border-bottom: solid 1px #4a6a90 !important;
	padding: 0 5px !important;
	position: relative;
	z-index: 201}
	
.tabmark {
	display: inline;
	font-size: 85%;
	margin: 0;
	margin-right: 5px;
	padding: 1px 0 1px 0;
	background: #5a7ea2;
	margin-top: 8px;
	display: inline-block;
	border: 0}
	
.tabmark a {
	color: #ccdceb;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 5px}

.tabmark a:active {
	background: #fff;
	color: red}

.tabmark a:hover {
	color: #5a7ea2;
	background: #fff;
	text-decoration: none}
	
.tabactive {border: 0 !important}

.tabactive a {
	background: #fff;
	color: #5a7ea2}

.tabinactive {border: 0 transparent !important}

.tabinactive a,
* html .tabinactive a:visited {
	color: #fff}
	
* html .tabinactive a:hover {color: #5a7ea2}

.tabcontent {
	z-index: 200;
	position: relative;
	border: 1px solid #abcdef;
	padding: 26px 0 2px 0;
	margin-bottom: 25px;
	margin-top: -1px;
	background: #fff}

.tabcontent table {
	margin: 1% auto 2% auto; 
	text-align: left;
	width: 95%;
	background: transparent}

.tabcontent table td {padding: 5px}
table.admin div#content1 div.tabcontent div.cbox {background: transparent}

/*** Feature-specific selectors ***/

/***** Wiki *****/

body.tiki_wiki_page #comments {padding: 1em }


h1.pagetitle a,
h1.pagetitle a:visited,
h1.pagetitle a:hover,
a.pagetitle,
a.pagetitle:visited,
a.pagetitle:hover {
	line-height: 36px;
	font-size: 20px;
	color: #2d2d2d}

h1 a,
h1 a:link,
h1 a:visited {
	color: #2d2d2d;
	text-decoration: none}

h1 a.pagetitle:hover,
h1 a:hover {
	text-decoration: none;
	color: #2d2d2d}

body.tiki_wiki_page .wikitopline {}

.wikitopline .content br {display: none}
.wikiinfo {}

div#description,
.description {
	display: block;
	font-size: .9em;
	font-style: italic}

#pageid {
	float: left;
	clear: both}

#cachedpage {
	float: right;
	font-size: small}

.categpath {}
.wikiactions {white-space: nowrap !important;}

.wikiactions .icons,
.wikiactions form {display: inline-block}

*:first-child+html .wikiactions .icons,
*:first-child+html .wikiactions form,
* html .wikiactions .icons,
* html .wikiactions form {display: inline}

#backlinks { display: inline }
.wikitext {}

.titlebar {
	padding: 0.1em;
	background: #C3D3E5;
	color: #607993;
	font-weight: bold;
	text-align: center;
	margin: 10px 0}

.wikitext ul li {}
.wikitext ul li ul li {}
.wikitext ol {}

.wikitext .showhide_heading .link	{
	font-weight: normal;
	font-size: 80%;
	vertical-align: top;
}

.wikitext h1 {
	margin: 20px 0 15px 0;
}

.wikitext h2 {
	margin: 10px 0 10px 0;
}

.wikitext h3 {
	margin: 10px 0 5px 0;
}

.wikitext h4 {
	margin: 10px 0 5px 0;
}

.wikitext h5 {
	margin: 10px 0 5px 0;
}

.wikitext h6 {
	margin: 10px 0 5px 0;
}

table.wikitable {
	border: 1px solid #A9A9A9;
	border-collapse: collapse}

td.wikicell {
	padding: 3px;
	border: 1px solid #a9a9a9;
	border-collapse: collapse}

h1.pagetitle {
	background: url(coelesce/tiki-centerbg.jpg) repeat-x;
	line-height: 36px;
	color: #2d2d2d;
	padding-left: 2px;
}

/* editable wiki section */
div.split {
	border: 1px dashed #696969;
	clear: both}

.editdate {}

div#page-bar {
	width: 100%;
	display: block;
	margin-top: 0;
	float: none;
	line-height: 20px;
	}

#page-bar > span {float: left}

ul.floatleft {
	display: block;
	list-style: none;
	padding: 0;
	text-align: left;
	height: 20px;
	margin-top: 0}

ul.floatleft li {
	float: left;
	padding: 4px 2px}

.editdate ul.floatleft {margin-top: 8px}

div.cache {}
div.cachedpage {}
.wikicache, .wikicache:visited {}
.wikicache:hover {}
.wiki {}
.wikinew {}

.wiki-edithelp {display: none}

#wikihelp-tab table,
#wikihelp-tab table td {
	border: solid 1px #696969;
	border-collapse: collapse}

#wikihelp-tab table td {padding: 2px}
textarea.wikiedit {font-size: 1.0em}
p.editdate {}
div.wiki-edithelp {}
img.externallink {}

/* Needed esp. for light-on-dark theme */
div.quicktag {}
div.quicktag img,
#wikihelp-tab td img {}
div#helptool {}

/* Edit form */

#editpageform td {
	background: #E0DFE3 none repeat scroll 0 0;
	border: 1px solid #9D9DA1;
}

/* Wiki plugins */

/* Code plugin  */
div.code {
	font-size: 90%;
	padding: 3px;
	border: 1px dashed #a9a9a9;
	background: #F5F5F5;
	font-family: "Courier New", Courier, monospace}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	background: #F5F5F5;
	margin: 4px 0;
	border: 1px dashed #696969;
	overflow: auto;
}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #696969;
	border-bottom: 0;
	margin: 0;
	color: #696969;
	background: #F5F5F5;
	font-weight: bold}

/* Quote plugin */
div.quoteheader {margin-left: 20px}
div.quotebody {font-style: italic}
table.wikiplugin-split {border: none}

/* Versions plugin */
#tiki-center .versionav {
	padding: 0;
	border: 0;
	margin-bottom: -1px}
	
.versionav .button {margin-bottom: 0}

#tiki-center .versioncontent {
	border: 1px solid #527ca6;
	background: #fff;
	padding: 1em}

/** Wiki tocs **/
div.tocnav {
	background: #EBEBEB;
	padding: 3px;
	margin-bottom: 4px;
	clear: both}
 
#tocnavicons {float: left}
#tocnavaddpage {float: right}
#tocnavlinks {clear: both}
.fancytoclevel {list-style-image: url(../img/icons/footprint.gif)}
li.toclevel {}

/* TOC */
ul.toc {
	padding-left: 2em;
	border-top: 1px dotted #a9a9a9;
	border-bottom: 1px dotted #a9a9a9;
	margin-bottom: 4px;
	margin-left: 0px;
}

ul.toc * {
	border: none;
	list-style: none;
}

/* Wiki diff styles */
.diff td {border: 1px solid #696969}
.diff div {border-top: 1px solid #696969}
.diffheader {background: #696969; font-weight: bold}
.diffadded {background: #CCFFCC}
.diffdeleted {background: #FFCCCC}
.diffinldel {background: #FFCCCC; text-decoration: line-through}
.diffbody {background: #F2F4F5}
.diffchar {color: red}

/***** Articles ****/

div.article {
	position: relative;
	margin-bottom: 40px}

div.articletopline {
	position: absolute;
	top: -20px;
	font-size: 90%;
	font-style: italic}

div.articletitle {
	margin-top: 6px;
	margin-bottom:	15px;
	text-align:	left}
 
div.articletitle h2 {
	min-height: 26px;
	background: url(coelesce/tiki-centerbg.jpg) repeat-x;
	font-size: 1.8em;
	font-weight: bold;
	margin: 0;
	padding-left: 14px;
	padding-top: 8px}
	
* html div.articletitle h2 {height: 26px}

.wikitext div.articletitle h2 {
	font-size: 1.55em;
	padding-top: 10px}
	
div.articletitle h2 a:link,
div.articletitle h2 a:visited {
	color: #000;
	text-decoration: none}
	
div.articletitle h2 a:hover {text-decoration: none}
.articletitle br {display: none}

span.titleb {
	font-size: 1em;
	padding-left: 14px}

div.articlesubtitle {
	font-size: 1.1em;
	font-weight: bold;
	padding-left: 14px;
	margin-top: 5px}

div.articleheading {margin-top: 6px}
div.articleheadingtext {margin-bottom: 1em}

img.topicimage,
img.articleimagenofloat,
img.articleimage {
	padding: 2px 0;
	margin-bottom: 10px}

img.articleimagefloat {
	margin-right: 4px;
	float: left;
	padding: 2px 0;
	margin-bottom: 10px}

img.articleimage {
	margin-right: 4px;
	float: left;
	clear: right;
	padding: 2px 0;
	margin-bottom: 10px}

div.articletrailer {
	position: relative;
	text-align: center;
	margin-top: 1.1em}
	
div.articletrailer img {}

div.article .status {
	position: absolute;
	left: 0}

div.articletrailer span {
	display: inline-block;
	margin: auto;
	white-space: nowrap}

div.article .actions {
	position: absolute;
	right: 0;
	top: 0}

div.articlebody {}

div.articlesource {
	margin-top: 5px;
	font-style: italic;
	font-size: 90%}

/***** Blogs *****/

div.breadcrumbs {
	font-size: 90%;
	font-style: italic}

div.blogheading {
	display: block;
	width: 100%;
	clear: both}

div.blogtitle {
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
	margin-top: 10px;
	font-weight: bold;
	line-height: 80%}

body.tiki_blogs div.description {
	margin-top: 8px;
	margin-left: 14px}

div.bloginfo {
	text-align: center;
	display: block;
	padding: 3px;
	line-height: 150%;
	text-transform: none}

* html .bloginfo table {font-size: 11px}

div.blogtools {
	padding: 3px;
	text-align: right}
	
.blogactions {float: right}
.blogpost {}

/*.postinfo div a img,*/
a.blogt,
a.blog:visited {
	border: 0;
	text-decoration: none}

a.blogt:hover {
	color: #FFF;
	border-bottom: 1px dotted #FFF}

.postinfo {
	margin-bottom: 20px;
	margin-top: 10px;
	font-size: 1.2em}

.postinfo a {
	color: #517ea7;
	text-decoration: none;
	border-bottom: none}

div.postinfo a.linkmodule {}
.postinfo div {margin-top: 30%}

.small {} /* Check ?? (from fluidindex */

body.tiki_blogs .post .author_info img {}

* html .postbody table {font-size: 11px}

/***** Forums *****/

body.tiki_forums table.normal {margin: auto}
#forumpost {display: none}
#forumpostopen {display: block}
.post {
	width: 100%;
	margin-bottom: 30px}

.post .postbody {
	background: #fff;
	clear: both;
	margin: 0;
	margin-top: 5px;
	font-size: 1.1em}
	
* html .post .postbody {font-size: 11px}

.top_post .post .postbody {background: #e6edf5  }

.postbody .content {
	padding: 0;
	text-align: left;
	color: #fff;
	background: #c3d3e5 !important}
	
.postbody .content p {  }

.postbody-title {
	color: #000;
	background: inherit}
	
.top_post .post .postbody-title {border-top: 2px solid #fff}

.postbody-title .checkbox {float: left}

.postbody-title .title {
	color: #2d2d2d}
	
.postbody-title .title h2 {}
.postbody-title .title h3 {  }
.postbody-title .title a.link {color: #2d2d2d}
.postbody-title .title br.clear {height: 1px}

.post .author_actions {
	position: relative;
	background: #c3d3e5;
	color: #000;
	margin-bottom: 2px;
	font-size: 11px;
	font-weight: bold;
	line-height: 1;
	height: 21px;
	vertical-align: middle;
	min-width: 100%}

.author_actions .author {
	position: absolute;
	top: 0;
	left: 0;
	text-align: left;
	vertical-align: middle;
	border-right: 2px solid #fff}
/*
*:first-child+html .author_actions .author { max-width:74% }
*/
.author_actions .author * img { vertical-align: middle }
	
.author_actions > .actions {
	position: absolute;
	top: 0;
	right: 0;
	height: 21px;
	line-height: 21px;
	text-align: right;
	background: #446793;
	color: #fff;
	border-left: 2px solid #fff}
/*
*:first-child+html .author_actions > .actions { max-width:24% }
*/
.post .author_info {
	background: inherit;
	display: inline-block;
	color: #000;
	text-align: left;
	line-height: 21px;
	vertical-align: middle;
	padding-top: 0;
	margin-top: 0;
	height: 21px}
	
.post .author_info img {
	height: 21px;
	width: 21px;
	vertical-align: middle;}
	
.author_posts,
.author_stars {
	display: inline-block;
	line-height: 21px;
	height: 21px;
	vertical-align: middle;
	padding-left: 2px;
	padding-right: 2px;
	border-right: 2px solid #fff}
	
.post .author_info a.link,
.post .author_info a.link:visited {
	color: #000;
	font-style: normal}

.post .author_post_info {
	display: inline-block;
	height: 21px;
	line-height: 21px;
	padding-left: 3px;
	padding-right: 3px;
	border-right: 2px solid #fff}

.post .author_info .icons {
	padding: 0 2px}

.post .author_info .icons .actions {}
.post .author_post_info_on {font-style: normal}
.commentStyle_headers .author_info {float: left}
/*
.postbody-title > .actions {
	float: right;
	font-size: 1em}

.postbody-content {
	padding: 12px;
	background: #e6edf5;
	color: #000}*/

.postbody .attachments {
	clear: both;
	border: 0;
	background: #c3d3e5;
	color: #000;
	border-top: 2px solid #fff}

.postbody .attachments img {vertical-align: text-bottom}

.postfooter {
	width: 100%;
	min-width: 100%;
	height: 21px;
	line-height: 21px;
	vertical-align: middle;
	text-align: left;
	clear: both;
	margin-top: 3px;
	background: #e6edf5;
	color: #ebf1f7;}

.postfooter .actions {
	width: 200px;
	}

.postfooter .status {
	float: right;
	clear: none;
	width: 200px;
	text-align: right;
	margin-right: 5px;
	font-size: 10px}

.post .contribution {
	background: #F0F8FF;
	border: 1px solid #ccdceb;
	padding: 0 2px}

body.tiki_blogs .post .avatar {
	float: right;
	margin-bottom: 5px;
	margin-left: 4px;
	padding: 3px;
	border: 1px solid #a9a9a9;
	background: #f0f8ff}
	
.post .avatar img {
	height: 21px;
	width: 21px}

.sub_comment {padding-left: 20px}

.sub_comment_area {
	clear: both;
	background: url("../../img/edge.gif") no-repeat top left}

.forum_actions .actions {
	clear: both;
	border: 0;
	background: #c3d3e5;
	color: #000;
	padding: 3px;
	vertical-align: middle}

.forum_actions .actions .action {margin-right: 10px}
.forum_actions .headers {vertical-align: bottom}
.forum_actions .headers .title {
	float: left;
	background: #f0f0f0;
	border: 1px solid #a9a9a9;
	border-bottom: 0;
	padding: 1px}

.forum_actions .headers .infos {
	float: right;
	font-size: smaller;
	padding-top: 2px}

.thread_pagination {
	text-align: center;
	margin-bottom: 10px}

.nb_replies {white-space: nowrap}
.post_preview, .top_post {margin-bottom: 15px}
/*.post .postbody .signature { float: left}*/

/* Comments */
#comzone {
	display: none;
	margin: 5px 0;
	padding: 0}
 
#comzoneopen {
	display: block;
	margin: 5px 0;
	padding: 0}
 
span.commentstitle {
	font-weight: bold;
	font-size: 1.2em}
	
/* Comments moderation */
.post-approved-n {border-left: 3px dotted blue}
.post-approved-r {border-left: 3px double red}
.post-approved-r .content * { background: url(../../img/icons2/dots.gif); }

/*.post-approved-n .content, .post-approved-r .content,
.post-approved-n .title, .post-approved-r .title,
.post-approved-n .postfooter, .post-approved-r .postfooter,
tr.post-approved-n td span, tr.post-approved-r td span {opacity: 0.5}
tr.post-approved-n td span, tr.post-approved-r td span {opacity: 0.6}*/


textarea#editpost2 {
	width: 100%;
	font-size: 1em}

/* Find */
.subcomment { margin-left: 10px}

/* Help box*/
div.commentsedithelp { 
	background: #ffcfcf; 
	color: #2d2d2d; 
	border: 1px solid #ff0000; 
	text-align: center; 
	font-weight: bold;
	}

/***** Categories *****/

table.tcategpath {}
td.tdcategpath {}
.categpath {}
table.subcats {}
td.tdsubcat {}
.categlink {}
table.catobjects {}

td.categobjectsnameeven,
td.categobjectsnameodd {}

td.categobjectsdataeven,
td.categobjectsdataodd {}

.catname {}
.catblock {
	padding: 5px;
	margin-bottom: 3px;
	min-width: 100%;
	}

.cattitle {
	padding: 3px 5px 9px 5px;
	display:inline;
	border-top: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
	border-right: 1px solid #D7D7D7;
	border-bottom: 1px solid #EDEDED;
	background: #EDEDED;
	}

.catlists {
	margin-top: 8px;
	border: 1px solid #D7D7D7;
	background: #EDEDED;
	}

.catlists:hover {}
.catlists a.link {}
.catlists a.link:hover {}

.catfeatures {
	margin: 5px;
	padding: 0;
	list-style: none;
	}

ul.catfeatures li {}

.catitems {
	margin-left: 10px;
	padding: 0;
	font-weight: bold;
	list-style: none;
	}

ul.catitems li {
	display: inline;
	margin-right: 7px;
}

ul.catitems li a {
	white-space: nowrap;
}

/***** Tags (freetags) *****/
div.freetaglist {
	border: 1px solid #527ca6;
	margin: 5px 10px 8px 10px;
	padding: 3px;
	text-align: left;
}

div.freetagitemlist {
	margin-top: 5px;
	background-color: #ccdceb;
}

li.freetag {
	list-style: none !important;
	display: inline !important;
	margin: 0;
	padding: 0}

ul.freetag {
	margin: 0;
	padding: 0;
	display: inline !important}

.freetag a {display: inline !important}

a.freetag_1 {
	text-decoration: none;
	font-size: .8em}

a.freetag_2 {
	text-decoration: none;
	font-size: .9em}
	
a.freetag_3 {
	text-decoration: none;
	font-size: 1em}

a.freetag_4 {
	text-decoration: none;
	font-size: 1.2em}

a.freetag_5 {
	text-decoration: none;
	font-size: 1.4em}

a.freetag_6 {
	text-decoration: none;
	font-size: 1.6em}

a.freetag_7 {
	text-decoration: none;
	font-size: 1.8em}

div.freetagObjectOdd {
	margin: 2px;
	position: relative}

div.freetagObjectEven {
	margin: 2px;
	position: relative}

div.freetagObjectName a {text-decoration: none}

div.freetagObjectType {
	position: absolute;
	top: 0;
	right: 0}

/***** Image Galleries *****/

table.galtable {
	border-collapse: collapse;
	border: 1px solid #696969;
	width: 100%}

* html body table.galtable {width: 97%}
body.tiki_galleries table.findtable {display: inline}

/* Check this one ?? */
div.browsegallery {
	text-align: center;
	width: 100%}

td.oddthumb {border-collapse: collapse}
td.eventhumb {border-collapse: collapse}

td.eventhumb img {
	margin-left: 6px;
	margin-right: 6px}

div.thumbnailcontenerchecked div.thumbnail {
	background-color: #f8f8ff;
	border-color: #a9a9a9}

div.thumbnails {}
div#browse_image {width: 100%}

img.athumb {
	border: 0;
	margin: auto}

.caption {color: #2d2d2d}
p.norecords {font-weight: bold}

div.imagetitle {
	font-weight: bold;
	font-size: 200%}

div.gallerylink { }
div#browse_image {} /* Check - from fluidindex ?? */
div.showimage {
	text-align: center;
	margin: 5px 0;
	width: 100%;
	text-align: center;
	padding: 6px}

div.imgaldescr {margin: 10px}
.sorttitle {margin-left: 10px}

/***** File Galleries *****/

div.thumbnailcontener {}
div.thumbnail {}
div.thumbnamecontener, div.thumbimagecontener {}
div.thumbnamecontener {}
div.thumbname, div.thumbimage {}
div.thumbnamesub, div.thumbimagesub {}
div.thumbnail:hover {}
div.thumbnail:hover div.thumbnamecontener {}
div.thumbimage img {}
div.thumbinfos {}
div.thumbinfo {}
span.thumbinfoval {}
div.thumbname {}
div.thumbactions {}
div.thumbactions * {}
div.thumbactions input {}
div.thumbactions a {}
div.thumbdescription {}
div.thumbdescription + div.thumbinfo {}
div.thumbdescription span.thumbinfoname {}
a.namealias {}
div.gallerypath, div.gallerypath a {}
div.gallerypath a:hover {}
.fgalexplorer {border: 0}

.fgallisting table td {
	padding-left: 2px;
	padding-right: 2px}

/***** Trackers *****/

.statuson {
	padding: 1px;
	margin: 1px;
	vertical-align: middle}

.statusoff {
	padding: 1px;
	margin: 2px;
	vertical-align: middle}
	
/* also for categorize.tpl */
div.multiselect {
	vertical-align: middle;
	/*overflow-y: auto;
	overflow-x: hidden;*/
	overflow: auto;
	height: auto;
	width: 100%;
	border: 1px solid #696969}

/***** Calendar *****/
/* Overrides calendar.css, etc. */

.Cal0, 
.Cal1, 
.Cal2 {font-size: 90%}

.Calart,
.Calblog,
.Calchart,
.Caldir,
.Caleph,
.Calfaq,
.Calfgal,
.Calforum,
.Calgal,
.Calnl,
.Calquiz,
.Calsurv,
.Caltrack,
.Calwiki {font-size: 90%}

.Calart,
.Calart a,
.Calart a:visited {color: #FA8072}

.Calblog,
.Calblog a,
.Calblog a:visited {color: #DA70D6}

.Calchart,
.Calchart a,
.Calchart a:visited {color: #304F30}

.Caldir,
.Caldir a,
.Caldir a:visited {color: #800080}

.Caleph,
.Caleph a,
.Caleph a:visited {color: #008000}

.Calfaq,
.Calfaq a,
.Calfaq a:visited {color: #822222}

.Calfgal,
.Calfgal a,
.Calfgal a:visited {font-weight: normal}

.Calforum,
.Calforum a,
.Calforum a:visited {color: #808000}

.Calgal,
.Calgal a,
.Calgal a:visited {color: #8B4513}

.Calnl,
.Calnl a,
.Calnl a:visited {color: #708090}

.Calquiz,
.Calquiz a,
.Calquiz a:visited {color: #5F9EA0}

.Calsurv,
.Calsurv a,
.Calsurv a:visited {color: #DAA520}

.Caltrack,
.Caltrack a,
.Caltrack a:visited {color: #00BD02}
	
.Calweb {font-size: 90%}

.Calwiki,
.Calwiki a,
.Calwiki a:visited {color: #2C4B80}

.Calart a:hover,
.Calblog a:hover,
.Calchart a:hover,
.Caldir a:hover,
.Caleph a:hover,
.Calfaq a:hover,
.Calfgal a:hover,
.Calforum a:hover,
.Calgal a:hover,
.Calnl a:hover,
.Calquiz a:hover,
.Calsurv a:hover,
.Caltrack a:hover,
.Calwiki a:hover {color: #82a7c8}

.Calart:before,
.Calblog:before,
.Calchart:before,
.Caldir:before,
.Caleph:before,
.Calfaq:before,
.Calfgal:before,
.Calforum:before,
.Calgal:before,
.Calnl:before,
.Calquiz:before,
.Calsurv:before,
.Caltrack:before,
.Calwiki:before {background: #f8f8ff}

.calfocus {
	font-size: 90%;
	background: #ccdceb}

.calfocuson {
	font-size: 90%;
	background: #fff}

.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {color: #517ea7}

.caltoggle {font-size: 90%}

.opaque {
   border: 1px solid #ccdceb;
	background: #f8f8ff}

.opaque .box-title {border-bottom: 1px solid #ccdceb}
.opaque a {text-decoration: none}
.opaque .iconmenu {display: block}
.searchresults {display: inline}

.calnavigation a:hover {background: red}
#caltable .calfocuson,
.box-data td.fc a.today,
.box-data td a.today {
	background: #8DF378;
	border: solid 1px #696969}

#caltable .calfocuson a {color: #000}

#caltable .calfocus a,
#caltable .calfocuson a {text-decoration:none}

div.tabrow {/*height: 24px !important*/}
.calbuttonon a {color: #295C8E}
.calHeading,
.calHeadingOn {
	background: #c3d3e5;
	color: #517ea7;
	font-weight: bold;
	height: 24px !important}
	
.calHeadingOn {background: #ccdceb}

.day,
.day:visited {}

.today {}
.nav {}
.changedate {}
.date {}

.calinput {background: #4a6a90}
.calfocuson + .calcontent { background: #F5F5F5}
.days {color: #4a6a90}
#caltable td {padding: 0}
#caltable .weeks {
	background: #c3d3e5;
	color: #4a6a90}

a.viewthisday:hover { border-bottom: 0 none; }
.addevent {padding: 0 5px; float: right}
* html .addevent {padding: 0}
.calodd, .caleven { border: 1px solid #a9a9a9}
.calodd {background: #dddfdf}
* html .calodd {padding: 0}
.caleven {background: #f0f0f0}
* html .caleven {padding: 0}
.caldark {background: #c3d3e5}
* html .caldark {padding: 0}
.caldark .calfocus {background: #c3d3e5}
.daterow {}
.daterow:hover {}

/*****  Polls  *****/

div.pollresults {
	margin-top: 5px;
	font-size: 1.2em;
	padding: 0 5px}
	
table.pollresults {width: 100%}
td.pollr {color: #2d2d2d}
#pollopen {display: block}
#pollzone {display: none}
#polledit {display: none}
.pollnav {}

/***** FAQs *****/

div.faqlistquestions {margin-bottom: 20px}
div.faqqa {margin-bottom: 20px}

div.faqquestion {
	font-weight: bold;
	padding: 2px 12px;
	padding-bottom: 0}

div.faqanswer {
	padding: 4px 12px;
	padding-top: 0}

/***** Quizzes *****/

div.questionblock {
	padding: 4px;
	margin-bottom: 10px}

div.quizquestion {
	margin-bottom: 5px;
	background: #C3D3E5 none repeat scroll 0 0;
	font-size: 1em;
	font-weight: bold;
	padding: 5px;
}

div.quizoptions input[type=text] {
	width: 500px;
}

div.quizoptions {}
div.quizdescription {margin-bottom: 10px}
div.quizanswer {margin-bottom: 10px}

/***** Shoutbox *****/

div.shoutboxmsg {
	margin-bottom: 0;
	padding: 4px;
	padding-bottom: 1px}

div.shoutboxmodmsg {
	font-size: .95em;
	margin: 0 5px 4px 5px;
	padding-top: 5px;
	padding-bottom: 1px}

textarea.tshoutbox{
	font-size: .95em;
	width: 162px}

.wiki-table {}
.wiki-tr-a td {border: 0}
.wiki-tr-b td {border: 0}

/***** Directory *****/

div.dircategs {
	border: 1px solid #696969;
	padding: 5px}

.dirlink {}
.dirsublink {font-size: .95em}

div.dirlistsites {
	padding: 5px 0 10px 5px;
	margin-top: 10px}

div.dirsite {
	margin-bottom: 10px;
	padding: 4px}

span.dirsitedesc {}
span.dirsitetrail {font-size: 95%}
span.dirsitecats {font-size: 95%}
.dirsitelink {}

div.dirrelated {
	margin-top: 10px;
	padding: 5px}

td.dirfooter {font-size: .95em}
div.dirfooter {margin-top: 10px}

/***** Messages *****/

td.prio1,
td.prio2,
td.prio3,
td.prio4,
td.prio5 {
	border: 1px solid #a9a9a9;
	padding-left: 2px}

td.prio1 {background: #F7F9CA}
td.prio2 {background: #F7F9EA}
td.prio3 {background: #F7F9FA}
td.prio4 {background: #F7F9FD}
td.prio5 {background: #F7F9FF}

div.messureadflag {
	background: #a9a9a9;
	padding-left: 5px}

div.messureadhead {
	background: #dcdcdc;
	margin-top: 2px}

div.messureadbody {
	margin-top: 5px;
	background: #dcdcdc}

.readlink {
	font-size: .95em;
	color: #2d2d2d}
	
/***** Sheets *****/
.plugin-desc {
	padding: 5px;
}

.plugin-sample {
	padding: 5px;
	font-family: "Courier New", Courier, monospace;
}

.plugin-sample .plugin-param {padding-left: 15px}

.plugin-form-float {
	position: fixed;
	left: 5%;
	right: 365px;
	top: 5%;
	max-height: 90%;
	overflow: auto;
	background: #f5f5f5;
	padding: 10px;
	z-index: 10;
	border: solid 2px #696969}

.icon_edit_section {float: right}


/***** Ajax *****/

div#ajaxLoading {
	display: none;
	position: absolute;
	top: 50px;
	right: 50%;
	padding: 3px;
	font-family: Verdana;
	font-size: 90%;
	text-align: center;
	background: transparent url(../lib/shadowbox/images/loading-light.gif) no-repeat 50% 100%;
	height: 43px;
	width: 50px}

#shadowbox_title {
	height: auto !important;
	padding: 0;
	overflow: visible}

#shadowbox_title_inner{
	height: auto !important;
	font-size: 1em !important;
	line-height: 1em !important;
	white-space: normal !important;
	padding: 5px 0 4px 8px}
	
#shadowbox_content {background: #f5f5f5}
	
/* MyTiki Preferences Ajax */

.tab-wrapper {
	border: 1px solid #f5f5f5;
	padding: 0}

.tab-menu  {
	clear: both;
	line-height: 17px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 2px 0;
	margin-bottom: 6px;
	margin-top: 2px;
	width: 100%}

.tab-menu li {
	display: inline;
	margin: 0 2px;
	width: 200px;
	padding-right: 1.5em}

.tab-menu li img {vertical-align: middle}

.tab-menu li a 	{ 
	padding: 1px 5px; 
	background: #f5f5f5; 
	color: #517ea7; 
	font-weight: bold; 
	text-decoration: none}

.tab-menu li a:hover, 
.tab-menu li a:focus { 
	background: transparent; 
	border-bottom-color: #f8f8ff}

.tab-menu li a:hover { 
	background: #FAEC8F; 
	border-bottom-color: #f8f8ff}
 
.tab-menu li.tab-selected a {background: #f8f8ff}

/***** TikiSheet Default Style *****/
table.default thead td,
table.default tfoot td {
	font-weight: bold;
	text-align: center;
	background: #4a6a90;
	color: white;
}

table.default td {
	border: solid 1px #a9a9a9;
	background: white;
}

.highlight_word_0{
	color: #ffff66;
	background: #4a6a90}

.highlight_word_1{
	color: #ff9999;
	background: #4a6a90}

.highlight_word_2 {
	color: #A0FFFF;
	background: #4a6a90}

.highlight_word_3 {
	color: #ff66ff;
	background: #4a6a90}

.highlight_word_4 {
	color: #99ff99;
	background: #4a6a90}

.center {text-align: center}
.justify {text-align: justify}
.right {text-align: right}

/***** mypage *****/

.mypage_configure th {width: 180px}
#sideBarTab {background: url('../img/cord.png') no-repeat}
#sideBarContents {background: #fff}

/* css/admin.css overrides */

a.admbox {
	border: 1px solid #708090;
	background: #dddfdf center no-repeat}

a.admbox:hover,
a.admbox:focus,
a.admbox:active {
	background: #f0f0f0 center no-repeat;
	border: 1px solid #696969}

a.admbox.off {border: 1px solid #a9a9a9}

a.admbox.off:hover,
a.admbox.off:focus,
a.admbox.off:active {border: 1px solid #a9a9a9}

/* MiniChat  */
div.box-minichat {width: 100%}
div.minichatchans {overflow: auto}
.minichat {
	overflow: auto !important;
	border: 1px solid #527ca6;
	background: #f5f5f5}

div.minichatdiv {
	font-size: .9em;
	overflow: auto}

#siteloginbar .register {
  padding-left: 20px;
}

#siteloginbar .pass {
  float: right;
  padding-left: 20px;
}

#wikifootnote {
	background: #EFEFFF;
	font-size: 11px;
}

#wikifootnote p {
	padding: 4px;
}

.hrwikibottom {
	  visibility: hidden;
}

p.editdate {
	border-top: 1px solid #8CACBB;
	font-size: 0.9em;
	font-style: italic;
}

/* end of file */
