/* $Id: ie7.css 25197 2010-02-13 22:45:59Z pkdille $
	Feb12 theme selectors for IE7.
*/

body {
	font-size: 74% !important;
}

input {
	font-weight: normal;
}

.mdksubmenu {
	margin-top: 0;
}

.postbody {
	width: 45em;
	min-width: 100% !important;
}