/* $Id$
	Fixed width option for any theme, TikiWiki CMS/Groupware.
*/

#main[id] {
	margin-top: 18px;
	margin-bottom: 5px;
}

#fixedwidth {
	display: table;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0px;
	width: 990px;
}
#fixedwidth[id] {
	height: auto;
}