@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");
/* Lumen theme newsletter stylesheet */
.margin-bottom-xs {
  margin-bottom: 5px;
}
.margin-bottom-sm {
  margin-bottom: 10px;
}
.margin-bottom-md {
  margin-bottom: 20px;
}
.margin-bottom-lg {
  margin-bottom: 40px;
}
body {
  background: #ffffff;
  color: #555555;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px;
}
a,
a:visited {
  color: #158cba;
  text-decoration: underline;
}
a:hover {
  color: #158cba;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 400;
  color: #333333;
}
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid transparent;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-default {
  border-color: transparent;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: transparent;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-primary {
  border-color: transparent;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #158cba;
  border-color: transparent;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-primary > .panel-heading .badge {
  color: #158cba;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-success {
  border-color: transparent;
}
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #28b62c;
  border-color: transparent;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-success > .panel-heading .badge {
  color: #28b62c;
  background-color: #ffffff;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-info {
  border-color: transparent;
}
.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #75caeb;
  border-color: transparent;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-info > .panel-heading .badge {
  color: #75caeb;
  background-color: #ffffff;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-warning {
  border-color: transparent;
}
.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #ff851b;
  border-color: transparent;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-warning > .panel-heading .badge {
  color: #ff851b;
  background-color: #ffffff;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
.panel-danger {
  border-color: transparent;
}
.panel-danger > .panel-heading {
  color: #ffffff;
  background-color: #ff4136;
  border-color: transparent;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
}
.panel-danger > .panel-heading .badge {
  color: #ff4136;
  background-color: #ffffff;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: transparent;
}
