/* $Id$
	IE6 rules for the Tikipedia theme for TikiWiki CMS/Groupware */

#col2 ul.cssmenu_vert {
	padding-left: 1em;
	margin-left: 0;
	margin-right: 0;
}

#col2 ul.cssmenu_vert,
#col2 ul.cssmenu_vert li {
	width: 130px !important;
}

#col2 ul.cssmenu_vert li.sfHover ul {
	left: 128px;
}

.box-data select {
	font-size: 1em;
}