.group_box {
	border: 1px solid #F0F0F0;
	padding: 5px 10px;
}
.group_footer_box {
	background-color: #F2F2F2;
	border: 1px solid #F0F0F0;
	color: #2B78E4;
	font-size: 12px;
	padding: 5px 10px;
	height: 85px;
	margin-bottom: 15px;
	text-align: center;
}
.group_footer_box > div {
	display: inline-block;
	margin: 0;
	text-align: center;
	width: 90px;
	padding: 20px 2px;
}
.group_footer_box span {
	font-size: 24px;
}
.group_avatar {
	display: inline-block;
	float: left;
	margin-right: 15px;
}
.group_title {
	margin-left: 60px;
}
.group_title > h3, .group_title > p {
	margin: 0;
}
.group_dis_title {
	padding: 5px 0;
}
.author_group_info {
	margin-bottom: 3px;
}
.group_member_icon span {
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("../img/member_icon.png");
	background-repeat: no-repeat;
	background-size: 24px auto;
	padding: 0 0 0 26px;
	height: 27px !important;
	display: inline-block;
}
.group_topic_icon span {
	background-attachment: scroll;
	background-color: transparent;
	background: url("../img/forum_icon.png");
	background-repeat: no-repeat;
	background-size: 24px auto;
	padding: 0 0 0 26px;
	height: 27px !important;
	display: inline-block;
}