<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<fileExtensions allowUnlisted="false" />
			</requestFiltering>
		</security>
	</system.webServer>
	<location path="public">
	<!-- Override blocking of temp/. -->
		<system.webServer>
			<security>
				<requestFiltering>
					<fileExtensions allowUnlisted="true" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>
