/* $Id: jqui.css 39251 2011-12-21 18:46:40Z jonnybradley $
	Jqui (jqui.css) for Tikiwiki CMS/Groupware.
	Visit http://themes.tiki.org for more information.
*/

/* Import foundation CSS files. */
@import url("lite/lite.css");
@import url("layout/layout.css");
@import url("layout/design.css");

/***** XHTML Elements (body tag here,
			others follow Layout) *****/
body {
	font: Arial,Verdana,sans-serif ! important;
	color: #000;
	background: #fff;

	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 1.1em;
}

a {
	
}
 /***** Layout (overrides layout.css;
		also styling of page layout divs)  *****/
		
/* Enable header and footer content to widen when middle has wide content. */ 
body.fixed_width .fixedwidth .fixedwidth {

	padding: 0;
}
	 	 	 	
#main {
	text-align: left;

}

.header_container, #col1 {
	padding-left: auto;
	padding-right: auto;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	
}

h2 {
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

.middle_outer {
	background-color: #ebebeb;
}

#wrapper {
	background-color: #ffffff;
}

#footer {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#footer .box-rsslist {
	background-color: #EBEBEB;
}
#footer .box-poweredby {
	background-color: #EBEBEB;
}

#c1c2 #wrapper #col1.marginleft  {
	margin-left: 200px;
}

#c1c2 #wrapper #col1.marginright {
	margin-right: 200px;
}

#c1c2 #wrapper #col1 .content {
	background: transparent;
}

#c1c2 #wrapper #col1 #tiki-center {
	padding: 10px;
}

* html #tiki-center {font-size: 1em}
	
#c1c2 #col2 {
	width: 200px;
	overflow: visible;
}

#c1c2 #col2 .content {margin-left: 4px}

#col3 {
	width: 200px;
	margin-left: -200px;
}

#col3 .content {margin-right: 4px;}

.footerbgtrap {
	color: #363636;
	background: #fdfdfd;
	border: 1px solid #cccccc;
	border-bottom: none;
	margin: 10px;
	margin-bottom: 0;
	text-align: center;
}

/***** XHTML Elements (other than body tag) ******/
a {
	color: #6d9e26;
	text-decoration: none;
}

a:active, a:hover {
	color: #8bbb47;
	text-decoration:underline;
}

h1, h2, h3, h4, h5 {
	line-height: 1.1;
}

h1 {
	font-size: 1.6em;
	background: url("double_dot_media_ltd/h_arrow.png") no-repeat -0px 8px;
	padding-left: 16px;
}
	
h2 {
	border-radius: 4px ! important;
	background-color: #f2f2f2 ! important;
	padding: .4em;
	font-size: 1.3em ! important;
	background: url("double_dot_media_ltd/h_arrow.png") no-repeat -0px 12px;
	background-position: 9px;
	padding-left: 24px;
}

h3 {
	font-size: 140%;
}
	
h4 {
	font-size: 120%;
}

h5 {
	font-size: 110%;
}

fieldset {
	border: 1px solid #cccccc}
	
legend {
	color: #000;
}

.navbar {
	margin: 5px 0;
	line-height: 220%;
}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.calbuttonBox a {
	margin: .5em .4em .5em 0;
	cursor: pointer;
	line-height: 1.4em;
	width: auto;
	overflow: visible;
	border: 1px solid #cccccc;
	background: #e2e2e2 url(../lib/jquery/jquery-ui/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #666666;
	outline: none;
}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.calbuttonBox:hover {
	margin: .5em .4em .5em 0;
	border: 1px solid #aaa;
	background: #cccccc url(../lib/jquery/jquery-ui/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #363636;
	outline: none;
}
	
.highlight,
.highlight a {
	border: 1px solid #fcefa1;
	background: #f3f3f3 url(../lib/jquery/jquery-ui/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	color: #363636;
}

.button.highlight {
	border: none;
}

.button.highlight a {
	border: 1px solid #fcefa1;
	background: #aaaaaa;
	color: #363636;
}

.error {
	background: none;
}


/***** Site Header & Identity *****/
.header_outer {

	left: 0px;
	background-color: #f5f5f5;
	text-align: center;
	margin: auto;
}

.header_container {
	width: 98%;
}

.header {
	min-height: 100%;
	height: 100% !important;
}

.header_fixedwidth {
	height: auto;
}

#top_modules {
	height: 100%;
}

#top_modules .module.secondary_site_menu {
	position: absolute;
	top: 20px;
	right: 30px;
}

#top_modules .box-logo {
	height: 100%;
}

#top_modules #sitetitles {
	font-weight: bold;
	margin-left: 20px;
	margin-top: 3%;
	margin-bottom: 2%;
}

#top_modules #sitetitle {
	font-size: 2.4em;
}

#top_modules #sitesubtitle {
	font-size: 1.2em;
	padding-top: 5px;
}

#top_modules .siteloginbar_popup {
	position: absolute;
	bottom: 0;
	right: 20px;
}

#tiki-top {
	padding: 0 .3em 0 1em;
	border: 1px solid #aaa;
	background: #cccccc url(../lib/jquery/jquery-ui/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #363636;
	margin: 0 10px 10px;
	font-size: 1.1em;
}

#topbar_modules {
	min-height: 35px;
} 

#topbar_modules .box-search {
	position: absolute;
	top: 0px;
	right: 100px;
	padding-left: 10px;
	padding-top: 0px;
	height: 36px;
}

#topbar_modules .box-search div {
	background: url("double_dot_media_ltd/magnify.png") no-repeat;
	margin-top: 5px;
	width: 125px;
}

#topbar_modules .search_mod_magnifier {
	opacity:0.01;
	filter:alpha(opacity=1);
	cursor: pointer;
}

#topbar_modules .search_mod_buttons {
	display: none ! important;
}

#topbar_modules .box-search input:first-of-type {
	border: none;
	padding-left: 2px;
	padding-top: 0px;
	height: 20px;
	width: 95px;
	position: relative;
	right: -2px;
	top: -2px;
	background-color: transparent ! important;
}

#topbar_modules .box-search .wikiaction {
	opacity:0.01;
	filter:alpha(opacity=1);
	font-size: 10px;
	width: 25px;
}

#top_modules .box-quickadmin {
	border: 1px solid #999;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.box-search .wikiaction {
	display: none;
}
.box-search .button_default {
	display: inline;
}

html > body #col3[id] {
	position: absolute;
	right: 0px;
	padding-top: 10px;
	float: right;
    margin-right: 0px;
}
/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

/* default and topbar dropdown typography (colors) and padding */
.cssmenu_vert {
	padding-right: 0px ! important;
}
.cssmenu_vert li {
	margin-left: 0px;
}
.cssmenu_horiz a,
.cssmenu_vert a,
#tiki-top .cssmenu_horiz li ul li a,
#tiki-top .cssmenu_horiz li:hover ul li a {
	background: #fff;
	font-weight: normal;
	text-decoration: none;
	padding: .5em 1em;
}

#topbar_modules {
	padding-left: 20px;
	margin-left: auto;
	margin-right: auto;
}

#topbar_modules > div {
	border-left: solid 1px #d8d8d8 ! important;
	line-height: 30px;
}

.cssmenu_vert .menuLevel0 {
	border-top: solid 1px #d8d8d8 ! important;
	border-width: 1px;
}

.cssmenubox .box-data {
	padding: 0px;
}

#topbar_modules .module.box-menu li a {
	height: 1.9em;
	font-size: 1.1em;
	line-height: 2em;
	font-weight: bold;
	background-color: #ebebeb;
	color: #101010;
	border-right: solid 1px #d8d8d8;
	text-transform:uppercase;
}

#topbar_modules .module.box-login_box {
	display: block;
	width: 90px;
	clear: none;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 37px;
	font-size: 1.1em;
}

#topbar_modules .module.box-login_box * {
	color: #000000;
	font-weight: bold ! important;
	text-transform: uppercase;
}

.siteloginbar_poppedup {
	display: none ! important;
}

#topbar_modules .module.box-login_box:hover {
	background-color: #6d9e26;
	color: #FFFFFF ! important;
	border-left: solid 1px #6d9e26;
}

#topbar_modules .module.box-login_box > div {
	height: 38px;
}

#topbar_modules .module.box-login_box a {
	background-image: none;
	background-color: transparent;
}

#logout_link_1, #logout_link_1 a {
	width: 50px ! important;
}

#topbar_modules .module.box-login_box .login_link {
	padding-top: 10px;
}

#topbar_modules .module.box-login_box .login_link:hover {
	color: #FFFFFF;
}

#topbar_modules .module.box-login_box .login_link .sf-sub-indicator {
	display: none;
}

#topbar_modules .module.box-login_box form {
	padding-top: 2px;
}

#topbar_modules .module.box-menu li a:hover, #left_modules .module.box-menu li a:hover {
	background-color: #6d9e26;
	color: #ffffff;
	border-right: solid 1px #6d9e26;
}

#role_main .module {
	max-width: 250px;
}

#role_main, #role_main {
	min-height: 500px;
}

.cssmenu_horiz ul li,
.cssmenu_vert ul li {
	background: #e2e2e2;
	border: 1px solid #aaa;
	border-top: 0;
	margin-bottom: -1px
}

.cssmenu_horiz li ul li:first-child,
.cssmenu_vert li ul li:first-child {
	border-top: 1px solid #aaa;
}

#tiki-top .cssmenu_horiz li a {
	padding: 14px 1em;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	background: none;
	border-right: 1px solid #aaa;
}

#tiki-top .cssmenu_horiz li:hover a {
	text-decoration: none;
}

/* ul ul top compensation for padding */
#tiki-top .cssmenu_horiz li:hover ul,
#tiki-top .cssmenu_horiz li.sfHover ul {
	top: 44px;
}

.secondary_site_menu .cssmenu_horiz li:hover ul,
.secondary_site_menu .cssmenu_horiz li.sfHover ul {
	top: 22px;
}

#tiki-top .cssmenu_horiz li:hover ul ul,
#tiki-top .cssmenu_horiz li.sfHover ul ul,
.secondary_site_menu .cssmenu_horiz li:hover ul ul,
.secondary_site_menu .cssmenu_horiz li.sfHover ul ul {
	top: -1px;
}

#tiki-top .cssmenu_horiz li.menuSection a {
	padding-right: 24px;
}

/* left column width */
#col2 ul.cssmenu_vert {
	padding-left: 0;
}

#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 100%;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 100%;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

a .sf-sub-indicator {
	top: 14px;
}

.cssmenu_vert li a .sf-sub-indicator {
	top: 9px ! important;
}

#tiki-top .cssmenu_horiz li a .sf-sub-indicator {top: 16px}

#tiki-top .cssmenu_horiz li ul li  a .sf-sub-indicator {
	top: 7px;
}

li.menuOption {
	border-width: 0px ! important;
}

.menuText {
	height: 20px;
}
.secondary_site_menu a .sf-sub-indicator {
	top: 8px;
}

/***** Boxes *****/
/** Modules **/
.box,
.cbox {
	border-radius: 0px ! important;
	padding: .2em;
	margin: 0 .5em 10px;
	background-color: #f2f2f2;
	color: #363636;
	border: none;
}

#col2 .box,
#col3 .box {
	margin-bottom: 10px;
}


h3.box-title,
.cbox-title {
	padding: .5em;
	position: relative;
	border: none;
	background-color: #f2f2f2;
	color: #363636;
	font-weight: bold;
	margin: 0;
	font-size: 1.3em;
}

.box-data ul, .box-data ol {
	overflow: visible ! important;
}

.cbox-data,
.box-data {
	padding: .5em 1em;
	background-image: none;
}

/* menu in a module, use module bg colour */
.box-menu .cssmenu_vert a {
	background-color: inherit;
}


/** Other boxes **/

.rbox-title,
.rbox-data {
/* -moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin :padding;*/
	background: #f3f3f3 url(../lib/jquery/jquery-ui/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x scroll 50% 50%;
	border: 1px solid #ccc;
	color: #363636;
}

.errors {
	background: none;
	color: #cd0a0a;
}

.errors .rbox-title,
.errors .rbox-data {
	color: #cd0a0a;
	background:#fef1ec url(../lib/jquery/jquery-ui/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png) repeat-x scroll 50% 100%;
	border:1px solid #cd0a0a;
}

.warning .rbox-title,
.warning .rbox-data {
	color: #cd0a0a;
	background: #fef1ec url(../lib/jquery/jquery-ui/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png) repeat-x scroll 50% 100%;
	border:1px solid #cd0a0a;
}

.simplebox {
	border: 1px solid #666;
	background-color: #cccccc;
	color: #363636;
}

/***** Tables, Tabs *****/
/** Tables **/

.normal {
	border: 1px solid #aaa;
}

table.wikitable {
	border-width: thin;
	border-spacing: 0px;
	border-style: solid;
	border-color: #f2f2f2;
	border-collapse: collapse;
	background-color: white;
}
table.wikitable th {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #f2f2f2;
	background-color: white;
	font-weight: bold;
}
table.wikitable td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #f2f2f2;
	background-color: white;
}

/*
.normal a.link,
.normal a,
th a,
th a:visited,
td.heading a,
td.heading a:visited {
	color: ;
}

.admin a.link,
.admin a,
.admin label,
fieldset.admin label,
.cbox fieldset.admin a {
	color: ;
}
*/

tr.odd td,
td.odd,
li.odd {
	background: #f9f9f9;
}

tr.even td,
td.even,
li.even {
	background: #f3f3f3;
}

/** Tabs **/
/* reset what's in layout.css */

.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabs {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	padding: .2em .2em 0;
	margin:0 0.2em 1px 0;
	border: 1px solid #aaa;
	background: #ccc url(../lib/jquery/jquery-ui/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
}

.tabs br {
	display: none;
}

.tabs span {
	display: block;
	float: left;
}

.tabmark {
	list-style-image: none;
	float: left;
	border: 1px solid #cccccc;
	background: #e2e2e2 url(../lib/jquery/jquery-ui/themes/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	outline: none;
	border-bottom-width: 0 !important;
	margin: 0 .2em -1px 0;
}

.tabmark a {
	padding: 0.5em 1em;
	color: #666666;
	font-weight: normal;
}

.box-login_box .tabmark {
	background-image: none;
	background-color: transparent;
	border-width: 0px;
}
.tabactive {
	border-bottom-width: 0;
	padding-bottom: 1px;
	border: 1px solid #aaa;
	background: #fff url(../lib/jquery/jquery-ui/themes/smoothness/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #363636;
	outline: none;
}

.statuson {
	background: #ccc;
}

/***** Wiki *****/

/* code plugin */

.codecaption {
	font-size: .9em;
	line-height: 1.4em;
	padding: .2em 1em;
	display: inline;
	border: 1px solid #666666;
	border-bottom: none;
	margin: 0;
	color: #666666;
	background: #f9f9f9;
	font-weight: bold;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	line-height: 1.2em;
	padding: 1em;
	background: #f9f9f9;
	margin: 0;
	border: 1px solid #666666;
	overflow: auto;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

/***** Articles ****/
body.tiki_cms h1 a.pagetitle,
body.tiki_cms h1 a.pagetitle:visited,
body.tiki_cms h1 a.pagetitle:hover {border-bottom: none}

	
.articletrailer span {
	margin-left: 5px;
	padding-left: 20px;
}

.articletrailer .share {
	margin-left: 0;
	padding-left: 0;
}

/***** Blogs *****/


/***** Forums *****/

.post .postbody {
	border: 1px solid #aaa;
	padding: 6px;
}

.postbody-title {
	padding: .5em .3em .3em 1em;
	position: relative;
	border: 1px solid #aaa;
	background: #ccc url(../lib/jquery/jquery-ui/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #363636;
	font-weight: bold;
	font-size: 1.1em;
}
	
.postbody .actions {
	text-align: right;
	margin-bottom: 4px;
}
	
.post .postbody .content {
	float: none}

.post .author {
	float: none;
	text-align: left;
	margin: 6px 0;
}

.post .author_info .icons {
	text-align: left;
}

.forum_actions {
	background: #ddd url(../lib/jquery/jquery-ui/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png) 0% 0% repeat-x;
	border: 1px solid #aaa;
	color: #333;
	padding: 3px;
	margin: 10px 0 0;
}
.forum_actions .title {
	font-weight: bold;
}


/**** Image Galleries ****/

/***** File Galleries *****/
/*
.opaque {
	color: ;
	background: ;
	border: ;
	padding: ;
}

.opaque .box-title {
	padding-bottom: ;
	border-bottom: ;
}
*/

/***** Trackers *****/

/***** Categories, Tags *****/

/***** Tags (freetags) *****/
.freetagitemlist {
	margin-bottom: 30px;
	padding: 0 0 10px;
}

/*****  Polls  *****/

/***** FAQs *****/

/***** Quizzes *****/

/***** Shoutbox *****/

/***** Directory *****/
.dirsite {
	margin-bottom: 30px;
	padding: 0 0 10px}

/***** Messages *****/

/***** TikiSheets *****/


/***** Calendar *****/

.caltable {
	border-bottom: none;
}

.caltable .days {
	border: none;
}

.caldark {
/* background: ;*/
	border: 0;
}

.caldark .calfocus {background: none;}
.calodd, .caleven {border-color: #aaa}
/*.calodd .calfocus {background: }*/
.calodd {
	background: #e2e2e2;
}
.caleven {
	background: #cccccc;
}

.calfocuson {
	font-size: 1em;
	background: #fcefa1;
}

.calfocuson a {
	font-size: 90%;
}

.calHeadingOn, .calHeadingOn a {
	background: #fcefa1;
}

/*.calodd .calfocus, .calodd .calfocuson*/
/*.caleven .calfocus, .caleven .calfocuson {background: ;}*/

/* Cluetip - JQuery tooltips
   =cluetipClass: 'default' */

.cluetip-default {
	background: #aaa;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #ccc;
}
.cluetip-default h3#cluetip-title {
	background: #aaa;
	color: #fff;
}

.cluetip-default #cluetip-title a {
	color: #fff;
}
  

#cluetip-close { 
	background: #aaa;
	color: #cd0a0a;
}

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/
/*
.ui-widget-content {
	background: ;
	color: ;
}
*/

/***** New (unsorted) *****/

/***** End New (unsorted) *****/

.footerbgtrap,
.rbox-title,
.tabs,
.tabmark,
.postbody-title {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.calbuttonBox a,
#tiki-top,
.box,
.cbox,
h3.box-title,
.simplebox,
.cbox-title,
.post .postbody,
body.tiki_admin .simplebox,
a.admbox,
a.admbox.off,
.forum_actions {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.rbox-title {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: none !important;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}

.rbox-data {
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

/* Quote plugin */
.quoteheader {
	background : url('../images/quoteleft.gif') no-repeat;
	padding-left:50px;
	height:35px;
}

.quotebody {
	padding-left:46px;
}
/* End of File */
