/* $Id$
	This theme adapted by Gary Cunningham-Lee (chibaguy) for TikiWiki
	CMS/Groupware is an adaptation of the Eatlon theme by Olle Axelsson
	(http://eatlon.com). Please retain the link to eatlon.com in the
	page footer to be in compliance with the terms of use. Because IE7
	does not support display:table, minimal HTML tables are needed for
	graphic treatment and column integrity. For more information, please visit
	http://themes.tiki.org or http://zukakakina.com.
*/

/* Import the default layout properties files: */
@import url("lite/lite.css");
@import url("layout/layout.css");
@import url("layout/design.css");

/***** XHTML Elements (body tag here,
			others follow Layout) *****/
body {
	background: #9faec2 url(eatlon/body_bg.gif) repeat-x;
	font-family: arial, sans-serif;
	color: #8f8f8f;
	font: 76%/1.4em black Verdana, Geneva, Arial, Helvetica, sans-serif}

html>body {font-size: 76% !important}
body.fullscreen {padding: 3em}

/* next two: fixed-width: 960px */
body.fixed_width #fixedwidth {
	margin-bottom: 20px;
	width: 900px !important;
	background: #fff;
}

body.fixed_width *:first-child+html #c1c2 {
	margin-left: 0;
	padding-left: 0}
	
body.fixed_width #main[id] {
	margin-bottom:0;
	margin-top: 0;
}

 /***** Layout (overrides layout.css;
		also styling of page layout divs)  *****/
#main {
		background: #fff;
}

#middle {
	text-align: left;
	min-height: 450px/*;
	height: auto !important*/}

#header {
	text-align: left;
	height: 204px;
	background: #fff url(eatlon/head_bg.gif) repeat-x}

tr#midrow {background: #fff}

#c1c2 #wrapper #col1.marginleft  {
	margin-left: 180px;
}

#c1c2 #wrapper #col1.marginright {
	margin-right: 180px;
}
#c1c2 #col2 {
	width: 180px;
	overflow: visible;
}
#col2 .content {padding: 0 20px}

#col1 .content {
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	padding: 0 30px}

#col3 .content {padding: 0 20px}
#col3 {
	width: 180px;
	margin-left: -180px;}


#footer {
	background: #fff url(eatlon/bottom_bg.png) no-repeat 100% 100%;
	min-height: 163px}

#footer .content {
	background: url(eatlon/bottom_bg.png) no-repeat 0 100%;
	min-height: 163px;
	text-align: center;
	font-size: .9em;
	margin-right: 50px;
	padding-bottom: 30px;
}

/***** XHTML Elements (other than body tag) ******/
a,
a:link,
a:visited {
	text-decoration: none;
	color: #6d819d;
	border-bottom: 1px solid transparent}
	
* html a,
* html a:link,
* html a:visited {border-bottom: 1px solid #fff}

a:hover {
	text-decoration: none;
	color: #a42929;
	border-bottom: 1px solid #6d819d}

h1, h2, h3, h4, h5 {
	font-family: georgia, serif;
	font-weight: 100}

h1 {
	font-size: 2.2em;
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 6px;
	line-height: normal}

h2 {
	font-size: 180%;
	font-style: italic;
	padding: 0;
	margin: 4px 0}

h3 {
	font-size: 160%;
	line-height: 1em;
	border-bottom: 1px solid #e0e0e0;
	padding: 0;
	margin: 0 0 5px 0}

h4 {
	font-size: 130%;
	padding: 0;
	margin: 0}

h5 {
	font-size: 1em;
	color: #032936}

hr {
	background: #8cacbb;
	color: #8cacbb}

fieldset {
	border: solid 1px #a9a9a9;
	padding: 10px}

legend {color: #a9a9a9}

textarea,
body.wikitext {
	background: #d2d9e3;
	color: #000}

input[type=checkbox],
input[type=radio] {border: 0}

input[type="text"],
input[type="password"] {
	background-color: #d2d9e3;
	color: #000}

input[type="submit"],
input[type="file"],
input[type="reset"],
select {background: #d2d9e3; color: #000}


.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.submitbutton,
.calbuttonBox a {
	border-top: 1px solid #f3f3f4;
	border-left: 1px solid #f3f3f4;
	border-right: 1px solid #878689;
	border-bottom: 1px solid #878689;
	background: #afafaf;
	background: url(eatlon/menu_bg.png) 1000px -15px;
	color: #fff;
	font-size: 11px;
	font-weight: normal;
	padding: 2px 4px}
	
* html input[type="reset"],
* html input[type="submit"] {
	border-top: 1px solid #f3f3f4;
	border-left: 1px solid #f3f3f4;
	border-right: 1px solid #878689;
	border-bottom: 1px solid #878689;
	background: #afafaf;
	background: url(eatlon/menu_bg.png) 1000px -15px;
	color: #fff;
	font-size: 11px;
	font-weight: normal;
	padding: 2px 4px}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.submitbutton:hover,
.calbuttonBox a:hover {
	border-top: 1px solid #868f93;
	border-left: 1px solid #868f93;
	color: #ececec}

* html .wikitopline select {font-size: .9em}
form.admin input[name="features"] {margin-bottom: 3px !important}

select[name="theme"] {width: 135px}
label {cursor: pointer}
ul, ol {text-align: left}
tt {font-size: 1.2em}

/***** Site Header & Identity *****/
#header {position: static}
	
#header-top {
	min-height: 140px;
	background: url(eatlon/banner.gif) no-repeat 100% 100%}

#sioptions  {padding: 1em}

#sitelogo a,
#sitelogo a:visited,
#sitelogo a:hover {border-bottom: 0}

#sitead.floatright {padding-right: 10px}
#sitead.floatleft {padding-left: 10px}
.floatright img {margin-right: 10px}
#siteloginbar {right: 20px}

input[id="sl-login-user"],
input[id="sl-login-pass"] {background: #e1e1e2}

#siteloginbar input.wikiaction {cursor: pointer}

#siteloginbar_popup {
	bottom: 2px;
}

#siteloginbar_popup .tabcontent a,
#siteloginbar_popup .tabcontent a:visited {
	color: #6d819d;
}

#sitetitle,
#sitesubtitle {margin-left: 30px}

#sitetitle {
	font-family: georgia, serif;
	font-size: 320%;
	font-weight: 100;
	margin-top: 40px}
	
#sitetitle a,
#sitetitle a:visited {color: #8f8f8f}

#sitetitle a:hover {color: #8f8f8f; text-decoration: none}

#sitesubtitle {
	font-size: 1em;
	font-style: italic;
	font-weight: 100;
	margin-top: 18px}

#tiki-top {
	background: url(eatlon/menu_bg.png) no-repeat right;
	height: 78px;
	min-height: 78px !important}

#tiki-top .wrapper {
	height: 78px;
	min-height: 78px;
	background: url(eatlon/menu_bg.png) no-repeat;
	padding-right: 10px;
	padding-top: 0;
	margin-top: 0;
	margin-right: 30px}
	
#tiki-top .wrapper .navigation {

}

#sitesearchbar {
	color: #fff;
	margin-top: 8px;
}

input#fuser,
#sitesearchbar select {
	border: 1px solid;
	border-color: #878689 #f3f3f4 #f3f3f4 #878689;
	background: #afafaf;
	color: #fff}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

.cssmenu_horiz a,
.cssmenu_vert a {
	padding: 4px 9px;
	text-decoration: none;
}

/* left column width */
#col2 ul.cssmenu_vert {
	padding-left: 0;
}

#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 170px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 170px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

#tiki-top ul.cssmenu_horiz {margin-left: 30px}
	
#tiki-top .cssmenu_horiz a {
	padding: 12px 1em;
	font-weight: bold;
	color: #fff}
	
#tiki-top .cssmenu_horiz li.menuSection0 a {
	padding-right: 2.0em;
}
	
* html #tiki-top .cssmenu_horiz li.menuSection0 a,
* html #tiki-top .cssmenu_horiz li.menuLevel0 a {
	border-bottom: none}
	
.cssmenu_horiz li a:hover,
.cssmenu_vert ul li a:link,
.cssmenu_vert ul li a:visited,
#tiki-top .cssmenu_horiz li ul li a {
	color: #fff;
	text-decoration: none}

#tiki-top .cssmenu_horiz li.menuLevel1 a {
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 3px}
	
#secondary_site_menu li.menuLevel0 a:hover {
	color: #506887;
}

#secondary_site_menu li.menuLevel0 ul li a {
	color: #fff;
}


.cssmenu_vert li ul li a:hover,
#tiki-top .cssmenu_horiz li a:hover,
#secondary_site_menu .cssmenu_horiz ul li a:hover {
	color: #d7e5f3
}

.cssmenu li ul li,
.cssmenu_horiz li ul li,
.cssmenu_vert li ul li {background: #9faec2 url(eatlon/body_bg.gif) 0 -300px repeat-x}

.cssmenu_vert .sf-sub-indicator {background: url(eatlon/arrows-6d819d.png) no-repeat 10px 0}
* html .cssmenu_vert ul .sf-sub-indicator {background: url(eatlon/arrows-6d819d.png) no-repeat -10px 0}

.cssmenu_vert li ul li a .sf-sub-indicator {
	background: url(../lib/jquery/superfish/images/arrows-ffffff.png);
}

#tiki-top .cssmenu_horiz li a .sf-sub-indicator {top: 1.3em}

#tiki-top .cssmenu_horiz li ul li a .sf-sub-indicator,
.cssmenu_vert li a .sf-sub-indicator {
	top: 0.3em;
}

/* less padding so move ul ul up */
#tiki-top ul.cssmenu_horiz li:hover ul,
#tiki-top ul.cssmenu_horiz li.sfHover ul {
	top: 3.2em;
}

/* but not ul ul ul */
#tiki-top ul.cssmenu_horiz li li:hover ul,
#tiki-top ul.cssmenu_horiz li li.sfHover ul {
	top: 0;
}

/** PHP Layers Menus **/
.horbar {
	margin-top: 0;
	padding-top: 5px;
	width: 100%}
	
.horbar table {margin-left: 30px}

.horbaritem a,
.horbaritem a:link,
.horbaritem a:visited {
	padding: 6px;
	text-decoration: none;
	font: 1em Verdana, Helvetica, Arial, Sans-Serif;
	color: white;
	font-weight: bold;
	border-bottom: none;
	margin: 0}

* html .horbaritem a,
* html .horbaritem a:visited {font-size: 12px}

.horbaritem a:hover {
	color: #d7e5f3 !important;
	text-decoration: none;
	border-bottom: none}

.mdksubmenu {
	background: #9faec2 url(eatlon/body_bg.gif) 0 -300px repeat-x;
	margin-top: 6px}

.mdkitem a,
.mdkitem a:link,
.mdkitem a:visited {
	padding: 4px 9px;
	font-weight: normal;
	color: #fff}

.mdkitem a:hover {
	color: #d7e5f3;
	text-decoration: none}

.box-data .mdkitem a,
.box-data .mdkitem a:link,
.box-data .mdkitem a:visited  {
	padding: 2px 9px;
	text-decoration: none;
	color: #6d819d;
	border-bottom: 1px solid transparent}

.box-data .mdkitem a:hover {
	text-decoration: none;
	color: #a42929;
	border-bottom: 1px solid #6d819d}

.phplmnormal,
a.phplmnormal:hover,
a.phplm:link,
a.phplm:visited,
a.phplm:hover,
a.phplm:active {
	font: 100% Verdana, Tahoma, Arial, sans-serif;
	color: #6d819d;
	text-decoration: none;
	font-weight: normal;
	background: transparent}

a.phplm:visited {color: #726461}
a.phplm:hover {color: #808080}
a.phplm:active {color: #ff0000}

a.phplmselected:link,
a.phplmselected:visited,
a.phplmselected:hover,
a.phplmselected:active {
	font: 100% Verdana, Tahoma, Arial, sans-serif;
	color: #6d819d;
	font-weight: normal}

a.phplmselected:hover {color: #d7e5f3}

/** Links in other menus **/

/***** Misc. Center Col. *****/
a.flip,
a.flip:visited,
.tellafriend a,
.share a,
.tellafriend a:visited,
.share a:visited {color: #ADBAC3}

a.flip:hover,
.tellafriend a:hover,
.share a:hover {color: #505050}

.tellafriend,
.share {padding-right: 6px}
.actions .share {padding-right: 0;}
#tiki-center {font-size: 1.1em}

/****** Misc. Global ****/

/***** Boxes *****/
/** Modules **/
.box {
	margin-bottom: 16px;
	display: block}
	
#leftcolumn .box,
#rightcolumn .box {width: 160px}
	
.wikitext .box {width: 96%}

h3.box-title {
	color:#8F8F8F;
	font-family: arial,sans-serif;
	font-size: 1.3em;
	font-weight: 100;
	border-bottom: 0}

.flipmodimage:hover {border: 1px solid #58A7D2 !important}

/** Other boxes **/
.cbox {
	border: 1px solid #e0e0e0;
	background: inherit;
	color: inherit;
	background: #fff}

.cbox-title {
	border-bottom: 1px solid #e0e0e0;
	text-align: center;
	font-weight: bold;
	padding: 3px 3px 1px 3px}

.cbox-data {padding: 3px}

.rbox {margin: 5px 10px 5px}

.rbox-title,
.rbox-data {
	border-color: #506887;
	background: #cecece;
	color: #000}

.simplebox {
	border: 1px solid #e0e0e0;
	padding: 4px;
	background: white;
	color: inherit}

/***** Tables, Tabs *****/
/** Tables **/
/*
.admin tr td #page-bar {
	margin-left: 5px;
	margin-bottom: 0;
	background: transparent}*/

.wikitable td {
	margin: 0;
	padding: 0.2em;
	vertical-align: top}

td.odd:hover,
td.even:hover {border-right: 1px solid #e0e0e0}

.normal td.heading {font-size: 1em}

.normal td.odd:hover,
.normal td.even:hover,
.normal tr:hover {background: #f3f3f4}

.normal td,
.wikitable td,
td.odd,
td.even,
.form,
.formcolor td,
.editblogform td {
	border: 1px solid #8cacbb;
	background: #DEE7EC}

* body th {font-size: 12px}

/** Tabs **/
/* reset what's in layout.css */

.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabs {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	position: relative;
	padding: .2em .2em 0;
	margin:0 0.2em 1px 0;
	border-bottom: 1px solid #ccc}
	
.tabs br {
	display: none;
}

.tabs span {
	display: block;
	float: left;
}

.tabmark {
	list-style-image: none;
	float: left;
	background: #afafaf url(eatlon/menu_bg.png) 1000px -15px;
	color: #fff;
	border-bottom-width: 0 !important;
	margin: 0 .2em -1px 0;}

.tabmark a {
	border-top: 1px solid #f3f3f4;
	border-left: 1px solid #f3f3f4;
	border-right: 1px solid #878689;
	color: #fff}

/*.tabmark a:active {
	background: url(eatlon/menu_bg.png) 1000px -15px;
	color: red}*/

.tabmark a:hover {
	background: url(eatlon/menu_bg.png) 1000px 0;
	color: #ececec}

.tabactive a {color: #d7e5f3; font-weight: bold}

.tabcontent {
	border-left: 1px solid #a9a9a9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969;
	background: #ECECEC;
	color: #8f8f8f;
	padding: 2px;
}

form fieldset.tabcontent {
	border: 1px solid #225566;
	border-top: 0 !important}

.admin .tabcontent .cbox {background: transparent}

/***** Wiki *****/
a.pagetitle,
a.pagetitle:visited,
a.pagetitle:hover {
	color: #8f8f8f;
	text-decoration: none;
	border-bottom: 0}

#description {
	font-size: .9em;
	font-style: italic}

.wikitext {line-height: 1.5em}

.wikitext h1,
.wikitext h2,
.wikitext h3,
.wikitext h4 {
	margin: 0 0 15px;
	padding: 0}

.wikitext h2 {margin-bottom: 10px}

.titlebar {
	padding: 0.1em;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin: 10px 0 10px 0}

.wikitable {
	border: 1px solid #a9a9a9;
	border-collapse: collapse}

.wikicell {
	padding: 3px;
	border: 1px solid #999;
	border-collapse: collapse}

#wikihelp-tab table,
#wikihelp-tab table td {
	border: solid 1px #909090;
	border-collapse: collapse}

textarea.wikiedit {font-size: 1.1em}

/** Wiki plugins **/
/* Code plugin  */
.code {
	font-size: 90%;
	padding: 3px;
	border: 1px dashed #ccc;
	background: #F5F5F5;
	font-family: "Courier New", Courier, monospace}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	background: #F5F5F5;
	margin: 4px;
	border: 1px dashed #ADACAF;
	overflow: auto;
   width: 500px}
	
* html .codelisting {padding-bottom: 20px}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #ADACAF;
	border-bottom: 0;
	margin: 0;
	color: #666;
	background: #F5F5F5;
	font-weight: bold}

/* Quote plugin */
.quoteheader {margin-left: 20px}
.quotebody {font-style: italic}

/** Wiki tocs **/
.tocnav {
	background: #EBEBEB;
	padding: 3px}

/* TOC */
.toc {
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999}

.diff td {border: 1px solid #A9B8C2}
.diff div {border-top: 1px solid #A9B8C2}
.diffheader {background: #A9B8C2}

/***** Articles ****/
.wikitext .article {font-size: 1em}

.articletopline {
	font-size: 90%;
	font-style: italic}

.articletitle {
	margin-top: 6px;
	margin-bottom: 15px;
	text-align: left}

.articletitle h2 {
	font-size: 1.5em;
	font-weight: normal}

.titleb {font-size: 1.0em}
.articlesubtitle {font-size: 0.9em}
.articleheading {margin: 6px 0}
.articlebody {margin-top: 1em}

/***** Blogs *****/
.blogtitle {
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
	margin-top: 10px;
	font-weight: bold;
	line-height: 80%}

.bloginfo {
	text-align: center;
	padding: 3px;
	line-height: 150%;
	text-transform: 0}

.postinfo a {
	color: #9CF;
	text-decoration: none;
	border-bottom: 1px dotted #9CF}

a.blogt:hover {
	color: #FFF;
	border-bottom: 1px dotted #FFF}

.postinfo {font-size: 1.2em}

span.posthead {
	font-weight: bold;
	letter-spacing: .4pt}

.posthead h3 {font-size:1.2em}

.postbody {
	margin-right: 8px;
	line-height: inherit;
	margin-bottom: 1em}

/***** Forums *****/
.post .postbody {
	background: white;
	font-size: 1em}
	
* html .post .postbody {font-size: 11px}

.post .postbody .content {
	float: none;
	height: 100%;
	padding: 0 3px 3px;
	color: #8f8f8f}

.post .postbody-title {
	display: block;
	margin-top: 0;
	padding: 3px;
	border-bottom: 1px solid #aaa}

.post .postbody-title .title {
	color: #29677B;
	font-weight: bold}

.postbody-title br.clear {display: none}
	
.title a.link {
	color: #29677B;
	text-decoration: none}

.post .author {
	float: left;
	text-align: left;
	width: 33%;
	margin-left: -3px;
	margin-right: 4px;
	background: url(eatlon/head_bg.gif) repeat-x}
	
.post .author_post_info {padding: 2px}
.post .author_post_info:first-letter {text-transform: uppercase}

.post .author_post_info_on {font-style: italic}

.post .author_info {
	padding: 0 2px 2px 2px;
	margin-left: 5px}

.post .postbody-title .actions {font-size: 1em}
.postbody-content {padding: 4px}
.post .postbody .attachments {border-top: 1px dotted #8f8f8f}
.post .postfooter .status {font-size: 1em}

.post .contribution {
	background: #F0F8FF;
	border: 1px solid #D7E5F3;
	padding: 0 2px 0 2px}

.post .avatar {
	float: left;
	width: 33%;
	border: 1px solid #ACCCDD;
	background: inherit}

.forum_actions .actions {
	background: #E1EBF5;
	padding: 3px 3px 3px 3px}

.forum_actions .headers .title {
	background: #e1ebf5;
	padding: 1px;
	font-weight: bold}

.forum_actions .headers .infos {font-size: smaller}

.commentsedithelp {
	background: #ffcfcf;
	color: black;
	border: 1px solid #ff0000;
	text-align: center;
	font-weight: bold}

/**** Image Galleries ****/
.galtable {
	border-collapse: collapse;
	border: 1px solid #8cacbb}

.caption {color: black}

/***** File Galleries *****/

/***** Trackers *****/
/***** Categories, Tags *****/
/***** Tags (freetags) *****/
/*****  Polls  *****/
/***** FAQs *****/
/***** Quizzes *****/
/***** Shoutbox *****/

textarea.tshoutbox{
	font-size: 1.3em;
	width: 132px}

/***** Directory *****/
.dircategs {
	border: 1px solid #8cacbb;
	padding: 5px}

.dirlistsites {
	padding: 5px 0 10px 5px;
	margin-top: 10px}

.dirsite {
	margin: 5px;
	margin-bottom: 10px}

.dirrelated {
	margin-top: 10px;
	padding: 5px}

td.dirfooter {font-size: .95em}
div.dirfooter {margin-top: 10px}

/***** Messages *****/
.prio1,
.prio2,
.prio3,
.prio4,
.prio5 {border: 1px solid #8cacbb}

.messureadflag {background: #ccc}
.messureadhead {background: #DEDEDE}
.messureadbody {background: #DEDEDE}

/***** TikiSheets *****/
.default thead td,
.default tfoot td {
	font-weight: bold;
	text-align: center}

.default td {border: solid 1px #a9a9a9}

/***** Calendar *****/
.Cal0,
.Cal1,
.Cal2 {font-size: 90%}
	
.Calart,
.Calblog,
.Calchart,
.Caldir,
.Caleph,
.Calfaq,
.Calfgal,
.Calforum,
.Calgal,
.Calnl,
.Calquiz,
.Calsurv,
.Caltrack,
.Calwiki {font-size: 1em}

.Calart,
.Calart a,
.Calart a:visited {color: #FA8072}

.Calblog,
.Calblog a,
.Calblog a:visited {color: #DA70D6}

.Calchart,
.Calchart a,
.Calchart a:visited {color: #304F30}

.Caldir,
.Caldir a,
.Caldir a:visited {color: #800080}

.Calfaq,
.Calfaq a,
.Calfaq a:visited {color: #822222}

.Calfgal,
.Calfgal a,
.Calfgal a:visited {color: #8B4513}

.Calforum,
.Calforum a,
.Calforum a:visited {color: #808000}

.Calgal,
.Calgal a,
.Calgal a:visited {color: #8B4513}

.Calnl,
.Calnl a,
.Calnl a:visited {color: #708090}

.Calquiz,
.Calquiz a,
.Calquiz a:visited {color: #5F9EA0}

.Calsurv,
.Calsurv a,
.Calsurv a:visited {color: #DAA520}

Caltrack,
Caltrack a,
Caltrack a:visited {color: #00BD02}

.Calweb {font-size: 1em}
.Calweb:hover {color: #996633}

.Calwiki,
.Calwiki a,
.Calwiki a:visited {color: #2C4B80}

.Calart a:hover,
.Calblog a:hover,
.Calchart a:hover,
.Caldir a:hover,
.Caleph a:hover,
.Calfaq a:hover,
.Calfgal a:hover,
.Calforum a:hover,
.Calgal a:hover,
.Calnl a:hover,
.Calquiz a:hover,
.Calsurv a:hover,
.Caltrack a:hover,
.Calwiki a:hover {color: darkviolet}

.calcontent a.linkmenu,
.calcontent a.linkmenu:hover {
	background: none;
	padding: 0}

.calfocus {
	font-size: 90%;
	background: inherit}

.caldark .calfocus {background: inherit}

.calfocuson + .calcontent {background: #e6eff8}

.calprio1 a,
.calprio2 a,
.calprio3 a,
.calprio4 a,
.calprio5 a,
.calprio6 a,
.calprio7 a,
.calprio8 a,
.calprio9 a {color: #393e51}

.caltoggle {font-size: 90%}

.opaque {
	border-left: 1px solid #a9a9a9;
	border-top: 1px solid #a9a9a9;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #696969}

.opaque .box-title {border-bottom: 1px solid black}
.searchresults {display: inline}
.calnavigation a:hover {background: red}

#caltable .calfocuson,
.box-data .fc a.today,
.box-data td a.today {
	background: #d2d9e3;
	border: 0}
	
.caltable .calfocuson {
	background: #d2d9e3;
}

#caltable .calfocuson a {color:#000}

#caltable .calfocus a,
#caltable .calfocuson a {text-decoration:none}

.calinput {background: #9faec2}
.calfocuson + .calcontent {background: #F5F5F5}

#caltable td {padding: 0}

#caltable .weeks,
.days {
	background: #9faec2;
	color: white}
	
#caltable .weeks {
	font-weight: bold;
	padding: 2px;
	font-size: 1em}

.event {background: whitesmoke}
.addevent {padding: 0 5px; float: right}
* html .addevent {padding: 0}
.calodd, .caleven {border: 1px solid darkgray}
.calodd {background: #ececec}
* html .calodd {padding: 0}
.caleven {background: #f5f5f5}
* html .caleven {padding: 0}
.caldark {background: #c4cdda}
.caldark .calfocus {background: #c4cdda}
* html .caldark {padding: 0}
.caldark .calfocus {background: #c4cdda}

div#calscreen .calfocuson {
	background: #d2d9e3;
}

.calfocuson {
	font-size: 100%;
}

.calfocuson a {
	font-size: 90%;
}

.calHeadingOn, .calHeadingOn a {
	background: #d2d9e3;
}

.daterow {
	display: block;
	border: 1px solid #ccc !important;
	background: #fff;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 3px}

.daterow:hover {
	color: #fff;
	background: #9faec2}

.calnavigation a:hover {
	color: #fff;
	background: #9faec2}

/***** Admin *****/
a.admbox {
	border: 1px solid #aaa;
	background: #506887 center no-repeat}

a.admbox:hover,
a.admbox:focus,
a.admbox:active  {
	background: #B2B2B2 center no-repeat;
	border: 1px solid #9f9f9f}

a.admbox.off {border: 1px solid #9f9f9f}
a.admbox span {color: #fff}

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/

/***** New (unsorted) *****/

/***** End New (unsorted) *****/

/* End of File */
