/* $Id$
	FiveAlive theme (fivealive.css) for TikiWiki CMS/Groupware.
	Visit http://themes.tikiwiki.org for more information.
*/
 
/* Import foundation CSS files. */
@import url("lite/lite.css");
@import url("layout/layout.css");
@import url("layout/design.css");

/***** XHTML Elements (body tag here,
			others follow Layout) *****/ 
body {
	font: 76%/1.5em Arial, Helvetica, sans-serif;
	color: #000;
	background: #fff url(fivealive/options/blueberry/body.png) no-repeat 50% 0;
}

*:first-child+html body {font-size: 74% !important}

 /***** Layout *****/

#fixedwidth {
	display: table;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	width: 990px;
}
#fixedwidth[id] {
	height: auto;
}
 
#main {
	text-align: left;
	background: #fff;
}

#main[id] {
	margin-top: 0;
}

#c1c2	#wrapper	#col1.marginleft  {
	margin-left: 200px;
}

#c1c2	#wrapper	#col1.marginright {
	margin-right: 200px;
}

#c1c2	#wrapper	#col1	.content {
	background: transparent;
}

#c1c2 #wrapper #col1 #tiki-center {
	padding: 10px;
	padding-right: 20px;
}

#c1c2 #col2 {
	width: 200px;
	overflow: visible;
}

#c1c2 #col2 .content {
	margin-left: 8px;
}

#col3 {
	width: 200px;
	margin-left: -200px;
}

#col3 .content {
	margin-right: 8px;
}

#footer {
	background: #12365a;
	color: #8dcdeb;
}

#footer a,
#footer a:visited {
	color: #fff;
}

#power {
	text-align: center;
}

/***** XHTML Elements (other than body tag) ******/
a:link,
a:visited {
	color: #1174a5;
	text-decoration: none;
}
 
a:active, a:hover {
	color: #26a6dd;
	text-decoration: none;
}

fieldset {
	border: 1px solid #1174a5;
}

h1,
h2 {
	line-height: 110%;
}

pre,
tt {
	font-size: 1.2em;
}


legend,
label {
	color: #000;
}

span.button a,
span.button a:visited,
button,
input[type="reset"],
input[type="submit"],
span.button input,
.calbuttonBox a,
span#genPass span.button a,
span#genPass span.button a:visited {
	color: #fff;
	background: #2098cd;
	border: 1px solid #11597e;
	font-weight: bold;
	line-height: 150%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius-topleft: 4px;
}

span.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
span.button input:hover,
.calbuttonBox@a:hover,
span#genPass span.button a:hover {
	background: #1173a5;
	border: 1px solid #11597e;
	text-decoration: none;
}
/*
span#genPass span.button a,
span#genPass span.button a:visited {
	color: #fff;
	background: #2098cd;
	padding: 1px 4px !important;
}

span#genPass span.button a:hover {
	background: #1173a5;
	padding: 1px 4px !important;
}*/

span#genPass span.button:hover {
	border-width: 1px !important;
}
	
.highlight,
span.highlight a {
	border: #9ae8fa;
	color: #000;
}

span.button.highlight a {
	background: #d6f3fa;
	color: #000;
}

select,
input[type="text"],
input[type="password"],
input[type="file"],
input#login-pass,
textarea,
.adminoptionbox option {
	background: #d6f3fa;
	color: #000;
	border: 1px solid;
	border-color: #9ae8fa #e3f7fb #e3f7fb #9ae8fa;
}

select[multiple="multiple"] {
	height: 120px;
}

/***** Site Header & Identity *****/
#header {
	background: url(fivealive/options/blueberry/header.png) -375px 0 no-repeat;
}

#header-top {
	height: 203px;
	position: relative;
}

#secondary_site_menu {
	height: 30px;
	line-height: 30px;
	float: right;
}

#secondary_site_menu a,
#secondary_site_menu a:visited {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}

#sitesearchbar {
	color: #fff;
	height: 60px;
	line-height: 60px;
	width: 200px;
}

#sitesearchbar form {
	background: url(fivealive/searchbar.png) no-repeat 100% 16px;
}

#sitesearchbar label.findtitle {
	font-size: 0;
}

#sitesearchbar form input {
	background: none;
	border: none;
	height: 1em;
	line-height: 1em;
}

#sitesearchbar form input[type="text"] {
	width: 150px;
}

#sitesearchbar form input[type="submit"] {
	color: #d1d2d4;
	font-size: 0;
}

#sioptions {
	clear: right;
}

div#sitelogo img {
	margin-top: 24px;
}

#sitetitles {
	position: absolute;
	top: 90px;
	left: 365px;
	font-family: Paneuropa, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
}

#sitetitle,
#sitesubtitle {
	color: #fff;
	text-shadow: #143c64 3px 2px 0;
}

#sitetitle {
	font-size: 52px;
}

#sitetitle a,
#sitetitle a:visited {
	color: #fff;
	text-decoration: none;
}

#sitesubtitle {
	font-size: 30px;
	margin-top: 24px;
}

/* Sitelogin Popup */

#siteloginbar_popup .tabmark {
	border: 1px solid #696969;
	border-bottom: 0;
	border-radius-topleft: 5px;
	border-radius-topright: 5px;
	-webkit-border-radius-topleft: 5px;
	-webkit-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

#siteloginbar_popup .cssmenu_horiz #register_link {
	background-color: #969696;
}

#siteloginbar_popup .cssmenu_horiz #login_link,
#siteloginbar_popup .cssmenu_horiz #logout_link {
	background-color: #070707;
}

a.register_link,
a.login_link {
	color: #fff !important;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: -1px !important;
}
#siteloginbar_popup .cssmenu_horiz ul {
	margin-top: -5px;
}
#siteloginbar_popup .cssmenu_horiz #register_link ul {
	margin-left: -4em;
}

#siteloginbar_popup .cssmenu_horiz #login_link ul {
	margin-left: -10em;
}

#siteloginbar_popup .tabmark .tabcontent {
	color: #000;
}

#siteloginbar_popup .tabmark ul li a,
li.login_link ul li a {
	background: none !important;
	color: #1174a5;
}
/* end Sitelogin Popup */

#tiki-top {
	height: 72px;
	background: url(fivealive/tiki-top.png) repeat-x;
}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

/* default and topbar dropdown typography (colors) and padding */
.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
#header .cssmenu_horiz li ul a,
#header .cssmenu_horiz li:hover ul a,
#tiki-top .cssmenu_horiz li ul a,
#tiki-top .cssmenu_horiz li:hover ul a {
	background: #1172a3;
	font-weight: normal;
	text-decoration: none;
	padding: 8px 1em;
}

.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
#header .cssmenu_horiz li ul a:hover,
#tiki-top .cssmenu_horiz li ul a:hover {
	background: #128bc9;
	text-decoration: none;
	border-right: none;
}

.cssmenu_horiz a,
.cssmenu_vert ul li a {
	color: #fff;
	padding: .75em 1em;
}

#tiki-top .cssmenu_horiz li a {
	padding: 20px 1em;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background: url(fivealive/menu_divider.png) 100% 50% no-repeat;
}

/* ul ul top compensation for padding */
#tiki-top .cssmenu_horiz li:hover ul,
#tiki-top .cssmenu_horiz li.sfHover ul {
	top: 57px;
}

/* ul ul ul top compensation for padding */
#tiki-top .cssmenu_horiz li:hover ul ul,
#tiki-top .cssmenu_horiz li.sfHover ul ul {
	top: 0;
}

#tiki-top .cssmenu_horiz li.menuSection a {
	padding-right: 30px;
}

#header .cssmenu_horiz ul li a,
#tiki-top .cssmenu_horiz ul li a {
	text-transform: none;
}

#tiki-top .cssmenu_horiz ul li:hover a {
	text-decoration: none;
}

#tiki-top .cssmenu_horiz li a > .sf-sub-indicator {top: 30px}
#tiki-top .cssmenu_horiz li li a > .sf-sub-indicator {top: 9px}
#col2 .cssmenu_vert li a > .sf-sub-indicator {top: 5px}

.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	font-style: normal;
	color: #28aae1 !important;
}

.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff !important;
}

.cssmenu_vert a {
	font-weight: bold;
}

.cssmenu_vert a:hover {
	text-decoration: underline;
}

.cssmenu_vert ul a {
	color: #fff;
}
.cssmenu_vert li:hover {
	background: none;
}

.cssmenu_vert ul a:hover {
	text-decoration: none;
}

/* left column width */
#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 170px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 170px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

#col2 .cssmenu_vert li a {
	padding-top: 3px;
	padding-bottom: 3px;
}

.cssmenu_vert .sf-sub-indicator {
	background: url(fivealive/options/blueberry/arrows-1174a5.png) no-repeat 10px 0;
}

.cssmenu_vert li ul li a .sf-sub-indicator {
	background: url(../lib/jquery/superfish/images/arrows-ffffff.png);
}

/***** Boxes *****/
.cbox {
	border: none;
	background: #d6f3fa;
	color: #2098cd;
}

.cbox-title {
	border-bottom: 3px solid #74c0e2;
	font-weight: bold;
}

.rbox-title, 
.rbox-data {
	border: #2098cd;
	background: #c2eef8;
	color: #143c64;
}

div.error {
	background: none;
}

/***** Tables, Tabs *****/
/** Tables **/
	  
th,
td.heading,
tr.diffheader {
	background: #1d90c5;
	color: #d6f3fa;
}

th a,
th a:visited,
td.heading a,
td.heading a:visited,
table.normal th a.link, 
table.normal th a {
	color: #fff
}

table.admin a.link,
table.admin a,
table.admin label,
fieldset.admin label,
.cbox fieldset.admin a {
	color: #1174a5;
}

/** Tabs **/
/* reset what's in layout.css */

.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabs {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	position:relative;
	padding: .2em .2em 0;
	margin:0 0.2em 1px 0;
	border: none;
}

.tabs span {
	display: block;
	float: left;
}

.tabmark {
	list-style-image: none;
	float: left;
	border: 1px solid #11597e;
	background: #126692;
	border-bottom-width: 0 !important;
	margin: 0 .2em 0 0;
	color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-radius-topleft: 4px;
	-webkit-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}

a.register_link {
	background-color: #969696;
}
/*
#siteloginbar_popup .tabmark {
	background-color: #070707;
}*/

.tabmark a,
.tabmark a:visited {
	padding: 0.5em 1em;
	color: #fff;
	font-weight: normal;
}

.tabinactive:hover,
.tabactive {
	border-bottom-width: 0;
	padding-bottom: 1px;
	border: 1px solid #aaaaaa;
	background: #a9d6eb;
}

.tabinactive:hover a,
.tabactive a {
	color: #12365a;	
}

.tabcontent {
	background: #a9d6eb;
	border: none;
	border-top: none !important;
	padding: 4px;
}
	
form.admin fieldset {
	background: #74c0e2;
}

legend.heading {
	background: #fff;
}
	
table.admin a.link,
table.admin a,
table.admin label,
fieldset.admin label,
.cbox fieldset.admin a {
	color: #fff;
}

tr.even a:link,
tr.even a:visited,
tr.odd a:link,
tr.odd a:visited {
	color: #1174a5;
	text-decoration: none;
}
 
tr.even a:active,
tr.even a:hover,
tr.odd a:active,
tr.odd a:hover {
	color: #26a6dd;
	text-decoration: none;
}

fieldset.admin .adminoptionbox label,
fieldset.admin .adminoptionlabel {
	color: #000;
}

/***** Wiki *****/
.titlebar {
	border: #2098cd;
	background: #c2eef8;
	color: #143c64;
	font-weight: bold;
	padding: 1px 8px;
}
	
div.code {
	padding: 3px;
	border: 1px dashed #a9a9a9;
	background: #f5f5f5;
	font: 90% "Courier New", Courier, monospace;
}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	background: #f5f5f5;
	margin: 4px 0;
	border: 1px dashed #696969;
	overflow: auto;
}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #696969;
	border-bottom: 0;
	margin: 0;
	color: #696969;
	background: #f5f5f5;
	font-weight: bold;
}

/* Quote plugin */
div.quoteheader {
	margin-left: 30px;
	border-bottom: 2px solid #c2eef8;
}

div.quotebody {
	margin: 0 15px 10px 30px;
	font-style: italic;
	border-left: 8px solid #c2eef8;
	padding-left: 6px;
}

/***** Articles ****/
body.tiki_cms h1 a.pagetitle,
body.tiki_cms h1 a.pagetitle:visited,
body.tiki_cms h1 a.pagetitle:hover {border-bottom: 0}

/***** Blogs *****/
/***** Forums *****/

.post .postbody {
	border: 1px solid #aaa;
	padding: 6px;
}

.navbar {
	margin: 5px 0;
}
.postbody-title {
	padding: .5em .3em .3em 1em;
	position: relative;
/*	border: 1px solid #aaa;*/
	background: url(fivealive/options/blueberry/header.png) -650px -90px;
	color: #222;
	font-weight: bold;
	font-size: 1.1em;
}

.postbody-title,
.postbody-title a.link,
.postbody-title a.link:visited {
	color: #fff;
}

.post .postbody .content {
	float: none;
	width: auto;
	padding: 0;
}

.post .author,
div.dirsite {
	background: #c2eef8;
	float: none;
	margin: 0 0 6px;
	text-align: left;
}

.postbody-content {
	margin: 0;
}

/**** Image Galleries ****/
/***** File Galleries *****/
/***** Trackers *****/
/***** Categories, Tags *****/
/***** Tags (freetags) *****/
/*****  Polls  *****/
/***** FAQs *****/
/***** Quizzes *****/
/***** Shoutbox *****/
/***** Directory *****/
a.dirsitelink,
a.dirsublink {
	font-weight: bold;
}
/***** Messages *****/
/***** TikiSheets *****/
/***** Calendar *****/
/*.caldark {
	background: ;
	border: 0;
}

.caldark .calfocus {background: }
.calodd, .caleven {border: }
.calodd .calfocus {background: }
.caleven .calfocus, .caleven .calfocuson {background: }
*/
.caltable .days {
	color: #fff;
}

/***** Admin *****/
/*body.tiki_admin .simplebox,
a.admbox,
a.admbox.off {
	background-color:  no-repeat center center;
	border: ;
}
	
a.admbox:hover,
a.admbox:focus,
a.admbox:active {
	background-color:  no-repeat center center;
	border-right: ;
	border-top: ;
	border-left: ;
	border-bottom: ;
	color: ;
	text-decoration: none;
}

a.admbox.off:hover,
a.admbox.off:focus,
a.admbox.off:active {
	border-right: ;
	border-top: ;
	border-left: ;
	border-bottom: ;
}

.toolbars-admin .full li,
.toolbars-admin .rows .row,
.textarea-toolbar,
span.toolbar-list,
.toolbar-list,
a.toolbar,
a.qt-inline {
	background: ;
	color: ;
}*/

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/
/*.ui-widget-content {
	background: ;
	color: ;
}*/
/***** New (unsorted) *****/

/***** End New (unsorted) *****/

/* End of File */
