/* $Id$
	FiveAlive theme (fivealive.css) for Tiki Wiki CMS/Groupware.
	Adapted for Tiki 7.x
	Visit http://themes.tiki.org for more information.
	*
*/
 
/* Import foundation CSS files. */
@import url("lite/lite.css");
@import url("layout/layout.css");
@import url("layout/design.css");

/* make sure whole browser viewport background is always set to white */
html {
	background-color: #fff;
}

/***** XHTML Elements (body tag here,
			others follow Layout) *****/ 
body {
	background-color: #fff;
	font: 76%/1.5em Arial, Helvetica, sans-serif;
	color: #000;
}

body.filegal_popup {
	background-image: none;
	padding: 0 2em;
}

*:first-child+html body {font-size: 74% !important}

 /***** Layout *****/

/*#fixedwidth*/
.fixedwidth {
	margin: 0;
}

body.fixed_width .fixedwidth {
	width: 100%;
	margin: 0;
}

.fixed_width .fixedwidth .fixedwidth {
	width: 990px;
	margin: 0 auto;
}

#header_outer {		/* whole width div containing the header strip */
	background: url(fivealive/options/blueberry/headertile.png) 0 0 no-repeat;
/*	height: 220px;*/
}

#header_container {	/* 2nd whole width div for background image tricks */
	background: url(fivealive/header_left.png) 0 100% no-repeat;

}

#header {	/* inner <header> element that gets .fixedwidth class applied */
	background: url(fivealive/options/blueberry/siteheader.jpg) 0 0 no-repeat;
/*	height: 220px;*/
}

#top_modules {		/* inner div that contains the modules */
	height: 168px;
}

#tiki-top {
	height: 50px;
	width: 100%;
}

#topbar_modules {
	min-height: 55px;
}

#topbar_modules .box-search {
	position: absolute;
	top: 13px;
	right: 10px;
}

.middle_outer {
		background: url('fivealive/topbar.jpg') repeat-x;
}

#middle {
	display: table;
	margin: 0 auto;
}

#fixedwidth[id]
#middle[id] {
	height: auto;
}
 
#main {
	text-align: left;
	background: #fff;
	background: transparent;
}

#main[id] {
	margin-top: 0;
}

#c1c2	#wrapper	#col1.marginleft  {
	margin-left: 200px;
}

#c1c2	#wrapper	#col1.marginright {
	margin-right: 200px;
}

#c1c2	#wrapper	#col1	.content {
	background: transparent;
}

#c1c2 #wrapper #col1 #tiki-center {
	padding: 10px;
	padding-right: 20px;
}

#c1c2 #col2 {
	width: 200px;
	overflow: visible;
}

#c1c2 #col2 .content {
	margin-left: 8px;
}

#col3 {
	width: 200px;
	margin-left: -200px;
}

#col3 .content {
	margin-right: 8px;
}

#footer {
	background: black;
	color: #696969;
	padding: 1px 0 2px 0;
	text-align: center;
	width: 100%;
}

.footer_liner {
	border-top: 1px solid #28aae1;
	border-bottom: 1px solid #28aae1;
	margin-bottom: 2px;
	padding-bottom: 2px;
}

#custom_site_footer,
#power,
#rss,
#credits_svnrev,
#loadstats small {
	text-align: left !important;
	margin: auto;
	width: 90%;
	display: block;
}

#footer .container {
	border-top: 1px solid #28aae1;
	border-bottom: 1px solid #28aae1;
	margin-bottom: 2px;
}

#footer a,
#footer a:visited {
	color: #a9a9a9;
}

#footer a:hover,
#footer a.wiki:hover {
	color: #fbfbfb;
}

#footer .box {
	float:left;
	text-align: left;
}

#footer h3,
#footer h3 a,
#footer h3 a:visited {
	color: #fff;
}

#footer h3 {
	border-bottom: 1px dotted #28aae1;
	font-size: 1.2em;
	margin: 0;
	margin-bottom: 6px;
	padding-bottom: 6px; 
}

#footer h3#keepintouch {
	border-bottom: none;
	width: 11em;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 0;
	padding: 0;
}

#rss {
	text-align: left !important;
	margin-bottom: 24px;
	padding-top: 8px;
}

#footer .box:first-child {
	margin-left: 0;
}

#custom_site_footer h3 {
	margin: 0 0 5px 0;
	font-size: 14px;
}

#power {
	font-size: 12px;
	text-align: left;
	padding: 0 8px 1px;
	margin-top: 30px;
	margin-bottom: 17px;
}

#poweredby {
	font-weight: bold;
	color: #fff;
}

#power a {
	color: #28aae1;
}

#loadstats {
	background: #28aae1;
	color: #004b78;
	padding: 2px 8px 0;
}

.cvsup {
	float: right;
	margin-right: 10px;
}

#credits_svnrev {
	margin-bottom: 13px;
}

#show-errors-button {
	text-align: right;
	margin-top: -26px;
	display: block;
}

#show-errors-button a {
	background: #fff;
	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	margin-right: 10px;
	padding: 6px;
	font-weight: bold;
	font-size: 10px;
	color: #004b78;
}

.highlight,
.button.highlight a,
.calfocuson {
	background: #fad5e0;
	
}

/***** XHTML Elements (other than body tag) ******/
a,
a:visited {
	color: #1174a5;
	text-decoration: none;
}
 
a:active, a:hover {
	color: #26a6dd;
	text-decoration: none;
}

fieldset {
	border: 1px solid #1174a5;
}

h1,
h2 {
	line-height: 110%;
}

pre,
tt {
	font-size: 1.2em;
}

hr {
	background: #74c0e2;
	color: #74c0e2;
	height: 2px;
}

legend,
label {
	color: #000;
}

.button a,
.button a:visited,
button,
input[type="reset"],
input[type="submit"],
.button input,
.calbuttonBox a,
#genPass .button a,
#genPass .button a:visited,
.daterow {
	color: #fff;
	background: #2098cd;
	border: 1px solid #11597e;
	font-weight: bold;
	line-height: 150%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.button a:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover,
.calbuttonBox a:hover,
#genPass .button a:hover,
.daterow:hover {
	background: #1173a5;
	border: 1px solid #11597e;
	text-decoration: none;
}

#genPass .button:hover {
	border-width: 1px !important;
}
	
.highlight,
.highlight a {
	border: #9ae8fa;
	color: #000;
}

.button.highlight a {
	background: #d6f3fa;
	color: #000;
}

select,
input[type="text"],
input[type="password"],
input[type="file"],
input#login-pass,
textarea,
.adminoptionbox option {
	background-color: #d6f3fa;
	color: #000;
	border: 1px solid;
	border-color: #9ae8fa #e3f7fb #e3f7fb #9ae8fa;
}

select[multiple="multiple"] {
	height: 120px;
}

input[type="text"],
input[type="password"],
select {
	margin: 2px;
}
#newItemForm input[type="text"],
#editItemForm input[type="text"],
.wikiplugin_tracker  input[type="text"] {
        width: 99%;
}
.wikiplugin_tracker, #editItemForm .formcolor {width: 100%;}
#editItemForm .formcontent {width: 70%;}
#editItemForm .formlabel {width: 30%;}

/***** Site Header & Identity *****/

#header-top {
	min-height: 170px;
	position: relative;
	background: url(fivealive/options/blueberry/siteheader.jpg) no-repeat;
}

#top_modules .box-quickadmin {
	position: absolute;
	right: 10px;
	background: #fff;
	border: 1px solid #696969;
	border-top: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	padding: 0 6px 2px 0;
}

#secondary_site_menu {
	height: 30px;
	line-height: 30px;
	float: right;
}

#secondary_site_menu a,
#secondary_site_menu a:visited {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}

#sitesearchbar {
	color: #fff;
	height: 45px;
	line-height: 45px;
	width: 200px;
	margin-right: 10px;
}

#sitesearchbar form {
	background: url(fivealive/searchform.png) no-repeat 100% 12px;
}

#sitesearchbar label.findtitle {
	font-size: 0;
}

#sitesearchbar form input {
	background: none;
	border: none;
	height: 1em;
	line-height: 1em;
}

#sitesearchbar form input[type="text"] {
	width: 150px;
	font-size: 18px;
	height: 22px;
}

#sitesearchbar form input[type="submit"] {
	color: #d1d2d4;
	text-indent: -2000px;
	height: 24px;
	width: 30px;
	margin-left: 8px;
	margin-top: 12px;
}
/* search form filter dropdown */
#tiki-top #sitesearchbar form .cssmenu_horiz li a {
	background: none;
	width: 138px;
	padding-top: 11px;
	padding-left: 4px;
}

#tiki-top #sitesearchbar form .cssmenu_horiz li a input[type="text"] {
	font: bolder 12px Verdana, Geneva, Arial, Helvetica, sans-serif !important;
}

#tiki-top #sitesearchbar form .cssmenu_horiz li ul {
	width: 9em !important;
}

#tiki-top #sitesearchbar form .cssmenu_horiz li ul li {
	background: #e3f7fb;
	height: 210px !important;
	color: #000;
} /* end search form filter dropdown */

#top_modules .box-logo{
	position: absolute;
	left: 10px;
}

#sitelogo img {
	margin-top: 16px;
}

#sitetitles {
	position: absolute;
	top: 75px;
	left: 415px;
	font-family: Paneuropa, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
	white-space: nowrap;
}

#sitetitle,
#sitesubtitle {
	color: #fff;
	text-shadow: #143c64 3px 2px 0;
}

#sitetitle {
	font-size: 52px;
}

#sitetitle a,
#sitetitle a:visited {
	color: #fff;
	text-decoration: none;
}

#sitesubtitle {
	font-size: 30px;
	margin-top: 24px;
}

/* Sitelogin Popup */

#top_modules .siteloginbar_popup {
	position: absolute;
	right: 10px;
	bottom: 0;
	width: 10em;
	height: 26px;
	line-height: 26px;
	z-index: 1;
}

.siteloginbar_popup fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.siteloginbar_popup .tabmark {
	border: 1px solid #696969;
	border-bottom: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}

.siteloginbar_popup .cssmenu_horiz #register_link {
	background-color: #969696;
}

.siteloginbar_popup .cssmenu_horiz #login_link,
.siteloginbar_popup .cssmenu_horiz #logout_link {
	background-color: #070707;
}

.siteloginbar_poppedup li {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #2098CD;
}

.siteloginbar_poppedup a {
	color: #2098CD !important;
}

#sl-login-user, #sl-login-pass {
	background: #fff;
}

#sl-openid {
	background-color: #fff;
}

.siteloginbar_poppedup input.button {
	margin: 6px 0;
}

/* new modules revamp login */

.siteloginbar {
	background-color: #D6F3FA;
	padding: 0 1em;
}

.siteloginbar input[type="text"],
.siteloginbar input[type="password"] {
	background: #fff;
}

/*** CSS menus shadows for all but IE6 ***/
ul.sf-shadow ul {
	-moz-border-radius-bottomleft: 16px;
	-moz-border-radius-topright: 16px;
	-webkit-border-top-right-radius: 16px;
	-webkit-border-bottom-left-radius: 16px;
}

a.register_link,
a.login_link {
	color: #fff !important;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: -1px !important;
}
.siteloginbar_popup .cssmenu_horiz ul {
	margin-top: -5px;
}
.siteloginbar_popup .cssmenu_horiz #register_link ul {
	margin-left: -4em;
}

.siteloginbar_popup .cssmenu_horiz #login_link ul {
	margin-left: -10.5em;
	width: 18em !important; /* to override the hardcoded in-line style width 17.5em */
}

.siteloginbar_popup .cssmenu_horiz #logout_link ul {
	margin-left: -10.7em;
	width: 20em !important; /* to override the hardcoded in-line style width */
}

.siteloginbar_popup .tabmark .tabcontent {
	color: #000;
}

.siteloginbar_popup .tabmark ul li a,
li.login_link ul li a {
	background: none !important;
	color: #1174a5;
}
/* end Sitelogin Popup */

#tiki-top[id] {
	height: auto;
	min-height: 50px;
}

/****** Menus, Links ******/
/** CSS (suckerfish) menus **/

/* default and topbar dropdown typography (colors) and padding */
.cssmenu_vert li ul a,
.cssmenu_horiz li ul a,
.cssmenu_horiz li ul a,
.box-menu .cssmenu_horiz li ul a,
.box-menu .cssmenu_horiz li:hover ul a,
#topbar_modules .cssmenu_horiz li ul a,
#topbar_modules .cssmenu_horiz li:hover ul a {
	background: #153c64;
	font-weight: normal;
	text-decoration: none;
	padding: 8px 1em;
}

.cssmenu_vert li ul a:hover,
.cssmenu_horiz li ul a:hover,
.box-menu .cssmenu_horiz li ul a:hover,
#topbar_modules .cssmenu_horiz li ul a:hover {
	background: #128bc9;
	text-decoration: none;
	border-right: none;
}

.cssmenu_horiz a,
.cssmenu_vert ul li a {
	color: #fff;
	padding: .75em 1em;
}

.box-menu .cssmenu_horiz li a,
#topbar_modules .cssmenu_horiz li a {
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

#header #secondary_site_menu .cssmenu_horiz li a {
	font-weight: 400;
	padding: 8px .7em;
}

#secondary_site_menu .cssmenu_horiz li.menuSection a {
	padding-right: 25px;
}

#secondary_site_menu .cssmenu_horiz li.menuSection:last-child ul {
	margin-left: -.5em;
}

#tiki-top .cssmenu_horiz li a {
	font-size: 13px;
	padding: 17px 1em 15px;
	background: url(fivealive/menu_divider.png) 100% 50% no-repeat;
}

#tiki-top .cssmenu_horiz li a:hover {
	background: #1d1d1d;
}

/* ul ul top compensation for padding */
#tiki-top .cssmenu_horiz li:hover ul,
#tiki-top .cssmenu_horiz li.sfHover ul {
	top: 48px;
}

/* ul ul ul top compensation for padding */
#tiki-top .cssmenu_horiz li:hover ul ul,
#tiki-top .cssmenu_horiz li.sfHover ul ul {
	top: 0;
}

#tiki-top .cssmenu_horiz li.menuSection a {
	padding-right: 30px;
}

#tiki-top .cssmenu_horiz ul li a {
	text-transform: none;
}

#tiki-top .cssmenu_horiz ul li:hover a {
	text-decoration: none;
}

#secondary_site_menu .cssmenu_horiz li a > .sf-sub-indicator {top: 13px}
#tiki-top .cssmenu_horiz li a > .sf-sub-indicator {top: 24px}
#tiki-top .cssmenu_horiz li li a > .sf-sub-indicator {top: 9px}
#col2 .cssmenu_vert li a > .sf-sub-indicator {top: 5px}

.cssmenu_horiz li.selected a,
.cssmenu_vert li.selected a {
	color: #c2eef8;
}

.cssmenu_horiz li.selected li a,
.cssmenu_vert li.selected li a {
	font-style: normal;
	color: #fff;
}

.cssmenu_vert a {
	font-weight: bold;
}

.cssmenu_vert a:hover {
	text-decoration: underline;
}

.cssmenu_vert ul a {
	color: #fff;
}
.cssmenu_vert li:hover {
	background: none;
}

.cssmenu_vert ul a:hover {
	text-decoration: none;
}

/* left column width */
#col2 .cssmenu_vert,
#col2 .cssmenu_vert li {
	width: 170px;
}

/* offset from left column (matches above) */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul {
	left: 170px;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li:hover ul,
#col2 .cssmenu_vert li.sfHover ul,
#col2 .cssmenu_vert li:hover ul li,
#col2 .cssmenu_vert li.sfHover ul li {
	width: 10em;
}

/* return ul ul ... to default */
#col2 .cssmenu_vert li li:hover ul,
#col2 .cssmenu_vert li li.sfHover ul {
	left: 10em;
}

#col2 .cssmenu_vert li a {
	padding-top: 3px;
	padding-bottom: 3px;
}

.cssmenu_vert .sf-sub-indicator {
	background: url(fivealive/options/blueberry/arrows-1174a5.png) no-repeat 10px 0;
}

.cssmenu_vert li ul li a .sf-sub-indicator {
	background: url(../lib/jquery/superfish/images/arrows-ffffff.png);
}

/***** Icons *****/
img.icon {
	margin: 1px 2px 2px 1px;
}

/***** Boxes *****/
.cbox {
	border: none;
	background: #d6f3fa;
	color: #2098cd;
	padding: 10px;
}

.cbox-title {
	border-bottom: 3px solid #74c0e2;
	font-weight: bold;
}
.rbox-title, 
.rbox-data {
	border: #2098cd;
	background: #c2eef8;
	color: #143c64;
}

.rbox-title {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

.rbox-data {
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}

.error {
	background: none;
}

.simplebox {
	border: 2px solid #74c0e2;
}

.adminanchors {
	background: #74c0e2;
}

/***** Tables, Tabs *****/
/** Tables **/

.normal,
.wikitable {
	border: 2px solid #1d90c5;
	border-collapse: collapse;
}

form .normal,
.tabcontent .normal {
	border: none;
}

.calodd,
.caleven,
.wikicell {
	border: 2px solid #c2eef8;
}

.odd,
.calodd {
	background: #e3f7fb;
}

.even,
.caleven {
	background: #d6f3fa;
}

	  
th,
td.heading,
tr.diffheader,
.calHeading,
.weeks {
	background: #1d90c5;
	color: #d6f3fa;
}

th a,
th a:visited,
td.heading a,
td.heading a:visited,
.normal th a.link, 
.normal th a {
	color: #fff
}

.admin a.link,
.admin a,
.admin label,
fieldset.admin label,
.cbox fieldset.admin a {
	color: #1174a5;
}

.admin .button a,
.tabstoggle .button a,
.tabstoggle .button a:visited {
	color: #fff;
}

/** Tabs **/
/* reset what's in layout.css */

.tabactive,
.tabinactive,
[class].tabactive,
[class].tabinactive {top: 0 !important}

.tabs {
	padding: .2em .2em 0;
	margin:0 0.2em 0 0;
	border: none;
}

.tabs span {
	display: block;
	float: left;
}

.tabcontent .tabmark {
	border: 1px solid #11597e;
}

.tabmark {
	float: left;
	border: 1px solid #11597e;
	background: #2098cd;
	border-bottom-width: 0 !important;
	margin: 0 .2em 0 0;
	color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
}

a.register_link {
	background-color: #969696;
}

.tabmark a,
.tabmark a:visited {
	padding: 0.5em 1em;
	color: #fff;
	font-weight: normal;
}

.tabinactive:hover,
.tabactive {
	padding-bottom: 1px;
	border: 1px solid #a9d6eb;
	background: #a9d6eb;
}

.tabinactive:hover {
	background: #126692;
}

.tabinactive:hover a,
.tabactive a,
.tabactive a:visited {
	color: #12365a;
}

.tabcontent {
	background: #a9d6eb;
	border: none;
	border-top: none !important;
	border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	padding: 4px;
}

.statuson {
	background: white;
}
	
legend.heading {
	background: transparent;
}

fieldset.admin .adminoptionbox label,
fieldset.admin .adminoptionlabel {
	color: #000;
}

/***** Wiki *****/
.titlebar {
	border: #2098cd;
	background: #c2eef8;
	color: #143c64;
	font-weight: bold;
	padding: 1px 8px;
}
	
.code {
	padding: 3px;
	border: 1px dashed #a9a9a9;
	background: #f5f5f5;
	font: 90% "Courier New", Courier, monospace;
}

.codelisting {
	font-family: "Courier New", Courier, monospace;
	padding: 10px;
	background: #f5f5f5;
	margin: 4px 0;
	border: 1px dashed #696969;
	overflow: auto;
}

.codecaption {
	font-size: 90%;
	padding: 0 10px;
	position: relative;
	bottom: -5px;
	display: inline;
	border: 1px solid #696969;
	border-bottom: 0;
	margin: 0;
	color: #696969;
	background: #f5f5f5;
	font-weight: bold;
}

/* Quote plugin */
.quoteheader {
	margin-left: 30px;
	border-bottom: 2px solid #c2eef8;
}

.quotebody {
	margin: 0 15px 10px 30px;
	font-style: italic;
	border-left: 8px solid #c2eef8;
	padding-left: 6px;
}

/***** Articles ****/
body.tiki_cms h1 a.pagetitle,
body.tiki_cms h1 a.pagetitle:visited,
body.tiki_cms h1 a.pagetitle:hover {border-bottom: 0}

/***** Blogs *****/
/***** Forums *****/

.post .postbody {
	padding: 6px;
}

.navbar {
	margin: 5px 0;
}
.postbody-title {
	padding: .5em .3em .3em 1em;
	position: relative;
	background: #28A7DE url(fivealive/options/blueberry/siteheader.jpg) -300px -90px no-repeat;
	color: #222;
	font-weight: bold;
	font-size: 1.1em;
}

.postbody-title,
.postbody-title a.link,
.postbody-title a.link:visited {
	color: #fff;
}

.post .postbody .content {
	float: none;
	width: auto;
	padding: 0;
}

.post .author,
.dirsite {
	background: #c2eef8;
	float: none;
	margin: 0 0 6px;
	text-align: left;
}

.postbody-content {
	margin: 0;
}

.post .postfooter {
	padding: 1px;
	background: none repeat scroll 0 0 #E6EDF5;
}

/**** Image Galleries ****/
/***** File Galleries *****/
/***** Trackers *****/
/***** Categories, Tags *****/

.cattitle {
	background: #ededed;
}

/***** Tags (freetags) *****/
/*****  Polls  *****/
/***** FAQs *****/
/***** Quizzes *****/
/***** Shoutbox *****/
/***** Directory *****/
a.dirsitelink,
a.dirsublink {
	font-weight: bold;
}
/***** Messages *****/
/***** TikiSheets *****/
/***** Calendar *****/
.caltable .days {
	color: #fff;
}

.calfocuson {
	font-size: 100%; 
	background: #f3e498;
}

.calfocuson a {
	font-size: 90%; 
}

.calHeadingOn, .calHeadingOn a {
	background: #f3e498;
}

/***** Admin *****/

/***** Ajax, jquery. etc. *****/
/***** Ajax *****/
/***** New (unsorted) *****/

/* cluptip tooltips */

.cluetip-default {
	background: #CBF4FA;
	color: #000;
}

.cluetip-default #cluetip-outer {
	background: #CBF4FA;
}
.cluetip-default h3#cluetip-title {
	background: #006891;
	color: #fff;
	font-weight: bold;
}

.cluetip-default #cluetip-title a {
	color: #CBF4FA;
}
  


/***** End New (unsorted) *****/

/* End of File */
