/* $Id$
	Skeleton theme (skeleton.css) for Tikiwiki CMS/Groupware.
	Simplified tiki.tpl file and no-content theme CSS file.
	Visit http://themes.tiki.org for more information.
*/
 
/* Don't import foundation CSS files. *
@import url("lite/lite.css");
@import url("layout/layout.css");
@import url("layout/design.css");
* End of File */

.hidden {
	display: none;
}

/* remarks boxes from layout.css */
/* also some from design.css */

.rbox {
	margin: 1em .3em .3em .3em;
}

.rbox-title,
.rbox-data {
	position: relative;
	padding: 0.3em 0.6em 0.3em 0.4em;
	border: 1px solid #000;
	background: #eee;
	color: #000;
}

.rbox-title {
	display: inline-block;
	width: auto;
	z-index: 1;
	bottom: 0;
	border-bottom-color: #eee;
	padding: 0.35em 0.9em 0em 0.5em;
	font-weight: bold;
}

.rbox-title .icon {
	padding: 0 .35em 0 0;
	vertical-align: top;
}

.rbox-data {
	padding: 1em 0.5em;
	top: -1px;
	z-index: 0;
}

.rbox-close {
	float: right;
	cursor: pointer;
}

/* end remarks boxes */

/* reduce visual clutter */
.cachedStatus {
	display: none;
}

/* some help for tables */

.normal {
	border: 1px solid 		#ccc;
	-moz-border-radius: 	.6em;
	-webkit-border-radius: 	.6em;
	border-radius: 			.6em;
	border-collapse:		collapse;
}

.normal td, .normal th {
	padding: 0.2em 0.4em;
}

.ui-content.ui-body-a .normal th {
	border:				1px solid #2A2A2A;
	background: 		#111111;
	color: 				#ffffff;
	font-weight:		bold;
	text-shadow:		0 -1px 1px #000000;
	background-image: -moz-linear-gradient(top,
							#3c3c3c,
							#111111);
	background-image: -webkit-gradient(linear,left top,left bottom,
							color-stop(0, 	#3c3c3c),
							color-stop(1, 		#111111));
  	-msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3c3c3c', EndColorStr='#111111')";
}

.ui-content.ui-content.ui-body-a .even {
	background: #333;
}

.ui-content.ui-body-b .normal th {
	border: 1px solid 		#456f9a;
	background: 			#5e87b0;
	color: 					#fff;
	font-weight: bold;
	text-shadow: 0 -1px 1px #254f7a;
	background-image: -moz-linear-gradient(top,
							#81a8ce,
							#5e87b0);
	background-image: -webkit-gradient(linear,left top,left bottom,
							color-stop(0, 		#81a8ce),
							color-stop(1, 		#5e87b0));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#81a8ce', EndColorStr='#5e87b0')";
}

.ui-content.ui-content.ui-body-b .even {
	background: #ccc;
}

.ui-content.ui-body-c .normal th {
	border: 1px solid 		#B3B3B3;
	background: 			#e9eaeb;
	color: 					#3E3E3E;
	font-weight: bold;
	text-shadow: 0 1px 1px 	#fff;
	background-image: -moz-linear-gradient(top,
							#f0f0f0,
							#e9eaeb);
	background-image: -webkit-gradient(linear,left top,left bottom,
							color-stop(0, 	#f0f0f0),
							color-stop(1, 	#e9eaeb));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f0f0f0', EndColorStr='#e9eaeb')";
}

.ui-content.ui-body-c .even {
	background: #ddd;
}

.ui-content.ui-body-d .normal th {
	border: 1px solid 		#ccc;
	background: 			#bbb;
	color: 					#333;
	text-shadow: 0 1px 0 #eee;
	background-image: -moz-linear-gradient(top,
							#ddd,
							#bbb);
	background-image: -webkit-gradient(linear,left top,left bottom,
							color-stop(0, 		#ddd),
							color-stop(1, 		#bbb));
  	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#dddddd', EndColorStr='#bbbbbb')";
}

.ui-content.ui-body-d .even {
	background: #f8f8f8;
}

.ui-content.ui-body-e table th {
	border: 1px solid 		#F7C942;
	background: 			#fadb4e;
	color: 					#333;
	text-shadow: 0 1px 0 	#fff;
	background-image: -moz-linear-gradient(top,
							#fceda7,
							#fadb4e);
	background-image: -webkit-gradient(linear,left top,left bottom,
							color-stop(0, 		#fceda7),
							color-stop(1, 		#fadb4e));
  	-msfilter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fceda7', EndColorStr='#fadb4e')";
}

.ui-content.ui-body-e .even {
	background: #FEEAA1;
}

