/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/notheme.II.css,v 1.3 2004-01-04 06:22:08 mose Exp $
 *
 * My second (or already thrid ?) theme :)
 *
 */

@import "notheme.css";
@import "notheme/notheme-II-tc.css";

