/*
 * $Header: /cvsroot/tikiwiki/tiki/styles/simple.css,v 1.11 2004-02-03 02:00:06 musus Exp $
 *
 * 'Simple' style for TikiWiki - simple and easy to understand yet pleasant for your eye
 * Enables font re-sizing in all browsers, aims to be WCAG 1.0 compatible (not yet), one simple css file.
 * We also try to make better templates (*.tpl files in templates/styles/simple) towards xhtml 1.0 strict validity.
 * For proper CSS2 syntax and possible values see e.g. http://www.zvon.org/xxl/CSS2Reference/Output/
 *
 */

/*
 * first go common html elements; here we start with styling the body
 */

body {
 /* setting up the background. the color, then bg image and its form of repeating. */
 background: #ffffff url('background.png') repeat-y;
 /* shorthand for default font setting. size in percentage and font-family here */
 font: 75% 'Trebuchet MS', 'Luxi Sans', 'Lucida Grande', Tahoma, helvetica, sans-serif;
 /* size of 75% here prevents unreadable microscopic font size in MSIE when using em for further elements sizes */
 margin: 0; /* zero margins for body */
 padding: 0; /* and padding */
}

/* default font size for all text in divs. works together with 75% font-size for body */
div {
 font-size: 1em;
 padding: 0.2em;
}

/* default color for links */
a {
 color: #0077cc;
}

/* default color for hovered links */
a:hover {
 color: #0099ee;
}

/* headings */
h1 {
 text-align: center;
}
/*
h2 {
 font-size: 2.2em;
}
h3 {
 font-size: 2em;
}
*/

/* images have no border by default */
img {
 border: 0;
}

/* Description on wiki pages */
small {
	font-size: 0.8em;
}

/* Prevent forms from generating unwanted padding or margins */
form {
	margin: 0;
	padding: 0;
}


/*
 ***** Here we define classes *****
 */
.hidden {
 display: none;
}
/*
 ** This can be floated left or right **
 */
.float-wrapper {
 /*float: left; *//*width: 80%;*/
 }
/*  This gets margined the same direction as #maincontent gets floated */
.left {
 /*margin-right: 75%;*/
 /*float: left;*/
}
/* This gets margined the same direction as .float-wrapper gets floated */
.right {
 /*margin-left: 80%;*/
 /*float: right;*/
}     


/* we use this e.g. for <br /> to clear all instead of <br clear="all" /> */
.clear {
 clear: both;
}

/*
 * modules
 */
.box {
 border: dashed 0.2em #abcdef;
 margin: 0.2em;
}
div.box-title {
 background: #abcdef;
 text-align: center;
}
div.box-title table {
    width: 100%;
}
.box-data {}
/*
 * controls for modules (logged-in users only)
 */
.modcontrols { /* group of control buttons */
 display: block;
 float: right;
 width: 64px;
 height: 16px;
}
/* every button setting */
.modcontrols a {
 display: block;
 float: left;
 width: 16px;
 height: 16px;
}
.modcontrols a span {
 display: none; /*prevents displaying alternative text over control buttons */
}
.movemodup {
 background: transparent url('simple/up.gif') no-repeat center;
}
.movemoddown {
 background: transparent url('simple/down.gif') no-repeat center;
}
.movemodopside {
 background: transparent url('simple/admin_move.gif') no-repeat center;
}
.removemod {
 background: transparent url('simple/delete.gif') no-repeat center;
}
/*
 * common page classes
 */
.pagetitle {
 display: block;
 text-align: center;
 font-size: 1.3em;
}
/*
 * content boxes
 */
.cbox-title {
 font-size: medium;
}
/*
 * wiki pages
 */
.wiki-edithelp {
 display: none;
}
/*
 * articles
 */
.titlea {
 font-size: medium;
}

/*
 ***** Here we define IDs *****
 */
/*** This can be floated left or right ***/
#maincontent {
 /*float: right;*/
 /*width: 70%;*/
 /*position: relative;
 margin: auto;*/
 /*position: absolute;
 top: 2em;*/
}
#modules1 {
 /*width: 24%;*/
}
#modules2 {
 /*width: 24%;*/
}
/* hide comments and the form */
#comzone {
 display: none;
}
/* TikiIntegrator: By default copy rules dialog not shown */
div#rules-copy-panel {
    display: none;
}
/* for tabs */
div.tabs {
	font-size: 11px;
	white-space: nowrap;
	cursor: default !important;
	font-weight: 700 !important;
	z-index: 100;
	}

.content {
	position: relative;
	border: 1px solid #666;
	width: 600px;
	padding: 10px;
	margin-bottom: 25px;
	z-index: 80;
	background-color: #f3f6f9;
	-moz-border-radius: 0px 4px 4px 4px;
	}
	
.tab {
	border: 1px solid #347;
	padding: 2px 5px 1px 5px;
	background-color: #bcd;
	color: #303036;
	z-index: 100;
	border-bottom-width: 0;
	-moz-border-radius: 4px 4px 0px 0px;
	}

.tabHover {
	background-color: #46596f;
	color:#fff;
	z-index: 90;
	border-bottom-width: 0;
	cursor: pointer;
	}

.tabActive { 
	padding: 3px 5px 2px 5px;
	color: #060610 ;
	background-color: #f3f6f9;
	z-index: 100;
	}
      
div.tabsClone .tab, div.tabsClone .tabActive {
	border-top-width: 0 !important;
	border-bottom-width: 1px !important;
	}

div.tabsClone .tabActive{
	top: -2px;
	}

a.removeTab{
	font-size: smaller;
	text-decoration: none;
	}


/* ASSORTED  */

#clear {
	clear:both;
	}
	
/* Warning color */
.attention {
	color: red;
}
