/*
$Id: trollparty.css,v 1.49 2007-03-22 17:54:56 sylvieg Exp $
made by mose@trollparty.org

background-color: #000000;
foreground: #aeaeae;

link:normal #dede98;
link:hover #ffffff;
        bg #131333;
link:visited #aea067;

border: 1px solid #003388;

titles: #2255aa;
border-bottom: 1px dashed #2255aa;

cbox: bg #333333;
*/


body {
font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
background-color: #000000;
color: #aeaeae;
margin: 0px;
}
a {
color: #dede98;
text-decoration: none;
}
a:hover {
color: #ffffff;
background-color: #131333;
}
a:active {
color: #336699;
background-color: #000000;
}
a:visited {
color: #aea067;
}

/* 
This div encloses the whole Tiki application 
*/
DIV#tiki-main {
margin: 0px;
}

DIV#tiki-main > table:first-child {
}

DIV#tiki-top {
font-size: .8em;
padding: 0 5px;
}

DIV#tiki-mid {
padding : 0;
margin : 0;
}

DIV#tiki-bot {
padding : 0;
margin : 0px;
}

/* 
The three columns 
*/
TD#leftcolumn {
vertical-align: top;
width : 180px;
border-right : 1px solid #003388;
}

TD#rightcolumn {
vertical-align: top;
width : 180px;
border-left: 1px solid #003388;
}

TD#centercolumn {
vertical-align: top;
border-left: 1px solid #003388;
border-right: 1px solid #003388;
}

DIV#tiki-center {
margin: 0;
padding: 0;
}

div#debugconsole {
  position: absolute;
  background-color: #121212;
  color: #ddcc66;
  top: 0px;
  left: 20px;
  right: 310px;
  height: auto;
  width: auto;
  z-index: 1;
  padding: 5px;
  border: 6px ridge #ddcc66;
} 
span.on-option { color: #00C000; }
span.off-option { color: #005000; }

/*
GENERAL STYLE PROPERTIES 

BOXES boxes are used to present a box with a title 
bar and content, they are used for modules and they
are also used in the rankings, admin screen etc.
The box class is used for modules while the cbox 
class is used for other boxes
*/

/* 
Boxes used for modules 
(modules are those boxes in the left/right columns) 
*/
div.box 
{
/*background-color: #e1e2b9; */
padding-top: 3px;
margin-top: 13px;
}

/* 
Boxes are divided in title and data, this is the title 
*/
h3.box-title, div.box-title {
border-bottom: 1px dashed #2255aa;
font-size: 90%;
font-weight: bold;
letter-spacing: 1px;
color: #4477cc;
overflow: hidden;
text-align: left;
padding-left: 6px;
padding-right: 6px;
margin-bottom: 1px; margin-top: 0;
}

div.box-title table {
    width: 100%;
}

/* 
And this is the data 
*/
div.box-data {
margin-left: 15px;
margin-right: 5px;
}

/* 
When modules display a list of items each item is enclosed 
in a cell with the following style 
*/
.module
{
text-align: left;
}

/* 
Links in modules 
*/
.linkmodule 
{
color : #b1b299;
text-decoration: none;
}

.linkmodule:hover
{
color : #ffffff;
text-decoration: none;
}

/* 
Now the boxes for the rest of Tiki (non-modules 
*/
div.cbox
{
background-color : #333333;
margin-top: 4px;
margin-bottom: 0px;
padding-bottom: 10px;
overflow: hidden;
}

/* 
Boxes are divided in title and data, this is the title 
*/
div.cbox-title
{
border-bottom: 1px dashed #2255aa;
overflow: hidden;
text-align: left;
padding-left: 10px;
padding-right: 0px;
margin-bottom: 0px;
}

/* 
When there's a link in a cbox-title 
*/
.cboxtlink
{
color : #b1b299;
text-decoration: none;
}

.cboxtlink:hover
{
color : #ffffff;
}

/* 
And this is the data 
*/
div.cbox-data
{
overflow: hidden;
color: #aeaeae;
padding : 5px;
}

div.separator {
margin-top: 4px;
margin-bottom: 2px;
padding-bottom: 2px;
border-bottom: 1px dashed #2255aa;
}

/* 
Links in menus 
*/
.linkmenu,
.rsslink
{
color : #b1b299;
text-decoration: none;
}

.linkmenu:hover,
.rsslink:hover
{
color : white;
}
/* style for rss lists in modules or in wiki */
.rsslist {
  color: #ffffff;
  margin: 0;
  margin-right: 10px;
  padding: 1px;
  border: 1px solid #424242;
}
.rssitem {
	list-style : none;
  border-top: 1px dashed #323232;
  margin-left: 5px;
}
.rssitem:first-child {
  border-top: 0;
}
.rssdate {
  color: #999999;
  font-style: italic;
}


/* 
Links to extend/collapse menus 
*/
.separator
{
color : #b1b299;
text-decoration: none;
}

.separator:hover
{
color : white;
text-decoration: none;
}

/* 
Links to collapse menus for example the main menu 
can be completely collapsed
*/
.flip
{
color : white;
text-decoration: none;
}

.flip:active
{
font-weight: bold;
}

.flip:hover
{
color : #ffffff;
text-decoration: none;
}

/* 
Banners of type text (textadds) are displayed 
as links using the following style 
*/
.bannertext
{
font-size: 90%;
text-decoration: none;
}

.bannertext:hover
{
font-size: 90%;
text-decoration: none;
}

/* 
Some boxes uses thumbnails this is the image style 
*/
div.imagerank
{
margin-bottom: 10px;
margin-top: 10px;
}

/* 
A simple box is just a div with a border around and 
some margin. used for example in the admin screen 
*/
div.simplebox
{
margin-top: 5px;
margin-bottom: 5px;
padding-left: 2px;
padding-top: 2px;
padding-bottom: 2px;
padding-right: 2px;
color: #aeaeae;
border: 1px solid #777750;
background-color: #424242;
}

/* 
Prevent forms from generating unwanted padding or margins 
*/
FORM {
margin : 0px;
padding : 0px;
}

input, select {
color : #ffffff;
background-color: #122232;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
border: 1px solid #425262;
}

textarea {
color : #ffffff;
background-color: #122232;
border: 1px solid #425262;
font-size: 12px;
font-family: fixed, courier, monospace;
font-style: normal;
}

input {
text-indent : 2px;
}

input[type=submit] {
color: #b1b299;
background-color: #424242;
border: 1px solid #b1b299;
text-indent: 0;
}
input[type=submit]:hover {
color: #ffffff;
background-color: #000000;
border: 1px solid #ffffff;
}


TD {
vertical-align: top;
}

.form td {
vertical-align: top;
text-align: left;
}

/* 
Cells in forms using a background color 
*/
.formcolor td,
.galform td,
.editblogform td,
.editfgalform td,
.comform td,
.forumform td
{
background-color: #232323;
vertical-align: top;
text-align: left;
}

/* 
The table 
*/
table.listgallery,
table.creategalform,
TABLE.normal,
table.gallerylisting,
table.bloglist,
table.jukeboxlist,
table.editblogform,
table.editfgalform,
table.listfgal,
table.listfiles,
table.listarticles,
table.forumstable,
table.forumformtable,
table.viewthread
{
border-color: #777750;
border-style: solid;
border-width: 1px;
width: 100%;
}

TABLE.normalnoborder
{
width: 100%;
}

/* 
Table headings 
*/
TD.heading,
td.gallistheading,
td.listgalheading,
td.bloglistheading,
td.listfgalheading,
td.listfilesheading,
td.jukeboxlistheading,
td.listartheading,
td.forumheading,
td.thead
{
font-weight : bold;
padding-left: 2px;
padding-right: 5px;
border-bottom: 1px dashed #777750;
}

th,
th.gallistheading,
th.listgalheading,
th.bloglistheading,
th.listfgalheading,
th.listfilesheading,
th.jukeboxlistheading,
th.listartheading,
th.forumheading,
{
font-weight : bold;
padding-left: 2px;
padding-right: 5px;
border-bottom: 1px dashed #777750;
}

TD.button
{
font-weight : bold;
padding-left: 2px;
padding-right: 5px;
border-bottom: 1px dashed #777750;
text-align: center; 
vertical-align: middle;
}

/* 
Links to view an object from a table listing objects can be generalized to this link 
*/
a.tablename,
a.galname,
a.imagename,
a.blogname,
a.jukeboxname,
a.fgalname,
a.artname,
a.forumname
{
font-weight: bold;
font-size: 110%;
letter-spacing: 1px;
text-decoration: none;
}

a.tablename:active,
a.galname:active,
a.imagename:active,
a.blogname:active,
a.jukeboxname:active,
a.fgalname:active,
a.artname:active,
a.forumname:active
{
text-decoration: none;
}

a.tablename:hover,
a.galname:hover,
a.imagename:hover,
a.blogname:hover,
a.fgalname:hover,
a.artname:hover,
a.forumname:hover
{
}

/* 
Links in table headings 
*/
.tableheading,
.gallistheading, 
.listgalheading, 
.bloglistheading, 
.llisfgalheading,
.llistfileslink,
.llistart,
.lforumheading
{
font-weight : bold;
text-decoration: none;
}

.tableheading:active,
.gallistheading:active,
.listgalheading:active,
.bloglistheading:active, 
.llisfgalheading:active,
.llistfileslink:active,
.llistart:active,
.lforumheading:active
{
font-weight : bold;
text-decoration: none;
}

.tableheading:hover,
.gallistheading:hover,
.listgalheading:hover, 
.bloglistheading:hover, 
.llisfgalheading:hover,
.llistfileslink:hover, 
.llistart:hover,
.lforumheading:hover
{
font-weight : bold;
text-decoration: none;
}

/* 
When a find button is provided for a listing the table 
form is displayed in a table with the following style 
*/
table.findtable
{
width: 100%;
margin-bottom: 20px;
padding-bottom: 10px;
}

.findtable td
{
}

/* 
Odd rows in several listings 
*/
tr.odd {
background-color: #121212;
vertical-align: top;
text-align: left;
}
tr.odd:hover {
background-color: #000000;
}
tr.even {
background-color: #222222;
vertical-align: top;
text-align: left;
}
tr.even:hover {
background-color: #000000;
}

TD.odd,
td.gallistnameodd,
td.gallistdescriptionodd,
td.gallistcreatedodd,
td.gallistlastModifodd,
td.gallistuserodd,
td.gallistimagesodd,
td.gallisthitsodd,
td.gallistactionsodd,
td.listgalidodd,
td.listgalnameodd,
td.listgalcreatedodd,
td.listgalhitsodd,
td.listgaluserodd,
td.listgalfilesizeodd,
td.bloglistnameodd,
td.bloglistdescriptionodd,
td.bloglistcreatedodd,
td.bloglistlastModifodd,
td.bloglistuserodd,
td.bloglistpublicodd,
td.bloglistpostsodd,
td.bloglistvisitsodd,
td.bloglistactivityodd,
td.bloglistactionsodd,
td.listfgalnameodd,
td.listfgaldescriptionodd,
td.listfgalcreatedodd,
td.listfgallastModifodd,
td.listfgaluserodd,
td.listfgalfilesodd,
td.listfgalvisitsodd,
td.listfgalactionsodd,
td.listfilesnameodd,
td.listfilesdescriptionodd,
td.listfilesidodd,
td.listfilesfilenameodd,
td.listfilesfilesizeodd,
td.listfilescreatedodd,
td.listfilesdlsodd,
td.listfilesnameodd,
td.listfilesuserodd,
td.listfilesactionsodd,
td.listarttitleodd,
td.listarttopicodd,
td.listartpublishDateodd,
td.listartauthorodd,
td.listartreadsodd,
td.listarthasimageodd,
td.listartuseimageodd,
td.listartactionsodd,
td.listartsizeodd,
td.forumstableodd,
td.forumstableinfoodd,
td.topictitleodd,
td.topicrepliesodd,
td.topicreadsodd,
td.topicscoreodd,
td.topiclastpostodd,
td.topicauthorodd,
td.jukeboxlistnameodd, 
td.jukeboxdescriptionodd, 
td.jukeboxcreatedodd, 
td.jukeboxlastmodifodd, 
td.jukeboxlistuserodd, 
td.jukeboxlisttracksodd, 
td.jukeboxlistvisitsodd
{
background-color: #121212;
vertical-align: top;
text-align: left;
}

/* 
Even rows in several listings 
*/
TD.even,
td.gallistnameeven,
td.gallistdescriptioneven,
td.gallistcreatedeven,
td.gallistlastModifeven,
td.gallistusereven,
td.gallistimageseven,
td.gallisthitseven,
td.gallistactionseven,
td.listgalideven,
td.listgalnameeven,
td.listgalcreatedeven,
td.listgalhitseven,
td.listgalusereven,
td.listgalfilesizeeven,
td.bloglistnameeven,
td.bloglistdescriptioneven,
td.bloglistcreatedeven,
td.bloglistlastModifeven,
td.bloglistusereven,
td.bloglistpubliceven,
td.bloglistpostseven,
td.bloglistvisitseven,
td.bloglistactivityeven,
td.bloglistactionseven,
td.listfgalnameeven,
td.listfgaldescriptioneven,
td.listfgalcreatedeven,
td.listfgallastModifeven,
td.listfgalusereven,
td.listfgalfileseven,
td.listfgalvisitseven,
td.listfgalactionseven,
td.listfilesnameeven ,
td.listfilesdescriptioneven,
td.listfilesideven,
td.listfilesfilenameeven,
td.listfilesfilesizeeven,
td.listfilescreatedeven,
td.listfilesdlseven,
td.listfilesnameeven,
td.listfilesusereven,
td.listfilesactionseven,
td.listarttitleeven,
td.listarttopiceven,
td.listartpublishDateeven,
td.listartauthoreven,
td.listartreadseven,
td.listarthasimageeven,
td.listartuseimageeven,
td.listartactionseven,
td.listartsizeeven,
td.forumstableeven,
td.forumstableinfoeven,
td.topictitleeven,
td.topicreplieseven,
td.topicreadseven,
td.topicscoreeven,
td.topiclastposteven,
td.topicauthoreven,
td.jukeboxlistnameeven, 
td.jukeboxdescriptioneven, 
td.jukeboxcreatedeven, 
td.jukeboxlastmodifeven, 
td.jukeboxlistusereven, 
td.jukeboxlisttrackseven, 
td.jukeboxlistvisitseven
{
background-color: #222222;
vertical-align: top;
text-align: left;
}

TD.odddark
{
color : #aeaeae;
background-color: #000000;
vertical-align: top;
text-align: left;
}

TD.evendark
{
color : #aeaeae;
background-color: #222222;
vertical-align: top;
text-align: left;
}

TD.third
{
color : #aeaeae;
background-color: #424242;
vertical-align: top;
text-align: left;
}

/* 
Titles 
*/

/* 
When the page title is a link this is the style 
*/
.pagetitle, 
.forumspagetitle
{
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
color : #b1b299;
}

a.pagetitle,
a.forumspagetitle
{
font-weight: bold;
font-size: 140%;
font-family:  Arial, Helvetica, sans-serif;
text-decoration: none;
color : #b1b299;
}

a.pagetitle:hover,
a.forumspagetitle:hover
{
font-weight: bold;
font-size: 140%;
font-family:  Arial, Helvetica, sans-serif;
text-decoration: underline;
color : #ffffff;
}

/* 
Non-linking titles (three levels) 
*/

H1, H2, H3
{
font-family:  Arial, Helvetica, sans-serif;
color: #aeaeae;
padding-left:10px;
padding-right:10px;
}

.wikitext H1, 
.wikitext H2, 
.wikitext H3,
.wikitext H4
{
font-weight: bold;
margin:0;
padding-left:0px;
padding-right:0px;
}

.wikitext H1
{
margin-top: 15px;
font-size: 140%;
}
.wikitext H2
{
margin-top: 7px;
font-size: 120%;
}

.wikitext H3
{
font-size: 110%;
}
ul
{
margin: 0;
}
/* 
Links where no special link style apply 
(usually with the general application background)
*/
.link,
.gallink,
.bloglink,
.fgallink,
.trailer,
.jukeboxlink,
.opencomlink,
.commentslink,
.admlink,
.forumbutlink
{
text-decoration: none;
}

.link:hover,
.gallink:hover,
.bloglink:hover,
.fgallink:hover,
.trailer:hover,
.jukeboxlink:hover,
.opencomlink:hover,
.commentslink:hover,
.admlink:hover,
.forumbutlink:hover
{
}

/* 
Search results display a date using the following style
*/
div.searchdate
{
color : #999999;
}

/* 
Pagination for listings 
*/
.mini
{
font-size: 80%;
color : #999999;
}


/* 
Warning background/color 
*/
.attention
{
color: red;
}

/*
THE WIKI 
*/

div.titlebar
{
background-color: #222222;
color: #aaaaaa;
border-bottom: 1px solid #666666;
padding: 0px 6px;
margin-top: 6px;
clear: both;
font-weight: bold;
}

/* 
The bar where the actions for a page are displayed 
*/
DIV#page-bar
{	
margin-left: 0px;
}

/* 
Wiki action buttons (the buttons displayed at the 
end of each page to edit/print/remove/etc a page 
*/
.button2, .button3
{
border-top: 1px solid #2255aa;
margin: 0;
padding-left: 4px;
padding-right: 4px;
}
.button3 {
  border-radius : 5px 5px 0 0;
  -moz-border-radius : 5px 5px 0 0;
  -khtml-border-radius : 5px 5px 0 0;
}
.button3 .linkbut {
  border-radius : 5px 5px 0 0;
  -moz-border-radius : 5px 5px 0 0;
  -khtml-border-radius : 5px 5px 0 0;
  padding-bottom : 2px;
  border-bottom : 0;
}

/* 
Links in buttons 
*/
.linkbut {
padding: 2px 5px;
color: #b1b299;
text-decoration: none;
font-size: .8em;
}

.linkbut:hover {
border-top: 1px solid #ffffff;
color: white;
}

.button2top {
border-bottom: 1px solid #2255aa;
display: inline;
margin: 0;
padding-right: 4px;
padding-left: 4px;
}
.button2top form {
display : inline;
}
.linkbuttop {
padding: 2px 5px;
color: #b1b299;
text-decoration: none;
font-size: .8em;
}

.linkbuttop:hover {
border-bottom: 1px solid #ffffff;
color: #ffffff;
}

/* 
When a cached version of an external link is displayed 
*/
div.cache {
border: 1px solid #aeaeae;
padding: .2em;
margin: 0.1ex 0px;
}

div.cachedpage {
border: 1px solid #aeaeae;
padding-left: 0.1em;
padding-right: 0.1em;
padding-top: 0.1em;
padding-bottom: 0.1em;
margin: 0.1ex 0px;
}

/* 
When an external link is cached a small link to the 
cached version (cache) is displayed using this style 
*/
.wikicache {	
font-size: 80%;	
text-decoration: none;
}

.wikicache:hover {
color : #ffffff;
background-color: #f1f1c9;
}

table.wikitable {
border: 1px solid #2255aa;
}

td.wikicell {
background-color: #121212;
}

/* 
Text in wiki pages is displayed using the following style 
*/
body.wikitext, div.wikitext {
	background-color: #000000;
	padding: 3px 20px;
	margin: 1px 0px;
	clear: both;
}
body.wikitext a {
	color: #dede98 !important;
	text-decoration: none !important;
}
.wikitopline table { width: 100% }

/* 
Links to wiki pages 
*/
.wiki {
	color: #b1b299 !important;
	text-decoration: none !important;
}

.wiki:hover {
	color: white;
}

hr {
size: 1px;
border: 0;
display: none;
}

.editdate {
font-size: smaller;
text-align: right;
margin-top: 20px;
padding: 0 10px;
color: #999999;
background-color: #121212;
}
#description {
  font-size : 10px !important;
  padding-left:   10px;
}
.toptitledesc {
font-size: smaller;
padding-left: 10px;
color: #aeaeae;
font-family:  Helvetica, Arial, sans-serif;
}


/* 
The edit-help used to display the wiki 
syntax when editing a page 
*/
div.wiki-edithelp {
background-color: #121212;
border: 1px solid #999999;
font-size: smaller;
padding: 10px;
}

/*
IMAGE GALLERIES 
*/
TABLE.galtable {
border-collapse: collapse;
width: 100%;
}

/* 
Gallery description 
*/
div.galdesc
{
padding-left: 0.8em;
padding-right: 0.8em;
padding-top: 0.5em;
padding-bottom: 0.5em;
margin: 0.5ex 0px;
clear: both;
}

/* 
Container for the whole gallery 
*/
div.browsegallery
{
}

/* 
You can set a different background color 
for odd and even rows in the thumbnails table 
*/

/* 
Thumbnails in odd rows are shown inside oddthumb tds 
*/
TD.oddthumb
{
}

TD.eventhumb
{
}

/* 
Gallery Title 
*/
div.gallerytitle
{
font-weight: bold;
font-family:  Arial, Helvetica, sans-serif;
color : black;
}

div.adminoptions
{
margin-top: 5px;
margin-bottom: 5px;
padding-top: 10px;
padding-bottom: 10px;
}

div.sortoptions
{
margin-top: 5px;
margin-bottom: 5px;
padding-top: 10px;
padding-bottom: 10px;
}

span.sorttitle
{
}

span.sortoptions
{
}

/* 
Container for thumbnails 
*/
div.thumbnails
{
border : 1px solid Black;
margin-top: 10px;
margin-bottom: 10px;
}

/* 
Thumbnails images 
*/
img.athumb
{
border : 1px solid Silver;
}

.caption
{
}

/* 
No records found text  
(displayed in the table when no records) 
*/
p.norecords
{
font-weight : bold;
}

/* 
Browsing an image 
*/
table.imageinfo
{
width: 98%;
}

td.imageinfo
{
vertical-align: top;
text-align: left;
}

/* 
The whole container for the browse image screen (may be useful for a fancy background) 
*/
div.browseimage
{
background-color: #EFEFE7;
}

div.imagetitle
{font-weight: bold;
font-family:  Arial, Helvetica, sans-serif;
color : black;
}

div.gallerylink
{
}

div.showimage
{
text-align: center;
margin-top: 5px;
margin-bottom: 5px;
}

div.imageinfo
{
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}

td.imageinfo
{
}

table.tableinfo
{
text-align: center;
}

div.linksinfo
{
color : Black;
text-align: center;
border: 1px solid black;
margin-top: 10px;
margin-bottom: 10px;
}

/******************************************************* WEBLOGS **********************************************************/

/* The header of a weblog post */
div.posthead
{
color: white;
font-weight: bold;
overflow: hidden;
text-align: center;
padding-left: 0px;
padding-right: 0px;
margin-bottom: 0px;
}

/* The font used in the heading of the weblog */
span.posthead
{
font-weight: bold;
color: white;
}

/* Links in the weblog post heading (edit/remove) */
/* When there's a link in a cbox-title */
.blogt
{
color : white;
text-decoration: none;
}

.blogt:active
{
color : white;
text-decoration: none;
}

.blogt:hover
{
color : white;
text-decoration: underline;
}

/* The post body */
div.postbody
{
overflow: hidden;
padding-left: 5px;
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 10px;
}

/* The weblog title */
div.blogtitle
{
color: white;
font-weight : bold;
padding-left: 2px;
padding-right: 5px;
margin-top: 10px;
}

/* The weblog information */
div.bloginfo
{
padding-left: 0.8em;
padding-right: 0.8em;
padding-top: 0.5em;
padding-bottom: 0.5em;
margin-bottom: 10px;
clear: both;
}

/* Weblog description */
div.blogdesc
{
padding-left: 0.8em;
padding-right: 0.8em;
padding-top: 0.5em;
padding-bottom: 0.5em;
margin-bottom: 10px;
clear: both;
}

/* Links to post/edit/rss feed for the webelog are contained inside this div */
div.blogtools
{
padding-left: 0.8em;
padding-right: 0.8em;
padding-top: 0.5em;
padding-bottom: 0.5em;
margin-bottom: 10px;
clear: both;
}

/**************************************************** FILE GALLERIES ****************************************************/

/* Listing contents of a file gallery (listing files) */
div.fgaldesc
{
padding-left: 0.8em;
padding-right: 0.8em;
padding-top: 0.5em;
padding-bottom: 0.5em;
margin: 0.5ex 0px;
clear: both;
}

/****************************************************** CMS ***************************************************************/

/* The article title bar */
div.articletitle
{
font-weight : bold;
padding-left: 0.8em;
padding-right: 0.8em;
padding-top: 0.1em;
padding-bottom: 0.1em;
margin-top: 3px;
clear: both;
}

/* The article heading */
div.articleheading
{
padding-left: 0.8em;
padding-right: 0.8em;
padding-top: 0.5em;
padding-bottom: 0.5em;
border-bottom: 0px;
clear: both;
}

div.articletrailer
{
border-top: 1px dashed #999999;
padding-left: 0.8em;
padding-right: 0.8em;
padding-top: 0.1em;
padding-bottom: 0.1em;
margin-bottom: 10px;
text-align: right;
clear: both;
}

/* Text in the article heading */
div.articleheadingtext {
display: inline;
}

/* The body */
div.articlebody
{
padding-left: 0.8em;
padding-right: 0.8em;
padding-top: 0.5em;
padding-bottom: 0.5em;
margin: 10px 0px;
clear: both;
}

/* The article title */
span.titlea
{
font-weight: bold;
}

/* The author, date and number of reads */
span.titleb
{
font-weight: normal;
}

/* The trailer */
span.trailer
{
font-weight: bold;
}

/******************************************************* CALENDAR **********************************************************/

/* LINKS TO DAYS IN THE CALENDAR */
.day
{
font-size: 90%;
text-decoration: none;
color : black;
}

.day:active
{
text-decoration: none;
color : black;
}

.day:hover
{
color : black;
background-color:#CCCCCC;
text-decoration: none;
}

.day:link
{
text-decoration: none;
color : black;
}

.day:visited
{
text-decoration: none;
color : black;
}

/* LINKS FOR TODAY */
.today
{
font-size: 90%;
text-decoration: none;
color : black;
font-weight : bold;
text-decoration: none;
}

.today:active
{
text-decoration: none;
color : black;
font-weight : bold;
text-decoration: none;
}

.today:hover
{
color : black;
text-decoration: none;
font-weight : bold;
background-color: #CCCCCC;
}

/* Links to change month, year or go to today */

.nav
{
font-size: 90%;
text-decoration: none;
color : black;
font-weight : bold;
text-decoration: none;
}

.nav:active
{
text-decoration: none;
color : black;
font-weight : bold;
text-decoration: none;
}

.nav:hover
{
color : black;
text-decoration: none;
font-weight : bold;
background-color: #CCCCCC;
}

.changedate
{
font-size: 90%;
background-color: white;
color : black;
font-weight : bold;
}

.date
{
font-size: 90%;
background-color: white;
color : Black;
font-weight : bold;
}

/*************************************************** COMMENTS **************************************************************/

/* The whole comment area when it is visible and when it is not */
#comzone
{
display: none;
margin-left: 1px;
margin-right: 1px;
margin-top: 5px;
margin-bottom: 5px;
padding-left: 2px;
padding-right: 2px;
}

#comzoneopen
{
display: block;
margin-left: 1px;
margin-right: 1px;
margin-top: 5px;
margin-bottom: 5px;
padding-left: 2px;
padding-right: 2px;
}

/* Post comment form */
div.commentspost
{
display: inherit;
border: 1px solid black;
margin-top: 10px;
margin-right: 10px;
padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 10px;
}

/* Help box*/
div.commentsedithelp
{
background-color: white;
border: 1px solid black;
font-size: smaller;
}

/* The toolbar where the ordering number of comments and find box are found */
div.commentstoolbar
{
margin-bottom: 20px;
padding-top: 2px;
padding-left: 2px;
}

/* The comment title */
span.commentstitle
{
font-weight: bold;
}
ul.subcomment{margin-left: 10px;}
/* The comment */
div.commentscomment
{
margin-bottom: 20px;
}

/* The header for a comment */
div.commentheader
{
}

/* The text */
div.commenttext
{
margin-left: 5px;
}

/* Links in the comment header */
.commentshlink
{
color : black;
text-decoration: none;
}

.commentshlink:active
{
color : black;
text-decoration: none;
}

.commentshlink:hover
{
color : black;
text-decoration: underline;
}

/************************************************************ CHAT *********************************************************/

table.chatroom
{
width: 98%;
}

td.chatchannels
{
}

td.chatarea
{
padding-left: 0px;
margin-left: 0px;
}

table.chatform
{
width: 98%;
border-top:0px;
}

td.tdchatform
{
vertical-align: top;
text-align: left;
}

span.chnormal
{
color: red;
}

span.chuser
{
color: blue;
font-weight: bold;
}

/********************************************************** POLLS ********************************************************/

div.pollresults
{
margin-top: 5px;
padding-left: 5px;
}

table.pollresults
{
width: 100%;
}

td.pollr
{
}

/* MODULES */

/***************************************************** FORUMS *****************************************************/

/* Title for the forums page */
div.forumspagetitle
{
margin-top: 10px;
margin-bottom: 40px;
}

table.threads
{
width: 100%;
}

td.viewthreadl
{
height: 30px;
vertical-align: top;
}

td.viewthreadr
{
height: 30px;
vertical-align: top;
}

/* Cells for the threads table */
td.threadsevenl
{
vertical-align: top;
}

td.threadsevenr
{
vertical-align: top;
}

td.threadsoddl
{
vertical-align: top;
}

td.threadsoddr
{
vertical-align: top;
}

td.threadseparator
{
height: 5px;
}

#forumpost
{
display: none;
}

#forumpostopen
{
display: block;
}

div.forumtoolbar
{
margin-bottom: 20px;
border: 0px;
}

td.forumtoolbar
{
font-weight : bold;
text-decoration: none;
vertical-align: bottom;
}

.toolbarlink
{
color: white;
font-weight : bold;
text-decoration: none;
}

.toolbarlink:active
{
color: white;
font-weight : bold;
text-decoration: none;
}

.toolbarlink:hover
{
color: #CCCCCC;
font-weight : bold;
text-decoration: none;
}

/* Links to vote */
.forumvotelink
{
}

/************************************************ CATEGORIES **************************************************************/

table.tcategpath
{
margin-bottom: 40px;
width: 97%;
}

/* Table containing the category path */
td.tdcategpath
{
font-weight : bold;
padding-left: 2px;
margin: 0px;
border-spacing: 0px;
padding-right: 5px;
}

/* Links to up/top categories */
.categpath
{
color : white;
text-decoration: none;
}

.categpath:active
{
color : white;
text-decoration: none;
}

.categpath:hover
{
color : #CCCCCC;
text-decoration: underline;
}

/* Table with the subcategories */
table.subcats
{
padding-top: 20px;
padding-bottom: 20px;
width: 97%;
border-spacing: 0px;
padding-right: 0px;
margin-bottom: 10px;
}

td.tdsubcat
{width: 25%;
}

/* Links to subcategories */
.categlink
{
text-decoration: none;
font-weight: bold;
}

table.catobjects
{
width: 97%;
border-spacing: 0px;
padding-right: 0px;
margin-bottom: 10px;
border-color: black;
border-style: solid;
border-width: 0px;
}

td.categobjectsnameeven,td.categobjectsnameodd
{
background-color: #DED6C6;
}

td.categobjectsdataeven,td.categobjectsdataodd
{
background-color: #DED6C6;
}

.catname
{
text-decoration: none;
}


/***************************************************** FAQS **************************************************************/
/* The list of questions */
div.faqlistquestions
{
padding-top: 5px;
padding-bottom: 5px;
}

/* Container for question-answer block */
div.faqqa
{
border: 1px solid black;
margin-bottom: 20px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
}

/* The question */
div.faqquestion
{
margin-bottom: 5px;
}

/* The answer */
div.faqanswer
{
font-size: 12px;
}

/***************************************************** QUIZZES **************************************************************/



div.questionblock
{
margin-bottom: 10px;
}

div.quizquestion
{
margin-bottom: 5px;
}

div.quizoptions
{
}

div.quizdescription
{
margin-bottom: 10px;
}

div.quizanswer
{
margin-bottom: 10px;
}

/***************************************************** SHOUTBOX **************************************************************/
div.shoutboxmsg
{
margin-bottom: 0px;
padding-left: 2px;
padding-right: 2px;
padding-top: 1px;
padding-bottom: 1px;
}

div.shoutboxmodmsg
{
margin-bottom: 4px;
padding-left: 2px;
padding-right: 2px;
padding-top: 1px;
padding-bottom: 1px;
}

/*************************************************** WIKI TOCS ***************************************************/

div.tocnav
{
padding-bottom: 5px;
padding-top: 5px;
margin-bottom: 2px;
}

.tocnavlink
{
text-decoration: none;
}

.tocnavlink:hover
{
text-decoration:none;
}

/*************************************************** DIRECTORY ***************************************************/
/* The list of categories */
div.dircategs
{
border: 0.5px solid black;
padding-bottom: 5px;
padding-top: 5px;
padding-left: 5px;
}

/* Links to categories */
.dirlink
{
font-weight: bold;
}

/* Links to subcategories */

.dirsublink
{
}


/* The list of sites in any category */
div.dirlistsites
{
padding-left: 5px;
padding-top: 5px;
padding-bottom: 10px;
margin-top: 10px;
}

/* each site in the list of sites */
div.dirsite
{
margin-bottom: 10px;
}

span.dirsitedesc
{
}

span.dirsitetrail
{
}

span.dirsitecats
{
}

/* Links to sites */
.dirsitelink
{
color : black;
text-decoration: underline;
}


/* Related categories */
div.dirrelated
{
margin-top: 10px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
margin-left: 5px;
}

/* Footer with stats for the directory */
td.dirfooter
{
}

div.dirfooter
{
margin-top: 10px;
}

/*************************************************** MESSAGES ***************************************************/
/* Links for priority colors */
td.prio1
{
padding-left: 2px;
background-color: #DAD0D0;
}

td.prio2
{
padding-left: 2px;
background-color: #DAC0C0;
}

td.prio3
{
padding-left: 2px;
background-color: #DABABA;
}

td.prio4
{
padding-left: 2px;
background-color: #DAAAAA;
}

td.prio5
{
padding-left: 2px;
background-color: #DA8A8A;
}

/* Div containing links to flag/unflag messages when reading a message */
div.messureadflag
{
padding-left: 5px;
}

/* Header when reading a message */
div.messureadhead
{
margin-top: 2px;
}

/* Message body when reading */
div.messureadbody
{
margin-top: 5px;
}

/* Links to read emails (the subject in the mailbox listing) */
.readlink
{
}

/* calendar styles */
#calendar
{
width:100%;
}

.Cal0, 
.Cal1, 
.Cal2
{
border-top:1px dashed #cccccc;
color: #425262;
font-size:10px;
padding-right:0px;
}
.Cal0:before
{
content: "? ";
}

.Cal1:before
{
content: "+ ";
color: #ffffff;
font-weight: bold;
background-color: #000000;
}

.Cal2:before
{
content: "x ";
color: #ffffff;
font-weight: bold;
background-color: #663300;
}

/* misc cal styles */
.caltitle
{
font-weight: bold;
color: #425262;
}
.caltab
{
padding-left: 10px;
padding-right: 10px;
border-bottom: 1px dashed #777750;
}
a.caltab
{
text-decoration: none;
font-weight: bold;
color: #ffffff;
}
a.caltab:hover
{
background-color: #131333;
border-bottom: 1px dashed #cccccc;
}
.caltabon
{
padding-left: 10px;
padding-right: 10px;
background-color: #f1f1c9;
border-bottom: 1px dashed #777750;
background-color: #888888;
color: #000000;
}
a.caltabon
{
text-decoration: none;
font-weight: bold;
color: #ffffff;
}
a.caltabon:hover
{
background-color: transparent;
}
div#tab, div#tabcal, div#tabnav {
margin-top: 10px;
margin-left: 30px;
}
div#tab {
margin-bottom: 15px;
}
div.tabcal, div.tabnav {
padding: 10px;
background-color: #222222;
}
/* checkboxes background is required for rollover display */
.calcheckbox
{
}
.caltoggle {
margin-bottom: 7px;
}
#opaque {
background-color: #222222;
}
.calfocus {
font-size: 9px;
}
.calfocus a {
text-decoration: none;
color : #cccccc;
}
.calfocuson {
font-size: 9px;
background-color: #000000;
}
.calfocuson a {
text-decoration: none;
color : #ffffff;
}

.Calwiki, .Calblog, .Calgal, .Calart, .Calforum, .Caldir, .Calfgal, .Calfaq, .Calquiz, .Caltrack, .Calsurv, .Calnl, .Caleph, .Calchart  {
border-top : 1px dashed #666666; padding : 0 3px; font-size : .7em;
}
.Calwiki a, .Calblog a, .Calgal a, .Calart a, .Calforum a, .Caldir a, .Calfgal a, .Calfaq a, .Calquiz a, .Caltrack a, .Calsurv a, .Calnl a, .Caleph a, .Calchart a { 
color: #ffffff; 
}

.Calwiki:before { content: "w"; font-family: monospace; }
.Calblog:before { content: "b"; font-family: monospace; }
.Calgal:before { content: "i"; font-family: monospace; }
.Calart:before { content: "a"; font-family: monospace; }
.Calforum:before { content: "o"; font-family: monospace; }
.Caldir:before { content: "d"; font-family: monospace; }
.Calfgal:before { content: "f"; font-family: monospace; }
.Calfaq:before { content: "q"; font-family: monospace; } 
.Calquiz:before { content: "z"; font-family: monospace; }
.Caltrack:before { content: "t"; font-family: monospace; }
.Calsurv:before { content: "s"; font-family: monospace; }
.Calnl:before { content: "n"; font-family: monospace; }
.Caleph:before { content: "e"; font-family: monospace; }
.Calchart:before { content: "c"; font-family: monospace; }

.calweb {
font-weight: bold;
text-decoration: none;
padding: 0 3px;
color: #336699;
}
.calweb:hover {
color: #996633;
}
.calprio1 { color: #ffffff; background-color: #212121; }
.calprio2 { color: #ffffff; background-color: #21262a; }
.calprio3 { color: #ffffff; background-color: #212a31; }
.calprio4 { color: #ffffff; background-color: #213136; }
.calprio5 { color: #ffffff; background-color: white; width:100%}
.calprio6 { color: #ffffff; background-color: #213a51; font-weight: bold; }
.calprio7 { color: #ffffff; background-color: #21415a; font-weight: bold; }
.calprio8 { color: #ffffff; background-color: #214a61; font-weight: bold; }
.calprio9 { color: #ffffff; background-color: #215672; font-weight: bold; }

#opaque {
background-color: #000000;
border-bottom: 1px solid #b1b299;
border-left: 1px solid #b1b299;
border-top: 1px solid #f1f1c9;
border-right: 1px solid #f1f1c9;
}
div.tabrow {
	margin-left: 29px;
	border: 1px solid #787878;
	border-bottom: 0;
	font-size: 11px;
}
td.middle {
	vertical-align: middle; 
}
.daterow {
  padding : 0 5px;
  border : 1px outset #ddd;
  background-color : #ddd;
}
.daterow:hover {
  background-color : #fff;
  cursor : pointer;
}
.daterow:active {
  border : 1px inset #ddd;
}
.mininotes {
	font-size: 80%;
	color:#666666;
}
.opaque
{
	background-color: #000000;
	width: auto;
	border: 1px solid #003388;
	padding: 1px; 
}
.opaque .box-title,
.opaque, .box-data 
{
	width: auto;
}
.calcontent {
	min-height: 60px;
}
.viewmodeon {
	padding-left:   0px;
	padding-right:   0px;
}
.viewmodeoff {
	padding-left:   0px;
	padding-right:   0px;
}
a.viewmodeon img {
	margin: 0;
padding: 0;
}
a.viewmodeoff img {
	margin: 0;
padding: 0;
}
#caltable {
	width: 100%;
}

/*
 * help zone
 */
div#edithelpzone { display: none;  }
div#attzone      { display: none; margin-top: 10px; }
div#attzoneopen      { display: block; margin-top: 10px; }

.highlight { background-color: #FFAAAA; color: #000000; }

/*
 * Caption in tables.
 * Currently in Attachments and comments only.
 */
caption
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight : bold;
  text-align: right;
}

/* trees */
div.tree
{
  text-align: left;
  padding-left: 1.5em;
}
/* Root of tree (outer div) */
div.tree#top
{
/*  border: 1px outset #00E000;*/
  padding: 10px 1.5em 20px 1.5em;
}

/* Wiki editpage textarea */
textarea.wikiedit
{
	width: 100%;
}
/* help links style */
a.tikihelp, a.tikihelp:visited {
color: inherit;
border: inherit;
background-color: inherit;
font-size: inherit;
font-weight: inherit;
margin: inherit;
padding: inherit;
text-decoration: inherit;
vertical-align: text-top;
}
a.tikihelp:hover {
color: #224466;
border: inherit;
background-color: inherit;
font-size: inherit;
font-weight: inherit;
margin: inherit;
padding: inherit;
cursor: help;
text-decoration: inherit;
vertical-align: text-top;
}
.catblock {
padding : 0;
margin : 0;
width : inherit;
font-size : .9em;
}
.catlists {
  background-color: none;
  color: #666666;
}
.catlists:last-child {
margin-bottom : 10px;
}
.catlists:hover {
  background-color: #131313;
}
.cattitle {
  color: #2255aa;
  font-weight: bold;
}
.catlists a.link {
  color: #dede98;
  padding: 0px 4px 0px 4px;
  border: 1px solid #666666;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
}
.catlists a.link:hover {
  background-color: #000000;
  border: 1px solid #ffffff;
}
/* TikiIntegrator: By default copy rules dialog not shown */
div#rules-copy-panel {
    display: none;
}

/*
** JsCalendar wrapper
*/
#datrigger {
  border: 2px outset #666666;
  padding: 1px 3px 1px 5px;
  margin: 2px;
  cursor: pointer;
  font-weight:bold;
}

table.commentinfo { width: 100%; background-color: #FFF7E6; }
div#loadstats {
  background-color: #dedede;
  font-size: 70%;
  color: #666666;
  padding: 5px;
}

/* phplayers style */
.box-data table {
  width: 100%;
}
.mdkverbar  {
  margin: 0px;
}

.mdksubmenu {
  z-index: 999;
  position: absolute;
  left: 0;  
  top: 0;
  background-color: #FFFFFF;
  visibility: hidden;
}
.mdksubmenu table {
  width: auto;
} 
  
.mdksubframe  {
  z-index: 1000; 
  position: relative;
  display: block;
  border: 1px solid #000000;
} 

.mdkitem  {
  border-top: 1px solid #dedede;
  position: relative;
  text-align: left;
  white-space: nowrap;
} 
  
.mdkitem a  {
  padding: 2px 5px 2px 5px;
  position: relative;
  display: block;
}

.mdkitem a:visited  {
}

.mdkitem a:hover  {
  padding: 2px 5px 1px 5px;
}

.mdkitem a:active {
  color: #993300;
} 
  
.mdkitem .mdkfwdarr {
  position: absolute;
  top: 5px;
  right: 12px;
}

.toc {
}
.toc li {
  margin-top: 3px;
}
.tocnav {
  background-color: #ededed;
  margin-bottom: 16px;
} 
.tocnav table {
  width: 100%;
  background-color: #ffffff;
}
.tocnav a {
  font-size: 90%;
  color: #424242; 
}
/* for jscalendar */
.calendar {
  z-index: 200;
} 


/* TikiIntegrator: By default copy rules dialog not shown */
div#rules-copy-panel {
    display: none;
}

/* ASSORTED  */

#clear {
	clear:both;
	}
	

TABLE.admin {
  width: 100%;
}

/* tiki tabs */

.tabmark {
	display: inline;
	font-size: 85%;
	background-color: #333333;
	border: 1px solid #003388;
	margin: 0px;
	padding: 1px 0px 1px 0px;
	border-radius : 5px 5px 0 0;
	-moz-border-radius : 5px 5px 0 0;  
	-khtml-border-radius : 5px 5px 0 0;
}
.tabmark a { 
	border-radius : 5px 5px 0 0;
	-moz-border-radius : 5px 5px 0 0; 
	-khtml-border-radius : 5px 5px 0 0;
	border-bottom : 0; 
	color: #dede98;
	font-weight: 700 !important;
	padding: 1px 5px 1px 5px;
}
.tabmark a:active {
	background-color: white;
	color: red;
}
.tabmark a:hover {
	color: #ffffff;
	background-color: #131333;
}
.tabcontent {
	z-index : 200;
	position: relative;
	border: 1px solid #003388;
	padding: 6px 2px 2px 2px;
	margin-bottom: 25px;
	background-color: #333333;
	border-radius: 0px 4px 4px 4px;
	-moz-border-radius: 0px 4px 4px 4px;
	-khtml-border-radius: 0px 4px 4px 4px;
}


/* trackers specific style */

.statuson {
  padding: 1px;
  margin: 1px;
  border: 1px inset #666666;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  vertical-align: middle;
  background-color: #bbaa99;
}
.statusoff {
  padding: 1px;
  margin: 2px;
  vertical-align: middle;
}

/**** coloration for c o d e plugin *****/
.codelisting  { 
font-family : monospace;
padding : 2ex;
background-color : #222222;
margin : 1ex 0;
border : 1px solid #666666; 
}
.codecaption {
font-size : smaller;
padding : .2ex 2ex;
background-color : #424242;
position : relative;
bottom : -1ex;
display : inline;
border : 1px solid #666666; 
border-bottom : 0;
}


/* Version Plugin Style */

.versions {
border-top : 1px dashed #999999;
border-bottom : 1px dashed #999999;
min-height : 142px;
}
.versionav {
display : inline;
float : right;
border-left : 1px dashed #999999;
}
.versionav .button2 {
display : block;
border : 0;
border-bottom : 1px dashed #999999;
background-color : none;
}
.versionav .button2 .linkbut {
border : 0;
background-color : inherit;
padding : 0 10px;
}
.versionav .highlight {
background-color : #424242;
font-weight : bold;
}
.versiontitle {
font-weight : bold;
border-bottom : 1px dashed #999999;
border-left : 1px dashed #999999;
padding : 2px 30px;
float : right;
}
/* wiki diff styles */
.diff div {border-top: 1px solid black}
.diffheader{background-color:#222222; font-weight: bold;}
.diffadded {background-color:#ccffcc;}
.diffdeleted {background-color:#ffcccc;}
.diffinldel {background-color:#ffcccc; text-decoration: line-through;}
.diffbody{background-color:#121212;}
.diffchar {color: red;}

/**** coloration for QUOTE plugin *****/
.quoteheader {
margin: 10px 5px 0px 5px;
padding: 4px;
border-width: 1px 1px 0px 1px;
border-style: solid;
border-color: #A9B8C2;
color: black;
font-weight: bold;
background-color: #A9B8C2;
font-size: 8pt;
}
.quotebody {
margin: 0px 5px 10px 5px;
padding: 5px;
border-color: #A9B8C2;
border-width: 0px 1px 1px 1px;
border-style: solid;
color: black;
background-color: #edeeef;
}

/* tiki-admin menu */
div.admbox {
  border: 2px solid #003388; height: 100px; width: 100px;
  text-align: center; float: left; margin: 5px;
}
div.admbox:hover { background-color: #E9ECEF; color: black; }
div.admbox img { margin-top: 20px; }

/* cssmenu */
.cssmenu ul a, .cssmenu h2 {
	border : 1px solid #555;
	border-bottom : 0;
}
.cssmenu a, .cssmenu h2 {
	background-color : #000;
}
.tellafriend {text-align:right;}

.highlight_word_0{color:black;background-color: #ffff66;}
.highlight_word_1{color:black;background-color: #ff9999;}
.highlight_word_2{color:black;background-color: #A0FFFF;}
.highlight_word_3{color:black;background-color: #ff66ff;}
.highlight_word_4{color:black;background-color: #99ff99;}

/* Lists in modules */
.box-data ol,
.box-data ul {margin-left: -1em;padding-right: 1em}
/* IE */
* html .box-data ol {margin-left: 3em;}
* html .box-data ul {margin-left: 2em;}
/* IE7 */
*:first-child+html .box-data ol,
*:first-child+html .box-data ul {margin-left: 3em;}
/* end of css file */
