body {
	margin: 0;
	padding: 0;
	font-size: 11px;
	font-family: Lucida Grande, Verdana, Arial, Trebuchet, Sans-serif;
	background: #669;
}
h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 28px;
	font-weight: 900;
	color: #ccc;
}
h2 {
	margin: 0 0 5px;
	padding: 0;
}
p {
	font-family: Lucida Grande, Verdana, Arial, Trebuchet, Sans-serif;
	font-size: 11px;
	margin: 0 0 16px;
	padding: 0;
}
.Content>p {
	margin: 0;
}
.Content>p+p {
	text-indent: 30px;
}
a {
	color: #666;
	font-family: Lucida Grande, Verdana, Arial, Trebuchet, Sans-serif;
	text-decoration: none;
}
a:link {
	color: #666;
}
a:visited {
	color: #333;
}
a:hover {
	text-decoration: underline;
}
.content {
	position: relative;
	width: auto;
	min-width: 120px;
	margin: 65px 230px 50px 210px;
	border: 1px solid black;
	color: #333;
	padding: 20px;
	z-index: 3;
	font-family: Lucida Grande, Verdana, Arial, Trebuchet, Sans-serif;
	font-size: 11px;
	background: #ddd;
}
.post .postbody .content { margin: 0; }
#tiki-left {
	position: absolute;
	width: 150px;
	top: 65px;
	left: 20px;
	border: 1px dashed black;
	color: #333;
	padding: 10px;
	z-index: 2;
	voice-family: inherit;
	background: #ddd;
}
body>#tiki-left {
	width: 150px;
}
#tiki-right {
	position: absolute;
	width: 168px;
	top: 65px;
	right: 20px;
	border: 1px dashed black;
	color: #333;
	padding: 10px;
	z-index: 1;
	voice-family: inherit;
	text-shadow: 0 0 2px #FFF;
	background: #ddd;
}
body>#tiki-right {
	width: 168px;
}
div.tiki-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0;
	z-index: 100;
	voice-family: inherit;
	width: 100%;
}
div.title {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='vidiki/title_background.png');
	text-align: left;
}
div.title {
	background: transparent url("vidiki/title_background.png");
	text-align: left;
}
a.titlefont:link, a.titlefont:hover, a.titlefont:visited, a.titlefont:active {
	font-family: Arial, copperplate gothic light, Verdana, Sans-serif;
	font-size: 16pt;
	color: #000;
	text-shadow: 1px 4px 5px #999;
	text-decoration: none;
	padding: 5px;
}
a.titlelink:link, a.titlelink:active, a.titlelink:visited {
	font-size: 8pt;
	color: #fff;
	text-decoration: none;
}
a.titlelink:hover {
	text-decoration: none;
	text-shadow: 0 0 3px #fff;
}
#shadow {
	background: transparent url("vidiki/shadow.png");
	height: 20px;
	width: 100%;
	z-index: 5;
}
#page-bar {
	width: 100%;
	margin: 0;
	padding: 0;
}
#page-bar ul {
	width: 100%;
	display: inline;
	list-style: none;
}
#page-bar ul li {
	display: inline;
	list-style: none;
}
#page-bar ul li a {
	color: #333;
	float: left;
	text-decoration: none;
	height: 15px;
	padding: 0.2em 0.4em;
	background: #eee;
}
#page-bar ul li a:hover {
	color: #fff;
	background: #666;
}
#page-bar ul li a.active {
	background: red;
}
#treemenu {
	margin: 0;
	padding: 0;
}
#treemenu ul {
	list-style: none;
}
#treemenu ul li {
	list-style: none;
	list-style-type: none;
	padding-top: .2em;
	padding-bottom: .2em;
	margin-left: -35px;
}
#treemenu ul li img {
	vertical-align: middle;
}
#treemenu ul li a {
	height: 15px;
	padding: 0.2em 0.2em;
}
#treemenu ul li a:hover {
	color: #000;
}
.active {
	background: red;
}
.open {
	display: block;
}
.closed {
	display: none;
}
table.wikitable {
	font-family: Lucida Grande, Verdana, Arial, Trebuchet, Sans-serif;
	font-size: 11px
	width: 650px;
}
body.wikitext, div.wikitext {
	margin : 5px;
	background-color : #ddd;
}
.daterow {
  padding : 0 5px;
  border : 1px outset #ddd;
  background-color : #ddd;
}
.daterow:hover {
  background-color : #fff;
  cursor : pointer;
}
.daterow:active {
  border : 1px inset #ddd;
}

/* =========================================== PHP Layers ================================= */
.mdkhorbar      {
        color: black;
        background-color: #e6e7e6;
        border: 1px outset #525252;
}

.horbar {
	margin-left: 10px;
}

.horbaritem a {
	font-size: 10px;
	text-decoration: none;
	color: #FFFFFF;
}

.harbaritem a:visited {
	color: #FFFFFF;
}

.horbaritem a:hover {
	background-color: #21449c;
	color: #FFFFFF;
}

.mdkhorbaritem  {
        float: left;
        white-space: nowrap;
        font-size: 10px;
}

.mdkhorbaritem a        {
        display: block;
        text-decoration: none;
}

.mdkhorbaritem a:link   {
        color: #000000;
}

.mdkhorbaritem a:visited        {
        color: #000000;
}

.mdkhorbaritem a:hover  {
        color: #ffffff;
        background-color: #21449c;
}

.mdkhorbaritem a:active {
        color: #ff0000;
}

.mdkverbar      {
        color: black;
        background-color: #e6e7e6;
        border: 1px outset #fdfefd;
}

.mdksubmenu     {
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
         -moz-opacity:0.8;
	filter:alpha(opacity=80)
}

.mdksubframe    {
        position: relative;
        display: block;
        background-color: #394661;
        border: 2px outset #fdfefd;
}

.mdkitem        {
        position: relative;
        text-align: left;
        white-space: nowrap;
        font-size: 10px;
}

.mdkitem a      {
        position: relative;
        display: block;
        text-decoration: none;
}

.mdkitem a:link {
        color: #FFFFFF;
}

.mdkitem a:visited      {
        color: #FFFFFF;
}

.mdkitem a:hover        {
        color: #ffffff;
        background-color: #21449c;
}

.mdkitem a:active       {
        color: #ff0000;
}

.mdkitem .mdkfwdarr     {
        position: absolute;
        top: 5px;
        right: 12px;
}
input, textarea, select {
	font-size : 10px;
}
.tellafriend {text-align:right;}

.highlight_word_0{color:black;background-color: #ffff66;}
.highlight_word_1{color:black;background-color: #ff9999;}
.highlight_word_2{color:black;background-color: #A0FFFF;}
.highlight_word_3{color:black;background-color: #ff66ff;}
.highlight_word_4{color:black;background-color: #99ff99;}
/* end of css file */
