<?xml version="1.0" ?>
<config>
    <localeversion suppressWarning="false">0.8</localeversion>
    <version>4169-2013-04-17</version>
    <help url="http://54.234.21.139/help.html"/>
    <porttest host="54.234.21.139" application="video/portTest" timeout="10000"/>    
    <bwMon server="10.66.186.72" application="video/bwTest"/>
    <application uri="rtmp://54.234.21.139/bigbluebutton" host="http://54.234.21.139/bigbluebutton/api/enter" />
    <language userSelectionEnabled="true" />
    <skinning enabled="true" url="http://54.234.21.139/client/branding/css/BBBDefault.css.swf" />
    <shortcutKeys showButton="true" />
    <layout showLogButton="false" showVideoLayout="false" showResetLayout="true" defaultLayout="Default"
            showToolbar="true" showFooter="true" showHelpButton="true" showLogoutWindow="true" 
            showLayoutTools="true" showNetworkMonitor="false" />
            
		<modules>
		 
		<module name="ChatModule" url="http://54.234.21.139/client/ChatModule.swf?v=4169" 
			uri="rtmp://54.234.21.139/bigbluebutton" 
			dependsOn="UsersModule"	
			translationOn="false"
			translationEnabled="false"	
			privateEnabled="true"  
			position="top-right"
			baseTabIndex="701"
		/>
		
<!--		
		<module name="ViewersModule" url="http://54.234.21.139/client/ViewersModule.swf?v=4169" 
			uri="rtmp://54.234.21.139/bigbluebutton" 
			host="http://54.234.21.139/bigbluebutton/api/enter"
			allowKickUser="false"
			baseTabIndex="201"
		/>
			
		<module name="ListenersModule" url="http://54.234.21.139/client/ListenersModule.swf?v=4169" 
			uri="rtmp://54.234.21.139/bigbluebutton" 
			recordingHost="http://54.234.21.139"
			position="bottom-left"
			baseTabIndex="301"
		/>
-->

		<module name="UsersModule" url="http://54.234.21.139/client/UsersModule.swf?v=4169" 
			uri="rtmp://54.234.21.139/bigbluebutton" 
		/>

		
		<module name="DeskShareModule" 
			url="http://54.234.21.139/client/DeskShareModule.swf?v=4105" 
			uri="rtmp://54.234.21.139/deskShare"
			showButton="true"
			autoStart="false"
			baseTabIndex="101"
		/>
		
		<module name="PhoneModule" url="http://54.234.21.139/client/PhoneModule.swf?v=4169" 
			uri="rtmp://54.234.21.139/sip" 
			autoJoin="true"
			skipCheck="false"
			showButton="true"
			enabledEchoCancel="true"
			dependsOn="UsersModule"
		/>

		<module name="VideoconfModule" url="http://54.234.21.139/client/VideoconfModule.swf?v=4169" 
			uri="rtmp://54.234.21.139/video"
			dependson = "UsersModule"
			videoQuality = "100"
			presenterShareOnly = "false"
			controlsForPresenter = "false"
			resolutions = "320x240,640x480,1280x720"
			autoStart = "false"
			showButton = "true"
			showCloseButton = "true"
			publishWindowVisible = "true"
			viewerWindowMaxed = "false"
			viewerWindowLocation = "top"
			camKeyFrameInterval = "30"
			camModeFps = "10"
			camQualityBandwidth = "0"
			camQualityPicture = "90"
			smoothVideo="false"
			applyConvolutionFilter="false"
			convolutionFilter="-1, 0, -1, 0, 6, 0, -1, 0, -1"
			filterBias="0"
			filterDivisor="4"
			enableH264 = "true"
			h264Level = "2.1"
			h264Profile = "main"		
			displayAvatar = "false"
			focusTalking = "false"
			glowColor = "0x4A931D"
			glowBlurSize = "30.0"	
		/>
		
		<module name="WhiteboardModule" url="http://54.234.21.139/client/WhiteboardModule.swf?v=4105" 
			uri="rtmp://54.234.21.139/bigbluebutton" 
			dependsOn="PresentModule"
			baseTabIndex="601"
		/>

<!--
    <module name="PollingModule" url="http://54.234.21.139/client/PollingModule.swf?v=4169" 
      uri="rtmp://54.234.21.139/bigbluebutton" 
      dependsOn="PresentModule"
    />
-->
    		
		<module name="PresentModule" url="http://54.234.21.139/client/PresentModule.swf?v=4169" 
			uri="rtmp://54.234.21.139/bigbluebutton" 
			host="http://54.234.21.139" 
			showPresentWindow="true"
			showWindowControls="true"
			dependsOn="UsersModule"
			baseTabIndex="501"
			maxFileSize="30"
		/>

		<module name="VideodockModule" url="http://54.234.21.139/client/VideodockModule.swf?v=4169"
			uri="rtmp://54.234.21.139/bigbluebutton" 
			dependsOn="VideoconfModule, UsersModule"
			autoDock="true"
			showControls="true"
			maximizeWindow="false"
			position="bottom-right"
			width="172"
			height="179"
			layout="smart"
			oneAlwaysBigger="false"
			baseTabIndex="401"
		/>
		
		<module name="LayoutModule" url="http://54.234.21.139/client/LayoutModule.swf?v=4169"
			uri="rtmp://54.234.21.139/bigbluebutton"
			layoutConfig="http://54.234.21.139/client/conf/layout.xml"
			enableEdit="false"
		/>

<!--
    <module name="NotesModule" url="http://54.234.21.139/client/NotesModule.swf?v=4169"
      saveURL="http://54.234.21.139"
      position="top-left"
    />
    
    <module name="BroadcastModule" url="http://54.234.21.139/client/BroadcastModule.swf?v=4169"
      uri="rtmp://54.234.21.139/bigbluebutton"
      streamsUri="http://54.234.21.139/streams.xml"
      position="top-left"
      showStreams="true"
      autoPlay="false"
      dependsOn="UsersModule"
    />
-->
    		
	</modules>
</config>
