/* $Id$
	Colors for Mittwoch Darkblue theme option
*/

.adminanchors,
#header_container {
	background: url(darkblue/headertop.png) repeat-x bottom;
}

#tiki-top {
	background: url(darkblue/bg_pagenav.gif) repeat-x;
}

a, a:visited,
.option a:link,
.option a:visited,
a.linkmenu,
.module li a,
input[type=submit],
input[type=file],
select,
input.wikiaction,
button {
	color: #003BFE}

a:hover,
.option a:hover,
.option a.linkmenu:hover,
a.linkmodule:hover,
.module li a:hover,
div.option a:hover,
div.option a:active,
input[type=submit]:hover,
input[type=file]:hover,
select:hover,
input.wikiaction:hover,
button:hover {
	color: #B5D72B}

.wikitext a:link.wiki,
.wikitext a.link:visited {
	color: #003BFE !important;
	text-decoration: none !important}

.wikitext a.link:hover {
	color: #B5D72B !important;
	text-decoration: none !important}

input[type=submit],
input[type=file],
select,
input.wikiaction,
button {
	background-image: url(darkblue/button_bg.png)}

input[id="fuser"] {
	background-image: url(darkblue/button_bg.png)}

ul li,
.wikicell li {
	background: url(darkblue/arrow.gif) no-repeat 0 2px;
}

ul li:hover {
	background: url(darkblue/arrow_hover.gif) no-repeat 0 2px;
}

#header .siteloginbar_popup ul ul a,
#header .siteloginbar_popup ul ul a:visited {
	color: #003bfe;	
}

#header .siteloginbar_popup ul ul li a {
	padding-left: 18px;
	background: url(darkblue/arrow.gif) no-repeat 0 4px;
	line-height: 160%
}

#header .siteloginbar_popup ul ul li a:hover {
	color: #d1e53c;
	padding-left: 18px;
	background: url(darkblue/arrow_hover.gif) no-repeat 0 4px;
	line-height: 160%
}

#tiki-top .cssmenu_horiz li a,
#tiki-top .cssmenu_horiz li a:visited {
	background: url(darkblue/top_button.gif) no-repeat;
}

#tiki-top .cssmenu_horiz li a:hover {
	background: url(darkblue/top_button_hover.gif) no-repeat;
}

div.box-title {
	background-image: url(darkblue/h3.gif);
	background-repeat: no-repeat}

.simplebox {
	background: url(darkblue/bg.gif);
	padding: 4px;
	margin-left: 1em;
	margin-right: 1em;
	border-bottom: 1px solid #ECECEC}

div.separator {
	background: url(darkblue/menu_bg.gif) no-repeat;
}

div.separator:hover {
	background: url(darkblue/menu_bg.gif) no-repeat 0 -25px;
}

.separator a:hover,
div.option a.linkmenu:hover {
	background-position: 0 -25px;
}

}
.wikitext ul a:hover {
	list-style: url(darkblue/arrow_hover.gif);
}

ul li,
.wikicell li {
	background: url(darkblue/arrow.gif) no-repeat;
}

ul li:hover {
	background: url(darkblue/arrow_hover.gif) no-repeat 0 2px}

.titlebar {
	background: #162db7;
}

a.tableheading,
td.bloglistheading a:link {
	color: #fff}

th,
td.heading {
	background: #162db7;
	color: #fff}

th a,
th a:visited,
td.heading a,
td.heading a:visited,
a.tableheading,
a.tableheading:visited {
	color: #fff;
	text-decoration: none;
}

th a:hover,
td.heading a:hover
a.tableheading:hover {
	color: #fff;
	text-decoration: underline;
}

.tabmark {
	background: url(darkblue/top_button.gif) no-repeat; 
}

.tabmark a:hover,
.tabactive a {
	background: url(darkblue/top_button_hover.gif) no-repeat;
	color: #d1e53c;
}

.articletitle {
	background: url(darkblue/compo_head.gif) no-repeat;
}

.postbody-title h2 {
	background: url(darkblue/content_head.gif) no-repeat;
}

#footer {
	background: #162DB7 url(darkblue/footer.jpg) repeat-x top;
	color: #f0f0f0}

.tocnavlinks_separator {
	display: inline;
	color: #fff;
	background: url(darkblue/arrow.png) no-repeat center}

h2.box-title {background: url(../mittwoch/h3.gif) no-repeat}
