/* $Id$
	Colors for Mittwoch 180 Orange theme option
*/

div.adminanchors,
.header_container {
	background: url(orange/headertop.png) repeat-x bottom;
}

#tiki-top {
	background: url(orange/bg_pagenav.gif) repeat-x;
}

a, a:visited,
.option a:link,
.option a:visited,
a.linkmenu,
a.linkmodule,
.module li a,
input[type=submit],
input[type=file],
select,
input.wikiaction,
button {
	color: #FD4708}

a:hover,
.option a:hover,
.option a.linkmenu:hover,
a.linkmodule:hover,
.module li a:hover,
div.option a:hover,
div.option a:active,
input[type=submit]:hover,
input[type=file]:hover,
select:hover,
input.wikiaction:hover,
button:hover {
	color: #916BFF}

.wikitext a:link.wiki,
.wikitext a.link:visited {
	color: #FD4708 !important;
	text-decoration: none !important}

.wikitext a.link:hover {
	color: #916BFF !important;
	text-decoration: none !important}

input[type=submit],
input[type=file],
select,
input.wikiaction,
button {
	background-image: url(orange/button_bg.png)}

input[id="fuser"] {
	background-image: url(orange/button_bg.png)}

ul li,
.wikicell li {
	background: url(orange/arrow.gif) no-repeat 0 2px;
}

ul li:hover {
	background: url(orange/arrow_hover.gif) no-repeat 0 2px;
}

.header .siteloginbar_popup ul ul a,
.header .siteloginbar_popup ul ul a:visited {
	color: #fd4708;	
}

.header .siteloginbar_popup ul ul li a {
	padding-left: 18px;
	background: url(orange/arrow.gif) no-repeat 0 4px;
	line-height: 160%
}

.header .siteloginbar_popup ul ul li a:hover {
	color: #d1e53c;
	padding-left: 18px;
	background: url(orange/arrow_hover.gif) no-repeat 0 4px;
	line-height: 160%
}

.horbaritem a:link,
.horbaritem a:visited,
#tiki-top .cssmenu_horiz li a,
#tiki-top .cssmenu_horiz li a:visited {
	background: url(orange/top_button.gif) no-repeat;
}

.horbaritem a:hover,
#tiki-top .cssmenu_horiz li a:hover {
	background: url(orange/top_button_hover.gif) no-repeat;
}

div.box-title {
	background: url(orange/h3.gif) no-repeat;
}

div.separator {
	background: url(orange/menu_bg.gif) no-repeat;
}

div.separator:hover {
	background: url(orange/menu_bg.gif) no-repeat 0 -25px;
}

.separator a:hover,
div.option a.linkmenu:hover {
	background-position: 0 -25px;
}

.wikitext ul a:hover {
	list-style: url(orange/arrow_hover.gif)}

.titlebar {
	background: #cf6c35;
}

th,
table.normal td.heading {
	background: #cf6c35;
	color: #fff;
}

th a,
th a:visited,
td.heading a,
td.heading a:visited,
a.tableheading,
a.tableheading:visited {
	color: #fff;
	text-decoration: none;
}

th a:hover,
td.heading a:hover
a.tableheading:hover {
	color: #fff;
	text-decoration: underline;
}

.tabmark {
	background: url(orange/top_button.gif) no-repeat; 
}

.tabmark a:hover,
.tabactive a {
	background: url(orange/top_button_hover.gif) no-repeat;
	color: #d1e53c;
}

div.articletitle {
	background: url(orange/compo_head.gif) no-repeat;
}

div.postbody-title h2 {
	background: url(orange/content_head.gif) no-repeat;
}

#footer {
	background: #B75316 url(orange/footer.jpg) repeat-x top;
	color: #f0f0f0}

.tocnavlinks_separator {
	display: inline;
	color: #fff;
	background: url(orange/arrow.png) no-repeat center}