/* $Id$
	Colors for Mittwoch 130 Red theme option
*/

.adminanchors,
.header_container {
	background: url(red/headertop.png) repeat-x bottom;
}

#tiki-top {
	background: url(red/bg_pagenav.gif) repeat-x;
}

a, a:visited,
.option a:link,
.option a:visited,
a.linkmenu,
a.linkmodule,
.module li a,
input[type=submit],
input[type=file],
select,
input.wikiaction,
button  {
	color: #FD0892}

a:hover,
.option a:hover,
.option a.linkmenu:hover,
a.linkmodule:hover,
.module li a:hover,
div.option a:hover,
div.option a:active,
input[type=submit]:hover,
input[type=file]:hover,
select:hover,
input.wikiaction:hover,
button:hover {
	color: #37ACFF}

.wikitext a:link.wiki,
.wikitext a.link:visited {
	color: #FD0892 !important;
	text-decoration: none !important}

.wikitext a.link:hover {
	color: #37ACFF !important;
	text-decoration: none !important}

ul li,
.wikicell li {
	background: url(red/arrow.gif) no-repeat 0 2px;
}

ul li:hover {
	background: url(red/arrow_hover.gif) no-repeat 0 2px;
}

.header .siteloginbar_popup ul ul a,
.header .siteloginbar_popup ul ul a:visited {
	color: #fd0892;	
}

.header .siteloginbar_popup ul ul li a {
	padding-left: 18px;
	background: url(red/arrow.gif) no-repeat 0 4px;
	line-height: 160%
}

.header .siteloginbar_popup ul ul li a:hover {
	color: #d1e53c;
	padding-left: 18px;
	background: url(red/arrow_hover.gif) no-repeat 0 4px;
	line-height: 160%
}

#tiki-top .cssmenu_horiz li a,
#tiki-top .cssmenu_horiz li a:visited {
	background: url(red/top_button.gif) no-repeat;
}

#tiki-top .cssmenu_horiz li a:hover {
	background: url(red/top_button_hover.gif) no-repeat;
}

div.box-title {
	background: url(red/h3.gif) no-repeat;
}

div.separator {
	background: url(red/menu_bg.gif) no-repeat;
}

div.separator:hover {
	background: url(red/menu_bg.gif) no-repeat 0 -25px;
}

.separator a:hover,
div.option a.linkmenu:hover {
	background-position: 0 -25px}

.wikitext ul a:hover {
	list-style: url(red/arrow_hover.gif)}

.titlebar {
	background: #cd3478;
	color: #fff;
}

th,
.normal td.heading {
	background: #cd3478;
	color: #fff;
}

th a,
th a:visited,
td.heading a,
td.heading a:visited,
a.tableheading,
a.tableheading:visited {
	color: #fff;
	text-decoration: none;
}

th a:hover,
td.heading a:hover
a.tableheading:hover {
	color: #fff;
	text-decoration: underline;
}

.tabmark {
	background: url(red/top_button.gif) no-repeat; 
}

.tabmark a:hover,
.tabactive a {
	background: url(red/top_button_hover.gif) no-repeat;
	color: #d1e53c;
}

.articletitle {
	background: url(red/compo_head.gif) no-repeat;
}

.postbody-title h2 {
	background: url(red/content_head.gif) no-repeat;
}

#footer {
	background: #B7165E url(red/footer.jpg) repeat-x top;
	color: #f0f0f0}

.tocnavlinks_separator {
	color: #FFFFFF;
	background: url(red/arrow.png) no-repeat center}