@CHARSET "UTF-8";

body {
	background-color: #acf;
}

H1, H2, H3, H4, H5, H6 {
	color : #006;
}

a, .tab-menu li a {
	color: #06c;
}

.tabcontent {
	background-color: #bef;
}

div.heading, th, td.listartheading, td.forumheading, td.viewthread {
	color : #006;
	background-color: #cde;
	border-color: #9ac;
}

.button a, .button a:visited, button, input[type=submit], .button input, .submitbutton {
	color: #009;
	background-color: #cde;
	border-color: #9ac;
}
.button a:hover, button:hover, input[type=submit]:hover, .button input:hover, .submitbutton:hover {
	background-color: #cde;
}
